[2015-05-19 11:57] cichli commented on #1100
@expez just pushed the fix to master :).

The carriage return removal I've added happens at the bencode decoding level, rather than when printing to the REPL - since the same issue could presumably arise anywhere else we're using printed output (any of the eval-and-print commands, and also in the error buffer when we show pretty-printed stacktrace data). This also avoids people having to deal with

[2015-05-19 12:42] swannodette commented on #1088
@bbatsov no strong opinions since I'm not an active Cider user. Even after reading this whole thread and the related links I'm not sure what ClojureScript needs to do to support this.

[2015-05-19 14:02] bbatsov commented on #1088
@swannodette Well, this is not an CIDER issue, per se. The problem is that any REPL-based ClojureScript tool can't keep track of the var definition locations, as you cannot pass this location somehow to the ClojureScript REPL at the moment.

This is the most relevant part of the discussion for you. @cemerick can't find a simple way to implement the definition location tracking in piggieback, which

[2015-05-19 14:15] swannodette commented on #1088
@bbatsov there's just nothing for me to do here yet. Someone else needs to describe something actionable for ClojureScript like enumerating implementation strategies and their tradeoffs. I'm more than happy to sort through ideas once they are in a presentable form and guide someone else's work on a patch to ClojureScript.

[2015-05-19 14:16] bbatsov commented on #1088
Fair enough.

[2015-05-19 14:17] bbatsov commented on #1088
@cichli @gtrak Now we need some actionable idea for implementing what we need. :-)

[2015-05-20 08:24] abo-abo opened #1104 "cider-current-ns should be less naive"
I'm using this in the eval routine of `lispy`:

[code]

But I'm getting a problem if I eval this in a file that I'm just browsing, and hasn't been loaded yet.  It should be possible to do this, for instance I could eval just to get arguments for the built-in function.

Turns out the reason is that `cider-current-ns` just falls back to the regex-based `clojure-find-ns`, that knows nothing of the RE

[2015-05-20 09:09] bbatsov commented on #1104
The idea is that if you get something like this when evaling code in a file, you probably didn't load the file, so we just eval the ns automatically. You can see this interplay in the `*nrepl-messages*`.

There's no other way to be certain what the current ns of a file buffer is. Might look lame, but it's actually the best option we have.

[2015-05-20 09:31] abo-abo commented on #1104
This is being too smart, in my opinion. Imagine Emacs evaluating the current Elisp buffer just because you happen to have it open when you call `eval-expression`. This is the exact same situation: I eval some code just to get the argument list or the docstring of e.g. `ns`. It doesn't mean that I want to load the file.

Also I have no `*nrepl-messages*` buffer on Emacs 25 and latest CIDER.

There

[2015-05-20 16:43] vspinu commented on #1104
This used to be the case before. A local var was set that you could check if the ns was loaded or not. The ns form was even loaded automatically back then. There were reasons to rewrite the evaluation code but I think the ns caching should have stayed.

[2015-05-20 21:32] bbatsov commented on #1104
And how are you going to account for editing the current namespace with this buffer local variable?

Actually the old behaviour was nothing like this. Introducing the `load-file` eval hack marked the beginning of auto-loading the ns. We never this this in the past and buffer-local vars for ns tracking were killed almost immediately after they were introduced.

[2015-05-21 03:12] vspinu commented on #1104
It was there for short period, and it wasn't killed because it was a bad feature, but rather because the load file hack was killed and the caching was killed alongside.  Now there seems to be a good reason to put it back.

[2015-05-21 03:35] vspinu commented on #1104
BTW,  `cider-buffer-ns` is [set only](https://github.com/clojure-emacs/cider/blob/master/nrepl-client.el#L847) in non clojure buffers. You can simply add `cider-buffer-last-ns` that wold be set in all buffers. I guess it could be useful in general to know that ns was modified since the last eval.

[2015-05-21 04:40] bbatsov commented on #1104
Nope, you're not right.
The caching is still there - https://github.com/clojure-emacs/cider/blob/fc5e0336d9b631c7c92abb866694f91ab75d86d8/cider-interaction.el

[2015-05-21 08:10] vspinu commented on #1104
Hm. Right. The good stuff is still there. Then why you contradicted me in the first place with  "buffer-local vars for ns tracking were killed almost immediately after they were introduced"?

There is a small problem with the caching logic btw. On cider's quit/restart the `cidre--cached-ns-form` is not cleaned. So next time you eval in a new session, you will get `Namespace not found` error.

Now

[2015-05-21 08:17] bbatsov commented on #1104
Because they was actually buffer-local tracking in the very first versions of the project (when it was still called `nrepl.el`). I referred to this, not to the ns-caching.

It's worth registering a ticket for this.

This is one option. Another would be to make this magic less magical - e.g. prompt the user when they try to evaluation something in a non-existing ns and offer them to do it. Non-inte

[2015-05-22 09:01] jonpither commented on #1006
Ah this has killed me today. Thanks for the fix.

[2015-05-23 19:02] neverfox commented on #671
@agarman Yes, that's what did it to me too. Did you find a solution?

[2015-05-23 19:17] agarman commented on #671
@neverfox I didn't; I stopped using that middleware.

[2015-05-23 21:38] neverfox commented on #671
@agarman Same. Instead I just inject `(install-pretty-exceptions)`.

[2015-05-27 09:22] tsdh opened #1105 "cider-doc: There is no ElDoc support in this buffer"
Whenever I do `C-c C-d C-d` in a clojure buffer where cider is jacked in, I get the message `There is no ElDoc support in this buffer`.  A second later, I can see the prompt which is correct, i.e., `Doc for: <symbol-at-point>`.  When I hit return, the docs are successfully shown.

Also, eldoc is enabled in the buffer and I do get eldoc signature messages when point is on some function.

My clojure

[2015-05-27 11:10] bbatsov commented on #1105
Is `eldoc-mode` really active in those buffers? Can't think of a reason why something like this would be happening, unless `eldoc-mode` is inactive.

[2015-05-27 11:42] tsdh commented on #1105
Yes, it is.  But now I found the culprit.

`cider-read-from-minibuffer` runs the hooks in `eval-expression-minibuffer-setup-hook`.  Apparently, that hook contains `eldoc-mode`, and since no `eldoc-documentation-function` is defined in the minibuffer, the message is displayed by `eldoc-mode` which won't be activated in this case.

Having `eldoc-mode` active in the minibuffer is a pretty new and coo

[2015-05-27 14:45] bbatsov commented on #1105
Feel free to fire a PR regarding this. I glimpsed over this functionality in the changelog, but I have yet to see it in action.

[2015-05-27 14:51] AdamClements opened #1106 "Show locals table at each step in debugger"
Rather than simply showing the last form return value, use the contents of &env to display a table of all the local bindings at a given point, as discussed with @Malabarba in gitter.

[code]

This will likely include some autogenerated locals (for destructuring, macros, etc.). These aren't likely to be too distracting, but a simple heuristic of whether a name consists of an underscore `#[_]` shoul

[2015-05-27 14:54] AdamClements opened #1107 "Allow stepping back in debugger in case of overshoot"
Store a list of states in the debugger, and in the case that you press (n) a few too many times when stepping through irrelevant states and miss the state you actually wanted to examine, allow the user a step back button which simply displays the previous states again.

In this mode, the only available actions would be to step back again, or to step forward (eval, inject etc. would be disabled unt

[2015-05-27 15:08] Malabarba commented on #1106
If anyone wants to try this the clojure side is trivial. The `breakpoint` macro already holds the list of local variables in `*locals*`. So it's just a matter of sending the contents of that variable when we send the message to Emacs.

The Emacs side is then just a matter of displaying that information somewhere.

[2015-05-27 15:12] Malabarba commented on #1106
Related: https://github.com/clojure-emacs/cider/issues/1073#issuecomment-101546552

[2015-05-27 20:20] #1105 closed

[2015-05-28 15:37] arichiardi commented on #734
Cause of (this)[https://github.com/dnaumov/midje-mode/issues/34] as well.
@bbatsov Please, can you point me to ```projectile```'s way to do this so that I can see if it's worth change ```midje-mode``` ?

[2015-05-28 15:39] bbatsov commented on #734
See https://github.com/bbatsov/projectile/blob/master/projectile.el#L1617

We'll probably need to have two types of `lein` projects - `lein-test` and `lein-midje` (we have something similar for Rails).

[2015-05-28 15:44] arichiardi commented on #734
Ok great I am checking, it should be the same suffix as normal tests, but I will need to apply [this commit](https://github.com/luckykevin/midje-mode/commit/795d0c0e0650ce352cd9ac94704a0b8405d66fb9) instead.

[2015-05-29 19:12] BrunoBonacci commented on #1091
Hi,

to fix this isn't, just necessary to change the mode of the `\*cider-result\*`?

https://github.com/clojure-emacs/cider/blob/master/cider-interaction.el#L1708

[code]

thanks
Bruno

[2015-05-30 19:28] arichiardi commented on #734
No ok, I need to replace, the functionality [here](https://github.com/dnaumov/midje-mode/blob/master/clojure-jump-to-file.el). I guess I just need to add what you say @bbatsov.
What about tests and contributions? I am not very familiar about ```projectile``` and ```elisp``` but this looks a very easy fix...

[2015-05-31 09:11] expez commented on #1091
@BrunoBonacci How are you quitting emacs?  The most common manner is to call `save-buffers-kill-emacs` or `save-buffers-kill-terminal`.  The latter delegates to the former which saves all buffers associated with a file, if it has been modified.  The \*cider-result\* buffer isn't associated with a file so I can't figure out why emacs is prompting you to take action.

This wouldn't affect whether or

[2015-05-31 11:18] BrunoBonacci commented on #1091
Hi guys,

I'm not really bothered about this while quitting / leaving emacs.
I quit emacs maybe once a month, so forget about quitting emacs, it was my mistake to even mention it.

**The very very annoying part is `magit-status` which requires the buffers to be saved. I do run magit maybe 50 times per day and each time is asking me if I want to save the `*cider-result*` buffer, which is useless.**

[2015-05-31 11:39] expez commented on #1091
I can't reproduce this behavior at all.  Both magit and emacs checks if the buffer is already associated with some file before prompting for a save and the `\*cider-result\*` buffer isn't associated with a file by default.

Can you reproduce this problem if you start emacs from `emacs -q` don't load any of your own customizations?

[2015-05-31 12:27] BrunoBonacci commented on #1091
Sorry you are right, it is a problem of my customizations.
I use **emacs-live** and it seems that it was introduced between `v1.0-BETA-24` and `v1.0-BETA25` in which they bumped the cider version, so I thought it was coming from some change in cider, but is not.

Apologies guys, my bad.

[2015-05-31 12:27] #1091 closed

[2015-06-01 22:36] arohner commented on #955
This is still broken for me:

`; CIDER 0.9.0snapshot (Java 1.8.0, Clojure 1.7.0-beta3, nREPL 0.2.10)`
running cider vendor'd to c6e57f9013899304b3f36a5b8ec3e4471b9d5a2b

Now, however, the problem is permanent; previously *sometimes* disconnecting and reconnecting fixed the problem, now I haven't found a way to have two connections at the same time.

[2015-06-02 07:27] arichiardi commented on #734
Implemnted @ bbatsov/projectile#758

[2015-06-03 06:29] expez opened #1110 "cider-symbol-at-point doesn't do the the right thing"
Can we harden `cider-symbol-at-point` or can anyone think of other functionality which depend on this wonky behavior?

I was using `cider-symbol-at-point` to extract some actual symbols yesterday and I expected it to return `nil` for anything but symbols, but it doesn't.

Point at beginning of line unless noted otherwise:

[code]

[2015-06-03 07:40] bbatsov commented on #1110
This is mostly a problem with `thing-at-point`. `cider-symbol-at-point` is a very thin wrapper to solve some common issues with it. Generally, we should investigate what's wrong with `thing-at-point`.

[2015-06-03 07:44] expez commented on #1110
Do you think we can fix this without causing regressions everywhere it's used?

[2015-06-03 07:57] bbatsov commented on #1110
It's definitely fixable, I just don't have time to deal with it. There are a ton of similar issues I'm aware of, but have no time for.

[2015-06-03 10:36] andreas-roehler opened #1111 "Menu deserves some sorting"
Let's sort the menu a little bit - group `eval' commands for example.

[2015-06-03 10:41] expez commented on #1111
Pull request welcome!

[2015-06-03 10:57] bbatsov commented on #1111
I think the menu needs submenus more than sorting. It's so long already. I've been planning to reorganize it for a while, but alas - I've had little time to work on CIDER lately.

[2015-06-03 12:17] estsauver commented on #1050
I'm seeing this issue again. However, it’s bizarre, because it’s definitely connecting as I can evaluate expressions from a buffer using C-x C-e. I have another buffer which does appear labeled *nrepl-connection .boot* which receives the result of expressions of the C-c M-e command.

I’ve tried a number of different configurations of cider, currently I’m using cider-nrepl 0.9.0-SNAPSHOT, CIDER 0.9

[2015-06-03 15:16] vspinu commented on #955
Could you please open a new issue for this one. In OP you described at least 2 problems. One was fixed, the second one we could never reproduce. This new one seems different from your original problems.

[2015-06-03 18:00] expez commented on #1110
I tried taking a lot a this but I don't know how to modify the syntax table to express rules like "numbers are valid symbol constituents but not at the beginning"

[2015-06-03 22:11] arrdem opened #1113 "CIDER nREPL "connection successful" message is not meaningful"
When I `kbd M-x cider-connect RET [host] RET [port]`, even if there isn't actually an nREPL instance on that host and port I get a "connection successful" message followed by a "nREPL server died" message which together doesn't make it obvious that there was simply never a good connection in the first place.

Just a UX note, the command works fine.

[2015-06-04 07:24] bbatsov commented on #1113
Yep, we should fix this.

[2015-06-04 23:12] arrdem opened #1114 "Feature request: host nREPL discovery"
Please add a portscanner to find all nREPL instances on a host. That'd be pretty neat.

[2015-06-05 05:59] expez commented on #1114
This should probably be a middleware in nrepl itself.  Other clients would be interested in this information too I imagine.

Thoughts, @cemerick?

[2015-06-05 07:26] sbocq commented on #228
The issue is also present in CIDER.

I ran ELP on `CIDER 0.9.0snapshot (package: 20150315.528)` and here is what it reports when parsing large XML files with `data.zip.xml`:

Function Name |	Call Count | 	Elapsed Time | 	Average Time
-------------|-------------|-----------------|--------------
cider-repl--show-maximum-output|3|49.264890923|16.421630307
cider-repl-emit-result|1|33.385848477|33.3858

[2015-06-05 08:26] bbatsov commented on #228
Yep, this is still an issue. Unfortunately I never could find the time to dig deep into it. Help welcome!

[2015-06-05 08:43] bbatsov commented on #1114
@expez Your suggestion sounds pretty strange to me. Why would one nREPL server be aware of other servers? That doesn't make any sense.

@arrdem We already do some grepping through the output of `ps` to offer port auto-completion. Maybe it makes sense to add some simple UI that lists all the nREPL servers on a host. Doing a portscanner seems like an overkill, but I'd accept a PR if anyone provides

[2015-06-05 09:00] expez commented on #1114
The feature request was for discovery of instances on the same host.  Is it so weird to able to query an nREPL server for a list of its siblings?

[2015-06-05 09:01] bbatsov commented on #1114
Yep. :-)

[2015-06-05 09:06] expez commented on #1114
Well, if we don't put it in some central place then every client will have to write their own code to offer port completion.  If we're really grepping the output of `ps` then our solution also has the disadvantage of not working on windows.

[2015-06-05 09:51] bbatsov commented on #1114
I'm not saying this can't be done better. I'm saying it's pretty uncommon for standalone services to keep track of each other. The current implementation is [here](https://github.com/clojure-emacs/cider/blob/master/cider.el#L265). Windows support is something that I don't really care for - I'm always welcoming patches, but I don't work actively to improve it.

[2015-06-05 13:29] cemerick commented on #1114
Using `jps` would be an easy first step towards making the current impl simpler and probably cross-platform. Beyond that, JMX would be to way to go; [nREPL could register a JMX bean that advertises all open nREPL ports for a given process](http://dev.clojure.org/jira/browse/NREPL-44), which would be easily accessible to a Clojure script cider could ship, etc.

[2015-06-05 19:21] arrdem opened #1115 "CIDER locks up when printing large strings"
I have of late sacrificed many Emacsen to print lockup. Either due to nREPL network transport times or Emacs' known performance issues with long lines it's possible for a CIDER repl to freeze Emacs entirely such that it's not even possible to `(kbd C-c C-c)` or `(kbd C-c C-b)` to abort the print in progress. Killing Emacs is (obviously) a huge cramp on my workflow and it'd be awesome if this didn'

[2015-06-05 23:19] bbatsov commented on #1115
Might be related to #228. A reliable repro case and some quality time with the debugger/profiler should solve this.

[2015-06-06 18:20] rogerallen opened #1117 "latest version 20150604.1532 provides no repl"
The melpa-stable install of cider has issues, so I'm trying to get the latest, greatest melpa working.  But, it doesn't work for me.

I'm on Mac OS 10.9.5, Emacs 24.5.1 and just installed cider 20150604.1532  from melpa.

I have [cider/cider-nrepl  "0.9.0-SNAPSHOT" :exclusions [org.clojure/clojure]] in my .lein/profiles.clj

Creating a "lein new test123", navigating to test123/src/test123/core.clj

[2015-06-07 08:11] bbatsov commented on #1117
Do you see anything cider-related in the `*Messages*` buffer? You can also post here the contents of your `*nrepl-messages*` buffer.

[2015-06-07 08:14] #1111 closed

[2015-06-07 10:18] #1067 closed

[2015-06-07 10:35] bbatsov commented on #1117
You can find more info on how to debug this here https://github.com/clojure-emacs/cider/blob/master/README.md#troubleshooting

[2015-06-07 10:44] #1088 closed

[2015-06-07 10:45] bbatsov commented on #1069
This is basically done, except for the "related vars" list, which is arguably a different task.

[2015-06-07 10:45] #1069 closed

[2015-06-07 15:12] bbatsov commented on #1113
Btw, when trying to connect to the port of some other service I get:

[code]

While still problematic, I was wondering what did you do exactly when you ran into the problem you reported.

[2015-06-07 15:37] bbatsov commented on #1104
Hmm, after finally looking into this I saw that `nrepl-sync-request:eval` doesn't do anything special. The extra ns magic happens only in `cider-interactive-eval`. The plot thickens...

[2015-06-07 15:45] rogerallen commented on #1117
*Messages* doesn't have any errors--things look as if they should be working.

[code]

There is no *nrepl-messages* buffer.  There is a *nrepl-server test123* that has this

[code]

I did check that cider-version is "0.9.0-snapshot" and that matches cider-nrepl

[2015-06-07 16:15] rogerallen commented on #1117
Must have been some cruft in my .emacs.d directory.  (I didn't delete older versions)  Creating a new .emacs.d folder and reinstalling all my packages, I now get a nrepl.  Whew.

I'm still left with a confusing situation, though.  Bringing up the nrepl says:

[code]

I saw that it downloaded nREPL 0.2.10, so I don't know why it isn't finding it by default:

But, I guess that's a lein issue, not a

[2015-06-07 16:16] bbatsov commented on #1104
So, the problem is in `nrepl-send-sync-request`. It simply does no checks for something like `namespace-not-found` in the response. I'm not sure what to do about this. We can either throw an `error` or return `nil`. Not sure when this behaviour changed and what it used to be exactly.

[2015-06-07 16:22] bbatsov commented on #1117
See https://github.com/clojure-emacs/cider/issues/961

[2015-06-07 16:34] rogerallen commented on #1117
Thanks for the pointer & support.  I'm back in business.

[2015-06-07 16:34] #1117 closed

[2015-06-07 16:56] #1077 closed

[2015-06-08 07:14] Malabarba commented on #1104
FWIW, I miss this feature all time as well (I say "miss it", as compared to elisp). This is not in the context of `sync-eval`, but just with regular `C-x C-e`. When I'm browsing a file in another project, I get immediate namespace errors when trying to evaluate some simple expressions. I understand there are conceptual problems here (the expression could evaluate differently depending on which nam

[2015-06-08 07:26] abo-abo commented on #1104
Artur Malabarba <notifications@github.com> writes:

I still have this code in lispy, which used to work but doesn't now:

(let* ((res (nrepl-sync-request:eval
             str
             (cider-current-ns)
             (nrepl-current-session)))
       (status (nrepl-dict-get res "status"))
       (res (if (member "namespace-not-found" status)
                (nrepl-sync-request:eval str)

[2015-06-08 07:26] bbatsov commented on #1104
@Malabarba I'm assuming you're on 0.9-snapshot and there missing namespaces/out of sync namespaces are evaluated automatically. Isn't this working for you.

[2015-06-08 07:29] bbatsov commented on #1104
@Malabarba @abo-abo As I said, the problem with the low level sync command has nothing to do with automated ns tracking. The problem there is that the error is silently discarded. Somebody has to go through the history to see what happened, but I'm guessing the change was accidental. Probably if there's some `error` in the status we should just raise an Emacs `error`.

[2015-06-08 07:42] bbatsov commented on #1104
@abo-abo Ah, now I get it - the eval status is missing completely in the response. Originally I had misunderstood you and thought that problem was something else.

[2015-06-08 07:47] abo-abo commented on #1104
Bozhidar Batsov <notifications@github.com> writes:

Yes, that's what I meant to say. Here's what I've just found:

ea449959e06d27d7520c10882db15abf17832da4 is the first bad commit

The change was 2 months ago.

[2015-06-08 07:49] Malabarba commented on #1104
No, because the file I'm visiting is on another project, so I just get a "Namespace not found." message. Whereas simply copying the expression and evaluating it in any other buffer would have worked.

[2015-06-08 07:54] jwr commented on #1077
Much appreciated, thanks!

[2015-06-08 12:26] danskarda opened #1120 "Support for reader conditionals (CLJC)"
Hi,
I would like to ask what is recent status of support for Clojure 1.7 reader conditionals?

Result of my recent tests:
- CLJ - does not work out-of the box and I have not found a way how to do it
- CLJS - does work OOTB both in REPL and files

As I understand it, for Clojure it an option to reader (which is different to data-readers).

- Who has the responsibility and opportunity to turn it on

[2015-06-08 13:54] cemerick commented on #1120
I've been using reader conditionals in .cljc files for a few weeks now with good results. What have you found to not work?

It's true that expressions entered via the REPL do not allow reader conditionals at the moment. That only just landed in `1.7.0-beta2`; for some time, the idea was that conditionals wouldn't be available at the REPL at all. Anyway, I'll be changing nREPL to match the Clojure

[2015-06-08 14:43] danskarda commented on #1120
Hi Chas,
thank you for fast reply. My configuration:

- Clojure 1.7.0-RC1
- ClojureScript 0.0.3308
- tools.nrepl 0.2.10

Reader conditionals DOES work when I require a namespace from .cljc file. It does NOT work when I edit cljc file and do eval (cider-eval-last-expression). It does not work in repl either.

How do you expect to edit CLJC files without support for interactive eval? If it is not en

[2015-06-08 17:08] cemerick commented on #1120
`cider-eval-last-expression` *should* work once nREPL is updated. That won't be an option, it'll be have as per Clojure and ClojureScript out of the box. All that's needed is the equivalent of https://github.com/clojure/clojure/commit/e251e14e2459663dbc1492aca025c7171a2e4ff0 anywhere nREPL uses `read` or its derivatives.

[2015-06-08 17:16] cemerick commented on #1120
Here's an issue for you to track: http://dev.clojure.org/jira/browse/NREPL-78

[2015-06-08 22:51] danskarda commented on #1120
Chas, once again, thank you for fast response. I was not following Clojure patches, so I missed that it is enabled by default in Clojure REPL.

I guess I can close this issue on cider now.

[2015-06-08 22:51] #1120 closed

[2015-06-09 10:40] bbatsov commented on #1104
OK, let's get back to original issue. What's should we do about it? I don't think that there's something wrong with `cider-current-ns`. Perhaps what's needed is some function that would allow you to determine if a namespace exists or not. And there's still the problem of making sure the ns is in sync with its ns form (and I'm not even going to mention that you can have multiple ns forms in one sou

[2015-06-09 11:20] abo-abo commented on #1104
I think there's something wrong. It's not a big deal, but it could be better.

I propose to check the regex that `(clojure-find-ns)` gives against `(map ns-name (all-ns))`. If it fails, use `*ns*` instead.  That way, if the user is mucking around with `cider-eval-last-sexp` and wants to eval a `def` even when `(clojure-find-ns)` namespace isn't defined yet, I say let him. The `def` will just go in

[2015-06-09 12:32] Malabarba commented on #1104
The clojure side already does that, and replies with a `"namespace-not-found"` status. On the Emacs side `nrepl-make-response-handler` even has a clause for that, but it doesn't do anything besides messaging the user. We could just improve that clause to try to do a new `“eval“` but this time using a namespace that we know is safe.

[2015-06-09 12:46] cemerick commented on #1120
No worries, it was (somewhat) recent news to me when it landed, too. :-)

[2015-06-10 06:31] sooheon commented on #961
Not sure if this is fixed because it was fixed for everyone else, but for my case at least, this dependency conflict with figwheel seems to be the problem:
https://github.com/bhauman/lein-figwheel/issues/149

[2015-06-10 08:05] manuel-uberti commented on #961
Thank you @sooheon, that worked for me too.

[2015-06-11 11:30] bbatsov commented on #996
@expez I see you've been doing this for `clj-refactor`. Maybe you'd like to do so for `cider` as well? :-)

[2015-06-11 11:33] bbatsov commented on #1104
@Malabarba `cider-interactive-eval` already does this. You don't want to insert this kind of "magic" in a low-level function.

[2015-06-11 12:12] expez commented on #996
I basically worked on the [clj-refactor wiki](https://github.com/clojure-emacs/clj-refactor.el/wiki) for two full days to get that done.  I discovered bugs and things to tweak, which I fixed, while recording the gifs, so it turned out to be quite the rabbit hole :p

[2015-06-11 12:26] Malabarba commented on #996
@expez Well, now that you're all the way down the hole, might as well do one more thing before coming back up. :-)
(just kidding, of course)

[2015-06-11 12:28] Malabarba commented on #1104
@bbatsov I'll try again when I get home, but last I tried `cider-eval-last-sexp` (which uses `cider-interactive-eval`) didn't do that. It just messaged me to say the namespace didn't exist.

[2015-06-11 16:09] expez commented on #1076
@johnbendi This looks like a bug in emacs itself.  Would you mind doing `M-x report-emacs-bug`?

[2015-06-12 10:15] #1106 closed

[2015-06-12 10:59] Malabarba commented on #1054
The best way I can think of doing this is to have the instrumented wrap the body of `defn`s (and similar) in a form/macro. This form would set a dynamic variable identifying a session. Something like this:

    (binding [*debug-session* (randomUUID)]
      ~@body)

or maybe this

    (binding [*debug-session* (atom {:uuid (randomUUID)})]
      ~@body)

This way, if one instrumented function calls

[2015-06-12 16:01] arohner opened #1122 "Can't connect to multiple nrepls"
Running cider git checkout of HEAD, 3487955dd600d361ddae54671e3686c38f4aaebd

I'm trying to create multiple nrepl connections, to multiple processes, and can't. A typical workflow for me is to have a CLJ nrepl running, and a second to figwheel, for CLJS.

Steps:

M-x cider-connect "localhost" 6005
M-x cider-connect "localhost" 7888 (figwheel nrepl)

The first connection works just fine. The second

[2015-06-12 16:01] arohner commented on #955
I opened a second issue here: https://github.com/clojure-emacs/cider/issues/1122

[2015-06-12 16:01] #955 closed

[2015-06-12 16:21] turbopape opened #1123 "cider-repl--position-in-history not working"
When I try going to previous repl entries using C-(arrow-up) or typing the command I get the following error:
cider-repl--position-in-history: Symbol's function definition is void: forward
I am running newest cider version from Melpa, on emacs 25.0.50.2

[2015-06-12 20:57] dagda1 opened #1124 "0.9.0-SNAPSHOT stops outputing prn statements to cider-repl"
My projects.clj looks like this;
[code]

I find that after a short period of time, my ```prn``` statements stop getting logged to the cider-repl and I have to kill the process and restart via ```cider-jack-in```.

I am compiling the buffer via ```C-c C-k``` and clearing the buffer with ```C-c M-o```.

Am I missing middelware or is there a way of stopping this?

[2015-06-12 22:29] holtzermann17 opened #1126 "show count-up in repl"
What I have in mind is that you can refer to previous output using `*N` where `N` is the Nth-previous output.  For example:

[code]

It would be useful to have visual hinting when typing in a new command

[code]

Ideally this could be toggled on and off easily via a command like `M-x cider-toggle-repl-countup`.

[2015-06-12 22:36] holtzermann17 commented on #1126
Although, according to [the docs](http://clojure.org/repl_and_main), this only goes up to N=3, so perhaps the CIDER extension would not be as useful as I was thinking.

[2015-06-12 22:36] #1126 closed

[2015-06-13 02:59] johnbendi commented on #1076
@expez with great pain as usual I have been able to fix this in my situation by reverting to `line-move-1` and have lived happily ever after. So I doubt if this is really a bug. Cider's repl buffer need to be rock solid because of all the strange characters we dump against it and `line-move` simply fails to do the job in all situations. My emacs suddenly feels lighter on my fingers with `line-move

[2015-06-13 03:41] johnbendi opened #1127 "Set relevant-repl-connection for a buffer"
Would it be possible to set the relevant-repl-connection for a specific buffer or specific type of buffer so that that when you do `cider-load-buffer` or even `cider-repl-set-ns` it uses that connection or it's buffer?

[2015-06-13 18:22] Malabarba opened #1129 "(wrong-type-argument stringp nil)"
Whenever I evaluate something that throws a `ClassNotFoundException`, Emacs signals the following error. However, I haven't noticed any adverse effects (the `*cider-error*` still pops up and looks fine).

    Debugger entered--Lisp error: (wrong-type-argument stringp nil)
      file-name-nondirectory(nil)
      (let ((fname (file-name-nondirectory file-name))) (string-match-p "^form-init" fname))

[2015-06-13 18:23] Malabarba commented on #1129
#1128

[2015-06-13 18:27] expez commented on #1129
How did the code get evaluated? I've tried reproducing this with `C-c C-c`, `C-c C-k`, `C-c C-l` and by just evaluating `(Foo.)` in the repl.

[2015-06-13 18:39] Malabarba commented on #1129
I wrote `java.lang.Stringa` and hit `C-x C-e` in a source file buffer.

[2015-06-13 18:43] Malabarba commented on #1129
Ok, it doesn't happen on a clean project. So it probably has to do with clojure-on-android.

[2015-06-13 20:29] maruks opened #1130 "M-. always prompts for symbol name"
M-.  always prompts for symbol name
C-u M-.     works as expected, jumps to symbol's definition

(cider-version)
"CIDER 0.9.0snapshot (package: 20150612.315)"

[2015-06-13 21:08] expez commented on #1130
This was changed a few months back, but it's working as intended.  If you never want to see the prompt, and just jump to whatever is below point, you can set `cider-prompt-for-symbol` to `nil`.

[2015-06-13 21:14] expez commented on #1123
Could you `M-x toggle-debug-on-error` and provide a stacktrace?  This code hasn't been touched for quite some time and it's working fine for me.  You sure this isn't just a bad interaction with your config?

[2015-06-14 12:43] bbatsov commented on #1124
We need exact steps to reproduce this.

On Friday, June 12, 2015, Paul <notifications@github.com> wrote:

[2015-06-14 22:21] Malabarba commented on #1104
@bbatsov Sorry it took me a while. On the latest cider, if I try to evaluate something simple (like `(inc 1)`) by hitting `C-x C-e` on it, and if the buffer I'm in is on a different project from the connection, I get a “Namespace not found.” message and no result is printed.

[2015-06-14 22:32] Malabarba commented on #1104
And just to be clear, I'm not saying this is a bug, I'm just proposing a feature request.

[2015-06-15 05:54] expez commented on #1129
Should we close this, or is there something we can do about this in cider?

[2015-06-15 08:05] abo-abo commented on #1104
That's how `lispy` works now. Press <kbd>e</kbd> to eval in the current namespace -> get a "Namespace not found" -> eval in `*ns*` and display the result.

Could be more efficient, I guess. But maybe that's just me being a C++ guy: throwing errors in C++ is expensive. But then, having to communicate with the process the second time is (probably) even more expensive. Although, when attached to a si

[2015-06-15 10:28] turbopape commented on #1123
I did not change my config from a while.

here is the stacktrace:
Debugger entered--Lisp error: (void-function forward)
  forward(-1)
  cider-repl--position-in-history(-1 backward "")
  cider-repl--history-replace(backward nil)
  cider-repl-backward-input()
  funcall-interactively(cider-repl-backward-input)
  #<subr call-interactively>(cider-repl-backward-input nil nil)
  ad-Advice-call-interactiv

[2015-06-15 10:37] expez commented on #1123
`ad-Advice-call-interactively(# cider-repl-backward-input nil nil)`

This line in the stacktrace indicates that you've advised this function.  This is likely the cause of your problems.

[2015-06-15 10:50] #1130 closed

[2015-06-15 10:55] turbopape commented on #1123
And how do I find who is responsible for this addition? I don't remember setting it myself...

[2015-06-15 11:09] expez commented on #1123
If you do `C-h f cider-repl-backward-input <RET>` it should tell you the name of the advice.  At that point you can grep through your `.emacs.d` to find the source location.

[2015-06-15 11:30] turbopape commented on #1123
When describing the function I only get its deginition from the cider-repl.el file:
"cider-repl-backward-input is an interactive compiled Lisp function in
‘cider-repl.el’.

It is bound to <C-up>.

(cider-repl-backward-input)

Cycle backwards through input history."
Seems I messed around something with my emacsen when using the snapshot versions...

[2015-06-15 11:35] expez commented on #1123
You can probably find where the advice is being added by grepping for `advice` in your `.emacs.d`.

I'm gonna close this because it appears this is related to your emacs config.  Please re-open this issue if you can follow [these steps](https://github.com/clojure-emacs/cider#issues) and still reproduce the problem.

[2015-06-15 11:35] #1123 closed

[2015-06-15 12:25] turbopape commented on #1123
Seems that helm, for an unknown reason, is advising my functions. I will investigate. Thank you.

[2015-06-15 12:37] bbatsov commented on #1122
Hmm, that's pretty odd. @expez @benedekfazekas @cichli Can you reproduce this problem?

[2015-06-15 18:31] bbatsov commented on #1122
@arohner I can't reproduce this. I'd suggest going through the "Troubleshooting" section of the README and debugging interactively the REPL init to see what goes wrong for you.

[2015-06-15 19:19] gmichokostas opened #1133 "Cider nrepl history"
I can't browse nrepl's history, every time i press C-up/down I see this message

```"Symbol's function definition is void: forward"```

my init.el

[code]

[2015-06-15 19:29] turbopape commented on #1133
I have this same problem. When I followed @expez directions I discovered
that helm was advising the functions, but did not figure out how to disable
this.

2015-06-15 19:20 GMT+00:00 George Michokostas <notifications@github.com>:

[2015-06-15 20:26] arohner commented on #1122
I've enabled toggle-debug-on-error. No popups.  Nothing suspicious in *Messages*. Attempting to type in the 'broken' repl results in the following in *nrepl-messages*:

[code]

[2015-06-16 06:03] expez commented on #1133
@gmichokostas can you see if this problem is reproducable without your config?  You can bring up an instance of emacs, with only cider installed, by cloning this repo and running `make run-cider`.

The [issues(https://github.com/clojure-emacs/cider#issues) section of the readme was recently updated in order to get more actionable bug reports.

[2015-06-16 06:30] gmichokostas commented on #1133
@expez unfortunately when I am trying to do that, I am getting this error:

cask install
cask install: error: [Errno 2] No such file or directory
make: *** [elpa] Error 1

[2015-06-16 06:37] expez commented on #1133
@gmichokostas Is that because you're not already a Cask user?  I think the instructions in the readme might be missing a step.

Does it work as it should if you first install cask by running `curl -fsSL https://raw.githubusercontent.com/cask/cask/master/go | python`?

[2015-06-16 06:47] gmichokostas commented on #1133
@expez I have installed cask from ```brew install cask``` but the error persists.  :(

[2015-06-16 09:14] expez opened #1134 "Debugger doesn't work on functions with post conditions"
[code]

[code]

[2015-06-16 12:01] #1134 closed

[2015-06-16 13:26] gmichokostas commented on #1133
Problem has been solved after upgrading to the latest version of cider. Thanks @expez.

[2015-06-16 13:26] #1133 closed

[2015-06-16 15:22] turbopape commented on #1133
That worked for me too after the upgrade, thank you!

2015-06-16 13:26 GMT+00:00 George Michokostas <notifications@github.com>:

[2015-06-16 18:59] andnils commented on #1050
Got the same problem when upgrading to cider-0.9.0, but solved it by re-installing clojure-mode and cider.

[2015-06-16 19:01] arrdem commented on #1050
This would not be the first issue we've seen with weird bugs due to stale precompiled package files.

[2015-06-16 19:01] cesarolea commented on #1050
Thanks! that solved it for me.

[2015-06-16 19:19] Malabarba commented on #1129
I won't be sad if we close this, but I'd like to marge that patch.
IMO, cider.el should minimize the assumptions it makes about the repl side. There are a lot of moving parts on that side, and just like I run it on a clojure-android system, so do other people run it on modified versions of clojure for one reason or another.

While it's not worth dumping a huge effort on this unusual use-cases, it

[2015-06-16 19:33] bbatsov commented on #1129
Still, we shouldn't suppress problems like this unless we know the root cause and that it's harmless. Right now we might end up hiding a problem somewhere else.

[2015-06-16 19:34] bbatsov commented on #1129
At the very least there should have been some mention that this is Android related. Maybe we should pinged @alexander-yakushev for input as well.

[2015-06-16 19:48] alexander-yakushev commented on #1129
Yes, I've experienced that too but haven't had time to investigate.

Yes, the problem is trivial, on Android you don't have sources bundled with the application by default. For the same reason, jump-to-definition doesn't work unless you jump to a thing that was loaded/reloaded in the REPL session.

@Malabarba 's patch is a fine solution I guess.

[2015-06-16 20:51] bbatsov commented on #1129
OK, thanks for your input.

[2015-06-16 20:51] #1129 closed

[2015-06-16 20:54] bbatsov commented on #1127
Right now the connection is global. You can't have different connections for different buffers.

[2015-06-16 22:46] Malabarba commented on #1050
If people are consistently solving this but just reinstalling packages on the emacs side, then it's very likely to be a macro with changed functionality.
It's a sad limitation of package.el, but it's avoidable. I'll try to see if I can find the culprit.

[2015-06-17 06:25] bbatsov commented on #1050
That'd be great. Too many people get bitten by issues like this.

[2015-06-17 06:45] martintrojer opened #1138 "clojure.test.mode, having doubles in a (is ..) statement hangs the REPL"
`; CIDER 0.9.0 (Java 1.8.0_45, Clojure 1.6.0, nREPL 0.2.10)`

[code]
Then
`C-c ,`

From `*nrepl-server*` buffer

[code]

[2015-06-17 09:52] bbatsov commented on #1122
Seems it's trying to evaluate code in some unknown session, but without being able to reproduce it we'll have hard time fixing it.

[2015-06-17 10:56] Malabarba commented on #1050
Sadly, my search was fruitless. There are only 2 macros in cider which are used by files other than their own, `cider-propertize-region` and `nrepl-dbind-response`, and neither of them changed since `v0.8.0`.

The stale macros issue might have come from a dependency. If that's the case, it would be insane to track it down without more information. On the bright side, at least this version of the i

[2015-06-17 11:29] bbatsov commented on #1050
Good to know. Thanks for doing the research!

On 17 June 2015 at 13:56, Artur Malabarba <notifications@github.com> wrote:

--
Best Regards,
Bozhidar Batsov

http://www.batsov.com

[2015-06-17 12:59] expez commented on #715
ping @jeffvalk :)

[2015-06-17 21:18] tokomakoma123 opened #1139 "Namespace not found error in cider 0.9.0"
I am facing a "Namespace not found" error when I evaluate (ns namespace)
after updating cider 0.9.0 from 0.9.0-SNAPSHOT this morning.

It occurred even if in a new project by 'lein new dummy'.

[code]

[code]

project.clj is very simple like this:

[code]

my ~/.lein/projects.cls as follows:

[code]
I have eliminated  :repl-options from it, the result was the same.

[code]

It seems everything is

[2015-06-17 22:05] tdavis opened #1140 "Cider thinks refactor-nrepl middleware is missing"
Apologies if this turns out to be the wrong project to list this on...

I'm trying to get Cider to work with refactor-nrepl. I added both to my ``~/.lein/profiles.clj``:

[code]
Unfortunately, Cider still says "Please, install (or update) refactor-nrepl and restart CIDER." when connecting to a repl. Within the repl itself I can ``require`` everything from refactor-nrepl, so it certainly seems to b

[2015-06-18 05:52] expez commented on #1140
Could you please try do delete `clojure-mode`, `CIDER` and `clj-refactor` from the `elpa` directory below your `.emacs.d` and just re-installing?

[2015-06-18 05:56] expez commented on #1139
Did you call `cider-jack-in` on this project, or were you connected to a repl started in another project?

[2015-06-18 06:20] bbatsov commented on #1139
Btw, you should also remove `nrepl-inspect`, compliment and ritz from your deps. I'm not sure why you've added alembic, but you can probably remove it as well.

[2015-06-18 07:33] tokomakoma123 commented on #1139
I called cider-jack-in on this 'dummy' project.
I tested with the following ~/.lein/projects.clj, but the result was the same.

[code]

[2015-06-18 07:36] bbatsov commented on #1139
@tokomakoma123 Have a look at the troubleshooting section of the readme. The `*nrepl-messages*` contents might help us make some progress here.

[2015-06-18 07:51] tokomakoma123 commented on #1139
I've set (setq nrepl-log-messages t) in my init.el and obtained info here.
Is this helpful ?

[code]

[2015-06-18 08:03] bbatsov commented on #1139
I see the problem. It's trying to evaluate the ns in the ns of the current file instead of `user`. You can sidestep this by using `C-c C-k` and we should check what goes wrong.

This is accounted for here https://github.com/clojure-emacs/cider/blob/master/cider-interaction.el#L1588

What command are you using to eval the ns?

[2015-06-18 10:01] mishadoff opened #1141 "cider-debug"
It's a bit confusing and i think worth to mention in docs for cider-debug section.
Consider the amount of people asking about this http://endlessparentheses.com/cider-debug-a-visual-interactive-debugger-for-clojure.html

[2015-06-18 10:08] bbatsov commented on #1141
Guess so. Our assumption was people would be familiar with edebug (Emacs's debugger), which behaves the same way. Clearly we were mistaken. :-)

[2015-06-18 13:42] tdavis commented on #1140
Just tried it, still get the same warning :disappointed:

[2015-06-18 13:48] expez commented on #1140
What's the output of `M-x cljr-version`?

[2015-06-18 14:17] tdavis commented on #1140
The version is either "cljr--assert-middleware: nrepl-refactor middleware not available! Did you remember to install it?" or "cljr--assert-middleware: CIDER isn't connected!" depending on Cider state.
[code]

[2015-06-18 14:24] expez commented on #1140
The repl you have going is a regular clojure repl and not cljs, right?

[2015-06-18 14:37] tdavis commented on #1140
Yep, just a normal repl.

[code]

[2015-06-18 14:53] expez commented on #1140
`:handler cider-nrepl-handler` what about the handler for cljr?  CIDER knows nothing about cljr ops so all those messages intended for that middleware are now unhandled.

[2015-06-18 14:57] #1141 closed

[2015-06-18 15:35] lgrapenthin commented on #1122
I think I have the same problem, however I can workaround by opening a different buffer than the first REPL before entering cider-connect.

[2015-06-18 15:55] tdavis commented on #1140
Good point! How can I have both of them?

[2015-06-18 16:08] expez commented on #1140
@seancorfield posted this on gitter yesterday:

[code]

I think he was dealing with a similar problem.

[2015-06-18 16:19] seancorfield commented on #1140
@expez Pointed out that you probably don't want the refactor middleware active when connecting to an nREPL server in a production app so an easy way to disable the warning would be nice (since it's a very annoying warning). For now, I've gone with adding the `wrap-refactor` middleware as noted above but it's ugly and not really needed for my use case.

[2015-06-18 16:28] expez commented on #1140
The warning can be disabled by putting `(setq cljr-suppress-middleware-warnings t)` in your emacs config.

Or, if you prefer to let emacs' customize facility manage your variables the value can be changed by browsing to the settings for clj-refactor: `M-x customize-group <RET> cljr <RET>`

[2015-06-18 19:32] timothypratley opened #1142 "How can I tell cider to establish a direct connection?"
OSX Yosemite 10.10.3
cider 20150617.753

Previously I could type C-c M-c
Cider would prompt me for Host:
I could type: `dockerized.foo.com`
the it would prompt me for `port` and I could connect.
Now it tries to establish an xssh connection as soon as I enter the host.
`Password for /sshx:local-trek.outpace.com: `

Here is my messages output:
[code]

[2015-06-18 20:08] timothypratley commented on #1142
I noticed that if I add an entry in /etc/hosts, I can workaround the issue.
It seems therefore that the cause is that when the host is in ~/.ssh/known_hosts
then cider wants to use SSH, but I don't want it to.

[2015-06-18 20:22] tokomakoma123 commented on #1139
The cider-eval-buffer(C-c C-k) works fine.
The cider-eval-ns-form(C-c C-n) and cider-eval-last-sexp(C-c C-e) don't
work.

2015-06-18 17:03 GMT+09:00 Bozhidar Batsov <notifications@github.com>:

[2015-06-18 23:03] arrdem commented on #1122
Bumping this because I hit it just now. With one nREPL connection to a work host, I was unable to open a second connection to the same host on CIDER 0.9

[2015-06-19 00:27] martinraison commented on #39
I'm also very interested in this

[2015-06-19 05:14] bbatsov commented on #1139
OK, got it. I see the problem and I'll fix it soon. It's here https://github.com/clojure-emacs/cider/blob/master/cider-interaction.el#L1592

Basically, the order of those checks kind of sucks. The `ns-form` check should be higher up.

[2015-06-19 05:27] bbatsov commented on #1139
Actually, the problem is different - when the prep eval was introduced the special logic to eval `ns` forms always in the `user` namespace got lost somewhere. //cc @cichli

[2015-06-19 05:31] bbatsov commented on #1139
Btw, this is also @Malabarba's problem - he said a few times he gets "Namespace not found error" in cases when the ns should have been automatically evaluated. That's a pretty serious oversight on our part. I cannot believe more people haven't noticed it. Guess most users just start by doing `C-c C-k` which masks the problem.

[2015-06-19 06:07] #1139 closed

[2015-06-19 08:09] bbatsov commented on #39
@martinraison PRs welcome. :-) I'd love to see this supported in CIDER, but it's really low on our list of priorities.

[2015-06-19 10:17] bbatsov commented on #1122
Can some of you investigate this in `edebug`. It's pretty simple and I can't do it myself as I can't reproduce it. Check out the troubleshooting section of the README for details.

[2015-06-19 14:07] lgrapenthin commented on #1122
The problem is that when a REPL is currently open, nrepl-connection-buffer is set to it. All requests are made to that repl buffer instead of the newly created buffer. A workaround is to modifiy nrepl-start-client-process so that nrepl-connection-buffer is nil before nrepl--init-client-sessions is invoked, so that the buffer is looked up in the connection ring. I'd make a PR but my knowledge of th

[2015-06-19 14:53] bbatsov commented on #1122
OK, got it. That's why I couldn't reproduce this - I never started the second connection when in a REPL buffer.

@vspinu You authored this code. Would like to fix it or should I do this?

[2015-06-19 15:33] tokomakoma123 commented on #1139
Great ! It worked.
Thanks,
Makoto

[2015-06-19 16:44] martinraison commented on #39
I doubt I can find time to do that at the moment, but if I ever get to it I'll let you know. An intermediary solution I was thinking of was to setup a nrepl server that proxies all my requests through http. Far less elegant but that could do the trick for my needs.

[2015-06-19 20:18] AshtonKem opened #1143 "End of buffer error after test failure"
Steps to reproduce
1. Find a testing namespace
2. Eval NS
3. Run all tests (success)
4. Run individual test (success)
5. Edit a test to fail.
6. Run all tests (failure correctly reported)
7. Run failing test individually (End of buffer error)
8. Run all tests (End of buffer error).

After repeating this process, the only way to return to successful tests is to restart Cider.

[2015-06-19 20:26] AshtonKem opened #1144 "cider-refresh breaks repl"
After running cider-refresh, the following things happen.

1. My repl breaks. Any attempt to evaluate anything results in "Namespace not found".
2. Any attempt to evaluate a buffer results in a compilation error due to some namespace not existing. If I go and evaluate all the "missing" namespaces, then they won't compile because they're missing something else, and so on.

[2015-06-19 20:29] expez commented on #1144
This might have been fixed on the latest master.  Are you running the bleeding edge from melpa or the 0.9.0 tag?

[2015-06-19 20:51] AshtonKem commented on #1144
I was running 3dcbf1823f5eb23f9377877519df1740c80bfa97 (11 commits ago), but checking out the latest master didn’t change anything. Here’s the trace I got when running cider-refresh.

  Show: Clojure Java REPL Tooling Duplicates All  (0 frames hidden)

3. Unhandled java.lang.Exception
   namespace 'ti.services.nerd' not found

                      core.clj: 5491  clojure.core/load-lib

[2015-06-19 22:06] phillord opened #1145 "Namespace Not Found even when evaling NS form in 0.9."
I am getting a "Namespace Not Found" error from cider, ironically, when attempting to eval a namespace form. Currently, I find that it is difficult to replicate this error in a simple test case, so I report it here in case anyone else has seen it. It does not appear to occur in a newly lein created project.

The "Namespace Not Found" error can be worked around in two ways. First, the whole buffer

[2015-06-19 22:07] csdrane opened #1146 "Cider incorrectly detects nrepl version as 0.2.6"
I am running the latest version of CIDER and cider-nrepl. Both are 0.9.1-snapshot.

Jacking in, I am told:

[code]

True to its word, symbol lookup is not working.

I tried deleting all instances of cider-nrepl in ~/.m2. That didn't work. I also tried deleting and reinstalling cider and clojure-mode, which also didn't work. What might I be doing incorrectly?

[2015-06-19 23:49] arrdem commented on #1146
Are you running figwheel or other tooling? Figwheel actually pins nREPL at 2.6 as reported earlier today in the clojurians slack which could cause this.

[2015-06-19 23:51] holtzermann17 opened #1147 "attempting to enter (quote [Ljava.lang.String;) tells me [input not complete]"
The following sequence shows (1) valid Clojure input and response; (2) an exception produced due to invalid input; (3) an "undetermined" value, since CIDER won't let me enter the data -- specifically, if I press `RET` on line [3], I see the message

[code]

Note, the behavior is similar with `lein repl` so this is not necessarily a CIDER issue or bug, it may even be a "feature" of the Clojure lang

[2015-06-19 23:56] #1147 closed

[2015-06-20 01:00] csdrane commented on #1146
Nope, cider-nrepl is the only plugin I'm running in lein.

On Fri, Jun 19, 2015, 7:49 PM Reid D McKenzie <notifications@github.com>
wrote:

[2015-06-20 05:40] bbatsov commented on #1146
That's new. :-) Might be unrelated.

See https://github.com/clojure-emacs/cider#warning-saying-you-have-to-use-nrepl-027

[2015-06-20 05:41] bbatsov commented on #1145
This is a duplicate of #1139.

[2015-06-20 05:41] #1145 closed

[2015-06-20 05:42] bbatsov commented on #1140
Can we close this?

[2015-06-20 05:43] bbatsov commented on #1144
@cichli Can you take a look a this?

[2015-06-20 05:45] bbatsov commented on #1143
I'm guessing this happens on 0.9.0, right?

[2015-06-20 05:50] bbatsov commented on #1104
@Malabarba See #1139. Your problem should be fixed now.

[2015-06-20 08:14] bbatsov commented on #1143
I can't reproduce this with a simple project created with `lein new` and the follow tests in it:

[code]

[2015-06-20 08:25] phillord commented on #1145
Ah, apologies, not sure how I missed that. Does appear to be the same problem. Thanks for fixing!

[2015-06-20 08:45] weejulius opened #1148 "[0.9.0]cider debugger: Failed to instrument"
![image](https://cloud.githubusercontent.com/assets/81416/8266634/af50e556-176b-11e5-8e61-f1223905c765.png)

[2015-06-20 08:53] Malabarba commented on #1148
Sorry, that was an oversight on my part. The debugger doesn't do function literals yet (it supports anonymous functions but not function literals).
I should have made cider not ask for a bug report in this situation.

Also, feel free to ignore that message in your usage. The code inside `#(...)` will not be instrumented, but everything else should work.

[2015-06-20 09:16] bbatsov commented on #1138
Tried to reproduce this, but it works just fine for me.

[code]

Our setups looks similar, so I wonder what might be causing this for you.

[2015-06-20 09:17] bbatsov commented on #1144
Btw, I can't reproduce this (at with my simple tests).

[2015-06-20 09:18] #1148 closed

[2015-06-20 09:50] #1140 closed

[2015-06-20 11:22] AshtonKem commented on #1143
Correct.

--
Ashton

Sent from my iPhone

[2015-06-20 11:24] bbatsov commented on #1143
Can you cook some minimal project in which the problem can be reproduced?

[2015-06-20 13:49] weejulius commented on #1143
steps to reproduce:

load from file and run tests, it works correctly.
and then load the test form again and run tests, you will see the error.

[2015-06-20 14:49] bbatsov commented on #1143
@weejulius Yep, that did it. The problem is that when you're doing interactive evaluation the location metadata for the form is not set and this causes this error. There's nothing I can do about the location metadata and I'd advise everyone affected by this to ask @cemerick to merge the patch attached to http://dev.clojure.org/jira/browse/NREPL-59

I can, however, figure out some way to show a nic

[2015-06-20 16:27] vspinu commented on #1122
Me to.

Fixed.

[2015-06-20 19:55] #1122 closed

[2015-06-21 07:04] kolov opened #1154 "Cursor jumps to the command output in the REPL"
In the REPL, after some commands that print a few lines of output (like a bigger map), the cursor jumps back to somewhere in the middle of the output. M-> brings the cursor at the end, where it should be. Hitting ENTER causes it to jump back to somewhere in the middle of the previous result. I can execute a command, like (+ 1 2) - the result is printed, cursor jumps back in the previous output. Af

[2015-06-21 07:31] bbatsov commented on #1154
I'll add here a link to your original [SO question](http://stackoverflow.com/questions/30956029/why-is-my-cursor-jumping-in-emacs-nrepl).

[2015-06-21 07:45] bbatsov commented on #1142
@vspinu Can you take a look at this?

[2015-06-21 15:11] vspinu commented on #1142
The output is incomplete. Unless you set  `nrepl-force-ssh-for-remote-hosts to `t` you should first see `nREPL: Establishing direct connection to....`.  We always try direct connection before attempting ssh.

[2015-06-21 15:20] vspinu commented on #1142
Oups. Need not be. Your problem happens even before `nrepl-connect` is invoked.

Yes. We are currently relying on tramp for a list of known ssh hosts. I think we should limit that list to hosts explicitly declared  in .ssh/config.

[2015-06-21 15:24] bbatsov commented on #1142
Or maybe we should simply have a list of an internal list of hosts maintained by CIDER. This will produce the most accurate results long-term.

[2015-06-21 16:02] vspinu commented on #1142
That would burden users with keeping two imilar configuration lists.  There is no harm in reading `.ssh/config` because all those hosts are intended for ssh consumption anyways. But this is not true for `.ssh/known_hosts`.

The problem is not that much that we are reading config files but that we are trying to be smart and detect all running instances of nrepl on the remote server. For that we nee

[2015-06-21 16:12] bbatsov commented on #1142
I have never used `.ssh/config` to add hosts to it. I'm not sure what exactly are you referring to here.
My idea is not to burden users with some list they have to update themselves - it will be something to the known projects in projectile - once you connect to a server it will simply be remembered. Perhaps auto-tunnelled connections were a mistake - the users should decide this for themselves; h

[2015-06-21 16:50] vspinu commented on #1142
You can connect through ssh either by specifying the whole command like

   `ssh my_user@ec2-54-215-40-82.us-west-1.compute.amazonaws.com`

and provide password each time you connect  or you can put

[code]

into your config and not be prompted for password each time.

People who use ssh remotes always have configuration. It's global and every program will use it. Tramp uses it. Cider's SSH tunnel

[2015-06-21 16:53] vspinu commented on #1142
@timothypratley, any particular reason of why you have an entry in `.ssh/known_hosts` but you don't want to use `ssh` for it? How common is this setup? Cannot you just add an entry to `.ssh/config` and use ssh instead?

There is a big advantage of using ssh. Cider will provide completion for ports of all running nREPLs on the remote.

[2015-06-21 17:23] bbatsov commented on #1142
I use ssh like all the time, but I simply use the same key on all hosts. Everything else seems like an overkill to me.

Maybe. The problem with the current functionality is that it's super confusing for some people. It's confusing even for me to some extent - we use the ssh config just to find out a remote nrepl port. Doesn't seem either right or expected.

Yeah, but there's no indication that a h

[2015-06-21 17:25] bbatsov commented on #1142
Security advantages and port completion aside, it boils down to people not expecting this. I think at the very least we should prompt them that we can establish an `ssh` connection, so they get an idea what is going on.

[2015-06-21 17:29] timothypratley commented on #1142
I have Vagrant hosting several Docker containers. The nrepl is in the Docker container. The entry in known_host is there because of Vagrant setup, but is not enough to reach the Docker container.
I think this is quite an unusual setup.

`cider-known-endpoints '(("te" "local-trek.outpace.com" "22347"))` still tried to SSH, which surprised me.

but the /etc/hosts entry allows me to connect.

[2015-06-21 18:32] vspinu commented on #1142
So you like to type the whole user@host-name each time you connect? Or how does it work for you more concretely?  Do you open a remote file or dired each time, and then cider-connect?

Port completion is supposed to be only the first step. As tunneling happens through ssh anyways, theoretically we end up connecting through ssh either way.  This is not true for @timothypratley's because of his rath

[2015-06-21 18:47] Malabarba commented on #1104
@bbatsov Yes it is, Thanks!

[2015-06-21 18:56] bbatsov commented on #1142
Usually I'm using my own user on the remote machines. In the other cases I either type user@host or create handy shell aliases. Anyways, I see your point. I'm just saying that you can't assume everyone is working like you. I've worked with plenty of people using my workflow.

I don't really connect to prod servers with CIDER - doing serious changes to prod seems pretty reckless to me and to inspec

[2015-06-22 03:00] m00nlight opened #1157 "Trouble update to cider 0.9.0"
During the process to update to cider 0.9.0, I update to nrepl 2.1.0 as the instruction suggest, also enable nrepl-log. But when I use `cider-jack-in` in emacs, it shows that it connect to the urepl server, but there is no prompt for the repl, and although I enable `nrepl-log-message`, I still miss the `*nrepl-message*` buffer.

The following is the output of `*Message*`

[code]

And here is my co

[2015-06-22 05:07] bbatsov commented on #1157
Delete `cider` and `clojure-mode` from your elpa folder and reinstall them.

It's `nrepl-log-messages`, not `nrepl-log-message`.

[2015-06-22 05:08] #1146 closed

[2015-06-22 05:10] #1142 closed

[2015-06-22 07:40] m00nlight commented on #1157
It works after reinstall, thanks :+1:

[2015-06-22 07:40] #1157 closed

[2015-06-22 07:41] martintrojer commented on #1138
The bug is caused by this (in my lean profiles)

https://github.com/pjstadig/humane-test-output

[2015-06-22 07:41] #1138 closed

[2015-06-22 15:00] csdrane opened #1158 "Symbol lookup broken in .clj; works in REPL"
; CIDER 0.9.1snapshot (package: 20150618.2308) (Java 1.8.0_45, Clojure 1.6.0, nREPL 0.2.10)

Run (cider-doc) in `.clj`. Enter `println` for symbol to lookup. Response:

[code]

Doing the same in the REPL works as expected.

(cider-grimoire) also fails in `.clj` and succeeds in the REPL, but without a helpful error message--just a symbol not resolved.

[2015-06-22 15:02] bbatsov commented on #1158
Have you evaluated the code in the `clj` buffer first? (using `C-c C-k`)

[2015-06-22 15:09] csdrane commented on #1158
Works as expected after `C-c C-k`. Why is this necessary for those
functions to work correctly? Should this be spelled out more clearly in the
documentation?

On Mon, Jun 22, 2015 at 11:02 AM, Bozhidar Batsov <notifications@github.com>
wrote:

[2015-06-22 15:12] bbatsov commented on #1158
Because the symbols are resolved dynamically in the namespace of the current file using the current REPL process. If the namespace doesn't exist (or the vars don't exist) we can't really resolve anything.

[2015-06-22 15:15] csdrane commented on #1158
Got it. Would you accept a patch clarifying this in the readme?

On Mon, Jun 22, 2015 at 11:12 AM, Bozhidar Batsov <notifications@github.com>
wrote:

[2015-06-22 15:27] bbatsov commented on #1158
I'm fine with having more docs. Let's hope someone will actually read it as well. :-)

[2015-06-22 22:09] arrdem opened #1159 "Debugger code reloading broken for "try""
[code]

When reloading this snippet I get an exception:

[code]

Looks like the debugger is trying to do something fancy with the try/catch block that doesn't work out. I'm running top of tree CIDER from MELPA, latest CIDER-nREPL snapshot.

[2015-06-22 22:15] arrdem commented on #1159
Operator error. Note that the catch isn't in the same block as the try. Debugger is fine I just can't write code.

[2015-06-22 22:15] #1159 closed

[2015-06-23 10:17] lgrapenthin opened #1161 "Coordinated cider / cider nrepl SNAPSHOTS"
The problem I am facing is that I occasionally need to upgrade to a commit of cider that is not in a release. Then I don't wish to upgrade to a newer commit, because it breaks something or is wip. Still, I have to use the SNAPSHOT release of cider nrepl which always upgrades automatically, which could break a working cider again.

It would be great if unreleased cider-nrepl could have unstable ver

[2015-06-23 10:30] bbatsov commented on #1161
I'm a bit confused by the description of your problem. `cider-nrepl` and `cider`'s master branch (from which the MELPA packages are built) are always in sync. The newest snapshot from clojars is downloaded automatically once a day and you can always for `lein` (or whatever) to download the latest snapshot at any time.

We'll basically have to bump this version on every commit, which is an overkill

[2015-06-23 11:19] lgrapenthin commented on #1161
It would additionally improve the quality of ciders version control, because currently one can't check out an older cider commit and expect it to work reliably in the same way it worked for its authors. Changes to the cider-nrepl SNAPSHOT it depends on may have broken it without anyone noticing.

I doesn't seem like there is a single reference on which exact commit in cider-nrepl a commit in cider

[2015-06-23 12:12] bbatsov commented on #1161
I understand your concerns, but the cases when you'd like to rollback to a previous commit should be really rare - critical regressions. Those are usually fixed right away.

And there's also the problem with MELPA - as it's building releases automatically, using tags for "unstable" versions will generate MELPA releases all the time (unless we opt to use some version scheme it can't parse). Overall

[2015-06-23 12:22] lgrapenthin commented on #1161
I was rather thinking about versions for the nrepl middleware than for cider itself. Cider snapshots would simply depend on a concrete version which wouldn't be messing with MELPA, would it?

[2015-06-23 12:25] bbatsov commented on #1161
Yeah, that'd be much easier to do.

[2015-06-23 14:10] jmglov opened #1162 "FileNotFoundException when running cider-eval-buffer"
Since upgrading to CIDER 0.9 a few days ago, I've been getting `FileNotFoundException` when trying to run `cider-eval-buffer`. I get something like this:

[code]

Here's my version string:

[code]

I'm running Emacs 24.3.1 with the following `profiles.clj`:

[code]

Is there any other info I could provide that would be helpful?

[2015-06-23 14:16] bbatsov commented on #1162
If you could provide us with a simple project when this can be reliably reproduced (or just repro steps), that'd be pretty helpful.

Btw, you should drop everything related to ritz from your `profiles.clj`. I doubt it's causing your problems, but still - you definitely don't need those.

[2015-06-23 14:20] jmglov commented on #1162
I'll see if I can make a minimal project. Of course this only happens in one specific source file, as far as I can tell, so it is going to be hard to reproduce. :(

I'll rip the ritz stuff out.

[2015-06-23 14:40] #1143 closed

[2015-06-23 14:42] bbatsov commented on #1144
@AshtonKem Any steps that reproduce this 100% of the time would be quite helpful.

[2015-06-24 06:14] nicolasGuillouet commented on #784
ok, fine but how do you customize it ? I would like the same behavior as before : running the current test file with ```C-c ,```

[2015-06-24 06:32] nicolasGuillouet commented on #784
```(setq cider-test-infer-test-ns (lambda (ns) ns))``` is the best way ?

[2015-06-24 06:48] bbatsov commented on #784
Looks good to me, although by doing this you won't be able to run the tests from ns they are related to.

[2015-06-24 07:16] nicolasGuillouet commented on #784
I agree, perhaps it should be more useful to run from the related ns. I did like this because the previous behavior ...
Thanks

[2015-06-24 15:00] AshtonKem commented on #1144
Very strange, I can't reproduce it on a new project either. I'm digging into it now to figure out what's up.

[2015-06-24 15:09] AshtonKem commented on #1144
For reasons I can't figure out, cider-refresh cannot load one particular namespace in our code base, but only once. If I manually recompile that file (C-c C-k), cider-refresh works reliably after that.

[2015-06-24 15:13] AshtonKem commented on #1144
At this time, my best guess is that this codebase is too big to work with cider-refresh (277 namespaces and 129 dependencies). The only common pattern is certain namespaces not reloading cleanly, only to manually compile and allow cider-refresh to work again until a different file is changed.

[2015-06-25 04:18] myguidingstar opened #1163 "current-connection-info should display its current namespace, too"
i'm talking about this
https://github.com/clojure-emacs/cider/blob/3d67c24f7e12eab33d433d9f9c6ac0119778cdd6/test/cider-tests.el#L165
very helpful when switching between two cider connections (C-c M-r) to the same project, where one is Clojure, the other is Clojurescript. Currently it's impossible to reason which is which

[2015-06-25 21:19] arrdem opened #1166 "[FR] Clojure repl mode history search"
I'd be awesome if `(kbd "C-c C-r")` searched backwards over saved REPL input history. Mashing `(kbd "C-up")` gets old fast especially when replaying history.

[2015-06-25 21:23] arrdem opened #1167 "[FR] Append, don't preppend to history files"
This is both a performance and usability improvement. At present it's very difficult as a user to go back through a saved history file and pull out a REPL session for sharing as an example or otherwise. Storing history in first input first order should help with this. This should also make writing history files faster, improving the experience of maintaining a persistent history of all REPLs.

[2015-06-25 21:27] arrdem opened #1168 "[FR] After evaluation hook"
It'd be _really cool_ if there was a hook for actions to be run after a repl evaluation request has been completed. An example use case would be sending a sauron notification when a long running eval completes.

[2015-06-25 21:56] phillord opened #1169 "cider-eval to kill-ring and pre-sexp comment."
As a feature request, it would be lovely to have the ability to push the results of the last eval to the kill-ring.

I write quite a lot of tutorial material where I want to do something with the eval results of Clojure code, and currently I have to insert into buffer, then kill. Even better would be an "eval-last-sexp-and-insert-as-comment-before-the-sexp" (sorry, not a good name). So:

    (+ 2

[2015-06-26 08:18] bbatsov commented on #1166
This is related to https://github.com/clojure-emacs/cider/issues/709. I've generally ignored REPL issues because I felt the comint switch was right around the corner. I'm not sure if @vspinu is making progress there, though. Guess I might end up doing this myself if I find time for it.

[2015-06-26 08:18] bbatsov commented on #1167
Another ticket related to comint https://github.com/clojure-emacs/cider/issues/709 //cc @vspinu

[2015-06-26 08:19] bbatsov commented on #1168
How'd you know the eval was long running without a before-eval hook? :-)

[2015-06-26 08:22] bbatsov commented on #1169
Your suggestions sound reasonable. Put something together, so we can discuss some actual code.

[2015-06-26 08:36] arrdem commented on #1168
Turns out advice works pretty well :P

[2015-06-26 08:37] #1168 closed

[2015-06-26 15:22] WeweTom opened #1170 "start cider debug session by a http request ?"
the new 0.9.x debug feature is cool !

 `M-x` `cider-debug-defun-at-point` ,  eval a function in a emacs buffer, then a debug session started

**but in a web dev workflow , a function is invoked by a http request**  , I enter a url in the browser and a handler then excuted , so my question is : is there a way to debug handler function in this kind of situation?

[2015-06-26 19:17] Malabarba commented on #1170
Thanks for filing this. Could you detail how that web deve workflow is setup? I'm not familiar with it.
I mean things like what cider command do you use to start/connect the repl. If you know implementation details that would help too.

[2015-06-26 19:40] Malabarba opened #1171 "Should cider sexp evaluation include meta hints and reader macros?"
When you invoke `cider-eval-last-sexp` at the end of the following snippet, only the function is sent for evaluation, not the hint.
[code]
However, to the clojure *reader*, that is a single expression. Now, I'm not saying that's a bug, and I realise this is in line with sexp navigation (which should **not** change), but perhaps it would be convenient for cider to send that entire thing for evaluat

[2015-06-26 20:45] vspinu commented on #1166
It was around the corner back in December :) Then I changed jobs and started freelancing. My world is upside down since then. I have virtually no time for open source anymore contrary to what I would have expected.

Anyways, comint rebase is still very high on my agenda, as it is nrepl refactoring, but it is unlikely to happen in the weeks to come. So please feel free to give it a stab if you have

[2015-06-26 22:17] phillord commented on #1169
Will do!

[2015-06-27 07:39] bbatsov commented on #1170
I'm guess the question can be rephrased like this - "How can you debug a function that you don't invoke directly in CIDER?" (in this case the browser would invoke the function as the result of some callback). I think there's something special that needs to be done, as long as you've connected to a process in which the function in question has been instrumented.

[2015-06-28 04:19] WeweTom commented on #1170
as @bbatsov said , I record a gif , use geben to debug php code

![debugger_optimized](https://cloud.githubusercontent.com/assets/243645/8395126/da088428-1d8f-11e5-8027-f354a85786f9.gif)

- the right side is a browser window , the left side is a emacs php buffer
- visit a php file , get a response
- `M-x geben` set up a debug server
- `M-x geben-set-break-line` add a break point
- visit the php ag

[2015-06-29 16:08] #1158 closed

[2015-06-29 16:21] bbatsov commented on #1163
The current ns is not an attribute of the connection. One can argue it's an attribute of the REPL that's doubling as a connection buffer, but usually its ns should be considered irrelevant.

@cichli @Malabarba @expez @benedekfazekas @vspinu Any thoughts on this?

[2015-06-29 16:29] bbatsov commented on #766
Guess we should start brainstorming on the actually implementation of this. Obviously having filtering is simple, but it's not clear what should the UI for this look like and what are will be the supported search queries.

[2015-06-29 16:32] bbatsov commented on #1144
I wonder if this problem exists when using `tools.namespace` directly. `cider-refresh` is only a thin wrapper on top of `tools.namespace.repl/refresh` and it's important to figure out if this is a problem in our wrapper or the underlying function.

[2015-06-29 16:49] bbatsov commented on #1011
@Malabarba Now that you're pretty familiar with CIDER I guess you can implement this yourself. :-)

[2015-06-29 16:50] bbatsov commented on #1124
@dagda1 ping :-)

[2015-06-29 16:51] bbatsov commented on #715
Anyone willing to work on this?

[2015-06-29 17:16] benedekfazekas commented on #1163
well based on the description i guess clj/cljs should displayed rather

[2015-06-29 17:34] AshtonKem commented on #1144
I'm running the latest copy of cider direct via git.

--
Ashton

Sent from my iPhone

[2015-06-29 17:56] Malabarba commented on #1163
Yes, I agree connections should be distinguishable, but showing the namespace would be rather tangential way of going about that. I think it'd be best to show something like `cljs`, or some other short string derived from how the connection is initiated (like `lein` vs `boot`).

[2015-06-29 17:59] Malabarba commented on #1011
Ironically I no longer need it. :-) But it should be simple enough now. I'll take up the torch.

[2015-06-29 18:03] Malabarba commented on #1011
Is there a way to get the `:main` entry in from `project.clj`?

[2015-06-29 18:05] bbatsov commented on #1011
You can also read the file, but I really think the better approach you be to just filter all vars for `-main` and give the user the right option to select the one they need. Using `project.clj` is lein specific and we should avoid doing tool specific things.

[2015-06-29 18:07] bbatsov commented on #1144
@AshtonKem And what about my question?

[2015-06-29 18:08] AshtonKem commented on #1144
Sorry, email fail on my part. I’ll give that a try later today.

—
Ashton

[2015-06-29 18:17] Malabarba commented on #1011
Good point!

[2015-06-29 18:28] j-mckitrick commented on #715
Hey Bug @bbatsov

We met at ClojureConj last year.  This would be my first task on Cider, but if you think it could be done with a little coaching, I'm willing to give it a shot.

[2015-06-29 18:41] bbatsov commented on #715
Sure thing!

[2015-06-29 18:58] arrdem opened #1173 "README lacks Company setup steps"
![screenshot 2015-06-29 11 57 09](https://cloud.githubusercontent.com/assets/704767/8415789/23abc6fa-1e56-11e5-95a4-976ab60609a7.png)

Autocomplete is a pretty critical feature, especially to newbies. Should probably fix this :P

[2015-06-29 19:04] j-mckitrick commented on #715
So.... after the obvious RTFM/Wiki/Developers setup stuff, where should I
start?

On Mon, Jun 29, 2015 at 2:41 PM Bozhidar Batsov <notifications@github.com>
wrote:

[2015-06-29 19:15] Malabarba commented on #1173
Are there any setup steps? I thought it worked out of the box.
Or maybe it needs a `(company-mode 1)`?

[2015-06-29 19:16] Malabarba commented on #1173
Are there any setup steps? I thought it worked out of the box.
Or maybe it needs a `(company-mode 1)`?

[2015-06-29 19:27] whysoserious opened #1175 "Error highlighting does not work"
#### Steps to reproduce

* Create any lein project eg. `lein new quil my-sketch`
* Open any `.clj` file eg. `src/my_sketch/core.clj`
* `M-x cider-jack-in`
* Make any syntax error which should be highlighted
* `M-x cider-eval-defun-at-point` - __yields no highlighting__
* `M-x cider-eval-region` - __yields no highlighting__
* `M-x cider-eval-buffer` - works as expected - I can see red underscores

[2015-06-29 19:27] dagda1 commented on #1124
hi,

I'm on holiday and writing this on my iPhone.  so I was able to fix the original problem by updating my emacs neroli problem but now I have a new and similar problem.

clearing the console stops working after I run the entire buffer by hitting C-c C-k.  it clears fine the first 2 times and then never works again.

[2015-06-29 20:00] bbatsov commented on #715
https://github.com/clojure-emacs/cider/blob/master/cider-stacktrace.el#L149

Simply put you need to implement a command that would fetch the location at point (on Return & mouse click) and take you to this file/line/column. You can see something similar here https://github.com/clojure-emacs/cider/blob/master/cider-browse-ns.el#L50

[2015-06-29 20:01] bbatsov commented on #1173
Guess there was also some confusing about the name of the package.

[2015-06-29 22:37] timothypratley commented on #1142
Thanks for the updates...
However the situation is worse for me now.
After upgrading cider and cider-nrepl, I now cannot even connect with the /etc/hosts trick...
Emacs freezes entirely, with the message "nREPL: Establishing SSH tunneled connection ..."
And I can't debug further because emacs is unresponsive.

Are there any steps I can take to get better information about this?

[2015-06-30 05:51] expez commented on #1124
@dagda1 If the original problem is fixed, could you close this and open a new issue for your new problem?  Also, please do include the steps required to reproduce the problem :)

[2015-06-30 06:16] cobalamin commented on #1173
@bbatsov Mainly this, actually. I kept looking for `company-mode` because it is mentioned as such everywhere. After that it was rather easy peasy.

But maybe other setup instruction help, like pointing out that you need to bind a key to `company-complete` to trigger it manually (as is standard workflow in many IDEs), would be good for beginners who just want to get up and running.

[2015-06-30 06:20] arrdem commented on #1173
+1 to "add a key binding"

[2015-06-30 07:47] bbatsov commented on #1171
Hmm, you're raising a great point. Ideally we should be evaluating them together, but for this to happen we'll need to alter quite a bit of things internally. Right now we're using the standard Emacs sexp-related commands and they obviously don't have any Clojure support. Probably we should implement such commands and stuff them in `clojure-mode`. Other ideas are welcome. As are patches! ;-)

[2015-06-30 12:54] #1124 closed

[2015-06-30 18:45] Malabarba opened #1177 "TAB and RET navigation on *cider-test-report* buffers"
In ert report buffers you can navigate with TAB and visit the specific test with RET. Would be nice to have something like that on cider as well.

[2015-06-30 18:48] Malabarba commented on #1177
TAB and RET work automatically if we different entries are buttons. I can provide the function to create the buttons, but I don't know the logic that goes on there. Clearly, though, the information is there somewhere, because we highlight the failing tests in the source buffer.

[2015-06-30 19:20] bbatsov commented on #1177
Yeah, we can definitely have something like this. If you take a look at `cider-test.el` you'll see that the code is pretty straight-forward. @jeffvalk did an outstanding job there.

[2015-06-30 21:00] #1011 closed

[2015-07-01 09:16] mishadoff opened #1178 "cider-debug: eval expression"
During debug is often needed to [e]valuate arbitrary expression in context.
The problem is, when expression is invalid or have unresolved symbols, whole debug fails.

I understand edebug has similar behaviour, but at the same time evaluators in other IDE like Intellij IDEA prevent incorrect expression to fail debug.
Is there a chance to get this functionality in cider-debug?

[2015-07-01 09:25] bbatsov commented on #1178
I don't recall edebug's behaviour in such cases, guess I'll have to check it out. At any rate is seems reasonable to be able to continue to debug even if you enter something invalid.  //cc @Malabarba

[2015-07-01 09:47] Malabarba commented on #1178
Oh, yes, we should do some exception handling in there.

[2015-07-01 13:45] Malabarba commented on #1178
Alright, I believe I have figured out how to do exception handling. And I can throw the exception to Emacs without aborting the eval. Will push when the other stuff is merged.

[2015-07-01 17:29] AdamClements opened #1179 "Investigate better pretty printing"
Clojure's plain printing from the REPL becomes hard to read as soon as you get a non-trivial output and the core pprint is slow and not very pretty.

A better alternative might be https://github.com/brandonbloom/fipp set to an appropriate width for the buffer. It's much faster than pprint (to the extent that you could potentially have it as the default printing method). It gives much better output

[2015-07-02 07:01] schaueho opened #1181 "No repl with 0.9.1"
I just tried to updating my Cider setup to 0.9.1, including cider-nrepl. Installed the package from melpa, ran `lein deps`, saw the new version being downloaded successfully. However, if I `cider-jack-in` to a fresh repl or `cider-connect` to an existing repl (with the new version), I don't get the REPL in Emacs. I get a connection established message in the mini buffer, \*nrepl-connection\* and \

[2015-07-02 07:17] bbatsov commented on #1181
Delete `cider` & `clojure-mode` completely and do a clean install. This will fix your problem.

[2015-07-02 07:17] #1181 closed

[2015-07-02 07:41] schaueho commented on #1181
This didn't work for me at first. Turns out clj-refactor 1.0.5 has a dependency on an old cider version. As soon as I deleted it, too, I got the repl back. Thanks!

[2015-07-02 08:20] jmglov commented on #1162
I removed the ritz stuff as you suggested and upgraded to CIDER 0.9.1, and have not seen the problem since. Before, it was happening quite frequently in a specific namespace, so I'm pretty confident that whatever was causing the issue is now fixed. Crappy bug report, I know, but I'll resolve this as one of those many mysterious transient bugs.

[2015-07-02 08:20] #1162 closed

[2015-07-02 09:00] bbatsov commented on #1162
Стават и такива работи! :-)

[2015-07-02 11:33] Malabarba commented on #1175
There are two things going on here. Let's tackle them 1 at a time:

### The `eval` op doesn't check for syntax errors until execution

If you write something like the following, and evaluate it with `cider-eval-defun`, the nrepl will simply not throw any errors.

    (defn should-error []
      (reduce))

There's not much cider can do, the `eval` op simply doesn't check for errors (I think it does

[2015-07-02 12:13] bbatsov commented on #1175
I'm pretty confused by this command. `eval` actually compiles the code and reports compilation errors just as `load-file` does. The problem is that eval doesn't attach proper locations to the stacktraces frames, because as far as it's concerned they happened in the temp (tooling) file used to eval (compile) the code in question.

Hmm, that doesn't sound quite right. I recall the messages were pret

[2015-07-02 12:48] Malabarba commented on #1175
@bbatsov

If I evaluate the defn above with any of the eval commands, I get *no* errors and no stacktrace frames. I set `(setq nrepl-log-messages t)` and I verified that the only messages I get back form the nrepl are the "done" status and the return value (which is `#'should-error`, as if everything were fine). Is that not what you get?

My understanding (from looking at the source of `interrupti

[2015-07-02 12:50] bbatsov commented on #1175
But `eval` in Clojure is actually `compile`. There's no evaluation, only compilation.

[2015-07-02 12:57] Malabarba commented on #1175
Strange. But I still don't get errors when evaluating that. I also don't get errors if I paste that in a regular `lein repl` (not sure if it's related).

[2015-07-02 13:00] bbatsov commented on #1175
The definition or its invocation? For me evaluating invalid code yields the expected results:

[code]

[2015-07-02 13:03] bbatsov commented on #1175
Hmm, you're right - with your example there are no precise code locations. Likely a Clojure bug...

[2015-07-02 13:03] Malabarba commented on #1175
No. I'm taking about the definition. Evaluating a definition that contains invalid code doesn't yield errors. But doing load-file on the file that contains that definition *does* yield an error.

Evaluating the invocation does yield an error (that's the second part of my comment).

[2015-07-02 13:04] Malabarba commented on #1175
I'm taking about both separately.

1. Evaluating a definition that contains invalid code doesn't yield errors. But doing load-file on the file that contains that definition *does* yield an error.
2. Evaluating the invocation does yield an error (that's the second part of my comment).

[2015-07-02 13:06] bbatsov commented on #1175
Hmm, that definitely sounds like some bug. //cc @cemerick

Although this error lacks column info for some reason.

[2015-07-02 13:14] Malabarba commented on #1175
Frankly, that's the least of our problems. You'll note that the file info is simply wrong. It points to this `AFn.java` file, instead of pointing to a tooling file (which is where the function was defined).

    ArityException Wrong number of args (0) passed to: core$reduce  clojure.lang.AFn.throwArity (AFn.java:437)

[2015-07-02 16:00] bbatsov commented on #1175
This probably has to be reported upstream. If this is not a bug I don't know what it is. :-)

[2015-07-02 16:19] #1178 closed

[2015-07-02 17:28] Malabarba commented on #1175
Where do you report clojure bugs? :-)

[2015-07-02 19:18] bbatsov commented on #1175
http://dev.clojure.org/jira/browse/CLJ

[2015-07-02 20:16] Malabarba commented on #1175
Actually, let me rectify. I was doing something stupid before, and there's actually no difference for me between `eval` or `load-file`. Neither of them throw errors when defining a "bad" function. Both only throw errors when the function is actually called.

[2015-07-02 20:51] bbatsov commented on #1175
Yeah, I had started writing you a reply regarding this at some point during the day, but for some reason I haven't send it.

[2015-07-02 21:54] Malabarba commented on #1175
@bbatsov I think this discussion buried the original issue a little. I've edited my original comment with what I think is right now. Would you like to delete some of extra comments?

[2015-07-03 10:15] #1173 closed

[2015-07-03 10:25] bbatsov commented on #1173
@expez Maybe you can add something about this as well - basically bind `company-begin` to something and maybe mention how to disable the auto-display of candidates.

[2015-07-04 08:02] bbatsov commented on #218
This functionality is now available in https://github.com/clojure-emacs/refactor-nrepl & clj-refactor.el and is scheduled to be merged in CIDER eventually.

[2015-07-04 08:02] #218 closed

[2015-07-04 12:28] j-mckitrick commented on #715
My first thought is to use a regex to get the line number, and go to the
location from there.  But I'm sure it's not that simple.  What else do I
need to be aware of?

On Mon, Jun 29, 2015 at 4:00 PM Bozhidar Batsov <notifications@github.com>
wrote:

[2015-07-04 13:17] #732 closed

[2015-07-04 13:24] bbatsov commented on #715
Actually, probably it's as simple as this (unless there's some metadata attached to all stack frames). Without consulting the code I can't be sure. @jeffvalk How does this sound to you?

[2015-07-04 14:50] bbatsov commented on #1179
Now that we're isolating the runtime deps, doing something like this is definitely an option. I don't think there's much value in colourful presentations, but the other things sound good to me. I'll accept a PR for this, if someone decides to work on it.

[2015-07-04 14:53] bbatsov commented on #1163
I'll take a PR adding the connection type to the info (`clj` or `cljs`). Not sure if there's much use of showing what tools was used to boot the nREPL server (although showing the entire boot command might be useful).

[2015-07-04 14:55] bbatsov commented on #390
Closing this as there's not much we can do about it.

[2015-07-04 14:55] #390 closed

[2015-07-04 22:02] jeffvalk commented on #715
@expez Sorry I didn't see your earlier ping! :)

@bbatsov Yes, this should be pretty simple indeed. In fact, there's a cleaner way than digging it out with a regex.

@j-mckitrick The code you want is [here](https://github.com/clojure-emacs/cider-nrepl/blob/1e3de74c06e154b9fb57a81f07b01deb698f988d/src/cider/nrepl/middleware/stacktrace.clj#L106). The way it works now, `analyze-cause` is called on ea

[2015-07-04 22:26] jeffvalk commented on #715
Following up on that aside -- if you want to jump to the column, not just the line (which would be quite helpful for compiler exceptions), you will need to use a regex. In this case, ignore the implementation details above. The `extract-location` function is the only thing you'll need to update.

[2015-07-05 16:39] j-mckitrick commented on #715
So now the next questions....  I checked the Wiki, and I don't see any
instructions for development setup.  I'm running the ELPA version of CIDER,
and the 0.10.0 snapshot of cider-nrepl.  It looks like I might need to make
changes in both CIDER and the backend as well.

On Sat, Jul 4, 2015 at 6:26 PM Jeff Valk <notifications@github.com> wrote:

[2015-07-05 20:31] bbatsov commented on #715
Nothing special is needed. Just start CIDER as usual and make changes to the Elisp (and/or middleware) code you've cloned separately. When you evaluate something you've changed in the Elisp or Clojure code it will simply replace whatever was loaded until then. The classic interactive Lisp workflow.

[2015-07-07 11:06] bbatsov commented on #1167
After a discussion with @arrdem I'm closing this in favour of #709.

[2015-07-07 11:06] #1167 closed

[2015-07-07 11:06] bbatsov commented on #1166
@arrdem volunteered to work on #709, so I'll close this.

[2015-07-07 11:06] #1166 closed

[2015-07-08 21:17] Malabarba opened #1189 "When loading the `ns` before evaluation, don't print return value."
Sometimes (or always?) we evaluate the ns form before running evaluating the actual code with interactive eval operations. The return value of the ns form (`nil`) is then displayed in the minibuffer.

Usually, this is immediately replaced with the return value of the actual code. However, if the code takes a while to evaluate, the user will be presented with `nil` as if it were the actual return v

[2015-07-08 21:48] bbatsov commented on #1189
Only when it has changed. At any rate we should definitely fix this.

[2015-07-09 00:50] lewang opened #1190 "Getting "No reader function for tag dbg" instrumenting function."
This is the output from the cider-repl  buffer:

    ; CIDER 0.10.0-snapshot (Java 1.8.0_05, Clojure 1.7.0, nREPL 0.2.7)
    WARNING: CIDER's version (0.10.0-snapshot) does not match cider-nrepl's version (0.9.1)
    RuntimeException No reader function for tag dbg  clojure.lang.LispReader$CtorReader.readTagged (LispReader.java:1245)
    user>

I'm trying this from a new bare project.

[2015-07-09 07:33] bbatsov commented on #1190
@lewang Upgrade your middleware. This warning is displayed for a reason. :-)

[2015-07-09 07:34] bbatsov commented on #1171
@Malabarba Now that the new commands are available would you like to integrate them in evaluation?

[2015-07-09 08:32] Malabarba commented on #1171
I thought I had already. ☺
Will do that.

[2015-07-09 11:24] #1190 closed

[2015-07-09 11:25] bbatsov commented on #1170
@Malabarba Did you check if this is working on not? If not, I guess you need just a simple `compojure` app.

[2015-07-09 11:45] Malabarba commented on #1170
@bbatsov
No, I haven't tried this yet. The debugger has kept me pretty busy so far.

I could be wrong here, but the way the debugger is designed it should always trigger when the function is executed, no matter how that happens. Although there are a couple aspects of it which might not work without an eval message, the breakpoints should still trigger.

This tells me that either *(a)* the function

[2015-07-09 11:46] Malabarba commented on #1170
@WeweTom Just to be sure, this is Clojure, right? Not ClojureScript?

[2015-07-09 12:36] lewang commented on #1190
Thanks for the pointer @bbatsov .  I had tried to specify the snapshot version of cider-repl a couple of days ago, must have made a typo  :smirk:

[2015-07-10 08:39] Malabarba commented on #1171
Yep, it's in eabfac8b5c2445b73b6dfbd4fa1163afe8b63978
I just forgot to reference this issue.

[2015-07-10 08:39] #1171 closed

[2015-07-10 08:40] Malabarba commented on #1171
Btw, if anyone wants to test this, just do `(set! *print-meta* true)` in the repl, and then run `eval-last-sexp` after something like `^:private [1 2]`.

[2015-07-10 13:43] manuel-uberti opened #1192 "Wrong type argument: stringp, cider-debug-print-level"
Hi,

I am on Emacs 25.0.50.1 (build ```53cf3cf```).
This is my CIDER version: ```; CIDER 0.10.0snapshot (package: 20150710.544) (Java 1.8.0_60-internal, Clojure 1.7.0, nREPL 0.2.10)```

When I issue ```M-x cider-jack-in``` in a .clj file this is what I get in the ```*Messages*``` buffer:

[code]

[2015-07-10 17:56] Kungi commented on #1192
I have exactly the same problem here on Emacs 24.4.50.1
Cider Version 20150710.544
I am using `cider-connect`.

[2015-07-10 18:17] bbatsov commented on #1192
Ops, this is caused by https://github.com/clojure-emacs/cider/commit/3286f0041ace37ce2336615d539132dbb61aa4c4 //cc @Malabarba

Once again we're bitten by trying to encode nil. If Artur doesn't fix this before me I'll fix this tomorrow.

[2015-07-10 18:20] Malabarba commented on #1192
Actually, this wans't a nil problem. This was because the list was quoted, so we were passing the symbols. :$

[2015-07-11 04:44] manuel-uberti commented on #1192
Thank you, it is fixed now.

[2015-07-11 04:44] #1192 closed

[2015-07-11 11:51] j-mckitrick commented on #715
So according to this
<https://github.com/clojure/clojure/blob/35563c1d64406ce9c57e93a3d1d83cbd0a21bbab/src/jvm/clojure/lang/Compiler.java#L6554>
the column of the exception is not actually included retained in the Java
object for the CompilerException.  I assume we won't be changing Clojure
itself to add the column, correct?  ;-)

On Sun, Jul 5, 2015 at 4:31 PM Bozhidar Batsov <notifications@githu

[2015-07-11 11:59] bbatsov commented on #715
You're right. :-)

[2015-07-11 12:09] j-mckitrick commented on #715
So that means we need to go with the original approach, which will use only
.source and .line, correct?

On Sat, Jul 11, 2015 at 7:59 AM Bozhidar Batsov <notifications@github.com>
wrote:

[2015-07-11 12:13] bbatsov commented on #715
Yep.

[2015-07-12 06:05] bbatsov opened #1196 "Expose an option to display interactive eval results results using an overlay"
Basically it'd be awesome if everyone could use @Malabarba's debug overlay display for regular interactive evaluation. This should be an option, alternative to the current display of results in the minibuffer.

[2015-07-12 06:07] bbatsov opened #1197 "Display some indication that we're waiting for a result for long-running evaluations"
We should display some spinning bar in the minibuffer while waiting for interactive evaluation results. Something similar might be useful for the REPL as well.

[2015-07-12 08:13] Malabarba commented on #1196
Would these be permanent overlays? Should they have a timeout?
Should there be at most ono per buffer or one per line?

[2015-07-12 09:44] bbatsov commented on #1196
No.

Yes. Configurable timeout, something like 3 seconds as the default. `nil` would make them stay until something else is evaluated in the same buffer.

One per buffer.

[2015-07-12 12:41] #1189 closed

[2015-07-12 13:19] krisajenkins opened #1198 "Lookup of a qualified `/` symbol fails."
These three statements all have the eldoc response you'd expect:

[code]

...but this one does not:
[code]

Looking a little deeper, this returns the dict you'd expect:

[code]

...but both of these return nil:

[code]

I haven't dug any further than that, but I raise it in case the solution is obvious to those more acquainted with the code.

Not the most devastating of bugs, I admit, but it's blo

[2015-07-12 17:54] bbatsov commented on #1198
I'll look into this. Btw, you should check out the new `helm-core` package. This opens the door to add the cheatsheet to cider eventually.

[2015-07-12 19:44] bbatsov commented on #1198
Seems to work just fine:

[code]

What's your cider version?

[2015-07-12 20:04] krisajenkins commented on #1198
Curious. Mine's `0.10.0-SNAPSHOT / 20150703.254`. Just updated to `20150712.709`, but it's no better:

[code]

Thanks for the tip about `helm-core` by the way - I'll take a look.

[2015-07-13 05:12] bbatsov commented on #1198
What's your Emacs & Clojure versions?

@cichli @Malabarba Can you reproduce this?

[2015-07-13 08:50] krisajenkins commented on #1198
Doh! Yup, this is down the the Clojure version. It's broken on 1.5.1, fine on 1.7. (I was going to update the cider dep first, then the clojure dep.)

Thanks, and sorry to take up your time. :-}

[2015-07-13 08:53] bbatsov commented on #1198
Hmm, still this was supposed to work on 1.5 as well. I wonder what's wrong there.

[2015-07-13 23:14] #1196 closed

[2015-07-13 23:29] Malabarba commented on #1197
I think the mode line might be more appropriate. The mode line process is specific designed for this kind of thing.
Technically that's the property of the major mode, but I don't think clojure-mode has any plans to use the mode-line process. :-)

[2015-07-14 07:23] bbatsov commented on #1197
I suggested the use of the minibuffer, because this is what `make-progress-indicator` uses. Basically my idea is to start showing something if the evaluation takes more than some preconfigured duration (e.g. 1 second) and to make it disappear when we hear back from nREPL. Not sure if we can use something standard for the modeline (obviously, rolling out our own progress indicator is on the table a

[2015-07-14 07:58] Malabarba commented on #1197
Well, there's [spinner.el](https://github.com/Malabarba/spinner.el#spinnerel). But then, I'm biased, :-) so don't take as a statement that the mode-line would be definitely better.

[2015-07-14 10:20] bbatsov commented on #1197
Your package looks cool. If you're willing to integrate it, using it, instead of the built-in is fine by me.

[2015-07-14 11:51] abo-abo commented on #1052
The debugger issue is back with the latest code. To reproduce, instrument this:

[code]

And evaluate this:

[code]

Also, I can't reopen this issue.

[2015-07-14 12:59] Malabarba commented on #1052
Ah yes, since a while ago the debugger's code no longer uses stdin for input requests, so I can see why this breaks. I'll try to think of a solution. @bbatsov Could you open this again?

[2015-07-14 13:54] bbatsov commented on #1052
Done.

[2015-07-14 14:35] #1052 closed

[2015-07-14 15:12] abo-abo opened #1203 "The continue operation sometimes breaks the debugger"
For example, instrument this:

[code]

Then evaluate this and press <kbd>c</kbd>:

    (nrepl-sync-request:eval "(map square '(3 4 5))")

After this, `square` and other functions will always behave as if they're not instrumented.

Note that it would not break for `(square 42)`, maybe because it's a single call instead of 3 as above.

[2015-07-14 16:12] Malabarba commented on #1203
That's odd. It's probably just another instance of the bindings map not reseting, but I have no idea why those two situations would be different.

Anyway, this will get fixed this week when I refactor that logic to not depend on the eval message.

[2015-07-14 17:51] conroe64 opened #1204 "cpu usage sometimes goes to 100% with zero size clojure files"
I'm not sure exactly how to trigger this, but it happens quite often. As long as my project contains a zero-length .clj file somewhere inside of it, eventually the cpu will go to 100%.

I examined what was going on with strace, and it appears that one of the processes is trying to read the zero sized clojure file and getting stuck on it:

1370  open("/tmp/language8/src/com/rareventure/ivyr5/change

[2015-07-14 18:02] Malabarba commented on #1204
Could you provide just the tail of the backtrace (the beginning)? It should help figure out the source.

Also, do you use clj-refactor?

[2015-07-15 08:18] bbatsov commented on #1198
I can confirm this is not working with 1.5, so I'll reopen this ticket.

[2015-07-16 03:21] conroe64 commented on #1204
I accidentally deleted the stack trace, and for some reason I can't get this to occur again. Sorry about that.

No, I don't use clj-refactor

[2015-07-16 03:23] #1204 closed

[2015-07-16 06:36] #1203 closed

[2015-07-17 13:57] j-mckitrick commented on #715
So it seems the source, line and column are actually embedded in the
message from the exception:

https://github.com/clojure/clojure/blob/35563c1d64406ce9c57e93a3d1d83cbd0a21bbab/src/jvm/clojure/lang/Compiler.java#L6741

On Sat, Jul 11, 2015 at 8:14 AM Bozhidar Batsov <notifications@github.com>
wrote:

[2015-07-18 11:52] Jell opened #1213 "cider-repl-set-ns appears to be broken in latest cider snapshot"
When using cider with the following versions:
[code]
After running `cider-jack-in`,
When I run `cider-repl-set-ns` (either from a clojure file or the repl and manually choosing a namespace)
the namespace is not changed in the REPL.

In the `*nrepl-messages*` buffer, I see the following exchange happening:
[code]

If I manually run `(in-ns 'awesome-o.parser)` in the REPL, the namespace is properly

[2015-07-18 12:25] bbatsov commented on #1213
Likely a side effect of some recent connection-related refactorings. We'll get to the bottom of this. //cc @Malabarba

[2015-07-18 17:22] #1213 closed

[2015-07-19 08:20] corymickelson commented on #1050
just updated emacs 24.5, cider 0.9.1, and getting this same issue, cider commands ex. C-x C-e not working either

[2015-07-19 08:28] Malabarba commented on #1050
@corymickelson Did you try uninstalling Cider, restarting emacs, then installing again?

[2015-07-19 09:15] bbatsov opened #1216 "Move project-handling code from nrepl-client to cider"
Commands like `nrepl-project-dir` have no place in `nrepl-client.el`. The nREPL client library should have zero knowledge of lein, boot & friends.

[2015-07-19 09:22] bbatsov opened #1217 "Make it possible to associate a project folder with any connection"
Right now our primitive algorithm that matches local project directories to nREPL connections is pretty limited. It works only for connections that were started using `cider-jack-in`, because it maps a project dir to a connection at boot time. It also cannot handle very well situations when several projects are mapped to the same connection. All this makes it hard to work with several connections,

[2015-07-19 11:25] fromheten opened #1218 "M-x cider-debug-defun-at-point fails, 'No reader function for tag dbg'"
## Symptoms
Running `cider-debug-defun-at-point` always throws a ReaderException.

I've tried this only on my machine, but in many different projects. I didn't have it in the version of Cider when cider-debug was introduced, but all subsequent versions of Cider.

## How I reproduce it
Write a function like this `(defn say-hi [name] (str "Hi " name " !"))`. Place the point somewhere, like at the sp

[2015-07-19 11:36] bbatsov commented on #1218
//cc @Malabarba

[2015-07-19 12:19] Malabarba commented on #1218
Wow, thanks for the thorough bug report.
I'm looking into this now. Meanwhile, I noticed you said your Emacs version is `10.10.3`, but that's your OS version, right? What do you get with `M-x emacs-version`?

[2015-07-19 12:23] Malabarba commented on #1218
Also, what do you get if you evaluate `*data-readers*` on the REPL buffer?

[2015-07-19 12:26] fromheten commented on #1218
@Malabarba Thanks :). You're absolutely right about the emacs version. I'm on 24.4.1. Updated the text to fix my error.

[code]

[2015-07-19 12:31] fromheten commented on #1218
By the way, on an unrelated note: Shouldn't the name of the function be 'cider-debug-**defn**-at-point', rather than *defun*?

[2015-07-19 12:40] Malabarba commented on #1218
It should probably be **def** at point, or, even better, “top-level sexp at point”. But then the name starts to get a little long. :)

I used defun to be consistent with CIDER's other functions, like `cider-eval-defun-at-point`. In turn, I think CIDER uses “defun” to be consistent with Emacs terminology. Emacs uses defun to specify function definitions in general (even in other languages like C).

[2015-07-19 12:41] Malabarba commented on #1218
Could you try bumping your `tools.nrepl` to `0.2.10`?
We definitely support 0.2.7, but I just want to know if that's the issue.

[2015-07-19 12:49] fromheten commented on #1218
It works! That fixed it.

* Changed version in `~/.lein/profiles.clj` to 0.2.10.
* Also bumped my cider-nrepl plugin from 0.9.0-SNAPSHOT to 0.10.0-SNAPSHOT

[code]

Is there some nifty way to always keep these up to date?

[2015-07-19 12:53] Malabarba commented on #1218
I don't think so. =/

If you were using 0.9.0, then that was surely the problem. Glad it was easy to find. :)

[2015-07-19 12:57] fromheten commented on #1218
Sorry for reporting a non-bug then! Thanks a lot for creating cider and cider-debug - both are invaluable and make my life better :). Appreciate it a lot!

[2015-07-19 13:08] #1218 closed

[2015-07-19 15:13] bbatsov commented on #1218
@Malabarba So, guess we should bump the required nREPL to 0.2.10? :-)

[2015-07-19 15:42] Malabarba commented on #1218
@bbatsov No. The issue was that his cider-nrepl was 0.9.0. It's not an issue with tools.nrepl

[2015-07-19 15:44] bbatsov commented on #1218
Ah, yes. I missed this.

On Sunday, July 19, 2015, Artur Malabarba <notifications@github.com> wrote:

--
Best Regards,
Bozhidar Batsov

http://www.batsov.com

[2015-07-19 22:17] #1198 closed

[2015-07-19 22:27] cichli commented on #1198
In Clojure 1.5:

[code]

In Clojure 1.7:

[code]

Things do seem right in 1.5 when using the 2-arity `symbol` though:

[code]

[2015-07-19 22:29] cichli commented on #1198
clojure-emacs/cider-nrepl@b2c8ccf628c2fc93d90872e552aec989e2bf2692

[2015-07-19 22:43] Malabarba commented on #1198
That's nasty. Good catch!

[2015-07-20 04:51] bbatsov commented on #1198
That's quite interesting. Thanks for fixing it!

[2015-07-21 08:34] lgrapenthin opened #1220 "Adjust to code jumping on namespaced keywords"
There is a library that represents function references in data as keywords. Would it be possible to implement code-jump on keywords? (https://github.com/onyx-platform/onyx/issues/253)

[2015-07-21 09:28] bbatsov commented on #1220
Not sure it's a good idea to try to interpret all keywords as var names. Perhaps a separate function? I'm also not sure how common such setup is in the wild. Btw, it'd be better if you added more examples to the ticket itself - makes the discussion simpler and more focused.

[2015-07-21 10:06] Malabarba commented on #1220
I didn't quite get what that library does, but I think namespaced keywords (`::something` or `:some.ns/something`) are relatively common. At least, I've run into them a few times in my very limited experience.

One thing I wonder, though, is where would you jump to? The top of the file with the corresponding namespace? The first occurrence of the keyword in that file?

[2015-07-21 16:32] lgrapenthin commented on #1220
@bbatsov Agreed, yes, jumping from keywords to identically named vars would be the desired usage. As @Malabarba observed there are possible other implementations of code jumping on keywords. A second function would probably be the best thing at the time.

[2015-07-21 17:00] Malabarba commented on #1220
That would be making an assumption that the keyword corresponds to the var, which is not necessarily true (though it sounds like a low-risk assumption). I think that's what Batsov was saying.

In any case, doing something is certainly better doing nothing when the user calls `find-var` on a keyword, it's just important to figure out what's the most appropriate "something".

[2015-07-21 17:07] expez commented on #1220
`find-var` uses thing at point as the default value, can't we just drop the leading `:` and use the rest as the default value?  If there is a matching var you can hit `RET` to jump and if some other scheme is used you can edit the seeded value.

[2015-07-21 17:13] bbatsov commented on #1220
Yep, we can certainly do this. That'd be the alternative of a separate command, which might be more user-friendly.

[2015-07-21 19:34] lgrapenthin commented on #1220
I made the observation that keywords with a fully qualified var name are quite rare. We don't have to make the assumption that every keyword we hit C-. on has to be named like a var. Alternative behavior can still be implemented for "normal" keywords, which I believe are 99.99% of all keywords.

My personal guess is that whatever future behavior will be implemented for hitting C-. on a keyword (an

[2015-07-22 10:08] expez opened #1222 "Result overlay too prominent"
I just saw the result overlay for the first time:

![](http://i.imgur.com/fK53KoG.png)

My first impulse was: "God damnit, something just altered my file! Rude!"

As you can see in the screenshot the result of the evaluation in the overlay looks exactly like it would if I had written those characters in manually, is there some way we could make this a bit more visually distinctive?

I think it wou

[2015-07-22 11:06] Malabarba commented on #1222
Yes, this is something I've been wanting to fix as well. Applying a comment face to it would be very easy (and that's how it worked initially), but then the result loses all font locking which is a loss in terms of readability.

The alternative is to only apply a background color to the overlay. That would make it more distinct from code without overriding the font-lock. The only problem with that

[2015-07-22 11:25] bbatsov commented on #1222
This can simply be a config.

[2015-07-22 12:11] Malabarba commented on #1222
Yes.
I'd still like to figure out something to get both benefits at once. If I haven't done that by release time, remind me and I'll finish this. :)

[2015-07-23 18:28] Kejia opened #1224 "exceptionally dis-connecting to repl"
repl may be dis-connected exceptionally in unicode environments. when the path of a prog namespace contains non-ascii unicode characters (e.g. a project home directory consists of chinese characters), compiling the prog may result in repl-disconnecting.

if one open such a prog by `M-.` and compile the unit by `C-c C-k`, the repl connection must be broken. however, if the same prog unit is open by

[2015-07-23 18:45] expez commented on #1222
The result overlay is really cool as it is when debugging.  There's more value in syntax highlighting in this situation too.  But I'd still like a slightly more subtle overlay for situations like the one in OP where you're just evaluating a form in a file.

[2015-07-24 14:13] bbatsov opened #1225 "Extract nrepl-client into a separate package"
Other projects would like to use it, but right now it's kind of coupled with CIDER itself. Extracting it won't be hard, but it will definitely require some efforts.

@vspinu volunteered to do this originally, but he's pretty busy right now. If someone would like to tackle it, that'd be great. I might do this myself in the end, but this won't within the next 2-3 months as I'm crazy busy myself righ

[2015-07-24 14:27] dgutov commented on #1225
Would extracting more than that be too hard? I'd be interested in being able to reuse `cider-repl`, for one thing. And the send-to-process feature, as well as the error handling/backtrace display.

[2015-07-24 14:43] Malabarba commented on #1225
@dgutov cider-repl depends on a lot of stuff (`client`, `interaction`, `doc`, `eldoc`, and `util`), so that might be trickier.
But even if the more superficial dependencies were removed (like doc, eldoc and util), `cider-interaction` already represents more than half of cider's code base (yes, really :|), so you might as well just depend on the whole cider package.

[2015-07-24 14:54] dgutov commented on #1225
Sure, but the relevant parts would need to be able to work without Clojure, at least.

[2015-07-24 16:05] Malabarba commented on #1225
Without `clojure-mode`?
You'd lose font-locking. But other than that, yes, it could work without clojure-mode.

[2015-07-24 16:08] dgutov commented on #1225
With a different language. I'm sure that requirement will stretch beyond the lack of dependency on clojure-mode.

[2015-07-24 16:18] vspinu commented on #1225
My original intend was to extract nrepl-client and REPL (nrepl-repl.el), but I am pretty sure the interactive part that concerns evaluating defuns, regions etc is pretty straightforward  to generalize as well.

[2015-07-24 16:36] bbatsov commented on #1225
Let's not get ahead of ourselves. After extracting the client code we can see if anything else is worth extracting.

[2015-07-24 22:40] jeffh opened #1226 "Feature Request: Run all tests"
While `C-c ,` runs either the test for the corresponding namespace or the last test namespace, it would be great if there was a hot-key to run all tests within cider-test (perhaps using `C-c <`). Thoughts?

That being said, cider has been great to use. Thanks a ton for all the hard work! :smile:

[2015-07-24 23:29] expez commented on #1226
`cider-rerun-tests`, bound to <kbd>C-c C-,</kbd>, does what you want, provided you've loaded your tests already.

[2015-07-25 00:39] jeffh commented on #1226
Sorry if I was unclear, I want to run all tests for all namespaces. Equivalent to `(run-all-tests)` in clojure.test or `lein test`. `cider-rerun-tests` only reruns the previous tested namespace.

[2015-07-25 11:16] phillord commented on #1225
Interesting. It seems that there are actually two requirements: there is a generic requirement for a nrepl client, and then there is a requirement for a client that can be used to interact with Clojure. For a potential use with JDEE, if this is the way it goes, we'd actually need the latter (as we want to interact with a running JVM, and Clojure is as a good a choice as any).

@vspinu obviously wo

[2015-07-25 15:18] bbatsov commented on #1226
Guess we can cook something like this, unfortunately it will also require UI changes (multiple ns support).

[2015-07-25 20:21] #1216 closed

[2015-07-26 14:23] bbatsov commented on #1144
Any progress here?

[2015-07-26 14:50] #1220 closed

[2015-07-27 21:12] yatesco opened #1227 "Reproducible error when starting system through emacs, works fine in Cursive and terminal."
Hi,

First - thanks for CIDER - it is great!

However, I have a reproducible problem whereby if I run `lein repl` through Cursive or a terminal and then (start-systems) which starts my (Stuart Sierra's) component based system then it works fine. If I start emacs, and jack-in then (start-system) fails to start claiming it can't find a dependency in the component dependency tree. If I 'lein repl' in

[2015-07-27 21:28] yatesco commented on #1227
I have just updated prelude and cider to: `CIDER 0.10.0snapshot (package: 20150727.1011) (Java 1.8.0_45, Clojure 1.7.0, nREPL 0.2.7)` but the same behaviour occurs.

[2015-07-28 03:41] bbatsov commented on #1227
You should have a look at https://github.com/clojure-emacs/cider#troubleshooting

I'm pretty surprised by the problem, though, as CIDER's REPL is backed by `lein` and the deps should be configured in exactly the same manner (at least in theory).

[2015-07-31 21:32] stig commented on #1226
:+1:

[2015-08-02 20:03] vermiculus commented on #689
Let me know if/when/how I can help :smile:

[2015-08-02 20:24] expez commented on #1224
Could you create a github repo we can clone to reproduce the issue?

[2015-08-02 22:20] Malabarba commented on #689
I think one easy way to start is to convert the readme to a proper manual.
Right now it's overflowing with information and a single markdown file is really not the best way to display so much content.

As @bbatsov says, it's really a manual disguised as a huge readme. Except it's gained a few more pounds and that disguise fits about as well as an overweight 30 year-old man fits in a sailor moon co

[2015-08-02 22:22] Malabarba commented on #689
So the only question is what system to use for the manual. Probably, the person who takes up this task deserves an opinion on the matter. :-)

[2015-08-03 04:37] vermiculus commented on #689
I'll get a version going in straight Texinfo. The Org exporter is…a bit less than advertised :smile:

Unless there are objections/suggestions, of course.

[2015-08-03 07:17] Malabarba commented on #689
I'm fine with texinfo, but we should hear @bbatsov too.

It's important that the manual be available online because I think cider gets a lot of users who are new to Emacs, and the info browser wouldn't be as useful to them as a Web page.

So if texinfo can be exported to html then that sounds fine to me. It should be trivial to host that in cider's gh-pages branch and recompile that before every r

[2015-08-03 12:29] vermiculus commented on #689
More information: http://www.gnu.org/software/texinfo/manual/texinfo/texinfo.html#Generating-HTML

[2015-08-03 13:55] bbatsov commented on #689
I'm not sure that's a good idea. AFAIK you can't generate good looking markup from texinfo and in the age of the browsers it seems we'll be doing a mistake. Probably it makes more sense to pick a more "neutral" format which can be converted to HTML and texinfo. @lunaryorn did a lot of research on the subject a while back and I think we decided to go with http://sphinx-doc.org/

I'm open to alterna

[2015-08-03 15:20] lunaryorn commented on #689
@bbatsov I'm back to Texinfo for Flycheck.  As good as Sphinx is, it's Texinfo support is definitely not as good as native Texinfo, and the Info manuals it produces frequently look broken.  And in the end, it wasn't worth the complexity, and the amount of baby-sitting it required (e.g. manually rebuilding the Texinfo file for MELPA to pick up for packaging, working around various glitches in Texin

[2015-08-03 16:06] Malabarba commented on #689
How much custom post processing is involved in that?

I was thinking we might be able make it look at least as nice as the readme by just copying whatever stylesheet github uses (with small modifications). It would be simple, but comfortable to most people.

[2015-08-03 16:38] lunaryorn commented on #689
@Malabarba Not much, take a look at the `Rakefile` of flycheck.github.io

[2015-08-03 17:27] bbatsov commented on #689
I trust @lunaryorn's judgement. Let's go with Texinfo.

[2015-08-03 17:29] vermiculus commented on #689
I'll continue work on it tonight and hopefully have a PR in by tomorrow.

[2015-08-04 17:26] base698 commented on #459
Broken for me using M-x cider-jack-in

[2015-08-04 17:51] Malabarba commented on #459
@base698 it's probably a separate issue. Could you file a new issue with some description and a backtrace. (you can turn on backtraces with `M-x toggle-debug-on-error`).

[2015-08-04 18:23] base698 opened #1234 "wrong-type-argument arrayp nil on M-x cider-jack-in"
version: CIDER 0.10.0snapshot (package: 20150804.501)

Upon inspection it's because there is no project.clj.  Seems like a better error message would be in order--especially for n00bs just wanting to execute some random code in a file with no project.

Debugger entered--Lisp error: (wrong-type-argument arrayp nil)
  file-truename(nil)
  (let ((lein-project-dir (locate-dominating-file dir-name "pro

[2015-08-04 18:32] base698 commented on #1234
I just want to say after using it for one piece of code, it's bad ass and don't know how I lived with out it when I was doing clojure a while ago.

[2015-08-04 20:11] #1234 closed

[2015-08-04 22:05] blueberry opened #1236 "Support changing/configuring the text in the REPL prompt"
When I have a long nested namespace, it takes a lot of the screen width... So, instead of something.something.something.something.something.myns> i would like it to just display the last part, myns>

I asked on slack clojurians whether this is possible now, and Bozidar says it is not, so I assume he should know. He also said it should not be complicated to support, and seems reasonable, so I have

[2015-08-04 22:07] blueberry commented on #1222
Maybe give that text a different background?

[2015-08-04 22:11] cichli commented on #1236
You can accomplish this using `cider-repl-prompt-function`:

[code]

I'll keep this open as a reminder to myself to add this to the README :-).

[2015-08-04 22:22] Malabarba commented on #1236
I think it would be nice to have some more functions available for this, for the users who don't know how to write them.
I'll open a PR with a couple options.

[2015-08-04 22:27] Malabarba commented on #1222
Yes, that's an option. The only problem is that there's no easy way in Emacs to apply a background to a text without overwriting the foreground too (which would make us lose font-locking).

So either someone goes through the trouble of doing this the hard way, or we'll have to lose font-locking on the results overlay.

[2015-08-05 05:50] bbatsov commented on #1222
I wouldn't go overboard with this - the results didn't have font-locking for years and frankly speaking most of them look fine without it. Let's just have some config for this, which defaults to some "overlay-result-face" or something like this. We can revisit the background + font-locking idea down the road. I've just learned that fancy solution have the tendency to backfire...

[2015-08-05 05:51] bbatsov commented on #1222
And they're usually a huge time-sink.

[2015-08-05 09:25] Malabarba commented on #1236
@blueberry The behaviour you wanted is now available with

    (setq cider-repl-prompt-function #'cider-repl-prompt-lastname)

But you may actually prefer this one:

    (setq cider-repl-prompt-function #'cider-repl-prompt-abbreviated)

[2015-08-05 11:19] #1236 closed

[2015-08-05 11:20] bbatsov opened #1238 "Document cider-repl-prompt-function"
`cider-repl-prompt-function` is super useful, but basically no one knows about it. Even I recently forgot about it. It needs an entry in the README.

[2015-08-05 11:45] bbatsov opened #1239 "Add a flag to show reloading info only in case of problems"
One user complained on gitter that he finds the window useless most of the time. One idea would be to add a flag to show it only when there are some issues. I'm open to other suggestions. At any rate - the default will continue to be the current behaviour.

[2015-08-05 12:27] cichli commented on #1239
If there are issues, the error buffer will popup with the stacktrace anyway. I think an option to not show the buffer (it will still be logged to), and instead display the most important messages (reloading started/successful/failed, calling/called before/after fns) in the echo area will do the trick.

[2015-08-05 12:28] bbatsov commented on #1239
Sounds good to me.

[2015-08-06 19:30] Kejia commented on #1224
@expez

[2015-08-07 10:40] piotr-yuxuan opened #1240 "Reset the REPL buffer to blank"
Hi maintainer, thanks for your work :-)

I've given a look at the list of issue and methinks the issue pointed by this [stackoverflow thread](http://stackoverflow.com/questions/28371102/how-to-clear-the-repl-in-cider-mode) has neither been reported not solved.

I feel Cider should have a key bindings for this.

[2015-08-07 10:54] expez commented on #1240
`C-c M-o` in the repl buffer is bound to `cider-repl-clear-buffer`

[2015-08-07 11:14] piotr-yuxuan commented on #1240
Yep you got it ~ it's about get a repl fresh again to get rid of old loaded stuff. For example, it means:
[code]

[2015-08-07 11:29] bbatsov commented on #1240
Got it. Perhaps a simple way to do this would be to simply create a clean nREPL session. Not sure if there are other simpler/more elegant alternatives. //cc @cemerick

[2015-08-07 11:56] cemerick commented on #1240
nREPL sessions only affect dynamic var bindings. What @piotr-yuxuan seems to be looking for is a complete environment reset. There are many tools that work in this space as described in the SO thread, e.g. tools.namespace, or SS' component library.

[2015-08-07 12:54] cichli commented on #1240
`tools.namespace` will only reload namespaces that are associated with files - did you create the `core` namespace at the REPL?

[2015-08-07 13:14] vermiculus opened #1242 "Debugging overlay does not always display on the right line"
Emacs 24.5 // Mac OS X

[code]
----
[code]

[2015-08-07 13:43] bbatsov commented on #1242
That's not a bug - it's a feature. By design the overlay is supposed to appear after the expression which was evaluated.

[2015-08-07 13:46] Malabarba commented on #1242
I'm a little confused, what's that `![C-x C-e]` on the last line?

[2015-08-07 14:28] vermiculus commented on #1242
Sorry, I didn't know a good way to present the information. `!` is the location of point when I press `C-x C-e`. And @bbatsov, I really doubt the comment is being eval'd to `3` :wink:

In the hopes that this will make things clearer, here's what it *should* be, intuitively (to me):

[code]
[code]
[code]
[code]

[2015-08-07 14:30] bbatsov commented on #1242
This has nothing to do with the overlays - it's just how Emacs's sexp-navigation commands work. They ignore comments, so I'd say although a bit strange this is the correct behaviour.

[2015-08-07 14:31] bbatsov commented on #1242
Ops, spoke too soon. Yeah, that's a bug - the overlay actually appears on the comment line.

[2015-08-07 14:32] bbatsov commented on #1242
![image](https://cloud.githubusercontent.com/assets/103882/9138034/402cf130-3d2a-11e5-99de-5111ee065415.png)

[2015-08-07 14:41] bbatsov opened #1243 "CIDER 0.10 release plan"
Below is a list of all the tickets we need to fix before CIDER 0.10 can be released:

- [x] #1242 Debugging overlay does not always display on the right line
- [x] #1222 Result overlay too prominent
- [x] #1217 Make it possible to associate a project folder with any connection
- [x] #1197 Display some indication that we're waiting for a result for long-running evaluations
- [x] #1177 TAB and RET n

[2015-08-07 15:10] Malabarba commented on #1243
Ok, I'll do the overlay things.

[2015-08-07 15:17] Malabarba commented on #1243
I'll do the overlay things.

I would like to add, it would be really nice if we could optimize startup time a little, jack-in takes a couple of minutes on my laptop. It's not worth sacrificing features for it, but I think it's worth having a quick look to see if there's not some big stupid thing causing this.

[2015-08-07 15:25] bbatsov commented on #1243
See https://github.com/clojure-emacs/cider-nrepl/issues/218

That's definitely a serious problem, but I don't think it has an easy solution. The tradeoff from using mranderson - we got dep isolation, but the startup time became epic.

[2015-08-07 15:34] vermiculus commented on #1242
Yes, sorry I couldn't give a screenshot :) I tried to replicate the situation with just text.

[2015-08-07 15:35] #1242 closed

[2015-08-07 15:37] bbatsov commented on #1243
I plan to work on #1217 for starters. I hope more people will pitch in to help with the rest of the tickets.

[2015-08-07 19:24] Malabarba commented on #1115
@arrdem About the keys you mentioned, did you try `C-g` too?

@bbatsov Emacs is notorious for being slow at font-locking long lines. I'd say the first thing to try is to not font-lock the output string if it's very long (don't know if that's been tried yet).

[2015-08-07 20:17] arrdem commented on #1115
@Malabarba I would agree that this is more than likely Emacs' various long lines issues more than CIDER on further review. `C-g` locks up when I encounter this.

[2015-08-07 21:11] Malabarba commented on #1217
Yes, this seems most sane. Also, when you first `cider-connect`, associate whatever project you happen to be in at the time with that connection.

A more sophisticated option would be to let users name the connections somehow. This is the tricky part.
Once that is done, users could permanently specify which connection a project is associated to by setting a `cider-connection-name` variable in the

[2015-08-07 21:32] #1222 closed

[2015-08-07 21:34] bbatsov commented on #1115
I don't think the problem's just font-locking related, although it's likely a good idea to disable font-locking for bigger results. There's something pretty wrong happening in the REPL with respect to output - one bigger result/output and it becomes nearly unusable. And this has been happening before the introduction of "fancy" font-locking for the results and the output.

[2015-08-08 03:15] vermiculus commented on #689
Better late than never? :stuck_out_tongue:

[2015-08-08 08:11] expez commented on #1115
I have previously managed to stop this by spamming C-g along with cider-interrupt, but it took a long time before it registered my desire for that process to just go off and die.

[2015-08-08 08:56] bbatsov commented on #689
Totally!

On 8 August 2015 at 06:15, Sean Allred <notifications@github.com> wrote:

--
Best Regards,
Bozhidar Batsov

http://www.batsov.com

[2015-08-08 15:07] zarkone commented on #1197
I'd like to try myself at Elisp and this feature looks like a good start. I've opened `cider-interaction.el` and my plan is to `advice-add` the `cider-interactive-eval`.  `advice` would launch `:before` and cancel `:after` `cider-interactive-eval` this charming `spinner.el` in minibuffer. I'm not sure about using `advice-add`: is it idiomatic for Elisp or is it suitable for Cider..? Waiting for yo

[2015-08-08 15:33] expez commented on #1197
@zarkone It's not common to use advice for code that you own and can modify. The advice functionality is mostly used when interacting with code you don't own which does *almost* what you want it to.

[2015-08-08 15:35] zarkone commented on #1197
@expez this makes sense, thanks. I've just opened Elisp *info* page, and red the same :)

[2015-08-08 17:02] Malabarba commented on #1197
You can just hack away at the `cider-interactive-eval` function itself, no need for advices.
The only thing is that evaluations are done asynchronously, so it's useless to run some code after the function. You have to look into the function that processes results.

[2015-08-09 05:37] #1177 closed

[2015-08-09 05:39] #1144 closed

[2015-08-09 05:43] #1170 closed

[2015-08-09 05:43] bbatsov commented on #1170
Closing due to lack of recent activity.

[2015-08-09 07:36] bbatsov commented on #1115
@arrdem Btw, you do experience this problem only in the REPL or for interactive evaluation results as well?

[2015-08-09 08:05] Malabarba commented on #1170
FWIW, it's probably fixed. I've been using clojure for webdev and I made a fix to the debugger for it.

[2015-08-09 08:06] #1079 closed

[2015-08-09 08:09] arichiardi commented on #1115
Confirm this

[2015-08-09 09:47] bbatsov commented on #1115
Just noticed there's some fresh profiling data [here](https://github.com/clojure-emacs/cider/issues/228#issuecomment-109190308). Seems our custom REPL implementation sucks big time...

[2015-08-09 19:00] bbatsov commented on #1217
There's already functionality to rename connections, btw. I think that setting this on boot won't be that hard either.

[2015-08-10 07:05] agzam commented on #742
Do you guys know how can I change background of exception messages. In Obsidian color theme they look pretty lame
![screenshot]
(http://i.imgur.com/RrqfCe3.png)

[2015-08-10 07:10] expez commented on #742
The maintainer of the Obisidian color theme might be better able to answer this question.  IIRC we just re-use `font-lock-warning-face` for this purpose.

[2015-08-10 19:56] grammati opened #1251 "Debugging tests"
It would be nice if "C-u C-M-x" would instrument deftest forms for debugging, as it does for defn.

[2015-08-10 21:02] Malabarba commented on #1251
Which version are you on? I think the debugger in the snapshot releases already does that.

[2015-08-11 09:24] WeweTom commented on #1170
Sorry for my late reply.
I updated my cider to `CIDER 0.10.0snapshot (package: 20150810.1008)` , It still does not work as I expected .
@Malabarba what version do you use ? and how do you debug your code ?

[2015-08-11 09:35] Malabarba commented on #1170
@WeweTom I'm on the same version as you. Did you ensure that the cider-nrepl version is also the snapshot?

In my webdev workflow, I used `cider-jack-in` to start the repl, then called a `ring-jetty` function to start the server (which was made of compojure routes).
Then, I could debug my handler functions by typing `C-u C-M-x` and then visiting the respecting page on the browser.

What was your w

[2015-08-11 12:44] expez commented on #1224
On windows I can't even get a repl going and I had to disable `git-gutter-mode` in order to view the file at all.

I'll give this a try on linux later

[2015-08-11 16:17] bbatsov commented on #709
This important ticket is still looking for a volunteer to tackle it.

[2015-08-11 19:40] dagda1 opened #1252 "cider-repl-clear-buffer stops working"
My ```projects.clj``` looks like this:

[code]
I'm pretty new to clojure and cider but when I have the code in one window and ```cider-repl``` running in the other, it is nice to be able to clear the repl buffer with ```C-c M-o``` but  ```C-c M-o``` stops working after I have executed it once and the buffer has been cleared.

If I select ```cider-repl-clear-buffer``` from ```M-x``` I can see the e

[2015-08-11 20:43] kleewho commented on #1163
Isn't this already solved by https://github.com/clojure-emacs/cider/commit/8d79f8f0b28193d08d99a85e59a97dbc0b309282 ?

[2015-08-11 21:35] Malabarba commented on #1163
I think so. Forgot to tag the issue on the commit message.

[2015-08-11 21:36] Malabarba commented on #1252
Do `M-x toggle-debug-on-error`, and then reproduce this error.
You'll get a proper backtrace which you can paste here to give us more information.

[2015-08-12 04:20] dagda1 commented on #1252
Here is the backtrace:

[code]

[2015-08-12 04:48] bbatsov commented on #1252
Yeah, that's OK. Personally, I don't use `C-c C-k` that often - usually I just re-evaluate the code I've actually changed. What's your cider version info?

[2015-08-12 04:53] bbatsov commented on #1163
I didn't close this, because the current situation is a bit odd. The type is showed only for sibling connections. Shouldn't we just show it for each connection?

[2015-08-12 06:28] kleewho commented on #1163
I can try to make patch for it if that's what you want. For the record it's not enough to just modify the `cider--connection-info` ;)

[2015-08-12 07:13] dagda1 commented on #1252
@bbatsov here is my version info:

 2  (require [clojure.string :as str :only (split-lines jo\| _45, Clojure 1.6.0, nREPL 0.2.10)

Do you think it would be possible, if you could describe your workflow in a few words?

I think that would be very beneficial to me.

[2015-08-12 08:13] Malabarba commented on #1252
My workflow is to just reload code I just changed by hitting `C-M-x` on it. But there's nothing wrong with using `C-c C-k`, a lot of people do that and I'm sure one of them would have noticed your issue.

It's clear that one of the repl markers is being set to nil for you, even though all of them should always be valid markers.

Do you have anything in `cider-repl-clear-buffer-hook`?

When you get

[2015-08-12 09:11] dagda1 commented on #1252
Is ```cider-repl-clear-buffer-hook``` a command?  I don't have it available through ```M-x```.

[2015-08-12 09:23] Malabarba commented on #1252
No, it's a variable. Try to see it with `C-h v`. If you don't get anything, that's normal.

[2015-08-12 09:49] WeweTom commented on #1170
@Malabarba
my cider-nrepl version is `nREPL 0.2.10` , where to find the **snapshot** version ?
and I created a repo at https://github.com/WeweTom/clj-cider-debug-demo

[2015-08-12 10:07] Malabarba commented on #1170
@WeweTom That's your cloure.tools.nrepl version. What do you get if you evaluate `cider.nrepl.version/version` in the repl?

[2015-08-12 10:38] dagda1 commented on #1252
So when I run ```c-h v``` for ```cider-repl-prompt-start-mark``` I get:

[code]

for ```cider-repl-output-start```
[code]

The same is true for ```cider-repl-output-end``` and ```cider-repl-input-start-mark```.

[2015-08-12 11:21] Malabarba commented on #1252
Did you do that inside the repl buffer?

[2015-08-12 11:33] dagda1 commented on #1252
Ah right my bad,

Here are the variables in the buffer.

```cider-repl-prompt-start-mark``` outputs

[code]

```cider-repl-output-start``` outputs:
[code]

```cider-repl-output-end``` outputs
[code]

```cider-repl-input-start-mark``` outputs
[code]

```cider-repl-clear-buffer-hook``` gives no match.

[2015-08-12 11:57] Malabarba commented on #1252
Ok, one more question. :) Is that after reproducing the problem?

[2015-08-12 12:05] dagda1 commented on #1252
I've captured the variables again after the problem:

```cider-repl-prompt-start-mark``` outputs

[code]

```cider-repl-output-start``` outputs:
[code]

```cider-repl-output-end``` outputs
[code]

```cider-repl-input-start-mark``` outputs
[code]

```cider-repl-clear-buffer-hook``` gives no match.

[2015-08-12 12:28] Malabarba commented on #1252
Alright. Then I think it's safe to say that I am clueless. :)

[2015-08-12 16:53] dagda1 commented on #1252
Same thing happens even if I use ```C-M x```.

```cider-repl-clear-buffer``` is not a happy bunny for me anyway after the first execution irrespective of what proceeds it.

[2015-08-13 01:49] GordonGustafson commented on #709
@vspinu did you have any unfinished work on this I should look at if I decide to take a crack at this? Or should I start by looking at ielm source and the comint documentation?

[2015-08-13 01:53] WeweTom commented on #1170
@Malabarba wow , after change ~/.lein/profiles.clj `[cider/cider-nrepl "0.9.1"]` to `[cider/cider-nrepl "0.10.0-SNAPSHOT"]`  , it works now !  thanks Malabarba !

[code]

[2015-08-13 02:12] WeweTom commented on #1170
after play with it for just a few minute , I find a problem . I begin a debug session A, after that , I refresh url in browser , Session A is destroyed , and begin a new session . so , can you change this behavior : when there is an active session , new sessions are ignored . or it would be great to add a debug flag in http request . only http request with certain flag , debug session will invoked

[2015-08-13 04:34] johnbendi commented on #709
What about @shosti the OP who promised a PR?

[2015-08-13 04:36] bbatsov commented on #709
I think that nobody actually got anywhere with this task, so @GordonGustafson can definitely start from scratch.

[2015-08-13 07:14] expez commented on #1252
@dagda1 you might have to dig into [edebug](http://www.gnu.org/software/emacs/manual/html_node/elisp/Edebug.html#Edebug) to debug this function yourself.  Learning edebug takes around 5 minutes--it's incredibly easy to use--and it's well worth the trouble imo.

[2015-08-13 07:47] luxbock opened #1254 "Behavior of the *cider-refresh-log* buffer is distracting"
I usually only care about the results of calling `cider-refresh` if there was a problem. If there were no problems I would much rather just get a message in the mini-buffer. Right now the behavior of the `*cider-refresh-log*` buffer is to pop-up in the other-window, which is annoying because I was already using that buffer for something else I care about. I would therefore propose the following ch

[2015-08-13 08:13] bbatsov commented on #1254
This is a duplicate of https://github.com/clojure-emacs/cider/issues/1239 //cc @cichli

[2015-08-13 08:13] #1254 closed

[2015-08-13 08:37] Malabarba commented on #1252
Edebug: http://endlessparentheses.com/debugging-emacs-lisp-part-1-earn-your-independence.html

[2015-08-13 08:44] Malabarba commented on #1170
Relying on a flag wouldn’t make a lot of sense right now. The debugger is purely expression based, and has no knowledge of the environment in which it's being run.

 Still, I'd like to handle better the situation of overlapping sessions, so I'll look into that.

[2015-08-13 08:51] Malabarba opened #1255 "Better handle cases where a debug session is started while another is active."
See this comment: https://github.com/clojure-emacs/cider/issues/1170#issuecomment-130508254

[2015-08-13 14:14] #1127 closed

[2015-08-13 14:41] vspinu commented on #709
@GordonGustafson, I haven't done anything concrete.

[2015-08-13 15:41] scottdw commented on #1252
Are you running `cider-repl-clear-buffer' from the file buffer or the repl buffer, @dagda1?

[2015-08-13 15:56] scottdw commented on #1252
Nevermind, that doesn't seem to affect it. It appears that the first time some code is evaluated the output appears before repl prompt and after `C-c M-o` it appears after the prompt. Pressing `Enter` to get back the repl prompt makes `cider-repl-clear-buffer` work again.

[2015-08-13 16:11] dagda1 commented on #1252
@scottdw absolutely, that works.  If I press enter after each evaluation then the repl can be cleared each time.

[2015-08-13 16:13] dagda1 commented on #1252
I'm curious as to why experienced users have not encountered this.  Do they not use the ```cider-repl-clear-buffer``` command?

[2015-08-13 19:56] shosti commented on #709
@GordonGustafson yeah, never got around to looking at this (as you can probably surmise).

[2015-08-14 11:21] bbatsov commented on #1251
@Malabarba so, should I just close this?

[2015-08-14 12:22] rhacker opened #1256 "cider refresh and run tests"
I'm new to Elisp, what I'm trying to do is to write a simple function to refresh and run tests. This is what I've tried so far but it doesn't seem to work.
[code]

It'd be great if someone can help me with this. Thanks

[2015-08-14 12:29] expez commented on #1256
`cider-test-run-tests` takes a required argument, which you omitted.

This might help you in the future: http://endlessparentheses.com/debugging-emacs-lisp-part-1-earn-your-independence.html

[2015-08-14 13:08] grammati commented on #1251
Turning on *print-meta*, deftest forms certainly appear to be instrumented. But I cannot find a way to actually debug them. Executing the instrumented test (eg: with C-c M-, or calling it in the repl) runs it normally, without stopping in the debugger.

I have been working around this when I need to by pulling the body of the test out into a separate function, which can be debugged. eg:

    (defn

[2015-08-14 13:21] Malabarba commented on #1251
Ok, thanks for checking. I'll look into it over the weekend.

[2015-08-14 13:43] expez commented on #1252
I only use it when the output in the buffer is causing trouble. e.g. when it contains unbalanced parens etc and smartparens is screaming at me.

Additionally, it's super unusual to have forms causing side-effects and emitting output to the repl as toplevel forms that get evaluated when calling `C-c C-k`.

Steps to reproduce

1. Open a clj  buffer and insert `(println (+ 1 1))`
2. `C-c C-k`
3. `C-c

[2015-08-14 15:11] jeffvalk commented on #1251
Quick note from having implemented `cider-test`:

The `clojure.test` machinery reads the actual test function from the `:test` metadata on a var. (It was designed this way so that you could define a function and its test together -- the latter as metadata on the former.)

As a result, the `deftest` macro doesn't create a var bound to a test function as one might guess. Rather it creates a var with

[2015-08-14 15:50] #1238 closed

[2015-08-14 16:20] Malabarba commented on #1251
Well, that explains it then. The debugger macroexpands the code before instrumenting it for good. And the test metadata is being created at macroexpansion, before the debugger has a chance to instrument it.

@jeffvalk  Thanks for the info. :) I'll have to think about how we can solve this.
The sanest option I can think of is for us to (during the instrumentation step) also look inside the the `:te

[2015-08-15 10:24] sp3ctum opened #1257 "Displaying interactive eval result hides result overlay immediately"
Hi, I was very pleased with how the new overlays work. I recently picked up the [lispy](https://github.com/abo-abo/lispy/) package that has bindings for lisp navigation and evaluation. I'm experimenting with adding support for showing overlays in lispy, but I keep running into a wall and thought I'd ask for help.

Lispy has a binding for `lispy-eval`, which sends a sync request to the nrepl server

[2015-08-15 11:54] Malabarba commented on #1257
Indeed, the default behavior of  the results overlay  relies on the fact that it's called from the process filter (so it is outside the command loop). This ensures that the overlay gets destroyed after the next command.

Synchronously, this fails because the overlay is created inside the command loop that started the evaluation.
 I'm considering this a bug. I'll think of the best way to fix it.

[2015-08-15 15:06] jeffvalk commented on #1251
@Malabarba You might just consider walking all `IMeta` objects' metadata generically during instrumentation. Then `:test` wouldn't be a special case. I'd be surprised if there weren't a number of other projects (albeit a small one) that attach functions as metadata.

[2015-08-15 15:57] Malabarba commented on #1251
Yes, that's possible too. I'm a little afraid of running into conflicts. Most libs that set metadata don't expect it to be changed behind their back.
But if we restrict ourselves to only instrument when the metadata is a function then the risk is probably very small.

[2015-08-15 15:59] chuan6 commented on #1050
@Malabarba @corymickelson Re-installed cider, and solved the issue for me. [Same here just updated to emacs 24.5, cider 0.9.1.]

[2015-08-15 16:10] jeffvalk commented on #1251
Sounds solid to me!

[2015-08-15 16:43] sp3ctum commented on #1257
Yes, I managed to work around it, thanks.

A thing to note: if the overlay sticks around for a pretty long time, such as 5 seconds, it's possible to type behind it. When doing this, the typed text will appear normally, but the cursor position seems to stay before the overlay.

I'm not sure how to resolve this. I used a 1 second overlay to mitigate the possibility of that bug for now. I'm worried t

[2015-08-15 16:54] #1197 closed

[2015-08-15 18:27] rhacker commented on #1256
@expez thanks for pointing the useful documentation. I have looked it up and find the source code `cider-refresh` and `cider-test-run-tests`, but it doesn't ring me any idea how to set this up.
I can see in the default binding key written in this lib, the key is defined like this :
[code]

They get the parameters magically some how. I tried another way, but it doesn't work either:

[code]

[2015-08-15 19:03] Malabarba commented on #1256
@rhacker During interactive calls, Emacs uses the specification inside the `(interactive ...)` form to decide what the arguments are. In the case of `cider-test-run-tests` that is `"P"`, which specifies the prefix argument.
The prefix argument usually just `nil` (unless the user hit a prefix key first, but that's besides the point here).

So the right way to call `cider-test-run-tests` is by doing

[2015-08-15 19:06] Malabarba commented on #1256
Also, if you ever just want to "magically" use a function's interactive parameters, you can call it via `(call-interactively #'the-function-to-call)` instead.

This is not something to be done in production elisp code, but it's fine for you to use when you're just putting together a function for your own use.

[2015-08-15 19:16] Malabarba commented on #1251
@bbatsov @expez Could someone tag this as help-wanted or something like that?
It is a relatively simple fix, but I'm swamped for the next week or so.

[2015-08-15 19:46] eigenhombre opened #1258 "Latest and greatest breaks cider-eval-last-sexpr"
The latest CIDER breaks `cider-eval-last-sexp`.

Details:

Packages:
    cider              20150815.954

`profiles.clj`:

    {:user {:dependencies [[alembic "0.3.2"]
			   [org.clojure/tools.nrepl "0.2.10"]]
	    :shorthand {. [alembic.still/distill alembic.still/lein]}
	    :plugins [[cider/cider-nrepl "0.10.0-SNAPSHOT"]
		      [refactor-nrepl "1.2.0-SNAPSHOT"]
		      [com.palletops/lein-shor

[2015-08-15 19:50] rhacker commented on #1256
@Malabarba thanks for your information. It does really help me a lot since I'm new to elisp development. I will try it tomorrow since it's pretty late already ( 2 am ) :dancer:

[2015-08-15 19:52] Malabarba commented on #1256
@rhacker No problem, and welcome to elisp. ;-)

[2015-08-15 20:07] eigenhombre commented on #1258
The following works around the problem:

    (defvar cider-eval-progress-bar-show nil)

[2015-08-15 20:21] #1258 closed

[2015-08-15 20:46] expez commented on #1240
One possible solution would be to use `ns-interns` to get a list of interned vars and then use `ns-unmap` to remove them.  Depending on what's wanted here, this could be combined with `tools.namespace/refresh` to get rid of any extra required namespaces, beyond those specified in the file on disk, as well.

I'm not sure how useful this would be in general, but this would be a great feature to work

[2015-08-16 00:58] grammati commented on #1251
Here is my first attempt, but it's not working, and I'm not sure why. @Malabarba, if you have a few minutes, could you take a quick look and tell me if my approach is obviously wrong? Thanks.

https://github.com/grammati/cider-nrepl/commit/37f2c35a41c3651516e8977b71bded2b4e636c1f

[2015-08-16 05:42] #1256 closed

[2015-08-16 05:42] bbatsov commented on #1256
Generally it's preferable to ask questions on gitter/slack & the mailing list.

[2015-08-16 06:38] sp3ctum opened #1259 "Is clojurescript supported for debugging?"
I tried out the debugger, it is pretty awesome. Nice work!
But what about clojurescript?

Cider doesn't seem to be entering the debugger for clojurescript. I have a figwheel running, whose repl I connect to with cider, if that makes a difference.

[2015-08-16 06:40] sp3ctum commented on #1259
I see an error appear when I do `C-u C-M-x` on a defun:
`nREPL: No response handler with id nil found`

[2015-08-16 07:02] bbatsov commented on #1259
No, it's not supported. It was  on the roadmap for 0.10, but it turned out
to be more complex than initially expected.

On Sunday, August 16, 2015, Mika Vilpas <notifications@github.com> wrote:

[2015-08-16 07:23] Malabarba commented on #1259
Like @bbatsov said.
Now it's on the road map for "whenever my thesis is done and I have time in my hands again".

[2015-08-16 07:26] piotr-yuxuan commented on #1240
I'm new on the REPL but currently away from the keyboard. I'm OK to try to
work on this in next week! :-)
On Aug 15, 2015 10:46 PM, "Lars Andersen" <notifications@github.com> wrote:

[2015-08-16 08:27] sp3ctum commented on #1259
I see, thanks for clarifying. Take all the time you need.

[2015-08-16 09:43] expez commented on #1224
[code]

This appears to be a bug in emacs itself.

Running `(buffer-file-name)` in the two buffers results in:

[code]

Our middleware handles one of these encodings but not the other.

@Kejia if you want to solve this you'll have to file a bug with emacs to get `(buffer-file-name)` fixed to be consistent in how it encodes its result.

[2015-08-16 10:28] Malabarba commented on #1224
If I had to guess, I'd say `buffer-file-name` is respecting the encoding of the buffer, which would mean that those two buffers are using different encodings for some reason.

@Kejia Could you check if that's the case for you

@expez Regardless of any of this, I think `nrepl-client.el` should normalize string encodings before sending. Emacs can be pretty unpredictable with regards to the encoding

[2015-08-16 16:53] #1259 closed

[2015-08-17 04:24] #1239 closed

[2015-08-17 12:08] #1252 closed

[2015-08-17 12:13] #1257 closed

[2015-08-17 12:14] bbatsov commented on #1257
I'll close this, as generally we prefer to have similar discussions on either gitter, slack or the mailing list.

[2015-08-17 12:30] bbatsov commented on #1217
So, the bulk of the work regarding is done. The only outstanding tasks are:

* support for nested projects
* improving the handling of multiple matching projects - although I'm not sure what's the best course of action here

[2015-08-17 12:34] zarkone commented on #1115
I don't think it's about REPL, it's the same emacs long-line problem, or somehow connected with it. REPL buffer inserts the result with no new lines. For example, if i do `cider-eval-last-sexp`, i could spam `C-g` a few times to interrupt the process. But If I try `cider-eval-last-sexp-and-replace`, the situation would be the same, -- can't interrupt...  I've tried to `slurp` `1,5M` binary file, a

[2015-08-17 12:40] zarkone commented on #1197
i've noticed that if i interrupt the evaluation with `C-g`, i see the spinner still running (tried to reproduce #1115 ). After few times `C-g` i'm getting `error in process filter: Quit`, evaluation interrupted and Emacs unfrozen, but spinner still spins. It is because i've pressed `C-g`, but not called `cider-interrupt`. Not sure how to handle this situation.. for example, call `spinner-stop` aft

[2015-08-17 13:42] Malabarba commented on #1197
That's a good point.
Apparently, in that case, you're interrupting Emacs while it's still reading the message sent by the nREPL subprocess. That's the only explanation I can think of, because evaluations happen asynchronously (so they don't hang Emacs), and once the evaluation result has been received stopping the spinner is the first thing that cider does (I think). So the only explanation I can

[2015-08-17 13:45] Malabarba commented on #1257
Still, the fact that the overlay is incompatible with synchronous evaluation is a proper bug, I think.

[2015-08-17 13:56] cichli commented on #1254
@luxbock I've added `cider-refresh-show-log-buffer` now (defaults to `nil`) - let me know what you think next time you update?

[2015-08-17 13:59] bbatsov commented on #1257
Agreed. But let's have a separate ticket for this.

[2015-08-17 15:19] zarkone commented on #1197
Yes, I think you are right -- I tried to `slurp` a big file. `slurp` returns
the result immediately, AFAIK.
Artur Malabarba writes:

[2015-08-18 08:25] expez opened #1262 "C-c C-z broken on clj+cljs project"
Working on cljs support for refactor-nrepl I get

[code]

when I hit <kbd>C-c C-z</kbd> after doing `cider-jack-in-clojurescript`.

I have like two cljs files in the project, for testing purposes, so this guess was unfortunate.

[2015-08-18 08:30] expez opened #1263 "Middleware based functionality not working after cider-jack-in-clojurescript"
Working on adding cljs for refactor-nrepl I did `cider-jack-in-clojurescript` on the refactor-nrepl project.  This project is really a clj project, but there will be some cljs files in the project moving forward, for testing purposes.

None of the middleware based functionality is working for me now.  I can't access docs, I can't jump to vars and there's no completion candidates available.

[code]

[2015-08-18 08:38] expez opened #1264 "C-c C-k after cider-jack-in-clojurescript sends request to both repls"
Steps to reproduce:

1. cider-jack-in-clojurescript
2. <kbd>C-c C-k</kbd> in a buffer with `:require` clause with prefix notation
3. Check the cljs repl and you should see:
[code]

Clearly this `load-buffer` request should only be dispatched to the clojure repl and not the cljs repl.

[2015-08-18 08:45] bbatsov commented on #1262
Hmm, I guess the relevant REPL check is not factoring in the type of the REPL in question.

[2015-08-18 08:45] bbatsov commented on #1263
I'm guessing this is some dispatch issue similar to #1262, but this has to be verified.

[2015-08-18 09:00] Malabarba commented on #1264
What about regular eval commands? Like `C-x C-e`.
Do they work?

[2015-08-18 09:02] Malabarba commented on #1264
@expez Try replacing `(nrepl-current-session)` with `(cider-current-session)` inside `cider-request:load-file`.

If that works, we might want to do that for all instances of `nrepl-current-session`.

[2015-08-18 09:14] expez commented on #1264
<kbd>C-c C-c</kbd> and <kbd>C-x C-e</kbd>  works.

using `(cider-current-session)` prevents the stacktrace in the cljs repl.

[2015-08-18 09:18] Malabarba commented on #1264
Then that's probably it.
To be honest though, I have no idea how a single message would end up being sent to two repls. If that's really the case, then there could be something more subtle at play here.

[2015-08-18 09:41] #1264 closed

[2015-08-18 09:42] bbatsov commented on #1264
Btw, there's a bigger issue at hand here - `nrepl-current-session` is used in a lot of places, where it shouldn't be. I'll go over the code and address those problems later today.

[2015-08-18 09:46] expez commented on #1264
:+1:

[2015-08-18 10:53] Malabarba commented on #1264
:+1:
(hopefully I'll be able to write more code again soon.)

[2015-08-18 10:56] Malabarba commented on #1264
When I implemented that sibling connections thing I went through all occurrences of this function. I replaced it with `cider-current-session` wherever I was sure that was the right thing. When in doubt, I just left it as is. I just had no idea how would non-eval operations (like completion or eldoc) work with the cljs repl.
Are they handled fine? Or do they have to be directed at the clj repl?

[2015-08-18 11:06] bbatsov commented on #1264
We have cljs middleware support those.

[2015-08-18 11:35] expez commented on #1264
<kbd>C-c C-c</kbd> is also affected, do you want a separate issue for that?  I got the same exception as in the OP in the clj repl just now which is quite weird.

[2015-08-18 12:23] expez opened #1265 "cider-find-ns doesn't work after cider-jack-in-clojurescript"
Only 3 namespaces were available `cljs.core`, `cljs.repl` and `cljs.user`.  None of these were relevant to my query issued from a clojure file.

[2015-08-18 13:22] Malabarba commented on #1265
Is that after https://github.com/clojure-emacs/cider/commit/f0256324fe74bf2dda04feec5b8a4ef3515726df ?

[2015-08-18 13:30] expez commented on #1265
No, I'll try this again after upgrading.

[2015-08-18 15:51] Kejia commented on #1224
@Malabarba I have run `buffer-file-name` on the two buffers, and got the same results as @expez :

The former buffer is opened via `M-.`, and the second via `C-x C-f`.

Is this what I'm supposed to do?

[2015-08-18 16:02] Malabarba commented on #1224
@Kejia On each of these buffers, do `C-h C` and hit `RET`.
This will bring up a window describing the coding systems in use for the current buffer.

See the description you get from each of those files, and see if there's any difference between them.
They should be exactly the same.

[2015-08-19 07:32] #1265 closed

[2015-08-19 10:44] expez opened #1266 "C-c M-p doesn't work with dual repls"
`Could not determine relevant nREPL connection, using: CLJS refactor-nrepl@localhost:51731 (Java 1.8.0_31, Clojure 1.7.0, nREPL 0.2.10)`

This was when called from a clj repl running https://github.com/clojure-emacs/cider/commit/f0256324fe74bf2dda04feec5b8a4ef3515726df

[2015-08-19 15:43] Kejia commented on #1224
@Malabarba, i did the instructions, and the coding systems in use for both buffers are identical:

Coding system for saving this buffer:
  - -- undecided-unix (alias: unix)

Default coding system (for new files):
  U -- utf-8-unix (alias: mule-utf-8-unix)

Coding system for keyboard input:
  U -- utf-8-unix (alias: mule-utf-8-unix)

Coding system for terminal output:
  U -- utf-8-unix (alias: mule

[2015-08-19 16:49] Malabarba commented on #1224
Ok, then it looks like you need to report this as an emacs bug. :-/

[2015-08-19 17:32] bbatsov commented on #1224
OK, so I guess we can close this ticket.

[2015-08-19 17:32] #1224 closed

[2015-08-19 17:34] bbatsov opened #1267 "Overlay is incompatible with synchronous evaluation"
See #1257 for details.

[2015-08-19 20:14] lvh opened #1268 "Running tests in figwheel's CLJS repl"
I have some `cljs.test` tests. I'm connected to the REPL ran by figwheel, and have run `(use 'figwheel-sidecar.repl-api) (figwheel-sidecar.repl-api/cljs-repl)` to get a cljs repl. Compiling and evaling CLJS works fine, but CIDER's test functionality appears to be confused. `cider-test-run-tests` (`C-c ,`) claims it can't find the relevant namespace:

[code]

... when run from either `crunch.ctk` o

[2015-08-20 08:16] luxbock commented on #1254
Thanks! Works just as I had hoped.

[2015-08-20 08:47] axsk commented on #228
+1. And I thought there was some performance issue in my code until I saw the 543k information in the status bar and thought it might be the REPL :D.
Ended up suppressing the output for now.

[2015-08-20 09:43] bbatsov commented on #1225
I don't know how far we'll go with this. Right now my plan is strip `nrepl-client` just to something which can establish nREPL connections, send requests and get responses. I'll likely move the entire connection management inside CIDER, as it's wrong for a client library to maintain a list of active connections and to be able to manipulate connections. The connection management is clearly a functi

[2015-08-20 10:10] phillord commented on #1225
I've been making some initial experiments with this and, at the moment, for JDEE I would want to use a reasonable amount of CIDER anyway (so, thinks like "fetch the classpath" which are strictly about the JVM rather than clojure per se). I expect for my use case, if we go this route, we are likely just to end up with CIDER as a dependency anyway.

In terms of a more logical split, I guess, we'd en

[2015-08-20 16:27] sakh1979 opened #1270 "cider-repl--send-input: Symbol's function definition is void: spinner-start"
I can successfully connect to `cider` from emacs `clojure-mode` via `cider-jack-in` command. But, as soon as I start typing, or evaluate a function I get the following error: `cider-repl--send-input: Symbol's function definition is void: spinner-start`

My settings are: `CIDER 0.10.0snapshot (Java 1.8.0_31, Clojure 1.7.0, nREPL 0.2.10)`

Please let me know if you need more information from me. FYI

[2015-08-20 16:29] bbatsov commented on #1270
How did you install CIDER? Seems to me you don't have the spinner package installed (a recent dependency of CIDER).

[2015-08-20 16:33] sakh1979 commented on #1270
Ah, I didn't know about the spinner package. I installed CIDER manually via `el-get`.

Anyway, here is my CIDER setting:

[code]

[2015-08-20 16:34] bbatsov commented on #1270
Well, it's pretty obvious - the `el-get` recipe is out-of-date. Someone has to update it.

[2015-08-20 16:34] #1270 closed

[2015-08-20 17:08] #1251 closed

[2015-08-20 20:47] vspinu commented on #1225
If possible, there should be one connection manager across all apps. No need for burden the user to learn different interfaces. Actions on connections are pretty generic and it would be rather convenient to see all connections in one place.

[2015-08-23 05:35] crodjer commented on #1270
Created a PR: https://github.com/dimitri/el-get/pull/2235

[2015-08-24 16:57] abo-abo opened #1273 "Can't change namespace with nrepl-sync-request:eval"
This code will not change the namespace as of now:

[code]

However, it used to work. The commit that broke it was d201a43.

[2015-08-24 16:58] bbatsov commented on #1273
I'll look into this. There are problems with sync requests right now, that I'm looking into (like hardcoded default connection, etc).

[2015-08-24 21:55] Malabarba commented on #1262
@expez What file were you using at the moment? Was it a `clj` or a `cljc`?

[2015-08-24 22:37] Malabarba commented on #1257
@sp3ctum If you have a moment, please check if #1275 fixes your original problem.

[2015-08-25 05:51] expez commented on #1262
`clj`

[2015-08-25 09:54] sp3ctum commented on #1268
I have a clojurescript / clojurec project that uses cljs.test too, but it works for me. I set up my tests with reader conditionals to make them portable both to clojure and clojurescript. Perhaps you could work around the issue that way, if your tests are portable.

[2015-08-25 10:23] sp3ctum commented on #1268
What does your project.clj look like? It's possible it cannot find the tests due to misconfiguration.

[2015-08-25 11:53] #1267 closed

[2015-08-25 15:09] lvh commented on #1268
Unfortunately, my tests are not meaningfully portable. They rely heavy on the DOM. The code I'm writing is a GreaseMonkey userscript, so differences between implementations (different browsers or maybe a JVM implementation somewhere) are important.

Here's my `project.clj`:

[code]

[2015-08-25 15:25] Malabarba commented on #1268
From what you've described of the problem, it sounds like the content of the tests is probably irrelevant.
The problem is more likely related to how your directories/namespaces/src-paths are structured.

[2015-08-25 15:27] lvh commented on #1268
Sure, but the question was asked, so I answered it.

[2015-08-25 15:42] sp3ctum commented on #1257
I tested it, now it works. Thanks so much, guys!

[2015-08-25 16:22] aamedina opened #1278 "cider-current-repl symbol not found"
After upgrading CIDER this morning this error was emitted after attempting to cider-connect to an nREPL server. Was this a typo for cider-current-repl-buffer?

[2015-08-25 17:12] #1278 closed

[2015-08-25 17:13] bbatsov commented on #1278
Sorry about this. I was doing some refactorings which I didn't really verify.

[2015-08-25 17:35] aamedina commented on #1278
No problem! Thanks for the quick fix. :)

[2015-08-25 17:46] Kejia opened #1279 "cider-current-repl not defined"
got an error when starting repl:

[2015-08-25 17:58] Kejia commented on #1279
repeated and fixed.

[2015-08-25 17:58] #1279 closed

[2015-08-26 16:06] bbatsov opened #1280 "Insert links to the README's troubleshooting section for all REPL warnings"
No matter how descriptive the messages in the REPL are, many users are still confused by them. So, for the benefit of everyone it'd be best if we inserted troubleshooting links for all of the problems reported there.

[2015-08-26 16:09] bbatsov opened #1281 "Add an option to have the old connection dispatch"
While I believe the new smart connection dispatch (introduced in 0.10) is quite superior to the old algorithm based on the notion of "default connection", it would probably be best if the old algo was still available (via some config option). This was the default in CIDER for quite a while and it's also how SLIME works, so some people are probably attached to it. Implementing such an option should

[2015-08-26 17:13] Malabarba commented on #1281
What was the old behavior again? Just use the first element of cider-connection?

[2015-08-26 17:56] bbatsov commented on #1281
Yes.

On Wednesday, August 26, 2015, Artur Malabarba <notifications@github.com>
wrote:

--
Best Regards,
Bozhidar Batsov

http://www.batsov.com

[2015-08-27 10:36] yatesco opened #1282 "Automatic :require form is incorrect when creating a .cljc form"
Create `src/test/a/b/c_test.cljc` and it produces:

[code]

It would be better if it produced a clic aware test reference, for example:

[code]

I also really wish it would pull in the subject under test as `:as sut` rather than `refer all` ;-)

[2015-08-27 10:40] yatesco opened #1283 "Allow parameterisation of auto-generated :require for test files"
At the moment the automatically generated `:require` statement pulls in the subject under test as `[a.b.c :refer :all]`. I, and I think a bunch of people would prefer `[a.b.c :as sut]`.

Would be great if `cider` exposed a var which either:
 - toggled between the two (e.g. `cider-pull-su-as-refer-all`)
 - provided a template for the require form (e.g. `(setq cider-sut-require-form "[:refer % :as s

[2015-08-27 10:44] Malabarba commented on #1282
Maybe I'm wrong, but I think this is a clj-refactor.el feature.

[2015-08-27 10:47] Malabarba commented on #1282
Yep. Here it is: https://github.com/clojure-emacs/clj-refactor.el/wiki#automatic-insertion-of-namespace-declaration

This (and your other issue) should go there, I think.

[2015-08-27 11:19] yatesco commented on #1282
I apologise Malabarba - can I claim the all-forgiving `newbie` card ;-)

[2015-08-27 11:19] #1282 closed

[2015-08-27 11:20] yatesco commented on #1283
Moving to clj-refactor

[2015-08-27 11:20] #1283 closed

[2015-08-27 11:40] Malabarba commented on #1282
;)

[2015-08-28 20:57] expez opened #1285 "Time to restructure the project a little?"
I found this to be pretty interesting:
[code]

If this was a java project we'd have hundreds of files :p

We have some circular dependencies that we have to eliminate if we want to be able to use byte compilation to find the most obvious problems.  `cider-interaction` and `cider-repl` are mutual dependencies at least.

I'm guessing there are quite a few mutual dependencies created by our defcustom

[2015-08-28 22:57] Malabarba commented on #1285
Yes, `cider-interaction` as a whole definitely needs work, and so does `nrepl-client`.
@bbatsov has already been doing a lot of refactorings (specially on the latter).

I also think we have quite a bit of indirection in some places, so some code might just be able to go.

It might be necessary to have an extra file to keep some settings, as you suggest. But I'd like to leave that for last.
What I'

[2015-08-29 05:31] bbatsov commented on #1285
This has been on my mind for quite a while now https://github.com/clojure-emacs/cider/issues/1068

I think @cichli was working on this, but I don't know if he's still is.

[2015-08-29 05:31] #1285 closed

[2015-08-29 21:24] expez opened #1288 "Eval in repl doesn't work"
After the latest refactorings this broke

[2015-08-29 21:26] expez opened #1289 "C-c C-q doesn't work"
Broke in the latest round of refactorings:

`wrong type argument stringp: nil`

Buffer isn't killed, process isn't killed.

`C-c C-k` in the buffer does work.

[2015-08-29 22:02] Malabarba commented on #1288
Could you test this on the `connection-vs-repl` branch? I'm running that branch now and I don't see any problems.

[2015-08-30 10:24] #1288 closed

[2015-08-31 05:40] bbatsov commented on #1262
Is this still relevant?

[2015-08-31 08:24] #1262 closed

[2015-08-31 09:16] bbatsov commented on #1289
I can't reproduce this.

[2015-08-31 09:16] #1289 closed

[2015-08-31 09:17] bbatsov commented on #1266
Is this still a problem?

[2015-08-31 09:25] #1266 closed

[2015-08-31 09:27] expez commented on #1289
I'm no longer experiencing this either.

[2015-08-31 12:22] cichli commented on #1179
`cider-nrepl` PR for this on the way shortly - bundling either fipp or puget might be tricky as neither supports Clojure 1.5. [aprint](https://github.com/razum2um/aprint) would also be an option if it didn't have a dependency on JLine :confused:.

[2015-09-02 06:10] bbatsov commented on #1263
Btw, is this still an issue?

[2015-09-02 06:53] johnbendi opened #1293 "No repl buffer after connecton established"
From *Messages* buffer:
[code]

And yet I don't see any repl buffer. What to do?

[2015-09-02 07:10] johnbendi commented on #1293
#1181 solves this.

[2015-09-02 07:10] #1293 closed

[2015-09-02 07:12] #1263 closed

[2015-09-02 11:22] kostafey opened #1294 "No buffer named package.namespace"
After last update CIDER output the following message on `(cider-pprint-eval-last-sexp)` call:

`nrepl-send-request: No buffer named <package-name.file-name>`

cider-20150901.1605

UPD: trace

[code]

[2015-09-02 11:47] cichli commented on #1294
Thanks for the report - this was fixed in clojure-emacs/cider@3e349682323e5bec9e562c8c6971a87e9543da72 - will you try again after updating?

[2015-09-02 11:51] kostafey commented on #1294
Now it's ok. Thank you!

[2015-09-02 11:51] #1294 closed

[2015-09-02 12:06] looselytyped opened #1295 "nrepl-sync-request:eval is breaking"
I am not sure quite what the issue here is, so allow me to post what I have found so far.

* I posted an issue on `lispy.el` - https://github.com/abo-abo/lispy/issues/115. The issue is that `lispy-eval` is breaking with a `No buffer named com.mycompany.job` error.
* @abo-abo responded with https://github.com/abo-abo/lispy/issues/115#issuecomment-137040094 (reposting here)

[code]
I am not quite su

[2015-09-02 12:19] Malabarba commented on #1295
This is because the CIDER internals are undergoing some breaking changes. If you look at the docstring for that function you'll see that its signature has changed to

    (nrepl-sync-request:eval INPUT CONNECTION SESSION &optional NS)

So that the correct way to call it is now

    (nrepl-sync-request:eval
     "(+ 2 2)"
     (cider-current-connection)
     (cider-current-session)
     (cider-curr

[2015-09-02 12:26] bbatsov commented on #1295
It's a work in progress, but I have a pretty busy week at work and it's on hold for now. Looking at my schedule for the month I might not be able to finish everything until the beginning of October.

[2015-09-02 12:58] looselytyped commented on #1295
@Malabarba @bbatsov - Thank you for the prompt response. I can easily work around this if need be. And again, thank you for all your hard work.

Would you rather I close this issue?

[2015-09-02 12:58] #1295 closed

[2015-09-02 12:58] bbatsov commented on #1295
Guess that would be best.

[2015-09-02 13:34] expez opened #1296 "Jumping doesn't work in cljc files"
There are a few issues here:
1. When it's ambiguous we need to prompt the user for a language context.
2. We need to check the context around point for reader macros to avoid asking a stupid question.
3. Right now I only have a clojure repl going and we shouldn't have to ask.  Just jump to the clj file.

I've written some code over in [clj-refactor](https://github.com/clojure-emacs/clj-refactor.el

[2015-09-02 16:01] expez opened #1297 "C-c M-n should act on both repls in cljc files."
It works as expected in `clj` and `cljs` files but when in a `cljc` file I expected both repls to change.

It seems this only acts on the *current-connection* in cljc files.

[2015-09-02 16:04] expez opened #1298 "C-c C-q doesn't kill both repls"

[2015-09-02 16:04] expez opened #1299 "Eval should dispatch to both repls in cljc files"
This used to work but I couldn't get the clj buffer to sync with the `cljc` file using `C-c C-k`.

[2015-09-02 16:14] Malabarba commented on #1298
Indeed, that's because the two repls are now completely  separate connections. we just don't have the notion of sibling repls anymore.

We could make this command close all connections in the current project, but do we want to?

[2015-09-02 16:35] Malabarba commented on #1299
A little more context would help.  :-)

How did you start the repls?
Which repl is returned by cider-current-connection?
Does it work on clj and cljs files?
Could we see some messages?

[2015-09-02 16:54] expez commented on #1298
It's called `cider-quit`.  Either make it a repl-only command or make it get rid of all cider related stuff.

[2015-09-02 16:55] bbatsov commented on #1298
It's `cider-quit` in the sense it quits the current connection and buffers related to it. With a prefix arg it will kill all connections.

[2015-09-02 16:58] expez commented on #1298
As a user I have no notion of what the *current-connection* is when I'm calling it outside a repl buffer.

[2015-09-02 16:59] Malabarba commented on #1296
I think these points apply to the smart dispatching in general, not just jumping.

I agree with point 2, and it looks like your clj-refactor code would fill that need well.

Point 1 would be good to have in some instances, but we need to be careful. We don't want to prompt while eldoc is fetching candidates in the background.

Point 3 should already be the current behaviour. Cider only does smart

[2015-09-02 17:02] expez commented on #1296
Yes, it turned into a no-op.  But I couldn't `C-c C-k` so it probably didn't know enough to do anything at all...

[2015-09-02 17:02] bbatsov commented on #1298
You see it in the minibuffer for every source buffer (where `cider-mode` is active).

[2015-09-02 17:03] bbatsov commented on #1298
![image](https://cloud.githubusercontent.com/assets/103882/9638159/a85e7228-51ad-11e5-81cc-6831c8f0ecec.png)

[2015-09-02 17:05] expez commented on #1298
I wasn't aware of that.  It's likely nobody else is either :p

[2015-09-02 17:06] bbatsov commented on #1298
That's not really my problem - it was done in the same manner in SLIME and other similar tools. People have to get familiar with Emacs UI paradigms eventually. :-)

[2015-09-02 22:21] arrdem opened #1300 "[FR] Opening a new connection to an existing nREPL server"
I've found it convenient in the past to have severan nREPL connections to a single nREPL server. Especially when messing with expressions that take a while to evaluate. At present it's easy enough to start a new nREPL server (C-c M-j) but without inspecting the resulting nREPL server buffer for a host/port it's not trivial to open a new REPL buffer connected to the same server.

Obviously somethin

[2015-09-03 06:27] bbatsov commented on #1300
So, the auto-completion you get in `cider-connect` is not enough and you'd like a new command to "clone" a connection? I'm just trying to figure what exactly do you have in mind.

[2015-09-03 07:09] Malabarba commented on #1300
The auto completion has always been enough for me to connect to a previously started server. Is there anything you think it lacks?

[2015-09-03 07:28] expez commented on #1299
`cider-jack-in-clojurescript`

cljs repl

yes

Could we see some messages?

`C-c C-k` in the `cljc` file.
[code]

[2015-09-03 07:30] expez commented on #1298
`C-u C-c C-q`

[code]

The clj repl remains.  If I do `c-c C-q` in that repl:

[code]

[2015-09-03 13:18] arrdem commented on #1300
@bbatsov - That's exactly what I had in mind.

@Malabarba - In my experience which is now a few weeks stale, server/port auto complete only works on localhost. The context in which I would find a "clone" command interesting would be duplicating a connection (including reusing the SSH tunnel if possible) to another machine.

[2015-09-03 15:23] Malabarba commented on #1300
I see, then it's certainly a worthy feature. I didn't know it only works with localhost.
Instead of a whole new command, we could build this into cider-connect. For instance, it could offer to clone the current connection if invoked directly from a repl buffer.
Another option is to include currently active connections during host completion.

[2015-09-03 23:26] julienchastang opened #1302 "org-babel clojure now fails w/ nrepl-sync-request:eval error"
Org babel clojure now fails. For example,

[code]

yields

[code]

[2015-09-04 00:32] Malabarba commented on #1302
The internals have changed.
See a very recent closed issue for more explanation.

[2015-09-04 04:51] bbatsov commented on #1302
See https://github.com/clojure-emacs/cider/issues/1295

Libraries depending on CIDER will have to be updated.

[2015-09-04 04:51] #1302 closed

[2015-09-04 13:21] Malabarba commented on #1297
Yes, we have no special support for `cljc` files, so everything still acts on the current connection.
We cannot make it so that every request is dispatched to both connections (it's not infeasible, just undesirable), so this would have to be implemented on a per-command basis.

That's said, it's not clear to me that we should implement this, just because I'm not aware of what people workflows are

[2015-09-04 14:56] expez commented on #1297
I expected both repls to change.

I suppose that was somewhat colored by my not being able to identify what the `current-connection` was.  I still don't know how to change the `current-connection`, though.

When I'm working on a cljc file I'm working on a single feature, but I'm either working on the clj part of that feature or the cljs part and I'm jumping between these two contexts.  What I'm no

[2015-09-04 19:37] julienchastang commented on #1302
Thanks. I've spent the latest few hours migrating to melpa-stable. All I'd ask is that cider not end up in melpa-stable until downstream code has had time to migrate to the new API (e.g., org-mode and ob-clojure).

[2015-09-05 06:57] bbatsov commented on #1302
This really depends on their maintainers. I don't have nor the time nor the energy to sync up with everyone maintaining a 3rd party extension. I just hope they're following the development and will do the necessary changes when needed.

[2015-09-05 13:06] paomian opened #1304 "when project dependencies use checkouts will get namespace not found"
MacOS 10.10.5
emacs 24.4

when my project's dependencies also use checkouts to other dependencies,when i reload ,i get the namespace not found error ,then i remove checkouts ,an it work well.

[2015-09-05 13:21] paomian commented on #1304
sorry i find the checkouts is Non-transitive

[2015-09-05 13:21] #1304 closed

[2015-09-05 23:54] sg2002 opened #1305 "No active nREPL connection"
The current version of Cider no longer sees repl connections. You get "No active nREPL connection" when you try to do C-c M-n, but doing C-c M-j again would complain that REPL buffer already exists.

I've traced the commit to 2455438.

[2015-09-06 01:27] howardabrams opened #1306 "Not storing new nREPL connections!?"
Upgraded to the latest version of Cider (`20150905.604`) this evening, and have the following `:plugins` section in my `.projects.clj`:

[code]
When I kick off a `cider-jack-in` while in one of my Clojure buffers, I see get a REPL containing:

```CIDER 0.10.0snapshot (package: 20150905.604) (Java 1.8.0_45, Clojure 1.6.0, nREPL 0.2.7)```

And have the following messages in the Emacs message buffer:

[2015-09-06 06:09] bbatsov commented on #1306
That's a duplicate of #1305

[2015-09-06 06:09] #1306 closed

[2015-09-06 06:10] bbatsov commented on #1305
I'll investigate this later today.

[2015-09-06 06:43] bbatsov commented on #1305
Superficial examination shows that this affects only jack-in. There's crazy coupling between the code that starts an nREPL server locally and connecting to the server, which convinces me for the millionth time the current structure of the code is super problematic...

[2015-09-06 09:03] bbatsov commented on #1305
To be more precise, the problem is that right now the `nrepl-server-filter` does too much - after it detects the port of the server it connects to it automatically, which is kind of crazy as it creates a different execution path for `cider-connect` and `cider-jack-in`. I'm not sure why at some point I felt this was a good idea, but it's definitely not.

[2015-09-06 12:40] kostafey commented on #1305
After last update the message is:
[code]

[2015-09-06 13:12] Immortalin commented on #1305
I am getting this @bbatsov I am getting this problem too

[2015-09-06 13:14] bbatsov commented on #1305
Yeah, yeah. I'm well aware of this. I'm contemplating the proper solution for this.

[2015-09-06 13:16] Immortalin commented on #1305
Is there any temporarily work arounds for this?

[2015-09-06 13:18] bbatsov commented on #1305
Just use `cider-connect`.

[2015-09-06 13:21] Immortalin commented on #1305
I have tried. Getting the same problem:

[code]

[2015-09-06 13:36] #1305 closed

[2015-09-06 15:36] Malabarba commented on #1305
I still have a "no connection" issue on latest master.
Here's the backtrace I get from jack-in. This happens after the server is started, when the repl is querying for the namespace.

    Debugger entered--Lisp error: (wrong-type-argument stringp nil)
      set-buffer(nil)
      (save-current-buffer (set-buffer (cider-current-connection)) nrepl-session)
      cider-current-session()
      (nrepl-s

[2015-09-06 15:42] bbatsov commented on #1305
I'm guessing your list of connections is still `nil` but after my latest changes this shouldn't be happening. I did some quick tests and `jack-in` seems to work fine for me. There might be some race condition, but that seems very likely.

[2015-09-06 15:44] Malabarba commented on #1305
In my case, it can be fixed by adding `(cider-make-connection-default buffer)` to the very start of `cider-repl-init`.
Does that sound bad?

[2015-09-06 15:47] bbatsov commented on #1305
Well, it doesn't sound terrible, but once again - the server callback already executes this, so I really can't understand why is this not working for you. Doing this in `cider-repl-init` might be problematic when REPL buffers get recycled.

[2015-09-06 15:54] bbatsov commented on #1305
Ideally the API should be changed in a way that jack-in simply boots the server, obtains its port and does `cider-connect`, but this will require a bit of rework.

[2015-09-06 15:56] Malabarba commented on #1305
Yes, but that's too late. Looking at the code:

      (with-current-buffer (process-buffer process)
        (let* ((client-proc (nrepl-start-client-process nil port process))
               (client-buffer (process-buffer client-proc)))
          ;; FIXME: Bad connection tracking system. There can be multiple client
          ;; connections per server
          (setq nrepl-connection-buffer client-

[2015-09-06 16:07] bbatsov commented on #1305
The problem is that there's not easy way to pass the connection to a hook function, unless you use dynamic variables... Clearly the real issue here is that the filter initiates a connection itself. You can also notice that the server process gets passed to the connection creation function for no good reason as well. It's hard to reason about all these spaghetti and it's even harder to modify the c

[2015-09-06 16:19] Malabarba commented on #1305
Spaghetti indeed. I'm relatively certain we have more indirection than necessary here, so there should be room for simplification.
But, like you say, it's hard to reason about it so it's hard to be sure.

In any case, I still can't see how it currently works for you. The post-client-callback is clearly being run after starting the REPL, and starting the repl involves a couple of evaluations.

[2015-09-06 16:24] bbatsov commented on #1305
No idea. Looking at the code you pointed out - it shouldn't be. :-)

Probably. I just can't figure out a simplification that can be implemented quickly... One relatively simple idea would be for the filter to simply set the port in the server buffer and the code in jack-in to wait until the port if available so it can connect to that server instance, but I'm not sure I'll have time to deal with th

[2015-09-06 16:31] bbatsov commented on #1305
Btw, another solution would be dispensing with `nrepl-connected-hook`, as clearly right now we use callbacks that rely on more than just the fact than an nREPL connection was established...

[2015-09-06 20:51] Malabarba commented on #1305
I'm ok with the connection being created by the server filter. It's the act of connecting itself that ties knots on my brain.

1. `cider.el` sets `nrepl-create-client-buffer-function` to `cider-repl-create`, which is a function in `cider-repl.el`.
2. `nrepl-start-client-process` calls `nrepl-create-client-buffer-function`.
3. `cider-repl-create` adds `cider--connected-handler` (which is a function

[2015-09-08 19:35] riaandewit opened #1308 "cider-jack-in can instrument, but cider-connect can't"
Hi folks -(clojure noob warning) cider looks tasty - thanks for everything. I'm sure I'm abusing the tool, but can't figure out how. I saw a couple of other issues that sort-of-kind-of look like they relate to this problem, but after trying a couple of things, still have no joy.

Used to edebug, I thought it'd be cool to create a hello-world ring app, run it and connect, then instrument a function

[2015-09-08 19:45] expez commented on #1308
Please see [this](https://github.com/clojure-emacs/cider#using-embedded-nrepl-server) section in the readme about how to embed an nrepl server into your application.

The reason this isn't working now is that the repl you're connected to doesn't have CIDER's middleware available.  This is reflected in the warning you receive.

When you use `cider-jack-in` CIDER does all the setup for you.

[2015-09-09 06:37] riaandewit commented on #1308
Thanks for that. My understanding of your message is that the nRepl that comes with ring is not what we need - CIDER's nRepl is much better, and must be activated. I've updated project.clj to:
[code]

... and core.clj is:
[code]

When I run
[code]
I still get the server starting on port 3000 - but no message that nRepl is running on port 8888 - no connecting with cider-connect possible.

Should I

[2015-09-09 16:16] cichli commented on #1308
I think you need to add `:nrepl {:start? true}` into the `:ring` map of your `project.clj`, rather than starting the nREPL server yourself - see [here](https://github.com/weavejester/lein-ring#web-server-options) in the `lein-ring` README :-). Not sure which versions that applies to - I'd recommend bumping to `[lein-ring "0.9.6"]` - you should only need that in `:plugins` btw, not in `:dev-depende

[2015-09-09 17:12] cichli commented on #1308
`lein-ring` checks in `:repl-options` for the `:nrepl-middleware` key (as of 0.9.2), which `cider-nrepl` automatically populates with its middleware - see weavejester/lein-ring@d32ab8f80039d4c2af2b972cb4112b04628e13e4.

[2015-09-09 18:53] riaandewit commented on #1308
@cichli - great stuff, thanks :)
Just for when I forget, with a project.clj like this:
[code]
... and a core.clj like this:
[code]

... I'm able to go into the root directory, and run
[code]
which then fires up the browser, with the example message in it.

[code]
then prompts and connects nicely, and browsing to core.clj inside Emacs, C-c M-n (switch to namespace) and C-u C-M-x can be used to inst

[2015-09-09 18:53] #1308 closed

[2015-09-09 20:55] Malabarba opened #1310 "Debugger doesn't work on defmethods"
So sorry. False alarm here.

[2015-09-09 20:57] #1310 closed

[2015-09-10 09:31] mbuczko opened #1311 "emacs freezes when opening new connection"
cider-20150909.2242, following is the flood from *Messages* when opening a new nrepl connection (via ```cider-jack-in```):

    Starting nREPL server via boot repl -s wait...
    nREPL server started on 59801
    nREPL: Establishing direct connection to localhost:59801 ...
    nREPL: Direct connection established
    Invalid face attribute :foreground nil [62 times]
    Invalid face reference: cus

[2015-09-10 10:25] Malabarba commented on #1311
Thanks for reporting, shold be fixed now.
I'm not sure whether this will those `error in process filter`. If it doesn't, do let us know.

[2015-09-10 10:26] #1311 closed

[2015-09-10 10:58] bbatsov commented on #1300
If we do this the command will end up doing too much IMO. Finding the balance is always hard. Btw, this is related to the portscanner feature request as well.

[2015-09-10 11:39] mobius-eng opened #1312 "Debug does not work from *cider-scratch*"
If function is defined in `*cider-scratch*`, for example

[code]

Doing `C-u C-M-x` evaluates it without the problem. But if the expression

[code]

is evaluated (either in `*cider-scratch*` (with either `C-j` or `C-x C-e`) or in REPL), it produces an error:

[code]

If the same function is in a proper file in the project, debugging proceeds normally.

If the function definition is evaluated witho

[2015-09-10 13:00] Malabarba commented on #1312
Yes I had that too. I pushed a fix yesterday so it should be on Melpa already.
Could you try again with the latest version?

[2015-09-10 13:26] mbuczko commented on #1311
well, with cider-20150910.418 output has been reduced to:

    Invalid face attribute :foreground nil [1167 times]
    error in process filter: nrepl--pp: Wrong type argument: stringp, (dict "arglists" (("this")))
    error in process filter: Wrong type argument: stringp, (dict "arglists" (("this")))
    error in process filter: Quit [2 times]

and Emacs still gets frozen for a few minutes.

[2015-09-10 13:37] bbatsov commented on #1311
Seems that there's some expection in `nrepl--pp`. You can add a breakpoint there and debug it as mentioned the "Troubleshooting" section of the README.

[2015-09-10 14:52] aamedina opened #1313 "Issue with cider-connect after remote REPL connection dies on OS X"
Steps to reproduce on OS X with latest CIDER available on Emacs:

1.) Start an nREPL server somewhere waiting for connections.
2.) M-x cider-connect to connect to it, providing the proper host and port if necessary.
3.) Close the nREPL server connection by killing the process. (C-c works) Now restart it.
4.) M-x cider-connect will pop open a new CIDER REPL buffer successfully, but when you attempt

[2015-09-10 15:13] Malabarba commented on #1313
Could you issue a M-x toggle-debug-on-error?
This will cause a backtrace to pop up when that error happens.

[2015-09-10 16:02] kostafey opened #1314 "Cider freezes on jack-in"
When I run `cider-jack-in`, emacs freezes on infinite loop.
`cider-20150910.418`

Here is `*Messages*` log:

[code]

UPD: looks loke dublicate #1311.

[2015-09-10 16:38] aamedina commented on #1313
The backtrace is for (error "Selecting deleted buffer"), triggering immediately after calling cider-find-connection-buffer-for-project-directory, which returns a "killed buffer".

[2015-09-10 16:50] Malabarba commented on #1313
@aamedina could you copy paste the backtrace here? :)

[2015-09-10 16:53] Malabarba commented on #1314
CLosing as duplicate then. (Try upgrading cider again).

[2015-09-10 17:04] cichli commented on #1314
@Malabarba I'm getting this too on master. The problem is that `nrepl--pp` assumes every nREPL dict has an `id` slot, which is only true for requests and responses. Got a fix pushed to my fork, just letting it pass on Travis before pushing to origin...

[2015-09-10 17:09] #1314 closed

[2015-09-10 17:59] Malabarba commented on #1314
@cichli Indeed! Thanks.

[2015-09-10 18:16] Peeja commented on #453
It would make sense in my head to keep track of a "current" (default) connection for a buffer, just as there's now a default connection globally. (Ideally, I'd actually want everything in Cider to use *that* connection, and to see that connection in the modeline. `cider-rotate-default-connection` could then operate locally to rotate the *project*'s connection.)

[2015-09-10 18:16] bbatsov commented on #1314
Maybe we should have used something else for the cache, as those dicts in general are supposed to represent requests and responses.

[2015-09-10 18:18] bbatsov commented on #453
This is pretty much the case even now. After the ton of recent changes we did recently this ticket is obsolete (the current connection is determined from the current buffer anyways).

[2015-09-10 18:18] #453 closed

[2015-09-10 18:21] Malabarba commented on #1314
At first I wanted to use hashmaps or alists.
When I started coding the feature I decided to wait and see what would be more appropriate, and in the end the dicts just stuck around. (I don't explictly create the dicts, that's just how the nrepl reads the clojure hashmaps).

[2015-09-10 18:23] Malabarba commented on #453
And for the record, the function to use is `(cider-current-connection)`.

[2015-09-10 18:37] Malabarba commented on #1313
I just fixed a bug I was getting with dead buffers here as well. It may have fixed yours too. Let us know after upgrading from Melpa in a couple of hours.

[2015-09-10 19:37] Peeja commented on #453
Oh, awesome, I'm just behind the times, then. Glad to hear it! :)

[2015-09-10 20:00] aamedina commented on #1313
I upgraded and the problem remains.

[2015-09-10 20:11] Malabarba commented on #1313
@aamedina Just to be sure, did you restart Emacs after upgrading?

If so, then it would really help to see the backtrace you get.