[2015-12-23 19:15] cap10morgan commented on #1480
The combination of 5b450b33a7dfb644b47bac3fa070ac955f945f43 and 83b53804c6914a6500f5fe8935bcefbf0fd8040f seem to fix this.

[2015-12-23 19:23] cap10morgan commented on #1472
I am unable to reproduce this in my local v0.10 branch where I've backported all the fixes on master since 0.10.0 was released. So hopefully it's fixed there.

[2015-12-23 19:26] cap10morgan commented on #1481
@bbatsov It looks like all the fixes are backported now and both `cider-restart` and `cider-quit` seem to be working just fine. Once there's a branch for my `v0.10` PR to target over here, I'll issue it.

[2015-12-23 19:35] pesterhazy commented on #1482
@bbatsov, sure! I've updated to current lein/nrepl and created an empty project, but the issue persists.

There are two buffers labeled "nrepl messages" (1.txt, 2.txt). I'm also attaching the relevant section of my messages (3.txt).

[1.txt](https://github.com/clojure-emacs/cider/files/71177/1.txt)
[2.txt](https://github.com/clojure-emacs/cider/files/71178/2.txt)
[3.txt](https://github.com/clojure

[2015-12-23 19:36] pesterhazy commented on #1482
Also, this is in latest spacemacs (if that matters).

[2015-12-23 19:44] bbatsov commented on #1481
I've just pushed the `v0.10` branch.

[2015-12-24 07:21] jgeraerts commented on #1482
same issue here with cider 0.10.0 on "GNU Emacs 24.5.1 (i686-pc-mingw32)\n of 2015-04-11 on LEG570"

[2015-12-24 12:40] #1479 closed

[2015-12-24 16:03] lvh commented on #1268
@sp3ctum: Could you check if the above repro works for you?

[2015-12-24 19:45] #1452 closed

[2015-12-24 20:15] cap10morgan commented on #1481
This is fixed on master and will be fixed in v0.10.1 too.

[2015-12-24 20:15] #1481 closed

[2015-12-25 14:31] rfkm commented on #1482
I think the cause of this issue is that nrepl client unexpectedly picks up an old session id.
The easiest way to fix this is to add `(setq nrepl-session nil)` into `cider-repl-create` function.

[2015-12-25 14:52] rebcabin commented on #961
I am back to Clojure after being away for several months (partly because I hoped this topic would settle down while I was away -- I could play with Common Lisp or C++).  It's still here.  I just did a fresh install of emacs, spacemacs, leiningen, and bingo-bango this old horror is still here

[code]

[2015-12-25 19:15] Malabarba commented on #961
The warning was telling you to use `[refactor-nrepl "2.0.0-SNAPSHOT"]`, not `[refactor-nrepl "1.1.0"]`. ;-)

[2015-12-25 20:11] asampal opened #1484 "Warning during compilation when installing"
I get the following warning during compilation:

[code]

[2015-12-25 21:26] bbatsov commented on #1482
Yeah, we should make sure both the normal and the tooling sessions are reset for the reused REPL buffer. @rfkm feel free to submit a PR. I'm pretty sure this problem was introduced recently. Maybe we should search with bisect for the problematic commit.

[2015-12-25 21:26] bbatsov commented on #1484
You have to update `clojure-mode`.

[2015-12-25 21:26] #1484 closed

[2015-12-25 21:34] bbatsov commented on #961
`refactor-nrepl` is not part of CIDER, but its warning messages kind of blend in with the rest of the warnings and many people are confused which warning is coming from where...

[2015-12-26 01:48] Malabarba commented on #1482
It was probably introduced when I made the send-request function automatically add the session parameter to the request.
I agree with the suggestion of how to fix it, but I think we should also set that variable to nil in the process sentinel.

[2015-12-26 05:32] sp3ctum commented on #1268
Hi guys, I just tried with @lvh 's repro instructions, and could reproduce everything just like he said.

[code]

On Windows 7, did not use rlwrap :)

[2015-12-26 05:54] sp3ctum commented on #1268
Actually I can reproduce this in another project. I never used the feature with cljs so I must have missed the fact it did not work.

[2015-12-26 07:01] bbatsov commented on #1482
And the `nrepl-tooling-session`.

[2015-12-26 09:42] agzam opened #1485 "Functions bound to keys in documentation"
Would it be possible to add function names to documentation next to keyboard shortcuts for those who use Spacemacs or other distributions of Emacs based on evil mode. That would be amazing. Thanks.

[2015-12-26 09:49] bbatsov commented on #1485
You can simply see what the keybindings are bound to with `C-h k`. Or even better - see the bindings in a particular mode with `C-h m`.

[2015-12-26 10:13] agzam commented on #1485
Yeah I know, it's just CIDER is quite amazingly has quite number of things that I thought would be easier to discover right from the docs. After posting my initial question I realized what you have in docs actually a convention widely used in Emacs. I guess function names often change, keybindings less so.

[2015-12-26 10:13] #1485 closed

[2015-12-26 19:32] rebcabin commented on #961
Ooops, right -- I read the refactor-nrepl repo page instead of (deep into) the warning to get the version number.  That fixed it, and I'm grateful for your sharp eyes.

[2015-12-27 00:08] jeffvalk opened #1486 "Regression in stacktrace font-locking"
401e819 changed uses of `face` to `font-lock-face`, including [here](https://github.com/clojure-emacs/cider/blob/546de8f6f2e68f6854e3363e8da94fb5ce1225d2/cider-stacktrace.el#L506-L507). This may have fixed a larger font-lock compatibility issue, but it disabled font-locking of stack frame detail: the `face` set [here](https://github.com/clojure-emacs/cider/blob/546de8f6f2e68f6854e3363e8da94fb5ce12

[2015-12-27 00:13] #1486 closed

[2015-12-27 00:16] bbatsov commented on #1486
It's amazing no one noticed this for over one year.

[2015-12-27 00:16] bbatsov commented on #1486
You might want to mention the fix in the changelog as well.

[2015-12-27 00:51] jeffvalk commented on #1486
That's what I thought too. Maybe everyone is just conditioned to ugly errors. For all Clojure's awesomeness, errors are still not sane.

On the other hand, the updates to to CIDER in the last year are really fantastic. Seriously great stuff!

[2015-12-27 08:02] #1482 closed

[2015-12-27 08:13] crocket opened #1489 "auto-completion breaks after moving to a new namespace on a CLJS REPL."
After launching a CLJS REPL, auto-completion works well.
But, after moving to a new namespace with such a command as (ns something.core), auto-completion breaks for many namespaces.

[2015-12-27 08:17] bbatsov commented on #1489
Are we talking about built-in auto-completion or some third-party package?

[2015-12-27 08:19] crocket commented on #1489
What do you mean by third-party package?

[2015-12-27 08:22] alexander-yakushev opened #1490 "cider-inspect pops up even when evaluation fails"
When I inspect some expression, and the expression throws an exception instead of returning a value, the inspector is still shown with the contents of the previous successful inspection.

Expected behavior: inspector shouldn't appear, only the *cider-error* buffer.

[2015-12-27 08:54] bbatsov commented on #1489
Third-part completion package - auto-complete-mode, company-mode, etc

[2015-12-27 08:59] crocket commented on #1489
Nope, I reproduced the issue on nrepl-figwheel-node-template without any third party auto-completion package.

[2015-12-27 09:57] bbatsov commented on #1489
@cichli Can you take a look at this, please?

[2015-12-27 13:13] crocket commented on #1489
1. If I use company mode, the issue doesn't occur.
2. The issue is with built-in auto-completion.

[2015-12-27 14:02] crocket commented on #1489
According to my test,
* After pressing `C-c M-n` in a cljs file, `cljs.repl/doc` is not displayed in auto-completion.
* After executing `(ns something.core)`, `cljs.repl/doc` is not displayed in auto-completion.
* After executing `(ns something.core (:use-macros [cljs.repl :only [doc]]))`, `cljs.repl/ TAB` displays the full content of its namespace.

[2015-12-27 14:14] cichli commented on #1489
Including conversation from Slack for more context:

[code]

[2015-12-27 17:44] bbatsov commented on #1420
@jeffvalk You might take a look at this, if you'd like.

[2015-12-27 18:48] cichli commented on #1420
I think the ideal solution to this would be one that doesn't rely on checking `*e` at all - since it could be altered from underneath us by other evaluations, and we obviously don't want to be altering it ourselves.

If we had a way of getting nREPL to convey exception values to our middleware, it could then work generically for either exceptions thrown by an eval or exceptions thrown by other mid

[2015-12-27 19:14] jeffvalk commented on #1420
Haven't looked at this closely, but at one point I did bake up a middleware that wraps `eval` and returns errors and compiler warnings as data. If that might be useful, I'll resurrect it.

[2015-12-27 19:18] jeffvalk commented on #1420
Also, does anyone have a code example to illustrate the problem? If I just send `nrepl-send-sync-request` something that produces an error, like:
[code]
the middleware seems to work fine.

[2015-12-27 19:21] bbatsov commented on #1420
The problem is an error that occurs in a non-eval operation - e.g. macroexpansion.

[2015-12-27 19:22] bbatsov commented on #1420
Try the macroexpand command on this (`|` indicates your cursor position):

[code]

[2015-12-27 19:23] cichli commented on #1420
Yeah, try something like:

[code]

[2015-12-27 19:28] jeffvalk commented on #1420
Got it. Thanks.

[2015-12-27 20:15] jeffvalk commented on #1420
Is macroexpansion a special case? Or are there other middleware components that cause this?

Macroexpansion obviously has to handle arbitrary (possibly invalid) user code like `eval`. But other than these two, middleware should deal with reasonably defined inputs, I think. If so, adding session support for grabbing `*e` from macroexpansion seems the reasonable thing here.

Thoughts?

[2015-12-27 20:29] bbatsov commented on #1420
All non-eval middleware (e.g. completion, var-info, etc) we have suffer from this, so this should be added to all of them. Seems that the current state of things is just an oversight of ours - we didn't use the session in most middleware and this is the biggest problem...

[2015-12-27 20:42] jeffvalk commented on #1420
I see your point. But practically speaking, how would var-info or completion require presenting a stacktrace to a user? An unhandled error there is a bug in CIDER, isn't it?

[2015-12-27 23:44] bbatsov commented on #1420
Well, it might a bug and it might be some situation that we can't do anything sensible about. At any rate - it'd be better to handle such exceptions the same way we handle eval exceptions. We can really suppress them, as this would make fixing the real issues too hard, and we can't really expect that everything will always work perfectly.

[2015-12-28 05:03] malloc82 opened #1492 "cider-connect issue"
I usually like to start a lein repl in terminal, then connect to it.
Pre v0.10, if the repl in the terminal got restarted, I just have to do another cider-connect, and the previous cider-repl buffer will be automatically reused.
After v0.10, when I try to reconnect using cider-connect, I get the following messages:
[code]
So usually I have to kill the zombie cider-repl buffer, in order to have a n

[2015-12-28 07:40] bbatsov commented on #1492
This is a duplicate of https://github.com/clojure-emacs/cider/issues/1482

We'll try to release a 0.10.1 by the end of the week, which will feature this fix.

[2015-12-28 07:40] #1492 closed

[2015-12-28 07:42] malloc82 commented on #1492
thanks

[2015-12-28 07:47] bbatsov opened #1493 "Eldoc is missing for special forms"
There's no eldoc for special forms like `if`, `def` and `throw`. Seems like some regression to me (or a glaring oversight if we never had it).

[2015-12-28 12:47] J2112O opened #1494 "cider-jack-in does not start repl"
Hi. I am new to learning Clojure with emacs. I am trying to get the repl up and going with cider-jack-in but it does not seem to be starting. In the mini buffer the only message displayed is Starting nREPL server via lein repl :headless ... And it just sits there and never starts up, that I can tell. I thought the issue was due to using emacs-24.3 but I have upgraded to emacs-24.4 and the problem

[2015-12-28 18:21] Malabarba opened #1495 "Evaluating things before -jack-in is done throws an ugly error"
It's a small thing, but if the user runs `cider-jack-in` and then tries to evaluate something before the connection is established, they'll get a `Wrong type argument: stringp, nil` error.
Ideally, they'd get a `user-error` instead, saying something like "still waiting for the JVM to start so we can start a REPL".

[2015-12-28 18:22] Malabarba opened #1496 "Add a print-method for atoms"
Filing this here mostly so I don't forget, but anyone is free to try it as it should be pretty trivial.

[2015-12-28 18:24] bbatsov commented on #1495
Agreed. This should be simple to implement.

[2015-12-28 20:06] #1435 closed

[2015-12-28 20:28] jeffvalk commented on #1435
With this, we've now subsumed essentially all of the test running functions of `clojure.test` into `cider-test` other than fixtures. It's compatible with the original, but it's not really the original anymore.

[2015-12-29 00:31] jeffvalk commented on #1379
Anyone still seeing an error here? Neither of the repro cases above cause any misbehavior for me.

[2015-12-29 03:52] RadicalZephyr commented on #1379
I just updated to latest cider and still see the error with the macro generated test.

for reference here's the macro code used to generate the `end of buffer` error.

[code]

[2015-12-29 07:42] bbatsov commented on #1494
What cider version are you using?
What's your lein version?
Do you get any error messages?

We need more information to be able to help you.

[2015-12-29 13:41] expez commented on #1490
This might be related to https://github.com/clojure-emacs/cider/issues/1420?

[2015-12-29 13:47] jeffvalk commented on #1379
Ok, reproduced it. The `(defsite-tests)` call needed to be the last thing in the buffer to get the error. I'll look into this.

[2015-12-29 15:22] jeffvalk commented on #1379
@ RadicalZephyr Congrats. You were apparently the first person to run a (non-passing) test that didn't have whitespace before the form.

[2015-12-29 15:22] #1379 closed

[2015-12-29 17:39] #1490 closed

[2015-12-29 18:14] alexander-yakushev commented on #1490
Thanks a lot!

[2015-12-30 01:01] RadicalZephyr commented on #1379
Fun! thanks @jeffvalk

[2015-12-30 04:56] malloc82 opened #1497 "cider marks wrong line for error in source code"
It seems that cider error has been consistently marking the wrong line in source code, here is an example: ![example](https://cdn.img42.com/f8f5f8fb32ac4bfc270a7dab1005fdbc.png)

cider-error has report the error at line 197, and it is correct. But in the source code line 196 gets marked.

[2015-12-30 09:01] bbatsov commented on #1497
Could it be you changed the code and didn't re-evaluate it?

[2015-12-30 09:19] malloc82 commented on #1497
Couldn't reproduce it at the moment, but it did came up quite often today.

No, I didn't change the source file after the error pops up. The screenshot was taken right after the cider-load-file command. Even if I change the source file, the red mark should follow that line as well.

Although it shouldn't matter, that problem occurred on a RedHat 6.5 machine. I'm using Mac at the moment.

[2015-12-30 13:22] ivermac commented on #1494
Hey @J2112O, I'm also a clojure and emacs newby - in fact I installed emacs and cider today - and I found [this link](http://clojure-doc.org/articles/tutorials/emacs.html) really helpful to get you up and running. I was also having problems having to run the repl but the url helped me. Hope this helps!

[2015-12-31 10:14] crocket opened #1498 "`js` namespace is not available for auto-completion on `(cemerick.piggieback/cljs-repl (cljs.repl.node/repl-env))`."
**Steps to reproduce:**
- Create a leiningen project
- Add `clojurescript` and `cemerick.piggieback` as dependencies
- Launch a cider clojure REPL
- Execute `(cemerick.piggieback/cljs-repl (cljs.repl.node/repl-env))` to launch a nodejs REPL.
- Type `js/` and press `TAB`

**Expected Result:**

Auto-completion should show me a list of variables in `js` namespace.

**Actual Result:**

I see nothing.

[2015-12-31 10:34] gja opened #1499 "Cider no longer prints stuff to the repl"
I've just upgraded from cider 0.8.0 and 0.10.0, and this seems to be a change in the default behaviour. 0.8.0 used to print stdout to the repl buffer.

For some reason, it goes into this other buffer called *nrepl-messages*.

Is there some way to get stdout/stderr back on the repl? If so, is there documentation for it?

It seems at least one other person has faced this issue (and they stopped usin

[2015-12-31 10:45] bbatsov commented on #1499
There has been no such change. Post here steps to reproduce your problem.

On Thursday, 31 December 2015, Tejas Dinkar <notifications@github.com>
wrote:

[2015-12-31 11:02] gja commented on #1499
Interesting. I just assumed this was intentional. Did a bit of debugging.

Looks like I have an old version of nrepl (0.2.5). I just upgraded this to 0.2.10 and this suddenly started working.

Sorry for the false bug.

[2015-12-31 11:02] #1499 closed

[2016-01-01 22:17] pesterhazy commented on #1482
Confirming that the fix in master works. Thanks for the fast response! :)

[2016-01-02 15:46] borgauf commented on #961
I've got

    WARNING: CIDER requires nREPL 0.2.12 (or newer) to work properly
    WARNING: The following required nREPL ops are not supported:
      format-code format-edn ns-path refresh
      Please, install (or update) cider-nrepl 0.11.0-SNAPSHOT and restart CIDER
    WARNING: CIDER's version (0.11.0-snapshot) does not match cider-nrepl's version (0.8.1). Things   will break!

This is from the

[2016-01-03 06:24] malloc82 commented on #1497
Interestingly, I think it's platform related. With the same code base, and the same emacs setting, the issue will show up on RedHat 6.5 but not on Mac. So far it seems that the problem only happens in loop bindings.

[2016-01-03 09:52] bbatsov commented on #1497
If this happens right after `load-file`, it's likely a bug in Clojure, not in Cider.

[2016-01-03 12:48] mattiasw2 commented on #390
I do not really understand why this issue was closed. It is a big problem, and it is not solved in Emacs 24.5 for Windows.

I currently use this workaround in .emacs

[code]

[2016-01-03 12:49] bbatsov commented on #390
It's closed because it's not a cider issues, it's an Emacs issue.

[2016-01-03 12:53] mattiasw2 commented on #390
Ok, but maybe we should at least tell users about a workaround? The hanging java-processes will kill the machine, and a generic command like "pskill java" will also kill databases like datomic and cassandra.

[2016-01-03 13:40] bbatsov commented on #390
I'd normally just inspect all Java processes and kill the relevant ones. As repl restarts are uncommon I don't think this is major issue anyways.

`cider-repl-mode-map`.

[2016-01-03 19:07] Malabarba commented on #1497
Back when I was messing with this stuff a bit, I definitely noticed a lack of consistency. Some errors would report the correct line, while others would be off by exactly 1.
It might be a discrepancy between the way we count lines and the way clojure.lang.Reader counts lines. Sometimes the line information is provided by us (regular eval), and sometimes it is provided by the reader (load-file).

[2016-01-04 18:00] cap10morgan commented on #1486
I'm trying to test that this is fixed in the v0.10 branch, but I'm not 100% sure how to reproduce it. Can someone post some simple reproduction steps? Thanks!

[2016-01-04 18:06] cap10morgan commented on #1435
Testing for v0.10 branch, but not sure how to reproduce. @bbatsov looks like the "following code" is missing?

[2016-01-04 18:13] jeffvalk commented on #1486
If the file, line number, namespace/class, and function/method for stacktrace frames all appear with the same face, you're seeing this issue. If the function name is in bold and the ns is fontified as a comment, you're seeing the fix.

[2016-01-04 18:16] cap10morgan commented on #1486
@jeffvalk Thanks, looks good in that case.

[2016-01-04 18:45] jeffvalk commented on #1435
Previously, all test results showed an "expected" and "actual" value. Now these should be reported specifically to the outcome:

[code]

[2016-01-04 18:57] cap10morgan commented on #1435
Great, thanks @jeffvalk. This one looks good in v0.10.1 too.

[2016-01-04 22:35] cap10morgan opened #1503 "Error when clicking on stacktrace line in test report in v0.10 branch"
## Steps to reproduce

1. Run a failing test (an exception outside of an assertion is what I tried; not sure if it's limited to that or not).
1. Click on the `error: [stacktrace line]` button.

## Expected behavior

Displays the cider-error buffer.

## Observed behavior

If debug-on-error is on, displays this Emacs stacktrace:

[code]

The cider-error buffer still comes up and seems to work, thoug

[2016-01-05 01:29] jeffvalk commented on #1503
@cap10morgan That looks like what would happen if the stacktrace is rendered into a buffer that doesn't have buffer-local variables set (i.e. isn't in `cider-stacktrace-mode`). Have you pulled a7e5671ac81d573a56931d21757455feab558a3f into this branch?

[2016-01-05 01:49] cap10morgan commented on #1503
@jeffvalk No it was not. I'll pull that in and test. Thanks!

Should that get a changelog entry?

[2016-01-05 01:52] cap10morgan commented on #1503
Yep, that fixed it. Thanks, @jeffvalk!

[2016-01-05 01:52] #1503 closed

[2016-01-05 14:20] vadali opened #1504 "Strange slowness when scrolling using spacemacs"
Hey,
I have a strange problem...

I recently shifted from prelude to spacemacs. When I open a clojure file through tramp (which my main mode of work), and I scroll the buffer (moving up/down lines) emacs becomes very unresponsive. Sometimes taking 10-20 seconds (!!) to scroll to the next line (this doesnt happen if the file is local).

If I disable cider-mode for that buffer, then I dont get such

[2016-01-05 15:07] vadali commented on #1504
ok, a small update, if I connect to a running nrepl, I dont experience the lag. The moment I disconnect (and enable cider-mode) the lag comes back!

[2016-01-05 15:07] robert-stuttaford opened #1505 "Printing Datomic entities incorrectly"
Cider 11-SNAPSHOT's `*cider-result*` appears to be printing `#object[datomic.query.EntityMap "0xXXXXXX" "<a pr-str'd representation of the data>"]` instead of the normal map output we got before.

[2016-01-05 15:45] Malabarba commented on #1505
Could you also check whether this happens in cider-nrepl-0.10.0? You don't need to reinstall cider.el or anything. Just change the cider-nrepl version to "0.10.0" in your `project.clj`/`profiles.clj`.

[2016-01-05 16:07] robert-stuttaford commented on #1505
I'm fairly sure it doesn't: I've been using 10 since SNAPSHOT. Switched to 11-SNAPSHOT today, got the error. I'm happy to check if you need me to confirm.

[2016-01-05 16:59] bbatsov commented on #1494
Closing due to lack of response.

[2016-01-05 16:59] #1494 closed

[2016-01-06 07:46] bbatsov commented on #1498
@cichli Can you take a look at this, please?

[2016-01-06 12:20] cichli commented on #1505
Does the issue still occur if you `(setq cider-pprint-fn 'pprint)`? (I'm assuming you're using one of the `cider-pprint-` commands). This might be because we've changed the default pretty-printer to `fipp`.

[2016-01-06 14:05] cichli commented on #1498
I've looked at this before, with an enhancement to the CLJS compiler we could at least provide completion of externs - http://dev.clojure.org/jira/browse/CLJS-1047.

General completion of everything in the JS runtime requires `eval` which might block the REPL, or block if there's an `eval` op already running. The completions would also only be known to be valid at REPL-time, whereas in general the

[2016-01-07 21:45] Malabarba commented on #1505
I've noticed the same thing with other object types. Looks like fipp does not respect print-method definitions. The problem is solved if I change it to pprint.

You can verify this by evaluating `inc` at the REPL.

[2016-01-08 05:39] seanirby opened #1506 "No print output when using "cider-nrepl-sync-request:eval""
Hi,

So I can print to the REPL fine if I'm in a clojure file and I use something like "cider-eval-last-sexp".  But I have an emacs project i'm working on and it's using the cider client to programmatically evaluate some clojure code using "cider-nrepl-sync-request:eval".  I need to debug it, but it's difficult because I currently get no print output whenever I evaluate something through the cider

[2016-01-08 06:30] seanirby commented on #1506
I'm using version 0.11.0

[2016-01-08 07:16] bbatsov commented on #1506
What do you mean by "I get no output"?

[2016-01-08 07:22] seanirby commented on #1506
I'm trying to evaluate a defn that prints to the repl.  When using 'cider-eval-last-sexp' the repl gets printed to as expected.  When the defn gets run programmatically through 'cider-nrepl-sync-request:eval' there is not print output in the repl.

[2016-01-08 07:57] bbatsov commented on #1506
Sync eval requests don't result in REPL output - they return their output in the response map and you're supposed to do with it whatever you like.

[2016-01-08 08:09] malloc82 commented on #1497
Just want to correct my previous statement a bit: I just had another case in let binding. This is after issuing C-c C-c, cider-eval-defun-at-point.

[2016-01-08 08:22] malloc82 commented on #1497
Also, all cases I encountered so far are all inside defrecord's method implementation.

[2016-01-08 08:53] seanirby commented on #1506
Im OK with the fact that the RESULT of the eval sync request is not sent to the REPL.  That's expected.  But if I have added "(println 'foo)" somewhere in my code then I expect that to print 'foo to the output stream when its evaluated.  It's not clear to me why printing to the output stream should be suppressed with a sync-request.

[2016-01-08 09:03] avli commented on #1456
+1

[2016-01-08 09:10] seanirby commented on #1496
I'd like to take a look, could you give some details?

[2016-01-08 10:16] robert-stuttaford commented on #1505
I have done as @cichli recommended and set `(setq cider-pprint-fn 'pprint)`. I've tested a Datomic entity and it prints as I would expect it to. Thanks!

[2016-01-08 11:21] seanirby commented on #1496
Oh, I see,that the work needs to be done in the cider-nrepl repo, not this one.

[2016-01-08 12:48] bbatsov commented on #1505
Still, we have to fix this for `fipp`.

[2016-01-08 12:49] robert-stuttaford commented on #1505
True, sorry, I shouldn't have closed it!

[2016-01-08 13:03] seanirby commented on #1496
Current print-method for an Atom is here:
https://github.com/clojure/clojure/blob/bc186508ab98514780efbbddb002bf6fd2938aee/src/clj/clojure/core_print.clj#L387-L408

Which looks like:
[code]
It looks like ':status' will always be ':ready' for an atom since atoms do not implement the "IPending" interface.  I propose we drop this information in the new print method since it's not useful.  New print o

[2016-01-08 13:07] Malabarba commented on #1496
I think it looks nice. What do you think @bbatsov? Shall we ask for a PR?

[2016-01-08 13:09] bbatsov commented on #1496
Yep. I like it.

[2016-01-08 13:18] Malabarba commented on #1506
It shouldn't.
It's probably just a flaw in our sync requests response handler.

As a momentary workaround, is it possible for you to use regular requests instead?

[2016-01-08 13:18] cichli commented on #1506
Nothing is being suppressed. The REPL buffer in CIDER is not a literal output stream - CIDER appends output to it as it receives it for async eval requests.

[code]

As you can see, the output is there under the `"out"` key of the response dict. If you want that to be printed to the REPL, then you need to do it yourself using `cider-repl-emit-interactive-stdout` (or whatever function you want to u

[2016-01-08 13:29] seanirby commented on #1506
Ah, I wasn't aware of the 'out' key.  Thanks everyone.  Closing.

[2016-01-08 13:29] #1506 closed

[2016-01-08 13:36] cichli commented on #1506
No problem :-). Also be aware of the `err` key for `*err*`, and the fact that sync requests return as soon as they receive a message with `:status :done` - so if your expression prints stuff after it returns a value (e.g. `(future (Thread/sleep 1000) (println "hi!"))`, then that output will be lost.

[2016-01-08 15:26] Malabarba commented on #1473
Hi @xihan.
Thanks for reporting this. I know I said I had also noticed some issues when trying to debug routes, but now that I'm looking into it I think I was mistaken.

For instance, if I define this route:

    (GET "/foo/:id" [id] (println "Id was" id))

Debugging works fine. (that is, I can debug it and when the route is triggered I can correctly step through the entire `(println "Id was" id)`

[2016-01-08 16:09] Malabarba commented on #1456
Fixed locally. Will push when I'm back from holiday.

[2016-01-09 01:28] camelpunch commented on #1462
Bump. I've found that `(boot.core/load-data-readers!)` removes the error, but doesn't cause C-M-x to jump into the debugger when a `#break` is present.

[2016-01-09 05:13] johnv02139 opened #1507 "would like show-maximum-output to be optional"
I understand the appeal of "show-maximum-output" and that it should be the default setting, but I'd like to be able to easily disable it.  I'd like to add a defcustom variable for it, and have cider-repl--show-maximum-output check the variable and do nothing if it's set to nil.

[2016-01-09 07:14] avli commented on #1456
@Malabarba Many thanks!

[2016-01-09 18:01] bbatsov commented on #1496
Fixed in https://github.com/clojure-emacs/cider-nrepl/pull/284

[2016-01-09 18:01] #1496 closed

[2016-01-09 19:21] Malabarba commented on #1462
@camelpunch There are some places where a `#break` doesn't work, so that might be unrelated to boot. Could you see if it works for you by hitting `C-M-x` in the following snippet?

[code]

[2016-01-09 20:17] cap10morgan commented on #1480
@hugoduncan Is this fixed in 0.10.1?

[2016-01-09 20:35] edmondo1984 commented on #1323
my emacs doesn't hang but he keeps showing input not complete, I can't get out from there hitting escape or c+g, what do you suggest?

[2016-01-09 20:43] cap10morgan opened #1509 "ClojureScript buffers not sending cider commands to CLJS REPL"
I could have sworn this was working at one point in the development of 0.10.1, but now it's not.

**Steps to reproduce:**

1. Run `lein new figwheel cider-cljs -- --om`.
1. Add `:profiles {:dev {:dependencies [[com.cemerick/piggieback "0.2.1"]
                                  [org.clojure/tools.nrepl "0.2.12"]]}}` to `project.clj`
1. Open `src/cider-cljs/core.cljs` in Emacs.
1. Hit `C-c M-J` in t

[2016-01-09 22:28] hugoduncan commented on #1480
@cap10morgan Seems to be fixed in HEAD.  Haven't tried 0.10.1.

[2016-01-09 22:37] Malabarba commented on #1509
What's the value of the variables `cider-repl-type` and `nrepl-project-dir` in each of your repl buffers?

[2016-01-09 22:50] cap10morgan commented on #1509
`cider-repl-type` is `clj` in the CLJ REPL and `cljs` in the CLJS REPL.

`nrepl-project-dir` is `~/cider-cljs/` (the correct path to the project root) in both REPLs.

[2016-01-09 23:14] Malabarba commented on #1509
Ok, that's what it should be. So the problem is probably in cider-load-buffer or in cider-current-connection.
I can't debug it right now (due to bad internet I can't even check out the 0.10.1 branch), but the next step will be to edebug these two functions and figure out what goes wrong.

[2016-01-10 20:59] bbatsov commented on #689
One more idea about the manual's format - https://github.com/GitbookIO/gitbook

I kind of like this, as we'll be able to generate both a website and an epub book.

[2016-01-11 03:54] vermiculus commented on #689
Ah I remember that project… it worked pretty well a few years ago. You'd likely lose the Texinfo functionality, though.

[2016-01-11 09:15] camelpunch commented on #1462
Yes, that works. Thanks!

[2016-01-11 11:29] blueberry opened #1510 "Display images of various format generated by clojure code in dedicated buffers or inline in the REPL"
Bozidar mentioned that he already has this Idea, but I imagine that it is not high priority now.

I am opening this issue to hear thoughts from other interested users. I would implement that if I wasn't total elisp beginner, but am willing to take on this if in the future (currently I only have tiny time for learning elisp, so that won't be soon! :)

[2016-01-11 12:51] bbatsov commented on #1510
Basically the value handlers (the code that deals with return values) should check if the type of some return value is an image and process this differently.

[2016-01-11 13:53] Malabarba commented on #1462
If anyone here uses boot, I'd still like to know if there's any way to load forms on startup. Even if there's no way for cider to do it, we should add instructions to the Readme.

@alexander-yakushev You've been using boot lately, haven't you?

[2016-01-11 14:49] alexander-yakushev commented on #1462
I can confirm that doing `(boot.core/load-data-readers)` fixes the problem and the debugger works. Boot only provides an option to provide `:eval` form but only for the client — it doesn't work if REPL is started in server mode.

@Malabarba RE: debugger. Holy maker of pepperoni, I just tried it for the first time and it's frigging amazing! I didn't know I've been missing so much :).

[2016-01-11 17:39] Malabarba commented on #1462
@alexander-yakushev Thanks ^^

I guess the best we can do then is load this form as part of cider-nrepl if the symbol `boot.core/load-data-readers` resolves to a var. @bbatsov what do you think?

[2016-01-11 17:41] bbatsov commented on #1462
I think it's a reasonable approach and I've heard no other suggestions, so let's get this done.

[2016-01-11 18:17] alexander-yakushev commented on #1462
I object, your honor.

First, boot.core/load-data-readers does nothing more but reloading readers
and setting root of *data-readers* to it.

Second, that fails when evaluated at the same time as middleware init,
because apparently Boot runs those in a separate thread, and I get 'setting
from non-binder thread' exception.

On Mon, Jan 11, 2016, 19:41 Bozhidar Batsov <notifications@github.com>
wrote

[2016-01-11 19:34] bbatsov commented on #1462
OK, I guess we're back to the drawing board then. :-)

[2016-01-11 19:34] bbatsov commented on #1462
@Malabarba Maybe we should at least document this problem somewhere?

[2016-01-11 19:37] micha commented on #1462
If there's anything I can do to help let me know. (I'm mostly a Vim user
though.)

--
Micha Niskin

On Mon, Jan 11, 2016 at 2:34 PM, Bozhidar Batsov <notifications@github.com>
wrote:

[2016-01-11 19:38] alexander-yakushev commented on #1462
@micha How about having a separate `:eval` option that is evaluated by server rather than the one invoked by REPL client?

[2016-01-11 21:33] Malabarba commented on #1462
@micha It would be great if `data_readers.clj` was loaded by default when a boot REPL is started. The Clojure documentation states that this file is loaded automatically, so I think it makes sense for the REPL to behave the same way.

[2016-01-12 06:57] bbatsov commented on #1462
Yeah, that'd be a dream solution. :-)

[2016-01-12 09:05] gdanov opened #1511 "clj repl is associated with cljs buffer"
Using latest cider+helm+projectile+pespective

some debug info for the cljs buffer:
- nrepl-project-dir -> nil
- cider-repl-type -> clj

[2016-01-12 09:51] bbatsov commented on #1511
What do you call latest - snapshot or 0.10.1?

[2016-01-12 09:58] gdanov commented on #1511
snapshot: cider              20160104.1114

[2016-01-12 12:51] Malabarba commented on #1511
Those two variables are only relevant in repl buffers (their values make no difference in source files).

Could you please check the value of both of those variables in your clojure REPL buffer and in your ClojureScript REPL buffer?

[2016-01-12 13:14] gdanov commented on #1511
Of course...but first, steps to reproduce:

* open .cljs buffer via projectile
* C-c M-J
* C-c C-z => switch to the cljs repl
* open .clj file
* in the .clj buffer C-c C-z => switch to the clj repl
* switch to the .cljs buffer, C-c C-z => switch to the clj repl

values:

* in the clj repl
  * nrepl-project-dir => "~/work/playground/crowl/" (correct)
  * cider-repl-type => "clj"
* in the cljs repl

[2016-01-12 14:59] micha commented on #1462
Sure, I can do that. Would you consider it a bugfix or feature? So I know
whether to land it in 2.6.0 or a patch release.

--
Micha Niskin

On Tue, Jan 12, 2016 at 1:57 AM, Bozhidar Batsov <notifications@github.com>
wrote:

[2016-01-12 15:44] Malabarba commented on #1462
I think I'd call it a bugfix, but it could definitely  go either way.

[2016-01-13 11:30] nblumoe opened #1512 "Calling `nrepl-op-supported-p` with wrong number of arguments"
On `cider-jack-in` I get this error:

[code]

using CIDER 0.10.1 (Java 1.8.0_65, Clojure 1.7.0, nREPL 0.2.12), Emacs 24.5.1 on Fedora 23

[2016-01-13 11:37] expez commented on #1512
You're likely running an old version of clj-refactor.  Please update to version 2.0.0-SNAPSHOT, which is the current version available on MELPA.

You can check the version you're running with `M-x cljr-version <RET>`

[2016-01-13 12:26] nblumoe commented on #1512
thanks @expez

I actually had this pinned to maple-stable, same as I have with CIDER.
So far, after upgrading `clj-refactor` and `refactor-nrepl` accordingly, it seems to be back to normal.

Let's hope nothing else pops up from that.. .;)

[2016-01-13 12:26] #1512 closed

[2016-01-15 07:12] petegrif opened #1513 "Can't invoke simple repl with 'lein repl'"
I get a lot of unresolved symbol errors.

[code]

any help gratefully accepted. :)

[2016-01-15 07:17] bbatsov commented on #1513
Some version info would be useful - Clojure, cider-nrepl, etc.

[2016-01-15 08:20] petegrif commented on #1513
cider/cider-nrepl "0.8.1"
clojure "1.7.0"

[2016-01-15 08:46] paomian opened #1514 "The error stacktrace is not enouth"
when i run reload by `C-c C-x`

and i get the error :

[code]

I can't know where is error :confounded: I just know the function `indentity` args nuber is 0

cider version is 0.10.1
cider/cider-nrepl version is 0.10.1

[2016-01-15 09:00] bbatsov commented on #1513
Just a reminder - 0.10.1 is the current stable version. I'm guessing you followed the installation instructions for setting up `cider-nrepl`, right?

[2016-01-15 09:34] petegrif commented on #1513
Yes. It is now 0.10.1. I am now checking it is compatible with CIDER.

On Fri, Jan 15, 2016 at 1:00 AM, Bozhidar Batsov <notifications@github.com>
wrote:

[2016-01-15 09:46] petegrif commented on #1513
Excuse my ignorance but when I list packages to see which version of CIDER
I have i expected to find a clear indication that it was compatible with
the 0.10.1 for the reply but it isn't that clear to me. What i am seeing is
(a) the version is 20160113.2303 which is obviously recent, but (b) I also
see under 'Other Versions' an earlier version 20141120.1746 (installed). I
have no idea if that may b

[2016-01-15 09:54] expez commented on #1513
@petegrif you can do `M-x cider-version <RET>` to get cider to tell you its version information.  If you did `M-x package-list-packages <RET>` you'll get a list of all packages that are available (given the package repositories emacs knows about).  In that list you'll see a few different versions usually.  It's my guess that this is where you're looking now and it's telling you that `20160113.2303

[2016-01-15 09:56] petegrif commented on #1513
Thanks Lars, gradually getting there.  I have managed to mark the package
list but can't figure out how to execute the updates and deletes :(  Where
to I hit the u and the x?  on the line?

On Fri, Jan 15, 2016 at 1:54 AM, Lars Andersen <notifications@github.com>
wrote:

[2016-01-15 10:15] expez commented on #1513
`M-x package-list-packages` then <kbd>U</kbd> followed by <kbd>x</kbd>.  Notice the capital <kbd>U</kbd>.  This will update all installed packages.

[Here's](https://www.gnu.org/software/emacs/manual/html_node/emacs/Packages.html) the relevant page in the manual if you're still stuck.

[2016-01-15 10:22] petegrif commented on #1513
Got it.  Many thanks guys.  So now I've made some progress: all updated and when I'm in Emacs and cider-jack-in I am told I'm connected.  But no repl appears and from bash I still get the errors when invoking the reply by 'lein repl'    Is the 0.11.0 SNAPSHOT version of CIDER compatible with cider-nrepl "0.10.1" as setup in profile.clj  with {:user {:plugins [[cider/cider-nrepl "0.10.1"]]}} or do

[2016-01-15 10:25] expez commented on #1513
You can step CIDER back, if you prefer to run on stable.  That would mean figuring out how melpa-stable works and how to pin packages to a specific version.

Or, you could just run the bleeding edge on the backend as well:

profiles.clj:
[code]

[2016-01-15 12:41] Malabarba commented on #1513
I recommend just removing the Melpa repository from your config, and setting up Melpa-stable instead. Then delete all snapshot packages you have installed, restart emacs, and install the stable versions.

[2016-01-15 16:48] #1473 closed

[2016-01-15 21:50] greghendershott opened #1515 "Font-lock in comments -- as-intended?"
This will probably sound super nit-picky, but I get distracted by words like "not" being bolded in comments. Most modes I use don't try to font-lock inside comments; they're left alone.

By using the awesome [`font-lock-studio`](http://melpa.org/#/font-lock-studio) package, I quickly saw that CIDER is adding to `clojure-mode`s `font-lock-keywords` a value using an `OVERRIDE` value of `append` (as

[2016-01-15 22:07] greghendershott commented on #1515
p.s. To clarify:

- The fact that I'm asking about such a minor issue is a kind of compliment -- a reflection of how awesome CIDER is. :)

- I'd be happy to submit a PR. First I wanted to ask what's intended and wanted.

[2016-01-16 01:32] #1456 closed

[2016-01-16 01:41] rfkm commented on #1509
The 0.10.0 branch seems not to contain https://github.com/clojure-emacs/cider/pull/1477.
I guess this is fixed on master.

[2016-01-16 01:57] Malabarba commented on #1515
I think we can remove the `append` from the `macros`, `functions`, and `vars` entries. We definitely can't remove them from the `deprecated`, `instrumented`, or `traced` entries, because these rules are designed to be used on top of other rules.

I'll play around here. If I don't see any issues I'll push the fix.

[2016-01-16 02:08] #1515 closed

[2016-01-16 03:27] greghendershott commented on #1515
Just to confirm, that works for me. Thank you!

[2016-01-16 05:41] Vastorization commented on #1305
happen again in cider-nrepl 0.11.0-snapshot, can't even connect from cider-connect.

something from *Messages*:
nREPL: Establishing direct connection to localhost:46647 ...
nREPL: Direct connection established
Connected.  Hack and be merry!
cider-ensure-connected: No active nREPL connections

[2016-01-16 07:14] bbatsov opened #1518 "Make it possible to disabled the dynamic indent functionality"
Someone complained on Slack that cider's dynamic indent was slowing down aggressive-indent-mode. While we have no data on how to further debug the real problem, it still makes sense to be able to disable dynamic indent if you wish to.

[2016-01-16 08:25] #1518 closed

[2016-01-16 13:25] cap10morgan commented on #1509
Thanks @rfkm, that fixed it.

I'll issue a PR with that commit cherry-picked into v0.10.

[2016-01-17 07:35] bbatsov commented on #689
True. It seems to me, however, that our top focus would be a good web manual and that other formats should be considered as a plus, not a must. Ideally, we'd have a Texinfo manual, but I'm not sure how much sense does it make to invest a lot of efforts into it.

[2016-01-17 08:20] bbatsov commented on #1514
That's interesting. Do you have any reliable steps to reproduce the problem?

[2016-01-17 08:22] bbatsov commented on #1504
That's puzzling. Ideally you should run the [profiler](https://www.gnu.org/software/emacs/manual/html_node/elisp/Profiling.html), so we can see what exactly is causing the slowdowns for you. It's seems pretty unlikely that this would be `(cider--modeline-info)`.

[2016-01-17 10:44] malcolmsparks commented on #182
I'm finding that this line is causing me problems

https://github.com/clojure-emacs/clojure-mode/blob/master/clojure-mode.el#L238

because my paredit version is not defined - perhaps because:

[code]

Removing that guard from `clojure-paredit-setup` fixes my problem

[2016-01-17 10:46] bbatsov commented on #182
`paredit-version` is defined in `paredit.el` (at the very beginning). Using melpa will not affect it.

[2016-01-17 15:01] Malabarba commented on #1514
There's probably an identity being called with 0 args in one of your files.

[2016-01-18 02:46] paomian commented on #1514
@bbatsov In my project it will be reproduce inevitable.

@Malabarba yes,it just a test to reproduce the problem.

[2016-01-18 03:31] Malabarba commented on #1514
Ah. Now I understand your bug report. :-)
Sadly, I don't think there's much cider can do. That exception is being produced by clojure or tools.nrepl, not by cider.

[2016-01-18 07:45] paomian commented on #1514
I think that cider is not get the error message enough in version `0.10.1`
for example:
I run `lein repl` in my project,and then,i run `cider-connect` to connect this nrepl server.and produce an error.
`(.printStackTrace *e)` will be print  in nrepl
[code]
It can tell me where is error.`(myproject/sms.clj:97:11)`

-----------------------
but in cider,I just get `Unable to resolve symbol: mobilePho

[2016-01-18 09:57] bbatsov commented on #1514
@jeffvalk can you take a look at this?

[2016-01-18 23:42] jeffvalk commented on #1514
@paomian Could you post a minimal code sample to reproduce this?

[2016-01-19 02:23] paomian commented on #1514
@jeffdik `lein new someproject` and do like this
[code]

[code]

my profiles.clj
[code]

[2016-01-19 15:32] bbatsov commented on #1514
Our Jeff is @jeffvalk. :-)

[2016-01-19 16:31] #1474 closed

[2016-01-19 16:38] #1432 closed

[2016-01-19 17:49] bbatsov commented on #1513
I'm closing this as it's not really an issue with cider. If you need more help - hop on slack or gitter.

[2016-01-19 17:49] #1513 closed

[2016-01-19 17:50] petegrif commented on #1513
Thanks

On Tuesday, January 19, 2016, Bozhidar Batsov <notifications@github.com>
wrote:

[2016-01-19 17:57] cddr commented on #1458
I get this as well just from normal usage.

[2016-01-20 03:40] jeffvalk commented on #1514
Will take a look at this.

[2016-01-20 11:03] bpacreau commented on #1352
Hi Malabarba,

With @g12l, we are willing to help you on this issue. We're currently working on it and we're going to open our first PR soon

[2016-01-20 13:10] bbatsov commented on #1352
Sounds good!

[2016-01-20 13:16] bbatsov commented on #1458
I plan to fix this, but it requires a bunch of changes to the `nrepl-client.el`, which I don't have time to do right now - mainly passing the connection all the way down to the logging code.

[2016-01-20 15:09] Malabarba commented on #1458
@bbatsov What if we just keep the old behaviour (single buffer) by default, and have a custom var to get the new behavior (per-session buffers)? I'm happy with the "per-session" buffers, and I don't particularly feel the need to make them "per-connection".

Plus, this would take like 3 min to code. :)

[2016-01-20 15:10] Malabarba commented on #1352
That's great to hear! :)

[2016-01-20 15:12] bbatsov commented on #1458
Nope. There has to be some incentive to fix the fucked-up logging in a proper manner... Sessions logs were a bad idea (mostly because of the throwaway sessions we didn't anticipate), that's clear now - but we did it because it was an easier solution. I'm add fine with adding an option to merge the log into one buffer, but only when I get to aggregate all connection sessions together.

[2016-01-20 15:24] Malabarba commented on #1458
Alright then. :-)

[2016-01-20 16:24] g12l commented on #1352
Some files are already ok with checkdoc:
  -cider-scratch.el
  -cider-classpath.el
  -cider-resolve.el
  -cider-browse-ns.el
  -cider-compat.el
  -cider-selector
  -cider-eldoc
  -cider-macroexpansion.

With @bpacreau we corrected simple errors in cider-grimoire.el and cider-popul.el (PRs). We need some time for the other files and we will probably ask some questions on the gitter channel.

[2016-01-20 17:33] bbatsov commented on #1352
Roger that! :-)

[2016-01-20 17:57] expez commented on #1352
@g12l @bpacreau Thanks for taking this on,! :+1:

[2016-01-20 17:58] Malabarba commented on #1352
And feel free to ask away!

[2016-01-20 19:16] stathissideris opened #1524 "cider--get-symbol-indent: Args out of range: -1, -1"
I sometimes get this error when pressing TAB at the beginning of the line in order to indent it:

[code]

Indentation fails no matter how many times I press TAB after it happens the first time. Interestingly TAB does *not* fail on other lines of the same file!

[2016-01-20 19:28] bbatsov commented on #1458
I get your point, but I'm way too wary of quick fixes, that become permanent. I'll try to find some time for this by the end of the week.

[2016-01-20 19:30] bbatsov commented on #1524
Can you share with us your cider version info?

[2016-01-21 20:13] jeffvalk commented on #1514
I don't see anything unusual here.

This:
[code]
gives me this:

[code]

and this:
[code]
gives me this:
[code]
This all looks right to me.

[2016-01-21 23:44] vadali commented on #1504
Thanks for the advise!
Using the profiler I got the following:
[code]
WDYT?.. please let me know if I can give you any more information to tackle this.

[2016-01-23 20:10] bbatsov commented on #1514
Yep, this looks totally fine to me.

[2016-01-24 09:12] bbatsov opened #1525 "Add the ability to route stdout and stderr to different buffers based on regular expressions"
It would be useful if we had the ability to redirect certain type of output (e.g. logging output to dedicated buffers for quick inspection).

Adding support for this won't be hard - basically we need a mapping between regular expressions or functions, that will be used to check if some output is a match, a buffer name (or some function) that will be used when we have a match. We just have to figur

[2016-01-24 16:05] cch1 commented on #1525
+1

[2016-01-24 20:58] #1480 closed

[2016-01-24 20:58] bbatsov commented on #1480
Let's assume it's fixed. :-)

[2016-01-25 10:47] expez commented on #1226
I'm including this in the feature list for for milestone 0.11.  This is the feature I'm missing the most atm.

When this is tackled `cider-test-rerun-tests` should be updated too, so it reruns all the failing tests from the previous test run, instead of acting on the last tested namespace.  I'm not sure how that is implemented, so we might get that synergy for free.

[2016-01-25 10:58] bbatsov commented on #1226
Btw, I hope you're also planning to work on this, as 0.11 will like be release in February and I doubt I'll work on anything significant until then.

[2016-01-25 11:30] expez commented on #1226
Yeah, I was planning on taking this one the next time I've some time for CIDER.  This is unlikely to be until the second half of February, though, so with that release schedule I suppose it might not make the cut.

[2016-01-25 15:12] bbatsov commented on #1493
@jeffvalk do you recall if this ever worked? It might be just a figment of my imagination. Maybe we just never implemented it to begin with...

[2016-01-25 19:40] jeffvalk commented on #1493
@bbatsov I could be wrong, but I'm not sure this was ever there.

[2016-01-25 20:05] jeffvalk commented on #1226
This should be pretty straightforward to implement.

One question: how would the list of namespaces to be tested be determined?

[2016-01-25 20:28] bbatsov commented on #1226
I think the simplest way would be to take the first segment of whatever the current namespace is test all namespaces that share it. Alternative, with a prefix argument the user could supply a namespace prefix manually.

[2016-01-25 20:57] expez commented on #1226
Can't we just loop over `all-ns` and run whatever tests we find?  IIRC `clojure.test` stores some metadata on the ns itself which should make this possible.

[2016-01-26 01:40] jeffvalk commented on #1226
I'd warn against using `(all-ns)`. Tests can be defined in the same namespace as their functions, e.g. by adding `:test` metadata to a `defn`. This style isn't in favor, but it's certainly not incorrect. If a library author did this, you'd be running all the library's tests too; they'd be in the jar dependency.

Using `find-namespaces-in-dir` in `tools.namespace` sounds a bit better. This raises t

[2016-01-26 02:25] Malabarba commented on #1226
Personally, I prefer the idea of taking all namespaces with the same initial prefix as the current one. For instance, if I invoked the command in `cider.nrepl.middleware.debug`, then this would run all tests whose namespace name starts with `cider.`

Using `find-namespaces-in-dir` is valid too, I just prefer to avoid resorting to the file system when possible.

As for loading files first. I don't

[2016-01-26 03:00] jeffvalk commented on #1226
Playing devil's advocate for a moment, I imagine most people will expect replication of `lein test`. I'm pretty certain that both searches the file system and loads the discovered namespaces.

[2016-01-26 05:57] bbatsov commented on #1226
We can always have 2 commands or a switch. Generally I would like to load some namespaces magically if I hadn't loaded them explicitly myself (but I'm pretty sure others would like this - as you said this is what `lein test` would do).

[2016-01-26 05:58] bbatsov commented on #707
Btw, @jeffvalk any plans to work on this?

[2016-01-26 06:02] bbatsov commented on #696
Btw, if we get to implementing this we should probably add some option to fail fast (stop running the tests at the first failure).

[2016-01-26 19:49] bbatsov commented on #1504
Damn. The problem is that `clojure-project-dir` is too slow over tramp. We either have to cache or you'll have to disable the fancy modeline. Or then can be some special handling when editing files remotely...

[2016-01-26 20:57] vadali commented on #1504
Thanks! So here is the confusing part, all of this works perfectly when using prelude (editing remote files with no nrepl running), so I am not entirely sure cider is the root-cause..

I wonder which bits of spacemacs might influence this behavior. For the moment I just went back to good-old prelude. You think I should open a ticket with a link to this discussion on spacemacs? What would you sugge

[2016-01-27 02:28] jeffvalk commented on #1226
Yep. That makes sense.

Unless someone else is itching to get at this feature request, I'll try to give it a go in the next week or so.

[2016-01-27 02:30] jeffvalk commented on #707
I hadn't thought about it...but now that I am, I'm not sure why this doesn't work as is. I'll look at it.

[2016-01-27 06:37] bbatsov commented on #707
Great!

[2016-01-27 06:38] bbatsov commented on #1226
Sounds great! :-)

[2016-01-27 10:51] Malabarba commented on #707
My guess would be that `with-tests` adds the tests to the function metadata, which is on the current namespace. However, CIDER only ever runs tests from one namespace. So if there's also a namespace called `current.namespace-test`, then CIDER is only going to run tests from the latter.

Just a guess, though. :-)

[2016-01-27 15:19] jeffvalk commented on #707
@Malabarba Yep, seems likely. If that's the case, running tests with `suppress-inference` should pick these up. And if that's true, this issue is already resolved.

[2016-01-27 15:47] bbatsov commented on #707
Maybe. :-) Although we might have to account for tests being in the same namespace and in a test namespace (which shouldn't be hard to do).

[2016-01-28 07:37] paomian commented on #1514
which cider version do you use ? my cider always don't show the line number to me.

[2016-01-28 13:55] SlightlyCyborg opened #1528 "Add Inline code evaluation and watches like in the Light Table IDE"
[Here](https://www.youtube.com/watch?v=mNO-vgq3Avg&feature=youtu.be) is a demo of a similar plugin for Emacs lisp

[2016-01-28 14:10] #1528 closed

[2016-01-28 16:52] expez opened #1529 "*nrepl-messages lkahdg-asdfjkh-asdfkjh* buffers are never cleaned"
I have a gazillion of these `*nrepl-message 123asdf- qwruyw35-asdflk3*` buffers after jumping in and out of various clojure projects today.

It's frustrating enough to guess which buffer to check when the odds are 33% but I had to kill all these buffers and restart the repl in order to debug the refactor-nrepl middleware today.

[2016-01-28 17:11] Malabarba commented on #1529
Perhaps instead of using the connection id in the buffer name, we should use the result of `cider--connection-info`, which is way more informative.

[2016-01-28 17:53] expez opened #1530 "Metadata isn't updated when evaluating a buffer"
1. Start a repl.
2. Add metadata to an ns of your choice.
3. <kbd> C-c C-k</kbd> (or `M-x cider-eval-ns-form`)
4. Change metadata.
5. <kbd> C-c C-k</kbd> (or `M-x cider-eval-ns-form`)
6. Be surprised when you still see the metadata you loaded in step 3 after running `(meta (find-ns 'your-ns-of-choice)`

[2016-01-28 19:59] Malabarba commented on #1530
I think this is a bug with the ns macro.

[2016-01-28 20:43] Malabarba commented on #1528
FWIW, I've been working on something like this, albeit less aggressive.

[2016-01-28 21:04] bbatsov commented on #1528
Yeah, that'd be nice to have in some form of another. At some point I was planning to work on a similar feature, but I never got anywhere with it.

[2016-01-28 21:06] bbatsov commented on #1529
@Malabarba That way you'd couple cider & nrepl.
@expez Using the `cider-selector` command you won't be doing any guesswork.

This will all be addressed when I find some time to rework the message logging.

[2016-01-28 23:15] Malabarba commented on #1529
True. :-(

[2016-01-29 10:19] phillord opened #1531 "Cider should inject its own dependencies/plugins automatically at cider-jack-in"
Currently, cider complains when the dependencies are wrong in profile.clj. I understand the reasons for this, but it would be nice if Cider offered the ability to update your profile for you.

Another possibility would be for cider to check whether pomegranate is present and if not, inject the correct dependencies. Don't know if that is possible with plugins, but worth thinking about.

This would

[2016-01-29 10:37] benedekfazekas commented on #1531
I've been thinking along the same lines (for clj-refactor as well) lately so +1

[2016-01-29 10:54] stardiviner commented on #1531
+1 for this, don't want to continuously monitor version change update.

[2016-01-29 11:37] Malabarba commented on #1531
I mentioned this on slack. I'll be glad to provide this if lein (or boot) has a way to specify deps on the command line. Otherwise it would involve manually parsing the project.clj file in elisp, which is not something I'm super excited to do. =)

One thing that would be easier to do is to offer a "new project" command, which would create the project with the right deps. However, this wouldn't sol

[2016-01-29 20:11] phillord commented on #1531
I've been thinking about it -- a "cider shim" plugin which pulls the middleware into the JVM with pomegranate really seems possible to me. It should be possible to write it once and rarely update it. I guess it needs to inject both into the repl and the leiningen JVM?

I've been watching a new colleague of mine trying to install cider, and this step really isn't nice.

[2016-01-29 20:12] AshtonKem opened #1532 "Test Failure Overlay in Wrong Location"
I have some tests that depend on assertion helpers written in another file. I've noticed since upgrading to Cider 0.11.0-SNAPSHOT that the overlays are now being displayed in the wrong place in the test buffer.

More specifically, let's say I have test_helpers.clj, which has an assertion helper function on line 316. In my test namespace, any test that uses this helper will have their failure place

[2016-01-29 20:17] benedekfazekas commented on #1531
We do something like this in refactor-nrepl eg. add dependency to a running REPL. My worry is tho that these artifacts are not simple deps but nrepl middlewares there could be some extra steps to register them. No idea if this works dynamically.

[2016-01-29 21:31] phillord commented on #1531
I think it works. Can someone give this a go: https://github.com/phillord/plugin-inject

You launch with lein plugin-inject repl :headless and it pushes the nrepl middleware plugin in first, then passes execution to repl task. End result, cider works despite there not being any cider middleware plugin around.

Might not work for anyone else, but seems a reasonable start. It's only a few lines of c

[2016-01-29 21:34] Malabarba commented on #1531
@phillord do you think it would be possible to specify the version of the cider middleware?

[2016-01-29 21:55] phillord commented on #1531
Hmmm, think I've made a mistake. I had an old "cider-nrepl" dependency left in my .lein. So, it's not working. Try again.

I think more generally this is a leiningen issue -- if cider could specify it's own profile.clj which was merged with the users, this would solve the problem. A shim is a bit of a cheap plastic solution (bad pun).

[2016-01-30 13:42] expez commented on #1531
It might be easier to just check if `profiles.clj` contains a matching version and if not offer to update the text specifying the version, before starting the repl at all.  This would far simpler than the proposed solutions so far.

[2016-01-30 16:23] bbatsov commented on #1532
Some mini repro project would help a lot in debugging this.

[2016-01-30 16:24] bbatsov commented on #1524
Closing due to lack of extra info.

[2016-01-30 16:24] #1524 closed

[2016-01-30 18:13] phillord commented on #1531
I don't think would help with the new install. I agree, the shim is rather complex. Having support in lein would be the easiest.

[2016-01-30 18:47] favetelinguis opened #1533 "Indentation problems with om next"
Code is not getting indented correct in the case below, im using 0.10.0 cider version.
Is this a known issue or is there something todo about it?

    (defui Status
      static om/IQuery
      (query [this]
             [:id :type :title :user])
      Object
      (render [this]
              (let [{:keys (title betfair user)} (om/props this)]
                (dom/div nil PLACE POINT HERE AND HIT

[2016-01-30 18:54] bbatsov commented on #1533
We don't ship special indentation settings for `defui`, so you'll have to add them yourself. See the [manual](https://github.com/clojure-emacs/cider/blob/master/doc/Indent-Spec.md#indent-specification).

[2016-01-30 19:00] AshtonKem commented on #1532
I will try to get to that this weekend.

--
Ashton

Sent from my iPhone

[2016-01-30 19:25] Malabarba commented on #1533
You can probably just copy the spec for defrecord.

[2016-01-30 20:25] benedekfazekas commented on #1531
this seems to be working for me:

`lein update-in :plugins conj "[cider/cider-nrepl \"0.11.0-SNAPSHOT\"]" -- repl`

[2016-01-30 20:32] benedekfazekas commented on #1531
it seems to me that boot has even better support for this via their `boot.repl/*default-dependencies*` and `boot.repl/*default-middleware*` atoms, [see details](https://github.com/boot-clj/boot/wiki/Cider-REPL#a-better-way) and [1a765793](https://github.com/boot-clj/boot/commit/1a76579304e816d3407a00c114b0bd4a8b82a549)

[2016-01-30 20:50] favetelinguis commented on #1533
So then I have to add {:style/indent ...} explicitly for every defui i make like so:

    (defui Status
    {:style/indent [2 :form :form [1]]} ;; trying the example from defrecord
      static om/IQuery
      (query [this]
             [:id :type :title :user])
      Object
      (render [this]
              (let [{:keys (title betfair user)} (om/props this)]
                (dom/div nil PLACE PO

[2016-01-30 21:00] benedekfazekas commented on #1531
more on leiningen:

in fact it is doable even now with setting `cider-lein-parameters`:
`(setq cider-lein-parameters "update-in :plugins conj \"[cider/cider-nrepl \\\"0.11.0-SNAPSHOT\\\"]\" -- repl")`

so I guess we could introduce a variable listing all nrepl middleware plugins (so clj-refactor can add its own) and then update those in as plugins by default with perhaps an opt out config in case

[2016-01-30 21:00] bbatsov commented on #1533
No, indentation metadata should be applied to `defui` itself. As the name is fairly unique you can just use `clojure-mode`'s `put-clojure-indent` - https://github.com/clojure-emacs/clojure-mode#indentation-of-macro-forms.

[2016-01-30 21:07] #1509 closed

[2016-01-30 21:17] favetelinguis commented on #1533
Nice got it working with this:

    (put-clojure-indent 'defui '(2 nil nil (1)))

Thanks!

[2016-01-30 21:18] #1533 closed

[2016-01-30 21:26] Malabarba commented on #1531
Nice! If it's as simple as that, I'd like to start using this as soon as the next release.
I've set a milestone so that we at least give it a try and see if it's feasible.

[2016-01-30 21:49] phillord commented on #1531
It looks like so. I just removed my `profile.clj`, ran a clean emacs, installed cider, added this:

    (setq cider-lein-parameters "update-in :plugins conj \"[cider/cider-nrepl \\\"0.10.2\\\"]\" -- update-in :dependencies conj \"[org.clojure/tools.nrepl \\\"0.2.12\\\"]\" -- repl :headless")

And started cider on a test clojure project. Bingo, all works.

The command line is a bit of a gobsmacker,

[2016-01-30 21:54] benedekfazekas commented on #1531
no worries. will try to have a look on boot as well. not sure we need to handle `gradle`

[2016-01-30 22:05] phillord commented on #1531
Boot can be handled with a custom task -- like the "cider repl" task in the doc, but passing in version numbers as keys.

This has been a PITA ever since the middleware came in, so removing the hassle for new users is going to be a major contribution to useability. And it should cleanly update from version to version.

[2016-01-30 22:17] benedekfazekas commented on #1531
after having a chat with @micha on slack it seems there is CLI way for boot too, something like:
`boot -d asdf/qwer:1.2.3 repl -m asdf.qwer/middleware`

[2016-01-30 22:23] phillord commented on #1531
With boot, I put this into my boot.profile

    (deftask cider "CIDER profile"
      [c cider-nrepl VAL str "The cider-nrepl version"
       t tools-nrepl VAL str "The tools-nrepl version"
       ]
      (require 'boot.repl)
      (swap! @(resolve 'boot.repl/*default-dependencies*)
             concat `[[org.clojure/tools.nrepl ~(:tools-nrepl *opts*)]
                      [cider/cider-nrepl ~(:ci

[2016-01-30 22:29] benedekfazekas commented on #1531
yup this is nice but we still need the user to define this task or hide it somewhere in the elisp code of cider or something. would be even nicer to:
`(setq cider-boot-parameters "-d cider/cider-nrepl:0.10.2 -m cider.nrepl/cider-middleware repl -s wait" )`
which should be possible (have not tested it yet)

[2016-01-30 22:40] Malabarba commented on #1531
INdeed, if we have to tell users to define that task, then we haven't gained much on the boot front. It'd be nicer to do it all directly.

[2016-01-30 22:46] benedekfazekas commented on #1531
the boot guys discussing the scenario when you connect to an running repl process which apparently is how quite a few ppl prefer to work even with emacs (instead of jack-in). for that case finding a way to add the middleware at run time would still have good value. but I suppose solving this at runtime for the `jack-in` use case is much higher priority

[2016-01-30 23:00] phillord commented on #1531
@Malabarba with that task you would at least have gained version independence, so it would be worth documenting anyway. So long as cider's dependency requirements are accessible from lisp, then it can be made to work anyway of course.

Still, agree it's suboptimal. Surprised to find boot doesn't have an "eval" or "load-file" task, a la emacs --batch. Would solve the problem

[2016-01-30 23:25] Malabarba commented on #1531
I think that's a slightly more advanced task, so people who understand how that works should have no problems following the readme.
Of course, it would be nice to make that fully automated, but I'm less concerned with it because of the above (and because I think it would be moderately harder to do).

True. If there's no better alternative, we should document it. :+1:

[2016-01-31 09:18] phillord commented on #1531
@benedekfazekas if you are already talking to the boot guys, want to ask whether they will add a eval or load-file task? It's generic, totally future proof and, sometimes, only lambda is enough:-)

[2016-01-31 09:42] benedekfazekas commented on #1531
@phillord why would that be beneficial? It seems that we can do the same (or very similar) with boot on the CLI as with lein at start up time -- see my comment above. So the ux would be the same for both lein and boot when jacking in without any extra config done by the user.

Btw thanks a lot for raising this!

[2016-01-31 09:55] phillord commented on #1531
@benedekfazekas Oh, I couldn't get that to work; sorry, should have said. Is there a -m option command line option?

[2016-01-31 10:01] benedekfazekas commented on #1531
There is, yes, for the repl task. So you will only see it if you run help for the repl task. Will have a play with it when I have a little time.

[2016-01-31 12:57] phillord commented on #1531
@benedekfazekas Right you are.

    (setq cider-boot-parameters
      "-d cider/cider-nrepl:0.10.2 -d org.clojure/tools.nrepl:0.2.12 repl -m cider.nrepl/cider-middleware -s wait")

This seems to do the trick on a clean emacs.

[2016-01-31 13:11] expez opened #1534 "Expose api for injecting additional middlewarep deps"
Once https://github.com/clojure-emacs/cider/issues/1531 gets solved CIDER users won't have to manually add the cider-nrepl plugin.  It would be nice if CIDER exposed an API for additional things to be added to this bootstrap process.  clj-refactor would benefit from transparent inclusion of its middleware, as would packages like clojure-flycheck aka squiggly-clojure.

[2016-01-31 13:49] benedekfazekas commented on #1531
Awesome :+1: thx for figuring it out

[2016-01-31 15:15] #1493 closed

[2016-01-31 16:26] Malabarba commented on #1534
Agreed. My suggestion would be a variable somewhat like this:

[code]

[2016-01-31 18:20] #1458 closed

[2016-01-31 18:34] #1529 closed

[2016-01-31 19:58] bbatsov commented on #1461
I wonder how to be best approach this - perhaps we should just look for symbols that are the same in the buffer and try to resolve them to see if they are a match or not. This will be simple, but it probably won't be very efficient.

[2016-01-31 20:09] bbatsov commented on #1428
@Malabarba didn't you recently fix this?

[2016-01-31 20:11] bbatsov commented on #1358
I'm guessing the code there needs something similar to `resolve-special` in the `var-info` middleware. Was reminded about this today when I was investigating an eldoc bug.

[2016-01-31 21:26] benedekfazekas commented on #1534
we might need different vars for leiningen and boot as their CLI api has slightly different semantics.

in detail for leiningen we need to provide a list of dependenices (for nrepl 0.2.12) and plugins (cider-nrepl and refactor-nrepl). however, for boot we need list of dependcies and list of middlewares (or we could use the latter for leiningen too perhaps if we decide not to use the lein plugins p

[2016-01-31 22:18] Malabarba commented on #1534
Then it probably makes sense to add a third element to that list identifying the middleware name.

The difference in semantics (or the difference in how much information is necessary) should be handled by cider. The plugins just need to provided all necessary information, without bothering with which interface needs what.

[2016-01-31 22:19] Malabarba commented on #1428
I did. Not sure why I didn't tag the issue.

[2016-01-31 22:19] #1428 closed

[2016-02-01 01:48] Malabarba commented on #1461
My first thought is "what do we want to highlight?".

- Marking all occurrences of a local in the current `defn` would be the nicest feature to me.
- I'm still trying to understand how it would work to highlight all usages of a namespace alias (or all usages of a var) automatically. If it's something that happens automatically when I place cursor on the `str` alias, would it vanish automatically w

[2016-02-01 06:02] bbatsov commented on #1461
Agreed. Although for vars it makes some sense to highlight them in the entire namespace. Guess this can be configurable.

Exactly - normally this would happen automatically, but we can add some command about sticky highlighting. The stuff with teaching the users is easy - if we do it by the 11th I'll include it my next CIDER presentation. :-)

We can use our metadata handling functionality to easi

[2016-02-01 11:36] Malabarba commented on #1461
Yeah, we can pretty reliably highlight vars thanks to the state tracker. But we can highlight locals semi reliably too, thanks to the code we already have that prevents dynamic font locking of locals.

[2016-02-01 12:19] bbatsov commented on #1461
Sounds like a plan to me. Would you volunteer to tackle this? :-)

[2016-02-01 12:27] Malabarba commented on #1461
I'll keep it in mind, but I don't think I'll have time for it before the 11th. :-(

[2016-02-01 13:06] bbatsov commented on #1461
No problem. I might do a lightning talk at ClojureD a couple of weeks later. ;-)

[2016-02-01 14:32] stathissideris commented on #1524
Sorry for the delay, I cannot reproduce this with 0.10.1, so great! thanks :-)

[2016-02-01 18:48] benedekfazekas commented on #1531
i might try to put together a PR for this tmrw *if* nobody else is already working on it in anger. let me know

[2016-02-01 19:38] phillord commented on #1531
I am not at the moment, and will not get to it for tomorrow or the next few days, so please go ahead.

[2016-02-01 20:40] Malabarba commented on #1531
I'm also not working on it. Feel free to go ahead.

[2016-02-02 12:04] expez opened #1537 "instrumenting test with with-redefs debugs the wrong thing"
When using `with-redefs` in a test you cannot step through the test itself anymore.  Only the function being redefined with `with-redefs` is instrumented and stepped through in the debugger.

[2016-02-02 13:30] Malabarba commented on #1537
Thanks for the report. Looking into it...

[2016-02-02 16:35] Malabarba commented on #1537
I can't reproduce this. Here's what I'm trying:

[code]

I evaluate the `a-f` function normally, and I debug the `lala` test. When I run the `lala` test the debugger correctlyu takes me inside the `fn` and then shows me the result of `(a-f 2)`.

[2016-02-02 17:21] edvorg opened #1538 "Cider stops working when clojars is offline"
Hello.
I think that it might be considered as a bug.
Here are some details from logs. Trying to jack-in in my app.

[code]

[2016-02-02 17:32] cap10morgan commented on #1142
What was the ultimate resolution here? It's hard to tell from the commit.

People on my team are still seeing `cider-connect` try to SSH to any host in `~/.ssh/known_hosts` and being surprised and frustrated by it (in CIDER 0.10.2).

Are there docs somewhere that explain this behavior and how to work around it when it isn't desired?

For the record, I agree with @bbatsov that this is unexpected be

[2016-02-02 17:43] expez commented on #1538
That's from clj-refactor.  This has been fixed in refactor-nrepl 2.0.0-SNAPSHOT.

[2016-02-02 17:43] #1538 closed

[2016-02-03 05:15] edvorg commented on #1538
Thank you!

[2016-02-03 07:45] mikeivanov opened #1539 "Symbol's function definition is void: string-remove-suffix"
Emacs 24.5 on Mac OS, Cider 20160202.926.

M-x cider-connect fails with an error message saying "nrepl-connection-identifier: Symbol's function definition is void: string-remove-suffix".

This actually happens in nrepl-client.el, line 235:
(string-remove-prefix "*cider-repl " (string-remove-suffix "*" (buffer-name conn))))

The string-remove-* functions were introduced in Emacs 24.4 and must be im

[2016-02-03 07:46] bbatsov commented on #1539
Yeah, yeah. I messed up, as those were loaded from another package in my config. Not to mention they don't exist in 24.3. :-)

Really? I authored this package, so I should know better. :-)

[2016-02-03 07:51] mikeivanov commented on #1539
;-)
OK, I'm not going

[2016-02-03 07:55] mikeivanov commented on #1539
A workaround (for people hitting the same issue):

1. Open ~/.emacs.d/elpa/cider-20160202.926/nrepl-client.el
2. Add a line saying "(require 'subr-x)" somewhere at the begining
3. rm ~/.emacs.d/elpa/cider-20160202.926/nrepl-client.elc
4. Restart Emacs

[2016-02-03 07:59] bbatsov commented on #1539
Actually it's way simpler than this - just eval `(require 'subr-x)` anywhere in Emacs and that's all. There's no need to restart anything. E.g. you can do `M-:`.

[2016-02-03 08:19] #1539 closed

[2016-02-03 08:20] bbatsov commented on #1539
Problem solved. Sorry about the inconvenience.

[2016-02-03 08:38] vspinu commented on #1142
Regretfully I am not developing in clojure anymore and not using Cider. So I am not sure I would be the best person to look at it again.

I see three straightforward solutions:

  1. Have a custom variable for SSH files to sniff for ports, like '(~/.ssh/known_hosts ~/.ssh/config). I think ~/.ssh/config is a non-controversial.
  2. Have a user level logical `cider-sniff-for-ports-when-connected-onl

[2016-02-03 09:06] bbatsov commented on #1142
@cap10morgan You can file a new ticket and we can continue the discussion there.

[2016-02-03 09:07] bbatsov commented on #1142
P.S. I'd generally go for option 3.

[2016-02-03 09:42] jonpither commented on #1509
I spent some time with the problem in the title of this issue. Turns out it was my own fault - explicitly added a clojure-mode for .cljs files, which isn't needed as clojurescript-mode is auto-loaded. This was confusing `(cider-connection-type-for-buffer)`.

Took some time to diagnose though, so perhaps worth adding to troubleshooting?

[2016-02-03 09:47] bbatsov commented on #1509
PR welcome. :-)

[2016-02-03 09:49] jonpither commented on #1509
Will do.

[2016-02-03 20:49] bbatsov commented on #707
Did someone check this?

[2016-02-03 20:51] bbatsov commented on #692
I'm closing this due to lack of activity. I agree we can do better, but there are no concrete action steps here.

[2016-02-03 20:51] #692 closed

[2016-02-03 23:16] jeffvalk commented on #707
@bbatsov Yes. @Malabarba is right. And the forthcoming (very soon!) commit to add #1226 will close this issue.

[2016-02-04 05:52] #707 closed

[2016-02-04 05:52] #1226 closed

[2016-02-04 06:30] jeffvalk commented on #696
Following 51bf460, I rather expect this issue will get bumped.

[2016-02-04 07:38] bbatsov commented on #696
Guess so. It seems to me like the most important thing related to tests that remains to be done.

[2016-02-04 08:56] piotr-yuxuan commented on #961
For you information: I first got
[code]
I solved it by amending my `~/.lein/progiles.clj` from:
[code]
to
[code]
and it solved the error.

[2016-02-04 12:27] Malabarba opened #1540 "Completion after a close paren signals an error."
If I place point after `(inc 1)`, and try to trigger completion (`tab`, in my case) I get the following error.

    Debugger entered--Lisp error: (error "Marker does not point anywhere")
      completion-in-region(#<marker in no buffer> nil #[771 "\211\242\302=\206\n \211\303=?\2053 r\301\204 p\202( \304 \305!\203% \306!\202& p\262q\210\307\300!$)\207" [cider-complete nil boundaries metada

[2016-02-04 14:46] martintrojer opened #1541 "IDO/helm support for apropos"
Scenario; looking for a function somewhere in the codebase. All I have is the name.

`M-x cider-apropos` does what I want, but I would prefer the results to feed ido/helm as I am typing. Then when a var is selected, a buffer is opened at the correct line.

Also discussed here #1059

[2016-02-04 14:54] bbatsov commented on #1541
Yeah, we should cook something like this. Btw, you can add different action keys to `ido` so there can be options to go to the source, view the doc, conj.io, etc.

We'll implement something using completing-read and the apropos results and people will be able to pick by themselves what completion system is used.

[2016-02-04 16:13] Txellenne opened #1542 "Wat's the recommended [current [And/OR] minimal] profiles.clj file, please!!"
Hi, group. I'm trying some literacy on Clojure but I'm stuck at this output:
[code]
My `.lein/profiles.clj` is quite basic (well, I dunno whether this is good or bad, actually)
[code]
& After some reading around this site, I think I should include the version of related `EMACS` pkges. These are as following, if it helps to any suggestion:
[code]

[2016-02-04 16:31] bbatsov commented on #1542
P.S. You should have read the warning more carefully. :-)

[2016-02-04 17:28] bbatsov commented on #1542
There's also info regarding this in the README - https://github.com/clojure-emacs/cider#setting-up-ciders-nrepl-middleware

[2016-02-04 17:28] #1542 closed

[2016-02-04 17:30] #1038 closed

[2016-02-04 17:32] bbatsov opened #1543 "Improve the welcome banner"
I've been thinking for a while that newcomers would benefits from an extended welcome banner with some pointers to get people started (help commands, etc). It might even make sense to inject some CIDER functions into the user namespace (e.g. some help/tutorial).

The display of this banner should be controlled via some variable, as it won't be very useful after some point.

[2016-02-04 17:35] bbatsov commented on #1225
Recently I've decided that this extraction is unlikely to ever happen as no one seems really interested in it. I'll likely rename `nrepl-client.el` to `cider-nrepl.el` (don't want to pretend `nrepl-client.el` isn't coupled to cider anymore) and will consider this issue solved. If someone wants to work on extracting a standalone package - this will be still be a possibility, but it's definitely not

[2016-02-04 17:36] #473 closed

[2016-02-04 18:55] cap10morgan opened #1544 "Improve SSH behavior in cider-connect"
As per the discussion in #1142, we should improve how and when CIDER decides it needs to try an SSH connection to a remote host in `cider-connect`.

The preferred option seems to be to do 2 things:
1. Add a custom variable for SSH files to sniff for ports, like `'(~/.ssh/known_hosts ~/.ssh/config)`. It's value would default to `'(~/.ssh/config)`.
2. Have a user level logical `cider-sniff-for-ports

[2016-02-04 22:19] Malabarba commented on #1543
I really like this idea. My first suggestions would be:

- A link to the readme's "Getting Started".
- A mention of the following keys:
  - C-M-x, or/and C-c C-k, or/and C-c C-e
  - C-c C-z (to "reopen this window")
  - C-h C-m (to list all cider-specific keybinds)

[2016-02-04 22:32] Malabarba commented on #1544
If someone is going to tackle this, I'd suggest looking into tramp too. Tramp is Emacs' default interface to ssh (and other protocols), and many aspects of Emacs (besides just visting files) are already integrated with it, like `dired`, `M-x shell`, and `eww`.

It might be overkill for us to offer this integration, but it might also be that tramp has some functions/variables we can reuse for decid

[2016-02-04 22:33] Malabarba commented on #1225
:+1:

[2016-02-04 23:13] AshtonKem commented on #1532
I'm trying to reproduce this in a cleaner repo, and I'm getting the following error instead:

[code]

I am unsure how to diagnose if this is the same issue or unrelated. How do I do that?

[2016-02-04 23:24] Malabarba commented on #1532
It's a new issue. I get it too. Probably due to the recent addition to the test commands.

[2016-02-04 23:57] Malabarba commented on #1532
Forgot to ping @jeffvalk.

[2016-02-05 00:10] jeffvalk commented on #1532
The `Not a nREPL dict object` error sounds a bit like the `cider` and `cider-nrepl` versions were out of sync. If you're still seeing this with the latest of each, can you post a repro case?

[2016-02-05 08:35] Malabarba commented on #1532
I'm sorry, I think you're right @jeffvalk
I restarted Emacs and don't get any errors now.

[2016-02-05 10:12] #1507 closed

[2016-02-05 12:44] jeffvalk commented on #1532
@Malabarba Ok, good.

Still waiting on an example for the original issue.

[2016-02-05 15:03] AshtonKem commented on #1532
Restarting emacs did not resolve this issue for me, and it's now preventing me from creating an example case for this bug (no overlay appears after the above error message). I'll open a new issue for that bug.

[2016-02-05 15:20] AshtonKem opened #1546 "error in process filter: Not a nREPL dict object: dict"
I get the above error message when trying to run a test with Cider 0.11.0-SNAPSHOT. The *cider-test-report* buffer appears and indicates the number of failures, but it does not contain the actual list of failing assertions and error messages. This is preventing me from creating a simplified example to demonstrate #1532

Here's the information at the top of my cider buffer
[code]

And here's the po

[2016-02-05 15:42] Malabarba commented on #1546
Could you turn on toggle-debug-on-error and see if you get a backtrace when the error happens?

[2016-02-05 16:11] AshtonKem commented on #1546
[code]

[2016-02-05 17:42] BrunoBonacci opened #1547 "cider-result popup buffer resets the font size after every evaluation"
CIDER 0.10.1

If I increase the font of the `*cider-result*` buffer with <kbd>C-x C-+</kbd> with a new evaluation it loses the given size and reset to the default one.

[2016-02-05 18:45] Malabarba commented on #1532
@ashtonkem It's good to double check that you're updated on both sides of cider.

[2016-02-06 08:07] bbatsov commented on #1543
I've cooked something to get the ball rolling. Feel free to extend/refine it. :-)

[2016-02-06 17:32] bbatsov commented on #714
@jeffvalk Are we going to do something about this or not?

[2016-02-06 17:46] jeffvalk commented on #714
Yeah. It's reasonable.

[2016-02-06 22:06] bbatsov commented on #1425
@Malabarba any updates regarding this?

[2016-02-06 22:20] Malabarba commented on #1425
Do we have a name for it yet?

I see 4 ways this could go

- Run tests after save (this didn't work so well for me).
- Run tests after load-file.
- Run tests after any eval operation that doesn't error.
- Load-file after save, and optionally run tests after save.

[2016-02-06 22:48] Malabarba opened #1548 "Expand the menu and divide it into several menus on the menu-bar"
CIDER is more than a major-mode, it's an IDE. As such, it deserves to have more than one menu on the menu-bar.

I think we should significantly expand our current menu to include almost all commands, and a significant portion of the options (though options are slightly more cumbersome to add).
Once that happens, the menu should be large enough to take up at least 3 menus on the menu-bar.

[2016-02-07 04:57] #1540 closed

[2016-02-07 05:41] bbatsov commented on #1548
Fine by me. I originally just modeled the menu after SLIME's menu. The "influence" is so strong that `cider-repl-mode`'s menu is named just REPL which I'm guessing is confusing for some people...

[2016-02-07 09:00] bbatsov commented on #1425
`cider-auto-test`?

That's a bad idea for sure.

I'd go for this option.

This might be a useful option for some people (not only in the context of running tests). I use load-file rarely when I develop and this is definitely not something I'd use.

[2016-02-07 13:06] bbatsov commented on #1530
Sounds like a bug in `ns` indeed. Are you able to change the metadata without cider?

[2016-02-07 13:08] bbatsov commented on #1544
Perhaps using tramp is the way to... I'm not sure...

1. should be pretty easy to do, but number 2. might turn out to be pretty complex.

[2016-02-07 13:14] bbatsov commented on #1073
@Malabarba Btw, what will happen in enlighten with some huge local (e.g. map)? Is there some folding in place?

[2016-02-07 13:28] Malabarba commented on #1073
Oh, I'd forgotten about this issue. I guess enlighten mostly covers the comment I made above.

The solution I used for complex data structures was to have a pretty short print level/length. There's no way to expand that, and I don't plan to change it. If someone needs to inspect locals more closely they can always debug/break the function (or add a pr in there).

[2016-02-07 16:31] mgrbyte opened #1551 "cider-jack-in fails"
GNU Emacs 24.5.1 x86_64-unknown-linux-gnu, GTK+ Version 3.14.14
clojure-mode version: 20160206.1042

After upgrading via package.el (melpa) to `cider-20160207.112`, I get the following traceback when invoking `cder-jack-in` (or `cider-mode`):

https://gist.github.com/mgrbyte/9e10fde3629b30a605eb

[2016-02-07 16:33] bbatsov commented on #1551
That's already fixed on master. Guess the package on Melpa will be updated
soon.

On Sunday, 7 February 2016, Matt Russell <notifications@github.com> wrote:

[2016-02-07 16:33] mgrbyte commented on #1551
ah, ok thanks! I did search before hand for cider-test-menu, but didn't find anything.
Sorry for the noise.

[2016-02-07 16:33] #1551 closed

[2016-02-07 17:41] bbatsov commented on #1462
Any progress with this?

[2016-02-08 09:43] expez commented on #1530
Yes
[code]

[2016-02-08 10:01] Malabarba commented on #1530
What clojure version is that?

[2016-02-08 10:38] expez commented on #1530
1.8, but I doubt this behavior is different across versions

[2016-02-08 10:47] bbatsov commented on #1530
Well, this definitely doesn't work the same on 1.7:

[code]

[2016-02-08 11:18] Malabarba commented on #1530
Yes. Precisely why I asked. I did try it here before shifting blame to the macro. :-)

[2016-02-08 13:14] bbatsov commented on #1530
OK, I'm closing this as it's clear it's not cider-related.

[2016-02-08 13:14] #1530 closed

[2016-02-08 15:26] Malabarba commented on #1530
Isn't it? I was under the impression that (with cider) the ns metadata doesn't get updated even on Clojure 1.8.

[2016-02-08 16:23] bbatsov commented on #1530
Can't imagine how cider could be affecting a simple eval operation.

[2016-02-09 23:22] AshtonKem commented on #1546
Turns out that it was humane-test-output that caused this problem.

[2016-02-09 23:22] #1546 closed

[2016-02-09 23:24] currentoor commented on #1546
@AshtonKem I'm seeing the issue. Could you please explain what fixed it for you?

[2016-02-09 23:28] AshtonKem commented on #1532
I have created a test repo here: https://github.com/AshtonKem/cider-example

Simple open core_test.clj and test either the entire NS or just the individual test, doesn't make a difference in the result.

[2016-02-09 23:29] AshtonKem commented on #1546
I removed the injections from humane-test-output in my project.clj, then completely flushed anything related to cider in my system, including any jars, any compiled clojure, and any elisp files installed via elpa.

[2016-02-10 02:21] xiongtx commented on #1541
Proof of concept for `cider-apropos` using Helm:

[code]

[2016-02-10 07:12] bbatsov commented on #1472
I can no longer reproduce this on the current `master`. Guess we fixed it without even noticing.

[2016-02-10 07:12] #1472 closed

[2016-02-10 07:16] bbatsov commented on #1504
I don't know - it seems to me the same problem should be present everywhere when people are editing remote files. I'll think of some solution eventually, but it might take a while as my hands are full.

[2016-02-10 16:41] pdenno opened #1553 "clojure-project-dir not defined"
cider-client.el and cider.el make reference to "clojure-project-dir" in function position. It does not appear to be defined. Melpa distribution cider-20160208.1007 and later are also affected, resulting in a failure to load at emacs startup.

[2016-02-10 16:43] bbatsov commented on #1553
It's defined in `clojure-mode`. I'm guessing you're using a very old version of clojure-mode. Update it and this problem will go away.

[2016-02-10 16:47] pdenno commented on #1553
Yes, that fixed it. Thanks.

On 2016-02-10 11:43 AM, Bozhidar Batsov wrote:

[2016-02-10 16:59] #1553 closed

[2016-02-10 21:48] evanspa commented on #961
I just updated my prelude installation.  Here's my output (**note the "...does not match..." warning at the bottom**):

[code]

And here's my project.clj (I don't have a global one or anything):

[code]

[2016-02-10 21:52] bbatsov commented on #961
The warning tells you want to do - you need cider-nrepl 0.11-SNAPSHOT
instead of 0.10.2 (which you're using). Either this or you need to install
cider 0.10.2 from MELPA Stable, instead of pulling the snapshot from MELPA.

On 10 February 2016 at 23:48, Paul Evans <notifications@github.com> wrote:

--
Best Regards,
Bozhidar Batsov

http://www.batsov.com

[2016-02-10 21:55] xiongtx commented on #1411
How should this be done?

* A single file of hydras would have to `require` almost all the other files in the project. Is that a good idea?
* Separate files of hydra could result in a lot of files.
    * Maybe they can go into their own `/hydra` directory?
* Putting hydras in existing files is probably a bad idea because it spreads the dependency on the `hydra` package throughout the code base.

[2016-02-10 21:59] evanspa commented on #961
MELPA Stable!!!  Alright...that makes sense.  Yeah, in my personal init.el, there's no mention of MELPA...M-x package-install just works and I never questioned the type of repo I was pulling from.  I'll explicitly switch to stable and see if that fixes things.  Thanks!

[2016-02-10 22:40] Davidbhodge commented on #961
woah - same here. I'll change to Melpa-stable

Thanks so much for the tip

[2016-02-11 04:41] xiongtx commented on #1411
Here's something that could be included in a hypothetical `cider-hydra` file:

[code]

I'm not sure whether we should be defining keybindings for hydras by default.

[2016-02-11 10:03] aishablfgeh opened #1556 "CIDER error "cl-struct-define""
After installing updates of Linux, Emacs cannot connect to Cider (0.10.2) at all.
The error is:
Symbol's function definition is void: cl-struct-define
any ideas what could be the solution to this?
Thank you in advance.

[2016-02-11 10:49] bbatsov commented on #1556
What's your complete stacktrace? I don't see us using this function anywhere in cider.

[2016-02-11 11:04] syohex commented on #1556
This is similar to following issues. Please remove all `*.elc` files and recompile them and try again.

- https://github.com/magit/magit/issues/1838
- https://github.com/syl20bnr/spacemacs/issues/3129

[2016-02-11 14:04] 0xABAB commented on #961
[code]
This is what I get in Emacs 24.5.1. I am already using Melpa-STABLE and my `~/.lein/profiles.clj` contains:

[code]

[code]
Can someone please tell me what's wrong or alternatively fix the software (with full installation instructions)?

[2016-02-11 14:06] Malabarba commented on #961
That's not a valid profiles file. You want:

    {:user {:plugins [[cider/cider-nrepl "0.10.2"]]}
     :repl {:dependencies [[org.clojure/tools.nrepl "0.2.12"]]}}

[2016-02-11 14:08] bbatsov commented on #961
Actually I'd put them both under `:repl`.

[2016-02-11 15:07] timvisher commented on #1556
@syohex LOL I was about to link to my issue and there it was. :P

[2016-02-11 15:39] Malabarba commented on #1556
If you don't know how to recompile. Just delete cider, restart emacs, and install cider again.

[2016-02-11 15:58] ackalker commented on #1543
While we're at it, please make the banner display nicely in a window with 80 columns. Not all of us use Emacs with 240+ column windows (for lack of magnifying goggles), y'know ;)

[2016-02-11 16:18] Malabarba commented on #1543
Done, though the efficacy will depend on whether the user has rebound any keys.

[2016-02-11 16:22] bbatsov commented on #1543
Btw, the version message is pretty long itself, and the wrapped version doesn't look very nice on bigger displays. Anyways, @Malabarba already folded it; I just wanted to mention that both approaches have their downsides. I'd rather not fret too much on something as trivial as this.

[2016-02-11 16:26] aishablfgeh commented on #1556
Thanks every one.
Yes, I tried that and problem solved!

[2016-02-11 20:52] jonpither opened #1557 "cider-repl-type is incorrect during cljs REPL startup"
This is about a problem of firing up two buffers using `cider-jack-in-clojurescript`, and the cljs repl buffer has `cider-repl-type` set to 'clj', meaning CIDER tries to perform operations such as `load-file` against the wrong connection-buffer (cljs rather than clj, leading to hanging and other issues).

## Background:

The `cider-repl-type` on the cljs REPL gets set when `(cljs-repl)` is execute

[2016-02-12 09:26] Malabarba commented on #1557
There's no particular reason, but I don't think that is going to work. IIRC, cider sends a couple of Eval requests to a repl immediately after it connects. So even if we set the repl-type to something else it would be immediately reset to `clj` by the automatic functionality.

Another option is to make it so that the sibling REPL connection is lower priority than the original one. That way, as lon

[2016-02-12 09:29] phillord commented on #1225
I think this is probably accepting the reality of the situation.

A perhaps lighter-weight solution that would enable other people to use the mechanism to support other modes would be to document the parts of cider-nrepl.el which are stable and which could be considered to be an external API.

I added to this issue originally thinking about JDEE, but I have my own (small) package which hooks into

[2016-02-12 09:40] bbatsov commented on #1225
Maybe. I haven't thought much about this, I just posted my comment while going through the issue backlog.

That probably won't happen very soon, as I've got my plate full with all sorts of other things right now. Eventually some change will happen, as the current situation is definitely pretty far from ideal... What and when will happen - that's another matter altogether. Whatever I end up doing,

[2016-02-12 09:59] phillord commented on #1225
That would be excellent!  In the ideal world, I would try and change the name over a release cycle where, otherwise, the API is untouched. That would make the port a big search-and-replace job. The last update I made involved both semantics and name changes which is what made life hard.

[2016-02-12 10:19] jonpither commented on #1557
"make it so that the sibling REPL connection is lower priority than the original one."

This would solve one half of it: when you compile clj source buffers it'll pick the highest priority clj repl connection instead of the default connection. I think there's still an issue of what happens when you try to compile a cljs file without a known cljs connection buffer. In this case, what should officia

[2016-02-12 12:01] Malabarba commented on #1557
It should error out. If that doesn't happen currently then that's yet another bug. ☺

[2016-02-12 14:26] jonpither commented on #1557
It doesn't error out, currently just hangs.

I will dig into it more, but that's the behaviour I'm seeing.

[2016-02-12 15:14] Malabarba commented on #1557
I think it's a bug in the logic of cider-map-connections. When you invoke commands in a cljs file and there's no ClojureScript REPL it should throw user-error.
However, now that I think about it, I'm not sure if I actually implemented that.

[2016-02-12 15:18] Malabarba commented on #1225
There's always define-obsolete-alias :)

[2016-02-13 08:30] robincarlo84 commented on #961
I've been having this kind of problem and the one solution that fixed my case was upgrading my lein using `lein upgrade`. I found it on this [SO answer](http://stackoverflow.com/a/32873993/987447)

[2016-02-13 09:17] bbatsov opened #1559 "Display different var types with different colours in the namespace browser"
This should be simple enough to do. We just need to leverage the var metadata there.

[2016-02-13 14:14] Malabarba opened #1560 "Add mouse-over and right-click support to symbols"
When the user hovers the mouse pointer over a symbol, we could show info such as
1. relevant metadata,
2. Is it a local, a Var from this namespace, or a Var from another namespace?

On right-click, we could offer all operations that act on symbols (find source, documentation, etc).

[2016-02-13 18:01] bbatsov commented on #1560
Excellent idea! A few times users have discussed with me that CIDER is not mouse-friendly (and many newcomers are not exactly Emacs ninjas...).

[2016-02-13 21:38] Malabarba opened #1561 "Color symbols in the ns-browser like with cider-font-lock-dynamically"
As the title says, font-lock vars, macros, and functions in the ns-browser as they would be in a Clojure buffer.

[2016-02-13 21:40] bbatsov commented on #1559
I'll close this one in favour of #1561.

[2016-02-13 21:40] #1559 closed

[2016-02-14 00:32] Malabarba commented on #1462
While we wait for an upstream fix, I think I have a workaround. the debug.clj middleware can call `(boot.core/load-data-readers!)` when it receives the `debug-init` message. That only happens after the repl is connected, so I think it avoids the previous problem, right?

(of course, it will check whether that function exists first, so it won't error on non-boot projects)

[2016-02-14 00:34] alexander-yakushev commented on #1462
There isn't much point in calling exactly Boot's function as it is nothing else but:

[code]

And calling that in Leiningen won't hurt either.

[2016-02-14 00:45] Malabarba commented on #1462
Even better.

[2016-02-14 00:49] Malabarba commented on #1462
Pushed Alex's snippet.

[2016-02-14 03:10] mtnygard commented on #473
I had a similar issue with scrolling, I traced it down to linum-mode which I had enabled via global-linum-mode. I disabled linum-mode for REPL buffers and no longer had any scrolling trouble.

[2016-02-14 07:40] #1556 closed

[2016-02-14 08:14] bbatsov opened #1562 "Disabling cider-mode doesn't turn off the dynamic font-locking"
The title basically says it all. We need to reset the `clojure-mode` font-locking config if we turn off cider-mode.

[2016-02-14 08:15] bbatsov opened #1563 "cider-apropos blows up on invalid regular expressions"
We should process those specially and give some sensible feedback to the users instead of dumping a stacktrace on them.

[2016-02-14 08:17] bbatsov opened #1564 "cider's namespaces and vars should be filtered pretty much everywhere"
In a lot of places (e.g. apropos, the ns browser, etc) the users can see cider's namespaces and vars. We should filter those out (although we also need a way to not filter them while hacking on cider itself).

[2016-02-14 08:18] bbatsov commented on #1562
Probably the same applies for dynamic indentation.

[2016-02-14 08:22] bbatsov opened #1565 "cider-apropos's font-locking is messed up"
See this:

![image](https://cloud.githubusercontent.com/assets/103882/13032677/b24c2c0c-d304-11e5-8f2e-d3cfbaaa4c1d.png)

The offending code is here:

[code]

Not sure why the syntax table is used here. Enabling `cider-mode` also seems redundant.

[2016-02-14 08:42] bbatsov opened #1566 "cider-run should not create eval overlays"
It's odd when you run `cider-run` when in a source buffer, but it's even stranger when you run while in the REPL.

![image](https://cloud.githubusercontent.com/assets/103882/13032751/8e87d11a-d307-11e5-8791-8caec19fa8ef.png)

In general no evaluation command should dump overlays in the REPL buffer.

[2016-02-14 10:55] bbatsov opened #1567 "cider-read-symbol-name locks up"
Easily reproducible by running something like `C-c C-d d` when there's no symbol at point.

[2016-02-14 11:36] #1531 closed

[2016-02-14 14:49] Malabarba commented on #1563
The regexp is used on the Clojure side, right?
If so, should be just a matter of using a try block somewhere in there.

[2016-02-14 15:51] bbatsov commented on #1563
Yeah, there should simply be specific handling for this exception and some specific processing of the return value on the Emacs side. Perhaps as importantly - it's not really clear the search key is a regexp (just as the Emacs's own apropos). We know it, but some users probably don't...

[2016-02-14 16:34] Malabarba commented on #1566
I'm taking a more general approach for this, where the overlay will not be created if we don't know where the code came from.

[2016-02-14 16:36] #1566 closed

[2016-02-14 18:14] #1562 closed

[2016-02-14 18:15] Malabarba commented on #1562
Turns out we never really disabled cider-mode. :-P

[2016-02-14 18:23] #1567 closed

[2016-02-14 19:38] bbatsov commented on #1543
Guess we can consider this done (at least for now).

[2016-02-14 19:38] #1543 closed

[2016-02-14 20:22] #1557 closed

[2016-02-14 20:24] Malabarba commented on #1557
Both of the issues should be settled. Let me know if it seems to work.

Now, if your cljs connection hasn't fully setup yet (such as when it's waiting for you to open a browser page) then doing things like `load-file` on a cljs file will error out (complaining that a connection does not exist).

[2016-02-14 20:24] Malabarba commented on #1537
Any news on this @expez ?

[2016-02-14 20:25] Malabarba commented on #1505
Would anyone like to mention this issue with `fipp` upstream?

[2016-02-14 21:05] bbatsov opened #1568 "Clicking on folded nrepl dicts in the messages buffer results in an error"
We had this problem in the past, but @Malabarba fixed it. Guess we've got a regression.

[2016-02-14 21:07] #1441 closed

[2016-02-15 12:15] expez commented on #1537
I ended up rewriting the test in question so I I can't retest this.  Since you couldn't reproduce, the general case probably works as it should and something else happened.

Sorry about the noise.

[2016-02-15 12:15] #1537 closed

[2016-02-15 14:49] bbatsov commented on #1565
@jeffvalk do you remember why you added this - https://github.com/clojure-emacs/cider/blob/master/cider-apropos.el#L93

[2016-02-15 18:10] jeffvalk commented on #1565
Mainly for navigating/copy-and-pasting code examples that are embedded in docstrings. Has the font locking always been like this? I don't recall that...

[2016-02-15 19:10] bbatsov commented on #1565
Don't recall. But I'm pretty sure dropping this and disabling cider-mode would fix the font-locking, Probably the addition of dynamic font-locking messed this up.

[2016-02-15 20:03] #1565 closed

[2016-02-15 20:05] bbatsov commented on #1565
This also fixed one more annoying problem - I'd get prompted about a comment delimiter when using `cider-apropos` (I'm guessing this was something to do with the syntax table).

[2016-02-15 21:11] bbatsov opened #1570 "Eldoc doesn't handle properly rest params"
Just start typing `(+ 1 2 3 4 5 6...`) and you'll see two problems - the `&` is treated as a param and `more` is not handled specially (just like one more param placeholder). Anything after `&` should be treated specially.

[2016-02-15 23:45] Malabarba opened #1571 "Debugger moves point to the wrong place when @ token is involved."
To reproduce, just debug this form

    (let [x 1]
      @(delay (inc x)))

and note how all the steps are in the wrong place.

This will require some special handling on the cider side, similar to what we do for the syntax-quote and `~`.

[2016-02-16 13:52] bbatsov opened #1572 "Add support for variables in eldoc"
In Emacs Lisp even variables have eldoc:

![image](https://cloud.githubusercontent.com/assets/103882/13078024/43cd9582-d4c5-11e5-9828-5d8042d92369.png)

Adding this to cider should be easy.

[2016-02-16 22:40] pcarlisle opened #1573 "repl fails to start with leiningen with :pedantic? :abort"
Since #1531.

With no ~/.lein/profiles.clj, I can create a new project, set :pedantic? :abort in the project.clj, and the new cider-jack-in that adds dependencies fails with

[code]

I believe this is because the tools.nrepl dependency is added with conj and lein already has an internal dependency on tools.nrepl so you end up with two of them.

[2016-02-17 10:27] bbatsov commented on #1573
@benedekfazekas can you take a look a this?

[2016-02-17 10:28] bbatsov commented on #1573
Anyways, even before the change cider overrode the lein dependency most of the time, so I wonder how this worked before.

[2016-02-17 10:31] benedekfazekas commented on #1573
Will have a look. Wonder if this is lein version dependent and if we should use the exclusion perhaps

[2016-02-17 12:45] Malabarba commented on #1573
I think lein previously just ignored cider's attempt at overriding that dep, which would explain why it wasn't a problem before.

[2016-02-17 12:54] bbatsov commented on #1573
@hyPiRion any thoughts on this?

Or it might just be a shortcoming of `lein-ancient`...

[2016-02-17 16:32] bbatsov opened #1574 "Add integration with clojuredocs"
I was reminded about clojuredocs when I saw this package https://github.com/mbuczko/helm-clojuredocs

[2016-02-17 21:46] benedekfazekas commented on #1573
@Malabarba it seems it should have been a problem before too: testing with `[cider/cider-nrepl "0.11.0-SNAPSHOT"]` in my `~/.lein/profiles.clj` (lein 2.5.3):

[code]

that said @pcarlisle are you sure this is since #1531?

[2016-02-17 21:59] benedekfazekas commented on #1573
@pcarlisle are you testing with lein `2.6.x`? can you pop into cider gitter room to discuss?

[2016-02-17 22:14] benedekfazekas commented on #1573
just for the record @pcarlisle is right: if you add TNR as a dependency to your profiles.clj that solves the problem.

[2016-02-17 22:17] hyPiRion commented on #1573
So for the record, the issue is that there are multiple tools.nrepl entries in the dependency vector. We have technomancy/leiningen#2074, which should make #1531 easier to work with when it's done, and I'll peek through the implementation to see if we can defer the injection of TNR and clojure-complete into the dependency vector before it's needed.

[2016-02-17 22:25] benedekfazekas commented on #1573
at this moment I can see to easy solutions (keeping in mind that CIDER 0.11 is coming up very soon):
- warn in README that if you use `:pedantic? :abort` you still need to add TNR `0.2.12` to your profiles
- don't inject the TNR dependency at all with the new feature and perhaps add this to the wrong TNR version warning at REPL startup (eg. if you are using lein 2.5.3 or older pls edit your profil

[2016-02-18 00:35] Malabarba commented on #1573
I'd rather keep injecting by default. This was a big upgrade IMO and most people don't use pedantic. We can document this issue on the readme and tell people to either disable injection or disable pedantic.

[2016-02-18 07:59] bbatsov commented on #1573
I agree with @Malabarba. Let's just add this to troubleshooting and caveats for now.

@hyPiRion btw, why does lein depend on `clojure-complete`? Doesn't reply depend on it anyways?

[2016-02-18 10:26] expez opened #1576 "Add issue template (and PR template?)"
Most issues opened aren't immediately actionable or trivially solved by looking at the README.  By adding a template we can make sure we have the information we need.

Read more about templates here: https://github.com/blog/2111-issue-and-pull-request-templates

[2016-02-18 11:32] bbatsov commented on #1576
Yeah, that'd be super useful.

[2016-02-18 13:32] Malabarba opened #1577 "Show first-line of docstring on the ns browser"

[2016-02-18 14:11] bbatsov commented on #1577
In the minibuffer or in the browser itself?

[2016-02-18 14:18] Malabarba commented on #1577
In the browser itself, after the Var name

[2016-02-18 15:50] jonpither opened #1578 "nrepl-server-filter called, even though process buffer is dead"
Trying to debug #390. This may or may not be related:

I often see an error when I kill CIDER in windows using `cider-quit`:

[code]

This happens inside of `nrepl-server-filter`, specifically the line:

[code]

TBH my knowledge of process buffers and sentinels etc is a bit naive. But it seems to me that CIDER kills the process buffer, yet this server-filter is still hanging around to intercept ou

[2016-02-18 16:10] Malabarba commented on #1578
I'm never quite sure when it comes to Emacs+Windows+Subprocesses, so it *is* possible, and your analysis sounds reasonable.

If we are sure that this is happening (and I tend to agree), then yes, we should add defensive code (with comments explaining why).

[2016-02-18 16:51] tmarble commented on #1462
Clojars is still based on the version https://github.com/clojure-emacs/cider-nrepl/commit/1723057b7dcba57fc10108b0b38f0e6a5293df6d

I just did a local `lein install` with https://github.com/clojure-emacs/cider-nrepl/commit/ebf352681fec7f378cf078fae5d62f4c1502798c  and that avoids the ugly stack trace (`Can't set!: *data-readers* from non-binding thread`)

FWIW I don't think the debugger is actuall

[2016-02-18 17:49] Malabarba commented on #1462
Sorry, I've redeployed now. If the debugger still doesn't work for you, please file a new issue.

[2016-02-18 18:05] Malabarba commented on #1462
Ignore the accidental close, the issue itself is very much still open.

[2016-02-19 00:34] johanatan opened #1579 "history not working with piggieback+clojurescript"
This is probably something wrong with my local config but I followed standard tutorials and everything seemed to succeed along the way. I'm using the latest Spacemacs.

[2016-02-19 09:18] jonpither commented on #1578
Thanks. I'll try out some defensive code on Monday, when I'm back in a windows environment.

[2016-02-19 14:34] tmarble opened #1580 "Enhancement: proposed code to simplify cider-connect with boot"
I have recently had success converting some projects to use http://boot-clj.com/

In particular I used the https://github.com/Deraen/saapas with CIDER to have
a CLJS bREPL and  CLJ REPL *at the same time* -- this was awesome to live edit
both sides of the application.

I have written some crude elisp to simplify this process.... It seems like it could
usefully become part of CIDER, but I don't kno

[2016-02-20 11:53] bbatsov commented on #1579
History == REPL history? Some repro steps would be useful.

[2016-02-20 11:54] bbatsov commented on #1577
Makes sense.

[2016-02-20 18:32] #1573 closed

[2016-02-20 18:43] johanatan commented on #1579
Yes, REPL history. The repro steps for me were (on a fresh system):
https://github.com/bhauman/lein-figwheel/wiki/Using-the-Figwheel-REPL-within-NRepl

particularly the "advanced" section regarding integration with Emacs.

[2016-02-21 00:25] usq commented on #1305
I get exactly the same messages as @Vastorization on 0.11.0-snapshot

[2016-02-21 16:46] divs1210 commented on #1416
Hey, @Malabarba ! Thanks for the list of things to start off from. I'm new to Emacs and CIDER, but would like to give this a shot.

[2016-02-21 16:56] vemv opened #1582 "Show corresponding cider function names in keybinding cheatsheet"
Hey there!

I'd find it useful if each cider function name was included as a third column in the following table.

![image](https://cloud.githubusercontent.com/assets/1162994/13203975/0376cb0e-d8c4-11e5-925d-fa6cd7be0399.png)

Hopefully you can do it without much work (maybe that table is auto-generated already? In that case it would just need a tweak).

Cheers - Victor

[2016-02-22 11:49] expez opened #1583 "Eval in context for debugger"
The elisp debugger lets you stop somewhere and eval code in that context.  This is great when you want to query the locals to find out what's wrong, instead of just listing them.

[2016-02-22 13:34] Malabarba commented on #1583
Is that the `e` key?

[2016-02-22 15:55] timvisher commented on #1582
:+1: :)

[2016-02-22 16:16] bbatsov commented on #1583
Yep. One of the favourite features there.

[2016-02-22 21:03] bbatsov opened #1584 "Don't auto-enable eldoc in the REPL"
The current behavior (enabling `eldoc-mode` automatically in `cider-repl-mode`) is not consistent with `ielm` and what we do for `cider-mode`. Probably we should just have people enable it manually in their configs.

[2016-02-22 21:08] Malabarba commented on #1582
I think a short, human-readable version of the command-name (like "Eval last sexp" or "Eval and replace") might be good. This way people can briefly look over the table without having to read everything.

[2016-02-22 21:09] Malabarba commented on #1584
:+1:

[2016-02-22 21:10] Malabarba commented on #1583
I'll rephrase. :-)
Isn't that already implemented as the `e` key in CIDER's debugger?

[2016-02-22 23:13] celwell commented on #1524
Upgrading fixed this for me as well.

[2016-02-23 06:57] #1583 closed

[2016-02-23 06:57] bbatsov commented on #1583
I guess it is.

[2016-02-23 07:00] bbatsov commented on #1582
There are many interactive commands that don't have keybindings at all. The table is not auto-generated.

Is this a suggestion for another column in this table?

[2016-02-23 11:10] Malabarba commented on #1582
Yes. Or this could go in bold at the start of the second column.

[2016-02-23 12:21] expez opened #1585 "e is missing from the debugger keybinding overlay"
This caused me to open https://github.com/clojure-emacs/cider/issues/1583 yesterday

![image](https://cloud.githubusercontent.com/assets/1006557/13251401/44e47006-da30-11e5-8303-9edbe3f80936.png)

[2016-02-23 12:52] Malabarba commented on #1585
The motivation for hiding the e key was that any evaluation operates in the current debugging context. For instance, you can just keep using C-x C-e, or C-c M-: and they'll magically work in the debugger.

IIRC, Bozhidar was against me hiding the e key, so I guess it's 2 against 1 now. :-)

[2016-02-23 13:07] bbatsov commented on #1585
I was reminded about this just now, when I was going through the code. :-) I'm guessing showing `e` in the menu won't hurt.

[2016-02-23 13:14] expez commented on #1585
That's awesome! ...but I'd never thought to try that.

[2016-02-23 13:19] timvisher commented on #1582
@Malabarba So that would be 4 columns total? I think that might be too much.

The reason I think this is a good idea is because of a very old emacs trick where you learn the names of the commands prior to learning their keybindings. Especially with tab completion or `ido-ubiquitous`, it's much easier to pick them up and then with Emacs echoing the keybinding you could have done at you every time y

[2016-02-23 13:38] #1584 closed

[2016-02-23 14:29] Malabarba commented on #1582
No, it would be 3 columns. I'm just suggesting we use short names *instead* of the full command names. I think it would be a waste of space to repeat `cider-` on every line of the table.

[2016-02-24 21:03] ftravers opened #1586 "persisting repl session"
if your machine crashes while using the repl, it would be nice to be able to restore it somehow.

[2016-02-24 21:11] r0man opened #1587 "Wrong REPL connection for ClojureScript"
After running `cider-jack-in-clojurescript` CIDER uses the wrong connection to eval ClojureScript files.

I noticed the following:

- When opening ClojureScript files without CIDER running, files are correctly put into `clojurescript-mode`. Buffers in `clojurescript-mode` should use CIDER's ClojureScript connection.
- When I start CIDER, all buffers visiting ClojureScript files that were in `cloju

[2016-02-25 00:22] Malabarba commented on #1587
Oh my, this is bad. 😝

I'll try to reproduce this  later, but it might be good to look into your hooks and see if one of them might be misbehaving.

[2016-02-25 06:59] #1576 closed

[2016-02-25 08:52] whysoserious opened #1588 "stderr output is not printed to repl"
Try running this code in cider repl:

[code]

Use the template below when reporting bugs. Please, make sure that
you're running the latest stable CIDER and that the problem you're reporting
hasn't been reported (and potentially fixed) already.
## Steps to reproduce the problem

Run this code in cider repl:

[code]
## Expected behavior

[code]
## Actual behavior

[code]
## Environment & Version inf

[2016-02-25 09:00] bbatsov commented on #1588
Excellent bug report! Thanks! :-)

[2016-02-25 09:02] bbatsov commented on #1586
Can you bit more specific? What exactly would you like to restore?

[2016-02-25 09:50] expez commented on #1586
There's already a command history so I'm guessing he wants everything else persisted too.

[2016-02-25 14:08] Malabarba commented on #1587
What do you mean by "When I start CIDER"? Do you mean a plain `cider-jack-in`?

If that's the case then I can't reproduce this. Jacking-in doesn't cause clojurescript buffers to suddenly switch mode for me.

The only cause I can think of is that you may have some misbehaving hook. What do you see when you evaluate this?

    (concat (format "cider-mode-hook: %S" cider-mode-hook)
            (forma

[2016-02-25 14:11] Malabarba commented on #1578
Thanks. Feel free to open a PR when you have it. Should be a simple of matter of wrapping that code in a

    ;;; In Windows this can be false.
    (when (buffer-live-p (process-buffer process))
      ...
      )

[2016-02-25 14:13] Malabarba commented on #1511
Is this still an issue? The related code has changed a bit over the last month, and I can't reproduce this now.

[2016-02-25 14:19] gdanov commented on #1511
yes, it's messy. Pls let me know which components I should update. Is it only cider or also the repl plug-ins

[2016-02-25 14:22] Malabarba commented on #1511
1. Upgrade `cider` and `clojure-mode` in the Emacs' package manager (if you use `clj-refactor`, upgrade it too).
2. Remove any mentions of the `cider/cider-nrepl` dep from your `build.boot` (if you have `refactor-nrepl` remove that too).

[2016-02-25 14:53] r0man commented on #1587
@Malabarba I can't reproduce it either anymore. Not sure how/why I got this behavior yesterday. Those are my hooks. Do you see anything suspicious?

[code]
I'm closing this now. Sorry, for the noise.

[2016-02-25 14:53] #1587 closed

[2016-02-25 15:06] bbatsov commented on #1586
What's everything else, though? :-)

I can imagine we can record and replay evaluations and perhaps REPL interactions, but this would involve a lot of work for some marginal returns. And we definitely can't just dump a Lisp image, as we could do with SBCL.

[2016-02-25 16:50] ftravers commented on #1586
Replaying commands wouldn't be good, because of changes to code over time.
What would be good though is saving contents of REPL buffer a bit like the
auto saves of emacs.  What would be really neat too, is restored command
history.

On Thu, Feb 25, 2016, 7:06 AM Bozhidar Batsov <notifications@github.com>
wrote:

[2016-02-25 17:01] Malabarba commented on #1587
No, nothing suspicious. Let us know if it happens again.

[2016-02-25 17:02] bbatsov commented on #1587
Btw, you don't need to add `paredit-mode` to `clojurescript-mode-hook`, as parent hooks are executed for derived modes anyways.

[2016-02-25 19:05] johanatan commented on #1579
It's unclear to me how to even invoke the REPL history-- in a normal shell or emacs window the 'up' arrow will do this; however in an evil window (as in spacemacs), up actually moves the cursor to the line above. Is there a way to disable evil mode in REPL windows?

[2016-02-25 19:10] bbatsov commented on #1579
`M-p` & `M-n`.

[2016-02-25 19:17] johanatan commented on #1579
Sweeeeet! It works now, lol

[2016-02-25 19:18] johanatan commented on #1579
I would still be curious about disabling evil mode in REPL windows though...

[2016-02-25 19:55] jonpither commented on #1578
Yes I'll do it tomorrow

[2016-02-25 20:37] bbatsov commented on #1586
Why would you need the contents of the REPL? Isn't the history sufficient?

[2016-02-25 20:40] bbatsov commented on #1579
See http://stackoverflow.com/questions/19623545/disabling-a-package-in-emacs-term-mode (just keep in mind the REPL uses `cider-repl-mode`).

[2016-02-25 20:40] #1579 closed

[2016-02-25 20:45] ftravers commented on #1586
when you say history do you mean: *nrepl-messages <project>*?  If so, I'd
prefer the contents of the REPL buffer because that is what I'm used to, as
a programmer, looking at.  I almost never look at the nrepl-messages buffer.

having the contents of the REPL buffer gives me my 'flow' context.  What
was i thinking, what was i working on...etc...

On Thu, Feb 25, 2016 at 12:38 PM, Bozhidar Batsov <

[2016-02-25 20:46] bbatsov commented on #1588
So, it seems we forgot to handle stderr in our `out` middleware (https://github.com/clojure-emacs/cider-nrepl/blob/master/src/cider/nrepl/middleware/out.clj). Probably the stderr is ending up in the nrepl-server buffer.

[2016-02-25 20:49] bbatsov commented on #1586
I mean the history of the REPL buffer. The one you can navigate with `M-p/M-n` and you can persist to a file.

[2016-02-25 21:46] gdanov commented on #1511
updated and gave it a try. I use figwheel now and always start the repl outside of emacs.
there is no automatic association of the .cljs buffers with the cljs repl, but once I manually associate the buffer with the repl, the association stays.
so, it's not messy anymore. just not automatic.

[2016-02-25 23:44] Malabarba commented on #1511
Do you use cider-connect? If so, do you associate that repl buffer with a project directory?

[2016-02-26 01:00] ArcadeFever commented on #1050
Posting this here in case any other OSX users running zsh encounter the same issue of cider-jack-in not opening the *cider-nrepl buffer.  As mentioned here http://www.hydrus.org.uk/journal/clojure-osx.html some shells like tch (or apparently zsh) don't echo commands down the pipe the same as bash (conjecture).  Changing the default OSX login shell back to /bin/bash resolves cider-nrepl buffer open

[2016-02-26 02:38] Malabarba commented on #1588
Looking through that code now, I don't think I could have done a better job at making it specific to `out`. 😝

It would be easy to redirect st

[2016-02-26 03:21] sooheon opened #1589 "Debugger flickers if it was triggered by a sync-eval"
## Expected behavior

Stepping through in `cider-debug` should not flicker overlays.
## Actual behavior

Calling `continue` causes flicker of overlays.

I saw a brief mention of flicker by @Malabarba, but he seemed to be saying it was fine on his machine--is this a performance issue, then? One thing I noticed is that there is no flicker when using the `-nw` flag.

![debug-flicker](https://cloud.gi

[2016-02-26 07:23] #1585 closed

[2016-02-26 07:40] bbatsov commented on #1588
You and me both. We definitely have to fix this before the release. If you don't have time I'll update it over the weekend (or at least I hope I'll have time for this).

[2016-02-26 07:58] jackrusher commented on #1436
I've been getting random emacs lockups since upgrading to `cider-0.10.2` with `[cider/cider-nrepl "0.10.2"]` yesterday, all of them giving a `nREPL: No response handler with id nil found`. Sadly, I haven't been able to get a consistent reproducible setup. Do we suspect it's the same bug?

[2016-02-26 12:47] Malabarba commented on #1589
No, it was a regression I introduced, but I also fixed it afterwards.
Does it flicker when you step `next` (instead of `continue`), or is it just with `continue`?

[2016-02-26 12:48] Malabarba commented on #1588
I'll have a bit of time sunday night.

[2016-02-26 12:58] sooheon commented on #1589
Ah I was imprecise in the original report: It happens with `n`, `c`, `o`, and on pressing `e` the overlay disappears while the prompt for expression is active.

[2016-02-26 13:04] bbatsov commented on #1588
OK, I'm leaving this to you then. :-)

[2016-02-26 18:32] Malabarba commented on #1588
Actually, I just gave it a try over lunch and I don't know how to get it to work.

Redirecting `#'*err*` didn't have any effect for me.

Remember how we can redirect Clojure's `*out*` but not Java's stdout? I think this is the same problem, but with `err`.

[2016-02-27 11:47] vivekramaswamy opened #1592 "cider-repl (read-line) not working"
Use the template below when reporting bugs. Please, make sure that
you're running the latest stable CIDER and that the problem you're reporting
hasn't been reported (and potentially fixed) already.

## Expected behavior
clojure-noob.core=> (do (print "What's your name? ") (flush) (read-line))
What's your name? vivek
"vivek"
clojure-noob.core=>
## Actual behaviour
clojure-noob.core> (do (print "Wha

[2016-02-27 18:22] bbatsov commented on #1592
Works just fine for me (tested on the current `master`).

[2016-02-27 21:04] bbatsov opened #1593 "Find doc and find source commands mess up with the point in the REPL"
Basically if you do something like `C-c C-d d` at the REPL prompt the point will jump over the prompt.

![image](https://cloud.githubusercontent.com/assets/103882/13375374/178ecf56-dda6-11e5-88b7-f8cb23d26c03.png)

## Expected behavior

The point should stay where it was when `C-c C-d d` was invoked.

## Actual behavior

It moves to the very beginning of the line.

## Steps to reproduce the proble

[2016-02-28 09:04] bbatsov commented on #1589
I can confirm the flicker is still present, although it doesn't happen all the time as before. Try debugging this:

[code]
I get a flicker only after the second `n`.

[2016-02-28 09:08] bbatsov opened #1594 "Instrumented face is not cleared in the REPL when you remove instrumentation"
That's a relatively small bug, but it's also kind of annoying that the special font-locking never goes away from functions that were already evaluated in the REPL.

## Expected behavior

After removing debug instrumentation this should affect functions that were already executed in the REPL.

## Actual behavior

This doesn't happen.

![image](https://cloud.githubusercontent.com/assets/103882/13378

[2016-02-28 09:19] bbatsov opened #1595 "After you've finished debugging something the point should go back to the invocation place"
Not sure whether to call this a bug report or an improvement. Personally I find it annoying that when I'm done debugging something the point stays in the source file of the thing I was debugging instead of going back to the place I was when the debugger was triggered.

[2016-02-28 12:54] #1578 closed

[2016-02-28 12:56] #1592 closed

[2016-02-28 12:56] bbatsov commented on #1592
P.S. You should upgrade to at least 0.10.2. 0.9 is way too old these days.

[2016-02-28 13:12] Malabarba commented on #1595
Agree. This has been bothering me too.

[2016-02-28 14:21] Malabarba commented on #1594
Hm. I see why that would happen, but I don't think it has an easy fix. The REPL specifically avoids font locking stuff above the most recent prompt. So any previous inputs are sort of frozen in time. :-)

[2016-02-28 18:24] bbatsov commented on #1594
I actually think there's an easy fix - we can just strip such faces before freezing the input.

[2016-02-28 21:02] bbatsov commented on #1582
Well, if someone wants to work on this - be my guest! PR welcome! :-)

[2016-02-28 21:52] Malabarba commented on #1594
Sounds reasonable. 👍

[2016-02-29 06:17] bbatsov commented on #1580
Frankly I'm not quite certain what's the problem this code would solve, so if you can provide us with more details - that'd be great.

[2016-02-29 08:48] bbatsov commented on #1588
Actually I don't - aren't they the same thing? But I'm guessing even if this is true, it still makes sense to redirect `*err*` although it won't fix this particular problem.

[2016-02-29 09:38] Biserkov commented on #1582
I'm willing to do the grunt work. Any pointers/advice?

Also, should I put the full or short (without cider-) names?

[2016-02-29 10:42] sooheon opened #1596 "No reader function for tag dbg with boot"
Calling `cider-debug-defun-at-point` with a boot connected cider-repl errors out with `java.lang.RuntimeException: No reader function for tag dbg`. This is a duplicate issue of #1462, just a new issue as per @malabarba 's request.

## Steps to reproduce the problem

Contents of my profile.boot
[code]

cider-jack-in in a boot project and calling `cider-debug-defun-at-point` will reproduce.

## Envi

[2016-02-29 10:50] bbatsov commented on #1582
Add the `cider-` prefix.

That's fine.

I'd also add interactive commands that don't have keybindings. You can see a few of them in the menus.

[2016-02-29 13:05] Malabarba commented on #1589
I tried reproducing this with the following code, but I don't see any flicker.

[code]

In a blind attempt to fix this, I've increased the timeout we use on `accept-process-output`. Let me know if it has any effect.

[2016-02-29 13:07] bbatsov commented on #1589
I can't reproduce this every time myself. Let's see what @sooheon will say.

[2016-02-29 13:07] Malabarba commented on #1462
@micha Has this made into a boot stable release?

[2016-02-29 13:07] bbatsov commented on #1593
@Malabarba This is caused by the backward search for symbol, right?

[2016-02-29 13:12] Malabarba commented on #1588
Apparently not. To change Java's out we have to call setSystemOut, there's a comment about it on the code.

Yes, but I failed to do that. :-P
Maybe I was just testing it wrong, but I couldn't get `*err*` to print on the REPL. For instance, no matter what I did, the following code would always print on the server buffer:

    (binding [*out* *err*]
      (println "PRINT ME"))

[2016-02-29 13:24] bbatsov commented on #1588
Just generify the existing code and we'll take it from there. Baby steps. :-)

[2016-02-29 13:28] #1593 closed

[2016-02-29 13:31] tmarble commented on #1580
@bbatsov unlike projects with lein where we simply do `cider-jack-in` **boot** will start nrepl from the command line and then print the host/port on STDOUT. This code finds and parses the host/port to do `cider-connect`.

Alas I don't understand enough about the inner workings of boot+cider to know if a better solution is to fix `cider-jack-in` for **boot**.

[2016-02-29 13:33] Malabarba commented on #1588
See https://github.com/clojure-emacs/cider-nrepl/pull/304

[2016-02-29 13:34] bbatsov commented on #1580
That's what leiningen does as well. It prints it and we parse it. The boot maintainers changed their output to match lein's so tools like cider would work without modifications. I was under the impression `cider-jack-in` just work with boot.

Any boot users around to confirm this?

[2016-02-29 13:35] Malabarba commented on #1580
Cider-jack-in just works with boot for me.

[2016-02-29 14:02] tmarble commented on #1580
@Malabarba can you show me your **boot** setup?

Are you using something like https://github.com/boot-clj/boot/wiki/Cider-REPL ?

When I try it I get `Debugger entered--Lisp error: (error "nREPL: Direct connection failed")`

NOTE: emacs 24.5.1, profile.boot has `[cider/cider-nrepl "0.11.0-SNAPSHOT"]`, `BOOT_VERSION=2.5.5`

[2016-02-29 14:46] bbatsov commented on #1588
P.S. This works fine for me.

![image](https://cloud.githubusercontent.com/assets/103882/13397741/ed5eedd8-df03-11e5-98df-9562426b0251.png)

[2016-02-29 14:52] Malabarba commented on #1580
I used to use the first part of that link, yes. But the latest cider snapshots inject themselves automatically, so you don't need that anymore. Here's my entire `profile.boot`:

[code]

Note that there's nothing cider-related in there. And `cider-jack-in` works on any new boot project "out of the box".

[2016-02-29 15:17] Malabarba commented on #1588
Yes. Because that's inside an Eval session. The point of this middleware is to redirect prints that happen on the server out (outside any Eval session).

[2016-02-29 15:36] bbatsov commented on #1588
I know. :-) Guess I misinterpreted your comment - I assumed *err* was misbehaving completely for you.

[2016-02-29 16:03] tmarble commented on #1580
@Malabarba Thanks.. I was able to get `cider-jack-in` to work fine with *.clj files.

Now the remaining use case is when I want to do CLJS bREPL development.
When I have a project with CLJS (e.g. [avenir](https://github.com/tmarble/avenir/blob/master/build.boot#L68)) things will work properly if I *temporarily* mutate **cider-boot-parameters** to be `cljs-dev repl -s wait`. I suspect I can create

[2016-02-29 16:03] #1580 closed

[2016-02-29 16:06] Malabarba commented on #1580
👍

[2016-02-29 16:09] Malabarba commented on #1588
Sorry, I was a little laconic. :-)
What I did was insert that code in one of cider's middleware functions, so it would get executed l on every request. And it was always printed on the server buffer.

[2016-02-29 17:08] bbatsov commented on #1568
Just verified the old fix is here https://github.com/clojure-emacs/cider/blob/master/nrepl-client.el#L1287

I'm at a loss...

[2016-02-29 17:09] sooheon commented on #1589
I see now that this was caused by an interaction with `lispy-mode`. It matters how the debugger is entered. After calling `cider-debug-defun-at-point` on `greeting` and `greet`:

1. calling `cider-eval-last-sexp` on `(greet "ama")` and stepping through debugger with `n` does not flicker (or rarely, hard to reproduce). accept-process-output delay doesn't seem to make a difference.

2. calling `spec

[2016-02-29 17:13] sooheon commented on #1595
Interestingly, while investigating #1589, I found that entering debugger with [`special-lispy-eval`](https://github.com/abo-abo/lispy/blob/master/lispy.el#L3484) would return point to where the debugger was triggered.

[2016-02-29 17:14] bbatsov commented on #1568
Just consulted the docs:

[code]

Seems our code is correct, but for some reason the `mouse-action` is not registered at all.

[2016-02-29 18:58] Malabarba commented on #1589
If `special-lispy-eval` uses sync requests, then that could have something to do with it. The debugger avoids the flicker by waiting for process output after sending they key you hit but before erasing the overlays. Since sync requests also involve waiting for input, it's possible that those two get messed up, and we end up erasing the overlays before the process-output arrives.

[2016-02-29 23:42] Malabarba commented on #1568
It might be an emacs bug. I'll try to reproduce on 25.1 tomorrow.

[2016-03-01 05:55] bbatsov commented on #1568
Yeah, maybe. That'd be fun. :-)

[2016-03-01 13:12] bbatsov commented on #1534
Do we need to do something here? I guess everyone can just modify the defcustoms.

[2016-03-01 13:14] mitchelkuijpers commented on #1596
A quick fix is running `(boot.core/load-data-readers!)` in your cider-repl, this works for me in emacs :dancers:

[2016-03-01 13:24] benedekfazekas commented on #1534
They are (def)vars so they don't show in customize buffers. But I don't
think there is anything here to do. Clj-refactor actually using this system
already
On 1 Mar 2016 1:12 pm, "Bozhidar Batsov" <notifications@github.com> wrote:

[2016-03-01 16:25] bbatsov commented on #1427
@magnars recently documented this.

[2016-03-01 16:26] #1427 closed

[2016-03-01 16:36] #1534 closed

[2016-03-01 16:37] bbatsov commented on #1534
One less ticket then. :-)

[2016-03-01 17:30] Malabarba commented on #1568
Yeah, I was working on it. Can't believe I spent half an hour on this. This is really one of Emacs dark corners. :P

[2016-03-01 17:31] #1568 closed

[2016-03-01 22:08] gdanov commented on #1511
yes, that's what I use. The clojurescript is started via
``(use 'figwheel-sidecar.repl-api)``
``(cljs-repl)``

associating the repl buffers with the project makes no difference. If I have clj and cljs repls and open new cljs file, it's associated with the clj repl by default

[2016-03-02 07:09] bbatsov opened #1597 "Debug namespace"
I was thinking that it might be useful to be able to debug all functions in a namespace. Perhaps you'd be debugging some function calling out to several functions in the namespace and this would be more convenient than finding and instrumenting those manually. We already have similar functionality for tracing.

[2016-03-02 18:14] bbatsov commented on #1541
It already exists - `cider-find-var`.

[2016-03-02 18:46] #1570 closed

[2016-03-03 04:28] tommy-mor opened #1598 "stderr shows up in nrepl-messages, with no id"
I am using clojure quil to make drawings, but runtime errors from quil are being sent to nrepl-messages.
For example of runtime errors from quil in nrepl-messages:
http://pastebin.com/hu1eN5RM
(I think these are stdout because they have \n's in them, and when using different environments, they show up in stdout)
To me (although I am no expert) it seems like this is the correct behavior, as normal

[2016-03-03 14:23] Malabarba commented on #1511
I just pushed a change that might fix this.
Could you try upgrading to the latest snapshot?

It should be on Melpa in about an hour.

[2016-03-03 14:52] amoe opened #1599 "Error when test makes 0 assertions"
## Expected behavior

Cider should either proceed as normal and say that zero assertions passed, or warn the user that they defined a test that had zero assertions.

## Actual behavior

Message from emacs: `error in process filter: Wrong type argument: stringp, nil`

Stack trace:

    Debugger entered--Lisp error: (wrong-type-argument stringp nil)
      propertize(nil face font-lock-type-face)

[2016-03-03 15:08] #1599 closed

[2016-03-03 17:43] gdanov commented on #1511
I upgraded. Just a reminder — I have switched the workflow to using cider-connect so this is what I am testing.

what I see currently is that the cljs repl reports to be clj repl type.

Also when I connect fresh, the helm-buffer-list does not show the repl in the project list. I don't know if it's different symptom. once I switch to the fresh repl buffer via ibuffer other-window the project folder

[2016-03-03 18:25] Malabarba commented on #1511
OK. This is something we can focus on.
Do you get any warnings when you connect to the REPL?

[2016-03-03 21:10] gdanov commented on #1511
that's what I see in the messages

and some details on the plug-ins

[code]

[2016-03-04 04:41] Malabarba commented on #1511
If there are warnings, they'll be printed in red color on the REPL buffer after you connect. Do you see anything there? (besides the welcome banner)

[2016-03-04 14:35] gdanov commented on #1511
this is what I see

[code]

Please note that I don't have the refactor plug-in enabled and that I run the cider snapshot version which is now actually the release one

[2016-03-04 15:12] sooheon opened #1600 "cider-test-run-project-tests runs 0 tests"
## Expected behavior

`cider-test-run-project-tests` should run all tests defined in project.
## Actual behavior

[code]
## Steps to reproduce the problem

Add simple test to core namespace (i.e. `(deftest test-test (is (= 1 1)))`), check that `cider-test-run-ns-tests` functions properly, and then try calling `cider-test-run-project-tests`
## Environment & Version information
### CIDER version inf

[2016-03-04 16:02] novakboskov opened #1601 "After expression evaluation cursor is moving to the beginning of buffer"
After perform `cider-eval-last-sexp`(`C-x C-e`) or `cider-load-buffer`(`C-c C-k`) cursor is moving to the beginning of buffer (or sometimes at the beginning of line) instead of stay at the position showing result in the line continuation.

Cider 20160303.1214
Emacs 24.5.3
Ubuntu 14.04

[2016-03-04 16:55] #1601 closed

[2016-03-04 17:31] Malabarba commented on #1601
Ops. My bad. Thanks for the fix @cichli

[2016-03-04 17:59] cichli commented on #1601
No worries :-).

[2016-03-04 18:12] novakboskov commented on #1601
All fine

[2016-03-05 02:12] Malabarba opened #1602 "Inspector hangs on infinite lazy seqs inside something else"
1. In a Clojure buffer, write `(repeat 1)` and run `cider-inspect`.
2. Note that inspector correctly renders the infinite sequence.
3. Now replace that with `{'a (repeat 1)}` and run `cider-inspect` again.
4. CIDER hangs.

[2016-03-05 02:14] Malabarba commented on #1602
A user on slack reported that this worked fine on 0.10, so it's probably a recent regression.
@alexander-yakushev any ideas?

[2016-03-05 02:53] base698 commented on #1602
Thanks again!

[2016-03-06 08:22] seanirby commented on #1170
I'm using CIDER 0.11.0 and the debugger does indeed trigger on an http request as expected.  However, the eval feature is broken for me.  I'm going to poke around at it for an hour or two to see whats going on but I figured I would chime in here first.

I notice that upon entering an instrumented function that the current namespace ```*ns*``` is equal to ```clojure.core``` rather than the namespac

[2016-03-06 08:23] bbatsov commented on #1600
Are you sure your tests are on the classpath?

[2016-03-06 08:25] seanirby commented on #1170
The error happens whenever I confirm an expression by pressing RET.  Heres the stack trace:

[code]

[2016-03-06 17:31] Malabarba commented on #1170
Ok, this is probably because we try to restore the namespace after evaluating. I'll try to look into a proper solution later, but for now I'll patch this with a `try/catch`.

[2016-03-06 17:34] Malabarba opened #1604 "Debugger eval inside http requests can't restore namespace"
[See this comment for more information](https://github.com/clojure-emacs/cider/issues/1170#issuecomment-192828216).

[2016-03-06 23:33] Malabarba opened #1606 "Add support for running expectations"
An `expectation` works quite different from a `deftest`, so this will take some work.

- [ ] An expectation has no explicit name, so `cider-test-run-test` would need to work differently.
- [ ] Expectations undef themselves after being run, so `cider-test-run-ns-tests` would need to load the test file before each run.
- [ ] Because they don't expand to proper `deftest`s, it will take some work to i

[2016-03-07 01:02] seanirby commented on #1604
I applied this change locally and it works.  Thanks

[2016-03-07 01:44] sooheon commented on #1600
`, classpath` in the cider repl shows me that my test files are there..

This is the backtrace I'm getting now, calling `cider-test-run-project-tests` (and `cider-test-run-loaded-tests`):

[code]

[2016-03-07 03:38] Malabarba commented on #1600
That last one's my fault. Just fixed it now, so we should be back to your previous problem.

Are you sure you've loaded the tests file?

[2016-03-07 04:10] sooheon commented on #1600
Yep, I continue to get `Ran 0 tests, but found no assertions.Did you forget to use `is'?` message, even after `C-c C-k` in the tests buffer, and confirming that the same tests will run with `cider-test-run-ns-tests`.

[2016-03-07 05:21] sooheon commented on #1589
What is your take on this @abo-abo ?

[2016-03-07 05:24] Malabarba commented on #1600
I just managed to reproduce this on boot. Are you using boot?

[2016-03-07 05:41] Malabarba commented on #1600
The cause is in this function, from `namespace.clj`.

    (defn project-namespaces
      "Find all namespaces defined in source paths within the current project."
      []
      (->> (cp/classpath-directories)
           (filter #(re-find (re-pattern (str "^" project-root))
                             (str %)))
           (mapcat ns-find/find-namespaces-in-dir)))

In boot, the `project-root` is s

[2016-03-07 06:49] bbatsov commented on #1600
We've got some code to detect we're in a boot project, so I guess we should leverage it here. That's what we have been doing so far.

[2016-03-07 06:50] bbatsov commented on #1600
See - https://github.com/clojure-emacs/cider-nrepl/blob/2a336e9c3575f747212e846dc34da5e1f71c708c/src/cider/nrepl/middleware/info.clj#L15

[2016-03-07 08:10] abo-abo commented on #1589
@sooheon In my opinion, `lispy` should keep do eval requests in sync for now. It greatly simplifies debugging and allows easy evaluation of everything (not just Clojure).

Just a suggestion to @Malabarba, I expect it will be a lot easier to code CIDER if you used sync evaluation requests. Is there any fundamental reason to go async?

[2016-03-07 09:42] vemv opened #1607 "Provide a callback for cider-repl-return"
### The problem

I want to programatically write clojure code to the cider repl, execute `(cider-repl-return)`, and when that evaluation is complete (which can take 2 minutes or so), trigger more elisp code to be executed.

`cider-repl-return` is non-blocking though, so I cannot know when the evaluation is complete.

### Proposed solution

Provide a callback to cider-repl-return, or alternatively

[2016-03-07 12:07] bbatsov commented on #1607
What exactly is your use case?

[2016-03-07 12:42] RickMoynihan opened #1608 "C-c C-t C-t on deftest form can cause stringp, nil type error"
When running a test with `C-C C-t C-t` with the cursor inside a deftest form an error occurs.

## Expected behavior

Tests should run and return success or failure message/report.

## Actual behavior
`error in process filter: cider-propertize: Wrong type argument: stringp, nil`
`error in process filter: Wrong type argument: stringp, nil`

With `toggle-debug-on-error`

[code]

## Steps to reproduce

[2016-03-07 12:56] vemv commented on #1607
In any case this would be a good general-purpose function, wouldn't it? I can imagine how sending stuff to the repl is a relatively common need.

Arguably there is the `cider-interactive-eval` function already, but it's not as evident as sending code to the repl, where you can check that the code was actually sent, what result it gave, and when. All of that is sort of hidden with `cider-interactiv

[2016-03-07 15:30] jeffvalk commented on #1608
if you have a minimal repro case, please post that code.

[2016-03-07 15:41] jeffvalk commented on #1600
If a boot-compatible definition is approximate (allows false positives), I'd think branching with `boot-project?` here is preferable, as the current definition should be correct using leiningen.

[2016-03-07 16:04] bbatsov commented on #1600
Yep, that's what I meant.

[2016-03-07 16:40] expez opened #1609 "Javadoc is broken"
## Expected behavior

Documentation is shown

## Actual behavior

Error in modeline

[code]
## Steps to reproduce the problem

Go in the repl.  Type `java.net.` and select e.g. `URL` as the completion candidate and then hit <kbd>f1</kbd> to attempt to display the documentation.

## Environment & Version information

### CIDER version information

[code]

### Emacs version

24.5

### Operating syst

[2016-03-07 16:58] Malabarba commented on #1609
Weird. It seems to work for me here on the latest master.
Could you produce a backtrace?

[2016-03-07 17:06] Malabarba commented on #1607
Does it have to be `cider-repl-return`? Sounds like a sync eval request would be more appropriate for that.

[2016-03-07 21:46] Malabarba commented on #1589
I don't know why it was made like this, maybe @bbatsov does.
If I were to give a (not so thought-out) opinion, I'd say that asynchronicity has complicated my life more than it helped. But I'm not about to put it the necessary effort to switch over. :-P

[2016-03-07 21:57] bbatsov commented on #1589
The reason is quite simple - there are no sync requests in nREPL (we've added the concept of sync requests relatively late when it was clear that Elisp is not very async-friendly - e.g. in many places we'd have several nested callbacks). Also if streaming results you really want to go async, otherwise you'd have to wait until a request is fully finished which might be quite a while.

[2016-03-07 22:12] abo-abo commented on #1589
@bbatsov I imagine CIDER as a construct on top of `lein repl`. And that thing, just like any other REPL I know is fully sync: you type in a request, it gets processed and the result is printed.

I get why one would want to make e.g. a `locate` interface async - since a large amount of data is coming in short bursts. But the output of a command into `lein repl` comes in a single sync echo, as far a

[2016-03-07 22:30] vemv commented on #1607
It would be acceptable. In any case, preferably the code would be sent to (and evaluated in) the cider repl, so the whole process is more "visible".

[2016-03-08 05:48] bbatsov commented on #1589
CIDER has very little to do with `lein repl` - that's just one convenient way to boot an nREPL server. We never deal with console input/output directly. I get it that it's easier to program in terms of sync requests, but that's simply not an option for many things. At least we have some quasi-sync requests now - originally the plan was to have none such thing.

[2016-03-08 07:46] bbatsov commented on #1609
Btw, do you get any candidates when you do something like `(import java.net.` in the REPL. I sure don't.

[2016-03-08 08:32] bbatsov commented on #1607
`cider-repl-return` can't solve your problem - code in the REPL is still evaluated async and this function will return right away (not to mention it's meant to be the function called when you press Return, so it's not really suitable for anything else). Sync evaluation and the REPL buffer aren't a good match, although this is doable.

So basically you want to evaluate 2 expressions in a row and yo

[2016-03-08 08:55] bbatsov commented on #1598
Is this still an issue? Usually such problems are caused by some version mismatch.

[2016-03-08 09:37] jackrusher commented on #1436
After upgrading to cider-11, I'm stilling get complete emacs lockups with `error in process filter: nREPL: No response handler with id nil found`. This occurs whenever I evaluate a form that generates an error. I would send along the contents of the nrepl message buffer(s), but emacs is locked hard. 😿

[2016-03-08 09:49] expez commented on #1609
<kbd> C-c C-c C-d</kbd> gave me this:

[code]

Yes

[2016-03-08 10:12] bbatsov commented on #1609
Maybe you've imported those classes elsewhere. I think only imported classes were shown in the completions, except for the `ns` macro. @alexander-yakushev correct me if I'm wrong. Btw, maybe you should add the same magic you do for `ns` for `import`.

[2016-03-08 10:19] expez commented on #1609
I haven't used any `javax.` stuff:

![image](https://cloud.githubusercontent.com/assets/1006557/13598686/8334c6a4-e51f-11e5-8efc-ee08be0ae6af.png)

Anyway.  Let's take the import thing to another issue, if you still think it's broken.

[2016-03-08 10:23] alexander-yakushev commented on #1609
@bbatsov We're completing all classes (not only the imported ones) for a while now.

FWIW, I get completion candidates for classes in both buffer and REPL, and docs for both. Company+company-quickhelp, Latest CIDER and cider-nrepl, MELPA and shaphots.

[2016-03-08 13:33] bbatsov commented on #1609
Hmm. Let me check this again.

[2016-03-08 13:36] bbatsov commented on #1609
Works for me on my OS X box, might be something to do with Windows. Now I can reproduce the issue.

[2016-03-08 13:40] Malabarba commented on #1609
@expez are you sure you're on the latest master?
I had an issue like that which I fixed last week.

[2016-03-08 13:49] expez commented on #1609
No, I'm not on the latest version, as indicated by the version number in the OP.  And I don't want to upgrade until the recent debugger changes are reverted as I don't have time to write any workarounds atm.

[2016-03-08 13:54] Malabarba commented on #1598
If it's really the case that nrepl can send messages without an ID, then we definitely shouldn't complain about it in cider. But I think it's strange that nrepl would do that.

[2016-03-08 13:59] bbatsov commented on #1609
Ah, I just upgraded and the problem is gone.

[2016-03-08 13:59] #1609 closed

[2016-03-08 14:00] bbatsov commented on #1598
I'm pretty sure something like this should never happen, but this might be some nREPL bug.

[2016-03-08 14:08] #1602 closed

[2016-03-08 14:48] Tommy-tf2 commented on #1598
Still is an issue, but I will change around versions of packages. It also may be worth noting that it is stderr.
Any ideas on how to fix this within nrepl? Is there any config settings I could change?

[2016-03-08 14:56] Tommy-tf2 commented on #1598
I also have already tried difserent packages,  I changed from nrepl 2.12 and 2.10

[2016-03-08 19:51] arichiardi opened #1611 "Broken: cider-eval-defun-at-point needs a Clojure REPL"
## Expected behavior
It should evaluate forms from `cljs` files to cljs repl with `cider-eval-defun-at-point`

## Actual behavior
The form is not evaluated with message:
[code]

## Steps to reproduce the problem
In `replumb`, I can provide a branch, `lein repl` then connect or jack-in then start a Cljs repl with either:
[code]

Same thing with `cider-jack-in-clojurescript`, of course targeting the

[2016-03-08 19:58] Malabarba commented on #1611
What is the value of `cider-repl-type` in your cljs repl buffer?

[2016-03-08 20:09] arichiardi commented on #1611
Steps, hopefully right, open `ielm`, `C-c C-b`, choose the repl, then `cider-repl-type`, result `clj`.

[2016-03-08 20:19] arichiardi commented on #1611
@Malabarba By eye bisecting, and then trying, I found that the culprit is https://github.com/clojure-emacs/cider/commit/9672dfada4f5aa1156d78a19cb51feb95e507e9b

[2016-03-08 21:24] Malabarba commented on #1611
Just to be sure. You did choose the ClojureScript repl, right?

Then this is the bug, and it's probably on the Clojure side. The commit you found helped exposed the bug, but didn't cause it.

You should have a couple of `nrepl-messages` buffer around. Please show us the contents of this buffer for the ClojureScript connection.

[2016-03-08 22:25] arichiardi commented on #1611
I had chosen the wrong one, I now checked and it is a `cljs` `cider-repl-type` sorry about that, still the error appears:

Here is `nrepl-messages` (cut, tell me if you need more):
[code]

[2016-03-08 22:33] bbatsov commented on #1598
Btw, can you post here the messages you see in `*nrepl-messages ...*`?

[2016-03-08 22:44] Tommy-tf2 commented on #1598
http://pastebin.com/hu1eN5RM
I can get more later. I think they are runtime errors of processing/quil, the library I'm using

[2016-03-09 06:50] bbatsov commented on #1608
Seems the `ns` is nil for some reason.

[2016-03-09 08:13] bbatsov commented on #1598
@Malabarba I wonder if this is some bug in our out middleware.

[2016-03-09 12:27] Malabarba commented on #1598
Anything's possible, but nothing jumps out to me by looking at the code.

[2016-03-09 13:09] bbatsov commented on #1598
It seems to me the responses are not associated with the init request for some reason (assuming our middleware is causing this, that is). Obviously precise reproduction steps would help.

[2016-03-09 13:12] expez opened #1612 "error in process filter when printing system map in repl"
## Expected behavior

no errors in process filter
## Actual behavior
[code]

etc in `*messages*`

REPL freezes midway in printing a largish data structure, but actually finished eventually (~2 minutes while filing this report).

## Steps to reproduce the problem

Happened with `reloaded/restart`in the repl which prints the `system` map so I'm guessing it's  related to a pprint response.
## Environ

[2016-03-09 13:14] expez commented on #1612
If I do `(do (reset) nil)`, instead of just `(reset)` the system map isn't printed to the repl and I can continue my day.

[2016-03-09 13:58] Malabarba commented on #1612
What's the system map? :-)

[2016-03-09 13:59] Malabarba commented on #1612
Or (more importantly) what does it look like?

[2016-03-09 14:44] Tommy-tf2 commented on #1598
Personnally, I think it is a mistake/error in the way I set it up. I will try to reproduce the bug on a different computer

[2016-03-09 14:49] expez commented on #1612
It's a map full of various crap.  Some of it isn't `read`able.  I got the same process filter error when running c.t.n/reload manually at the repl.  That too printed unbalanced / unreadable data.

I tried triggering this by just evaluating various `println` statements but that didn't do it.

[2016-03-09 15:47] #1612 closed

[2016-03-09 20:06] jeffvalk commented on #1608
This is a duplicate of #1599, which was fixed by 3b95fef.

[2016-03-09 20:06] #1608 closed

[2016-03-09 22:31] RickMoynihan commented on #1599
Thanks a lot

[2016-03-10 10:59] alexander-yakushev commented on #1611
Same issue for me. `cider-repl-type` in CLJS repl buffer is `"cljs"`, in a `.cljs` file it's `"clj"`.

[2016-03-10 11:30] bbatsov commented on #1611
How many times can we break this? :-)

[2016-03-10 12:25] Malabarba commented on #1611
The evidence that's been presented so far seems to indicate there's a problem in `cider-map-connections` (or one of the functions it calls). Unfortunately, I'm unable to reproduce this issue. =/

Does anyone have simple steps for this?
Even better, if one of you would like to edebug and step through `cider-map-connections`, that would be a huge help. :-)

[2016-03-10 13:13] alexander-yakushev commented on #1611
`clojurescript-mode` is not automatically enabled for `.cljs` buffers. When manually enabled, everything works fine again. So, is it a bug with `clojure-mode`, or my setup is wrong?

[2016-03-10 13:28] Malabarba commented on #1611
Oh. Could be something in your setup. Try with `emacs -q` + `package-initialize`.

If it turns out to be from your setup, this kind of thing is a little annoying to debug. The best I can think of would be to look through the `auto-mode-alist` variable, but that's a pretty big variable.

[2016-03-10 14:02] bbatsov commented on #1611
Seems fine to me - https://github.com/clojure-emacs/clojure-mode/blob/master/clojure-mode.el#L1495

[2016-03-10 14:05] alexander-yakushev commented on #1611
Yes, it's a bug in my setup. Pretty sure it is also the case for @arichiardi .

[2016-03-10 14:46] bbatsov commented on #1611
What was the bug in your setup?

[2016-03-10 15:08] arichiardi commented on #1611
It can be, I am using emacs live and they might be behind in initializing variables. What did you do @alexander-yakushev?

[2016-03-10 15:27] alexander-yakushev commented on #1611
I had custom mode-alist in my `(use-package clojure-mode ...)` that marked `clj[sxc]?` as `clojure-mode`.

[2016-03-10 15:32] arichiardi commented on #1611
That's probably the same in emacs live, i guess `clojurescript-mode` is a new thing?

[2016-03-10 18:36] bbatsov commented on #1611
OK, so I guess we can close this. Teamwork for the win! :-)

[2016-03-10 18:37] #1611 closed

[2016-03-10 18:38] arichiardi commented on #1611
Yes I confirm this works and I patched my emacs-live in order to remove https://github.com/overtone/emacs-live/blob/7983bc7561ea05d7432e03cc616fbfadafdf241b/packs/dev/clojure-pack/config/clojure-conf.el#L58-L59

[2016-03-11 01:11] codahale opened #1613 "cider-refresh fails if cider-refresh-before-fn or cider-refresh-after-fn are set to functions which aren't loaded"
## Expected behavior

It would be nice if it logged a warning about the functions not existing, but still ran the refresh.

## Actual behavior

Throws an exception when it tries to reference the var.

## Steps to reproduce the problem

1. Set `cider-refresh-before-fn` and `cider-refresh-after-fn` to functions in your application.
2. Accidentally introduce an error in a file in your application. (W

[2016-03-11 10:18] gdanov commented on #1511
took time to reinstall emacs from scratch. the problem can't be reproduced with the clean install

[2016-03-11 10:18] #1511 closed

[2016-03-12 05:33] darth10 commented on #961
I've run into a similar issue with CIDER `20160310.330`.
This is the warning I get on `cider-jack-in`.

 ``` Please, install (or update) cider-nrepl 0.12.0-SNAPSHOT and restart CIDER```

But, that version of cider-nrepl is already installed. Here's my `profiles.clj`.

[code]

Any clue as to how to resolve this? I'm not able to use basic stuff like `find-symbol`.

[2016-03-12 12:53] pvinis opened #1614 "keep eval overlay on screen"
## Expected behavior
i would like to have an option to keep the eval overlays on screen

## Actual behavior
is there such an option?
Include here the version string displayed when
CIDER's REPL is launched. Here's an example:

[code]

### Emacs version

24.5

### Operating system
osx 10.11

[2016-03-12 14:16] Malabarba commented on #1614
Yes there is. The name is something like cider-overlay-duration, but I'm not 100% sure.

[2016-03-12 15:56] pvinis commented on #1614
i need them to sray even after moving the point though. i will try when im
back on the computer and report back.

--
Pavlos Vinieratos

On 12 March 2016 at 15:16:32, artur malabarba (notifications@github.com)
wrote:

[2016-03-12 17:08] bbatsov commented on #1614
I don't think that's a good idea - e.g. imagine the effect of one big result... Why would you want to do something like this?

[2016-03-12 17:45] pvinis commented on #1614
as long as there is a way to also hide an eval result, its fine. in
lighttable the results either get shortened and you have to click on them
to reveal the full thing, or you just leave it there and other code gets
pushed down. so shortening, ability to hide, or push code down would be
possible solutions.

--
Pavlos Vinieratos

On 12 March 2016 at 15:16:32, artur malabarba (notifications@github.co

[2016-03-13 19:11] otfrom opened #1615 "Unhandled java.lang.Exception Debugger not initialized after restarting cider (0.11.0)"
Use the template below when reporting bugs. Please, make sure that
you're running the latest stable CIDER and that the problem you're reporting
hasn't been reported (and potentially fixed) already.
## Expected behavior

M-x cider restart should successfully restart cider with cider 0.11.0.
## Actual behavior

After M-x cider-restart

[code]

and this in the minibuffer

[code]
## Steps to reproduce

[2016-03-15 15:58] cch1 commented on #1525
Still dreaming of seeing the `org.apache.log4j.ConsoleAppender` output in emacs... without having to go via a file.

[2016-03-15 20:45] whysoserious commented on #1588
Confirmed:
[code]

[2016-03-17 17:13] bbatsov commented on #1606
That'd be great. Supporting midje would also be useful. I have a feeling that by supporting only `clojure.test` we're kind of killing the competition...

[2016-03-17 17:14] bbatsov commented on #1613
Makes sense. @cichli would you, please, look into this?

[2016-03-17 17:15] bbatsov commented on #1586
Closing due to lack of activity. Feel free to reopen if something more is needed.

[2016-03-17 17:15] #1586 closed

[2016-03-17 17:32] Malabarba commented on #1606
I have a feeling we're killing `cider-test`. :-)
Those command-line interfaces that automatically run tests when you save files are probably more popular than `cider-run-tests`.

[2016-03-17 17:39] bbatsov commented on #1606
@Malabarba you were supposed to figure out the perfect tdd-mode right? ;-)

[2016-03-17 17:41] bbatsov commented on #696
@jeffvalk Do you plan to work on this eventually?

[2016-03-17 17:43] bbatsov commented on #1107
@Malabarba any plans to work on this in the near future?

[2016-03-17 17:45] Malabarba commented on #1606
Yes. That's stlll on the wait list, but it's getting closer.

[2016-03-17 17:50] Malabarba commented on #1107
Nope, sorry. :(
The debugger already prints everything to the `*Messages*` buffer. So whenever I overshoot I just look there.

[2016-03-17 18:05] bbatsov commented on #1107
Maybe we should just close this then, as I doubt anyone else would work on this in the foreseeable future. We should do a cleanup of the issue tracker...

[2016-03-17 18:05] bbatsov commented on #1614
@Malabarba Thoughts?

[2016-03-17 18:10] bbatsov commented on #1495
Guess you fixed this accidentally. Now I get `user-error: `cider-eval-last-sexp' needs a Clojure REPL.` when to eval something without a connection.

[2016-03-17 18:11] bbatsov commented on #1386
Is this still a problem?

[2016-03-17 18:48] #1495 closed

[2016-03-17 18:49] Malabarba commented on #1495
Yay! 😊

[2016-03-17 18:49] #1107 closed

[2016-03-17 19:08] Malabarba commented on #1386
I don't believe anything has fixed it. @mbuczko could you test to see if it's still a problem? If so I think I have an idea of how to fix it.

[2016-03-17 19:18] ackalker commented on #1543
Thanks :-)

[2016-03-17 21:40] kaosbeat commented on #961
I have the same problem, i cannot consistently start projects over here, keeps changing. Driving me nuts
happens wit both cider-connect and cider-jack-in

[code]

[2016-03-17 22:08] bbatsov commented on #961
@darth10 Doubtful. What's the exact warning you're seeing?

@kaosbeat Can you update to 0.11-stable or 0.12 snapshot and tell me if this still happens? Likely you've got cider installed twice or something; I can't imagine another reasons for this odd version mismatch.

[2016-03-18 08:23] mbuczko commented on #1386
yup, it still exists on newest cider.

[2016-03-18 12:11] Malabarba commented on #1614
The name of the variable I forgot is `cider-eval-result-duration`

    (setq cider-eval-result-duration nil)

The overlay is cleared whenever you evaluate something around it, or kill the sexp before it.

[2016-03-18 15:26] pvinis commented on #1614
ok i will try that now

[2016-03-18 17:22] seanirby opened #1619 "CIDER assigning Clojurescript buffers to Clojure REPL"
So this started happening to me a couple days ago where in the middle of development I'll notice that the cljs buffer I've been working in is suddenly assigned to a clojure repl, meaning I can't use CIDER to it's fullest extent.  I really wish I knew what caused it but it seems to happen randomly and it seems to go away randomly too :/ .  It could totally be something I'm doing incorrectly but I'm

[2016-03-18 20:28] JvJ opened #1620 "Expression results not printed in repl"
Use the template below when reporting bugs. Please, make sure that
you're running the latest stable CIDER and that the problem you're reporting
hasn't been reported (and potentially fixed) already.

## Expected behavior

Typing an expression in the repl prints the result of that expression.

## Actual behavior

The expression is evaluated, but the result is not printed.  Additionally, it takes sev

[2016-03-18 21:21] bbatsov commented on #1620
This certainly works for me, so you'll have to be more specific.

[2016-03-19 00:32] jeffvalk commented on #696
At some point, sure. Can't promise it very soon though; I'm a bit short on time.

I should note that I've never personally needed this, so anyone who has is welcome to put in their two cents wrt user experience.

[2016-03-19 01:07] jeffvalk commented on #1606
Two notes:

1. `cider-test` has progressively swallowed essentially all of the runner functions of `clojure.test`. It's compatible with the original, but it's essentially a re-implementation. If we wanted to do something different, we have free rein.

2. The `clojure.test` test protocol isn't perfect, but it is open. Any test library could implement it if so desired. For instance `test.check` does

[2016-03-19 02:49] Malabarba commented on #1606
Yes. The annoying thing about expectations is that it does its own thing instead of working on top of deftest. So there's really no way to support it other than writing dedicated code for it.

That said, even though I'm the one who filed this, it's very low on my priorities because I'm no longer using expectations.

[2016-03-19 03:02] Malabarba commented on #1619
The value of `cider-repl-type` in source files is irrelevant. All that matters is the value of this variable on the REPL buffers. That is the `*cider-repl komokio*` and its CLJS analogue. Could you check the value on these two buffers when the problem comes up again?

[2016-03-19 04:29] jeffvalk commented on #1606
The `clojure.test` machinery is designed to be pluggable. There's nothing special about `deftest`. (All it does is add metadata to a var.)

So rather than twist `cider-test` to accommodate all the test libraries that might pop up, the better thing to do here would be submit a PR to the expectations (or midje or whatever) maintainer to support the built-in `clojure.test` machinery. It's pretty stra

[2016-03-19 04:48] bbatsov commented on #696
Sure. I was just going over some tickets a day ago and was wondering what's next for us. Unfortunately my time for CIDER was progressively dwindled as well.

[2016-03-19 05:16] bbatsov commented on #1582
@Biserkov any progress with this one?

[2016-03-19 06:00] bbatsov commented on #1574
After playing with https://github.com/dakrone/clojuredocs-client for a bit I'll likely drop this - nothing in the gem seems to work for me. Guess it's outdated. I also don't see support for different Clojure versions in clojuredocs.

[2016-03-19 06:00] #1574 closed

[2016-03-19 06:28] bbatsov commented on #1606
That's a pretty good point! I didn't even know you could use `test.check` with `cider-test`. :-)

[2016-03-19 06:39] bbatsov commented on #1606
I've added @jeffdik's remarks to the readme (in a slightly reworded form). I propose for us to just file a few issues to to the prominent Clojure test libraries describing this and see if they're interested in adding `clojure.test` compatibility.

[2016-03-19 07:29] bbatsov commented on #1411
Btw, I've recently discovered https://github.com/justbur/emacs-which-key which is super useful and requires 0 additional setup. Anyways, @xiongtx is running point on the hydra support. There's a new repo for this, so I'll just close this ticket.

[2016-03-19 07:29] #1411 closed

[2016-03-19 10:03] seanirby commented on #1619
So my project was inside of a Dropbox synced folder.  This usually presents no problems since I'm only accessing it from one machine at a time but I've since learned that this isn't a good idea.

When I move the project out of the synced folder then everything works as expected.  I think that's what was causing the issue so I'll go ahead and close this.  If it happens to come back I'll take note o

[2016-03-19 10:03] #1619 closed

[2016-03-19 12:13] Malabarba commented on #1619
NP

[2016-03-19 12:15] Malabarba commented on #1606
Sounds good!  👍

[2016-03-19 13:32] jeffvalk commented on #1606
@bbatsov I updated that readme section to DRY it out.

And yeah, `test.check` support has always been there. It could present failed test results in more detail, but it certainly works!

[2016-03-19 13:51] bbatsov commented on #1606
:+1:

[2016-03-19 14:18] bbatsov commented on #1606
I've filed tickets for midje and expectations. Feel free to expand on my descriptions there.

[2016-03-19 14:18] #1606 closed

[2016-03-19 15:09] elarkin opened #1621 "cider-jack-in starts nrepl but does not connect"
Use the template below when reporting bugs. Please, make sure that
you're running the latest stable CIDER and that the problem you're reporting
hasn't been reported (and potentially fixed) already.

## Expected behavior

cider-jack-in starts and then connects to an nrepl corresponding to the current clojure project

## Actual behavior

cider-jack-in starts the nrepl, reports that it is connected,

[2016-03-19 15:24] bbatsov commented on #1621
Likely there's something outdated in your setup. So much has changed since 0.8.2... What's in your cider config?

[2016-03-19 15:25] elarkin commented on #1621
I do not have anything in my .emacs.d/init.el related to cider. Is there another file that I should be looking at?

[2016-03-19 15:26] elarkin commented on #1621
sorry, nothing other than a hook to turn cider-mode on when I enter clojure-mode

[2016-03-19 15:34] bbatsov commented on #1621
What's your `clojure-mode` version?

[2016-03-19 15:36] elarkin commented on #1621
I currently get that one from melpa: 20160314.2147 (latest)

[2016-03-19 15:42] elarkin commented on #1621
Well, by paring down my config to nothing but cider, I've got a cider real. One of these packages is causing the interference:

async-20160223.146
auctex-11.89.1
cider-0.11.0
clj-refactor-20160303.536
clojure-mode-20160314.2147
color-theme-20080305.34
color-theme-solarized-20160219.924
csharp-mode-20160217.1211
dash-20160306.1222
edn-20160215.419
emmet-mode-20151213.738
epl-20150326.1212
epl-20150

[2016-03-19 15:45] #1621 closed

[2016-03-19 15:46] elarkin commented on #1621
Deleting .emacs.d/elpa and re-downloading my packages (without changing any of my config) **ALSO** fixed my issue.

bbatsov, I'm sorry for wasting your time.

[2016-03-19 16:09] #1563 closed

[2016-03-19 17:38] bbatsov commented on #1621
No problem.

[2016-03-20 08:33] bbatsov commented on #1541
I've just added a couple of new commands - `cider-apropos-select` and `cider-apropos-documentation-select`. Play with them and let me know what you think.

[2016-03-20 13:47] ericnormand opened #1623 "cider-test-run-ns-tests fails if no assertions are made"
If I make a test in a new namespace but the test does nothing, `cider-test-run-ns-tests` fails to report anything but fails with the following message in Emacs.

## Expected behavior

CIDER should report passing tests (green) with 1 test and 0 assertions.

## Actual behavior

CIDER fails and reports an error.

## Steps to reproduce the problem

Create a new project with `lein new app xyz`, open th

[2016-03-20 13:48] pvinis commented on #1614
i tried `(setq cider-eval-result-duration nil)` but when i move the cursor it still disappears.

[2016-03-20 14:57] Malabarba commented on #1614
Are we talking about the results you get with code evaluation? Like C-x C-e or C-c C-c?
It works for me.

[2016-03-20 14:59] Malabarba commented on #1623
Thanks for reporting. I believe this is fixed on master (at least, I know I _tried_ to fix it).

[2016-03-20 15:06] ericnormand commented on #1623
Ok, thanks!

[2016-03-20 15:37] bbatsov commented on #1446
I'll close this as I've already done some of the improvements I've had in mind and I have no idea when I'll get to the rest. At any rate - the inspector is in a decent shape these days.

[2016-03-20 15:37] #1446 closed

[2016-03-20 16:52] jackrusher commented on #1598
Firstly, I first want to think you for all the good work you lot do on Cider. I'm seeing the same thing, and it has made quil unusual for me. *Any* error in the `draw` loop requires at minimum a `cider-quit` + `cider-connect` (with liberal doses of `C-g` to get there), at most a complete restart of emacs. None of this happened prior to upgrading to cider-11.0.

[2016-03-21 08:33] jackrusher opened #1624 "Unable to cider-eval-last-sexp with boot project after 11.0 upgrade"
## Expected behavior

I expect to be able to evaluate forms after I `cider-connect`.

## Actual behavior

After upgrading to `cider-0.11.0` and updating my profile.boot like so:

[code]

... when I start a (formerly working) boot project that gives me this message:

[code]

... and then `cider-connect` to it, which gives me one of the rotating cast of success messages and changes the modeline to i

[2016-03-21 09:28] pvinis commented on #1614
yes exactly. i want the results to stay when i move the cursor. but they always go away after moving. that works for you?

[2016-03-21 09:33] Malabarba commented on #1624
What file are you visiting when you call this command? And what is the active major mode there?

[2016-03-21 09:35] Malabarba commented on #1614
Yes, it does. :-/

[2016-03-21 09:36] pvinis commented on #1614
is `cider-eval-result-duration` the only thing that you have set? like if you try with a clean cider, set that to nil and it works for you?
i will try it again..

[2016-03-21 09:47] jackrusher commented on #1624
The major mode is `Clojurescript`, minor `cider`, like so:

https://www.dropbox.com/s/3hrivwjnbi06se1/Screenshot%202016-03-21%2010.43.19.png

[2016-03-21 09:53] bbatsov commented on #1624
Have you started the cljs repl before doing this evaluation? We changed the logic in 0.11 and now you cannot evaluated code in cljs files without having a cljs connection.

[2016-03-21 10:06] jackrusher commented on #1624
@bbatsov That was it. Isn't this the sort of thing that ought to go into the release notes? :smile:

[2016-03-21 10:43] expez opened #1625 "cider-test-run-test should name the test it's running"
When you hit <kbd>C-c C-t C-t</kbd> to run a single test you now get

[code]

in the modeline.

This is the same text you get when you do <kbd> C-c C-t C-n</kbd> which run all the tests in that ns.

Having the same text for both commands has lead me to believe I hit the wrong key combination more than once.

[2016-03-21 11:30] Biserkov commented on #1582
Sorry about the delay, both in the actual work and in this response. Urgent family matters are keeping me occupied. Is there some sort of milestone (release, conference :-р) you would like to hit?

[2016-03-21 12:15] #1624 closed

[2016-03-21 12:34] Malabarba commented on #1624
It's hard to remember to document everything. :-)

That said, @bbatsov, maybe we should revert the restriction? i.e., try to use the right buffer but allow the user to use the wrong one.

[2016-03-21 12:35] Malabarba commented on #1625
Makes sense. :+1:

[2016-03-21 12:38] Malabarba commented on #1614
Yes. Just tested it now.

[2016-03-21 14:58] jackrusher commented on #1624
In either case, thanks for the quick assistance with the problem.

[2016-03-21 15:03] bbatsov commented on #1624
Guess you can add this retroactively. :-)

I'd rather make the error message more informative.

[2016-03-21 15:24] bbatsov commented on #1625
Just an oversight. I never run individual tests, that's why I didn't notice it.

[2016-03-21 18:56] #1625 closed

[2016-03-21 18:57] bbatsov commented on #1625
I've added a dirty fix. In general the code can use some refactoring as the addition of new functionality (e.g. running loaded/project tests) didn't fit very well the original design of the code.

[2016-03-21 19:10] pvinis commented on #1614
indeed it worked. i must set up something wrong. cool.
how do i dismiss it now? or truncate it so i see only a part of it?

[2016-03-21 19:19] Malabarba commented on #1614
You can't truncate it. If it's super long you can do `M-x toggle-truncate-lines` so it won't be folded back into the screen (this is just Emacs, not really cider).

The overlay goes away if you delete what's around it, or if you reevaluate the code-block (though in this case it will get replace by a new overlay, which might just look the same).
It's far from optimal, but this is really just a nich

[2016-03-21 19:38] hnry opened #1626 "C-x C-e not evaluating for me"
Most likely not a bug, but can't seem to find the answer elsewhere...

I'm new to emacs _and_ clojure so :fearful:

When I C-x C-e it just shows a popup next to my cursor and in the minibuffer but it doesn't evaluate the expression:
![cider](https://cloud.githubusercontent.com/assets/25837/13931653/ab22d4a2-ef7a-11e5-8312-a372768d7dc7.png)

The relevant .emacs stuff
[code]

Emacs 24.5 - OS X 10.11

[2016-03-21 20:21] bbatsov commented on #1626
Evaluating a function definition is not the same as running it. :-) Try `C-x C-e` after the expression (-main). Or simply use `M-x cider-run`.

[2016-03-21 20:21] #1626 closed

[2016-03-21 20:41] bbatsov opened #1627 "Assertions are referred to as tests in cider-test"
I've noticed that in our messages we never use the term `assertion`, which is what lein uses extensively. I mean tests are composed of assertions:

[code]

This is one test with 5 assertions (`is`) in it. However, our message right now is:

[code]

It should be

[code]

@jeffvalk Was there a particular reason you avoided the term `assertion`?

[2016-03-21 20:42] bbatsov commented on #1627
And, of course, when running just a single test with `C-c C-t t` we should probably use a more specific message. E.g.:

[code]

[2016-03-21 20:45] bbatsov commented on #1582
Not at all. I just wanted to know where are we with this.

On Monday, 21 March 2016, Jordan Biserkov <notifications@github.com> wrote:

--
Best Regards,
Bozhidar Batsov

http://www.batsov.com

[2016-03-22 08:15] jackrusher commented on #1624
Although I thought all was well, I'm now having the same problem intermittently *after* doing a `(start-repl)`, though not yet with a clear enough pattern to make a decent reproducible case.

[2016-03-22 16:50] arichiardi commented on #1462
@Malabarba It's been [milestoned](https://github.com/boot-clj/boot/milestones/2.6.0)

[2016-03-22 17:36] Malabarba commented on #1462
@arichiardi Thanks for the notice!

[2016-03-22 18:00] jeffvalk commented on #1625
@bbatsov What strikes you as in need of refactoring? The loaded/project tests feature didn't really change the overall code structure.

[2016-03-22 18:06] jeffvalk commented on #1627
No good reason. :-) I agree with you that "assertion" would be better here. Names are always a pain.

[2016-03-22 21:58] bbatsov commented on #1625
It seems to me that the case of running just a single test doesn't fit very well the general structure of the code. I also dislike a bit passing some keyword instead of the namespace when running `:loaded`/`:project` tests. Nothing major for sure, but I just feel we can do a bit better.

[2016-03-22 22:00] sdegutis opened #1628 "Was going to report bug, but this template is overwhelming."
I think I've found a legitimate bug, but all the work involved in just filing the bug (including checking if it already exists) will take me about 15 minutes. I'm already days behind schedule at work, where I'm using Cider. So I thought my time would be better spent reporting the fact that this bug-reporting process is overwhelming to the user (e.g. me) and you'll probably get a lot fewer bug repo

[2016-03-22 22:00] sdegutis commented on #1628
I'm unsubscribing from this issue. (I'm very busy as it is and don't want to discuss it at all.)

[2016-03-22 22:05] bbatsov commented on #1628
So, you're basically saying that your time is more important than my time and the time of the other CIDER maintainers... A good bug report saves us a lot of guesswork and increases the chance we'll actually fix a problem. If you don't want to check whether something was already fixed - that's fine. Filling all the other info takes just a couple of minutes for most bugs, which doesn't feel overwhel

[2016-03-22 22:07] bbatsov commented on #1628
As you wish. I just wonder why you started this discussion to begin with.

[2016-03-22 22:22] bbatsov commented on #1627
True that. I'll have to check if the middleware keeps track of both the number of tests and the number of assertions that were executed.

[2016-03-23 07:15] avli opened #1629 "Scrolling freezes sometimes when scrolling Clojure sources"
## Expected behavior

There shouldn't be lags while scrolling with C-n and C-p in files of any size.

## Actual behavior

When scrolling sources with C-n or C-p scroll freezes from time to time, which is very annoying.

## Steps to reproduce the problem

Open a project, jack in to nREPL, go to a definition of some Clojure build in function to open large source file, e.g. core.clj, and try to scrol

[2016-03-23 07:35] avli commented on #1629
Hmm... I've checked the CIDER code and it seems like it doesn't use any projectile related stuff. Now I'm not sure if it is a CIDER issue at all. But the interesting thing is when CIDER is not active I experience no freezes even when the projectile is active. Once both CIDER and projectile are active freezes are back.

[2016-03-23 07:35] bbatsov commented on #1629
Really? That's extremely surprising, as CIDER doesn't really use projectile for anything and nothing in Projectile can cause something like this... Can you post here your CIDER & projectile configs?

[2016-03-23 08:07] avli commented on #1629
Here are my Clojure/CIDER configs:

[code]

And here is projectile:

[code]

As I mentioned before, I'm not sure it is a CIDER issue. What surprises me is when the CIDER is not active, there are no freezes.

[2016-03-23 12:30] Malabarba commented on #1629
It's possible that you're experiencing small and unrelated lags from cider and from projectile, and only when you put the two together the lag becomes noticeable.

This sounds like it's related to the mode-line refreshing. Try doing something like:

    (setq cider-mode-line " cider")

This will prevent CIDER from doing expensive processing on the mode-line refresh. Does it help?

[2016-03-23 13:09] avli commented on #1629
@Malabarba Thank you for the advice! I tried to apply the option you've suggested, but unfortunately, I can't say something has changed or maybe it has changed insignificantly (it's hard to say, it's very subjective).

I've also tried to disable all Emacs plugins, but CIDER and projectile and can confirm the issue still exists.

[2016-03-23 13:52] Malabarba opened #1630 "The debugger gets confused by `@`"
[code]

[2016-03-23 14:19] sdegutis commented on #1628
I wasn't planning on looking at this again, but I've thought about this more since yesterday, which was a very busy and overwhelming day for me.

Not at all. But I'm getting paid to work, not to fill out bugs in open source projects. And when I get home, I'm not going to spend my very little free time filling out bugs in open source projects, when I ought to be spending my time with my children an

[2016-03-23 14:37] Malabarba commented on #1628
The same goes for the CIDER maintainers, we're not paid to do this. :-)
At the end of the day it's a collective effort, and yes, everyone who wants to help needs to pitch in more than 2 min.

If taking 5-15min for a bug report is too long for you, consider how much time you have **gained** in the past by using CIDER.
If, OTOH, taking 5-15min is too long for your employer, then I understand your pr

[2016-03-23 14:46] sdegutis commented on #1628
Okay.

[2016-03-23 14:46] #1628 closed

[2016-03-23 15:22] sdegutis opened #1631 "Cider has gotten substantially slower recently"
## Expected behavior

Everything about using Cider used to be really fast.

## Actual behavior

Showing me the arglist in the status bar, or autocompleting a variable name, sometimes these take a really long time lately.

## Steps to reproduce the problem

I'm not sure. It only seemed to get really slow this past week. I just upgraded to 0.11.0 from 0.10.1 so that may be involved.

## Environment

[2016-03-23 15:36] sdegutis opened #1632 "Redefining a function shows the outdated arglist in the status bar"
## Expected behavior

When I redefine a function with a new arglist, the new arglist doesn't show up in the Emacs status bar while inside that function form.

## Actual behavior

It's always the first one that was defined.

## Steps to reproduce the problem

Type:

[code]

Then <kbd>C-c C-e</kbd> to eval it.

Now type `(foo ` (note the space) and wait for the arglist to show up in the status bar.

[2016-03-23 16:34] jeffvalk commented on #1625
Fair enough. In actuality, there isn't a single test function; it has always taken a list of tests. That is a bit at odds with the UI, where "one" or "all" are the most natural actions. That could be better aligned, I agree.

The keyword passing seems quite reasonable to me though. Maybe a symbol would be more elisp-y, but I think it makes for understandable code.

[2016-03-23 16:42] jeffvalk commented on #1627
It does. What you're calling a `test` is currently `var`, and `assertion` is now `test`. In context, you can see how they got named this way.

[2016-03-23 17:17] Malabarba commented on #1632
Yep, I can reproduce it here.

[2016-03-23 17:23] sdegutis commented on #1632
Fwiw this was also a bug in 0.10.1 which is what prompted me to upgrade to 0.11.0 hoping it was alreday fixed. So it's present in both versions and was introduced earlier.

[2016-03-23 17:24] Malabarba commented on #1632
Looks like the cause is here:

    (defun cider-eldoc-arglist (thing)
      "Return the arglist for THING."
      (when (and (cider-nrepl-op-supported-p "eldoc")
                 thing
                 (not (string= thing ""))
                 (not (string-prefix-p ":" thing)))
        ;; check if we can used the cached eldoc info
        (if (string= thing (car cider-eldoc-last-symbol))

[2016-03-23 17:33] #1632 closed

[2016-03-23 17:40] sdegutis commented on #1632
Wow that was fast. I'll patch this in my local version for now. Thanks @Malabarba :+1:.

[2016-03-23 17:54] Malabarba commented on #1632
:+1: ;)

[2016-03-23 19:57] bbatsov commented on #1631
Might be an interaction with some other mode, as someone mentioned they had performance issues with CIDER and projectile, although I use them both (and develop them both) and I've never noticed such issues. You might try to load only cider (using `emacs -q`) so we can be sure this is a problem in CIDER.

[2016-03-23 20:00] sdegutis commented on #1631
Thanks. It's difficult to reproduce, so I'll close it for now, and hopefully never need to reopen it. (Fwiw I don't use projectile mode, my Emacs setup is insultingly simple and all I use are cider-mode and clojure-mode.)

[2016-03-23 20:00] #1631 closed

[2016-03-24 04:37] sanjayl opened #1633 "*cider-scratch* buffer can switch namespace unexpectedly"
## Expected behavior
The active namespace in the `*cider-scratch*` buffer will not be changed until a namespace altering function is evaluated (eg, `in-ns`).
## Actual behavior
The active *ns* of the scratch buffer is dependent on `cider-find-ns` by way of the `cider-current-ns` fn. `cider-find-ns` does not query the middleware to find the actual running namespace, instead, I think it parses the t

[2016-03-24 06:06] bbatsov commented on #1629
I few pointers from me - adding the same things to clojure-mode-hook and clojurescript-mode-hook is not needed, as the latter is derived from the former. Also - `enable-paredit-mode` is the same as `paredit-mode`.

[2016-03-24 06:32] bbatsov commented on #1633
So, regarding the ns - we should probably leverage `cider-set-buffer-ns` in cider-scratch (as we do for the REPL buffers). Basically we store the ns as a buffer-local variable, so commands like `cider-find-ns` will work even with ns forms.

You're also raising a good point about the visibility of the namespace for the scratch buffer - although I'd just use the standard modeline update functionalit

[2016-03-24 08:07] bbatsov commented on #1627
Got it. That definitely makes sense and I don't might referring those as we do internally, but in the UI we should probably follow in lein's footsteps in terms of terminology.

[2016-03-24 09:04] bbatsov commented on #1628
@sdegutis Btw, I don't understand one thing - apart from potentially installing the latest version to check if the problem wasn't solved there, what exactly requires a lot of work in the steps we've outlined? These are all basic things, that we'd typically ask people anyways, even if they didn't include the info in their bug report. Any time that will be saved reporting a bug without the template

[2016-03-24 09:07] bbatsov commented on #1628
P.S. We're still tweaking the template from time to time. Its current form won't be its final form for sure.

[2016-03-24 09:41] avli commented on #1629
@bbatsov Thank you for the advice :)

[2016-03-24 12:20] Malabarba commented on #1627
Indeed. I believe boot also follows the same terminology.

[2016-03-24 12:26] Malabarba commented on #1633
This is a feature. It allows evaluation to “just work” in Clojure files.

The question is, do we want to specifically disable it in the scratch buffer?

[2016-03-24 12:33] bbatsov commented on #1633
Well, for me the big issue is that it's not really clear what's the effective `ns` being in use. Frankly I didn't think a lot when I implemented this feature. There are other things to consider as well - e.g. the buffer derives directly `clojure-mode`, which creates a problem for people wanting to play with say cljs.

[2016-03-24 12:37] Malabarba commented on #1633
Honestly, I would be inclined to say the scratch buffer is just a development burden, as the user can get the same effect by creating a `blabla.clj` file. **But**, I can't deny a lot of people seem to be using it.

[2016-03-24 13:12] sdegutis commented on #1628
Ultimately it wasn't a lot of work. But it was a giant wall of text on a day when I was already extremely overwhelmed. Maybe there was no real issue and it was just that I shouldn't have tried to file a bug report on a day when it seemed a thousand things were going wrong and behind on schedule.

[2016-03-24 14:29] sanjayl commented on #1633
The same behavior exists in a regular, non-scratch, `blabla.clj` cider buffer as well. I don't think this feature has ever tripped me up, but it definitely surprised me when I saw what was actually happening.

[2016-03-24 14:37] bbatsov commented on #1633
In source files usually there's just one `ns` form and no one is using `in-ns`. But yeah - the behaviour is exactly the same as `cider-interaction-mode` is simply `clojure-mode`.

[2016-03-25 17:29] #1627 closed

[2016-03-25 17:30] bbatsov commented on #1614
I guess we can close this then.

[2016-03-25 17:30] #1614 closed

[2016-03-26 06:39] bbatsov commented on #1633
Back to the problem in question - a while back I was thinking of maybe adding a toggle to switch off this magical behaviour. Frankly, I don't like it at all, but newcomers seem to enjoy it as they don't have to manually evaluate `ns` forms when they add/change them.

One idea I had in the past was to show a warning if the effective ns is out of sync with what they had previously evaluated. Another

[2016-03-26 09:54] bbatsov commented on #1623
Closing this.

[2016-03-26 09:54] #1623 closed

[2016-03-26 09:55] bbatsov commented on #1600
Any volunteers to apply and test the suggested fix?

[2016-03-26 14:54] Malabarba commented on #1633
Frankly, I don't even mind if it's on or off by default. I think having more than one ns form is pretty rare, so either behaviours are fine by me.

[2016-03-26 16:29] bbatsov commented on #1633
I meant that the functionality is exactly the same even if you have a single ns - if it's not evaluated it will be automatically, which probably is not what some people are expecting. On the other hand - I know a lot of people were wondering why they'd get ns error when they didn't evaluate their ns forms. Go figure what's the best solution... :-)

[2016-03-28 04:48] Malabarba commented on #1620
It would also help to see the contents of your `*nrepl-messages ...*` buffer when this happens.

[2016-03-28 04:55] Malabarba commented on #1589
I've renamed this issue. Regardless of the second conversation that was developed here, it is true that the debugger flickers on sync requests, and I definitely consider that a bug.

However, it's niche enough that I don't think I'll be prioritizing it any time soon, so I've marked it as help wanted in case anyone is bothered enough to try to fix it.

[2016-03-28 05:13] sooheon commented on #1589
Could you briefly outline what you think needs to be done to resolve this issue?

[2016-03-28 05:30] Malabarba commented on #1589
1. After the user presses one of the debug keys (providing input), we send that input to the clojure process.
2. Then, while we're shutting down all the debug stuff, there's a call to `(accept-process-output proc 1)` (it's inside `cider--debug-mode`). That hangs interface between debug steps, for up to 1 second (or until the next debug step arrives, which usually happens first).
3. Immediately aft

[2016-03-28 12:48] #1630 closed

[2016-03-28 17:30] siscia commented on #624
I do get the exact same error without autocomplete enabled.

Emacs version 24.5.1
Init: https://gist.github.com/siscia/f910e79a2998512d7265

[2016-03-29 12:22] achesnais opened #1638 "Alt doc for higher-order functions"
## Expected behavior

When using a higher-order function, CIDER could display the function signature of whichever function is being manipulated in the mini-buffer, rather than that of the higher-order function itself (or both if there's a clever way to do that).
For example, when writing `(partial some-function ...)`, the minibuffer would display the signature of `some-function`, not that of `part

[2016-03-29 14:02] Malabarba commented on #1638
I can see the benefit in that, but I can also see it might be surprising. So I'm on the fence about it. :-)