[2018-01-01 19:27] #1977 closed

[2018-01-01 19:31] bbatsov commented on #2009
I'm closing this ticket due to no recent activity. And in general after re-reading everything here - something like this should be more of `clojure-mode`'s concern than CIDER's. You don't really need a running REPL to provide the feature that's discussed here.

[2018-01-01 19:31] #2009 closed

[2018-01-01 19:31] bbatsov commented on #2000
I'm closing this ticket due to no recent activity. Feel free to re-open it if you ever come back to it.

[2018-01-01 19:31] #2000 closed

[2018-01-01 19:32] #1992 closed

[2018-01-01 19:33] bbatsov commented on #1989
Is this still an issue with 0.16?

[2018-01-01 19:53] bbatsov commented on #2095
Just a note for someone willing to work on this, here's an outline of how this can be implemented:

* use https://github.com/lambdaisland/parseclj or middleware side parsing of the enclosing expressions all the way to the top-level to build a map of all locals defined there and their locations
* try to resolve something as a local first and if the fails check whether something is a var as usual

[2018-01-01 20:20] #1726 closed

[2018-01-02 01:10] xiongtx commented on #2029
It's not clear to me that the `cider-browse-spec--pprint` form is always better. E.g.

[code]

`cider-var-info` gives:

![image](https://user-images.githubusercontent.com/1624090/34472398-47277992-ef16-11e7-81d1-9d59402727b3.png)

while `cider-browse-spec` gives:

![image](https://user-images.githubusercontent.com/1624090/34472403-6b7141fc-ef16-11e7-91d7-7e816b2adcdc.png)

I'd say the former is su

[2018-01-02 01:19] xiongtx commented on #2095
Note that `parseclj` is [not (yet) on MELPA](https://melpa.org/#/?q=parseclj).

[2018-01-02 02:00] jpmonettas commented on #2029
@xiongtx that's because there's no rule for fn* to display it pretty in cider-browse-spec--pprint, should be easy to add.
The difference is that the last is browsable while the current is just a string.

[2018-01-02 07:01] dpsutton commented on #1913
Something to note: the reported behavior is not correct. When eval-ing code in a cljc buffer under `cider-jack-in-clojurescript`, the default behavior is to eval the code in *both* connection buffers. So the observed behavior from `(println "Test")` is that both repls print "Test". After toggling, you were stuck inside of only a single connection.

This happens because the toggling worked by setti

[2018-01-02 07:45] bbatsov commented on #2047
@rcullito were you setting the *print-length* as well?

[2018-01-02 11:12] jmckitrick commented on #1976
<pre>
(defun cider-make-cljs-repl ()
  "Change the repl to CLJS mode."
  (interactive)
  (setq cider-repl-type "cljs"))

(defun cider-connect-clojurescript ()
  "Connect to a clojurescript repl."
  (interactive)
  (cider-connect)
  (cider-make-cljs-repl))
</pre>

Would this do the trick?

[2018-01-02 11:18] jmckitrick commented on #1976
Actually, a simple test plan would be best. I'll try that locally, and open a PR if it works. So @vemv @yannvanhalewyn @razzmatazz if you'd add one here, I'll try it locally and tweak my 'patch' accordingly, simple though it may be.

[2018-01-02 12:42] bbatsov commented on #1976
I'd  suggest adding a more generic function - e.g. `cider-repl-set-type` and it could be used them to change a REPL type in both directions. Interactively it would prompt you to chose the type, but called from Elisp it would take the type as param.

[2018-01-02 15:26] soulawaker commented on #2148
What I found is that `cider-find-file` in `cider--find-buffer-for-file` is not working properly in its place.

For example, here is nrepl-messages.
[code]
I used the Edebugger to watch steps from `cider-find-var`.
Then I start `jump to definition` with the symbol `db/save-message!`
This takes the process to an weird prompt `No comment syntax is defined.  Use:`.
Even it can't be canceled by `C-g`.

[2018-01-02 16:05] rcullito commented on #2047
@bbatsov I'm currently running cider version 20170715.36 and the issue seems to be resolved.

When entering into the debugger in this version, a truncated result no longer prompts the user to enter the command for `M-x cider-inspect-last-result` but rather displays `...` to indicate more contents.

Hitting `p` for inspect and entering the appropriate value does allow nested inspection as one might

[2018-01-02 18:03] Crashtown commented on #1976
👍 for this feature. I'm trying to connect figwheel repl using piggieback middleware.
Missing clojurescript connect function confused me :)

[2018-01-02 18:49] jmckitrick commented on #1976
So more like:
<pre>
(defun cider-repl-set-type [type]
  "REPL `type' should be either \"clj\" or \"cljs\"."
  (interactive "s")
  (setq cider-repl-type type))

(defun cider-connect-clojurescript ()
  "Connect to a clojurescript repl."
  (interactive)
  (cider-connect)
  (cider-repl-set-type "cljs"))
</pre>

[2018-01-02 19:59] xiongtx commented on #2029
I'm don't think making the spec portion of `cider-doc` link to the spec browser would make for good UX. For one thing, the help xrefs are not able to jump back to the `cider-doc` buffer.

I'll let you take a crack at this since you say you've [already added functionality for it](https://github.com/clojure-emacs/cider/issues/2029#issuecomment-314205175).

[2018-01-02 20:53] bbatsov commented on #2102
Basically the code here https://github.com/clojure-emacs/cider-nrepl/blob/master/src/cider/nrepl/middleware/format.clj#L13 should feature some exception handling and return some meaningful message to CIDER when this happens.

[2018-01-02 20:54] bbatsov commented on #2102
(or we can add `check-parens` in the CIDER command)

[2018-01-02 21:22] xiongtx opened #2150 "`cider-doc` specs could use better formatting"
## Expected behavior

Specs in `cider-doc` buffers should be properly indented and font-locked.

![image](https://user-images.githubusercontent.com/1624090/34500451-9d823832-efbf-11e7-8201-411d9af9f192.png)

## Actual behavior

Specs in `cider-doc` buffers are not properly indented or font-locked.

![image](https://user-images.githubusercontent.com/1624090/34472398-47277992-ef16-11e7-81d1-9d594027

[2018-01-03 06:35] soulawaker commented on #2148
In `cider-find-file`, `match-string` malfunctions.
It received sane parameters then evaluated it to `nil`.
According to my watch, all two parts used it do such abnormal behavior.
[code]
But those parts, not calling `cider-find-file` defun, just using `string-match` and `match-string`, are all fine on test in \*scratch\* buffer. Why this happen? I can't reason out instantly.

[2018-01-03 07:21] #2150 closed

[2018-01-03 10:00] jmayaalv commented on #1993
i will work on this

[2018-01-03 10:08] stardiviner commented on #1993
@jmayaalv Wow, that's great.

[2018-01-03 14:52] #1913 closed

[2018-01-03 14:57] bbatsov commented on #2047
Got it!

I'll close this ticket then - @bitti, please file a new one if you're on 0.16 (or the current snapshot).

[2018-01-03 14:57] #2047 closed

[2018-01-03 16:18] soulawaker commented on #1854
I've tried `cider-jack-in` in remote machine source.
[code]

I've traced from `cider-jack-in` to `nrepl-server-sentinel`. Edebugger shows that `set-process-coding-system`'s parameter, `serv-proc` has the message, "Input file descriptor of nrepl-server closed". So, I guess this problem is related `set-process-sentinel`. I'm stuck here.

BTW, I already report [`cider-connect` related issue](https://

[2018-01-03 17:08] bitti opened #2152 "cider-inspect contents are truncated when clojure.core/*print-length* is set"
## Expected behavior

The full object under inspection should be visible in *cider-inspect* buffer.

## Actual behavior

Depending on the `*print-length*` setting only about the first `*print-length*`/6 elements of the object under inspection are displayed. That also applies when inspecting subelements.

## Steps to reproduce the problem

[code]

Pressing C-c M-i (for cider-inspect) yields this in

[2018-01-03 17:11] bitti commented on #2047
Ok, just opened https://github.com/clojure-emacs/cider/issues/2152. I had cider 0.16.0snapshot installed but I just upgraded to 0.17.0snapshot and the issue is still there.

[2018-01-03 17:50] bbatsov commented on #2148
So, basically you're saying `(match-string 1/3 url)` returns nil, right? I can't imagine how this might be happening if the `string-match` succeeds. The regular expression parentheses seem fine to me.

[2018-01-03 17:53] bbatsov commented on #1854
I see that `lein` is not your `exec-path` on the remote server. I guess that's what the cause of your problem.

[2018-01-03 19:52] jpmonettas commented on #2029
@bbatsov @xiongtx I think two issues got mixed here.

One is fixing info-clj (in cider-nrepl) so it correctly returns doc info for core macros for which I created  (https://github.com/clojure-emacs/cider-nrepl/issues/468)

The other is (if we want) to use `cider-browse-spec--pprint`  to print the spec part of the doc buffer so it has the format and links of the spec browser and the ability to navi

[2018-01-03 21:06] bbatsov commented on #2029
Yeah, this should definitely be fixed.

That can always be configurable (the true spirit of Emacs), or even better - it can just be an extra button in the doc buffer "Browser Spec" (or something like this), which just switches to the spec browser.

Guess this should be done regardless of the decision on the previous point. @xiongtx is right that the spec browser version looks a bit convoluted.

@x

[2018-01-03 21:40] xiongtx commented on #2121
Isn't this font-locking [controlled by `clojure-mode`](https://github.com/clojure-emacs/clojure-mode/blob/118c19700c904ae6a45fb409ca795bb93ff8dbd8/clojure-mode.el#L862-L863)?

[2018-01-03 22:45] rcullito commented on #2047
thanks for following up, @bbatsov !

[2018-01-04 02:03] soulawaker commented on #1854
I already set `lein` to `exec-path`.

[2018-01-04 02:04] soulawaker commented on #2148
Yes, Edebugger shows that `string-match` return 0 but `match-string` return nil. Don't you reproduce it in remote environment?

[2018-01-04 07:44] bbatsov commented on #1854
So, you did something like this https://stackoverflow.com/questions/26630640/tramp-ignores-tramp-remote-path and you verified that tramp sees the remote `lein`?

[2018-01-04 08:19] soulawaker commented on #1854
I'm very sorry. My PATH setting placed in `.profile`. So I thought Tramp should check this naturally. But it ignored. I was thoughtless. Thank you for the hint.

[2018-01-04 08:42] bbatsov commented on #2121
That's why I opened this ticket - `clojure-mode` can't possibly tell those apart, but our dynamic-font-locking can (if we enhance it that is).

[2018-01-04 11:47] soulawaker commented on #2148
Until yesterday I had tried just `edebug-step-mode`. Today I've tried `edebug-set-breakpoint` and `edebug-forward-sexp`. I thought two method show the same result but not. `match-string` returned nil with the former. With the latter, it returns normal result. But in the process, an error, "Error running timer `auto-revert-buffers': (wrong-type-argument stringp nil)", is occurred. Then, this takes

[2018-01-04 15:18] eranb opened #2153 "cider-repl-clear-buffer returns: Wrong type argument: integer-or-marker-p, nil"
When running the `cider-repl-clear-buffer` command I get this error: `Wrong type argument: integer-or-marker-p, nil` and the repl buffer stays the same (e.g not cleaned).

And when I run the `cider-repl-clear-buffer` function from the repl buffer it gets cleaned as expected without showing the error above.

### Trace
[code]

### Mode
```-UU-:----F1  engine.clj     Top L16   Git:master  [(Clojure c

[2018-01-04 19:32] jpmonettas commented on #2029
For fixing https://github.com/clojure-emacs/cider/issues/2029/issuecomment-354690191 just created https://github.com/clojure-emacs/cider-nrepl/issues/470

[2018-01-04 23:50] soulawaker commented on #2148
I found and finally fixed it. After more examinations I would like to send PR.

[2018-01-05 12:37] bbatsov commented on #2148
@soulawaker Happy to hear this! Looking forward to that PR!

[2018-01-06 14:51] jpmonettas commented on #2113
@l0st3d have you tried https://github.com/vvvvalvalval/scope-capture ?

[2018-01-06 15:03] jpmonettas commented on #1919
@bbatsov @expez Is there something still to be done here? I think `cider-browse-spec` does exactly what the issue description says plus the bonus.

[2018-01-06 15:14] jpmonettas commented on #1901
@bbatsov @expez Current spec browser implementation supports spec sample creation, keep hitting e on the spec browser when looking at any spec and you should see a pprint of that.
Nothing for excercise-fn yet.

[2018-01-06 18:08] gonewest818 opened #2155 "travis-ci/install-gnutls.sh should exit early if libnettle can't be installed"
I noticed an error in [a recent Travis CI log](https://travis-ci.org/clojure-emacs/cider/jobs/324610574)

[code]

## Expected behavior

`install-gnutls.sh` should download and compile (1) libnettle, and (2) gnutls.

## Actual behavior

When libnettle isn't found (in the example job linked above, it looks like this particular Travis CI worker got borked somehow) this install script carries on and a

[2018-01-06 19:23] xiongtx commented on #2155
If @travis-ci is such a problem, maybe we should try @circleci?

[2018-01-06 22:33] gonewest818 commented on #2155
Just note that the CircleCI free plan is limited to one build at a time (one container) and 1500 build minutes per month.

Currently a single commit to this project seems to be incurring 20-45 minutes of build time on Travis CI. Furthermore, you've got concurrency so that everything completes somewhat faster than the sum of the individual job times.

However on CircleCI it would be 1x concurrency

[2018-01-07 02:59] xiongtx commented on #2155
That's some pretty thorough analysis! Guess we'll be sticking w/ @travis-ci for now...

[2018-01-07 03:07] gonewest818 commented on #2155
:) Having run a few startups, it has become sort of a habit double-checking the numbers on services like these.

However, I don't want to suggest I *prefer* Travis CI over the alternatives, because clearly they are suffering consistency problems in their operations, and that's really not ok.

[2018-01-07 04:06] xiongtx commented on #2155
Have you reported these problems to them? Perhaps they're not aware.

[2018-01-07 06:34] gonewest818 commented on #2155
I will, but the last time I reported an error they got back to me ~10 days later.

[2018-01-07 07:00] bbatsov commented on #2155
Travis seem to be having a lot of issues, lately. For a week or some builds have been failing randomly for one of my Ruby projects as well https://github.com/bbatsov/rubocop/pulls

But they also don't have a lot of alternatives in the OSS space...

That's really odd, but I assume all of this is build setup. The tests themselves should be a few seconds.

[2018-01-07 08:01] bbatsov commented on #2153
@eranb Does this happen all the time? I can't reproduce it myself.

[2018-01-07 08:04] xiongtx commented on #2153
Can reproduce. I guess `cider-repl-clear-buffer` is not meant to be called from a non-REPL buffer.

[2018-01-07 08:04] bbatsov commented on #2153
Seems for you this function:

[code]

Somehow got `nil` for the `end`, but without some repro steps I can't figure out what went wrong for you.

[2018-01-07 08:06] xiongtx commented on #2153
@bbatsov Are you calling from a non-REPL buffer?

[2018-01-07 08:07] bbatsov commented on #2153
Ah, thanks @xiongtx. I didn't pay enough attention to the report - yeah, that's true. There's a different command for when you're outside the repl. It's `cider-find-and-clear-repl-output` (with a prefix argument it clears the entire repl).

[2018-01-07 08:13] xiongtx commented on #2153
And it's conveniently bound to `C-c C-o`, the same binding as `cider-repl-clear-output` in the REPL buffer :grin:.

[2018-01-07 11:20] eranb commented on #2153
Hi @bbatsov, @xiongtx
when I call the `cider-find-and-clear-repl-output` function (from any buffer - repl & clj file) nothing happens :(

Do you have any idea how I can debug it ?

[2018-01-07 19:37] xiongtx commented on #2153
You can use the [Emacs debugger](https://www.gnu.org/software/emacs/manual/html_node/eintr/Debugging.html).

What do you mean by "nothing happens"? By default, `cider-find-and-clear-repl-output` clears _output_, not the whole REPL buffer. To clear the whole buffer, use a prefix arg (`C-u`).

[2018-01-07 19:51] eranb commented on #2153
@xiongtx by nothing I mean that I still see the previous REPL output on the buffer.
When I run the command inside the REPL window/buffer it clears the output as expected.
I'll try the debbuger

[2018-01-07 21:30] xiongtx commented on #2153
Are you sure the buffer is associated w/ the REPL? Try `cider-jack-in` again.

[2018-01-07 21:43] eranb commented on #2153
`cider-jack-in` produce `REPL buffer already exists (*cider-repl XXX*).  Do you really want to create a new one? (y or n) `

[2018-01-07 21:46] xiongtx commented on #2153
Cannot reproduce. You're doing `C-u C-c C-o` from the non-REPL buffer and the REPL buffer is _not_ being cleared?

[2018-01-07 22:47] eranb commented on #2153
Thanks a lot, this combo works `C-u C-c C-o` 👍
before I tired to use `C-x C-o`

[2018-01-07 22:47] #2153 closed

[2018-01-08 00:32] gonewest818 commented on #2155
Exactly. Those rubocop jobs are failing to update from Ubuntu package repositories &/or failing to install gems, etc.  That happens far too often in my opinion.

I sent email to Travis CI help desk but they’re still on vacation.

[2018-01-09 13:31] daveliepmann opened #2157 "`cider-scale-background-color` produces unusable color codes"
Everywhere that `cider-scale-background-color` is used—in test output and stacktraces—it creates unusable 12-character color codes. These color codes are ignored, causing the default (white) to be used. Since I have a dark theme, this makes CIDER's stacktraces and test output jarringly difficult to read.

For instance, in a buffer with a background color of "#161616", executing `(cider-scale-backg

[2018-01-09 17:07] gonewest818 commented on #2155
@traviscistatus: "We are investigating increased networking errors on container-based Linux jobs."
https://www.traviscistatus.com/incidents/lrc4yp46t8wb

[2018-01-09 20:44] bbatsov commented on #2157
@jeffvalk Can you take a look at this?

[2018-01-09 21:17] xiongtx commented on #2157
Are you sure the 12-digit RGB triplets are not being applied properly? They _should_ work, [according to the Emacs manual](https://www.gnu.org/software/emacs/manual/html_node/emacs/Colors.html).

I do see, however, that the `cider-scale-color` code could be improved through use of e.g. `color-darken-name`.

[2018-01-09 22:04] jmckitrick commented on #1976
@bbatsov Do you want a PR or can this just be copied into someone’s existing branch?

[2018-01-10 07:10] bbatsov commented on #2155
Thanks for the update!

Btw, would be willing to check the problems with the stability of the `cider-nrepl` build and the mysteriously missing test coverage report there?

[2018-01-10 13:33] bbatsov commented on #2157
@daveliepmann Can you check if @xiongtx's changes fixed the problem you had?

[2018-01-10 14:09] RickMoynihan opened #2160 "Easier customisation of *print-length* in cider REPL"
You can set this in your build tool, e.g. leiningen with a profile/project configuration like:

[code]

However it might also be nice to be able to easily do this from the cider environment, with e.g. `M-x customize-variable`

[2018-01-10 15:51] gonewest818 commented on #2155
Yes, I’ll take a look.

[2018-01-11 21:07] qq00 opened #2161 "simple way to evaluate context sensitive expressions"
## motivation
[code]

## problem

Consider the following expression:

[code]

Is there a wa yto make C-x C-e work ?

## key idea

1. find 'outermost enclosing sexp' by repeatedly looking up parent element
2. prematurely end sexp by adding )]} at cursor
3. evaluate the 'new parent sexp'
4. in the above case, we end up executing
[code]

## praise for this approach

[code]

[2018-01-11 22:00] #2148 closed

[2018-01-11 23:21] harold commented on #2140
Encountered this today on a machine that is still running Emacs24. Removing cider* from `.emacs.d` and starting Emacs again fixed it.

[2018-01-12 03:58] jeffvalk commented on #2157
@bbatsov A bit late to the party, but I couldn't reproduce it. @xiongtx's change seems to make it moot though. I was unaware of `color-lighten-name` when I wrote that function. Good to know!

[2018-01-12 15:05] mallt commented on #2161
Maybe a workaround, but the [scope-capture library](https://github.com/vvvvalvalval/scope-capture) might already help you out here, I made a small screencast for your example:

![scope-capture-screencast](https://user-images.githubusercontent.com/8885691/34880827-f40fc60c-f7b1-11e7-86d5-57351b7ca782.gif)

[2018-01-12 15:54] weissjeffm opened #2162 ""No source location" when jumping to source on remote TRAMP file"
## Expected behavior

Can jump to source when visiting a remote TRAMP file using a TRAMP repl

## Actual behavior

"No source location"

## Steps to reproduce the problem

I traced this error down to the following function in cider-common.el:

[code]

The problem is that this function does not return a **prefix**, it returns the full tramp path, including the file path at the remote end.

So the f

[2018-01-13 07:34] bbatsov commented on #2162
Seems like a duplicate of a bug that was recently fixed on `master` https://github.com/clojure-emacs/cider/pull/2156

[2018-01-13 09:15] qq00 commented on #2161
Possible solution:

[code]

// putting this code in the public domain

[2018-01-14 10:16] qq00 opened #2163 "passing regex directly to cider-browse-spec-all"
## problem

we should have something like cider-browse-spec-all which takes a regex as an argument (instead of querying the user for it)

this is so it is easy for users to say "show me all specs in src/" instead of showing all specs in clojure.core + included libraries

## discussion

me:: the problem I was running into with spec ... was that it was showing me all types of specs from clojure core

[2018-01-14 10:27] bbatsov commented on #2163
@jpmonettas Can you take a look at this? I think we should definitely add some way to filter out non-project specs. Potentially we can have an inverse filter as well.

[2018-01-14 18:16] #2161 closed

[2018-01-14 18:18] bbatsov commented on #2161
Check out `cider-eval-defun-to-point`. I guess you'll like it. 😄

[2018-01-14 18:20] bbatsov commented on #2113
Btw, I know it's not the same, but some of you might find useful the new `cider-eval-defun-to-point`. It runs the current top-level expression up to the cursor's position, which is something like a contextual evaluation (depending on your perspective).

[2018-01-14 19:31] #2113 closed

[2018-01-14 19:34] bbatsov commented on #2113
Reading again @l0st3d's simple idea about just asking the user to supply some let-bindings and remembering those across invocations I decided to implement it. Parsing an expression for locals and prompting just for those would be fancy and is not a rocket science, but I simply don't have time to work on it, so let's just leave it to the user to provide whatever bindings they want.

[2018-01-14 20:31] #2162 closed

[2018-01-14 23:15] jpmonettas commented on #2163
@bbatsov the problem with specs is aren't attached to any project, namespace or file so you can't tell where does it come from.

I can't figure out any hack for this either given that keywords ns are not clojure namespaces.

For @qq00 use case I'll send a pull request.

[2018-01-15 08:00] #1976 closed

[2018-01-15 08:01] bbatsov commented on #1976
I've implemented this myself, as there were some nuances you hadn't taken into account (e.g. that you might not be in the right buffer when trying to set the repl type).

Try what I've added in `master` and me know if it works.

[2018-01-15 08:02] bbatsov commented on #1976
@yannvanhalewyn Now there's also a function in CIDER itself - `cider-repl-set-type`.

[2018-01-15 08:03] bbatsov commented on #2157
Well, I guess we can close this then. @jeffvalk Nice to see you around. I miss the good old days when we were hacking together. :-) Happy New Year!

[2018-01-15 08:04] #2157 closed

[2018-01-15 08:05] #2163 closed

[2018-01-15 08:06] bbatsov commented on #2163
Thanks for the fast response here!

I don't quite get this - aren't specs usually attached to namespaced keywords? Can't we used this?

[2018-01-15 10:04] daveliepmann commented on #2157
I appreciate that folks have been quick to respond. I haven't had time to change my dev environment to test.

If the bug has not been replicated then I'm not sure why we would close the ticket?

[2018-01-15 11:58] jpmonettas commented on #2163
You are welcome

@bbatsov We can but I will not be very accurate, for example:

[code]
now if we are looking at the registry we will see a :shapes/triangle spec

[code]

but what project it belongs to?

[2018-01-15 12:26] cwhitey opened #2166 "`cider-test-run-project-tests` and `cider-load-all-project-ns` do not behave as expected"
## Expected behavior
`cider-test-run-project-tests` should run all tests in project, and `cider-load-all-project-ns` should list all of my namespaces

## Actual behavior
`cider-test-run-project-tests` yields the message:

`cider-load-all-project-ns` yields the message:

`cider-classpath` gives an empty buffer

## Steps to reproduce the problem
- Create a new default project with `lein new app my-a

[2018-01-15 14:26] bbatsov commented on #2157
Because the problematic code doesn't exist anymore and we're fairly certain an Emacs built-in should work. 😄  If you run into problems with the updated version - feel free to reopen it.

[2018-01-15 14:29] bbatsov commented on #2166
Hmm, likely this is related to some refactoring work done recently by @SevereOverfl0w in `cider-nrepl`. I thought I updated the related client code, though. I'll look into this when I have some time, but if someone wants to beat me to it - I'd appreciate it.

[2018-01-15 18:35] bbatsov commented on #2163
I see your point. I was under the impression people often did it like this:

[code]

[2018-01-15 21:48] jeffvalk commented on #2157
@bbatsov Happy New Year! I miss those days too. We need to engineer a "pause time" button -- it would make so many things easier! :smile:

[2018-01-15 21:50] jpmonettas commented on #2163
Yeah I think most people does like that, but have also done the other way so don't know if that feature is a good idea.

[2018-01-16 18:16] jmckitrick commented on #1924
Should this issue be closed based on the merges made above?

[2018-01-17 05:47] cwhitey commented on #2166
It works for me with the following version from MELPA:
[code]
I was pulling from MELPA-stable earlier because of an issue with refactor-nrepl which has since been fixed, so this is no longer an issue for me. Feel free to close, but I suppose this is still an issue for those running Cider 0.16.0.

[2018-01-17 08:57] qq00 opened #2168 "cider-test-run-test works on "(" but not on ")" of a (deftest ...) sexp"
## how to replicate the problem

1. install evil, lispy, lispyville
2. write
[code]
3. now, put the cursor after last ")", hit C-x C-e to eval expression
4. if we hit "M-x cider-test-run-test", test does not get run
5. if we put cursor on "(" of "(ct/deftest" and run "M-x cidertest-run-test", it runs fine

6. current solution:
[code]

## reason for filing ticket:

(@bbatsov )

[quoting @qqq]

(@bb

[2018-01-17 09:14] bbatsov commented on #2166
That's interesting. I don't recall anything that changed related to running tests since 0.16.

[2018-01-18 08:01] bbatsov commented on #2168
Btw, in my tests this works just fine regardless of the cursor position.

[code]

As you can see internally this uses `clojure-find-def`, which should work just fine even if the cursor is behind the test def sexp. Can you step through the command invocation with the debugger to check where exactly this breaks for you?

[2018-01-18 10:39] xiongtx commented on #2074
@jpmonettas Can you take a crack at this? Personally, when I do use the spec browser, I use the [helmized interface](https://github.com/clojure-emacs/helm-cider#specs), so I don't have a lot of motivation to work on this :man_shrugging:.

[2018-01-18 11:52] jpmonettas commented on #2074
@xiongtx  What needs to be done here?

There is no way around that yet. https://dev.clojure.org/jira/browse/CLJ-2037 is still open, we recently discussed that in https://github.com/clojure-emacs/cider/issues/2163#issuecomment-357663035.

[2018-01-18 12:09] xiongtx commented on #2074
There are some other points by @vspinu worth considering.

[2018-01-18 19:12] unhandyandy opened #2169 "clojure.math.numeric-tower won't load"
## Expected behavior

(:require  [clojure.math.numeric-tower :as math])

is successfully executed.

## Actual behavior

Error:
2. Unhandled clojure.lang.Compiler$CompilerException
   Error compiling src/collatz/core.clj at (1:1)

1. Caused by java.io.FileNotFoundException
   Could not locate clojure/math/numeric_tower__init.class or
   clojure/math/numeric_tower.clj on classpath. Please check that

[2018-01-18 21:58] bbatsov commented on #2169
Just of out curiosity - do you have the same problem with Clojure 1.8? I noticed a similar report on the Clojure mailing list today and I wonder if it has something to do with `numeric-tower` itself.

[2018-01-18 22:59] unhandyandy commented on #2169
Was that my thread?   In that case numeric-tower seems too have been
excluded since it ran fine in the lein repl.

I have used clojure 1.8, cider, and numeric-tower together successfully in
the past,  but I'll try it again tomorrow.

On Jan 18, 2018 4:58 PM, "Bozhidar Batsov" <notifications@github.com> wrote:

[2018-01-19 01:34] bitti commented on #2152
I've got an idea what's going on: Clojure adheres the `*print-length*` option (and probably a few others) in quite a few standard print functions like `pr`, `prn`, `print`, `println`, `clojure.pprint/write`. If cider uses any of them internally they probably should be wrapped in a `(binding [*print-length* nil] ...)` form.

[2018-01-19 12:31] qq00 commented on #2168
followup from slack:

note: all three fail

test 2 shows it's not "do"
test 3 shows it's not "alias"

[code]

[2018-01-19 13:02] qq00 commented on #2168
@bbatsov : can you replicate problem using this 58 line init.el ?

[code]

[2018-01-19 13:37] bbatsov commented on #2169
See https://groups.google.com/forum/?hl=en#!topic/clojure/lB9710NH8Ck

[2018-01-19 15:20] qq00 opened #2170 "cider-browse-ns"
1. cider-browse-ns is amazing

2. cider-browse-ns can be even better

3. Would it be possible, in the pop up mini widow that cider-browse-ns creates, set it up so that

"clicking on a line -> causes emacs to jump where the function / var is defined?"

[2018-01-19 15:39] expez commented on #2170
That key is already used to expand the documentation for that var.

You can hit <kbd>s</kbd> to see the **s**ource of the function.

[2018-01-19 16:27] unhandyandy commented on #2169
That's mine.  It seems to be a problem with cider because the code works in the lein repl.

[2018-01-19 16:56] bbatsov commented on #2169
Is it a problem if you remove:

[code]

[2018-01-19 17:06] unhandyandy commented on #2169
Yes, I get the same error if without those lines in project.clj.

[2018-01-20 06:55] bbatsov commented on #2169
From the continuation of the discussion in the mailing list it seems this is not a CIDER issue after all, right?

[2018-01-20 07:42] #2170 closed

[2018-01-20 08:01] bbatsov commented on #2152
Yeah, I assumed as much when I saw this report. I just didn't have time to look at the code yet.

[2018-01-20 08:05] bbatsov commented on #2106
I'm closing this ticket due to no recent activity. Feel free to re-open it if you ever come back to it.

[2018-01-20 08:05] #2106 closed

[2018-01-20 08:06] #2166 closed

[2018-01-20 08:24] bbatsov opened #2171 "Update our "See also" mappings for Clojure 1.9"
There are just a simple edn file [here](https://github.com/clojure-emacs/cider-nrepl/blob/master/resources/see-also.edn). Not sure how exactly @ckoparkar generated it, but I guess it can be updated manually.

[2018-01-20 09:22] bitti commented on #2152
I found kind of a workaround by installing a nrepl-middleware via

        :repl-options {
                       :nrepl-middleware
                       [(fn [handler]
                          (fn [& args]
                            (binding [clojure.core/*print-length*
                                      (if (or ((first args) :pprint)
                                              (= ((first

[2018-01-20 11:24] #2160 closed

[2018-01-20 11:34] bbatsov commented on #2152
I guess the fix needs to be applied here https://github.com/clojure-emacs/orchard/blob/master/src/orchard/inspect.clj#L221

You can play with this if you want.

[2018-01-20 14:46] ckoparkar commented on #2171
The ClojureDocs source [repo](https://github.com/zk/clojuredocs) has a MongoDB database which has a collection called `see-alsos`. I used that to generate the initial edn file. I re-wrote a script ([here](https://gist.github.com/ckoparkar/6b370b5d875d233ba1f3a2df80ad0d7c)) which should extract the data into the current format.

Steps:
1) Run `mongod`
2) Clone https://github.com/zk/clojuredocs and

[2018-01-20 14:54] ckoparkar commented on #2171
Done https://github.com/zk/clojuredocs/issues/185

[2018-01-20 15:32] bbatsov commented on #2171
I don't think they've added that much to Clojure in those 3 years, but it probably won't be fun to do a manual update. I guess this means that the list doesn't include things from Clojure 1.7 and 1.8 as well.

[2018-01-20 15:56] ckoparkar commented on #2171
Oops. You're right. The database was updated on Oct, 2014. So it was already out-of-date when we last used it.

[2018-01-20 17:53] unhandyandy commented on #2169
OK, it seems to have been an emacs issue rather than a cider one, at least after tweaking a few emacs configs related to help-mode I'm no longer having the problem.  Thanks for your patience.

[2018-01-20 17:53] #2169 closed

[2018-01-21 01:21] bitti commented on #2152
That means I have to build orchard myself? But I just saw that you pushed a commit where *print-length* can be set as as a cider customization variable, maybe in this way the problem can be avoided in the first place? Is no one else able to reproduce the problem btw?

[2018-01-22 07:14] #2155 closed

[2018-01-22 12:36] ftravers opened #2174 "Switching to REPL splits window horizontally"
## Expected behavior
When starting or switching to the repl, it should open in that last used already open window.

## Actual behavior
Now it splits your current window in half horizontally.

## Steps to reproduce the problem
Have two windows open vertically.  Start the repl (jack-in).  The window you are already in will be split in two horizontally.

## Environment & Version information
### CIDER

[2018-01-22 12:41] bbatsov commented on #2174
Is this a feature request or a bug report? I thought right now the current code decided what to do based on the size of the Emacs window.

[2018-01-22 12:43] ftravers commented on #2174
Sorry bug report...hmmm... i just moved to a 43" tv screen...so maybe that's why I'm seeing the difference...

[2018-01-22 13:12] bbatsov commented on #2174
Pretty sure that's the case indeed. I guess we can add some config to force a certain type of window splitting regardless of the screen size.

[2018-01-22 23:58] ftravers commented on #2174
Yes, that would be amazing!

[2018-01-23 11:56] bbatsov commented on #2152
Right now CIDER just sets the variable globally, so this changes nothing. For this to be avoided it should start wrapping evaluations in some "context" for the scope of each request. Probably that's the better solution, but it will take more time and I don't have time now.

[2018-01-23 11:57] bbatsov commented on #2152
I'm reasonably sure your problem is real, probably most people simply don't set any `*print-level*`. I just have a ton of work across the board and don't have time to debug and fix this myself.

[2018-01-23 20:01] cactuar opened #2175 "Problems with ns-find/sources-in-jar?"
Hello,
i don't really know what's happening since I am not an expert with clojure/cider. This exception has appeared after I added 'trampoline' to cider jack in with universal arguments. I don't know if that is the problem - but how could it be? - because right now every project (even an empty one generated with lein) fails this way. I tried to remove my .m2 directory, to remove lein, to remove my

[2018-01-23 20:59] skat-kurt opened #2176 "exception during cider-jack-in (0.17.0snapshot)"
## Expected behavior
cider-jack-in starts a repl process and connects to it without error output.

## Actual behavior
A long stacktrace is displayed. I have removed quite some lines, trying to keep the potentially relevant stuff.

[code]
Then a repl promt appears, but evaluating expressions gives about the same error.

## Steps to reproduce the problem
I experience this also in a newly generated b

[2018-01-23 21:11] doubleagent commented on #2176
I'm getting this too.  Started when I upgraded `cider-nrepl` to `0.17.0-snapshot` in `profiles.clj`.  If I drop back to v16 I get a warning message for version mismatch, but it does not immediately crash.

Same versions as you, except on Windows.

[2018-01-23 21:18] cactuar commented on #2176
Thank you, at least I am not crazy :-)

[2018-01-23 21:21] abo-abo opened #2177 "cider-jack-in outside a Clojure project results in 100% processor usage"
Using the latest CIDER with 0.16.0 middleware (0.17.0snapshot is broken right now).  Also reproducible with the 0.16.0 release of CIDER.

Like the title says, 100% processor usage as long as CIDER REPL is open. The REPL is responsive and appears to work as usual.  The issue does not happen if `project.clj` is present.

[2018-01-23 21:31] cactuar commented on #2175
Right now I have the same problem as  #2176 so I am closing this issue. Thank you

[2018-01-23 21:31] #2175 closed

[2018-01-23 21:34] cactuar commented on #2176
Same here. Cider jack in started to act strange (two hours ago the error was #2175 ) and right now, after reinstalling lein, I am getting this exception.

[2018-01-23 21:57] bbatsov commented on #2176
I'm puzzled by this. Seems you're using the latest snapshots, but the dependency resolution is broken for some non-obvious reason. Might be some problem with the deps shadowing, as the failure indicates something is trying to load the non-shadowed version of `clojure.java.classpath`. @benedekfazekas any ideas?

[2018-01-23 21:58] bbatsov commented on #2176
Btw, do any of you use `clojure.tools.namespace` in your projects?

[2018-01-23 22:01] benedekfazekas commented on #2176
just discussing this with @xiongtx on clojure slack atm

[2018-01-23 22:01] lvh commented on #2176
I'm having the same issue.  The project in question doesn't papear to have clojure.java.classpath, or at least I couldn't find it via `lein deps :tree`. It does have tools.reader.

[2018-01-23 22:03] cactuar commented on #2176
My only dependency is
:dependencies [[org.clojure/clojure "1.8.0"]]

[2018-01-23 22:03] lvh commented on #2176
@benedekfazekas Here's a thought: do the people in question have `[venantius/ultra "0.5.2"]` around? Perhaps in profiles.clj?

[2018-01-23 22:05] lvh commented on #2176
Never mind: I just removed ultra and that didn't cause it.

[2018-01-23 22:06] cactuar commented on #2176
I've just deleted my .lein and .m2 directory. Do I need to look somewhere else?

[2018-01-23 22:09] lvh commented on #2176
@cactuar No, it'd be either in project.clj or in `~/.lein`.

[2018-01-23 22:16] bbatsov commented on #2176
So, to be clear this is 100% caused by recent split of `cider-nrepl` into two libraries, but it's really not obvious to my how the split can result in something like this. That's the new library https://github.com/clojure-emacs/orchard where we've started to move the non-middleware code, so we can reuse it later with without nREPL (something like this is needed to be able to support eventually the

[2018-01-23 22:22] benedekfazekas commented on #2176
I think this is caused by benedekfazekas/mranderson#7 I workaround could be to add `org.clojure/java.classpath` as a *not* mrandersoned dependency. The down side of this workaround would be that `cider-nrepl` unusable for project depending also on `org.clojure/java.classpath` but a different version

[2018-01-23 22:25] benedekfazekas commented on #2176
to be more precise this is not exactly as benedekfazekas/mranderson#7 but the cause is that mranderson works on "resovled" dependency tree

[2018-01-23 22:36] benedekfazekas commented on #2176
actually after playing with it a bit adding back `^:source-dep [org.clojure/java.classpath "0.2.3"]` should fix it.

[2018-01-23 22:44] cactuar commented on #2176
@benedekfazekas Adding `^:source-dep [org.clojure/java.classpath "0.2.3"]` fixes the problem

[2018-01-23 22:53] #2176 closed

[2018-01-23 22:53] bbatsov commented on #2176
Just before I go to bed I released a new snapshot.

[2018-01-23 22:54] bbatsov commented on #2176
I also thought it analyzed the deps of each package individually - won't this be more robust?

[2018-01-23 22:58] benedekfazekas commented on #2176
yeah with some drawbacks like even bigger jars for example

[2018-01-23 23:16] xiongtx commented on #2176
So it _doesn't_ do this, correct?

[2018-01-24 07:10] bbatsov commented on #2176
Maybe this can be a configurable option.

[2018-01-24 07:18] benedekfazekas commented on #2176
no, it does not atm. yup could be configurable. it deffo seems I need to solve #7 at last

[2018-01-24 07:23] bbatsov commented on #2176
It seems so. ;-)

[2018-01-24 08:54] skat-kurt commented on #2176
Thanks for fixing this so quickly. I wanted to try this bug on another machine with different configuration but couldn't reproduce. Should have checked the status of this issue first ;)

[2018-01-24 19:28] xiongtx opened #2178 "In test render, don't insert `actual` in case of error"
#2172 does not check whether `actual` is bound before [inserting it](https://github.com/xiongtx/cider/blob/907dfe2d360f03ec66c5310ab4f47a5cc2c5d0d8/cider-test.el#L413), breaking test reporting when there's an error and `actual` is `nil`.

From [Julien on Slack](https://clojurians.slack.com/archives/C0617A8PQ/p1516807819000149?thread_ts=1516741523.000526&cid=C0617A8PQ):

![image](https://user-image

[2018-01-24 20:28] #2178 closed

[2018-01-25 13:03] qq00 opened #2180 "cider-test-run-test highlighting incorrect test?"
![error](https://user-images.githubusercontent.com/32815631/35389535-49583242-0195-11e8-8256-7e04d8fac977.png)

## problem

see above: the second test fails. the first test is highlighted

## replication

put cursor on the first "(", executed cider-test-run-test

[2018-01-26 00:15] kurt-o-sys commented on #1268
Having the same issue...
[code]

[2018-01-26 06:41] sp3ctum commented on #1268
In my case, I was able to work around the issue by using [doo](https://github.com/bensu/doo) which was a really easy way to setup a continuous test runner (watcher) that compiles cljs->js and then runs unit tests.

If you're struggling with running your tests, maybe that can help right now.

[2018-01-26 08:49] kurt-o-sys commented on #1268
I agree, that's for running all tests...
But it doesn't solve the problem to run tests with cider-nrepl. It's pretty nice to just run a test (and show the result inline) with a shortkey from you editor while programming. I'd love to have that functionality in cljs. Not sure how to do that with doo.

[2018-01-26 08:56] sp3ctum commented on #1268
Yeah you're definitely right. Doo only runs all tests at the same time, and
it can get confusing when you have a lot of failures, since the errors pile
up and become unreadable.

On Jan 26, 2018 10:49, "kurtosys" <notifications@github.com> wrote:

[2018-01-26 11:18] bitti commented on #2152
I had to rollback to cider 0.16.0, since 0.17.0-SNAPSHOT was suddenly broken for me. But I still found the function, even though it was in another package (`cider.nrepl.middleware.util.inspect`). Doing a rebind there didn't had any effect, and also for all other functions I checked there `*print-length*` seems to be correctly set to `nil` during runtime. But as I said, currently the problem only o

[2018-01-27 14:30] IGJoshua opened #2181 "[feature request] Injecting values into code with the #dbg reader macro"
Currently when using the debugger you can inject a value as a replacement for any given value that you have a breakpoint on. I'd like to request that we add an additional meta tag that the `#dbg` reader macro will pay attention to.
[code]
So this allows us to not change the original code, but still allow a different value to be injected while debugging, so we can test what happens when certain val

[2018-01-27 17:06] bbatsov commented on #2181
@Malabarba Any chance you can look into this or provide some guidance what needs to be done?

[2018-01-27 17:42] xiongtx opened #2182 "Move `clojure-cheatsheet` data into CIDER"
Per clojure-emacs/helm-cider#9, we should move the data for [`clojure-cheatsheet`](https://github.com/clojure-emacs/clojure-cheatsheet) into CIDER, which'd allow different interfaces to access it.

[2018-01-27 20:35] kurt-o-sys commented on #1268
Yeah, it's not only about having a lot of failures, it's also about: if I need only 1 or 2 tests to run, I don't want to compile and run everything over and over again. It'd be about checking my cljs code (not about a full compiled version of my app). Anyway... I'd just love to see running tests working, so I can integrate it in my workflow similar to what I do in clojure.

[2018-01-29 18:11] #2182 closed

[2018-01-29 18:48] xiongtx opened #2184 "`cider-cheatsheet` does not handle `:url`s"
4e0458a is a good start, but does not handle sections with `(:url ...)` members.

![cider-cheatsheet](https://user-images.githubusercontent.com/1624090/35527872-fade4742-04e0-11e8-9e84-a61e59caa2ca.gif)

The problem is that some sections can look like:

[code]

So the `(while (stringp (caar ...)))` logic fails.

I'd be fine with removing the `(:url ...)` stuff. They add little value and complicate

[2018-01-30 08:08] #2184 closed

[2018-01-30 09:02] bbatsov commented on #2177
It'd be nice if you did a bit of profiling (e.g. with the Visual VM) to see what exactly is causing this spike. I assume this 100% is coming from Lein, right?

[2018-01-30 19:04] christennant opened #2187 "aquamacs crashes badly when eval'ing code that fails let spec in clojure 1.9"
This is way out there, so I'm not asking anyone to look at this, just to tell me if anyone else has seen it.

I'm running latest lein, aquamacs, cider, latest OSX.  Since I updated to clojure 1.9, I see the following behavior.

When I ^c^k on code that has a (let []) that fails the spec, after about 1 second, my mac crashes.  It happens every time.  Background processes continue to run, but everyt

[2018-01-31 17:41] ChelseyM opened #2189 "Direct connection to nREPL fails with totally clean install"
## Expected behavior
`cider-jack-in` starts nREPL and connects to it

## Actual behavior
nREPL starts, but Cider can't connect to it.

[code]

## Steps to reproduce the problem

1. Fresh emacs install
1. no .lein/profiles.clj
1. user Cider stable 0.16.0
2. `lein new test`
3. open core.clj
4. `cider-jack-in`

## Environment & Version information

### CIDER version information

[code]

### Lein/Boot

[2018-02-01 06:56] bbatsov commented on #2189
Can you tell what `localhost` is bound to for you?

This reminded me of https://github.com/clojure-emacs/cider/issues/1945

[2018-02-01 07:01] bbatsov opened #2190 "Update Clojure cheatsheet data for Clojure 1.9"
The data we currently have was last updated for 1.7 (https://github.com/clojure-emacs/clojure-cheatsheet/commit/c1657feba1c0e11b3c7ebda07557e0b7d4983f3a) It'd be nice if we bring it up to date. @xiongtx Can you look into this? I assume the differences won't be many.

[2018-02-01 10:27] ChelseyM commented on #2189
This was a transfer to a new laptop, somehow the /etc/hosts file was completely blank. Restoring it to the OSx default fixed the issue.

[code]

Thank you :)

[2018-02-01 10:27] #2189 closed

[2018-02-02 03:32] bbatsov opened #2191 "Add support for clj"
Basically this is a continuation of https://github.com/clojure-emacs/cider-nrepl/issues/488

Now that we can easily boot nREPL with `cider-nrepl` via clj we need to do things:

* use clj as the default command to start a REPL outside a project
* add a `deps.edn` project type (similar to what we have for Boot and Lein, just different shell commands)

[2018-02-02 03:35] bbatsov commented on #2187
Do I need to do something special to reproduce this? For me on 1.9 `(let [])` just returns nil.

[2018-02-02 04:37] christennant commented on #2187
Bozhidar,

Thanks for the reply.  I just spent some time trying to come up with a reproducible case.

First, to trigger the let-spec error, you need an invalid let —a let with an empty vector is va— (let[]) is valid.

I’ve been using:

(let [a nil
  (filter identity [])])

Which is invalid because it has an odd number of elements to the let-vector.

In testing just now, I was able to cause a crash

[2018-02-02 08:55] bbatsov commented on #2187
I've tried this code and I just get an exception as expected. Seems the problem is elsewhere indeed. Btw, do you get the same problem with GNU Emacs?

[2018-02-02 08:59] bbatsov opened #2192 "Evaluation errors result in the cursor's position being changed"
When you evaluate a form resulting in an error, the cursor gets moved to the beginning of the form in question. Likely a missing `save-excursion` somewhere.

## Expected behavior

The cursor stays where it was.

## Actual behavior

It moves to the beginning of the form producing the error.

## Steps to reproduce the problem

Just evaluate:

[code]

with `C-c C-e`.

## Environment & Version informa

[2018-02-03 03:33] bbatsov commented on #2191
I've hacked together something ugly, but it fails mysteriously with:

[code]

[2018-02-03 05:19] #2190 closed

[2018-02-03 05:21] bbatsov commented on #2191
See https://github.com/clojure-emacs/cider/pull/2194 Seems @xiongtx sorted this out pretty quickly.

[2018-02-04 18:57] matanster opened #2196 "Usage ― how to enter cider mode automatically"
Currently I only get the "Clojure" menu, but not the cider menu, from where I would start a repl session or run tests. Is this only my setup? I need to explicitly enter `cider-mode` to get it. Is this by design? can I have cider-mode automatically applied whenever working within a clojure project? I mean, that would just make sense or wouldn't it?

Should I try re-installing?

Thanks for your comm

[2018-02-05 17:37] bbatsov commented on #2196
Yeah, that's by design. You can enable `cider-mode` automatically using `(add-hook 'clojure-mode-hook #'cider-mode)`.

[2018-02-05 17:37] #2196 closed

[2018-02-05 18:44] matanster commented on #2196
Would there be any issue if I did that? would I not want it automatically enabled?

[2018-02-05 22:41] xiongtx commented on #2180
Cannot reproduce.

`(is (= [1 2]))` does not fail. `(= foo)` always evaluated to true.

The second test here fails, but the correct test clause is highlighted:

![image](https://user-images.githubusercontent.com/1624090/35832558-92271916-0a82-11e8-8835-2d7cba00c8ea.png)

[2018-02-05 22:47] xiongtx commented on #2177
Cannot reproduce.

1. `mkdir test`
2. `cd test`
3. `touch foo.clj`
4.  `emacs --file foo.clj`
5. `htop` in terminal
6. `cider-jack-in`

![image](https://user-images.githubusercontent.com/1624090/35832719-2a79832a-0a83-11e8-909c-400223a31618.png)

On a 13-inch MacBook Pro, Early 2015.

[2018-02-05 22:48] xiongtx commented on #2168
Cannot reproduce.

![image](https://user-images.githubusercontent.com/1624090/35832849-9fc6214c-0a83-11e8-89c0-4993e3207863.png)

`cider-test-run-test` with point as shown works fine.

[2018-02-05 23:35] xiongtx commented on #2099
An [MWE](https://en.wikipedia.org/wiki/Minimal_Working_Example) would be nice.

Seems that the problem is that CIDER macroexpansion determines whether to use CLJ or CLJS [based on `cemerick.piggieback/*cljs-compiler-env*`](https://github.com/clojure-emacs/cider-nrepl/blob/b0649ac8bcf1faa686ce9954ed4879622fdf58c3/src/cider/nrepl/middleware/macroexpand.clj#L211), which for some reason is `nil`. So w

[2018-02-06 01:01] xiongtx commented on #2099
Through experimentation I've confirmed that the problem goes all the way down to `(cljs.analyzer/macroexpand-1 (cljs/grab-cljs-env msg) (reader/read-string code))` not properly macroexpanding the form.

I suspect this has to do with `cljs.analyzer/macroexpand-1` behaving differently in a CLJ vs. CLJS context. See [Slack discussion](https://clojurians.slack.com/archives/C03S1L9DN/p1517878303000168)

[2018-02-06 01:18] bbatsov opened #2198 "Notify users when some command is not supported under ClojureScript"
Right now often people experience weird issues when they try to run something supported only for Clojure in a ClojureScript connection. It'd be nice if we added some basic function that does sanity checking in such commands and informs the users that the command they won't to use is not yet supporting "ClojureScript". Back in the day we've added some check only for the debugger, but it's time to e

[2018-02-06 01:21] #2191 closed

[2018-02-06 01:40] xiongtx commented on #2099
Well, [passing `(cljs/grab-cljs-env msg)` to `cljs.analyzer/macroexpand-1`](https://github.com/clojure-emacs/cider-nrepl/blob/b0649ac8bcf1faa686ce9954ed4879622fdf58c3/src/cider/nrepl/middleware/macroexpand.clj#L132)  is definitely not the right thing to do. The `env` needed by `cljs.analyzer/macroexpand-1` is not the compiler env.

[2018-02-06 08:35] xiongtx commented on #1919
@bbatsov Think this can be closed thanks to @jpmonettas's work.

[2018-02-06 08:40] xiongtx commented on #1600
@bbatsov This seems like it can be closed.

[2018-02-06 08:43] xiongtx commented on #1436
Is this still an issue? Seems like it can be closed otherwise.

[2018-02-06 11:18] xiongtx commented on #1372
I investigated this a bit and posted some thoughts on [CLJ-1146](https://dev.clojure.org/jira/browse/CLJ-1146).

The problem is in the [`loop`](https://github.com/clojure/clojure/blob/clojure-1.9.0/src/clj/clojure/main.clj#L259-L269) of `clojure.main/repl`. When the reader throws an exception, the exception is processed by `caught` (default [`repl-caught`](https://github.com/clojure/clojure/blob/c

[2018-02-06 12:43] bbatsov commented on #1436
Yeah, it is. @xiongtx See https://github.com/clojure-emacs/cider/issues/2138 I never managed to figure out why this happens, but it seems it's a reproducible problem. I was meaning to fix it, by applying some default handler for such mysterious `out` and `err` messages, but I never got the time to do so. I don't like my "fix" idea, because it will mask the real problem, which I don't have time to

[2018-02-06 13:10] ckoparkar commented on #2198
I'll be happy to take a look at this in the next few days.

[2018-02-06 15:59] christennant commented on #2187
thanks for looking into this, I'm closing it now.
I don't have GNU Emacs installed, but I'm sure that if I did I'd find that the problem doesn't occur.  For the moment, my workaround is to roll back to Clojure 1.8, which works fine and doesn't have this problem.  I'm guessing/hoping that a future Mac OSX upgrade will address the underlying issue, whatever it is.

[2018-02-06 15:59] #2187 closed

[2018-02-06 17:41] #1600 closed

[2018-02-06 19:59] gonewest818 opened #2199 "add elisp formatting checks in CI"
As mentioned in #2197 it would be useful to have a basic formatting check running in CI to catch indentation issues, trailing whitespace, etc.

[2018-02-06 19:59] gonewest818 commented on #2199
I'm looking at https://github.com/nschum/elisp-lint as a possible starting point, but it needs some updating.

[2018-02-06 20:03] xiongtx commented on #2199
We already run `checkdoc` and bytecompile tests. What more do we need? There isn't a standard style for Elisp the way there is for e.g. Go. And I wouldn't want these checks to frustrate new contributors.

[2018-02-06 20:44] gonewest818 commented on #2199
Well, elisp-lint can confirm `indent-region`, verify indents are following `indent-tabs-mode`, no line lengths exceeding `fill-column`, no trailing whitespace, and so on.  Individual checks can be disabled.

Like I said, I'm having to adjust some things in that codebase but what's left to do is the `indent-region` check.  Right now it's flagging compat macros like `if-let*` and `when-let*` because

[2018-02-07 01:49] gonewest818 commented on #2199
Well, anyway, there are [4 pull requests pending in the elisp-lint project](https://github.com/nschum/elisp-lint/pulls) that boost the functionality enough to be configured and tested.

I ended up taking the `cljfmt` approach to indent rules, meaning I'm not trying to locate and evaluate all the macros (to get the `(declare (indent __))` forms automagically. Instead you need to configure an alist

[2018-02-07 06:10] bbatsov commented on #2199
I think it might have been easier for you to create a similar package. I'm fine with the approach.

@xiongtx In practice ELisp mode defines how things are supposed to be indented, so I just want to make sure that code people submit was actually indented according to the mode and clean of redundant whitespace. Not a big deal, that's why I just imagined a tiny script that applies some clean to a buf

[2018-02-09 22:25] gonewest818 commented on #2199
Update.

<img width="703" alt="screen shot 2018-02-09 at 2 22 09 pm" src="https://user-images.githubusercontent.com/2460918/36052968-b3d3456a-0da4-11e8-9919-4e4a01512728.png">

[2018-02-10 06:07] IGJoshua opened #2201 "Debugger can't instrument function using a macro"
I'm currently trying to debug some clojure code to read some binary files, and to do so I use this (currently buggy) function.
[code]
When I use the hotkey to instrument this function however, I get only a StackOverflowException.

## Expected behavior
Function is instrumented and can be debugged through CIDER's debugger.

## Actual behavior
StackOverflowException thrown.

## Steps to reproduce the

[2018-02-11 02:00] ryanswilson59 commented on #1945
@hanshuebner sorry for the noob question but how would one go about adding :repl-options {:host "::"} to their user profile

[2018-02-11 05:16] hanshuebner commented on #1945
This [blog post](https://world-in-atom.com/posts/2016-07-15-leiningen-profiles/) has an overview of leiningen profiles.

[2018-02-12 01:49] bbatsov opened #2202 "Improve the way cider-jack-in-clojurescript works"
Current `cider-jack-in-clojurescript` is very problematic, as it doesn't really do any attempts to figure out what's the best ClojureScript repl to start for the users project - it just uses a configurable init form to boot the repl, that's mapped to a project type (lein, boot, etc). While this makes sense for `cider-jack-in`, it doesn't make (almost) any sense for ClojureScript as most of the clj

[2018-02-12 01:53] bbatsov opened #2203 "Break down `cider-interaction.el`"
`cider-interaction.el` is now a grab bag for a ton of random functionality. That's mostly a legacy of the fact that originally cider was just a single file and I just split into 3 files - one for the nREPL code, one for the REPL and one for the interaction functions. I planned to make this more granular, but never got to doing so, even though it's trivial and not that much of work. That's why I'm

[2018-02-12 22:14] j0ni opened #2205 "Error trying to run cider-jack-in"
## Expected behavior

`cider-jack-in` starts a repl

## Actual behavior

Command fails with the following error:

[code]

## Steps to reproduce the problem

I was able to reproduce this by installing a fresh cider from MELPA, (20180211) and jacking into a Clojure project with the `project.clj` open.

## Environment & Version information

### CIDER version information

20180211.538

### Lein/Boot v

[2018-02-12 22:42] j0ni commented on #2205
This went away when I removed my dependency on `cider-profile` as an external package. Seems like that moved into cider some time ago. Oh well.

[2018-02-12 22:42] #2205 closed

[2018-02-13 11:07] Engelberg commented on #2081
I'm still getting this error with Clojure 1.9 after updating to what I believe is the latest cider:
cider              20180211.538  installed             Clojure Interactive Development Environment that Rocks

Any ideas how to fix this?

[code]

[2018-02-13 11:25] Engelberg commented on #2081
My problem seems to have been caused by the lein-gorilla plugin, which is interfering with nrepl in some way.

[2018-02-13 15:24] dpsutton commented on #2081
@Engelberg I think this is a bug that has been fixed in subsequent cider-nrepl's. it must be holding onto an old one. If its the issue I think it is, it is using a fully qualified keyword as an alias, something that is no longer valid as of clojure 1.9. `::clojure.test/something` versus `::test-alias/something` or just `:clojure.test/something`

[2018-02-13 15:25] dpsutton commented on #2081
and from its project.clj: `[cider/cider-nrepl "0.10.2"]`. you could probably add an exclusion to your project dependency on gorilla repl and it should work

[2018-02-14 06:40] protsenkovi opened #2207 "Unsupported character in cider-jack-in"
## Actual behavior

cider-jack-in does not start REPL server when is executed on a remote host `master`. It complains about unsupported character.

[code]

## Steps to reproduce the problem

Being on Windows open file in the remote host through tramp (plink) and run cider-jack-in.

## Environment & Version information

### CIDER version information

package: 20180211.538

### Lein/Boot version

Le

[2018-02-14 13:10] ckoparkar commented on #2198
Update: Started looking at this yesterday. Will post a PR before the weekend.

[2018-02-14 19:56] vspinu commented on #2201
Well, there is little to work with here. You need to come up with reproducible example. Do you really need that `org.lwjgl.BufferUtils` or it could be something else?  How does the SO exception look like?  I presume Charset is from `java.nio.charset`.

Your macro is recursive and that's fishy. During instrumentation macros are expanded, so most likely you get finite recursion during that expansion

[2018-02-14 20:08] dpsutton commented on #2201
Its possible that this is a bug introduced by the debugger as well. During advent of code i tried to debug a few loops and adding the debugger shifted recurs out of tail call position. I'm not saying its not the code but just that the debugger's instrumentation doesn't keep to the code semantics perfectly

[2018-02-15 15:11] protsenkovi commented on #2207
There is a problem with `shell-quote-argument` function (subr.el) that cider is using for proper escaping of characters in shell commands. Below is the code with three deletions that resolves the issue in my case. Although I expect that this fix brakes some other shell commands.

[code]

[2018-02-16 01:49] DarMontou commented on #2192
I'm unable to reproduce.

[nREPL] Direct connection to localhost:49619 established
GNU Emacs 25.3.1
CIDER 0.17.0snapshot (package: 20180203.535)

[2018-02-16 03:10] gonewest818 commented on #2199
When I run `elisp-lint` on the current cider sources I get a ton of errors about [lines being longer than 80 columns)](https://travis-ci.org/gonewest818/cider/jobs/342177930).

I happen to be old enough to remember when 80 columns was literally how wide the green phosphor CRT was, but these days I can easily get two columns of 100 characters on my 13" Retina laptop.

Not that there's any rush on t

[2018-02-16 03:37] IGJoshua commented on #2201
This macro actually isn't recursive since the forms within the dot form are not evaluated as normal. This is a direct interop call, not a recursive macro. However, it's possible that CIDER is treating it as recursive and expanding it when it should not be.

[2018-02-16 22:11] gonewest818 commented on #2180
(sorry to hijack this but...) @xiongtx, what do you think a "can't reproduce" label for issues?

[2018-02-16 22:12] xiongtx commented on #2180
Don't we already have one? If not, would be a good idea.

[2018-02-17 11:36] #2102 closed

[2018-02-18 19:30] achikin opened #2210 "Performance issues cider+figwheel+aggressive-indent-mode"
## Expected behavior
There are no performance issues when I start Fighweel repl from cider as described [here](https://github.com/bhauman/lein-figwheel/wiki/Using-the-Figwheel-REPL-within-NRepl) and turn `aggressive-indent-mode` on.
## Actual behavior
I see severe performance issues (slow typing etc) in clojurescript files when figwheel started from cider as described in previous section.
## Steps

[2018-02-18 21:53] gonewest818 opened #2211 "Scope .dir-locals.el settings to specific modes"
In a [pull request on another project](https://github.com/gonewest818/adafruit-wisdom.el/pull/1) @tarsius called me out on a `.dir-locals.el` file that set configuration like `fill-column` using `nil` as the mode name rather than scoping those settings to a specific mode. Citing, e.g. potential for adverse effects on things like `dired` and `magit`.

Just putting a note here because the same pract

[2018-02-19 03:44] bbatsov commented on #2211
Yeah, he made a valid point. I just set those things globally usually, and I didn't notice anything bad happening, but it's probably a possibility. I'll take a closer look at the PR you referenced, but I think it's fine to limit those setting to `emacs-lisp-mode`.

[2018-02-19 09:11] stardiviner commented on #1993
Seems profiling feature added to CIDER now already. But no updated on Documentation https://cider.readthedocs.io/en/latest/search.html?q=profile

[2018-02-19 13:58] jmayaalv commented on #1993
I'm working on the documentation. I am on the middle of holidays so haven't
progress much but it's on my to finish list.

On Mon, Feb 19, 2018 at 10:11 AM, stardiviner <notifications@github.com>
wrote:

--
Juan
Learning is what i do

[2018-02-20 13:14] alexander-yakushev opened #2212 "cider-switch-to-repl-buffer switches to first found buffer"
Is there a reason why `cider-switch-to-repl-buffer` switches to the first buffer it finds on the `(cider-connections)` instead of using `(cider-current-connection)`?

When I'm working on multiple Clojure projects simultaneously and I press `C-c C-z` CIDER often sends me to a wrong REPL buffer, different from the one associated with the code buffer (also shown in the lighter).

## Expected behavior

[2018-02-20 22:01] gonewest818 commented on #2120
For historical reference:

According to this email [the format of the TLS cert on elpa.gnu.org was fixed](http://lists.gnu.org/archive/html/bug-gnu-emacs/2018-02/msg00774.html) by the FSF server administrators.  In principle this means we could attempt to remove the custom "install-gnutls.sh" from the Travis CI builds.

But that's probably irrelevant if we move to CircleCI, as I suspect we will.

[2018-02-21 18:55] gonewest818 commented on #2177
Is this the same case as `cider-jack-in` from a `*cider-scratch*` buffer?  Because that also works, for me at least.

[2018-02-22 06:21] dpsutton opened #2213 "no autocompletion from namespace imported with alias `user`"
when importing a namespace with an alias of `user`, there are no autocomplete results. the problem is that compliment looks to resolve prefixes by looking for that namespace first and then checking the known aliases. For something with a `user` prefix, this will successfully resolve to the special namespace user instead of the imported one.

    (defn resolve-namespace
      "Tries to resolve a na

[2018-02-22 06:40] dpsutton commented on #2213
https://github.com/alexander-yakushev/compliment/pull/51

[2018-02-22 09:02] chopmo commented on #1981
@cddr I'm running into the same issue and found a very simple way to reproduce it:

[code]

Your `(when frame ...)` guard fixed this minimal example for me, but it does not fix my actual problem. After applying the guard, I just get another exception:

[code]

Full stack trace is [here](https://gist.github.com/chopmo/dc0fbafbc98eda5bb1d1c679b3c0d0e8).

Not sure if this is helpful or not, but it is

[2018-02-22 10:21] yogsototh opened #2214 "Strange bug with clj-http"
## Expected behavior

Launching the tests using clj-http call.

[code]

Should return a body.

## Actual behavior

When the code is run with `lein test` or in a `lein repl` it works as expected.
But inside cider. I get this error:

resumed as: `   javax.servlet.http.HttpServletRequest.isAsyncStarted()Z`

Full stack trace:

[code]

## Steps to reproduce the problem

I think simply creating a `compo

[2018-02-22 13:32] dpsutton commented on #2213
closing in

[2018-02-22 13:32] #2213 closed

[2018-02-23 00:41] bbatsov commented on #2212
Hmm, supposedly @vspinu recently fixed this. I'll have to dig the related PR.

[2018-02-23 00:43] bbatsov commented on #2207
I guess you should file an upstream bug for this. We can probably use a patched version of this in CIDER, but the problem with those is that it's easy to diverge from the upstream after a while.

[2018-02-23 00:45] bbatsov commented on #2210
It'd be good if you gathered some info on this performance problem using the built-in Elisp profiler (https://www.gnu.org/software/emacs/manual/html_node/elisp/Profiling.html).

[2018-02-23 00:47] bbatsov commented on #2212
I think it's this one https://github.com/clojure-emacs/cider/commit/4a41360e844d527c1403b14758f05b86800a78bd

[2018-02-23 09:07] alexander-yakushev commented on #2212
It looks to me that it only adds the smarts for distinguishing CLJ/CLJS. But if you have to active CLJ connections it would just grab the most recent one.

[2018-02-23 09:09] alexander-yakushev commented on #2212
FWIW, I've locally replaced `C-c C-z` with this:

[code]

I guess this is an incorrect solution for the general case but I'd like to know how it can be made a correct one.

[2018-02-23 09:59] yogsototh commented on #2214
Follow up, I've upgraded all my dependencies, in particular clj-http one and it works as expected.
Still that behaviour was strange as there was a clear difference between the behaviour in the REPL and in Cider

[2018-02-23 10:45] achikin commented on #2210
@bbatsov profiler output is already attached to the end of the ticket. Please check `Emacs profiler output` section.

[2018-02-23 10:56] bbatsov commented on #2210
I see. Sorry about this, most people simply dump the data in the tickets. It's clear that the problem is coming from the dynamic font-locking, I guess if you disable it everything's going to be fine.

Try setting `cider-font-lock-dynamically` to nil. I guess you have to decide what's more important for you - nice font-locking or automatic indentation. :-)

[2018-02-23 10:58] bbatsov commented on #2210
/cc @Malabarba

[2018-02-23 13:22] claynon opened #2215 "Add matcher-combinators suppor to cider"
I'm using this [matcher-combinators](https://github.com/nubank/matcher-combinators) library, but I can't make it work with cider-test. I'm not sure if to fix that cider or matcher-combinator need to change. Can you give me a hand with that, please?
The `matcher-combinators` library is not a new testing library like `clojure.test` or `midje`, it just adds nice matchers to these libs.
When I use the

[2018-02-23 15:02] vspinu commented on #2212
The "correct" solution would require `cider-current-connections` which is not there yet. Your solution would work if you keep one connection per project and will break with clj/cljs repls and (probably) with multiple connections per project. In any case this one will be automatically taken care by #2069.

[2018-02-23 15:21] alexander-yakushev commented on #2212
Thanks for the heads up. I'll be waiting for #2069 then.

[2018-02-24 12:55] phillipm commented on #2215
For a bit more context:
`matcher-combinators` functionality is integrated with `clojure.test` in https://github.com/nubank/matcher-combinators/blob/master/src/matcher_combinators/test.clj by implementing a version of `clojure.test/assert-expr` for `match?` so that it is recognized by the `is` macro and reporting by implementing `clojure.test/report` with `:mismatch`.

As far as we can tell, it fol

[2018-02-24 17:19] mraveloarinjaka commented on #2106
Hello @bbatsov
I have the same issue and a minimal repository on which to reproduce (https://github.com/mraveloarinjaka/sample-boot-cljs). Will it be enough to reopen the issue and have a look at it?
That being said I agree that it might not be obvious whether it is cider or cider-nrepl related.
However if I use another way to setup a cljs repl (using vim-fireplace for instance) I get a crash only

[2018-02-24 21:28] xiongtx commented on #2215
The problem is that, in the failing test case, `cider-nrepl` [does not understand messages of type `:mismatch`](https://github.com/clojure-emacs/cider-nrepl/blob/v0.16.0/src/cider/nrepl/middleware/test.clj#L94-L120).

You've implemented the `clojure.test/report` method for `:mismatch`, but that only affects `clojure.test`'s reporting (e.g. when you run via CLI), not CIDER's.

[2018-02-24 22:27] gonewest818 opened #2216 "Updated tramp.el is merging into Emacs master branch"
Looks like the Emacs maintainers are merging a new `tramp.el` into branch master for Emacs 27, and the new version has incompatible changes.  Making a note here to go back and deal with this once the dust settles on that integration work.

[code]

[2018-02-24 23:42] xiongtx commented on #2215
With clojure-emacs/cider-nrepl#510, you can extend `cider.nrepl.middleware.test/report` like:

[code]

Running on the test:

[code]

gives:

![image](https://user-images.githubusercontent.com/1624090/36636282-99a73d42-1978-11e8-8d7c-04dee47c6207.png)

[2018-02-26 02:04] bbatsov commented on #2216
I guess we should check what was it renamed to and add some conditional logic to support Emacs 27.

[2018-02-26 11:28] achikin commented on #2210
@bbatsov thank you very much for your help. Figwheel repl is much faster after turning `cider-dynamic-indentation` off. At least I have autocomplete, docs and go to definition now.
As for the flexible indentation - seems like it does not affect my workflow that much and I can sacrifice it. Thank you.

[2018-02-26 11:28] #2210 closed

[2018-02-26 22:38] gonewest818 commented on #2216
Here's the commit:
http://git.savannah.gnu.org/cgit/tramp.git/commit/?id=b735fd3ec9f79fde4bd9a97d560552cc274731e0

and the relevant diff:
http://git.savannah.gnu.org/cgit/tramp.git/diff/lisp/tramp.el?id=b735fd3ec9f79fde4bd9a97d560552cc274731e0

where the log message includes the following: `* tramp.el (tramp-current-method, tramp-current-user) (tramp-current-domain, tramp-current-host) (tramp-curr

[2018-02-27 03:46] bbatsov commented on #2214
I'm curious whether you would have gotten the same problem if you started `lein repl` the same way CIDER starts it. Generally there should be no difference between evaluating stuff in CIDER and `lein repl`.

[2018-02-27 03:48] bbatsov commented on #2198
@ckoparkar How's that PR coming along?

[2018-02-27 20:53] ckoparkar commented on #2198
Sorry, got distracted with other things :( Will finish this up soon.

[2018-03-01 07:51] manuel-uberti opened #2218 "void-variable cider--cljs-repl-types"
## Expected behavior
Correctly start CIDER with both CLJ and CLJS REPLs.

## Actual behavior
[code]

## Steps to reproduce the problem
- visit a clj/cljs file in your project
- <kbd>M-x cider-jack-in-clojurescript</kdb>
- select `Figwhell-sidecar` at the CLJS REPL prompt

## Environment & Version information

### CIDER version information

[code]

### Lein/Boot version

Leiningen 2.8.1 on Java 1.8

[2018-03-01 07:55] manuel-uberti commented on #2218
#2217 should be related.

[2018-03-01 12:22] the-frey commented on #2140
Encountered this one today on emacs 24.5 - as @harold says, nuking cider and then `M-x package install cider` after restart seems to clear it up for some reason...

[2018-03-01 13:09] manuel-uberti commented on #2218
Fixed by #2217.

[2018-03-01 13:09] #2218 closed

[2018-03-01 21:47] doubleagent commented on #1416
2nd time this week Cider has prompted me to visit this page.

[2018-03-02 04:36] gganley commented on #2211
So should all locals be assigned to emacs-lisp-mode or only visual formatting commands such as `fill-column`

[2018-03-02 04:39] gganley commented on #2203
Do you just want me to look at `cider-interaction` to refactor or look into the other files to see if those contain code that may also benefit from refactoring.

[2018-03-02 04:55] gganley commented on #915
What do you mean by type of cider connection, what other connections are possible beside `label, host,port`

[2018-03-02 05:03] gganley commented on #714
Has this been fixed at some point between 2016 and now? Commands such as `cider-stacktrace-cycle-cause-{1-5}` exist now, was that the point of this issue?

[2018-03-02 05:07] gganley commented on #943
I believe this has been fixed. Through simple testing I see no issues with the combination of using a output prefix and pprinting.

[2018-03-02 05:20] gonewest818 commented on #2211
I would say all of them in `emacs-lisp-mode` is fine.

[2018-03-02 05:20] gganley commented on #1115
@sooheon Could you give an example of such a spec error?

[2018-03-02 05:24] gganley commented on #1054
Is this resolved through something like `cider-debug-defun-at-point` or is something more being referenced

[2018-03-02 14:58] expez commented on #1115
@gganley Just create a spec requiring e.g. an int, and then pass it a gigantic clojure map.  The entire map will be printed to show the erroneous value.

[2018-03-02 16:58] gganley commented on #2211
Apollogies for polluting with references, still getting the hang of using magit / not sucking with git.

[2018-03-02 17:37] gonewest818 commented on #2211
For future, if you want to avoid the references (and by the way it doesn’t feel like “pollution” to me) you can omit the “[#2211]” from your commit message until the work is done.

With git/magit you can rebase, squash, and reword commits in your branch to clean up the history before it gets merged. That’s what I tend to do with my pull requests.

[2018-03-02 17:45] gganley commented on #2211
Thank you, feedback like this is why I wanted to get into OSS.

[2018-03-03 12:37] PiFlUn commented on #2140
Same happened to me today too - wanted to fire up cider again, did not start. Nuked cider, installed it again and whoosh it works again.
Should I reopen the issue? I mean sure, everyone can solve it by him/herself though it would be nice in my opinion if a new version of cider would not cause problems like this.

[2018-03-03 15:40] bbatsov commented on #2140
It's not really a problem with CIDER - it's a problem with `package.el` and how it byte-compiles stuff. Sometimes something stale remains and this leads to such problems.

[2018-03-04 01:37] #2211 closed

[2018-03-04 03:00] gganley opened #2223 "Ambiguity concerning the PR template"
Currently the [PR template](https://github.com/clojure-emacs/cider/blob/master/.github/PULL_REQUEST_TEMPLATE.md) combines two seemingly separate things: generating byte code and checkdoc warnings

This could be interpreted as two things:

`! generating (bytecode || checkdoc) warnings`

or

`! generating (bytecode || (checkdoc warnings))`

I suggest that these are broken into two separate boxes I.e

[2018-03-04 03:06] xiongtx commented on #2223
"bytecode warnings" refers to [byte-compilation](https://www.gnu.org/software/emacs/manual/html_node/elisp/Byte-Compilation.html) warnings.

Perhaps

is more clear?

[2018-03-04 03:07] gganley commented on #2223
Is there a reason these two are paired? I see no reason to pair them personally.

[2018-03-04 03:10] xiongtx commented on #2223
In most cases byte-compilation and `checkdoc` warnings do not impact functionality (unlike `make test` failures).

[2018-03-04 03:26] #2223 closed

[2018-03-04 12:06] bbatsov opened #2226 "Improve the way middleware is loaded with the clojure command and tools.deps"
@SevereOverfl0w noticed the following:

I put this hastily together and we should fix it, before shipping 0.17.

[2018-03-04 13:25] bbatsov commented on #2215
Guess we can close this now.

[2018-03-04 13:25] #2215 closed

[2018-03-04 13:26] bbatsov commented on #2198
No problem!

[2018-03-05 01:11] bbatsov commented on #2203
You can certainly do both - there are opportunities to reorganize better everywhere (it's super messy at this point), I mentioned `cider-interactions.el` only mostly because extracting things from there is clear cut and doesn't require much knowledge of the codebase in general.

[2018-03-05 01:13] #2199 closed

[2018-03-05 11:29] manuel-uberti opened #2227 "void-function cider--select-zombie-buffer"
## Expected behavior

Successfully connect to a CLJ/CLJS project.

## Actual behavior

[code]

## Steps to reproduce the problem
- Update CIDER to latest version from MELPA
- <kbd>M-x cider-jack-in</kbd> or <kbd>M-x cider-jack-in-clojurescript</kbd>

## Environment & Version information

### CIDER version information

[code]

### Lein/Boot version

[code]

### Emacs version

[code]

### Operating

[2018-03-05 14:02] #2227 closed

[2018-03-05 15:40] dpsutton opened #2230 "Cljs repl check does not work"
The cljs repl checking does not work.

The way it checks for the presence of, for example, figwheel is to call `find-ns` on `figwheel-sidecar.repl-api` This namespace does not exist. However, the cljs start up requires this namespace which it does find. It seems that we need to check the classpath to see if the requirement will succeed rather than if the namespace already exists.

[2018-03-05 15:49] dpsutton commented on #2230
Probably the best way to do this is expose something in nrepl to check that a dependency is present using [jar-namespaces]
(https://github.com/clojure-emacs/orchard/blob/master/src/orchard/namespace.clj#L23) from orchard

[2018-03-06 06:00] bbatsov commented on #2230
Yes, you're right. Alternatively we can check on the classpath for those deps.

[2018-03-06 06:00] manuel-uberti commented on #2230
Is this why with the latest CIDER from MELPA selecting `Figwheel` results in: `user-error: Figwheel is not available.  Please check http://cider.readthedocs.io/en/latest/up_and_running/#clojurescript-usage`?

[2018-03-06 06:48] bbatsov commented on #2230
Yeah, that's the problem this causes. You can work around this easily by adding this to your config after loading CIDER:

[code]

I'll try to fix it as soon as possible, but I'm pretty short on time this week.

[2018-03-06 08:07] manuel-uberti commented on #2230
Great thanks, it's working now.

[2018-03-06 14:14] mrrodriguez commented on #2202
I discussed this on Slack #cider with @dpsutton and putting it here for additional visibility.
One issue I brought up with the current ClojureScript integration in Cider is that it is awkward and brittle to set the `cider-cljs-lein-repl` because you have to set it to the entire code form string that is used in Cider.

For example, in my Emacs config for this, I have something like:
[code]

I'd lik

[2018-03-06 17:00] #2230 closed

[2018-03-06 17:02] bbatsov commented on #2202
@mrrodriguez That's already changed on `master`. See https://github.com/clojure-emacs/cider/blob/master/cider.el#L550

[2018-03-06 17:30] mrrodriguez commented on #2202
Thanks @bbatsov I'll have to check that out soon then.

[2018-03-08 18:26] xiongtx commented on #2214
Since this has been resolved by upgrading, it can be 📕. Feel free to post more info if you find it.

[2018-03-08 18:26] #2214 closed

[2018-03-08 18:33] xiongtx commented on #1936
Cannot reproduce using

[code]

[2018-03-08 18:36] xiongtx commented on #1936
Hmm, _was_ able to reproduce when using `cider-refresh` instead of `cider-eval-buffer`.

[2018-03-08 20:08] xiongtx opened #2233 "Parts of test body can be evaluated multiple times after `deftest` is reevaluated"
## Expected behavior

No part of test body is evaluated multiple times after `deftest` is re-evaluated.

## Actual behavior

Parts of test body can be evaluated multiple times after `deftest` is re-evaluated.

## Steps to reproduce the problem

Given the following:

[code]

Running `foo-test` passes:

[code]

Re-evaluating `foo-test`, however, either via the CIDER REPL or `cider-eval-defun-at-poin

[2018-03-09 08:40] behrica commented on #1934
I somehow thing that the 2 existing variables to control the max output size,
so "cider-repl-print-length" and "cider-repl-print-level" are not enough.

Sometimes I return "by accident" a very large single strings from my methods, which can crash Emacs.
So a single String of some megabytes gets returned by a function and emacs tries to print it.

I thought that eventually this could be solved insi

[2018-03-10 06:48] arrdem commented on #1510
Kinda poking at this, since I've been doing a bunch of graphs recently. It looks like there's an old sketch at this from Phil here - https://github.com/technomancy/nrepl-discover/blob/master/src/nrepl/discover/samples.clj#L135

[2018-03-10 12:21] bbatsov commented on #1510
Yeah, it'd be really nice to finally implement this. Phil was working on middleware discovery and support for rich content types, but sadly this work never got finished. For the images themselves I think it'd be enough to just enhance the eval op to put some content type for special types in the response (and perhaps deliver the images in a format more convenient for external consumption) and on t

[2018-03-10 12:23] bbatsov commented on #1510
Actually I noticed that this is pretty much what Phil has done. :-)

[2018-03-10 16:48] gonewest818 commented on #1115
Spending some time in the profiler with cider (master https://github.com/clojure-emacs/cider/commit/18ed7615245a3ece51215d3ddc9332feb58971f2) on Emacs 25.3.

In Emacs, toggle off

    (toggle-truncate-lines)
    (cider-repl-toggle-pretty-printing)

In the repl, disable

    (set! *print-length* nil)
    (set! *print-level* nil)

## Output a long line ##

Start the profiler. Generate a long line in

[2018-03-10 18:17] bbatsov commented on #1115
But at the cost of now scrolling to the end of the long output. :-)

Hmm, seems you found some different bug (which should be simple to fix). The spinner gets triggered only while there's some evaluation in progress and just pressing return shouldn't trigger any evaluation. Looking at the profiler data I'm completely puzzled how ido gets involved in all of this.

As for a fix I've been thinking th

[2018-03-10 18:27] arrdem commented on #1510
So part one of this is ... probably just picking machinery on the Clojure side for identifying "images" in results which could be displayed nicely.

Part two here as Bozhidar mentioned is extending `nrepl-make-response-handler` to be more general, in terms of accepting eg. a `content-type` handler or even just accepting an alist from response types to handlers or some other dispatching structure.

[2018-03-10 18:29] arrdem commented on #1510
@bbatsov yeah the REPL side of this is exactly what Phil's got a prototype of above. Looks like wiring this up on the CIDER side shouldn't be too hard, just need to make `nrepl-make-response-handler` less dumb.

[2018-03-10 18:36] gonewest818 commented on #1115
Oh, which reminds me. Clearing the repl `C-x C-o` doesn’t work reliably in the buffer with the long line of output. I found I could get it to clear by `M-<` to the top and then clear the buffer from there. And once the repl buffer is cleared these lags go away. That’s how I’ve been resetting between tests.

[2018-03-10 19:56] gonewest818 commented on #1115
Well, for some reason it is triggering an evaluation (of the newline?), see here

[code]

I'll go track that down.

[2018-03-11 04:08] stardiviner commented on #1510
Can it support other packages like [ob-clojure-literate](https://code.orgmode.org/bzg/org-mode/src/master/contrib/lisp/ob-clojure-literate.el)?

Even though I already implemented a way to display inline image result in
Org-mode buffer. But the implemented method is limited on "Incanter".

As this link:

code shows, might can improve it.

And hope CIDER can support Org-mode ob-clojure.el inline ima

[2018-03-12 04:02] gonewest818 commented on #1115
So here's what I'm finding about the [lag when long lines exist in the REPL](https://github.com/clojure-emacs/cider/issues/1115#issuecomment-372044112).   If I watch the `*nrepl-messages...*` buffer during these long lags, I see only the outbound "eval" message but no response. Only when I trigger the `which-key` completion as mentioned before, then finally I see return messages containing the res

[2018-03-12 06:06] bbatsov commented on #1115
Hmm, that's extremely odd. Might be somehow related to the fact the REPL buffer is also the connection buffer, but I cannot think why the processing of the responses would halt and continue when you type something.

[2018-03-12 06:53] gonewest818 commented on #1115
Somehow related to the spinner itself. I just tried `(setq cider-show-eval-spinner nil)` with everything else as described earlier (including the long output line in the repl buffer), and so far I can't reproduce the hang.

[2018-03-12 07:23] bbatsov commented on #1115
When you say there's no "hang" you mean that both the data is immediately logged in the messages buffer and the result is immediately displayed in the REPL, right?

Looking at the time @arrdem submitted this ticket it seems pretty close to the time we've introduced the spinner. He reported it when 0.10 was in the development and this was added in 0.10.

[2018-03-12 07:32] arrdem commented on #1115
Following this with great interest. Thanks so much for the detailed work @gonewest818

[2018-03-12 13:38] gganley commented on #1115
If it is the cause, there is some horrible irony in the fact that a loading spinner is causing hangs.

[2018-03-12 14:36] gonewest818 commented on #1115
Right. And my print statement in the message handler for the repl also prints.

[2018-03-12 14:59] gonewest818 commented on #1115
With the spinner off, I’m able to do things like `(range 100000)` in the repl and still interact. The repl is a little slower but still usable. Profiling will probably reveal something to do with manipulating the buffer. Eg `cider-repl-return` calls `cider-repl—show-maximum-output`.

[2018-03-12 18:00] bbatsov commented on #1115
OK. I don't think @Malabarba is working on the spinner anymore, so probably we'll have to just remove it. It's not a big deal to live without it, and we can always add something homegrown to the modeline should we decide to.

[2018-03-12 18:33] gonewest818 commented on #1115
Ok, but before I do that. The spinner is acting like a nonblocking loop (remember Emacs is pinning the CPU at 100%?) which suggests maybe the updating of the spinner is taking longer than the framerate.
In my testing I can use `which-key` to interrupt the loop, and I know under the hood `which-key` uses similar timers. That seems like more than a coincidence.

I'm going to try slowing down the fra

[2018-03-12 22:08] bbatsov commented on #1115
Sounds like a good idea!

On Tue, Mar 13, 2018 at 01:33 Neil Okamoto <notifications@github.com> wrote:

--
Best Regards,
Bozhidar Batsov

http://www.batsov.com

[2018-03-12 23:49] paulrd opened #2236 "clojure.tools.reader error when compiling project"
## Actual behavior
[code]

## Steps to reproduce the problem

Create bare Lein project:

[code]

With this as only source code:

[code]
Launch REPL via `cider-jack-in`.

Compile cider-test.core buffer. (cider-eval-buffer)

## Environment & Version information

### CIDER version information

[code]

### Lein/Boot version

[code]

### Emacs version

[code]

### Operating system

[code]

[2018-03-13 00:00] paulrd commented on #2236
I'm not sure if this is a compojure-api bug as it does not happen when I compile this code with lein repl.
I don't get errors when putting in an explicit clojure.tools.reader "1.2.2" dependency.
Also this error only occurs when upgrading to clojurescript 1.10.126 (or higher) from 1.10.64.
Another clue: after deleting .m2 directory, it seems that cider does not pull in the clojure.tools.reader "1.3

[2018-03-13 00:22] vspinu commented on #2152
`*print-length*` affects `spit` btw, and breaks `slurp`. I think this is an oversight on the clojure side, but well ...

[2018-03-13 09:42] alexander-yakushev opened #2237 "Popping up cider-error buffer for exceptions is slow"
I'm not sure when did that start, but for quite a while now, whenever an exception happens that propagates all the way up to `*cider-error*` buffer, it takes a noticeable amount of time (~0.5-1 second) for the buffer to show up. This is reproducible every time and on two different machines/configs.

This doesn't seem to be the loading of middleware (happens every time, not only the first time), no

[2018-03-13 10:00] bbatsov commented on #2237
Can you attach a bit of profiling data to the ticket?

On Tue, Mar 13, 2018 at 16:42 Alexander Yakushev <notifications@github.com>
wrote:

[2018-03-13 10:05] alexander-yakushev commented on #2237
I tried profiling it, but since it is asynchronous, I don't know how to schedule it, and if I start/stop manually, lot's of irrelevant stuff goes into the profile.

[2018-03-13 10:09] alexander-yakushev commented on #2237
Something like this (obtained through standing in the buffer or `(/ 1 0)` and doing
`M-: (progn (profiler-start 'cpu) (cider-eval-last-sexp) (sleep-for 1) (profiler-report) (profiler-stop))`

[profiler-profile "24.3" cpu #s(hash-table size 65 test equal rehash-size 1.5 rehash-threshold 0.8 data ([profiler-calltree-build-unified profiler-calltree-build profiler-report-render-calltree-1 profiler-rep

[2018-03-13 17:36] gonewest818 commented on #1115
Final update before moving to the remedy:  I did confirm slowing down the spinner framerate can help avoid the situation where the spinner spins indefinitely, *but* generating a long enough line in the repl will eventually cause the spinner to hang again. I am confident merely adjusting framerate is not the solution.

Right now in the repl I have a *single* line of output with more than a million

[2018-03-14 02:04] bbatsov commented on #1115
OK, so let's kill this completely. It's not an important feature anyways. We can potentially replace the fancy spinner with a basic indication in the minibuffer that an eval operation is in progress, but even if we don't that's not a big deal.

I wonder if we can replace the current behaviour with just scrolling to the end of the buffer. But at any rate - it seems to me there should be just one re

[2018-03-14 02:45] gonewest818 commented on #1115
I was assuming the truncation is client side since there’s a possibility the evaluation has a side effect.. ?

[2018-03-14 04:59] arrdem commented on #1115
Hummm I was able to repro this behavior using just `spinner.el`, in `*scratch*` doing `(progn (start-spinner) (dotimes (i 100000) (insert-string "a")) (insert-string "\n\n") (stop-spinner))` which takes about ~7s and definitely hangs emacss for the duration. In the presence of long lines, the spinner seems to contribute significantly to Emacs' lag if it's allowed to continue but I didn't make an e

[2018-03-14 06:07] xiongtx commented on #1115
The code you wrote to insert `"a"` 100,000 times will lock up Emacs for some time even without a spinner, so I'm not sure what it's supposed to demonstrate.

[2018-03-14 06:40] xiongtx commented on #2237
It seems you're spending a lot of time on GC:

![image](https://user-images.githubusercontent.com/1624090/37386857-731838aa-2717-11e8-90ee-59433c2174f5.png)

What's your memory usage look like when displaying these buffers?

I couldn't replicate this issue with `CIDER 0.17.0snapshot (package: 20180312.26)`. Can you try upgrading to see if the problem persists?

[2018-03-14 06:48] xiongtx commented on #2236
Going to copy-paste my responses from Slack:

That's strange. Both CLJS [`1.10.64`](https://github.com/clojure/clojurescript/blob/r1.10.64/project.clj#L15) _and_ [`1.10.126`](https://github.com/clojure/clojurescript/blob/r1.10.126/project.clj#L15) use `tools.reader 1.3.0-alpha3`.

I'd guess some lib of yours doesn't play nice w/ `tools.reader 1.3.0-alpha3`. Something changed the classpath (perhaps

[2018-03-14 06:57] xiongtx commented on #2207
Hmm, is this a Windows-specific issue? On Fedora, I see:

[code]

If so, [file a bug w/ the Emacs maintainers](https://www.gnu.org/software/emacs/manual/html_node/efaq/Reporting-bugs.html).

[2018-03-14 07:12] xiongtx commented on #2192
I can reproduce. Interesting, this doesn't happen with _all_ errors: `(/ 1 0)` does not exhibit this behavior, for example.

[2018-03-14 07:28] #2192 closed

[2018-03-14 07:32] #2180 closed

[2018-03-14 07:32] #2177 closed

[2018-03-14 07:33] #2168 closed

[2018-03-14 07:39] xiongtx commented on #2105
Cannot reproduce w/ @calvis's instructions on:

[code]

[2018-03-14 07:40] xiongtx commented on #2010
Can you reproduce using vanilla Emacs? If not, this is likely a Prelude issue, not CIDER's.

[2018-03-14 07:40] #2010 closed

[2018-03-14 07:51] xiongtx commented on #1924
This should be addressed by #2025.

[2018-03-14 07:51] #1924 closed

[2018-03-14 08:04] xiongtx commented on #1841
Seem this can be closed.

- The original test case doesn't even fail with `clojure.spec.test.alpha`.
- `cider.nrepl.middleware.test/report` is [now a multimethod](https://github.com/clojure-emacs/cider-nrepl/pull/510).
    - Not sure if this has any impact on [TCHECK-113](https://dev.clojure.org/jira/browse/TCHECK-113)

[2018-03-14 08:04] #1841 closed

[2018-03-14 08:09] xiongtx commented on #1717
W/ #438 the REPL now loads very quickly. :bowing_man: @vspinu!

[2018-03-14 08:09] #1717 closed

[2018-03-14 08:10] #1919 closed

[2018-03-14 08:11] #714 closed

[2018-03-14 08:12] #943 closed

[2018-03-14 08:13] #1059 closed

[2018-03-14 08:17] xiongtx commented on #1594
@Malabarba Any :game_die:  you can take a look at this?

[2018-03-14 09:09] xiongtx commented on #1532
I don't think there's an easy fix for this.

In `cider-test.el`, we [purposefully ignore the file](https://github.com/clojure-emacs/cider/blob/1ee97c4c4bbb9f7c8b6dffde0112cbb8338870dd/cider-test.el#L517-L519), presumably b/c we assume that all assertions are in the current buffer.

If this is not the case, there are a few possibilities:

- There is a file and it's not the buffer's file
  - _Should

[2018-03-14 09:18] xiongtx commented on #1981
I cannot reproduce @chopmo's example w/ `(* nil 42)` using `CIDER 0.17.0snapshot (package: 20180312.26)`.

@cddr Have you found a minimal example that could reproduce this?

[2018-03-14 09:24] abo-abo commented on #2177
@xiongtx Indeed, I can't reproduce your recipe on one of my machines.

[2018-03-14 09:26] xiongtx commented on #1971
While the reader allows it, the [spec does not include](https://clojure.org/reference/reader#The%20Reader--Reader%20forms):) `"` as a legal constituent of a symbol or keyword:

But then again, a number of libraries grossly violate the ban against `.` in keywords:

[2018-03-14 09:30] xiongtx commented on #2177
"Can't reproduce [my] recipe" meaning you get the same result I do, or still 100% CPU usage?

[2018-03-14 09:37] xiongtx commented on #1929
@dpsutton Hasn't the "negative" filter been implemented as `Show` instead of `Hide`?

![image](https://user-images.githubusercontent.com/1624090/37394285-96f9985e-2730-11e8-8b99-6ab214d2f0be.png)

@harold Can this be closed?

[2018-03-14 09:44] xiongtx commented on #1683
This is due to the [rather simplistic logic](https://github.com/clojure-emacs/cider/blob/1ee97c4c4bbb9f7c8b6dffde0112cbb8338870dd/cider-test.el#L522-L527) in `cider-test-highlight-problem`.

However, given that `clojure.test` doesn't provide anything more than filename and line, it's hard to imagine how we can highlight the _right_ forms.

[2018-03-14 10:27] bbatsov commented on #1683
Isn't this a simple solution - we go to the right line and then we search forward for `is` or `are`.  Not bulletproof, but I think it will work pretty well most of the time.

[2018-03-14 10:48] bbatsov commented on #1532
Well, I guess for such cases we can at least check that the filename matches the one of the current buffer.

But I agree that's a tricky issue to fix - it will likely be strange to get a new file opened if the helpers are defined there.

[2018-03-14 10:55] bbatsov commented on #1115
I don't see how this would be a problem. The evaluation would still be complete, we'd just return only a portion of the result and some marker to be able to retrieve the full result (e.g. when an user presses `...` in the truncated result). And I assume we'd do the same thing if we're doing things client-side. The slight advantage of the server-side approach would be that this will reduce the data

[2018-03-14 10:58] bbatsov commented on #2237
I guess another thing to try would be increasing the GC threshold, so that the GC is kicking in less often. Or reduce it if you made it huge in the past (see http://bling.github.io/blog/2016/01/18/why-are-you-changing-gc-cons-threshold/)

[2018-03-14 11:04] vspinu commented on #1115
It's a big advantage on remotes. One problem with the server side is that one would need to manage caching. Storing all output's so far doesn't make sense. Also I am not sure this should apply to `*cider-results*`. The client can have it hanging around for a while and clearing the server side cache might be unpleasant.

[2018-03-14 11:19] bbatsov commented on #1115
This should definitely not apply for `*cider-results*`. It should certainly be used in the REPL, and probably for interactive evals as well.

I was thinking of storing just results/output that exceed some limit, but we can probably limit this just to the last result. The problem with not storing everything (either client or server-side) is that you won't be able to expand all the truncated results

[2018-03-14 11:38] paulrd commented on #2236
Compiler error (without tools.reader "1.2.2") dependency in project file:
[code]
Now without error (using org.clojure/tools.reader "1.2.2" dependency in project file:

[code]

[2018-03-14 11:44] paulrd commented on #2236
This also has no error compiling - without tools.reade "1.2.2" dependency but with clojurescript "1.10.64"
[code]

[2018-03-14 16:02] abo-abo commented on #2177
@xiongtx I meant that I get the same result as you. Thanks for checking.

[2018-03-14 16:56] xiongtx commented on #1683
There are several such macros besides `is` and `are`. We also won't know which one to highlight if there are several on the same line (2nd example above).

[2018-03-14 16:57] xiongtx commented on #2237
Unless GC threshold had been set much lower than normal, it shouldn't be a problem. Something else is likely going on.

[2018-03-14 17:02] alexander-yakushev commented on #2237
OK, I spent almost a day fiddling with my Emacs config. Good news: I've updated all the packages (including CIDER) and this exact issue is gone for me. Whew!

I cannot verify now whether the problem was with older CIDER package or my overall Emacs setup. Much likely the latter. I still have lags when pressing Smex' `M-x` and they also seem GC-related. Raising GC threshold seems to help only for a

[2018-03-14 17:02] #2237 closed

[2018-03-14 17:24] harold commented on #1929
Woah. I just clicked `Project-Only` for the first time, and good things happened! Great work, all.

I will experiment with this more in more real-world use and see how it goes.

I have no problem closing this, future thoughts can be put into new issues.

Thanks again all.

[2018-03-14 17:34] #1929 closed

[2018-03-14 20:32] xiongtx commented on #2236
I'm actually unable to reproduce the error using the steps you provide w/:

[code]

From the second `lein deps :tree` output, only `[org.clojure/tools.reader "1.3.0-alpha3"]` is a listed dep. So if an older version of `tools.reader` is being used, it's likely AOT-compiled into some other dep. I'm not sure that's the case, though, as I'm unable to reproduce your error.

[2018-03-14 20:47] gonewest818 commented on #1115
I would bet people want access to the last N results, where N might not be "every result for all time" but it seems likely N is also greater than 1 for most people.

It suggests to me that the cache eviction should be directed by the client. Then the client is free to implement a "sliding window" policy with configurable N, and/or can disable caching entirely if it doesn't want to be bothered, etc

[2018-03-15 09:43] paulrd commented on #2236
Hmm. I'll have to see if I can reproduce the issue on a different computer. I'm using the develop branch of Spacemacs, but that shouldn't be the problem. As far as tools reader, @bbatsov  was explaining to me in slack that tools.reader is used by cider-nrepl and it's dependency is in-lined and the namespace changed so as not to conflict with project dependencies. Perhaps there is some bug in the c

[2018-03-15 10:50] paulrd commented on #2236
Diving into the dependencies a bit more... I get the error when asking cider repl to read this: ```(:require [clojure.tools.reader.edn :as edn])```

[2018-03-15 12:46] paulrd commented on #2236
It turns out adding any explicit dependency of tools.reader (I tried "1.2.2" and "1.3.0-alpha3") to project.clj makes the error go away.

[2018-03-15 13:07] paulrd commented on #2236
Ah! @xiongtx, I think I know why you can't reproduce! I see I have an explicit dependency in .lein/profiles.clj on org.clojure/tools.nrepl "0.2.13" without this dependency there (or in project.clj) the error will not occur. I'll update the bug report to take this (and other things I discovered) into account.

[2018-03-15 13:26] paulrd commented on #2236
To summarize this comedy ;-):
- error occurs only in emacs cider not lein repl
- must compile a namespace that requires clojure.tools.reader.edn
- project dependencies: tools.repl "0.2.13", clojure, clojurescript>"1.10.64"
- error does not occur if tools.reader is in project dependencies

[2018-03-15 14:21] paulrd commented on #2236
Ok, I found the source of the error, but am unsure how to resolve it. Notice that cider-nrepl dependencies have the ``` ^:source-dep``` metadata. Except not on tools.nrepl. I have confirmed that adding this metadata to tools.nrepl dependency in the cider-nepl project solves this issue, but that would likely break dubugging middleware as described [here:](https://github.com/clojure-emacs/cider-nrep

[2018-03-15 16:11] harold commented on #2105
@calvis instructions reproduce for me on:

[code]

Perhaps there is something coming in `0.17` that fixes this? That would be great, I encounter this many times every day in my real work.

[2018-03-15 16:49] xiongtx commented on #2236
😕 So does the version of `tools.reader` you have in your Lein profile have anything to do w/ the bug? Or was that a red herring?

If you remove it, does the bug persist? If it _is_ relevant, I fail to see how it's impacting CIDER but not `lein repl`.

[2018-03-15 17:49] paulrd commented on #2236
@xiongtx Ummm... I had tools.repl in my .lein/profiles.clj is that what you mean? Reread my edited bug report at the top of this thread. Can you reproduce now?

[2018-03-15 21:06] xiongtx commented on #2236
I still cannot reproduce using your updated example:

[code]

Try this: remove Lein profile, clear your `~/.m2`, upgrade your CIDER, and see if the error continues.

@bbatsov @gonewest818 Perhaps one of you could try to reproduce?

[2018-03-15 21:16] gonewest818 commented on #2236
I can't reproduce it either.

[code]

Where my `cider` and `cider-nrepl` are slightly ahead of "master" because of something I'm working on.

[2018-03-16 00:05] paulrd commented on #2236
@xiongtx Thanks for checking. This is so bizarre. I did what you suggested. I still get the problem, but now I don't even need to include the clojure.org/tools.nrepl dependency to get the bug. I might have to try create docker image are ansible script to get others to reproduce this. Seems silly.

[2018-03-16 00:38] paulrd commented on #2236
Hmmm, I can't reproduce in brand new emacs (non-spacemacs) I'll try with bare spacemacs. If anyone is using spacemacs maybe try to reproduce :-/

[2018-03-16 00:56] gonewest818 commented on #2236
Sorry, I've used Emacs since long before Spacemacs existed and old habits die hard.

[2018-03-16 02:04] paulrd commented on #2236
Yeah, I think it's spacemacs. Stable branch was ok, then switched to develop and got the error. Now to figure out why!

[2018-03-16 02:40] xiongtx commented on #2236
Good 📰. Post here when you find out what the problem is.

[2018-03-16 02:40] #2236 closed

[2018-03-17 15:57] jackrusher opened #2239 "REPL buffer rejects change to "cljs", sticks out tongue in derision"
## Behavior

I have a project that uses [shadow-cljs](https://github.com/thheller/shadow-cljs) to which I'd to connect with a single command. I've written a small helper that connects to the REPL, sends the right Clojure code, and then sets the REPL to type "cljs", but the last of those steps fails in a strange way.

When I eval:

[code]

... all works as expected. However, when I try to do the sa

[2018-03-17 20:36] xiongtx opened #2240 "`cider-test-ediff` does not diff correct values"
## Expected behavior

For `(op a b ...)`, `cider-test-ediff` always diffs eval'ed `a` (`evaled-a`) against eval'ed `b` (`evaled-b`).

## Actual behavior

`cider-test-ediff` always diffs `expected` against (a substring of) `actual`.

For `(op a b ...)`, `op` ≠ `=`, [`clojure.test` returns](https://github.com/clojure/clojure/blob/clojure-1.9.0/src/clj/clojure/test.clj#L40-L42) `expected` as the unev

[2018-03-18 03:37] bbatsov commented on #2239
Can add here the output from the `*nrepl-log-messages* buffer?

[2018-03-18 03:48] bbatsov commented on #2239
I'm asking because the only way the REPL type can change on eval is via https://github.com/clojure-emacs/cider-nrepl/blob/1168991da4b1c9221246196653372fce5013aeb6/src/cider/nrepl/middleware/track_state.clj#L146

Frankly, I don't even remember why we track it this way, but presumably it's to be able to auto-detect the REPL type, so people don't have to set it manually.

[2018-03-18 04:57] #2240 closed

[2018-03-18 04:58] bbatsov commented on #1510
Well, if the core functionality is there it can be extended to other packages easily.

[2018-03-18 05:02] bbatsov commented on #1683
Yeah, that's true. That's why I said "most of the time". 😆

I think we should probably send some patch to `clojure.test` adding the column information and see if they'd be willing to accept it.

[2018-03-18 08:23] jackrusher commented on #2239
Thanks for looking at this so quickly. Indeed, it does appear that the last message is a state update with the repl type set to "clj":

[code]

[2018-03-18 08:41] bbatsov commented on #2207
Yeah, I'm reasonably sure that's Windows-specific and it should ideally be fixed upstream.

[2018-03-18 08:42] bbatsov commented on #2239
Seems this needs to be debugged - https://github.com/clojure-emacs/cider-nrepl/blob/1168991da4b1c9221246196653372fce5013aeb6/src/cider/nrepl/middleware/track_state.clj#L172

Normally it should return the cljs compiler env and indicate the REPL is a cljs REPL but for some reason that's not happening for you.

[2018-03-18 08:46] jackrusher commented on #2239
I'll look into it on the shadow-cljs side, thanks. (Also, when do you sleep?!?)

[2018-03-18 08:58] bbatsov commented on #2239
If I had to guess I'd say that probably shadow-cljs doesn't interact properly with piggieback, but I'm not familiar with shadow-cljs.

[2018-03-18 09:01] bbatsov commented on #2239
I found this ticket https://github.com/thheller/shadow-cljs/issues/62 and I guess we can just ping @thheller for input here. He certainly has the right idea and added exactly what's needed for CIDER to work, but for some reason this doesn't work.

[2018-03-18 09:10] bbatsov commented on #2239
I think I have an idea what might be going on. Reading through the ticket I noticed:

Unfortunately in 0.16 there was a change to that var to make the middlewares loaded on demand https://github.com/clojure-emacs/cider-nrepl/issues/447

My best guess is that this broke the auto-addition of shadow-cljs's middleware, but only @thheller can confirm/deny this.

[2018-03-18 09:10] bbatsov commented on #2239
Only when absolutely necessary. 😉

[2018-03-18 10:05] thheller commented on #2239
Hi!

So if I understand this correctly the problem is that the piggieback binding is only available on the next message and this breaks some assumptions by the cider middleware. I can fix that easily.

Can someone tell me however how I can test this in cider to verify that it actually works?

Ideally via some commands I can eval directly in emacs without having to go through tons of setup and stuf

[2018-03-18 10:41] thheller commented on #2239
I just pushed https://github.com/thheller/shadow-cljs/commit/6fecb5b2f47a6b204394f8e387c38d9fbdde7b58 and `2.2.13` which should fix this I think.

[2018-03-18 10:54] jackrusher commented on #2239
@thheller sadly, it still reverts on every evaluation

[2018-03-18 10:55] bbatsov commented on #2239
One of the middlewares checks on each evaluation whether the piggieback cljs compiler env is present and based on it sets the REPL type in the client to cljs or clj. I recall that originally we did it like this so when you connect to a remote repl you'd be able to infer its type automatically.

You just have to use `M-x cider-jack-in` in Emacs, evaluate in the REPL the code to make it a shadow-clj

[2018-03-18 10:56] bbatsov commented on #2239
As I said in one of the previous comments I'm wondering if the cljs middleware gets properly loaded in 0.16+. That should be the first thing you need to check.

[2018-03-18 10:57] arrdem commented on #1510
![2018-03-18-035402_910x630_scrot](https://user-images.githubusercontent.com/704767/37565108-141eb06c-2a60-11e8-86bf-aaae475d07af.png)

I totally got a cut at this working, between some patches to `nrepl-client.el`, `cider-repl.el` and `cider/cider-nrepl`. The really sticky bits in the changeset are dealing with the various point expectations in `cider-repl.el`, because the REPL as currently writt

[2018-03-18 10:58] bbatsov commented on #2239
Btw, shadowcljs is supposed to work without piggieback present at all, right?

[2018-03-18 11:00] bbatsov commented on #1510
Nice!

You have to start somewhere. ;-) No need to make it perfect from the start.

[2018-03-18 11:40] thheller commented on #2239
I only emulate `piggieback` by "faking" the var binding that `cider-nrepl` expects.

https://github.com/thheller/shadow-cljs/blob/master/src/main/shadow/cljs/devtools/fake_piggieback.clj

Ideally I wish that tools would send different nrepl messages based on which language is active. Currently _every_ middleware has to figure out of you are talking to CLJS or CLJ and then switch accordingly instea

[2018-03-18 11:48] thheller commented on #2239
@bbatsov I just add [this var](https://github.com/clojure-emacs/cider-nrepl/blob/master/src/cider/nrepl.clj#L480-L504) to the `nREPL` middleware stack unmodified. Does CLJS require any addition setup besides me injecting mine + piggieback?

[2018-03-18 15:40] bbatsov commented on #2239
That's a good point and we might very well get to doing it this way down the road. Even now there are different implementations for certain middleware and internally they dispatch on whether the cljs env is present or not, which can certainly be improved.

But how is evaluation going to work this way? Piggieback is just a very simple middleware which overwrites the `eval` and `load-file` middlewar

[2018-03-18 16:01] bbatsov commented on #2239
Ah, just noticed here - https://shadow-cljs.github.io/docs/UsersGuide.html#_nrepl_usage I assume you just opted to override those opts in two separate middlewares looking at their names.

It seems to me that it might be easier (and better) to modify `cider-nrepl` instead of trying to emulate piggieback's presence, though. I guess the code here can be made more generic https://github.com/clojure-em

[2018-03-18 18:05] maksr opened #2242 "After cider-connect and cider-quit the standard output is not shown anywhere"
## Expected behavior

When Cider is not connected, the output of Clojure println (and the like) should be seen in the terminal where the appilcation was started (with lein repl or otherwise). Even when Cider *is* connected, the output of independent threads should be shown in the terminal (as it was e.g. at least until cider-0.11.0).

## Actual behavior

After cider-connect and cider-quit, the out

[2018-03-18 19:38] thheller commented on #2239
I'm sorry but emacs makes me feel like I have never used a computer before. I don't understand anything cider is doing or how to get any info about it at all. Maybe its just my setup but I can't even figure out where I would _see_ if cider is in `clj` or `cljs` mode.

Until I can figure this out I can only guess at what the issue might be but that is not very productive.

[2018-03-19 01:19] bbatsov commented on #2242
That problem is caused by the way we redirect the output to the CIDER REPL https://github.com/clojure-emacs/cider-nrepl/pull/474 Seems we either should just fork it as suggested in this PR or restore the original streams on quit.

[2018-03-19 01:39] bbatsov commented on #2242
I just confirmed we forgot to add a call to unsubscribe-out when disconnecting. That should be pretty easy to fix.

[2018-03-19 02:49] dpsutton commented on #2239
@thheller i think @bbatsov is right. We can change cider-nrepl to be aware that the nrepl message is a cljs payload in the way that shadow-cljs currently does. Is there a place in an nrepl message that we can look for the cljs environment the way we currently do? I would hate for you to put random namespaces into your project just for tooling. The tooling should just be aware of how your project w

[2018-03-19 03:26] dpsutton commented on #2239
@jackrusher the reason your repl-type is being reset is because there's a function called on ever "done" message:

    (defun cider-repl--state-handler (response)
      "Handle server state contained in RESPONSE."
      (with-demoted-errors "Error in `cider-repl--state-handler': %s"
        (when (member "state" (nrepl-dict-get response "status"))
          (nrepl-dbind-response response (repl-typ

[2018-03-19 03:46] bbatsov commented on #2239
There's no such way right now. Because so far we had to deal just with piggieback we're assuming the we have to evaluate something with cljs if some dynamic vars it sets are present (more or less). Technically speaking the only thing we need is the cljs compiler environment as we use it as the basis for a lot of the cljs-related functionality. That's pretty much all there is to it https://github.c

[2018-03-19 04:04] dpsutton commented on #2239
it looks like we can find `shadow.cljs.devtools.api/*nrepl-cljs*` to find out if we are evaling in a cljs context. This is unfortunately just the build-id I'm still looking how to get the compiler environment.

@bbatsov I was reading the cider-nrepl code and it doesn't seem really tied to piggieback. as far as i can tell, we just use piggieback here only in the sense that it tells us where to look

[2018-03-19 05:44] bbatsov commented on #2242
Looking more closely in the code it doesn't seem this will fix anything. The real solution should be something along the lines of the linked PR.

[2018-03-19 10:45] maksr commented on #2242
The PR on clojure-emacs/cider-nrepl#474 is about the same problem, so I suggest to close this issue.

[2018-03-19 10:51] thheller commented on #2239
Please don't look at any `shadow-cljs` specific stuff in `cider-nrepl`. I would much prefer to hook into a generic API and have tools not worry about "who" they are talking to. We should be able to abstract this properly.

I'm fine with `piggieback` being this API, it shouldn't be too hard to figure out what `piggieback` is doing that I'm not.

Maybe we could simplify and just add additional field

[2018-03-19 18:32] edw opened #2243 "Please fix the spelling of my name"
https://github.com/clojure-emacs/cider/blob/bd018872fbbcc6d373c9ad1490cf64cfe72ffca3/cider-profile.el#L5

It's Edwin.

[2018-03-19 19:03] bbatsov commented on #2243
Sorry about that! I'll fix it right away!

[2018-03-19 19:05] #2243 closed

[2018-03-19 19:08] thheller commented on #2239
I think I figured it out. Just needed to tweak the bindings a bit. I tried only via `cider-connect` because I can't seem to get `cider-jack-in` to work but I believe that doesn't make a difference when it comes to the REPL itself.

@jackrusher please try `2.2.15`

[2018-03-20 03:39] dpsutton commented on #2212
@alexander-yakushev i'm using this which does deal with clj cljs:

    (defun cider-switch-to-repl-buffer (&optional set-namespace)
      (interactive "P")
      (let* ((type (cider-connection-type-for-buffer))
             (found (seq-find (lambda (b)
                                (or (equal type (cider-connection-type-for-buffer b))
                                    (and (= type "multi")

[2018-03-20 03:56] bbatsov commented on #2239
With @bhauman we took it over, but there are no plans for major updates. At least not from my side, as my knowledge of ClojureScript is pretty basic and I can't contribute much meaningful input there.

What's the problem with you implementing the real API and we just trimming what's not needed for shadow-cljs? We have complete control over piggieback now, so obviously we can change it however we w

[2018-03-20 06:03] bbatsov commented on #2239
Yeah, there's no real difference. `jack-in` just starts some nREPL server and connects to it. Btw, what was the problem in the end?

[2018-03-20 06:13] gonewest818 commented on #1115
fwiw I am working on this. I have a prototype middleware intercepting responses containing "value" or "pprint-out" and truncating those strings if their length exceeds some threshold. The middleware keeps a hash map of the full-length strings which can be retrieved or removed via middleware ops.

I'm moving now into cider to change the nrepl response handlers. Those will need to add a button whene

[2018-03-20 06:34] bbatsov commented on #1115
Sounds awesome! 👍

You should also consider `out` and `err` keys.

Just one small consideration - there should be some op to turn the interception on and off. I assume everyone will want it, but early version might have some bugs and it'd be nice if users can work around those without having to meddle with the middleware vector.

[2018-03-20 09:16] jackrusher commented on #2239
@thheller `2.2.15` works :)

[2018-03-20 12:27] vspinu commented on #1115
Is it about truncating the length of individual lines or the whole output? If the latter, would be nice to elide the middle part of the output, keeping start and end for inspection. Especially useful for commands like `cider-pprint-eval-last-sexp`.

Thanks for working on this!

[2018-03-20 16:01] thheller commented on #2239
@bbatsov I did not use the standard piggieback since the implementation was pretty ridiculous. It used to [append](https://github.com/clojure-emacs/piggieback/blob/dd7e70a67ecbd4ce9e4aed6c58b3ac12a39ffbf0/src/cemerick/piggieback.clj#L165) `:cljs/quit` to all code strings it got to eval. So it would basically launch the REPL and immediately exit after for every string it got. I understand why it wo

[2018-03-20 16:42] achikin opened #2244 "Can not distinguish between clj and cljs repls any more"
## Expected behavior
In Spacemacs when I use `helm-mini` or standard buffer list(C-x C-b) I could clearly distinguish between clj and cljs repls because cljs repl had `CLJS` stright after `*cider-repl`
E.g. `*cider-repl CLJS project-name`
## Actual behavior
Because of the latest changes [in this line](https://github.com/clojure-emacs/cider/commit/6a7b8ba0b7574c0fcf21718448a29cbcb074dbff#diff-00bd1

[2018-03-20 20:08] dpsutton commented on #2239
well if there are thoughts between @bhauman @thheller and @colin-cursive have thoughts on how to make piggieback better for editors now would be a good time. just important that all parties are aware of any proposals of change before they happen

[2018-03-21 01:27] bbatsov commented on #2244
Why are the buffer names truncated in this manner? I use `ido` and `ivy` and it's never a problem with them. Funny enough I changed this because for me it was hard to spot cljs buffers - I like it much more when the name appears afterwards as I see the two entries always one next to other in the buffer list.

But I do get your point. I'm curious what others think about this. We can obviously make

[2018-03-21 01:32] bbatsov commented on #2239
@thheller Btw, didn't @bhauman solve this already https://github.com/clojure-emacs/piggieback/commit/52941231086cccab037069360bbb1c6af673a711 ?

I guess we just need to cut a new release. Anyways, I agree that some cleanup/improvements are needed, and as I said right now it's very easy to propose and implement those.

[2018-03-21 11:06] achikin commented on #2244
@bbatsov I use (almost) vanilla Spacemacs with slightly increased font size. You could easily reproduce it [from here](http://spacemacs.org/)

[2018-03-21 11:56] manuel-uberti commented on #2244
@bbatsov I too use `ivy`, and I have the problem @achikin reported only in `ibuffer` and `counsel-ibuffer`.

[2018-03-21 12:26] bbatsov commented on #2244
I know how I can reproduce this, i just wonder why people would truncate buffer names this way. :-) I'm open to ideas, but I definitely don't think the old approach was good. The only reason I tolerated it was that until recently I very rarely would spin a sibling cljs repl. Now that I've been focusing on improving the cljs support this quickly became very annoying for me.

Btw, you know there's a

[2018-03-21 12:28] manuel-uberti commented on #2244
@bbatsov yes, I use that all the time. TBH, I noticed the problem in `ibuffer` just because of this issue. :)

[2018-03-21 15:35] achikin commented on #2244
So, everything works for ivy users, but there are a lot of people who use helm or ibuffer.

[2018-03-21 15:43] achikin commented on #2244
@bbatsov what is so annoying in `CLJS` straight after `cider-repl?`. It clearly shows which repl is which.
Regarding to `cider-repl-switch-to-other` - I could use it in conjunction with `cider-switch-to-repl-buffer` if `cider-switch-to-repl-buffer` would open in the same window where I've called it, but it always opens in the same window it was before, which is unpredictable and makes me memorize

[2018-03-21 17:03] bbatsov commented on #2244
Well, looking at the screenshot from you the prefix "CLJS" is going to hide the project name completely in some cases. Frankly this seems like a bigger problem to me.

I think buffers to appear grouped together in ivy when I start typing `*cider-repl` and I don't like the type of the connection being if front of the project, as this look odd to me. Admitted all of this is very subjective, but I do

[2018-03-21 17:45] achikin opened #2245 "Cljs repl type selection window does not always show up"
## Expected behavior
When I do `cider-jack-in-clojurescript` repl selection window appears, let me choose repl type and then cljs repl is started.

## Actual behavior
If you open a helm window (e.g. `helm M-x` or `helm-mini`) after `cider-jack-in-clojurescript` but before cljs repl selection window shows up, then no selection window is shown and no cljs repl started.

**There is a long pause in th

[2018-03-21 17:54] achikin opened #2246 "Unpredictable cider-switch-to-repl-buffer behavior"
## Expected behavior
When I have several windows side-by-side and use `cider-switch-to-repl-buffer` I expect repl buffer to open in the same window where I issued the command.
## Actual behavior
Buffer opens in random places. See gifs. I understand that there is some logic behind it, but it's hard to predict in which window does the repl buffer go.
![cider-1](https://user-images.githubusercontent.

[2018-03-21 18:06] achikin commented on #2244
How about using the forth column, which shows buffer-mode?
![screen shot 2018-03-21 at 20 56 39](https://user-images.githubusercontent.com/611419/37728107-75d7fa10-2d4a-11e8-8d7b-5c0cf69f7ba6.png)

Created a separate ticket #2246

[2018-03-21 20:39] thheller commented on #2239
As a middleware implementor the one thing I would suggest is to stop piggybacking on Clojure middleware ops and instead use dedicated CLJS ops. So every `op` basically gets a `cljs/<op>` equivalent where it makes sense (e.g. `eval` + `cljs/eval`).

BUT I have never implemented the Editor-side of things so I have no idea whether this makes sense from that side at all.

[2018-03-22 00:26] bhauman commented on #2239
Piggieback was designed to work with existing nREPL clients with the
existing nrepl messages.  Doing something different than that would simply
be different middleware.

On Wed, Mar 21, 2018 at 4:39 PM, Thomas Heller <notifications@github.com>
wrote:

[2018-03-22 04:08] bbatsov commented on #2244
Something like `REPL[cljs]`? I've actually been thinking about this myself and it'd be very easy to implement.

[2018-03-22 09:46] achikin commented on #2244
@bbatsov How about `Clj REPL` and `Cljs REPL` if modes allow descriptions with spaces? Looks more human-readable.

[2018-03-23 05:53] gonewest818 commented on #1115
@bbatsov - the middleware is disabled if the threshold length is nil.

@vspinu I agree, those would be useful. It's currently truncating the entire result, and by that I mean it blindly chops the result string at the specified length. There's no other smarts involved: no logic to elide elements of the collection in some logical way, no attempt to fold nested data structures, not even trying to pre

[2018-03-23 09:53] behrica commented on #1934
I have thought about an other "work-arround" for this proble, which could be usefull.

I defined my self a little function "pr-info" , which prints a small summary on every clojure datastructure.
(which keys, if map; how long if sequence; it shortens strings)

[code]
This guaranties that the output never becomes too long for emacs.

This I can then register as the "pretty print function" in cider:

[2018-03-23 19:12] gonewest818 commented on #1934
This looks like a duplicate of #1115, and work on a scheme to shorten long lines of output is underway. It's not exactly what you're proposing, though I think it will meet your need.

Incidentally, in my experience even setting up the default pretty printer, plus adjusting the *print-length* and *print-level* settings have helped me avoid lockups for the most part.

[2018-03-24 01:28] bbatsov commented on #2244
I've never seen a mode with spaces in its name - I assume the problem is that this way you can know if you're looking at too mode names or one when checking the mode line. Notice "Emacs-Lisp".

[2018-03-24 02:03] #2244 closed

[2018-03-24 03:29] bbatsov commented on #2245
Hmm, I've puzzled about this. Could it be some helm problem @xiongtx?

@achikin Do you have this problem if you just run the jack-command without helm?

[2018-03-24 03:30] bbatsov commented on #2239
I guess we can close this ticket and continue the other part of the conversation under tickets for specific improvements of piggieback or the shadow-cljs integration in CIDER (which is currently being brewed).

[2018-03-24 03:30] #2239 closed

[2018-03-24 05:37] xiongtx commented on #2245
If you check your `*Messages*`, you'll find something like:

[code]

Since you're using `helm-mode`, CLJS REPL type selection is a Helm session. By default, Helm sessions [cannot interrupt existing Helm sessions](https://github.com/emacs-helm/helm/blob/6f80bbcbf86f30ee827002189d86ffd962041180/helm.el#L2202).

Helm does have an [`:allow-nest`](https://github.com/emacs-helm/helm/blob/6f80bbcbf86f30e

[2018-03-24 10:41] stardiviner opened #2249 "cider-jack-in outside of project does not supported in recently new version"
## Expected behavior
In an plain clojure source code file `test.clj` (*NOT in project*), then `cider-jack-in`. CIDER should be able to jack-in outside of project.

## Actual behavior
CIDER reports `user-error: Unsupported project type ‘clojure-clj’`

## Steps to reproduce the problem

In an plain clojure source code file `test.clj` (*NOT in project*), then `cider-jack-in`. CIDER should be able to

[2018-03-24 11:31] carlosgeos commented on #2249
I can reproduce. Outside a project I get `user-error: Unsupported project type ‘clojure’`.

As per https://github.com/clojure-emacs/cider/commit/01d728a077e02e02afbe2b989cd0f9b455b581d2, I think the type should be 'clojure-cli'.

Quick fix -> set `cider-default-repl-command` to `"clojure-cli"` instead of `clojure`.

[2018-03-24 11:42] stardiviner commented on #2249
Yes, @carlosgeos This setting fixed it.

[2018-03-24 11:52] #2249 closed

[2018-03-24 19:32] achikin commented on #2245
@xiongtx

This problem is not rare for me. I start repls, do some files navigation while repls are starting and then find out that there is no cljs repl.

[2018-03-24 19:40] achikin commented on #2245
@bbatsov

No I don't. If I wait patiently for repls both repls to start and don't try to use any helm buffers - all goes well. But If I navigate files/global search/enter or other things that involve helm - I usually end up with no cljs repl. Also that selection window tend to jump out when you are busy typing/entering some hotkeys, so you can occasionally skip it or choose some irrelevant option.

[2018-03-24 20:06] xiongtx commented on #2245
The issue is w/ the use of `helm-mode`. It's nothing to do w/ CIDER per se, which simply calls `completing-read`. Therefore, I don't think there's anything to fix on the CIDER side.

You can use a `dir-locals.el` file to set the REPL type for a project. Then you won't have to choose it every time.

[2018-03-24 20:11] achikin commented on #2245
@xiongtx thank you, setting default repl type will solve my issue. Anyway it's more convenient than choosing repl type every time.
I disagree with you that it is not CIDER issue. Neither `helm` nor `completing-read` are not responsible for choosing repl type. The fact that CIDER is using a solution that leads to a failure is not an excuse.

[2018-03-24 20:15] xiongtx commented on #2245
You can open an issue on Helm w/ this use case if you like. Regardless, I'll close this issue.

[2018-03-24 20:15] #2245 closed

[2018-03-24 22:31] achikin commented on #2245
I'm sorry, I didn't get it. Cider does not operate correctly because of the recently (and poorly) implemented functionality in cider itself. What kind of issue can I open in Helm?

[2018-03-25 01:08] bbatsov commented on #2245
But as @xiongtx there's really nothing special about this code - it's just a regular prompt to read something from the minibuffer. As this works with everything else (`ido`, standard completing read and `ivy`), I'm inclined to believe that's something wrong with Helm. I don't use that package, so I can't provide much more guidance there.

You have to run some checks in advance, otherwise you don't

[2018-03-25 12:18] marc-sabates-gelpi opened #2251 "Debugger not ignoring macros dispatch "ignore next form (#_)""
## Expected behavior
Debugger to ignore forms ignored with (`#_`)

## Actual behavior
The debugger stops at the ignored form and displays the value of the next form.

## Steps to reproduce the problem
1. Run _cider-eval-defun-at-point_ (<kbd>C-c C-c</kbd>) on the following code:
[code]

The debbuger will stop at `#_ (println "I am commented out, as well..")` and will show the result of `(+ 2 2)`..

[2018-03-26 08:49] sooheon commented on #1115
@gonewest818 something to consider when not preserving structure is that anyone with smartparens or lispy or the like enabled will likely face a ton of lag as the plugin tries to search for matching pairs.

[2018-03-26 11:50] stardiviner opened #2252 "[FEATURE] improve CIDER REPL [M-r] history backward search with `completing-read`"
Recently I found some REPL inherited from `comint-mode` supports `[M-r]` to backward searching history. And CIDER supports too. But it is very non-intuitive. If it can support `completing-read`, then user can use `ivy` or `helm`. That will be great.

[2018-03-26 16:18] gonewest818 commented on #1115
Good point.

[2018-03-26 16:59] NightMachinary opened #2253 "Ability to add Continue-halting breakpoints"
Coming from Intellij, I really miss the ability to add 'hard' breakpoints to code where the debugger would stop at even if you have continued from a previous breakpoint. From what I gathered, to be able to step over my code, I need to set #dbg so that all forms have a breakpoint on them. Then to skip some forms I need to navigate to them, which is especially hard since the keys I normally use for

[2018-03-26 17:00] NightMachinary commented on #2252
It would also be great if the arrow keys worked like in shell (went through the history of entered commands).

[2018-03-27 13:19] dpsutton opened #2254 "strange output from nrepl logging"
## Expected behavior
the init-debugger message would contain one instance of print-length and print-level

## Actual behavior
[code]

it seems to vary based on the project. see https://github.com/clojure-emacs/cider-nrepl/issues/518 for an even worse version of this

## Steps to reproduce the problem

`lein new whatever`. jack in to the new project

## Environment & Version information

### CIDER

[2018-03-27 13:31] dpsutton commented on #2254
tracing through it looks like this is an artifact of the logger and not representative of the message going across

[2018-03-28 02:27] bbatsov commented on #2252
But this would not be in line with how shells/repls running in Emacs are normally behaving. I guess you can always remap the relevant keys yourself if you'd like to have such a behaviour.

@stardiviner Yeah, I guess we can do this. I'm wondering why we haven't done it like this initially. Btw, do you know about this feature http://cider.readthedocs.io/en/latest/using_the_repl/#repl-history-browser

[2018-03-28 02:29] bbatsov commented on #2254
Can you elaborate on this? Of the top of my head I can't imagine how something like this can be happening.

[2018-03-28 02:47] jiacai2050 commented on #744
For anyone else need this feature, try this:
[code]

[2018-03-28 02:49] jiacai2050 commented on #327
I add a function to my emacs init script to deal with this issue, see:
- https://github.com/clojure-emacs/cider/issues/744#issuecomment-376742771

[2018-03-28 03:02] dpsutton commented on #2254
no i can't imagine why. I didn't have much time this morning before work so i wanted to log a ticket. just leaving this here for later follow up. be nice if someone could confirm this happens for them as well. I'm not running anything crazy on my machine.

[2018-03-28 04:27] stardiviner commented on #2252
@bbatsov This is great enough. Thanks. I think I should close this issue. Personally I remap `[M-r]` to `cider-repl-history`.

[2018-03-28 04:28] #2252 closed

[2018-03-29 15:46] halgari opened #2255 "Support comment ignoring in `cider-insert-defun-in-repl`"
When writing code in a namespace it's not uncommon to keep a set of forms in a comment block for on-the-fly testing (example: https://github.com/clojure/spec.alpha/blob/master/src/test/clojure/clojure/test_clojure/spec.clj#L219-L221) In some other editors evaling a "top-level" form ignores comments and "top level" refers to the highest level form excluding the comment.

## Expected behavior
[code]

[2018-03-30 09:10] apostolou commented on #339
thank you, it did the job for me when I removed the line (require 'assoc) from tagedit.el file.

[2018-03-30 09:37] plexus opened #2256 "Connecting too quickly can cause "namespace not found""
In our team we're using a script that launches clj repl + cider, waits for it to be available, and then uses emacsclient to connect CIDER.

Regularly we'd see errors with mranderson-ized `clojure.tools.namespace` namespaces not being found. We eventually figured out that putting an extra `sleep` in there made the errors go away.

The script looks roughly like this (this is heavily simplified, it d

[2018-03-30 14:49] simon-katz opened #2257 "Navigation of Clojure methods"
(Feature request)

It would be good to have a way of viewing and navigating to all the methods for a multimethod.

Two things I've seen before (in LispWorks for Common Lisp) are:

- After M-. shows a multimethod, another command can be invoked repeatedly to navigate to each of the methods.
- Something that lists all the methods for a multimethod and supports navigation to a chosen method (perhaps

[2018-03-30 17:12] jcsims commented on #1961
I'm looking to do something similar myself: I'd like `(cider-connections)` to filter REPL buffers that have been killed, as well as those whose backing service has been killed (e.g. I use `cider-connect`, and then kill the REPL process, without using `cider-quit`). This should be a first step to accomplish what you want, I think?

I'll look into this when I have some time.

[2018-04-01 16:09] niklasfasching commented on #2233
This is a bug in cider-nrepl test extenions [=-body](https://github.com/clojure-emacs/cider-nrepl/blob/master/src/cider/nrepl/middleware/test/extensions.clj#L12).
cider-nrepl extends clojure.test with custom behavior for `(is (= ...))` expressions. In this extension the first form of `(= x y)` is evaluated multiple times.

Your examples can be made to pass by wrapping the is body inside a `do` so

[2018-04-01 17:28] xiongtx commented on #2233
Ah, that makes sense. And thanks for putting up a PR to fix it!

[2018-04-01 17:29] #2233 closed

[2018-04-02 05:36] bbatsov commented on #2257
Does anyone know if there's some existing API we can leverage to retrieve this info?

[2018-04-02 05:38] bbatsov commented on #2256
I wonder if this has something to do with the deferred middleware loading. //cc @vspinu Guess we'll have to investigate.

[2018-04-02 06:55] bbatsov commented on #2198
@ckoparkar Any progress with this? I hope to push a new release out in about 2 weeks and it'd be awesome if this is part of it.

[2018-04-02 08:15] bbatsov commented on #2246
Makes sense to me. Basically want the REPL buffer to open appear in the current window, right? The default behaviour is prompted mostly by the fact that usually you want to be able to see the code on one side and the repl next to it. We leave it to Emacs to decide which window to utilize exactly for the repl.

[2018-04-02 14:15] achikin commented on #2246
@bbatsov "code on one side and the repl next to it" make sense to me, but in some layouts "next to it" is hard to determine, so for the sake of consistency I'd prefer "in the same window".

[2018-04-02 14:19] achikin commented on #2246
But yes, it'd be more convinient if the repl opens always *not* in the same window

[2018-04-03 19:49] kommen opened #2260 "cider--format-region: Invalid regexp: "Unmatched [ or [^""
## Expected behavior
defun getting formatted, no errors

## Actual behavior
defun getting formatted, but errors in `*Messages*`:

`cider--format-region: Invalid regexp: "Unmatched [ or [^"`

## Steps to reproduce the problem

In a clojure buffer containing this:
[code]
Place point inside defn and call `cider-format-defun`

## Environment & Version information
Spacemacs 0.300

### CIDER version inf

[2018-04-04 09:14] bbatsov commented on #2152
This was fixed by @alexander-yakushev recently.

[2018-04-04 09:14] #2152 closed

[2018-04-04 13:07] halgari commented on #2255
And it seems the Clojure guide just added a example video of the behavior I'd like to see: https://clojure.org/images/content/guides/repl/cursive-repl-demo.gif

https://clojure.org/guides/repl/enhancing_your_repl_workflow

[2018-04-04 15:24] ckoparkar commented on #2198
Huh, it's been 2 months since my first comment. Really sorry for squatting on this for so long. Unfortunately, I din't get a lot of time to work on this :(

@dpsutton @xiongtx does this sound like something you'd like to pick up? If not, I'm going to try and finish it up over the weekend. I'd hate for this to miss the release.

[2018-04-05 06:44] acidjunk opened #2261 "Install fails"
## Expected behavior
installes package

## Actual behavior
package-install-from-archive: http://melpa.milkbox.net/packages/cider-20150114.512.tar: Not found

## Steps to reproduce the problem
M-x package-install cider

*This is extremely important! Providing us with a reliable way to reproduce
a problem will expedite its solution.*
Used a clean Emacs

## Environment & Version information
Mac OS

#

[2018-04-05 07:01] expez commented on #2261
`M-x package-refresh-contents <RET>`

`M-x package-install cider<RET>`

As you can see from the URL, you're trying to install a package from 2015.  In other words, your list of packages is stale, or you CIDER pinned it to that specific build.  `melpa` only has the bleeding edge which is why the package isn't found.

Hope that helps!

[2018-04-05 07:01] #2261 closed

[2018-04-05 07:04] acidjunk commented on #2261
Thanks for the quick response. New to Emacs: followed instructions from a book that came with an .emac.d folder. Now did it from scratch and it works like a charm.

[2018-04-06 09:02] rymndhng commented on #2257
Looks like there's some data available via `getMethodTable`, i.e. `(.getMethodTable print-method)`.

See https://github.com/clojure/clojure/blob/master/src/jvm/clojure/lang/MultiFn.java#L579-L581

[2018-04-06 13:46] simon-katz commented on #2257
There's `methods`, which seems to give the same as `.getMethodTable`…

[code]

[2018-04-08 03:35] it3ration opened #2262 "Live-update the *cider-inspect* buffer"
# Feature request

Hey folks, love the project, I use it every day at my job. :)

Would it be possible to add an option to live-update the `*cider-inspect*` buffer as you are stepping through an instrumented function whilst debugging? Ideally it'd have a keybinding in the `*cider-inspect*` buffer that toggles it on and off. Perhaps it should even be persistent across debugging / emacs sessions?

C

[2018-04-09 14:25] benedekfazekas commented on #2174
Maybe I misunderstand the ticket but thought this was what `split-witdth-threshold` and `split-height-threshold` is for.

[2018-04-11 21:43] bbatsov commented on #2226
This was fixed in #2238.

[2018-04-11 21:43] #2226 closed

[2018-04-12 05:48] bbatsov commented on #2262
The problem with such a command is that it will make sense only when the debugger is running, and you can use the inspector without the debugger.

[2018-04-12 09:37] it3ration commented on #2262
Ah, didn't know that. What do you use the inspect buffer for when not debugging?

[2018-04-12 19:47] bbatsov commented on #2262
Drilling in big data structures. That's what it was initially created for, we've bolted the debugging functionality later. :-)

The idea is that you'd dump some big data structures straight into the inspector instead of in the REPL, and explore them there.

[2018-04-12 21:59] it3ration commented on #2262
Ah got it. :)

[2018-04-12 21:59] #2262 closed

[2018-04-13 12:35] NightMachinary opened #2264 "Doesn't connect to nrepl"
When I try to jack-in, the nrepl is started successfully, but the buffer is not connected to the nrepl.
Here is my *messages*:
[code]
Here is my *nrepl-server* buffer:
[code]

## Environment & Version information

### CIDER version information

I have upgraded to the latest packages from MELPA just now (I use Spacemacs, and I deleted my elpa folder so it downloaded the latest versions and recompil

[2018-04-13 12:49] #2264 closed

[2018-04-15 02:09] stardiviner opened #2265 "[QUESTION] send same request get slightly different result randomly"
I got a slightly different result when I execute the following elisp code many times, the two different result occurs randomly.
[code]

[code]

[2018-04-15 06:13] bbatsov commented on #2265
Randomly? It seems to me the only difference is that in the first evaluation you got some extra feedback from the ns state tracking middleware (as expected). It returns the extra data only when needed.

[2018-04-15 06:57] stardiviner commented on #2265
What do you mean on this "when needed"? What happened here?

[2018-04-15 15:01] NightMachinary opened #2266 "Company documentation not working"
## Expected behavior
Company quickhelp doesn't work; Pressing c-h returns "No documentation available". c-w returns "No location available".
![image](https://user-images.githubusercontent.com/36224762/38779843-48fa2f3e-40e3-11e8-8274-c22a5a819393.png)

## Environment & Version information

### CIDER version information
[code]

### Lein/Boot version
BOOT_CLOJURE_NAME=org.clojure/clojure
BOOT_CLOJUR

[2018-04-15 15:11] NightMachinary commented on #2266
https://github.com/clojure-emacs/cider/issues/1158

[2018-04-15 15:11] #2266 closed

[2018-04-16 08:21] soulawaker opened #2267 "`spit`-ed data be almost omitted in CIDER nREPL"
## Expected behavior
Entire data be stored to a file by `spit` in CIDER nREPL.

## Actual behavior
`spit`-ed data be omitted in CIDER nREPL.

## Steps to reproduce the problem
[code]

## Environment & Version information

### CIDER version information
[code]

### Lein/Boot version

Lein 2.8.1

### Emacs version

25.3.2 with Spacemacs 0.300.0

### Operating system

Elementary OS Loki 0.4.1 based Ub

[2018-04-16 09:15] bbatsov commented on #2267
I don't think I understand the problem. Can you elaborate what exactly is problematic right now?

[2018-04-16 11:50] soulawaker commented on #2267
I tried to `spit` a quite long map (or a sequence contains many maps) to a file. It is nearly 600kB. But only under 60kB contents spitted to a file. I opened this file and saw that original contents almost was truncated and ellipsis mark remained in tail of the map (or sequence) as CIDER nREPL do.

[2018-04-16 18:36] vspinu commented on #2267
This used to be a consequence of *print-length*. See #2152 which seems to have been fixed.

[2018-04-16 22:52] NightMachinary opened #2268 "[FEATURE REQUEST] Write code using `Object.method`, and have it converted to `.method Object`"
Write code using `Object.method`, and have it converted to `.method Object`. It should also preferably only show the methods of the object for auto-completion. Cursive supports this feature as well.

[2018-04-17 10:16] NightMachinary commented on #1684
What segment of the modeline is responsible for showing the server status? Mine doesn't show it recently (I think it's a spaceline bug, just asking so I can debug it better):
![image](https://user-images.githubusercontent.com/36224762/38863780-fd3b6f10-424d-11e8-96ff-2597c8c4c213.png)

(The server is connected in this buffer)

[2018-04-17 11:45] bbatsov commented on #1684
Normally it looks like this:

![image](https://user-images.githubusercontent.com/103882/38867873-f11e2f7e-424d-11e8-91e1-770ee647109f.png)

Guess the package the use to modify the modeline looks hid the connection status.

[2018-04-17 19:03] NightMachinary opened #2269 "CIDER doesn't show docs for Java"
## Expected behavior
![image](https://user-images.githubusercontent.com/36224762/38890810-b1568928-4297-11e8-8d32-9b8100f2ee30.png)

## Actual behavior
![image](https://user-images.githubusercontent.com/36224762/38890790-a9d73a08-4297-11e8-8eb5-bf7332aa7ba2.png)

Environment & Version information
CIDER version information
;; Connected to nREPL server - nrepl://localhost:59990
;; CIDER 0.17.0snapsh

[2018-04-17 19:07] NightMachinary commented on #2269
As you see, the symbol is also mistakenly resolved for java.lang.Character/toUpperCase instead of lang.String.

[2018-04-18 06:57] soulawaker commented on #2267
Thanks. It worked with `(binding [*print-length* nil] (spit ...))`. But it seems to be unnatural. We need to make this distinguished..., anyway, the idea evades me right now.

[2018-04-18 12:14] NightMachinary opened #2270 "[FEATURE REQUEST] Add suuport for https://clojuredocs.org"
https://clojuredocs.org seems better than conj.io (it has more examples). Perhaps allow different backends for grimoire? Or add this as an alternative?

[2018-04-18 12:48] mallt opened #2271 "cider-jack-in-clojurescript starts 2 repl's of type clj"
## Expected behavior
`cider-jack-in-clojurescript` starts 1 repl of type `clj` and 1 repl of type `cljs`

## Actual behavior
`cider-jack-in-clojurescript` starts 2 repl's of type `clj`

<img width="507" alt="image" src="https://user-images.githubusercontent.com/8885691/38932465-8f539f9e-4316-11e8-8e2d-4887e507e710.png">

## Steps to reproduce the problem
- create new reagent project with `lein new

[2018-04-18 13:02] mallt commented on #2271
I noticed before opening url http://0.0.0.0:3449 to make connection with figwheel, the repl type is still `cljs`. So it seems the figwheel connection changes the repl type to `clj`, would that be possible? Is there a way to avoid this?

Thanks!

[2018-04-18 15:55] AsAddict commented on #2271
I had the same problem on my mac today....

[2018-04-18 20:37] bbatsov commented on #2271
That's fixed in `master`. In the morning I messed things up, while hacking on piggieback. Sorry about that!

[2018-04-18 20:37] #2271 closed

[2018-04-18 20:40] bbatsov commented on #2270
Grimoire is conj.io. :-)

I was thinking of adding some integration with clojuredocs.org, but I never got to doing this. Technically it's very easy to do, but requires time I'm pretty short on these days.

[2018-04-18 20:41] bbatsov commented on #2269
Don't you get a prompt asking you which version to choose?

[2018-04-18 20:41] bbatsov commented on #2268
I don't quite follow - you can't really write `object.method` in Clojure.

[2018-04-18 20:42] dpsutton commented on #2268
the idea is you could write `thing.method().function()` and cider could rewrite as `(.function (.method thing))` or equivalent.

[2018-04-18 20:45] mallt commented on #2271
No problem, thanks a lot!

[2018-04-18 22:00] saevarb commented on #2271
Hello.

I just spent the better part of an hour tracking down this bug. I guess I must have updated my spacemacs packages or something, since I had no issues a couple of days ago and now it's causing me problems.

You say you fixed this on master -- okay, but what steps do I need to take to fix this? What combination of dependencies and their versions?

Right now I'm using `cider/piggieback 0.3.0`

[2018-04-18 22:04] dpsutton commented on #2271
This was caused by a SNAPSHOT package being updated, which lein happily updated for you without bumping the version.

In order to fix this, we need to get the new cider-nrepl code. An easy way to do this should be `lein deps -U` which should force an update of your dependencies. If not, delete the `~/.m2/repository/cider` directory and you will get all new code which contains the fix.

[2018-04-18 22:09] saevarb commented on #2271
Wow, thanks for the fast answer :) It seems `lein` doesn't recognize `-U` as a subcommand to `deps`, but deleting the directory worked and now everything works as it did before. Cheers!

[2018-04-18 22:11] dpsutton commented on #2271
cool. Sorry about the `- U` it does something somewhere :). Sorry about the disruption!

[2018-04-19 04:50] bbatsov commented on #2271
Just keep in mind that `figwheel` hasn't release a version supporting piggieback 0.3 yet (it supports it only in its current snapshot version). So you should either update to it, or go back to piggieback 0.2.2.

[2018-04-19 05:30] bbatsov commented on #2267
Or you can just disable the default `*print-lenth*` that cider sets on REPL init. But I do agree it's somewhat odd that file operations would be affected by `*print-lenth*`.

[2018-04-19 08:30] NightMachinary commented on #2269
@bbatsov Strangely, today it is like this (which is much better 😂):
![image](https://user-images.githubusercontent.com/36224762/38980235-83d5f534-43d1-11e8-9120-60e9fd071845.png)

I checked, and I do get the prompt when I use the default hotkey (In Spacemacs it is `, h h` in evil-normal-state), but not when I use this hotkey I have configured myself:
[code]
This hotkey somehow skips the prompt and

[2018-04-19 08:40] bbatsov commented on #2269
We could not figure out a good separation, that's why we just mixed the signatures of all possible versions. It's ideal, but unfortunately I can't see how this can be improved either. Eldoc must have a ver string structure, otherwise the highlighting of params there would break.

[2018-04-19 08:47] NightMachinary commented on #2270
@bbatsov Now that we are on it, making `cider-javadoc` not shell out to a browser is also good.

[2018-04-19 08:52] NightMachinary commented on #2269
@bbatsov I just restarted my Emacs, and the Javadocs went missing again. :(
![image](https://user-images.githubusercontent.com/36224762/38981440-ad1be252-43d4-11e8-89d0-4b9e0da2923a.png)

[2018-04-19 19:26] SVMBrown opened #2272 "Clojurescript repl broken in Java 10"
## Expected behavior

`cider-jack-in-clojurescript` should start a figwheel repl without issue

## Actual behavior

`cider-jack-in-clojurescript` claims that Clojurescript is not available

However, performing the steps to start a figwheel sidecar repl manually successfully start a figwheel repl. (i.e. `(do (require 'figwheel-sidecar.repl-api) (figwheel-sidecar.repl-api/start-figwheel!) (figwheel-

[2018-04-19 19:44] dpsutton commented on #2272
@SVMBrown can you paste the exact error you are getting?

[2018-04-20 08:10] Invertisment opened #2273 "[improvement] Too little functionality in test output"
When executing tests the output contains too little information.

It is hard to have a lot of tests without duplicating code.

## Expected behavior
0. See stacktraces or parts of the stacktraces in the test result
0. To jump to `deftest` or to failing `is` check on [enter] key press

## Actual behavior
0. Only last stacktrace frame name is printed
0. Jumps to the failing `is` call

## Steps to rep

[2018-04-20 08:16] Invertisment commented on #2273
### Previews:
![test-code](https://user-images.githubusercontent.com/1641263/39038157-7692d1fc-448b-11e8-92dd-65febf6f75f6.png)

![screenshot at 2018-04-20 10 57 31](https://user-images.githubusercontent.com/1641263/39038477-4ba39b60-448c-11e8-9bcc-6eb32ef36420.png)

[2018-04-20 16:08] SVMBrown commented on #2272
error in process filter: ClojureScript is not available.  See http://cider.readthedocs.io/en/latest/up_and_running/#clojurescript-usage for details

[2018-04-20 16:10] dpsutton commented on #2272
bummer. OK. just making sure it wasn't related to the piggieback issues recently.

[2018-04-20 16:30] bbatsov commented on #2272
I'll take a look. Must be some bug with the classpath. What do you see when you run `M-x cider-classpath`.

[2018-04-20 16:59] xiongtx commented on #2272
Does this happen _only_ w/ Java 10?

[2018-04-20 17:04] bbatsov commented on #2272
Probably with Java 9 as well. I know clojure.classpath was broken for it.

On Fri, 20 Apr 2018 at 19:59, Tianxiang Xiong <notifications@github.com>
wrote:

--
Best Regards,
Bozhidar Batsov

http://www.batsov.com

[2018-04-20 18:06] arrdem opened #2274 "[FEATURE REQUEST] Connection switching menu"
At present, it's difficult to manipulate several nREPL connections to remote instances of the same project. It'd be awesome of just clicking on the `cider[ ... ]` entry on the mode bar would let you just pick from one of the active nREPL connections to choose the active one.

[2018-04-20 20:46] bbatsov commented on #2272
That's the issue I suspect https://dev.clojure.org/jira/browse/CLASSPATH-8

[2018-04-21 00:31] hotpxl commented on #1782
@vspinu Hi. I ran into your comment while searching for something else. You mentioned ElDoc inhibits polluting `*Messages*` buffer even if using `message` function. How does it achieve this? I don't have a clue reading the source code. Thanks

[2018-04-21 10:10] bbatsov commented on #2272
Btw, I've added a simple workaround - you can set `cider-check-cljs-repl-requirements` to nil to disable those checks.

[2018-04-23 14:08] NightMachinary opened #2275 "Doesn't play well with evil-snipe"
evil-snipe overrides 's', and so 's' doesn't activate stacktrace when debugging.

[2018-04-23 14:36] bbatsov commented on #2275
That's not really a CIDER issue. `evil-snipe` (and similar modes) should be careful with what their binding/changing in special modes.

[2018-04-23 14:38] bbatsov commented on #2269
I wonder if things change for you if you try Java 8 instead of 9. I haven't had much time to play with Java 9 and I wonder if some of the classpath manipulation that we do is not working properly there or something. Also - make sure the code buffer has been evaluated before trying eldoc/cider-doc).

[2018-04-23 16:27] NightMachinary commented on #2275
@bbatsov I tested edebug, and it had no issues with evil-snipe ('s' ran `edebug-step-mode` when edebug was active.).

[2018-04-23 18:38] SVMBrown commented on #2272
`cider-classpath` is empty when using java 10, correctly displays classpath in java 8

[2018-04-24 10:26] NightMachinary commented on #2275
@bbatsov From evil-snipe:
I'm not familiar with CIDER's debugger, but you can prevent evil-snipe from being enabled in certain major modes by adding it to evil-snipe-disabled-modes, or by adding turn-off-evil-snipe-mode to the appropriate hook. e.g.

;; NOTE: I'm guessing the major mode and hook names
(push 'cider-debug-mode evil-snipe-disabled-modes)
;; or
(add-hook 'cider-debug-mode-hook #'turn-

[2018-04-24 15:51] bbatsov commented on #2275
It's a minor mode actually - `cider--debug-mode`.

[2018-04-25 12:46] NightMachinary commented on #2275
@bbatsov The hook cider--debug-mode-hook runs both when entering and leaving debug mode. How do I differentiate between these two to disable/enable evil-snipe?

[2018-04-25 13:05] NightMachinary commented on #2275
Nevermind, I found the answer:
[code]
This should be added to evil-snipe layer. Can you @bbatsov do that? My last PR still hasn't been merged, so I can't open a new one.

[2018-04-25 14:08] #2272 closed

[2018-04-25 15:39] bbatsov commented on #2275
Great! Guess we can close this then.

[2018-04-25 15:39] #2275 closed

[2018-04-25 20:28] bbatsov commented on #2274
Turns when you click on the modeline you get the standard mode menus, so I'm not sure that's technically doable, but we can certainly come up with an easier way to set buffer connections.

[2018-04-26 00:10] bbatsov commented on #2268
I see. The transformation itself is not hard to do, and doesn't even require CIDER. Maybe there's already something like this in clj-refactor? //cc @benedekfazekas

How would you get better completion candidates this way? Without static analysis they'd be the same in both cases.

[2018-04-26 14:07] NightMachinary commented on #2269
@bbatsov I changed to Java 8, and still haven't had any issues (but I haven't done much coding since so who knows).
And I just understood that you're the person giving that talk ^__^ Somehow your avatar looked so aggressive to me and this kind of surprised me :)) Thank you for your work ;) I am watching your Clojure Bad Parts talk now 😊

[2018-04-26 17:51] bbatsov commented on #2269
Haha!

And I thought this was my happy face! 😄

[2018-04-26 20:07] benedekfazekas commented on #2268
There is nothing like this in cljr and i would be reluctant to add it. Writing a bit of straight java in clojure source does not feel right to me and i dont see much benefits.

[2018-04-28 13:58] #1510 closed

[2018-04-30 01:21] stardiviner opened #2277 "various image content-type does not work"
## Expected behavior

CIDER REPL should display image like this example https://github.com/clojure-emacs/cider/issues/1510#issuecomment-373988901

## Actual behavior

CIDER print object only:

[code]

## Steps to reproduce the problem

## Environment & Version information

### CIDER version information

[code]

### Lein/Boot version

### Emacs version

GNU Emacs 27.0.50 (build 1, x86_64-pc-linux-g

[2018-05-01 08:54] achikin opened #2278 "Issue jacking in clojurescript in spacemacs"
## Expected behavior
Both clj and cljs repls start after `cider-jack-in-clojurescript`
## Actual behavior
cljs repl does not start
## Steps to reproduce the problem
This issue appears after `clojure-mode` was updated to the latest version.
Open Spacemacs, navigate to clojure project and run `cider-jack-in-clojurescript`
The following error has been found in `*Messages*`
[code]
## Environment & Ver

[2018-05-01 13:55] dpsutton commented on #2278
@achikin there should be a prompt asking which type of cljs connection you want to run. If you are not seeing this, maybe you have set that var? If this is what you are doing, the way you specify which type has recently (changed)[https://github.com/clojure-emacs/cider/commit/a2534bfdeb8f574e4fb4cc8b3697be8606f126f3]. Now instead of `"figwheel"` as a string you use `'figwheel` as a symbol. Can you

[2018-05-01 15:39] achikin commented on #2278
@dpsutton I had the variable set to string, exactly as you said. Thank you!

[2018-05-01 15:39] #2278 closed

[2018-05-01 22:49] deepzeafish opened #2279 "Recursive `require' for feature `seq' when doing M-x cider-jack-in"
## Expected behavior
REPL starting and connecting possible

## Actual behavior
Error message: Recursive `require' for feature `seq'

## Steps to reproduce the problem
Install cider, open previously with Leiningen created project file and start with M-x cider-jack-in

### CIDER version information
20151121.2137

### Lein/Boot version
Leiningen 2.8.1 on Java 1.8.0_25 Java HotSpot(TM) 64-Bit Server V

[2018-05-01 22:55] bbatsov commented on #2279
Seems to me you’re using some ancient version of CIDER.

On Tue, 1 May 2018 at 17:49, Deepzeafish <notifications@github.com> wrote:

[2018-05-01 22:58] deepzeafish commented on #2279
Sorry, I copied the wrong version information (from cider-decompile).

Actually, the version for cider is: 20180428.658

[2018-05-02 08:32] Reefersleep opened #2280 "*print-namespace-maps* is always true"
## Expected behavior, actual behavior and steps to reproduce the problem

Evaluating a map with namespaced keys like
`{:person/name "Fred" :person/age 50}`
in the cider repl prints the following return value
`#:person{:name "Fred", :age 50}`
This is due to `*print-namespace-maps*` defaulting to `true`.
Normally, it should be possible to change the value of this var permanently with `set!` thusly:

[2018-05-02 16:45] arrdem commented on #2277
What are your configured `cider-repl-use-pretty-printing` and `cider-repl-use-content-types` custom var values?

The content-type support works by intercepting the result of an nREPL `eval` op, and adding to the eval op. Unfortunately, the pretty-printing middleware works basically the same way - and the pretty printing middleware deliberately removes the response data which the content-type middl

[2018-05-02 16:54] stardiviner commented on #2277
`cider-repl-use-pretty-printing` is `nil`. `cider-repl-use-content-types` is `t`.
After upgrading CIDER to latest version on Emacs MELPA. and try upper demo clojure example code. still same result.

[2018-05-02 17:40] deepzeafish commented on #2279
Not sure if that helps, but here is my init.el: [https://github.com/deepzeafish/emacs.d/blob/master/init.el]

[2018-05-02 17:44] dpsutton commented on #2279
Oh yeah. I meant to ask if you get this error without cider decompile. I'm
guessing it's old and creates the circular reference but I haven't looked
into it yet

On Wed, May 2, 2018, 12:40 PM Deepzeafish <notifications@github.com> wrote:

[2018-05-02 18:48] dpsutton commented on #2279
I'm not seeing any trace of CIDER in that stacktrace. Can you uninstall CIDER and see if you're just in a broken elisp state?

[2018-05-03 04:58] arrdem commented on #2280
That suggests it's something to do with nREPL or REPLY's implementation.

https://github.com/cemerick/nREPL/blob/master/src/main/clojure/clojure/tools/nrepl/middleware/interruptible_eval.clj - it looks like the implementation of eval does the right thing, assuming that `(get-thread-bindings)` does what it's supposed to do. The implementation in Clojure 1.9 looks fine and it does the right thing at

[2018-05-04 12:26] bhauman opened #2281 "Experiencing tremendous slowdown when editing cljc files,"
[slow-emacs-profile.txt](https://github.com/clojure-emacs/cider/files/1974390/slow-emacs-profile.txt)

## Expected behavior
Typing characters into a buffer should not take 0.9 seconds per character.

## Actual behavior
Extremely slow character by character response time in the cljc file's emacs buffer. This behavior develops over time after using the buffer for 10 minutes to a half an hour. This b

[2018-05-04 14:50] expez opened #2282 "Bind previous value(s) in debugger sessions"
In the REPL `*1` and `*2` etc are bound to the previous evaluation results.  Something like this would be very helpful to have in debugger session too, to use in combination with <kbd>e</kbd>.

[2018-05-04 16:00] dpsutton commented on #2281
[code]
`cider--parse-and-apply-locals` and `cider--update-locals-for-region` (which calls the parse and apply locals` seem to be the culprits for me. I think this is buffer size dependent and not based on cljc. I'm in a 1781 line cljs file and experiencing the same thing

[2018-05-04 16:02] dpsutton commented on #2281
@bhauman there's a function `cider--wrap-fontify-locals` that will invoke this except

[code]

I set `cider-font-lock-dynamically` to nil and i see the slowdown go away. Can you give that a shot and see if it remedies it at least partially?

[2018-05-04 16:40] fl00r opened #2283 "cemerick.piggieback -> cider.piggieback"
## Expected behavior

cljs repl should use cider.piggieback

## Actual behavior

it uses cemerick.piggieback

https://github.com/clojure-emacs/cider/blob/master/cider.el#L681

## Steps to reproduce the problem

Launching repl causes a following exception

[code]

## Environment & Version information

### CIDER version information

[code]

### Lein/Boot version

Leiningen 2.7.1 on Java 1.8.0_144 Ja

[2018-05-04 17:52] bbatsov commented on #2283
An oversight on my part! Thanks for pointing it out!

[2018-05-04 22:10] #2283 closed

[2018-05-04 22:28] fl00r commented on #2283
:*

[2018-05-05 13:07] bbatsov commented on #2242
That's fixed on `master`, btw.

[2018-05-05 13:07] #2242 closed

[2018-05-05 14:14] bhauman commented on #2281
@dpsutton I will give this a shot

[2018-05-05 14:52] bbatsov commented on #2281
There's also `cider-font-lock-reader-conditionals` that's specific to `cljc` files, so disabling it might be another thing to try. I recall someone complaining recently that this was causing performance problems for them.

[2018-05-05 16:43] Hodapp87 commented on #1544
I'm using `nrepl-use-ssh-fallback-for-remote-hosts` and it's still trying SSH first for a known host (without asking for port number and without ever attempting a direct connection). If I instead put in IP address directly, it asks for port number and the direct connection works fine.

If I use a made-up hostname it's never seen before, it properly asks for port number, tries direct connection, fa

[2018-05-05 16:48] bbatsov commented on #1544
@Hodapp87 It just tries a direct connection first and ssh afterwards (if the fallback is enabled).

Are you saying that known hosts are not handled properly? If that's the cause this should be a different issue.

[2018-05-05 17:04] bbatsov commented on #2281
Ops, I didn't see you already check this. Forget about my comment!

[2018-05-05 17:05] Hodapp87 commented on #1544
Sorry, I said that wrong. I meant that I had disabled `nrepl-use-ssh-fallback-for-remote-hosts`, and then it was still trying SSH first (and never trying direct connection, nor even asking for a port) if I provided a known host.

The behavior goes away if I remove the host in question from `~/.ssh/known_hosts` (or just supply an unknown host instead), and then it seems to behave as expected.

[2018-05-05 19:36] bbatsov commented on #1544
Yeah, this certainly seems like an unrelated problem, or a feature - after all of something is an ssh host we should probably treat it as such. :-)

[2018-05-05 19:46] bbatsov commented on #2273
I'm not sure I get what you mean exactly. I understand that one thing is the problem with a predicate defined outside a `deftest`, but I don't quite get what's the other problem.

[2018-05-06 00:32] Hodapp87 commented on #1544
It's definitely a problem, not a feature, that cider-connect refuses to connect directly to a host simply because sometime in the past I connected to it from SSH. I mention `nrepl-use-ssh-fallback-for-remote-hosts` because it's not behaving as a "fallback" at all here; the setting is simply doing nothing, because whether it's enabled or disabled it always assumes SSH.

[2018-05-06 05:59] Invertisment commented on #2273
Yes, there are two problems
Looks like that one of them was an incompatibility with emacs 24. I use ubuntu and their package is behind. After updating I see the stack trace frame in the test results menu.

Will check about the `is` macro call outside the deftest. I think it should work the same as in the issue.

[2018-05-07 13:08] dpsutton commented on #2277
happy to say that it worked for me:

[code]

[2018-05-07 13:42] dpsutton commented on #2277
So one thing I've noticed however.

After I put an image in the repl, the behavior after can be quite strange. When I open up a new paren to type a form after, sometimes it says there are unbalanced parens. And it seems to consistently go into endless garbage collection that I have to halt with `C-g`.

![brutal](https://user-images.githubusercontent.com/6377293/39704892-6e33c26a-51d2-11e8-9315-08b

[2018-05-07 13:50] dpsutton commented on #2277
although strangely, it seems to depend upon the image. When I used the above screenshot in the repl it was fine and i could use sexp navigation back and forth over it. The clojure image seems to be an unbalanced parens. I'm on emacs 27 from git so this may be a bug in emacs right now.

![clojure](https://user-images.githubusercontent.com/6377293/39705321-a895053a-51d3-11e8-9cb2-67590a977fd7.png)

[2018-05-07 14:00] stardiviner commented on #2277
By your hints, I found I use absolute path to image, it works now. Seems `clojure.java.io/file` requires absolute path.
@dpsutton I tested your image, works fine on my machine, have not your described problem.

[2018-05-08 03:34] stardiviner commented on #2277
I just found another weird problem. Maybe related to @dpsutton 's problem.
After I executed:
[code]
Then the second `(+ 1 1)` is not evaluated, no result. no prompt returned, point is stopped at `|` position.

BTW, how do you guys get that "eval log"?

[2018-05-08 03:40] dpsutton commented on #2277
@stardiviner check out `m-x nrepl-toggle-message-logging`. then look for a buffer named `"*nrepl-messages %s*"` (the %s is the connection name). check out [hacking cider](http://hackingcider.com/posts-output/2017-04-26-beginning-to-hack-on-cider/) for a bit more.

when you say the prompt is stopped there, do you see a spinner? can you interrupt it with `c-g` or is the process dead? Mine was always

[2018-05-08 03:43] stardiviner commented on #2277
Here is my `*nrepl-server*` buffer output:
[code]

After toggle `nrepl-log-messages`.
Execute `(clojure.java.io/file "/home/stardiviner/Pictures/Beauty/2015-05-04 070354.jpg")` in REPL,
Then execute `(print "hi")`

got output in `*nrepl-message localhost*` buffer:
[code]

[2018-05-08 05:57] arrdem commented on #2277
@stardiviner .... what's the problem? you can see it do the content-type + slurp handshake in your nREPL trace.

[2018-05-08 06:03] stardiviner commented on #2277
@arrdem I can see the image now. but following another problem in previous post https://github.com/clojure-emacs/cider/issues/2277#issuecomment-387274226 (Do I need to open a new issue for this?)

[2018-05-08 07:47] bbatsov commented on #2277
What is this coming from?

[code]

[2018-05-08 08:26] jwr opened #2284 "Unable to resolve var: refactor-nrepl.middleware/wrap-refactor when starting 0.17"
## Expected behavior

Cider starts.

## Actual behavior

Cider does not start after upgrading from 0.16 to 0.17 (no other changes). The backtrace is included below. I was unable to determine the cause. I do not have tools.nrepl in my project.clj.

[code]

## Steps to reproduce the problem

1. M-x `cider-jack-in`

## Environment & Version information

### CIDER version information

Cider 0.17.0

##

[2018-05-08 08:40] bbatsov commented on #2284
Remove refactor-nrepl - seems you're using a version of it that's not compatible with the current stable CIDER. I guess something like this would be enough:

[code]

[2018-05-08 08:56] jwr commented on #2284
Thank you, indeed that was the problem -- I didn't know I was using a version of refactor-nrepl! It wasn't in my project.clj nor `~/.lein/profiles.clj`. As it turned out, I had `clj-refactor 2.3.1` installed in Emacs, and that was the culprit. After uninstalling it, things work fine.

Thanks for your help!

[2018-05-08 10:09] stardiviner commented on #2277
@bbatsov Thanks pointed it out. I figured out how to reproduce this issue now.
Actually cider display image is fine. This weird symbol obvious is from display image which eldoc try to get doc for them.

Toggle nrepl log messaging.
Disable eldoc-mode in CIDER REPL buffer, then display image, then movie point backward around, on the image etc. All things fine, no weird symbol in nrepl log.
Enable el

[2018-05-08 18:31] T045T opened #2285 "error in process filter: [nREPL] No response handler with id nil found"
## Expected behavior
I encountered this while playing around with [Quil](https://quil.info), reloading files to update a running sketch following [this guide](https://github.com/quil/quil/wiki/Dynamic-Workflow-(for-REPL)) - except I'm using <kbd>C-c C-k</kbd> to reload my file, not the REPL.

Whenever I introduce a bug that causes an exception in my `draw` function (happens to the best of us), I'd

[2018-05-08 19:41] bbatsov commented on #1416
No idea. It's not open-source so we can't easily check.

[2018-05-08 23:49] cursive-ide commented on #1416
@NightMachinary @bbatsov Very simple - it doesn't :-). Cursive can only debug JVM clojure right now.

[2018-05-09 00:33] stardiviner opened #2286 "cider-eldoc try to display doc when point on weird symbols like on image content-type"
When use cider display image content-type. I move point backward, then CIDER REPL can't evaluate sexp anymore.

Steps to reproduce:
Toggle nrepl log messaging.
Disable eldoc-mode in CIDER REPL buffer, then display image, then movie point backward around, on the image etc. All things fine, no weird symbol in nrepl log.
Enable eldoc-mode in CIDER REPL buffer, then move point backward around, on the

[2018-05-09 06:16] terjesb opened #2287 "cider-repl-set-ns fails (to remote nREPL within Immutant)"
## Expected behavior

cider-repl-set-ns working.

## Actual behavior

C-c M-n fails:

2018-05-09 06:10:11,566 ERROR [clojure.tools.nrepl.server] (clojure-agent-send-off-pool-12) Unhandled REPL handler exception processing message {:op eval, :code (in-ns 'magegw.order-handler), :session 50dd6830-a109-4f43-86dc-26f7a5760c00, :id 9}: java.lang.Exception: namespace 'cider.inlined-deps.orchard.v0v2v0.o

[2018-05-09 06:36] bbatsov commented on #2287
Seems something's wrong with the inlined dependencies in `cider-nrepl` (orchard in particular), but I can't imagine how can this happen (and why). Your problem is much bigger than one command not working.

[2018-05-09 06:42] bbatsov commented on #2287
Maybe something to do with https://github.com/clojure-emacs/cider-nrepl#with-jboss-asjboss-eapwildfly ? I've never immutant and that's definitely some weird interaction between it and cider-nrepl.

[2018-05-09 06:44] bbatsov commented on #2286
I can't test/fix this, as the image display doesn't work for me at all as mentioned in #2277.

I'm also puzzled how the two can be related at all. I'd expect that eldoc simply won't work, but it should not break eval.

[2018-05-09 07:18] bbatsov commented on #2277
Btw, it also seems strange to me that the behaviour would change with a relative/absolute file path.

[2018-05-09 08:11] stardiviner commented on #2277
Me too, it supposed work in CIDER (Emacs side) even though `clojure.java.io/file` returned File Object might not work with relative path?

[2018-05-09 08:25] stardiviner commented on #2286
You can test with a simple call:
[code]
P.S I just copied the weird text, but it might direct copy is not original weird character.

[2018-05-09 08:35] T045T commented on #2285
It is, thanks!

Using `:no-bind-output` fixed the issue.

However, my focus was slightly different - while #2138 is about the input arriving, my problem was that emacs becomes almost unusable when many of these messages arrive in quick succession.

Is there a way to log this sort of error without momentarily freezing emacs?

[2018-05-09 10:00] bbatsov commented on #2285
Not right now. The fix (workaround) for this is not complex, but I never found time to get to this. I'll try to do something about this later during the week.

[2018-05-09 13:07] achikin opened #2288 "Cider powerline performance issue"
## Expected behavior
No performace issues
## Actual behavior
The last version of cider shows significant performance issues while navigating/editing clj/cljs files.
Emacs profile shows severe usage of `cider--modeline-info`
(**profile attached as txt file below**)
https://github.com/clojure-emacs/cider/files/1987891/emacs-cider-profile.txt
## Steps to reproduce the problem
- Start emacs
- Jack in

[2018-05-09 14:30] bbatsov commented on #2288
And this was fast on 0.16?

[2018-05-09 14:44] achikin commented on #2288
@bbatsov I did not spot any issues at glance.
Could that be disabled? I don't use anything from powerline besides line number and file name.

[2018-05-09 15:16] bbatsov commented on #2281
@bhauman So, what happened here?

Also - do you happen to be using `aggressive-indent-mode?

[2018-05-09 15:58] bhauman commented on #2281
I haven't had a problem since I set `cider-font-lock-reader-conditionals` to `nil`.

I think I made a mistake when I set `cider-font-lock-reader-conditionals` to `f` when it should have been `nil`?

It could be that I haven't left a buffer open long enough to get there yet.

[2018-05-09 16:30] bhauman commented on #2281
and I'm not using `aggressive-indent-mode`

[2018-05-10 09:56] gavinmbell commented on #2212
Currently using: CIDER 0.18.0snapshot (package: 20180509.109)
As of this moment the initial desire of this PR has not been fulfilled.  It is a highly desired feature for workflows across "projects".  Is there any movement on this? :-/
What would you recommend one do with regards to having this functionality?

[2018-05-10 10:27] bbatsov commented on #2212
@vspinu told me he's going to work on the connection handling rewrite in this version. It's one of our top priorities right now. I'll give him some space and focus on things that would cause issues with revamping this.

Generally I'm ready to cut a new release the moment we've switched to the more generic connection management based on connection groups (or sessions depending on the terms you want

[2018-05-10 12:00] bbatsov commented on #2281
Yeah, probably this was the problem, although I would have expected you to get some unresolved symbol error in this case.

Guess now we know we really have to improve the performance of the regexps doing the font-locking. /cc @alvinfrancis

[2018-05-10 12:53] alvinfrancis commented on #2281
Will look into this. Colleague actually pointed this out to me the other
day but I figured it was just something else in his configuration. Was
working  fine for me, but I was on an older version.

Thanks for the heads up.

On Thu, May 10, 2018, 20:01 Bozhidar Batsov <notifications@github.com>
wrote:

[2018-05-10 13:57] achikin commented on #2288
Just to clarify - I use Spacemacs and update packages from time to time. I'm not sure if I ever used 0.16 or not. But with the latest update performance has degraded dramatically - I can barely work with clj* files when cider is connected.

[2018-05-10 14:10] dpsutton commented on #2212
@gavinmbell I've been using this patch onto the dispatch part.

https://github.com/dpsutton/cider/commit/535804eb227dc5b9db1143fe7864b809dbc4ea91

I might do a PR as I think its better than what we have now. At work we have three repls (server clj, webapp clj and cljs) open at all times. The last repl is often not what I want.

[2018-05-10 14:12] bbatsov commented on #2288
Hmm, oddly enough I don't see any recent changes here. You can solve this temporary with:

[code]

Until we figure out what exactly is the problem you've experienced.

[2018-05-10 15:30] achikin commented on #2288
@bbatsov thank you! That helped a lot.

[2018-05-10 20:35] achikin commented on #2288
@bbatsov
No, I'm not using tramp or anything remote.
Just FYI I did `cloc` in the project root.
Maybe I need to exclude `node_modules` from ... somewhere?
[code]

[2018-05-10 20:45] achikin commented on #2288
Hmmm, `node_modules` are excluded in `.projectile`
[code]

[2018-05-10 21:03] bbatsov commented on #2288
This doesn't really help `clojure-mode`. OK, now I know what's happening - because your project's pretty big finding its root is taking a while. Anyways, with some simple caching we will certain fix this.

[2018-05-11 10:27] NightMachinary opened #2289 "[Question] How do I start figwheel in projects where a predefined function exists to start figwheel up from the Clojure repl?"
E.g., in https://github.com/fulcrologic/fulcro-tutorial , there is a `(user/start-figwheel '[tutorial])` that should be called from the Clojure repl and it starts the figwheel repl. If I just do a Clojure jack-in and type this command in, I'll lose my Clojure repl. If I do a clojurescript jack-in, the default config is not run.

[2018-05-12 03:08] vspinu commented on #2283
Shouldn't cider-verify-piggieback-is-present check for cider.piggiback specifically? I just came back to clojure after half a year and found out that `cemerick.piggieback/wrap-cljs-repl` works no more. From the error it's easy to guess what happened, but still.

[2018-05-12 05:03] bbatsov commented on #2283
@vspinu Technically speaking it still works, but the default configuration refers to the newer piggieback for obvious reasons. @bhauman had the great idea to just inject piggieback automatically when doing `cider-jack-in-cljs`, which is a better solution to the problem you mentioned.

[2018-05-12 11:50] alvinfrancis commented on #2281
Having trouble replicating this.  Currently on `CIDER 0.17.0 (package: 20180508.1001) (Andalucía), nREPL 0.2.13`.  Tried out editing a fairly large cljc file of 800 lines and apart from an initial slowdown on first character insert, there were no slowdown issues at all even after waiting for 10 minutes.  I also artificially inflated the size by repeating the top level forms until it reached ~3000

[2018-05-12 13:46] bhauman commented on #2281
Hmmm did you have large sections of :clj code and :cljs code?  I.E

#?(:cljs (do  ...  half of a file of cljs ....   )))

#?(:clj (do  ...  half of a file of clj ....   )))

On Sat, May 12, 2018 at 7:50 AM, Alvin Francis Dumalus <
notifications@github.com> wrote:

[2018-05-13 22:51] vemv opened #2291 "cider-stacktrace doesn't seem to honor cider-use-tooltips"
Hi there!

I have `cider-use-tooltips` set to nil, but I still can see `"View source at this location"` tooltips.

Relevant code - https://github.com/clojure-emacs/cider/blob/ff3bfa2642cfcd4eb5f2756280ea057dc69f8aff/cider-stacktrace.el#L698

Thanks - Victor

[2018-05-14 04:16] vemv opened #2292 "Make the `cider-cljs-repl-types` commands cleanly customizable?"
The ` "(do (require 'figwheel-sidecar.repl-api) (figwheel-sidecar.repl-api/start-figwheel!) (figwheel-sidecar.repl-api/cljs-repl))"` commands in https://github.com/clojure-emacs/cider/blob/ff3bfa2642cfcd4eb5f2756280ea057dc69f8aff/cider.el#L687 isn't under a defcustom so it cannot be cleanly customized.

An use case would be e.g. customizing Fighwheel startup as I used to:

[code]

(the intent is t

[2018-05-14 06:29] bbatsov commented on #2292
What's wrong with the proposed way of extending the defaults with `cider-register-cljs-repl-type`?

The main var is not a defcustom, but it can certainly be one. I just assumed that given the fact ideally one has to also supply a validation function it's unlikely they'll be using customize.

We can make all the default type strings defcustoms, but that might be a bit of an overkill.

[2018-05-14 06:40] vemv commented on #2292
Sounds good! I just tried it out, almost works.

Let's say I do:

[code]

Then, `cider-cljs-repl-types` will start having two items starting with `figwheel`, which seems buggy.

[2018-05-14 07:14] bbatsov commented on #2292
Ah, guess I didn't think of that. I just assumed people would use names like `figwheel-something` in such cases. We can certainly have older records be overridden.

[2018-05-14 07:35] vemv commented on #2292
Didn't think of that either!

Perhaps we can simply add the following to the `cider-cljs-repl-types` doc:

That could kill the need for modifying any code - as you prefer.

[2018-05-14 11:34] bbatsov commented on #2291
I didn't even remember we had tooltips here. :-) The others were configurable mostly because they added some performance overhead, but I guess it makes sense for us to be consistent (or to name the config option differently).

[2018-05-14 11:57] bbatsov commented on #2291
Btw, you can also just disable `tooltip-mode` which would turn off tooltips everywhere in Emacs.

[2018-05-17 00:25] stardiviner commented on #2286
About upper cider-eldoc op cause nrepl connection crash problem. I found why now. Because the funciton `cider-repl--display-image` pass image and image data (should be string) to function `insert-image`. I will send a PR ASAP.

[2018-05-18 09:14] alvinfrancis commented on #2281
Continued investigating this with my colleague who experiences slowdown on large-ish files with short reader conditional expressions.  Could not replicate it until I tried matching his emacs build (we're both running on macOS).  I've been using the [mituharu](https://bitbucket.org/mituharu/emacs-mac/) native port, while I believe his was on the Cocoa version.  Anyway, I am experiencing a slowdown

[2018-05-18 11:04] vspinu commented on #1666
The trick with `:resource-path` no longer works. Has something changed in the java-ref lookup in the past 7 months or so?

I now see a lot "bad source file" errors like this when I first call `cider-find-var`:

[code]

If I check manually I do see an _interface_ `ChannelFactory` in that java file.

[2018-05-18 11:34] vspinu commented on #1666
Another simple workaround for this is to use tags instead

[code]

[2018-05-18 15:34] bhauman commented on #2281
I've been using this for as long as I can remember.

https://emacsformacosx.com/

On Fri, May 18, 2018 at 2:14 AM, Alvin Francis Dumalus <
notifications@github.com> wrote:

[2018-05-18 21:01] caioaao opened #2294 "Provide a better interface to set project-only filter for stacktrace mode"
Currently we can't use positive filters on `cider-stacktrace-default-filters`. Options like `project` doesn't work here.
Also the documentation on `cider-stacktrace-default-filters` could be improved. I had to look more than I expected for the acceptable values for the variable.

[2018-05-19 18:30] #2286 closed

[2018-05-19 20:50] cbowdon opened #2295 "Update docs to indicate cider-jack-in support for Clojure CLI"
I was (very pleasantly) suprised when `cider-jack-in` worked on a deps.edn project, since the current doc/up_and_running.md says that Lein, Boot or Gradle are required. Is clj support missing from the docs because it's incomplete? Otherwise would you like a PR for this?

[2018-05-19 21:36] bbatsov commented on #2295
It's not incomplete, I just forgot to document it. :D I wouldn't mind a PR if you want to work on this. The magic code is most here https://github.com/clojure-emacs/cider-nrepl/blob/b0649ac8bcf1faa686ce9954ed4879622fdf58c3/src/cider_nrepl/main.clj

[2018-05-21 14:59] Invertisment opened #2296 "Running a single test fails"
When I place my cursor on a test and I execute `Leader-t-t` or `spacemacs/cider-test-run-focused-test` I should get a test run in REPL.
It worked about two weeks ago (Now it's 21th of May) and it doesn't go away.

Is it an issue with my setup or a bug?

I get this error:

[code]

![screenshot at 2018-05-21 17 53 18](https://user-images.githubusercontent.com/1641263/40314188-6f8bce1a-5d20-11e8-8292

[2018-05-21 16:15] bbatsov commented on #2296
Can you upgrade to the latest version? This was bug we introduced and (supposedly) fixed shortly before the release of 0.17 (Andalucia).

[2018-05-22 06:04] Invertisment commented on #2296
Thanks. Works with `CIDER 0.18.0snapshot (package: 20180521.1210)`

[2018-05-22 06:04] #2296 closed

[2018-05-22 09:01] alvinfrancis commented on #2281
Further investigation of the performance difference between the emacs apps follows:

# Steps to Reproduce

Go through these steps for both emacs apps (download from https://emacsformacosx.com/ and also build out from https://bitbucket.org/mituharu/emacs-mac)

1. Use Spacemacs (no customizations) as configuration.
2. For both emacs apps, connect to a running Leiningen REPL instance.
3. Open a CIDER

[2018-05-22 11:18] alvinfrancis commented on #2281
I meant that the Spacemacs config might have something to do with it, since the issue isn't noticeable in either Emacs builds if I'm not using the Spacemacs config.

Using my own config, here are the numbers:

## Emacs For macOSX

[code]

## Mituharu

[code]

What strikes me is that without using the Spacemacs config, the number of calls to `font-lock-fontify-keywords-region` is an expected 73 tim

[2018-05-22 16:50] bhauman commented on #2281
Just to be clear, I'm not using spacemacs

On Tue, May 22, 2018 at 4:18 AM, Alvin Francis Dumalus <
notifications@github.com> wrote:

[2018-05-22 18:47] weissjeffm opened #2297 "tooltip-mode always ignored"
## Expected behavior

Hovering the mouse over function names in clojure buffers will display tooltips when `cider-use-tooltips` and `tooltip-mode` is on.

## Actual behavior

No tooltips

## Steps to reproduce the problem

[code]
Jack in.

Hover over function names in clojure buffers

## Environment & Version information

### CIDER version information

;; CIDER 0.18.0snapshot (package: 20180514.42

[2018-05-25 05:15] alvinfrancis commented on #2281
@bhauman How many times does `cider--search-reader-conditionals` show up in the value of `font-lock-keywords` for you?  It's repeated for some reason when I'm running the spacemacs config.  I wonder if it's the same for yours.

[2018-05-25 15:06] junjiemars opened #2298 "cider-0.17 cannot start nREPL"
*Use the template below when reporting bugs. Please, make sure that
you're running the latest stable CIDER and that the problem you're reporting
hasn't been reported (and potentially fixed) already.*

*When requesting new features or improvements to existing features you can
discard the template completely. Just make sure to make a good case for your
request.*

**Remove all of the placeholder text

[2018-05-26 05:52] bbatsov commented on #2298
That's because CIDER 0.17 changed the default command it uses to start nREPL outside of a project from `lein` to `clojure`, but for this to work you need Clojure 1.9.

You can change `cider-default-repl-command` to "lein" to get the old behaviour.

[2018-05-26 06:47] #2295 closed

[2018-05-26 09:28] bbatsov commented on #2281
Btw, I've added a small patch to `clojure-mode`, so now results from `clojure-project-dir` are cached.

[2018-05-26 09:29] bbatsov commented on #2288
I've added a small patch to clojure-mode, so now results from clojure-project-dir are cached. That should solve the reported problem.

[2018-05-26 11:38] junjiemars commented on #2298
Thanks, it's just works.
Before ```cider-jack-in``` a non project nREPL, I should to set ```cider-default-repl-command``` by hand first. To make a backward compatible layer is hard in cider's user Elisp code, so I think it is a compatible bug.

[2018-05-27 13:45] #2216 closed

[2018-05-28 06:18] stardiviner opened #2301 "Make cider-doc and cider-javadoc smarter"
Based on this guide https://clojure.org/guides/repl/data_visualization_at_the_repl#_dealing_with_mysterious_values_advanced described.
Current `cider-doc` and `cider-javadoc` does not show more info about `v`. I hope CIDER can be smart on this. do this automatically for user.
Is this possible to be implemented in CIDER?

[2018-05-28 07:19] bbatsov commented on #2301
Anything is doable, but I'm not certain what exactly is the expectation here - after all this article points out several different things.

[2018-05-28 07:35] stardiviner commented on #2301
Currently CIDER run `cider-doc` on `v` will get:
[code]
If I run `cider-javadoc` on `v` will get: `user-error: No Javadoc available for v`.

In upper link described, it can use `(type v)` to get **javadoc** with `clojure.java.javadoc/javadoc`. Maybe show additional info with `clojure.reflect/reflect` is better.

[2018-05-28 07:36] stardiviner commented on #2301
Hmm, after a reconsidering, I think this might conflict with variable docstring.
Close this feature propose now.

[2018-05-28 07:36] #2301 closed

[2018-05-28 08:10] n2o commented on #1953
What about adding the meta-information to the cider-doc command? I am just experimenting with meta-data and the most intuitive way to show the information is to append it to the normal doc-command in my opinion. At least that's the place where I'd expected my "deprecated" note.

[2018-05-29 12:31] zhongwm commented on #2284
Hi @bbatsov thanks but after I added `(setq cljr-inject-dependencies-at-jack-in nil)` at the end of my `init.el` file, it has no effect, Could you kindly tell me how to set this, thanks?

[2018-05-30 01:12] arichiardi opened #2302 "Add insert eval and next to cider"
In `inf-clojure` I usually like to use the function that inserts the last form to the REPL, evaluates it and then proceeds to the end of the next form.

I was wondering whether we could add it to `cider` as well.

[2018-05-30 01:17] bbatsov commented on #2302
Can you demonstrate this with a gif or something? I'm not sure I completely understand what you mean. I recall `inf-clojure` what a function to insert and eval something into the REPL, but nothing like what you describe.

[2018-05-30 01:19] arichiardi commented on #2302
I surely can tomorrow, in the meantime here is the code that does that: https://github.com/clojure-emacs/inf-clojure/blob/master/inf-clojure.el#L688

[2018-05-30 13:17] achikin opened #2303 "cider completion broken"
## Expected behavior
Cider completion and jump-to-definition work

## Actual behavior
Cider completion and jump-to-definition does not work in both clj and cljs repls

## Steps to reproduce the problem
1. `cider-jack-in-clojurescript`
2. Navigate to any clojure or clojurescript namespace and try to go to definition or toggle autocomplete
Go to definition shows `No jump handler was able to find thi

[2018-05-30 13:20] achikin commented on #2303
https://github.com/syl20bnr/spacemacs/issues/10774

[2018-05-30 13:40] expez commented on #2303
Closing as a bug in spacemacs.

@achikin I recommend you stop running snapshots.  The snapshots are pre-release builds and are expected to have some breakage.  `SNAPSHOT` doesn't mean the same as e.g. the `LATEST` tag in Maven, which give you the latest stable release.

Anyway, sorry for you recent issues and thank you for helping test CIDER and for taking the time to report bugs.  If nobody ran a