[2016-03-29 15:02] bbatsov commented on #1638
Btw, something like this is on my personal radar. I'll probably implement it when I get do adding eldoc for variables (as the implementation is related - you have to consider the symbol at point in addition to the symbol at the beginning of the list).

[2016-03-29 15:21] fgiasson opened #1639 "Cider in Org-Mode: "nrepl-send-sync-request: Sync nREPL request timed out" with long running calls"
I am using `Cider` in `Org-mode` to execute code blocks. The middleware that calls Cider is [ob-clojure](http://orgmode.org/w/org-mode.git?p=org-mode.git;a=blob;f=lisp/ob-clojure.el;h=5b023e679f6581453a8e7c2102805a9c7022de76;hb=1045e9e9c0e6438f5ee9dc4f0e5c720a8b670cdd).

Everything works perfectly until I try to run long-running code (procedures that can takes a few minutes to complete. When I am

[2016-03-29 15:34] fgiasson commented on #1639
I am wondering if I could set `nrepl-sync-request-timeout` to `nil`. I would guess so, but then I could I re-define that value, possible in my .emacs when I configure `Org-mode`?

[2016-03-29 15:35] Malabarba commented on #1639
Yes, that is the right variable. I think ob-clojure shold `let-bind` this to `nil` around its code executions.

[2016-03-29 15:40] bbatsov commented on #1639
Exactly.

[2016-03-29 15:44] fgiasson commented on #1639
@Malabarba, @bbatsov ok great, let me try this in `ob-clojure.el` to see if that fix all my issues, if it does then I will propose to expose a new parameter for `ob-clojure` to be able to play with that as necessary.

[2016-03-29 17:12] fgiasson commented on #1639
Great, it worked. Here is the modified version of the `org-babel-execute:clojure` function for documentation purpose:

[code]

[2016-03-29 17:12] #1639 closed

[2016-03-30 10:23] expez opened #1641 "Debugger fails on inline protocol implementations"
[code]

Instrumenting either `start` or `stop` here causes the debugger to blow up with a `ClassNotFoundException`.

Even if this functionality is out of scope we could let the user know in a helpful manner instead of just blowing up.

[2016-03-30 10:32] expez opened #1642 "Improve the debugger when using prismatic/schema"
When you instrument a function which is annotated with type hints using [schema](https://github.com/plumatic/schema), using <kbd>C-u C-c C-c</kbd>, the debugger is immediately triggered and you have to hit <kbd>n</kbd> to step past all the type annotations.  After that, the function and the debugger interacts like normal.  If you hit <kbd>c</kbd> to skip past the type annotations, though, it's lik

[2016-03-30 13:11] wasamasa opened #1643 "Running tests clears all overlays in the buffer"
## Expected behavior

I have a Clojure test buffer with overlays.  Launching tests will not touch these overlays and do the necessary bookkeeping for CIDER's overlays.

## Actual behavior

All overlays are removed.  [This](https://github.com/clojure-emacs/cider/blob/master/cider-test.el#L501-L502) looks like the culprit.

## Steps to reproduce the problem

- Open a Clojure test buffer
- Enable a m

[2016-03-30 13:34] Malabarba commented on #1641
Yes, I've been bumping into this too. I'm sure it worked in the past, so I'll mark it as a real bug.
One workaround is to put a `#dbg` inside the method definitions and just evaluate the `defrecord` normally.

[2016-03-30 13:35] Malabarba commented on #1642
This happens with other special defs as well.
I don't think there's any general way to solve this, but adding a special case to `schema.core/def*` should be possible.

[2016-03-30 13:37] Malabarba commented on #1643
This was probably done to remove the “test failed” overlays. But I agree it's a bug. It should _only_ remove the test-related overlays.

[2016-03-30 13:57] wasamasa commented on #1643
Now that I think of it, I suspect that's the source of smartparen's post-command handler breaking on overlays...

This should be reasonably simple to fix.  Assuming every CIDER-related overlay is tagged, the following could work (untested):

[code]

[2016-03-30 15:46] Malabarba opened #1644 "Oddity in Keymap tables in the manual"
See the table here: http://cider.readthedocs.org/en/latest/extended_workflow/#running-tests

The table lists two possible keys for `Run test at point.`, but they are listed side-by-side, so they just look like one humongous keybind.

[2016-03-30 16:00] #1425 closed

[2016-03-30 16:41] #1641 closed

[2016-03-30 21:07] bbatsov commented on #1644
I've noticed this as well. Might be some bug with the markdown parser used by `mkdocs`.

[2016-03-31 06:54] martintrojer commented on #1541
This works great.

One suggestion, I'd love to give a default selection for `cider-apropos-act-on-symbol`. In my case `find-def`.

[2016-03-31 07:16] bbatsov commented on #1541
File another issue about this and I'll look into it.

[2016-03-31 07:36] martintrojer opened #1646 "Enable a default selection for cider-apropos-act-on-symbol"
`cider-apropos-act-on-symbol` presents a selection on what action to take.

It would speed-up / improve my flow if a default action could be configured (in my case `find-def`).

[2016-03-31 07:37] martintrojer commented on #1541
#1646

[2016-04-01 06:00] bbatsov commented on #689
So, the new manual is here - http://cider.readthedocs.org/en/latest/

I really need some help to polish and extend it. Down the road we should also figure out how to generate a pdf/epub/texinfo version from it, but at least we're moving in the right direction.

[2016-04-01 06:00] #689 closed

[2016-04-01 19:13] bbatsov commented on #1420
Fixed by https://github.com/clojure-emacs/cider/pull/1645

[2016-04-01 19:13] #1420 closed

[2016-04-02 03:52] JoePython1 opened #1648 "cider repl warning"
## Expected behavior
No warnings
## Actual behavior
[code]
## Steps to reproduce the problem
In prelude, type C-c M-J

## Environment & Version information

### CIDER version information
[code]

### Emacs version
24.5.1

### Operating system
Ubuntu  14.04 LTS

[2016-04-02 04:01] Malabarba commented on #1648
Try removing any reference to `cider-nrepl` from your `project.clj` and `profiles.clj`.

[2016-04-02 04:05] JoePython1 commented on #1648
That works thank you.

[2016-04-02 04:05] #1648 closed

[2016-04-02 07:26] #1644 closed

[2016-04-02 16:23] bbatsov commented on #1607
Closing due to lack of activity. Feel free to re-open if you get to this eventually.

[2016-04-02 16:23] #1607 closed

[2016-04-02 16:24] bbatsov commented on #1595
@Malabarba will you have time to address this for 0.12?

[2016-04-02 16:25] #1541 closed

[2016-04-02 16:26] bbatsov commented on #1532
@jeffvalk can you take a look at this?

[2016-04-02 16:33] bbatsov commented on #228
I think this was mostly addressed by @rfkm's recent work, so I'll close it.

[2016-04-02 16:33] #228 closed

[2016-04-02 16:43] Malabarba commented on #1595
No. I'm not super sure if or how I want to fix this.
Due to cider evals being asynchronous, we have some fundamental limitations that Edebug doesn't have.

I could just store the place somewhere, and then jump back to it after each step. But I think that would lead to a crappy experience in some corner cases,  while making the average case marginally better.

I'd rather keep sitting on this until

[2016-04-02 18:02] bbatsov commented on #1595
Won't a good first step be to store the initial location and go back there only if someone presses `quit`? It's just one use-base, but it's a pretty common one.

[2016-04-03 01:22] Malabarba commented on #1595
Hm. That's still more of a patch than a fix, but I like it enough. :-)

I'll try to get it done tomorrow.

[2016-04-03 05:04] bbatsov opened #1650 "Replace ert with buttercup"
ert gets the job done, but it does little to enforce good test structure and to help with code reuse. [buttercup](https://github.com/jorgenschaefer/emacs-buttercup) is an RSpec-like test framework which seems way more capable (and modern).

[2016-04-03 05:46] bbatsov commented on #1597
@Malabarba how easy would be do to something like this?

[2016-04-03 14:37] Malabarba commented on #1597
The simplest way would be to visit the file and instrument each top-level sexp (by evaluating it with #dbg as a prefix).

The difficulty is that it would have to be done one at a time. I believe it won't work if you instruments the whole file in the same message (although I didn't actually test).

[2016-04-03 15:15] bbatsov commented on #1597
That sounds reasonable. I'm guessing if try to instrument something like `(+ 1 2 3)` this will simply be ignored.

[2016-04-03 15:54] Malabarba commented on #1597
Yes, but that's only because everything in there is a constant. If you try to instrument a similar expression with variables in it, the debugger will be triggered immediately.

We could partially avoid that by only adding the #dbg to a top-level sexp if it is a def. But that still wouldn't be foolproof.

[2016-04-03 16:10] bbatsov commented on #1597
True, but few things in cider are foolproof. :-) I'm guessing filtering just the top-level defs will be good enough for most people.

[2016-04-03 16:32] bbatsov commented on #1464
These days I think that adopting something like https://github.com/jorgenschaefer/emacs-buttercup makes more sense. ert's too basic and the resulting test structure ain't pretty.

[2016-04-03 16:32] #1464 closed

[2016-04-03 18:51] jeffvalk commented on #1532
@bbatsov Will do. It may be later in the week though.

[2016-04-03 19:08] bbatsov commented on #1532
No problem.

[2016-04-03 19:18] Malabarba opened #1651 "cider-expected-ns returns nil on boot projects"
This happens because the list of strings returned by `(cider-sync-request:classpath)` apparently doesn't include the project directory.
This, in turn, happens because boot masks the project under: `~/.boot/cache/tmp/FULL/PATH/ followed by some gibberish.

As a (hopefully) temporary patch, I'll make this function fallback on `clojure-expected-ns`.

[2016-04-04 04:32] bbatsov commented on #1651
This bites us every time. I'm guessing we can reuse some of boot-related code for the info middleware.

[2016-04-04 10:01] AdrieanKhisbe commented on #1464
@bbatsov Totally legit!
[that reminds me and I should invest some time to improve https://github.com/AdrieanKhisbe/cask-package-toolset.el so that it's more flexible (eg. for tests) , and propose some **buttercup** :wink: ]

[2016-04-04 17:29] arichiardi opened #1652 "Exception while launching the boot repl"
## Expected behavior
The repl starts when you execute `boot cider repl wait` at the terminal.

## Actual behavior
An exception is thrown.

## Steps to reproduce the problem
At the terminal `boot cider repl wait`

## Environment & Version information

### CIDER version information
0.12.0-SNAPSHOT (master)

### Lein/Boot version
*boot 2.5.5*

### Emacs version
*24.5*

### Operating system
*Ubuntu Li

[2016-04-04 17:40] Malabarba commented on #1652
What do you mean by this? Do you mean you ran this command in a terminal?

I think @benedekfazekas might recognize this exception.

[2016-04-04 17:41] arichiardi commented on #1652
Yes sorry, at the terminal, but it happens with `jack-in` as well.

[2016-04-04 18:01] benedekfazekas commented on #1652
well I don't but luckily you can search gitter history ;)

based on that it seems we had the same problem with with leiningen prior version 2.5.3. no immediate memory how older lein version caused this. just a stab in the dark: what is your clojure version btw?

also a possible workaround could be if you set `(setq cider-pprint-fn 'pprint)`, at least for `cider-jack-in`

also you only need the cid

[2016-04-04 18:42] arichiardi commented on #1652
Clojure version is `1.6.0` which is the minimal supported version that boot supports...it might be that then. I am trying...

[2016-04-04 18:48] arichiardi commented on #1652
Bumping the version solves, so I can live with this, so basically `1.6.0` is not officially supported anymore for `boot` right? I would like to add it in their wiki.

[code]

[2016-04-04 18:49] benedekfazekas commented on #1652
this may be a reader conditionals related issue then.

[2016-04-04 18:50] arichiardi commented on #1652
The wiki page is [this](https://github.com/boot-clj/boot/wiki/Cider-REPL) and as you were saying before I gather that also the "A better way" section is not required anymore (since `0.11.0`?)

[2016-04-04 18:56] benedekfazekas commented on #1652
well I guess you can't use stuff with 1.6 that uses reader conditionals. incl. refactor-nrepl as we use some stuff using cljc files. it seems same goes with cider-nrepl as well then?

`A better way` section only applies if you want to use cider (and refactor-nrepl) with REPL you *connect* to instead of using `cider-jack-in`. see [this](https://github.com/clojure-emacs/cider/blob/master/doc/install

[2016-04-04 19:13] arichiardi commented on #1652
Ok then, I guess I have to specify it there so that people don't get bitten. Boot still supports back to `1.6.0`

[2016-04-04 22:04] arichiardi commented on #1652
Ok done: https://github.com/boot-clj/boot/wiki/Cider-REPL, closing this.

[2016-04-04 22:04] #1652 closed

[2016-04-05 06:11] benedekfazekas commented on #1652
thx!

[2016-04-06 17:22] arichiardi opened #1653 "Injected middlewares should have test scope"
I am working on a `boot` task that resolves and fetches jars from the project dependency tree.
I have noticed that all the injected middlewares have `:scope "compile"` which cause me to include them in my final artefact (a folder containing the deps source files).

It would probably be more correct to inject them with scope `"test"` or `"provided"` so that they won't be considered as compile time

[2016-04-06 17:30] Malabarba commented on #1653
I don't understand how you reached this problem? Normally you build your artefact with a boot command, in which case cider's dependencies wouldn't be injected. Are you somehow building it from the repl instead?

[2016-04-06 17:32] arichiardi commented on #1653
Yes I am, you are right though that normally I would just execute my boot task from outside the repl. Well, I would say it is not that big of a deal for now maybe...

[2016-04-06 18:06] Malabarba commented on #1653
Do you know of a way to add the test scope? This is what the command currently looks like:

    boot -d org.clojure/tools.nrepl\\:0.2.12 -d refactor-nrepl\\:2.3.0-SNAPSHOT -d cider/cider-nrepl\\:0.12.0-SNAPSHOT repl -m refactor-nrepl.middleware/wrap-refactor -m cider.nrepl/cider-middleware -s wait

[2016-04-06 18:10] arichiardi commented on #1653
Ah! Maybe there is no way as of now:
```-d --dependencies SYM:VER   Add dependency to project (eg. -d foo/bar:1.2.3).```

[2016-04-06 18:38] Malabarba commented on #1653
Ok. Given the limitations, I think we can close this now. I'm fine with reopening if support for that is ever implemented in boot (though I'm a little wary of adding something that fixes a corner-case but will break for every user who doesn't have the latest boot version). :-)

[2016-04-06 18:38] #1653 closed

[2016-04-06 18:40] arichiardi commented on #1653
Agree 100%, also considering that the case is a very cornery one, thanks Artur and sorry for the noise.

[2016-04-06 18:57] Malabarba opened #1654 "Eldoc error in ns :require form"
If I place point where the `|` symbol is in the following snippet,

    (ns some.server
      (:require [com.stuartsierra.component :as component]
    |           [another.ns :as ns]))

I get this error:

    Debugger entered--Lisp error: (wrong-type-argument stringp ("map"))
      string=(("map") "")
      (not (string= ns ""))
      (and ns (not (string= ns "")))
      (if (and ns (not (string=

[2016-04-06 18:58] Malabarba commented on #1653
No problem, reporting issues is always helpful. :-)

[2016-04-07 13:13] bbatsov commented on #1654
I'll look into this. I've added some custom handing of keywords at a function position, but forgot to account for cases like `:require` and `:import`.

[2016-04-07 13:16] expez commented on #1654
I'm seeing this elsewhere:

[code]

With point on:

[code]

[2016-04-07 13:19] bbatsov commented on #1654
Yeah, that's another custom handling I've added. Maybe the arguments were supposed to be symbols instead of strings. I'm confused, because I recall that I tested this.

[2016-04-08 01:10] #1604 closed

[2016-04-08 01:12] #1571 closed

[2016-04-08 01:16] Malabarba commented on #1642
I've tuned the debugger to skip built-in schemas from schema.core, so at least you won't have to step through tirivial schemas.
Sadly, I can't think of a reasonable way to improve that further.

[2016-04-08 01:57] Malabarba commented on #1547
Upon further thought, I don't think this is a bug. The results buffer intentially calls `(kill-all-local-variables)` because it's supposed to be “new”.
For instance, I see that Emacs `*Help*` buffers behave the same way.

You could increase the font-size globally, or restore the font-size every time the buffer is created by advising `cider--pprint-eval-form`.

[2016-04-08 01:57] #1547 closed

[2016-04-08 07:16] #1654 closed

[2016-04-08 09:02] BrunoBonacci commented on #1547
Thanks for taking the time to respond to this issue.
Could you please explain what you mean by

[2016-04-08 09:24] expez commented on #1642
@w01fe Any idea how can take this further?

[2016-04-08 09:30] BrunoBonacci opened #1656 "cider-result popup buffer doesn't support the ansi escape sequences"
## Expected behavior
Ansi escape sequences are rendered properly like in the cider repl buffer

## Actual behavior
ansi escape sequences are printed-out without proper rendering

## Steps to reproduce the problem
* Add `[com.taoensso/timbre "4.3.1"]` to your project
* start a repl
* open a clojure buffer and type:
[code]
* evaluate these in the repl and you'll see a rendered output
* evaluate thes

[2016-04-08 11:04] w01fe commented on #1642
I'm happy to try to help, but I don't know anything about how the nrepl debugger works.  Can you explain a bit about how the debugger works and why it stops on the type annotations?

[2016-04-09 02:53] Malabarba commented on #1642
The cider debugger instruments the user code by wrapping sexps and symbols in a `breakpoint` macro.
This macro evaluates the content, shows it to the user, and waits for user input.

Thats basically how the debugger works. While code is executing, the debugger displays each new value to the user and pauses execution until the user types `n`. This is what we call "stepping through". Here's a screen

[2016-04-09 06:43] bbatsov commented on #1642
@Malabarba guess you can add some of this info to the manual for interested parties - e.g. in a section named `Internals` or something.

[2016-04-09 21:12] micha commented on #1462
Attempted a fix with boot-clj/boot#439...does it work?

[2016-04-10 03:19] cskksc commented on #1650
I'd like to give this a try. I have not used `buttercup` before,  but have worked quite a lot with rspec, so I think I can work this out. I'll submit a PR soon, with some of the tests changed, and then lets see if my level to elisp knowledge is sufficient to tackle this.

[2016-04-10 03:20] bbatsov commented on #1650
Great!

[2016-04-10 03:54] Malabarba commented on #1650
🎉🎉🎊🎊

[2016-04-10 11:49] bbatsov commented on #1656
While fixing this is simple, it seems to me the whole functionality is kind of broken. Why are we dumping the stdout and the stderr in a `clojure-mode` buffer, together with the result? This makes no sense to me.

@Malabarba @cichli Any thoughts?

[2016-04-10 11:56] bbatsov commented on #1620
Closing due to lack of additional information.

[2016-04-10 11:56] #1620 closed

[2016-04-10 11:57] bbatsov commented on #1462
Guess someone should try this out.

[2016-04-10 12:48] BrunoBonacci commented on #1656
I somehow agree with you, the output of the cider-result should in norm contain only the result of the function and not the side effect. However not all functions are pure and having *stdout* and *stderr* redirected as it is now, it makes it way easier to work with, rather than going to look for the repl server output.
It is really only from a practical standpoint.

[2016-04-10 12:53] bbatsov commented on #1656
Perhaps. On the other hand, this is marked as a clojure-mode buffer and all the output gets corrupted there because of this, so it looks really ugly to me (not to mention it's not exactly clear what's the result and what's the output in some situations).

I'll fix your particular problem, but it definitely seems more important to me to reconsider this functionality at a more basic level.

[2016-04-10 13:01] BrunoBonacci commented on #1656
Thanks. I'm a big fan of this functionality. The inline evaluation is good only for very small results, but data structures do not render nicely inline. I now got used to it and it is my main evaluation method.
So if you want review it, I would be glad to give you early feedback on the idea or the first draft.

[2016-04-10 14:00] #1656 closed

[2016-04-10 14:01] bbatsov commented on #1656
I'll fix this for now and we can discuss potential improvements in another ticket.

[2016-04-10 14:15] tmarble commented on #1462
@micha OMG that works!

@Malabarba is there a current "cheatsheet" for the debugger? I've seen your blog, but I'm wondering if there is a current list keybindings (functions) and overview of what's possible? Sorry if this is obvious and I've missed it (ENOTENOUGHCOFFEE).

@bbatsov I just have to say CIDER is *amazing*! I love the docstring on mouseover symbol thing!

[2016-04-10 14:31] bbatsov commented on #1462
See http://cider.readthedocs.org/en/latest/extended_workflow/#debugging :-)

[2016-04-10 14:37] tmarble commented on #1462
@bbatsov Благодаря!!!

[2016-04-10 17:07] w01fe commented on #1642
Thanks for the context, I think I understand now -- so the debugger effectively works on the form before macroexpansion, and it's the mere presence of the schema forms (not the checking code they expand into) that are causing the problem?  Makes sense now that I think about it, since I guess stepping through a macroexpansion would not be especially illuminating.

In that case, it seems like doing

[2016-04-10 19:18] Malabarba commented on #1462
@tmarble indeed. The man page should always contain everything. And we try to keep the debugger features easily discoverable.

[2016-04-10 21:52] maksr commented on #1305
I upgraded to cider 0.11.0 from cider 0.8.2 and now C-c M-c breaks similarly as above:
[code]
I tried to step through `cider-connect` but when I instrument it for edebug with C-u C-M-x, it works. If I then de-instrument it with C-M-x, it works until restart of Emacs. So this is my workaround until better times.

[2016-04-10 22:16] Malabarba commented on #1305
That's a spot on sign of badly compiled code.

Delete cider, upgrade all your packages, restart emacs, install cider.

[2016-04-10 22:42] Malabarba commented on #1642
Sort of... The debugger actually acts after macro expansion, but it does a lot of work before and after macroexpansion in order to be able to identify how the macroexpanded code relates to the original user-written code. This way it can step through the user-written code, but only has to worry about understanding macroexpanded code (which has no macros and only a dozen or so special forms). For in

[2016-04-11 08:04] maksr commented on #1305
Thank you, it was really the case.

[2016-04-11 09:24] w01fe commented on #1642
That's very helpful, thanks!

Schema does not currently add any metadata to the arglist schemas, but we would be very happy to accept a patch that does so.  (I'm not currently set up to check that it works with the debugger).

I think the three places to do it are:

https://github.com/plumatic/schema/blob/master/src/clj/schema/macros.clj#L142
https://github.com/plumatic/schema/blob/master/src/clj/

[2016-04-11 16:36] Malabarba commented on #1642
Thanks @w01fe!
I'll add this to my TODO list and we'll see how it goes.

[2016-04-11 18:13] mgrubb opened #1664 "eldoc not working for certain core functions"
This could be related to #1358 but I'm not using CLJS in this project.

## Expected behavior
When point in in/on s-exp shows function params in mini-buffer for clojure.core functions.

## Actual behavior
Only some clojure.core functions (e.g. let, def, loop, if and others) show argument info in minibuffer, others show nothing.  Also If I use C-c C-d C-d I'm prompted for a symbol when I enter the s

[2016-04-11 18:24] bbatsov commented on #1664
Have you loaded the buffers in question (e.g. with `C-c C-k`)? None of the functionality related to symbol resolution works, if some namespace isn't actually loaded.

[2016-04-11 18:28] mgrubb commented on #1664
Yep, that seemed to fix it, sorry for the bogus report.

[2016-04-11 19:00] #1664 closed

[2016-04-11 21:35] j0ni opened #1665 "cider-jack-in fails with an error when leiningen is in pedantic mode"
## Expected behavior

`cider-jack-in` should start a new repl and not introduce any dependency collisions that may break in with leiningen's `:pedantic? :abort` setting.

## Actual behavior

`cider-jack-in` fails with the following error:

[code]

## Steps to reproduce the problem

I have the following `project.clj`:

[code]

I invoke `cider-jack-in`, and the following error appears in my `*Messag

[2016-04-11 22:25] Malabarba commented on #1665
I guess we should  add `:exclusions [org.clojure/clojure]` to the `tools.nrepl` artifact we inject. The least we can do is inject the same thing we're depending on. :smile:

[2016-04-12 06:26] #1643 closed

[2016-04-12 07:03] bbatsov commented on #1665
Btw, also see http://cider.readthedocs.org/en/latest/caveats/#injecting-dependencies-and-leiningen-pedantic-abort-mode

[2016-04-12 09:41] benedekfazekas commented on #1665
this seems to be a duplicate of #1573

[2016-04-12 09:58] benedekfazekas commented on #1665
@Malabarba strangely I don't think adding the `:exclusions` fixes the problem.

[2016-04-12 10:05] expez opened #1666 "cider-find-var doesn't work for all java classes"
[code]

Not entirely sure what's special with `Period`. Jumping to e.g. `java.lang.Exception` works fine.  Perhaps it's that it's in a jar.

[code]

[2016-04-12 10:09] expez opened #1667 "Random error in cider--help-echo"
My `*messages*` buffer is filled with this stuff:
[code]

Toggling debug on error doesn't provide a stacktrace so I'm just reporting this in the hope that it can be found by inspection.

[code]

[2016-04-12 10:13] expez opened #1668 "cider-help-echo prompts for disambiguation"
I don't want prompts for disambiguation created when cider-help-echo can't figure out which var/class to display documentation for.  This should be best effort imo.  I didn't even notice the prompt until I was done moving my mouse around and tried to resume work and found myself typing into a prompt.

[code]

[2016-04-12 10:35] radirk opened #1669 "Symbol's value as variable is void: find-tag-marker-ring"
## Expected Behavior

## Actual Behavior
error in process filter: cider-handle-compilation-errors: Symbol's value as variable is void: find-tag-marker-ring

## Steps to reproduce the problem

Occurs at all eval commands after successful cider-jack-in e.g.
C-c C-k
C-x C-e
Eval/compilation works but M-. is not working (prompt Symbol:). Obviously the find-tag-marker-ring is not filled as it's void.

[2016-04-12 11:09] vandr0iy opened #1670 "Unable to cider-jack-in from emacs, lein repl works fine"
![screenshot_2016-04-12_12-59-39](https://cloud.githubusercontent.com/assets/5510334/14458125/74a53b2c-00af-11e6-9a3b-4a363edcc7ca.png)
Good morning,

I just updated my cider from 0.8.1 (because it did not match nrepl's version, which was the 0.12.0-SNAPSHOT
![screenshot_2016-04-12_12-59-39](https://cloud.githubusercontent.com/assets/5510334/14458125/74a53b2c-00af-11e6-9a3b-4a363edcc7ca.png)

) an

[2016-04-12 11:57] expez commented on #1670
This is a problem with your config.  Grep it for `global-rainbow-delimiters-mode` and fix whatever the problem is.  Most likely that function is called in a hook and it either doesn't exist at all or the package owning that symbol hasn't been loaded yet.

[2016-04-12 13:35] Malabarba commented on #1668
Oops. I'll make a patch for this.

Meanwhile, do you know which situations lead to ambiguity?

[2016-04-12 13:36] vandr0iy commented on #1670
I just removed this line (apparently responsible for having the rainbow parentheses globally in emacs whenever it starts), but when I try to start cider it starts only the lein server. This is what emacs messages say about it:

Starting nREPL server via lein update-in :dependencies conj \[org.clojure/tools.nrepl\ \"0.2.12\"\] -- update-in :plugins conj \[cider/cider-nrepl\ \"0.12.0-SNAPSHOT\"\] --

[2016-04-12 13:44] #1667 closed

[2016-04-12 13:44] #1668 closed

[2016-04-12 13:57] Malabarba commented on #1670
Nope. That message is saying everything is fine. “Direct connection established” means we've connected to the server (a.k.a., “started a REPL”).

If you still don't see a REPL buffer, maybe it's a bad compilation issue. Try removing CIDER, updating your packages, restarting Emacs, and installing CIDER again.

[2016-04-12 14:24] vandr0iy commented on #1670
Oh... thanks, malabarba! It worked. The issue relative to the global-rainbow-parentheses-mode persists, and I have no idea on how to reenable it, but that's not CIDER's fault.
Thank you very much!

[2016-04-12 14:34] #1670 closed

[2016-04-12 14:46] alexander-yakushev opened #1671 "On-hover tooltips make mouse navigation laggy"
This new feature is nice, but because of the latency from requesting the tooltips, my first or even subsequent clicks are swallowed or significantly delayed.

## Expected behavior

When I click on a symbol of a function, the cursor should move there immediately.

## Actual behavior

The click is often swallowed, or the cursor transition is delayed.

## Steps to reproduce the problem

Move the mous

[2016-04-12 14:47] harold opened #1672 "A way to specify a default for "Which command should be used?" in `cider-jack-in`"
## My thought

1) When I do `M-x cider-jack-in` (`C-c M-j`) I am presented with a minibuffer saying:

`Which command should be used?` ... I believe this is because our team semi-recently put some boot scripts along side our project.clj.

It would be nice if I could set an elisp variable, or some other mechanism, to force always `lein` there, to remove one-last enter-key press before the repl start

[2016-04-12 17:50] bbatsov commented on #1669
I'll take care of this.

[2016-04-12 17:53] #1669 closed

[2016-04-12 18:13] bbatsov commented on #1666
Likely the source jar is not on the classpath.

[2016-04-12 18:15] bbatsov commented on #1671
Guess we should display those in an async manner. Not sure if there are other options we might explore.

We should probably add an option to disable this functionality as well.

[2016-04-12 18:17] Malabarba commented on #1665
Then I'm out of ideas. :-(

[2016-04-12 19:21] #1671 closed

[2016-04-12 19:22] Malabarba commented on #1671
Pushed a change that should fix this. Please let me know if it helped, or I'll look for another solution.

[2016-04-12 20:44] Malabarba commented on #1596
Sorry nobody replied before. Indeed the workaround above is the only known solution.

Closing as a duplicate of #1462.

[2016-04-12 20:44] #1596 closed

[2016-04-12 20:47] kirang89 opened #1673 "Cider exception keeps popping up after upgrade"
## Actual behavior
[code]
## Steps to reproduce the problem

This error started popping up after upgrading to the latest version

## Environment & Version information

### CIDER version information

[code]

### Emacs version

GNU Emacs 24.5.1 (x86_64-apple-darwin14.1.0, Carbon Version 157 AppKit 1344.72)

### Operating system

OS X 10.11.4 "El Capitan"

[2016-04-12 20:50] bbatsov commented on #1673
When exactly are you getting the errors? Can you also paste the complete stacktrace?

[2016-04-12 20:51] kirang89 commented on #1673
Here you go:

[code]

[2016-04-12 20:54] kirang89 commented on #1673
Update: It looks like this error occurs only when I move my mouse within the buffer. Just using the keyboard does not cause any problems. Is this because of a conflict with some other package?

[2016-04-12 20:54] bbatsov commented on #1673
Its related to a new feature we've recently added. @Malabarba recently pushed a fix for this problem.

[2016-04-12 20:55] kirang89 commented on #1673
So, should I silence the error for now?

[2016-04-12 20:58] bbatsov commented on #1673
Yes. This should have handled the problem - https://github.com/clojure-emacs/cider/commit/21b8e625d2199799887b5ecd608fcf2dd2af2d0b

Maybe the package on MELPA is a bit outdated right now.

[2016-04-12 21:01] kirang89 commented on #1673
I see. FYI, `20160412.644` is the current version on melpa.

[2016-04-12 21:04] kirang89 commented on #1673
**Off topic**: I'd love to help Cider in any way possible. Although I've been using Emacs for a while now, I haven't gotten a chance to dive into elisp yet. I'm fairly new to Clojure. If there is still someway I can contribute, I'd be more than happy to do so :)

[2016-04-12 21:19] Malabarba commented on #1673
@kirang89 Reporting issues helps a LOT (thanks, btw).
In particular, playing around with new features, or playing around with everything around the time of each release, both help a TON.

[2016-04-12 21:21] Malabarba commented on #1673
By the way, this is the commit that fixed this issue: https://github.com/clojure-emacs/cider/commit/b1fa301d9561754bca3c37a0326b500224280009

It was only a couple of hours ago, so Melpa should be releasing it any minute now.

[2016-04-12 21:27] kirang89 commented on #1673
@Malabarba Point noted. Thank you and @bbatsov for all the info :)

[2016-04-13 03:49] xiongtx opened #1674 "CIDER Hydras"
@bbatsov

I've created a repository [here](https://github.com/xiongtx/cider-hydras) for CIDER hydras, as mentioned in issue #1411.

I can't push against [the one you created](https://github.com/clojure-emacs/cider-hydra) because I'm not a member of this group.

Let's see if this is closer to what we want before submitting it to MELPA. In particular, I haven't added any key bindings except for the

[2016-04-13 08:20] expez commented on #1666
This happened with `org.joda.time.Period` IIRC. Does it not work because that jar is pulled in by `clj-time`?

[2016-04-13 10:43] kirang89 commented on #1673
I've tested it with the latest build and found no problems :) Closing this issue. Thanks guys!

[2016-04-13 10:43] #1673 closed

[2016-04-13 20:58] bbatsov commented on #1674
Sorry about this. I've granted you commit access to the repo.

We can at least suggest some keybindings.

[2016-04-13 21:00] bbatsov commented on #1674
P.S. You should probably add some animated gif to the readme and mention the new package in cider's manual.

[2016-04-13 22:42] bbatsov commented on #1672
This makes sense. We can certainly do it.

[2016-04-13 23:20] Malabarba commented on #1672
I'm think we could change the prompt to something like this:

If the user holds shift, we save the choice to a custom variable.

They can make CIDER “forget” the choice by invoking `cider-jack-in` with a prefix argument.
The prefix argument is already used as “prompt for the project”, but I think it makes sense to extend it to “prompt for things”.

[2016-04-13 23:54] bbatsov commented on #1672
Interesting idea, although it's not something I've seen so far in Emacs (the "hold shift" part at least).

[2016-04-14 00:48] Malabarba commented on #1672
Yeah. It would at least let us avoid an extra prompt, and probably make things easier for everybody.

[2016-04-14 12:48] maksr opened #1675 "Disconnect without closing the bufer"
Would it be (or is it) possible to disconnect a `*cider-repl...*` buffer from the server without closing the buffer? In other way, making a zoombie nrepl buffer without shutting down the server.
May be it's possible to break the connection in some way in Emacs, but I'm not aware of it.

[2016-04-14 12:59] Malabarba commented on #1675
You can kill the `*nrepl-server ...*` buffer. That will kill the connection without killing the repl buffer.

[2016-04-14 14:57] maksr commented on #1675
I'm sorry, I don't see such a buffer. My Cider version is 0.11.0.
I start the session with `cider-connect`, not `cider-jack-in`.

[2016-04-14 15:01] Malabarba commented on #1675
Ah. Indeed, cider-connect doesn't have a server buffer. I'm afraid there's no good way to get what you're asking for.

If you want to preserve the buffer's content, you can save it to a file (`C-x C-s` or `C-x C-w`).
If you want to preserve the history, you can turn on history saving with `cider-repl-history-file`.

[2016-04-14 15:42] maksr commented on #1675
I see recent versions of cider can nicely reuse the zoombie repl buffer, so I thouhgt it should not be difficult to get what I want. After a little digging it seems the following
[code]
does it.

[2016-04-14 15:49] Malabarba commented on #1675
Great! Guess it shouldn't be hard to make that into a command.

[2016-04-14 16:02] maksr commented on #1675
It would be fine if the comand were among Cider builtin commands, maybe as `cider-repl-disconnect`.

[2016-04-14 16:13] Malabarba commented on #1675
Sorry for the accidental close.
While such a command would be fine, it can't be implemented that way. It would have to be a little more respectful to the connection and do something like what `cider--close-buffer` does.

[2016-04-14 17:11] thomas-morgan opened #1677 "REPL doesn't interpret carriage return"
I entered `(println "foo\rbar")` in the Cider REPL, hoping to see

[code]

Instead I saw

[code]

This breaks progress bars among other things, as reported here: <http://stackoverflow.com/questions/34649151/progress-indicator-bar-auto-changed-line-in-cider-nrepl-buffer/34651898#34651898>.

For comparison, `(display "foo\rbar\n")` displays `bar` in the REPL started by `run-guile`.

## Environment &

[2016-04-14 17:35] typedeph opened #1678 "cider-nrepl not installed"
I'm not sure if I'm duplicating a previous issue. If I am please direct me to the issue I can post to.

I just installed Cider from melpa-stable using list-packages. It doesn't work for any configuration I've tried using cider-jack-in. A clean install leads to:
[code]
I tried it first not having a profiles.clj profile at all as the docs say:

[code]
and I've tried adding a profiles.clj as pre-0.11

[2016-04-14 18:09] bbatsov commented on #1678
Are you inside your project when doing `cider-jack-in`?

[2016-04-14 21:51] grammati opened #1680 "Debugger appears to step through commented-out forms"
When forms are commented using `#_`, the debugger makes it looks like they are still being evaluated.

Example: debugging this function

[code]

the point is placed inside the `(dec x)` form when showing the values of the `(inc x)` form.

[2016-04-14 23:25] typedeph commented on #1678
I believe so but correct me if I am wrong since I am a clojure newbie. The file is a local clone of this repo: https://github.com/clojuredatascience/ch1-statistics/blob/master/src/cljds/ch1/core.clj. In the local copy is where I am doing cider-jack-in

[2016-04-14 23:32] typedeph commented on #1678
I apologize for opening this issue, it seems that the project.clj was hijacking the defaults I was expecting. I realized this after creating a fresh app template with leiningen. I should have inspected the project.clj file and updated the clojure version.

[2016-04-14 23:32] #1678 closed

[2016-04-15 16:10] hexa00 opened #1681 "cider-debug-defun-at-point not asking for input ? , not working at all.."
I have a clojure file open then use cider-jack-in to start cider.

I can see I have the cider-mode enabled, most functions work.

If I try to use C-u C-M-x however to instrument and start a debug session, I see a red square on the function name but in the minibuffer all I see as the name of the function being returned.

Then nothing happens...

I would expect the form to start evaluating and the d

[2016-04-15 16:55] Malabarba commented on #1681
You have to actually run the function after instrumenting it. :-)

Just evaluate some code that calls the function.

[2016-04-15 17:04] hexa00 commented on #1681
That does not seem to help.

Evaluating the function with C-c C-c does not start the debug.

Evaluation a function calling this function with C-c C-c does not either...

Am I doing it wrong?

Thanks,

[2016-04-15 17:07] hexa00 commented on #1681
Hoo If I call it directly in the repl it works !! :)

But there's no cider keybinding for that or ?

[2016-04-15 18:51] Malabarba opened #1683 "Test failure overlay is put on the wrong place if the assertion is not at the start of the line."
Run this test:

[code]

The red overlay is placed on the `when`, not the `is`.

Similarly, on this situation:

[code]

The overlay is only placed on the first `is`.

[2016-04-15 23:03] bbatsov commented on #1681
You'll have to have a function invocation in the source buffer and evaluate it (e.g. with `C-c C-c`). As most functions take some params you can't just run a function without supplying the params, so there's no command to evaluate a definition and run the resulting function.

[2016-04-15 23:08] hexa00 commented on #1681
Right makes sense:)
Thanks for the clarifications !

[2016-04-15 23:08] #1681 closed

[2016-04-15 23:47] Malabarba opened #1684 "Give users some indication of the fact that the ns isn't loaded"
Just a record of a conversation we had on Gitter, so we don't forget about it.

[2016-04-15 23:49] #1548 closed

[2016-04-15 23:54] Malabarba commented on #1462
Ok. Since the fixed has been merged into boot master, I'm closing this issue. We should have a definitive fix when 2.6.0 comes out.

[2016-04-15 23:54] #1462 closed

[2016-04-16 03:42] #1444 closed

[2016-04-16 03:42] Malabarba commented on #1444
This is now implemented.

[2016-04-16 06:27] nybbles commented on #961
@bbatsov hm im running into this too, googled through a bunch of different threads - uninstalled these packages, moved to MELPA Stable, but I still get the following when using clojure-jack-in.

[code]

[2016-04-16 15:01] bbatsov commented on #961
You should check that you've got nothing cider-related in `profiles.clj` and that your leiningen version is recent (e.g. 2.6).

[2016-04-16 17:07] bbatsov opened #1685 "Simplify the keybindings in the macroexpansion buffer"
There's no need to have people press `C-c C-m` and `C-c M-m` there. We should replace those with single keystrokes. I have no idea what we were thinking originally.

[2016-04-17 17:39] futuro opened #1686 "Using a number for "port" in cider-known-endpoints throws error"
I recently ran into an issue where how I formatted my `cider-known-endpoints` stopped cider-connect from working, and it was really opaque why. The short of it is that `mapconcat` inside of `cider-string-join` doesn't like trying to parse int's, and want's a sequence instead. When you view the docs for cider-known-endpoints, it shows an example with the port in quotes, but it doesn't warn the user

[2016-04-17 18:48] #1686 closed

[2016-04-17 18:51] Malabarba commented on #1686
I've tuned the defcustom so you can't make that mistake from the customize-menu, and I've added an error message that should be more informative.

[2016-04-17 22:04] Malabarba opened #1687 "Should load-buffer undefine any previous defs in that namespace?"
`cider-load-buffer` currently just sends the entire file to be evaluated. If the file had already been loaded with some functions that have since been removed, these old functions stick around in the repl state. This can easily lead to invalid code as the user can leave around some calls to that function without realising it.

Should load-buffer undefine everything from the namespace before loadin

[2016-04-17 22:05] Malabarba commented on #1687
Now that I've written it, I guess the twodrawbacks are not worth the benefit. But I'd like to hear what others think.

[2016-04-18 00:04] nybbles commented on #961
Hm actually I found that "lein new" created a project with Clojure 1.6.0.
Once I changed that to 1.8.0, everything seems to work perfectly. Thanks!

On Sat, Apr 16, 2016 at 8:02 AM Bozhidar Batsov <notifications@github.com>
wrote:

[2016-04-18 07:08] jorgeu opened #1688 "Seattle release can't find lein.bat in Windows 10"
## Expected behavior

cider-jack-in finds lein.bat in c:/Windows/System32/lein.bat

## Actual behavior

The lein executable (specified by `cider-lein-command' or `cider-boot-command') isn't on your `exec-path'

## Steps to reproduce the problem
Install Emacs 24.5 in Windows 10
configure melpa-stable
install cider
open .clj file
Download latest lein.bat
copy lein.bat to c:\windows\system32
in Emacs

[2016-04-18 15:57] bbatsov commented on #1688
Likely this folder is not on your `exec-path` and you'll have to add it there manually.

[2016-04-18 17:25] lianxiangru opened #1689 "Show which form has been evaluated"
Thanks for creating cider. It is really a great tool!

Recently I find sometimes it is a little time wasting to figure out which forms have been sent to the REPL/evaluated and which forms have been changed since last sending.

One possible way to overcome it could be keeping showing the results evaluated, like what is done in proto-repl of atom editor:

![ss](https://cloud.githubusercontent.com/as

[2016-04-18 17:42] Malabarba commented on #1689
I think it might be possible (and not too difficult) to display a green dot on the fringe at the left of the form start. @bbatsov WDYT?

[2016-04-18 17:48] expez commented on #1689
How about also briefly flashing an overlay, like those we use in cljr, over the evaluated form?

[2016-04-18 17:53] Malabarba commented on #1689
IIUC, the point is to have a semi-permanent reminder that this has been evaluated (of course it would have to be removed if the form changes).

[2016-04-18 18:01] expez commented on #1689
I got that, but I it made me think of another cool thing we could do :p

[2016-04-18 18:07] Malabarba commented on #1689
Ah yes. In that case I'm all for it. :-)

[2016-04-18 18:08] bbatsov commented on #1689
Doesn't `eval-sexp-fu` do this already? I thought of adding some eval effects to CIDER but I decided that probably it's better to just use the existing package. I know there's some CIDER adapter for `eval-sexp-fu`, but I've never used it myself (looking at the download stats - few people have).

[2016-04-18 18:13] bbatsov commented on #1689
I like this (and `eval-sexp-fu` definitely doesn't do this). Although some people might prefer an overlay applied to the form that was evaluated. Btw, we can also change the colour based on whether the evaluation was successful or not.

[2016-04-18 18:33] lianxiangru commented on #1689
In my opinion it's better to not remove the reminder, but make a reminder that they are out of date, since an older version of them has been in the namespace.

Also, keeping the result of the form visible could be helpful.

[2016-04-18 18:41] bbatsov commented on #1689
That'd be both hard and confusing IMO, so I'd rather not go into such extremes. I guess you're thinking that'd be great for definition, but there plenty of other forms you can evaluate and it gets pretty sketchy when you factor them in.

[2016-04-18 18:49] lianxiangru commented on #1689
I see your point. Yes it will be neater to just remove the reminders on edited forms. What do you think about showing the results of the form compared with showing an indicator of whether it is evaluated?

[2016-04-18 21:31] Malabarba commented on #1689
@lianxiangru You can set `cider-eval-result-duration` to nil and the overlays will stick around permanently.

[2016-04-18 21:48] lianxiangru commented on #1689
@Malabarba Thank you. That helps, though it does not disappear after the form is modified.
Given that, probably an indicator/reminder is enough.

[2016-04-18 22:16] Malabarba commented on #1689
That should be fixed now.

[2016-04-18 22:26] lianxiangru commented on #1689
@Malabarba That works! Thank you!

[2016-04-18 23:58] xiongtx commented on #1541
Isn't `cider-apropos-documentation-select` exactly the same as `cider-apropos-documentation`?

Below is `cider-apropos-documentation-select`:

[code]

And `cider-apropos-documentation`:

[code]

[2016-04-19 00:02] lianxiangru opened #1692 "Set the max length of the eval result"
Could the maximum length of the eval result be set to a value? Sometimes the result is extremely long, for example the result is the body of a webpage
![ss](https://cloud.githubusercontent.com/assets/8991941/14623453/61abeb38-05a0-11e6-8c3d-3248bf7e21ea.png)
It would be helpful if the length could be limited.

[2016-04-19 02:34] xiongtx opened #1693 "Helm interface to CIDER"
@bbatsov Can you create a `helm-cider` repository for me? I want to take a crack at addressing #1059 and #1541.

Better yet, can you give me the ability to create it myself?

[2016-04-19 03:59] jorgeu commented on #1688
![image](https://cloud.githubusercontent.com/assets/965419/14627351/5e152162-05a8-11e6-8cd1-1be12b52e7a6.png)

[2016-04-19 06:32] bbatsov commented on #1541
Ops. I've made a silly copy-paste mistake. I've just fixed it.

Thanks for bringing this up!

[2016-04-19 06:38] bbatsov commented on #1693
Done. You've got the power! :-)

Btw, I was wondering if it won't be easier/more convenient to have such packages in a contrib folder of the main repo and just distribute them as separate packages on melpa. This would make updates easier and will make it harder for a package to go out of sync with cider. On the other hand - it will also make it impossible to release stable versions of these packag

[2016-04-19 09:01] maio opened #1694 "cider-jack-in doesn't seem to work with cljx (quickfix included)"
## Expected behavior

When I'm using CLJX plugin in my project (i.e. I have `[com.keminglabs/cljx "0.6.0"]` in `project.clj :plugins`)
And I run `cider-jack-in`
And I try to load cljx file via `cider-load-buffer`
I expect it to load the file successfully

## Actual behavior

I get `CompilerException java.lang.RuntimeException: No reader function for tag +cljs` error

## Environment & Version infor

[2016-04-19 13:28] Malabarba commented on #1694
Are you absolutely positive that quickfix works? If so, maybe it's a leiningen bug.
=/

[2016-04-19 14:42] bbatsov commented on #1692
Ideally we should add some folding, instead of just cutting this up to some length. Maybe down the road we also add the ability to expand nested arrays/maps/sets.

[2016-04-19 14:53] Malabarba commented on #1692
The problem is that it's impossible to click on that overlay. It's really an `after-string

[2016-04-19 14:54] Malabarba commented on #1692
The problem is that it's impossible to click on that overlay. What you see there is not really the overlay, it's just an `after-string` property.

Of course, we can truncate it. I'm just saying there's no good way to make it expandable.

[2016-04-19 15:05] lianxiangru commented on #1692
Folding is definitely way better than just cutting them, while we can simply cut them before we have the folding functionality to solve the problem to some extent :)

Could be folding them at the first place and then expanding them in another buffer if the expanding keystroke is received a good solution? In that way we can make the interaction part in another buffer without using the overlays.

[2016-04-19 16:24] Malabarba commented on #1694
Actually, maybe we can just replace that conj with something that ensures a vector.

[2016-04-19 19:36] bbatsov commented on #1692
Maybe. I'll defer to @Malabarba for this, as his our overlays master.

But at any rate - I'm fine with adding some limit after which overlay results get truncated.

[2016-04-19 19:59] lianxiangru commented on #1692
Great! Thank you all :+1:

[2016-04-19 22:06] phillord commented on #1650
If I may be permitted a plug, I've been working an http://github.com/phillord/assess which provides a set of stateless predicates (and ert-explainer functions, although you are perhaps less interested in that).

[2016-04-19 22:17] bbatsov commented on #1688
What's the result of running `(executable-find "lein")` or `(executable-find "lein.bat")`?

[2016-04-20 01:24] dpsutton opened #1698 "warn when clojure version is not supported"
## Expected behavior

Cider only currently supports clojure versions 1.7.0 and 1.8.0
It would be preferable if the following was displayed when using cider with older versions of clojure:
![image](https://cloud.githubusercontent.com/assets/6377293/14660402/b205712e-066a-11e6-8ed8-b7dd4f56c79b.png)

I've created a fork and I've got some of the functionality going. I'm putting this in inside of the

[2016-04-20 02:34] dpsutton commented on #1698
I've got the following to visit the files, but its not quite right and I'm not sure what the issue is:

    (defun cider--try-open-project-file-for-clojure-version (file)
      "Given a project FILE, try to open it and determine if there is a clojure
      version in it."
      (let ((filename (concat (clojure-project-dir (cider-current-dir)) file)))
        (when (file-exists-p filename)

[2016-04-20 02:54] Malabarba commented on #1698
Your save-excursion is inside the insert-file-contents. That's why it's not working.

Also, use expand-file-name instead of concat.

[2016-04-20 03:13] dpsutton commented on #1698
Ah thanks @Malabarba. Just figured out the save excursion.
I've switched to expand-file-name. As it stands, the feature is now working correctly. You can see the commits if you like over at [github:dpsutton/cider](https://www.github.com/dpsutton/cider).  As it stands now, if the clojure version is too low, it prints both the previous nrpel cryptic message as well as the message about the mismatch

[2016-04-20 03:15] dpsutton commented on #1698
![image](https://cloud.githubusercontent.com/assets/6377293/14662486/33c7e5aa-067c-11e6-9e11-70e77bf9926a.png)

[2016-04-20 03:28] jorgeu commented on #1688
Both `nil`

Double checked the file can be read and executed by the user.
![image](https://cloud.githubusercontent.com/assets/965419/14662661/42f4adce-066d-11e6-821f-7c78c2695d04.png)

[2016-04-20 04:27] dpsutton commented on #1698
Ok. I've updated my repo to be a fork (according to github) of this one. I'm conflicted about what to do about the above output: should the nrepl warning be visible? should it show a different message when clojure version mismatch also exists?

I might dig around and see where i can find cider-nrepl's version number being returned as nil before submitting a pull request.

Also I wasn't sure what t

[2016-04-20 08:15] xiongtx commented on #1693
Actually, GitHub still says that I have insufficient permission to create a new repository.

![cider-1693](https://cloud.githubusercontent.com/assets/1624090/14667630/cb0e296e-06a5-11e6-8df6-88349e179532.png)

Putting projects in a `contrib` folder is the route that [SLIME](https://github.com/slime/slime/tree/master/contrib) has chosen to go, but SLIME's been around a lot longer and its contrib pa

[2016-04-20 15:15] fgiasson opened #1699 "CompilerException java.lang.RuntimeException: Method code too large! when debugging"
Since version `0.11.0` and still with `0.12.0` I am often getting this error message when debugging:

  `CompilerException java.lang.RuntimeException: Method code too large!`

Well, the error message is obvious, but I am wondering why it started to happen (never encountered it with version `0.10.0`).

I am wondering if this is something new, and what is a function that is too large (how is this de

[2016-04-20 17:33] Malabarba commented on #1699
Is this happening consistently? What are the functions like?
I've run into this problem once or twice, but usually on very large functions.

[2016-04-20 17:45] fgiasson commented on #1699
@Malabarba yes, consistently with specific (longer) functions. However I am really wondering how is "a long function" defined :)

My functions doesn't appears to be particularly large, except if it includes other things that I am not aware in the calculation of the size.

Also, do you know if this is something that has to do with the latest version or is this something I didn't encounter before?

[2016-04-20 17:54] Malabarba commented on #1699
I think only The Source could tell us that. :-)

Macros could make functions much larger than they appear. But it's also unclear to me exactly when that happens.

No, it's always been around. But it's possible that the current version has made the problem worse.

[2016-04-20 17:56] fgiasson commented on #1699
@Malabarba ok good to know.

Do you know what what returns this exception?

[2016-04-20 18:15] fgiasson commented on #1699
@Malabarba tell me if I am wrong, but probably that the debugger is getting the function's code, and then maybe add stuff to it and then compile it for debugging purposes (this is probably the instrumentalization process).

I can buy that this may happen when instrumentalizing relatively large functions. However, I am wondering why this would happen when using a `#break` or a `#dbg` in a small por

[2016-04-20 19:07] Malabarba commented on #1699
Yeah, it's really strange that it happens with `#break`. Break only adds a single macro to the function.
However, the instrumentation process also adds a ton of metadata to everything, so maybe that's the cause.

Perhaps we can solve this by clearing some of the metadata before evaluation.

[2016-04-20 19:22] fgiasson commented on #1699
@Malabarba Yeah this is what I thought about `#break` but obviously there seems to be an issue with it. If we can get this to work with `#break` and maybe with `#dbg` for small subsets, then I don't think this issue would be a real one. But not having any of these options comes an issue in my view.

You mean, when doing the instrumentation? I don't think it would even be necessary if we can get `#

[2016-04-20 21:00] Malabarba commented on #1699
Yes, that's what I meant. Clearing the metadata might be a way to fix `#break`. I'll cook up a snippet and ask you to run it, is that ok?

[2016-04-20 22:03] Malabarba commented on #1698
(Just to keep this issue in sync with the State of things) There was a conversation on slack and we figured it's better to just eval `*clojure-version*` after connecting.

[2016-04-20 22:04] bbatsov commented on #1693
Try again. Seems I forgot to click "save settings". :-)

[2016-04-20 22:06] bbatsov commented on #1674
I also think we need one hydra to navigate to the other other hydras. I'm not an expert, but the idea to have a single point of entry for all commands sounds appealing to me.

[2016-04-20 23:06] dpsutton commented on #1698
ah ok. I'll change it tonight. About to get off from work.

[2016-04-21 00:00] dpsutton commented on #1698
@Malabarba on slack, it looked like @bbatsov was saying that

@malabarba: The problem is that you can’t really check the version this way

[4:53]
as the middleware will blow up before you can evaluate any code...

Is he saying that if you're worried about invalid state in your middleware, you can't use it to query which version of clojure you are running?

[2016-04-21 00:27] #1692 closed

[2016-04-21 00:27] Malabarba commented on #1692
Truncation done. And an inspection command has been added for this purpose.

[2016-04-21 00:37] Malabarba commented on #1698
I'm not sure. But I just tested it locally and evaluation does work. The CIDER middleware blows up, but tools.nrepl (which provides evaluation) still works.
So evaluating `*clojure-version*` works fine and returns `{:major 1, :minor 6, :incremental 0, :qualifier nil}`.

Now that I see it, I think the easiest approach would be to evaluate `(>= (:minor *clojure-version*) 7)` and check that the `valu

[2016-04-21 01:22] dpsutton commented on #1698
I ran into that issue of `*clojure-version*` returning the map so i found that `(clojure-version)` returns the string (actually `"\"1.8.0\"'` so i strip out the escaped ones). I've got the pull request up and its much simpler than before. includes the pull request checklist as well

[2016-04-21 01:39] xiongtx commented on #1693
Thanks. I've created the [helm-cider](https://github.com/clojure-emacs/helm-cider) repository.

[2016-04-21 01:39] #1693 closed

[2016-04-21 01:43] xiongtx commented on #1541
@martintrojer Can you try out [Helm CIDER](https://github.com/clojure-emacs/helm-cider)? This issue was the motivation this (not-yet-released) package, and Helm CIDER apropos is the first feature.

[2016-04-21 04:49] dpsutton commented on #1698
Hmm. that information doesn't seem to be populated. I'm not sure how that value is set.

    (defun cider--clojure-version ()
      "Retrieve the underlying connection's Clojure version."
      (with-current-buffer (cider-current-connection "clj")
        (when nrepl-versions
          (thread-first nrepl-versions
            (nrepl-dict-get "clojure")
            (nrepl-dict-get "version-string")

[2016-04-21 05:07] dpsutton commented on #1698
Updated with both of your suggestions and we are good to go.

[2016-04-21 05:31] #1698 closed

[2016-04-21 11:49] fgiasson commented on #1699
@Malabarba sure any time! Thanks.

[2016-04-21 12:05] yveszoundi commented on #1688
@jorgeu , setting `cider-lein-command` to the full path of the lein command *should* work under Windows.

Have you tried the following?
[code]
Alternatively, you could customize the variable in your `custom-file`:
`M-x customize-variable RET cider-lein-command`

[2016-04-21 14:33] dpsutton commented on #1685
Have you got ideas for the key bindings? currently they are:

    (define-key map (kbd "g") #'cider-macroexpand-again)
    (define-key map (kbd "q") #'cider-popup-buffer-quit-function)
    (define-key map (kbd "d") #'cider-doc)
    (define-key map (kbd "j") #'cider-javadoc)
    (define-key map (kbd ".") #'cider-find-var)

There are macroexpand-1, presumably to `m` and macroexpand-all to `a` perhap

[2016-04-21 15:21] bbatsov commented on #1685
We can probably also add some keybinding for using `macroexpand` (instead of `macroexpand-1` or `macroexpand-all`. I'd also make `h` display the help as well as `?`.

[2016-04-21 15:30] dpsutton commented on #1685
I'm not sure that i see a function called `cider-macroexpand`. Is this some type of do what i mean function somewhere or is it the `macroexpand` function written in c in eval.c?

Do you know of a good utility to display the keymappings? I'd like to not reinvent the wheel here and I'm sure there's a good way to do it. Which-key requires a prefix which we have eliminated. I really like the debugger

[2016-04-21 16:58] bbatsov commented on #1685
`cider-macroexpand-1` uses `macroexpand` when invoked with a prefix argument. I still wonder if this was a good idea or not, but it's not a big deal.

The debugger is special, as it's active in source buffers. There's no need to display anything in special buffers - every Emacs user would know to pressess `?` or `h` to see what's available there.

[2016-04-21 17:02] bbatsov commented on #1688
I'm not very familiar with Windows, so I can really suggest how to debug this properly. The `exec-path` seems correct, but probably something else is not; otherwise `executable-find` would work. Guess you can drop this file in another folder and add it explicitly to the `exec-path`. Or do what @yveszoundi suggested.

[2016-04-21 20:23] Malabarba commented on #1547
Sorry it took me so long.
See if this works:

    (defadvice cider--pprint-eval-form (after increase-size)
      (text-scale-adjust 2))

[2016-04-21 20:38] dpsutton commented on #1672
We talked about this in slack. Thinking so far (and this is by no means binding or the "right" answer):

Have a single defvar that holds the preferred lein or boot, set to nil and must be explicitly set. When there are multiple build systems identified, check to see if the resolution strategy (this variable) is set. If so, use this one, otherwise do the current behavior which is to ask the user.

[2016-04-21 20:53] Malabarba commented on #1672
Sounds good! Just 3 small changes:

[2016-04-22 10:31] expez opened #1707 "Break the text in the error field of cider-test-error-report"
Here is an example of how the error of a failing test:

![image](https://cloud.githubusercontent.com/assets/1006557/14738970/1c2662f4-0885-11e6-9526-b30aa3560766.png)

The problem I'm having is that this is quite unreadable, as it's just one long line and I have to scroll to read it all.

If I hit <kbd>RET</kbd> on the error to get the stracktrace buffer to popup, I can read the message with prope

[2016-04-22 10:45] martintrojer commented on #1541
I tested it with IDO and it worked fine.

[2016-04-22 13:23] Malabarba commented on #1707
Formatting the exception cause message does make sense to me. I've ran into that problem as well.

[2016-04-22 14:51] xiongtx commented on #1541
Tested what with Ido? I don't use Ido, so I don't know its features.

[2016-04-22 15:16] martintrojer commented on #1541
its a "completing" solution similar to helm. Both should work since the new cider function uses `completing-read`

[2016-04-22 16:54] xiongtx commented on #1541
No, I meant try the new package I'm working on (not yet released).

[2016-04-22 20:47] drorbemet commented on #1436
I just hit this issue too, and have to kill and restart emacs (with loss of data) and resort to an other repl.
CIDER 0.13.0snapshot (package: 20160422.1026)
[cider/cider-nrepl "0.12.0"]

[2016-04-23 14:34] #1672 closed

[2016-04-23 17:11] sdegutis opened #1709 "Symbols with colons in the middle break other-namespace auto-completion."
## Expected behavior

In namespace `a` run `(def foo:bar 1)` and (def foo:quux 2).

In namespace `b`, make an alias to `a`, and type `(a/foo`. The auto-completion menu pops up. Type `:` and it should narrow down the choices between `foo:bar` and `foo:quux`.

## Actual behavior

The autocomplete menu actually goes away.

## Version information

Latest everything as of the time of writing.

[2016-04-23 17:41] bbatsov commented on #1709
Oh, I didn't even know such symbols were legal in Clojure. It never seizes to amaze me...

[2016-04-23 17:49] sdegutis commented on #1709
@bbatsov we just discovered this the other day in `#clojure`, the official docs say `:` is valid except at the beginning or end of a symbol, and when there's no more than one in a row. So `foo:`, `:foo`, and `foo::bar` are all invalid symbols, but `foo:bar` and `foo:bar:quux` are both fine.

[2016-04-23 18:04] sdegutis commented on #1709
Wow, these rules are a lot different than I thought:

* Symbols begin with a non-numeric character and can contain alphanumeric characters and `*`, `+`, `!`, `-`, `_`, `'`, and `?` (other characters may be allowed eventually).
* `/` has special meaning, it can be used once in the middle of a symbol to separate the namespace from the name, e.g. my-namespace/foo. `/` by itself names the division fun

[2016-04-23 18:05] bbatsov commented on #1709
And as far as I know Clojure itself doesn't follow them - e.g. `'` at the end is not allowed officially, but it actually works...

[2016-04-23 18:09] sdegutis commented on #1709
@bbatsov Oh? Where does it say `'` isn't allowed at the end?

[2016-04-23 18:13] sdegutis commented on #1709
FWIW, the specific use-case I've found `foo:bar` for is when making enum-like things, such as `unit:day` and `unit:month`, (which refer to `ChronoUnits/DAYS` etc.) etc.

[2016-04-23 19:41] expez commented on #1709
There has been functions containing `'` in core since forever, but this is the first time I can remember seeing it mentioned explicitly in the reader docs.  Guess it's been blessed :)

[2016-04-24 04:20] bbatsov commented on #1709
Hmm, that's new for sure. I remember this discussion - https://github.com/clojure-emacs/clojure-mode/issues/290

[2016-04-24 06:30] #1561 closed

[2016-04-24 13:07] joswik opened #1712 "Nim-mode breaks cider"
My conf. is Emacs 24.5 with bbatsov/prelude (prelude-clojure enabled in prelude-modules.el).

When nim-mode is updated with and BEFORE cider, I get the following error with cider-jack-in:
  cider-jack-in: Invalid function: (repl-buff (cider-find-reusable-repl-buffer nil project-dir))

After this cider is broken permanently, restarting Emacs doesn't help.

For example I had these packages to update

[2016-04-24 16:43] bbatsov commented on #1712
That's very odd. Figuring out what's wrong would probably require analyzing nim-mode's code and I doubt I'll have time for this (if it's really an issue there, that is).

PR welcome! :-)

If you're only using `cider-jack-in`, you can remove all this stuff from your `profiles.clj`.

[2016-04-24 18:14] Malabarba commented on #1712
The first step is to file an issue there politely asking if they know what might be happening. If nim-mode is doing something odd then they'll probably know what it is.

If that doesn't happen, then I can try to look over the code.

[2016-04-24 20:00] joswik commented on #1712
Thank you for your answers.
But before I file the issue to them, can someone confirm this behavior?
Does the same thing happen in Linux or Mac OS?

It's very easy to test - just install nim-mode from list-packages.
But-
 1. make a backup of .emacs.d folder, because if it brekas you can't go back (I think)
 2. to be able to test it, there have to be updates of both nim and cider at the same time.

[2016-04-25 04:38] cskksc commented on #1564
I'd like to give this a try. Two approaches I can think of:

* Put a filtering fn in cider somewhere, and a custom var which would contain the filtering prefixes.
Then, all functions, `cider-sync-request:*`, would filter out the configured prefixes.

* Or, we could add another param to middleware requests, something like `filter?` and then the middleware would take care of this.

Thoughts ? I like

[2016-04-25 05:53] expez commented on #1564
We already do this in the middleware for the dependencies we've munged with [mranderson](https://github.com/benedekfazekas/mranderson).

[2016-04-25 06:51] cskksc commented on #1564
@expez Yup. Are you referring to the [inlined-dependency](https://github.com/clojure-emacs/cider-nrepl/blob/0fa99e5f9553f3f35e026f6f5b2e7bcb6b6139cf/src/cider/nrepl/middleware/util/namespace.clj#L42) fn? Guess we'll have to add support to optionally filter out `cider.nrepl` and `refactor-nrepl` in a similar way.

[2016-04-25 07:34] sjatkins commented on #1390
I don't get the above.  What exactly fixed it?  The link is for the full repo which I don't find so clearly helpful.  The funny thing is that running exactly the same on my Mac and on Linux (ubuntu) I always have this problem on the mac and never on linux.

[2016-04-25 15:50] Malabarba opened #1717 "Do some profiling to find out why it takes so long to start a REPL"
Currently, when starting a REPL in a project with the cider-nrepl middleware/plugin, it takes on the order of 30 seconds to go from 0 to REPL.
Even though that's not a huge deal breaker, it does get very annoying under some workflows.

What's worse, I've found that it sort of pushes me into some specific habits, like never restarting a REPL, or preferring to use the command-line to run tests if I

[2016-04-25 16:17] edipofederle commented on #1717
Hi @Malabarba

Maybe we can use a benchmark here. I found this http://doc.endlessparentheses.com/Fun/benchmark.

If you think this is one possible way, I will try look at it and see what I can discover.

[2016-04-25 16:26] bbatsov commented on #1717
Related ticket - https://github.com/clojure-emacs/cider-nrepl/issues/218

I'm reasonably sure that the inlined deps make it so slow to start a CIDER REPL, but I can't find our discussion on the subject. Before introducing mranderson the REPL started 3-4 times if I remember correctly.

[2016-04-25 16:26] Malabarba commented on #1717
Unfortunately that's not going to help. We need to profile the Clojure side of things (the cider-nrepl middleware). So this is strictly a Java/Clojure job.

[2016-04-25 16:28] edipofederle commented on #1717
Truth. Well, anyway I will try to look that way you commented and try to find something

[2016-04-25 16:44] Malabarba commented on #1717
In theory, there's no reason why injecting deps would make things slower. After all, it doesn't change the number of namespaces that need to be loaded on a blank project.
If that's really the cause, then there's a good chance it's something we can optimize.

BTW, do we AOT compile cider-nrepl?

[2016-04-25 16:51] expez commented on #1717
AOT compilation isn't done, in general.  It has some weird edge-cases and there's no real benefit.  When the JVM starts a clojure app it spends a trivial amount of time compiling stuff.

[2016-04-25 17:07] bbatsov commented on #1717
Guess someone can see what's the boot time now with a clean cider-nrepl and one built with mranderson, so we would have a starting point. We never measured even this - I just remember people started complaining about the slow boot immediately after we started using mranderson.

[2016-04-25 17:31] Malabarba commented on #1717
I just measured 19 sec on both cases. So looks like inlining is not the cause.

[2016-04-25 17:33] Malabarba commented on #1717
AOT compilation reduces that by about 4 seconds. A bit better, but still noticeably slow.

[2016-04-25 17:41] expez commented on #1717
If you just do `lein repl` with an empty `profiles.clj` and add deps you'll notice a linear increase in startup time.

I'm guessing the difference between now and then is that you're now working on projects with more dependencies ;)

[2016-04-25 18:09] Malabarba commented on #1717
Well, I'm testing this on a blank project. Besides, project dependencies usually don't add startup time since they're not loaded at startup. However, I just realised that about 8 sec of my benchmark were coming from refactor-nrepl auto-injection.

Here's a rough breakdown with *only* cider-nrepl:

| Version 0.X.0 | time|
| 6|4.9|
| 7|8.9|
| 8|8.9|
| 9|9.9|
| 10|10.4|
| 11|11.6|
| 12|12.3|

Looks l

[2016-04-25 20:20] BrunoBonacci opened #1718 "cider-interactive-eval-result-prefix seems not respected"
## Expected behavior

After setting `cider-interactive-eval-result-prefix` and running evaluation with <kbd>C-u C-c C-e</kbd>
the output of the expression evaluation should insert in the buffer with the given prefix.

Example:
[code]

[code]
Searching in github for the `cider-interactive-eval-result-prefix` it seems isn't utilised at all.
I guess that the var should be included at this line:
https

[2016-04-25 21:55] bbatsov commented on #1717
Guess we should check what we added then.

On Monday, 25 April 2016, Artur Malabarba <notifications@github.com> wrote:

--
Best Regards,
Bozhidar Batsov

http://www.batsov.com

[2016-04-26 00:13] Malabarba commented on #1718
I think that's a documentation bug. The docs should say `cider-eval-result-prefix` instead, which is a real variable that's used twice at least in cider-overlays.el.

However, that's not going to help your case. That prefix is used only when displaying the result. It does not get inserted into the buffer when you do `C-u C-c C-e`.

I think there's a separate command for what you want. It's called

[2016-04-26 00:29] dpsutton commented on #1717
What's a good way to look into this?

[2016-04-26 05:23] bbatsov commented on #1717
In 0.7 we've added:

* [cljs-tooling "0.1.3"]
* [org.tcrawley/dynapath "0.2.3"]
* [org.clojure/tools.trace "0.7.8"]]

[2016-04-26 11:10] expez opened #1719 "Add defcustom for cider--help-echo"
I'd love to be able to turn this off

[2016-04-26 11:57] fgiasson commented on #1699
@Malabarba any news on this?

[2016-04-26 12:03] expez commented on #1719
Yes, though the `defcustom` should use the `cider-` prefix so it's properly namespaced.

[2016-04-26 12:08] edipofederle commented on #1719
Nice. Yes, I take a look in some `defcustom` examples on the code. One more this. I see that `cider--help-echo` is used  here: https://github.com/clojure-emacs/cider/blob/93651b7853eb9605fa49fcaa03c0314f9c6abc52/cider-mode.el#L689

I should check for setting on this function or in `cider--help-echo itself`?

Thanks

[2016-04-26 12:28] ryepesg opened #1720 "Keybinding for evaluating current form"
`C-c C-c` evaluates the top level form, but some times you want to evaluate just the most near current form. For example in the following code when you have the cursor on the word _reduce_, there is not an easy way to evaluate just _(reduce + [1 2 3])_:

[code]

My suggested keybinding for this functionality is `C-c C-v`.

[2016-04-26 12:41] expez commented on #1720
You should use <kbd>C-x C-e</kbd>.   Just move your cursor a little :)

[2016-04-26 12:42] expez commented on #1719
The former, imo.

[2016-04-26 13:00] ryepesg commented on #1720
Thank you, I know it is a possibility, but still you have to come back again to continue editing your form. Also, in nested forms is not that easy find the correct parenthesis without move, visually check highlighted parenthesis, move again, visually check...

[2016-04-26 13:27] Malabarba commented on #1719
`cider-use-tooltips`, people. :-)

[2016-04-26 13:28] Malabarba commented on #1719
Guess I should alias it to cider-use-help-echo

[2016-04-26 13:31] expez commented on #1719
I tried finding this setting by looking for a guard around `cider--help-echo`.  Guess I should've looked at the source code of `cider--help-echo` too, to see if it conditionally created tooltips.  Sorry for the noise ;(

[2016-04-26 13:31] #1719 closed

[2016-04-26 13:46] Malabarba commented on #1699
Right, sorry.
Try evaluating this on a repl:

    (in-ns cider.nrepl.middleware.debug)
    (defmacro breakpoint-implementation [form {:keys [coor]} original-form]
      (let [val-form (cider.nrepl.middleware.util.meta/strip-meta
                      (if (looks-step-innable? form)
                        (let [[fn-sym & args] form]
                          ;; Evaluate args first, delaying the dec

[2016-04-26 14:18] bbatsov commented on #1720
I think such a command makes sense. From time to time I've wondered myself why no (few?) Emacs modes have it.

[2016-04-26 14:33] Malabarba commented on #1720
I've had several people ask me why cider evals the previous sexp instead of the current one, so I guess this command would make sense to a lot of people.

[2016-04-26 15:21] expez commented on #1699
Method code too large...

[2016-04-26 15:39] bbatsov commented on #1650
@cskksc Do you plan to finish the migration? Now we're in a nasty place using two systems and should try to kill ert as soon as possible.

[2016-04-26 15:41] fgiasson commented on #1699
@Malabarba it seems that it helped fixing the issue for one of my function, but I can still experience it in others when using `#break`

[2016-04-26 15:43] expez commented on #1699
I experience this problem on functions containing resource definitions for use with liberator.

[2016-04-26 18:57] BrunoBonacci commented on #1718
Thanks @Malabarba,

`cider-eval-defun-to-comment` is bound to `C-c M-;`

https://github.com/clojure-emacs/cider/blob/master/cider-mode.el#L290

[2016-04-26 18:57] #1718 closed

[2016-04-27 03:17] cskksc commented on #1650
@bbatsov Sorry for the delay. Only 1 file `cider-tests` is pending. I'll finish that in the next 2 days.

[2016-04-27 03:36] bbatsov commented on #1650
Great!

On 26 April 2016 at 20:17, Chaitanya Koparkar <notifications@github.com>
wrote:

--
Best Regards,
Bozhidar Batsov

http://www.batsov.com

[2016-04-28 01:54] bbatsov commented on #1685
Fixed in #1704.

[2016-04-28 01:54] #1685 closed

[2016-04-28 04:28] bbatsov commented on #1666
Probably. It likely pulled just the compiled classes, but you also need the source jar for source lookup to work.

[2016-04-28 04:30] bbatsov commented on #1666
Btw, you shouldn't be getting an error, but some message saying the source can't be found. That's odd...

[2016-04-28 04:43] bbatsov commented on #1666
I tested this and got a `No source location` message (as expected). Maybe we can improve this message a bit...

[2016-04-28 05:16] bbatsov commented on #1687
I think that working on something like this would be pointless, given the presence of `cider-refresh`.

[2016-04-28 05:23] bbatsov commented on #1436
Ah, those mysterious issues. In theory there shouldn't be requests without `id`s, so I'm quite puzzled how is this happening. Guess we can suppress this error, but in a way this would masquerade the real problem (which is yet unknown).

[2016-04-28 05:23] bbatsov commented on #1436
Next time one of you gets this - post here the relevant `*nrepl-messages ...*` log.

[2016-04-28 07:02] jackrusher commented on #1436
I would already have done, but it wedges emacs such that I have to kill and restart it. I've been able to narrow down the conditions a bit: it only (but always) happens when an exception is thrown in the `(draw)` function of a `quil` sketch. My guess is that the `draw` function is running in a different thread that lacks some nREPL-related thread-local bindings, and is thus passing `nil` where the

[2016-04-28 12:12] Malabarba commented on #1687
Yeah, I've changed my mind.

[2016-04-28 12:12] #1687 closed

[2016-04-28 13:51] pholz commented on #1436
i also get the same behaviour with `quil`. `*nrepl-messages*` shows this:

    (<--
      out  "Exception in  :draw  function:  #error {\n :cause nil\n :via\n [{:type    java.lang.NullPointerException\n   :message nil\n   :at nil}]\n :trace\n []} \nstacktrace:  java.lang.NullPointerException: null\n at [empty stack trace]\n\n"
      session  "2d6a2166-9472-4ed2-b679-2ffcb9340b5e"
    )

[2016-04-28 23:56] bbatsov commented on #1505
Guess we can just mention here @brandonbloom and hope he'll read this. :-)

[2016-04-29 07:14] #1720 closed

[2016-04-29 09:52] the-kenny commented on #1115
I'm also running into this issue on a weekly-or-so basis. Very annoying.

One thing to note is that it gets better (i.e. emacs stays slightly more responsive), when `truncate-lines` is set to `t`. This disables visual line wrapping.

[2016-04-29 12:35] ryepesg commented on #1720
So fast! Thank you!!

[2016-04-29 17:12] brandonbloom commented on #1505
File an issue: https://github.com/brandonbloom/fipp/issues

[2016-04-29 18:57] bbatsov commented on #1688
I'll close this, as I don't really have anything more to add here. On my Windows machine I've installed lein to a dedicated folder and just added this folder to the `PATH`.

[2016-04-29 18:57] #1688 closed

[2016-04-29 19:00] bbatsov commented on #1532
P.S. If anybody else would like to investigate this - be my guest.

[2016-04-30 00:01] #1650 closed

[2016-04-30 01:30] bbatsov commented on #1675
True. I'm also wondering how to implement this - a defcustom, a new command, some prefix argument... For this is actually much harder than just writing the code to close the connection without closing the REPL buffer.

[2016-04-30 01:36] bbatsov commented on #1677
Seems you're right - this is a bug. I'm not sure what's causing it, though. The message we send to the nREPL server seems correct to me:

[code]

[2016-04-30 04:47] Malabarba commented on #1675
Since the OP was the first to ever ask this (that I know) and seems to have already found a custom solution, maybe we can close this issue until more people start asking for it.

[2016-04-30 05:03] bbatsov commented on #1675
Fair enough.

[2016-04-30 05:03] #1675 closed

[2016-04-30 15:46] bbatsov opened #1725 "Improve the eldoc for interop forms"
Currently the eldoc for interop forms is not very clear. We simply display the name of the method and all possible arglists from all matching classes. I'm reasonably sure not all users are aware of this.

We can improve this a bit in the following manner:

* display the class name when the method/field in question is present in just one class
* display the number of matching classes (or their name

[2016-04-30 16:57] bbatsov opened #1726 "Improve the presentation of nrepl messages"
The presentation of nREPL messages we currently use leaves a ton of room for improvement.

![image](https://cloud.githubusercontent.com/assets/103882/14937348/a20f9202-0eb9-11e6-9a53-e302cb7e4859.png)
- we lack proper font-locking that would make it easier to figure out what is what
- even the standard message keys are displayed in different order in every message
- values are not properly indente

[2016-04-30 16:59] bbatsov commented on #1726
[This article](http://www.wilfred.me.uk/blog/2016/04/28/effortless-major-mode-development/) might be useful for the font-locking code if anyone decides to tackle this.

[2016-04-30 17:57] Malabarba commented on #1726
Font locking in the sense of font-lock-mode shouldn't be necessary. We can just propertize a specific face to every other sexp.

[2016-04-30 18:09] bbatsov commented on #1726
True. I mostly want top-level keys to stand out. Bonus points for properly font-locked, strings, nils, etc.

[2016-05-01 07:03] #1564 closed

[2016-05-02 02:21] #1712 closed

[2016-05-02 02:21] Malabarba commented on #1712
No need. I've found the cause.

[2016-05-02 22:49] naipmoro opened #1728 "CIDER's version (0.12.0) does not match cider-nrepl's version (nil)"
I am using the latest melpa-stable release of cider on a clean install
of emacs 24.5.1 on ubuntu 16.04.

When I cider-jack-in I get:
;; CIDER 0.12.0 (Seattle), nREPL 0.2.12
;; Clojure 1.7.0, Java 1.8.0_03-Ubuntu
WARNING: CIDER's version (0.12.0) does not match cider-nrepl's version (nil). Things will break!

So I figured I'd do this manually (following the docs):
(setq cider-inject-dependencies-at

[2016-05-03 00:11] Malabarba commented on #1728
Do you have any other plugin under the user profile?

[2016-05-03 00:16] naipmoro commented on #1728
Yes, here they are:
{:user {:plugins
         [[lein-pprint "1.1.2"]
	  [lein-newnew "0.3.7"]
	  [lein-ancient "0.6.10"]
	  [lein-localrepo "0.5.3"]
          [lein-grep "0.1.1"]
          [lein-clojars "0.9.1"]
          [lein-midje "3.2"]
          [lein-difftest "2.0.0"]
          [codox "0.9.4"]
          [lein-gorilla "0.3.6"]
          [com.jakemccrary/lein-test-refresh "0.14.0"]
          [

[2016-05-03 02:11] Malabarba commented on #1728
Just exploring the possibilities here. Could you try removing your profiles.clj file completely?
Does cider-jack-in work automatically if you do that? (don't forget to leave `cider-inject-dependencies-at-jack-in` as `t`.)

[2016-05-03 03:11] naipmoro commented on #1728
Thank you for your help. The problem turned out to be the [lein-gorilla "0.3.6"] plugin.
Unfortunately that's the most up-to-date version. I now recall previous conflicts between
gorilla and cider.

[2016-05-03 03:14] cskksc commented on #1725
I'd like to give this a try. I'll submit a PR soon.

[2016-05-03 03:40] bbatsov commented on #1725
Great!

[2016-05-03 03:44] bbatsov commented on #1728
They used to bundle some version of `cider-nrepl` with the gorilla plugin. Not sure what's the state of things today.

[2016-05-03 15:12] alexander-yakushev commented on #1671
Oops, forgot to say thank you for this. Thanks @Malabarba and @bbatsov! ;)

[2016-05-03 15:15] Malabarba commented on #1671
;-)

[2016-05-05 08:29] turbopape opened #1730 "I don't have a ClojureScript REPL when working with Weasel/Piggieback"
## Expected behavior
Even if I follow the instructions of setting up PiggieBack/Weasel for Cider, when I cider-jack-in-clojurescript Must give me tow repls : one for Clojure and one for ClojureScript.
## Actual behavior
I only have the Clojure REPL.
## Steps to reproduce the problem
1. Add piggieback and weasel dependencies
2. Add the Weasel Code to connect the browser to the cljs REPL
3. Set the

[2016-05-05 09:57] dddvvv commented on #138
This breaks my workflow. My business logic tries to evaluate in the documentation environment.

I am programming in a distributed emacs environment. I use one repl for business logic forms evaluation and another one for documentation forms. I rotate between this repls C-c M-r.

example:
[...] (business-logic-form) [...]
(comment
  (documentation-form "documentation-key"))
[...] (business-logic-for

[2016-05-05 13:51] Malabarba commented on #1730
Do you get 2 Clojure REPLs or just 1 Clojure REPL? (Look for buffers called `*cider-repl ...`).

[2016-05-05 13:59] Malabarba commented on #138
The command `cider-eval-last-sexp-to-repl` evaluates a sexp in the REPL's namespace. That should do what you need.

[2016-05-05 14:17] Malabarba opened #1731 "Define our own boot task to make jack-in more robust"
When doing middleware injection in boot projects, we add the cider-nrepl artifact as a dependency by passing the `-d` argument to boot and we add our middleware to tools.nrepl by passing the `-m` argument to the `repl` task.
The `-d` argument is fine, but the `-m` argument is a little finicky. It only works immediately after the `repl` task, so there's nothing we can do if the user instead uses a

[2016-05-05 14:49] arbscht commented on #1390
@sjatkins (and anyone else who might find this issue), the [relevant documentation](https://github.com/clojure-emacs/cider/blob/master/doc/troubleshooting.md#i-upgraded-cider-using-packageel-and-it-broke) has moved.

[2016-05-05 14:51] #1725 closed

[2016-05-05 16:32] dpsutton commented on #1726
Did @Malabarba 's commit fully satisfy the request? I find myself reinventing lots of things in cider only to find out that the necessary features already exist, there's a pattern to follow, etc. If yall would put a few pointers in here I'd be happy to run through and work on this.

[2016-05-05 17:11] Malabarba commented on #1726
My commit only highlights the request's keys, which was the lowest-hanging of the fruits here. I feel that improves the readability significantly.

It would also be nice to have proper string font-locking and proper indentation, but these might be a little more difficult to do efficiently (without making the buffer supper slow) and they're really not high priority for me.

[2016-05-05 17:43] bbatsov commented on #1726
I'd say that ordering the request/response keys consistently should be relatively easy to do and would be very helpful as well. Tackling the bug with several keys getting displayed on the same line is also important.

[2016-05-06 02:58] cskksc opened #1735 "Improve class names in eldoc for interop forms"
## Actual behavior
<img width="303" alt="screen shot 2016-05-06 at 8 19 13 am" src="https://cloud.githubusercontent.com/assets/5201497/15062947/52e37064-1363-11e6-9e6d-ecc505da5bd8.png">

## Steps to reproduce the problem

In a clojure buffer with active nREPL connection, enter the form ` (java.lang.X/.length)`
When the cursor is on the form `(java.lang.X/.length)`, the eldoc is shown as is ; `(ja

[2016-05-06 07:01] Malabarba commented on #1735
If we know that it's not a member we should simply not display the eldoc hint.

I'm fine with displaying a warning about this kind of stuff, but I think it's not eldoc's job to do it.

[2016-05-06 07:08] bbatsov commented on #1735
Yeah, probably not displaying anything would be best.

[2016-05-06 07:09] bbatsov commented on #1731
👍

[2016-05-06 08:13] cskksc commented on #1735
Ok. I'll submit a PR for this. Skipping the `warning` bit.

[2016-05-06 16:25] Malabarba commented on #1689
FOrgot to tag this for closing in the PR.

[2016-05-06 16:25] #1689 closed

[2016-05-06 16:30] Malabarba commented on #1598
I just managed to get this too when working with ClojureScript. `println`s that happen in the browser are sent to the cljs connection but don't contain an id:

    (<--
      out  "Content of the print"
      session  "49a3f8eb-d5e6-4844-aac0-2589c4dbc78f"
    )

Maybe we should just accept that this will happen for `out` and `err`? Instead of always complaining, we could handle these id-less mess

[2016-05-06 16:35] lxr-shadow commented on #1689
@Malabarba Sorry to reopen this. It seems that if I evaluate multiple forms at once (e.g. using evaluate region or evaluate buffer), only the overlay of the last form will be shown. It is better to show a overlay for every form, isn't it?

[2016-05-06 16:53] bbatsov commented on #1598
I'm fine with adding some workaround for now, but we should also identify what's causing this. I cannot imagine how some response didn't originate as the result of a request.

[2016-05-06 17:19] bbatsov commented on #1598
Also I'd font-lock such requests differently in *nrepl-messages* so they stand out a bit.

[2016-05-06 19:40] bbatsov opened #1736 "Show related vars in doc buffers"
For a while I wanted to implement for our doc buffers the following functionality - when you lookup some symbol in its doc buffer you also see some links to other related symbols. Something pretty similar to `See also` in https://clojuredocs.org/clojure.core/map

This should be pretty simple to implement, but will require some manual work:

* we need to create a middleware returning the related sy

[2016-05-06 21:16] cskksc commented on #1736
@bbatsov I would like to take this up :-) 🚀

[2016-05-06 21:49] bbatsov commented on #1736
Deal! :-)

On Friday, 6 May 2016, Chaitanya Koparkar <notifications@github.com> wrote:

--
Best Regards,
Bozhidar Batsov

http://www.batsov.com

[2016-05-06 22:10] harold opened #1737 "[debugger] Local values in tooltip"
I am in the debugger (and wow, is it nice!), when I mouse hover local variables I get a nice tooltip-like thing with:

[code]

cooler would be
[code]

(where 4 is the current value of x).

fwiw, the `l` key works well for finding out the values of locals, but the mouse hover workflow would be neat too, I think.

[2016-05-06 22:12] harold commented on #1737
I realize now that the tooltip thing isn't even really coming from the debugger, it's the doc tooltip.

It would be neat if the debugger provided a bit more data (since it presumably has it).

Thanks again for cider, I think I'll go have a sip now.

[2016-05-07 01:26] sanjayl commented on #1736
Let me know if I can help you out with any of the subtasks Chaitanya
On May 6, 2016 5:16 PM, "Chaitanya Koparkar" <notifications@github.com>
wrote:

[2016-05-07 05:06] cskksc commented on #1736
@sanjayl Will do :-)

[2016-05-07 15:50] Malabarba commented on #1737
I appreciate the assignment, but I have some stuff on my plate right now. I'd rather leave it open to volunteers. :-)

[2016-05-07 17:11] blueberry opened #1739 "How to override 80-line rule for long string literals?"
My Clojure code occasionally contains strings that are rather long. Emacs displays them properly, following the 80-line rule.
However, sometimes I have long strings that I'd like to see in their normal color. Is there a way to do that in emacs and cider?

[2016-05-07 17:28] bbatsov commented on #1737
Fair enough. :-)

[2016-05-07 17:29] bbatsov commented on #1739
Pretty sure cider has nothing to do with this. Probably you're using whitespace-mode or something like this. If you show us some screenshots we might be able to give you some advice what to do.

[2016-05-07 20:13] blueberry commented on #1739
That was it. Disabled whitespace-mode (I'm using prelude, so didn't know everything that was there). Thanks!

[2016-05-07 20:13] #1739 closed

[2016-05-07 21:25] Malabarba commented on #1737
And, for anyone reading, this is indeed pretty easy. The debugger keeps track of the most recent message, and the message contains locals information, so we just need to look in there.

[2016-05-07 21:59] mallt opened #1740 "eldoc only available for functions of current namespace"
## Expected behavior
eldoc available for all namespaces (current and required)

## Actual behavior
eldoc only available for current namespace, not for required namespaces

## Steps to reproduce the problem
position point on a function of a required namespace => no eldoc available in the minibuffer

## Environment & Version information

### CIDER version information
;; CIDER 0.13.0snapshot (package

[2016-05-08 06:11] cskksc commented on #1740
@mallt Is the required namespace being used with a alias ? Some recent changes in eldoc have introduced this bug. It'll be fixed soon.

[2016-05-08 06:15] mallt commented on #1740
Yes, it is used with an alias indeed. Thank you!

[2016-05-08 07:38] bbatsov commented on #1740
The classes changes broke this?

[2016-05-08 09:17] cskksc commented on #1740
@bbatsov Yes. I am working on the PR. It'll be done in a bit.

[2016-05-08 16:53] bbatsov commented on #1572
Btw, @cskksc as you've been doing some eldoc-related work lately you might eventually take a look at this as well. Basically we just need to make eldoc consider the symbol-at-point in addition to the first symbol of the list at point (which we currently do). So in a form like `(map inc ...)` if your cursor is over `inc` you'd see its docstring and when you move forward you'd see once again the doc

[2016-05-08 16:54] bbatsov commented on #1638
This is the related ticket, btw https://github.com/clojure-emacs/cider/issues/1572

[2016-05-08 17:00] cskksc commented on #1736
[This](https://www.youtube.com/watch?v=THr9uCDOHd8) is what I have so far.

I've covered the basics. Although I'm gonna look into making this `ns` aware. Because some symbols like `replace`, `read-string`, `with-bindings` are present in multiple namespaces.

The [clojuredocs](https://github.com/zk/clojuredocs/tree/master/data/mongodb) repo provides its mongodb database which includes `see also` in

[2016-05-08 17:04] turbopape commented on #1730
Hi, I just get 1 Clojure REPL ...

[2016-05-08 17:09] turbopape commented on #1730
I Only get one Clojrure REPL.

[2016-05-08 17:14] cskksc commented on #1572
Yeah. Will do. :-)

[2016-05-08 18:12] bbatsov commented on #1736
This should be easy. Guess we can show namespaces in the docs buffer only when the related symbols are in another namespace.

It's ok, but both the keys and the values should have namespaces as well.

Yeah, it would be nice to have those buttons. This has been on my mind for a while.

Yep.

[2016-05-08 23:47] Malabarba commented on #1736
Why keywords instead of symbols?

[2016-05-09 00:08] Malabarba commented on #1736
Personally, I don't think that's important. I don't see people using elisp to add documentation to their Clojure code.
If we want library authors to add "related functions" to their functions then we need a Clojure interface for it (such as a metadata key). But even then, they would probably just write it directly in the dicstring instead.

[2016-05-09 00:13] Malabarba commented on #1730
Then it's not about weasel. You should get two repls no matter what.

There's something wrong with cider for you. Try reinstalling.

[2016-05-09 00:34] bbatsov commented on #1736
Yeah, this is not very important in general. But it'd be trivial to
implement. We can leave it out for now though. Some docstring parsing
generating related symbols might be more useful.

On Sunday, 8 May 2016, Artur Malabarba <notifications@github.com> wrote:

--
Best Regards,
Bozhidar Batsov

http://www.batsov.com

[2016-05-09 05:05] bbatsov commented on #1736
Just to clarify - I think it'd be nice to see for any var mentions in the docstring of the things we're showing documentation for and generate some potential "see also" links for them.

[2016-05-09 07:15] cskksc commented on #1736
@Malabarba I haven't actually done any comparisons between the two. Keywords seemed natural for a map lookup. Do you think symbols would be better ?

@bbatsov Yep, understood. It would be really cool to have that.

Ill submit a PR by tomorrow.

[2016-05-09 14:52] Malabarba commented on #1736
IIUC, the client will not give you a keyword, and you want to display function names (not keywords) to the user.
So you're going to to be looking up symbols, aren't you?

I could see using either strings or symbols, but keywords don't really get you any benefit.
For instance, you'll have the symbol `clojure.core/doseq` and you'll want to know that it's related to `clojure.core/doall`. Using keywor

[2016-05-10 04:51] cskksc commented on #1736
@Malabarba Yep. You're right. I'll store them as strings. The middleware gets the input as a string.

[2016-05-10 11:52] turbopape commented on #1730
Hi,

Actually, If I cider-jack-in-clojruescript in a non weasel project, I have the two REPLS (with the cljs complaining about not finding the weasel class obviously)

But in a weasel project, I think the CLJS REPL creation aborts with the following message:

error in process filter: run-hooks: Symbol’s function definition is void: cider-turn-on-eldoc-mode

[2016-05-10 13:26] Malabarba commented on #1730
Remove this function from your configs. It doesn't exist anymore. Just use `eldoc-mode` instead.

[2016-05-10 17:25] fgiasson commented on #1699
@Malabarba did you have some more time to look into this issue?

There is another thing I was wondering with the latest version: is it normal that the function's name is not highlighted anymore with `#break` or `#dbg` but only when everything is instrumented? (it used to work, and was pretty handle to have the name of the function highlighted in any situation).

[2016-05-10 20:30] #1735 closed

[2016-05-10 22:51] priyatam opened #1743 "Support a default pprint with fipp"
Cider currently does not support pretty print out of the box. The configuration and setup for 0.12.0 is broken and needlessly complicated. Please provide a sensible default.

## Expected behavior

The console and cider repl results should be pretty printed, colorized, etc.,

## Actual behavior

Console or Cider repl is not pretty printed.

## Steps to reproduce

- add `(setq cider-pprint-fn "puget

[2016-05-11 03:42] cskksc commented on #1740
@mallt Can you please pull the latest master and check if the issue is resolved ?

[2016-05-11 07:47] manuel-uberti opened #1745 "Could not start nREPL server: java.io.FileNotFoundException"
## Expected behavior
CIDER correctly started up after `cider-jack-in`.

## Actual behavior
`cider-jack-in` fails with this error:
[code]

## Steps to reproduce the problem
- Open a `clj` file
- <kbd>M-x cider-jack-in</kbd>

## Environment & Version information

### CIDER version information

[code]

### Lein/Boot version

`Leiningen 2.6.1 on Java 1.8.0_72-internal OpenJDK 64-Bit Server VM`

### Em

[2016-05-11 08:27] plexus commented on #1745
I'm seeing this as well, must be a recent regression.

[2016-05-11 08:49] plexus commented on #1745
The problem is in `cider-nrepl`, posted a workaround there https://github.com/clojure-emacs/cider-nrepl/pull/357

[2016-05-11 09:21] manuel-uberti commented on #1745
Thank you!

[2016-05-11 11:05] benhowell commented on #1745
Have been seeing this also. Thanks for the workaround.

[2016-05-11 12:29] dpsutton commented on #1709
(-->
      op  "complete"
      session  "3a323a7c-e91d-4310-8b80-edf7b405cfc1"
      ns  "b"
      symbol  "a/foo"
      context  ":same"
      id  "1572"
    )
    (<--
      completions  ((dict "candidate" "a/foo:bar")
     (dict "candidate" "a/foo:qux"))
      id  "1572"
      session  "3a323a7c-e91d-4310-8b80-edf7b405cfc1"
      status  ("done")
    )
    (-->
      op  "complete"
      sessi

[2016-05-11 12:38] dpsutton commented on #1709
Looking on the clojure side, it looks like the nrepl-completion just politely asks compliment, which is where I suspect that nothing is coming back.

[2016-05-11 15:26] sarith commented on #1745
Wow - after 24 hours of googling. Should have come here first.  Thanks for the workaround.

[2016-05-11 15:40] bbatsov commented on #1745
It's fixed upstream now. And we broke it just 10 hours ago. ;-)

[2016-05-11 15:40] plexus commented on #1745
@sarith a fix has been merged. You should be able to just upgrade

[2016-05-11 16:44] Malabarba commented on #1740
Or just update from Melpa. :-)

[2016-05-11 17:27] manuel-uberti commented on #1745
Closing. Fixed by this PR: https://github.com/clojure-emacs/cider-nrepl/pull/356

[2016-05-11 17:27] #1745 closed

[2016-05-11 17:47] mallt commented on #1740
@cskksc The issue is resolved, thanks!

[2016-05-11 17:47] #1740 closed

[2016-05-11 18:07] #1737 closed

[2016-05-11 21:55] bbatsov commented on #1736
Fixed by #1736.

[2016-05-11 21:55] #1736 closed

[2016-05-11 23:55] Malabarba commented on #1699
@fgiasson Sorry, haven't looked further into it yet.

Yes, it's normal that this happens. It's a bit of an unfortunate consequence of a recent refactor. I'm not sure how to fix it though. =/

[2016-05-12 04:38] arichiardi commented on #1731
This I think already work ootb, I am constantly doing `boot cider dev` instead of jacking-in (which sometimes break I think exactly for the reason at the top).

I can take care of this, just need some hint on were to put the task and how/where to require it from.
The task should be this right?

[code]

[2016-05-12 04:59] cskksc opened #1746 "Show "See Also" links for all functions"
Right now (#1736), the middleware has `See Also` information only for `clojure.core`.
But it would be good to be able to show the links for all namespaces. Parsing the docstring and generating links from there is one way to do it. So, the docstring  would look something like,

[code]

So we just need to collect all the `` `' `` pairs and replace them with buttons which would lookup the correspondi

[2016-05-12 05:00] cskksc commented on #1736
I've filed another ticket 1746 for the docstring parser and am gonna start working on it today.

[2016-05-12 09:54] mallt opened #1747 "overlays are shown white instead of font locked as clojure"
## Expected behavior
Overlays are font-locked as clojure code if the var cider-overlays-use-font-lock is set to t.

## Actual behavior
Overlays are shown white

## Environment & Version information

### CIDER version information
;; CIDER 0.13.0snapshot (package: 20160510.2138), nREPL 0.2.12
;; Clojure 1.7.0, Java 1.8.0_91

### Emacs version
24.5.1

### Operating system
Ubuntu 14.04

[2016-05-12 11:40] limist commented on #1728
I'm seeing the same error message, but with different starting conditions:  I'm using boot and have this in my `profile.boot`,

[code]

Looking into `refactor-nrepl` it's pulling in `cider-nrepl 0.10`, could that be causing the problem?

[2016-05-12 11:58] limist commented on #1728
Update: i tried removing refactor-nrepl references in the above, and still get the same error message.  Any suggestions for fixing this please?  Thanks in advance.

[2016-05-12 12:16] Malabarba commented on #1747
I have no idea what could have caused this. Have you recently installed any packages or changed anything that could affect this?

[2016-05-12 12:19] Malabarba commented on #1728
How are you starting the repl? Are there any other tasks being used? What's the content of your `*nrepl-messages ...*` buffer immeditaly afterconecting?

[2016-05-12 12:22] Malabarba commented on #1746
Two things:

1. We should use ``` `clojure.core/remove` ```, not ``` `clojure.core/remove'```.
2. We should try to linkify any occurrence of ``` `function-in-quotes` ``` in the docstring, not just the "see also:" links.

[2016-05-12 12:37] Malabarba commented on #1731
1. Almost. It would have to look like this:

        (deftask cider-middleware "CIDER middleware profile"
          []
          (require 'boot.repl)
          (swap! @(resolve 'boot.repl/*default-middleware*)
                 conj 'cider.nrepl/cider-middleware)
          identity)

  - We don't need to add cider-nrepl as a dependency here, because we already add the dependency on the command-line

[2016-05-12 13:09] limist commented on #1728
Hi @Malabarba,

- Starting the repl at the command line with `boot dev-repl` which is just `boot repl` and setting some app-specific environment vars.
- Other tasks: not that i know of.
- *nrepl-messages...* looks like,

[code]

...plus a lot more stuff, too long to put here (unless you think it would help).

[2016-05-12 13:13] Malabarba commented on #1728
Here's the problem:

    nrepl  (dict
            incremental  "3"
            major  "0"
            minor  "2"
            qualifier  ""
            version-string  "0.2.3")

nrepl version should be 0.2.12. It's possible one of your other tasks is conflicting here.

[2016-05-12 13:15] Malabarba commented on #1728
Or, better, just make sure you have `[org.clojure/tools.nrepl "0.2.12" :scope "test"]` in your project's dependencies.

[2016-05-12 13:45] mallt commented on #1747
For some reason the (prepend-face 'cider-result-overlay-face) in cider--make-result-overlay seems to be causing this behavior.

If I outcomment the funcall:
          ;; (funcall (if cider-overlays-use-font-lock
          ;;              #'font-lock-prepend-text-property
          ;;            #'put-text-property)
          ;;          0 (length display-string)
          ;;          'face prepend

[2016-05-12 14:05] arichiardi commented on #1731
Great will do!

[2016-05-12 14:35] Malabarba commented on #1747
Ah, yes. That face is applied on top of the font locking, so it should NOT have a foreground.

[2016-05-12 15:38] limist commented on #1728
@Malabarba Thanks a lot for the quick help, doing `boot show -d` showed a library pulling in an old version of `tools.nrepl` that was shadowing the version specified in my `profile.boot`.  All good for now ::-)

[2016-05-12 15:48] mallt commented on #1747
Thanks for the help! Apparently the white foreground of the cider-result-overlay-face is set in the theme I use (solarized). I fixed the issue by removing the foreground in the solarized.el file. I'll try to submit a pull request for that repo later on.

[2016-05-12 15:48] #1747 closed

[2016-05-12 16:21] Malabarba commented on #1747
Thanks. I'm sure other people will have the same problem.

[2016-05-12 16:54] brianmingus opened #1748 "cider-pprint-eval-last-sexp-to-repl"
This would be great :)

[2016-05-12 20:27] lambdatronic commented on #1359
Howdy folks,

Since I can't seem to find this explained anywhere online, I'll post it here. If you are experiencing this error when using the CIDER debugger with Boot, the problem seems to be that Boot doesn't automatically load the data_readers.clj files from your project's dependencies. To bring in the debugger's tags (#dbg, #break, #light), you just have to add this line to the end of your $BOO

[2016-05-12 22:51] kovrik commented on #1717
For me running just `lein repl :headless` with empty profiles.clj takes ~10 secs to start.

Running `lein update-in :dependencies conj ^"[org.clojure/tools.nrepl \^"0.2.12\^"]^" -- update-in :plugins conj ^"[cider/cider-nrepl \^"0.13.0-SNAPSHOT\^"]^" -- repl :headless` (command taken from `cider-jack-in` logs) takes ~30 seconds.

Removing `:dependencies` part does not affect anything, single `:plu

[2016-05-13 04:09] kovrik commented on #1717
Also, tried to do some profiling.
Running `cider-jack-in` command:
- takes 30 seconds
- involves 5 GCs
- loads 10k+ classes
- calls at least 12k different methods (some of them invoked 200k+ times)
- tons of those calls are related to PersistentHashMap

Yeah, of course, majority of those method calls/loaded classes are just Clojure runtime classes/methods.

But 5 GCs...

[2016-05-14 09:31] Malabarba commented on #1717
@kovrik Could you post the full reports you for from your profiling? Maybe we can spot some unnecessary loops or something.

[2016-05-15 11:38] gdanov commented on #1268
running tests in clojurescript is currently not working according to the docu and the source I've read

[2016-05-15 22:03] kovrik commented on #1717
@Malabarba
Yes, will try to clean it up (get rid of useless Clojure runtime profiling) and post it here.

[2016-05-16 00:32] Malabarba commented on #1717
Thanks! If possible, also post the raw original in a gist somewhere. It could be useful too.

[2016-05-16 04:02] kovrik commented on #1717
Profiling snapshot size is 851 MB. Need some time to review it :)

[2016-05-16 04:44] Malabarba commented on #1717
Oh dear 😮

[2016-05-16 06:05] kovrik commented on #1717
On Mac it takes ~16 seconds.
If I add something like:
[code]
into `nrepl.clj`

And
[code]
into `project.clj`,
then it takes ~8 seconds to see "START" message first and 8 more seconds to see "END" message and get working REPL.
On Windows it is ~12-14 seconds for each.
(but not sure if such a "benchmark" is valid or not)

I'm not quite familiar with how cider works, reading sources at the moment, bu

[2016-05-16 06:30] kovrik commented on #1717
Also, I see the following message:
`Warning: Clojure is excluded, assuming an appropriate fork (Clojure 1.7 or later) is provided.`
3(!) times until i see REPL.

The only place I see that message being printed is
https://github.com/clojure-emacs/cider-nrepl/blob/master/src/cider_nrepl/plugin.clj#L45

Have no idea why it prints that message 3 times. Doesn't look well.
Is that correct behaviour?

[2016-05-16 13:34] fgiasson commented on #1699
Hi @Malabarba

Ok thanks for looking, will cross my fingers that you can think of something to improve the situation :)

Thanks

Fred

[2016-05-16 16:23] arichiardi commented on #1731
Ok, code-wise I am ready, sorry for my ignorance on this, but is the `src` folder automatically included in cider?

[2016-05-17 02:18] iku000888 opened #1752 "Internationalizing the manual?"
Dear maintainers and contributors,

First off, thank you for your life changing and amazing work!

I created this issue because I want to brainstorm on how to proceed with internationalizing the manual.
(for me, it would be in Japanese). Would it be possible to set up an official/approved platform that allows people to contribute translations in any language? (i.e. transifex?)

I would work on tra

[2016-05-17 03:35] bbatsov commented on #1752
As far as I know ReadTheDocs has native support about multi-language manuals. The only problem is that often the translated versions would diverge from the English version, as they would typically be maintained by just a single person who may or not be available to always keep the translations up-to-date.

I'm not sure whether the multi-language support will work with mkdocs, though. Someone will

[2016-05-17 05:02] iku000888 commented on #1752
@bbatsov Thanks for giving attention to this issue!

Agree that serious hammock time is needed.

On the "who would maintain" part, a model project could be
the python Japanese documentation project.
Basically, anybody interested can contribute translations on transifex
and the combined work would be released by the core maintainer.
Keeping things up to date is really easy because the barrier to co

[2016-05-17 05:14] bbatsov commented on #1752
I'm guessing sphinx has support for multiple languages, but someone will have to migrate the current manual to sphinx first. That's not something I'm eager to tackle myself.

[2016-05-17 05:24] iku000888 commented on #1752
As long as migrating to sphinx is fine with you,
I certainly do not mind tackling the migration.

Just out of curiosity, were there any particular reason for going with ReadTheDocs?

[2016-05-17 05:33] iku000888 commented on #1752
There was also this issue back then.
https://github.com/clojure-emacs/cider/issues/689

[2016-05-17 05:33] bbatsov commented on #1752
It was easy to setup, has search (which works only with sphinx), has a notion of stable and master documentation and can even export the docs to pdf and epub. It also auto-builds the documentation on every commit. I haven't done much of a research - I just saw a lot of project were using it and it looked good enough.

[2016-05-17 06:06] iku000888 commented on #1752
Thanks for the background/context.

Apparently ReadTheDocs can host sphinx projects,
So I am 99% convinced that migrating the docs to sphinx is the way to go.
I will sleep on the idea for a bit just in case something else pops up.

[2016-05-17 07:43] turbopape commented on #1730
Hi @Malabarba,

Once I removed the erroneous function, everything is working good again !

Tahnk you !

[2016-05-17 07:43] #1730 closed

[2016-05-17 14:49] bbatsov commented on #1752
Yeah, ReadTheDocs is basically sphinx-centric. Unfortunately I didn't have time to learn it, so I opted to use `mkdocs`, as I know markdown pretty well and I didn't know how much of the functionality was broken under mkdocs...

[2016-05-17 23:35] iku000888 commented on #1752
@bbatsov ,

I am thinking of getting my hands dirty with migrating the docs to sphinx format, still hosted on ReadTheDocs, after sleeping over the idea for a night.

Could you summarize/point-to how the current documentation build pipeline works?
I want to experiment with ReadTheDocs using a temporary fork, but would appreciate any advice as it is the first time even touching ReadTheDocs for me. (

[2016-05-18 04:11] bbatsov commented on #1752
Basically the docs are rebuilt automatically when changes are pushed to github. One can run mkdocs locally to see the result of some changes without pushing. I guess to migrate things to sphinx you'll simply have to run it locally as well and when you're ready I'll change the rtd config so it would know to build the proper type of documentation.

[2016-05-18 17:53] #1572 closed

[2016-05-19 00:15] kovrik commented on #1717
**Timings:**

| command | time | description |
|-------------|---------|---------|
| `java -jar Test` | 0.1s | JVM startup time is blazing fast. Simple Hello World app starts almost instantly: |
| `java -jar clojure-1.8.0.jar` | 1-1.3s | Clojure REPL is much slower, but still pretty fast: |
| `java -cp $MY_CIDER_NREPL_CP clojure.main` | 1-1.3s | Clojure REPL + cider-nrepl CLASSPATH |
|  `lein repl

[2016-05-19 06:03] expez commented on #1717
It starts two?

[2016-05-19 06:17] kovrik commented on #1717
`lein repl` starts 2:

[code]

[2016-05-19 06:46] expez commented on #1717
Ah!  Not to derail the thread, but what happens in the two different JVMs?

[2016-05-19 06:59] kovrik commented on #1717
See StackOverflow link in my message above :)

[2016-05-19 13:09] Malabarba commented on #1717
@kovrik

1. `java -cp $MY_CIDER_NREPL_CP clojure.main`
   This is mostly irrelevant. Adding CIDER to the classpath doesn't load it.
2.  `lein repl` (+ `nrepl`)
   This looks surprisingly slow, but the only thing we can do to improve it is to add support for socket-repl (thus droping nrepl), which noone has volunteered for.
3. `lein repl` (+ `nrepl`) + `cider-nrepl`
   This is the one we might be a

[2016-05-19 15:00] mrrodriguez opened #1755 "Cannot select Zombie REPL buffer with cider-connect"
## Expected behavior

I use cider-connect to connect to an already running nREPL server process.  Cider finds that I have Zombie REPL buffers via a message (1) like

[code]

I say "y".  Cider prompts with message (2)
[code]

I try to type the buffer name, it auto-completes and I can choose one of the two listed in the message (1) to reuse the zombie REPL buffer.

## Actual behavior

In message (2)

[2016-05-19 17:02] #1755 closed

[2016-05-19 17:04] Malabarba commented on #1755
Should be fixed now. Thanks for reporting!

[2016-05-19 21:36] echeran commented on #1728
Fwiw, I had the same problem when using Leiningen.  Running `lein deps :tree` showed that I had the recommended versions of org.clojure/tools.nrepl and cider/cider-nrepl, but I got these warnings:

[code]

Bumping Clojure from 1.6.0 to 1.8.0 in my project.clj did the trick.  I don't get those error messages from Cider after `cider-jack-in` anymore.

[2016-05-19 22:08] Malabarba commented on #1728
Thanks. Glad that the message helped you solve the problem.

[2016-05-19 22:45] kovrik commented on #1717
Results of experiments:
https://github.com/kovrik/cider-diet

[2016-05-20 00:50] mrrodriguez commented on #1755
Thanks for looking into it so fast!

[2016-05-20 14:38] bbatsov commented on #1743
Broken how?

That's pretty subjective. Seems that most people are perfectly fine with the default behaviour.

[2016-05-20 14:47] Malabarba commented on #1743
I don't know what you mean by console, but the cider-repl result *is* colorized, and you can set it to be pretty-printed by simply doing `(setq cider-repl-use-pretty-printing t)`. Does that work for you?

[2016-05-22 05:14] cskksc commented on #1746
Fixed by #1750.

[2016-05-22 05:14] #1746 closed

[2016-05-23 01:26] mrrodriguez opened #1758 "Cider locks up Emacs regularly after cider-connect"
## Expected behavior

When using cider-connect to connect to a pre-existing nREPL server, I expect it to connect and be responsive once the prompt is available.  As I continue to interact and work in the REPL I do not expect frequent lock-ups that lock up Emacs itself, not only the REPL prompt.
## Actual behavior

I use cider-connect to connect to a pre-existing nREPL server.  I get a prompt fairl

[2016-05-23 01:50] Malabarba commented on #1758
1. Do `M-x toggle-debug-on-quit`.
2. Reproduce the hang (or wait for it to happen)
3. Hit `C-g` while it's hanged.

You'll get a backtrace you can paste here.

[2016-05-23 02:06] mrrodriguez commented on #1758
This is from when it was locking up immediately after the Cider REPL prompt buffer prompt showed up after `cider-connect`.

[code]

[2016-05-23 02:21] Malabarba commented on #1758
This may be a long shot, but could you disable ido-ubiquitous and smex and try again?

[2016-05-23 03:36] dobladez commented on #1758
I'm using the exact same versions of all (except I'm on Linux) and experience the same symptoms.

Try: `(setq nrepl-log-messages nil)

I've run Emacs' profiler and this is what I found:

[code]

Seems like  `pp` creates a temporary buffer, thus causing a lot of buffer "churn". Since `workgroups-mode` has a hook there (not a cheap one, it seems), it slows everything to a crawl.

So, for me, disabli

[2016-05-23 03:44] Malabarba commented on #1758
Interesting. @mrrodriguez do you use workgroup?

[2016-05-23 10:20] deadghost commented on #1144
`CIDER 0.12.0, nREPL 0.2.12, clojure 1.7.0, java 1.8.0_66`
I've had this issue stick around for 6-12 months. I don't have a massive number of namespaces and dependencies. I went ahead and ran the following in the REPL:

    (use clojure.tools.namespace.repl)
    (refresh)

[code]
I have the same symptoms as post 1.

[2016-05-23 12:44] mrrodriguez commented on #1758
I do not use workgroup.  I tried `(setq nrepl-log-messages nil)` anyways, and it didn't seem to make any difference.

I also tried disabling `ido-ubiquitous` and I didn't see a difference.  I'm not sure about how to disable smex. It just seems to be a function to me, not a mode.

I think the hanging may be a little less when emacs has just been started.  It seems that over time, things gradually g

[2016-05-23 13:00] dobladez commented on #1758
@mrrodriguez I'd suggest to run the profiler, it's really easy:

1. `M-x profiler-start`
1. Try your thing (connect to nrepl)
1. `M-x profiler-repot`. This will open a buffer with the profiling information. It should give you pointers to which functions are causing the problem

I hope this helps.

[2016-05-23 16:35] deadghost commented on #1144
Ok, I got further along. If I don't declare a `:main` in my leiningen project, I am able to run `cider-refresh` successfully.

[2016-05-23 16:47] deadghost commented on #1144
I'm currently using the workaround described in: http://stackoverflow.com/a/29993203/894091

[2016-05-23 21:35] ghost opened #1759 "*cider-error* buffer has the ability to close all other windows"
## Expected behavior

The _cider-error_ buffer should never close other windows
## Actual behavior

Sometimes the _cider-error_ buffer simulates the action of C-x 1 after opening. It does this such that even if you have winner-mode enabled, there is no going back.
## Steps to reproduce the problem

Presumably I'm not the only one to experience this - indeed, it must be hard coded somewhere.
## Env

[2016-05-23 21:50] Malabarba commented on #1759
Have you been able to track down the situation that triggers this?

[2016-05-23 21:51] Malabarba commented on #1759
Just to be clear, it's never happened to me, and I'm pretty sure it's not intentional.
There's a good chance it's a bad interaction with some othe package.

[2016-05-23 21:57] brianmingus commented on #1759
I am using rally-emacs: https://github.com/RallySoftware/rally-emacs

There's not much more to the description. In this case I had one window on the left, and two windows stacked on the right. I had a cider repl in the upper right and typed an in valid command (reset! iirc) and I got a cider-error buffer that closed all other windows and nuked my winner history. Happens at least once per week.

I

[2016-05-23 22:07] chihyangscience opened #1760 "still see error "progn: Wrong type argument: number-or-marker-p, nil""
## Expected behavior

## Actual behavior
when I exectute "C-c C-k", there is error:

 progn: Wrong type argument: number-or-marker-p, nil

## Steps to reproduce the problem

when I exectute "C-c C-k", there is error:

 progn: Wrong type argument: number-or-marker-p, nil

## Environment & Version information

Emacs: GNU Emacs 24.5.1 (x86_64-apple-darwin13.4.0, NS apple-appkit-1265.21) of 2015-04-10

[2016-05-23 22:09] Malabarba commented on #1759
Things can interfere in the most bizarre ways when it comes to Emacs. :-)

You could try updating your cider to `0.12.0` stable or to `0.13.0snapshot`. The `0.12.0snapshot` version is outdated.

[2016-05-23 22:11] Malabarba commented on #1760
1. Do `M-x toggle-debug-on-error`.
2. Reproduce the problem

You'll get a backtrace you can paste here.

[2016-05-23 22:12] chihyangscience commented on #1760
Debugger entered--Lisp error: (wrong-type-argument number-or-marker-p nil)
  clojure-forward-logical-sexp()
  (progn (clojure-forward-logical-sexp) (and (<= (point) end) (not (eobp))))
  (while (progn (clojure-forward-logical-sexp) (and (<= (point) end) (not (eobp)))) (cider--make-fringe-overlay (point)))
  (condition-case nil (while (progn (clojure-forward-logical-sexp) (and (<= (point) end) (not

[2016-05-23 22:16] Malabarba commented on #1760
Could you paste here the contents of the file you're trying to load?

[2016-05-23 22:24] chihyangscience commented on #1760
1. when I open clojure file, there is error:
 Debugger entered--Lisp error: (void-variable cider-mode)
  (not cider-mode)
  redisplay_internal\ \(C\ function\)()

2. the emacs init.el:
(defvar current-user
      (getenv
       (if (equal system-type 'windows-nt) "USERNAME" "USER")))

(message "Prelude is powering up... Be patient, Master %s!" current-user)

(when (version< emacs-version "24.1")

[2016-05-23 22:46] Malabarba commented on #1760
Sorry. I was referring to the contents of the Clojure file you're trying to `C-c C-k`.

[2016-05-23 22:48] chihyangscience commented on #1760
all my clojure files having this issue, e.g.

(ns everbridge.config
  (:require [clojure.edn :as edn]))

(def conf (atom {}))
(def env (atom :dev1))

(defn get-env []
  (keyword @env))

(defmacro get-config [keys]
  `(get-in @conf ~keys))

[2016-05-23 23:02] Malabarba commented on #1760
It looks like your version of cloijure-mode is outdated for some reason, and that's why you're getting the error. Try updating it.

[2016-05-23 23:07] chihyangscience commented on #1760
cool, fixed, thanks

[2016-05-23 23:07] #1760 closed

[2016-05-23 23:13] chihyangscience opened #1761 "cider-refresh not working for me"
## Expected behavior
## Actual behavior

when I execute cider-refresh,  it saying:
   namespace 'everbridge.eb-db' not found

[code]

Note: all my codes compile successfully by execute lein compile/lein run
## Steps to reproduce the problem

execute cider-refresh when cider-jack-in
## Environment & Version information

Emacs: GNU Emacs 24.5.1 (x86_64-apple-darwin13.4.0, NS apple-appkit-1265.21) of

[2016-05-24 03:44] cskksc commented on #1560
I'd like to try this. I'll submit a PR soon.
Also, is there something else to be done for which there's no issue filed yet ? Like the docstring thing ? I really enjoyed doing that. Otherwise for the next few days, I'm gonna try and take up issues tagged with the 0.13 milestone.

[2016-05-24 06:16] Malabarba commented on #1560
Nothing in particular comes to mind, but there's always something else to be done. :-)

As for the current feature. The idea is to add a few (2 or 3) submenus inside the right-click menu listing all operations that act on a symbol-at-point. Feel free to tackle it. 👍🙏

[2016-05-24 06:27] Malabarba commented on #1760
You may want to figure out why you had an outdated version given that cider explicitly depends on a recent one. ;-)

[2016-05-24 10:30] deadghost commented on #1761
Possibly the same issue as https://github.com/clojure-emacs/cider/issues/1144.

[2016-05-24 19:10] triss commented on #1598
Just thought I'd drop a not here to say this is a also problem for me at the moment. I'm using latest version of Quil and CIDER integrated with spacemacs.

Did anyone manage to pull together a quick fix?

[2016-05-25 03:15] bbatsov commented on #1598
Nope.

[2016-05-25 11:26] mrrodriguez commented on #1758
@dobladez  thanks for the advice.  This has helped me get some more information I believe.
These lock ups I describe here are not only on `cider-connect`.  They seem to happen fairly regularly throughout my interaction with the REPL.  I profiled a few times during a locking pause (lasts like 3-10 seconds) and here is what I'm seeing:

[code]

I'm posting here to see if this is useful to anyone on

[2016-05-25 14:27] Malabarba commented on #1758
Thanks for all the info @mrrodriguez. Looks like it's the dynamic-font-lock feature.
Try setting `cider-font-lock-dynamically` to nil and see if it improves the situation for you.

If that's the case, I'll have to see how we can optimize that stuff. It's going to be hard though, given that most of the work seems to be spent on `regexp-opt`. Frankly, I'm surprised that function is not written in C.

[2016-05-25 14:34] Malabarba commented on #1598
You can go into nrepl-client.el and comment out the code that signals this warningl=. :-P

[2016-05-25 14:48] TreeRex commented on #1349
I was getting this error as well.

It turns out that DIME (Dylan Interaction Mode for Emacs), included with dylan-mode,  defines a `when-let` macro globally using `cl-defmacro`:

    (cl-defmacro when-let ((var value) &rest body)
      "Evaluate VALUE, if the result is non-nil bind it to VAR and eval BODY.

    \(fn (VAR VALUE) &rest BODY)"
      (declare (indent 1))
      `(let ((,var ,value))

[2016-05-25 15:20] Malabarba commented on #1349
Could you please file an issue with them too? They're redefining a macro that's built-in in Emacs 25, but they're using an incompatible definition. That's going to cause problems with a lot more packages than just cider.

[2016-05-25 17:00] brianmingus commented on #1759
@Malabarba I have come up with a reproducible test case and have created a video of it. Is there an email address where I can send you a link to the video?

The problem seems to be that the ```*cider-error*``` buffer in particular doesn't play with the following elisp code that I use extensively to prevent emacs from popping buffers in random places:

[code]

The code dedicates all windows to thei

[2016-05-25 18:39] Peeja opened #1762 "Request: let cider-refresh-after-fn accept a function with optional args"
Currently, `cider-refresh-after-fn` "must be a namespace-qualified function of zero arity." The function I'd like to call takes an optional argument, but I'd like to call it with the defaults. Unfortunately, Cider refuses because its arity isn't literally 0. It would be great for me if it would still call it with arity 0, as long as that's legal.

[2016-05-25 19:45] athinggoingon opened #1763 "What happened to the list of key bindings?"
Sorry, if I am missing something, but it seems like the list of key bindings has been removed during the move to the manual?
https://cider.readthedocs.io/en/latest/

[2016-05-25 19:50] bbatsov commented on #1763
The keybindings for some particular mode are usually listed in its section of the manual - e.g. https://cider.readthedocs.io/en/latest/interactive_programming/

[2016-05-25 19:50] #1763 closed

[2016-05-25 22:12] mrrodriguez commented on #1758
@Malabarba I set `cider-font-lock-dynamically` to nil and I believe most of my locking has went away.
I haven't seen any significant lock up since I did this.

That is unfortunate that this seems to bottom-out on `regexp-opt`... maybe there is a way to avoid calling it as much or something.  However, I have no expertise in that area right now.

What am I losing by now having `cider-font-lock-dynam

[2016-05-26 03:03] bbatsov commented on #1762
Yeah, I guess we can change this.

[2016-05-26 03:05] bbatsov commented on #1758
I do wonder why only some people are experiencing those lockups, though. Guess it has to do with the size of the buffers you're working with.

[2016-05-26 06:40] cskksc commented on #1560
I couldn't work on this for the last two days. The PR should be ready by tomorrow.

[2016-05-26 10:34] woggle23 opened #1764 "Problems running a node repl env for Clojurescript development"
## Expected behavior
When launching `cider-jack-in-clojurescript`, a `cljs` `repl` should be generated displaying:
[code]
Which will evaluate `cljs` functions.

## Actual behavior
The `cljs` `repl` launches, but the prompt is:
[code]
Evaluating anything, even simply hitting `<cr>` causes the evaluation to hang. Hitting `Ctrl-c` (a few times) after a while yields the following:
[code]

## Steps to

[2016-05-27 08:40] woggle23 commented on #1764
OK, it looks like it was still some `$PATH` related issue. Although it managed to find `node` it clearly still wasn't happy. I reinstalled node to `/usr/local/bin` (not sure why it wasn't installed there in the first place TBH); problem resolved.

Cheers

[2016-05-27 08:40] #1764 closed

[2016-05-27 20:37] danielsz opened #1766 "Completion at point error -- Error running timer ‘company-echo-show’"
I frequently update my Emacs packages (including Cider and Company), and I noticed that something broke very recently with regards to code completion. I could verify on the Cider channel in Slack that I'm not the only one experiencing this error, hence this report.
Completion still works, but when typing in the REPL, an error displays in the status bar with the following message:

[code]
The full

[2016-05-27 20:38] mallt opened #1767 "Feature request: call function at point and prompt arguments"
When writing a clojure function I often find it helpful to repeatedly call the function with the same parameters and get the result as an overlay in the buffer.
I use a simple function for this at the moment that applies the hard coded arguments I want to test to the function at point:

`(defun call-clj-function-at-point ()
  (interactive)
  (save-buffer)
  (cider-interactive-eval (concat "(apply

[2016-05-27 22:04] atstp opened #1768 "cider-quit ignores global-font-lock-mode"
## Expected behavior

`cider-quit` respects `global-font-lock-mode`

## Actual behavior

`cider-quit` highlights previously un-highlighted buffers

## Steps to reproduce the problem

start a cider connection (`cider-connect` or `cider-jack-in`)

 * <kbd>M-: (global-font-lock-mode 0) </kbd>
 * <kbd>M-x cider-quit </kbd>

clojure buffers become highlighted

## Environment & Version information

  *

[2016-05-27 22:58] Malabarba opened #1769 "Display Clojure.spec in the doc buffer"
According to http://clojure.org/about/spec

We should probably ensure that cider doc buffers display the same information.

[2016-05-28 04:13] bbatsov commented on #1768
So, you're basically saying that `cider-quit` applies some font-locking?

[2016-05-28 04:14] bbatsov commented on #1769
Yep, we should probably do this, although 1.9 is not going to be released for a while, so this is definitely not something particularly important right now.

[2016-05-28 04:17] bbatsov commented on #1766
Seems this is something related to company's eldoc support. Probably @cskksc's recent changes broke the company integration.

[2016-05-28 04:19] bbatsov commented on #1767
I'm not 100% certain what exactly are you trying to achieve and what's your use-case for this in general. Some more examples would be useful.

[2016-05-28 05:35] cskksc commented on #1766
@bbatsov Ill try to fix this by tomorrow. I'm out of town this weekend.

[2016-05-28 18:13] mallt commented on #1767
Here's a screencast to clarify the request with a small example:
![cider-screencast](https://cloud.githubusercontent.com/assets/8885691/15629003/c24b42ac-250f-11e6-954c-d8b300f8be2c.gif)

What I basically would like to do is:
- Call the function at point
- Supply the arguments in the minibuffer
- Print the result as an overlay

As an extra it would be nice if the previous arguments were presented

[2016-05-28 20:14] bbatsov commented on #1767
I understand now. Well, doing something like this is definitely feasible. The only issue is that we'd always have to assume the biggest arity when doing something like this.

[2016-05-28 20:16] bbatsov commented on #1767
Btw, another way to achieve more or less the same result would be to just populate the defun-at-point in the minibuffer eval. eldoc is visible even then, so you'd know the args (and you'd have the minibuffer history to recall old invocations).

[2016-05-28 22:21] mallt commented on #1767
Thank you for pointing me to cider-read-and-eval! I think that will be indeed the easiest way to make this work. I hope to come up with a PR for this soon.

[2016-05-29 21:54] mallt commented on #1767
@bbatsov I've added 2 functions to test the minibuffer eval:
- cider-read-and-eval-defun-at-point
- cider-repeat-last-clojure-eval

Here's a small screencast:
![cider-screencast](https://cloud.githubusercontent.com/assets/8885691/15636108/2dc1e4ba-25f5-11e6-9ce3-b5383b70fd9f.gif)

After some testing I think this perfectly fits my needs. Do you think this approach is interesting for a PR?

[2016-05-29 22:21] #1577 closed

[2016-05-30 04:52] #1766 closed

[2016-05-30 04:56] cskksc commented on #1766
@danielsz Please check if this fixes the issue. Also, thanks for the detailed bug report :-)

[2016-05-30 09:24] danielsz commented on #1766
It looks much better now.

:+1:

Thank you for fixing it :-)

It is a joy to code in Cider, and even more so when everything works!

[2016-05-31 05:19] bbatsov commented on #1767
This looks good to me.

Honestly I'm not quite sure what this is supposed to do. :-)

[2016-05-31 05:26] bbatsov commented on #1743
Closing due to lack of an answer.

[2016-05-31 05:26] #1743 closed

[2016-05-31 07:17] atstp commented on #1768
yeah, that's correct.  I'll update the description above with more specific terminology after I brush up on it.

For what it's worth, the last similar issue was closed with [this commit](https://github.com/clojure-emacs/cider/commit/bfd519d498e93c8a8b2c466e11f877939aa17131)

[2016-05-31 08:29] mallt commented on #1767
Yes indeed, it is just a shorthand for cider-read-and-eval and then evaluating the previous history item.

[2016-05-31 11:55] bbatsov commented on #1767
You don't really need `cider-read-and-eval` for this. You can just use `cider-interactive-eval` internally. Or if using `cider-read-and-eval` you can just pre-populate the minibuffer, so people can edit the arguments if necessary.

[2016-05-31 12:01] mallt commented on #1767
I currently have it set to:
`(defun cider-repeat-last-clojure-eval ()
  (interactive)
  (cider-interactive-eval (car cider-minibuffer-history) nil (cider-defun-at-point 'bounds)))`

But I think it can be confusing when your point is located on another defun than the previous eval. Maybe it should just print the result in the minibuffer, not as an overlay.

[2016-05-31 14:21] #1768 closed

[2016-05-31 14:21] Malabarba commented on #1768
Should be fixed now. Let me know if it works.

[2016-05-31 14:23] Malabarba commented on #1767
Still, it's pretty similar to just doing `C-c M-:` and then hitting `M-p` or `<up>`. Maybe we don't need an extra command for that.

[2016-05-31 14:25] bbatsov commented on #1767
This is what I was about the say. If it takes some context from the source buffer, an extra command makes sense. Otherwise it seems like an overkill.

[2016-05-31 14:31] mallt commented on #1767
Yes you're right, I guess it's better suited for my local config instead. :)

[2016-05-31 18:38] Malabarba opened #1771 "Improve our ClojureScript exceptions"
Spawned from a Slack conversation:

Currently our ClojureScript exceptions show up in red text on the REPL, which is just painful. It would be nice to have them displayed in a proper `*cider-error*` buffer like Clojure exceptions do.

IIUC what @bhauman explained on Slack these come in 3 different kinds
1. Javascript runtime exceptions, which should be pretty easy to fix.
2. Compiler exceptions, t

[2016-05-31 18:46] bhauman commented on #1771
And a note here, is that I'm willing to work on piggieback so that you get appropriate messages back for these different events.

[2016-06-01 05:15] bbatsov commented on #1771
@bhauman That would be great.

[2016-06-02 08:50] redraiment opened #1772 "Autocomplete fails when nREPL not connected"
## Expected behavior

Can auto complete typing as well even if nREPL not connected.

## Actual behavior

When nREPL not connected, it will show below error message when typing:

[code]

## Steps to reproduce the problem

1. Launch Emacs
2. Switch to a temporary buffer by `C-x b tmp-buffer`
3. `M-x clojure-mode`
4. `M-x cider-mode`
5. Type something, like `hello world`, to trigger `auto-complete`

[2016-06-03 12:20] puredanger commented on #1717
In case it helps anyone, I recorded the results of some of my own explorations at http://dev.clojure.org/display/design/Improving+Clojure+Start+Time - I had a timeboxed period of time to look at this, so this is not done and certainly more things I'd like to look at / investigate in the future. I wasn't looking at cider at all but really at lein / nrepl times, which has a lot of overlap to what yo

[2016-06-03 15:34] Malabarba commented on #1717
@puredanger Thanks for all the info. I'm curious about direct-linking. If we compile cider with direct linking, should (in theory) we see a performance increase when starting a REPL in a project that doesn't have direct-linking enabled?

[2016-06-03 19:09] weissjeffm opened #1775 "Can't debug forms that contain macros that use &env"
I know there aren't a lot of macros that use it, but core.async does. It's a pretty widely used library and it's one that is particularly hard to debug without cider's debug facility.
## Expected behavior

[code]

Evaling that form should work.
## Actual behavior

ExceptionInfo Could not resolve var: a  clojure.core/ex-info (core.clj:4593)

The error occurs in `clojure.walk/macroexpand-all`. I bro

[2016-06-04 04:02] samroberton opened #1776 "Forms which macroexpand into deftest aren't recognised by cider-test-run-test"
## Expected behavior

`cider-test-run-test` should run the test at point, even if it is not directly declared in the Emacs buffer with `deftest`.

You might use a convenience macro which macroexpands into a `deftest` form as a means of following [Stuart Sierra's advice](https://stuartsierra.com/2016/05/19/fixtures-as-caches) to avoid `clojure.test`'s fixtures mechanism, for example.
## Actual beha

[2016-06-04 13:24] puredanger commented on #1717
@Malabarba If the slowdown is in cider itself and the function invocation is a cause of the slowness, then yes. However, I think it's unlikely that either of those is true, so in practice, my guess would be that you'd see little effect.

[2016-06-04 14:17] dpsutton commented on #1776
Seems like the line `(if (and ns (member (car def) '("deftest" "defspec")))` in `cider-test-run-test` would be the offender. I suppose we could make it a case and then check the macro-expansion with ` (when-let ((expansion (cider-sync-request:macroexpand expander expr)))`.  I can do this if someone confirms this is the right track to proceed on.

[2016-06-05 13:07] johnbendi opened #1777 "customize-group cider is broken"
`customize-group: cider` is broken with the following backtrace:
[code]

[2016-06-06 01:25] SlightlyCyborg opened #1778 "I do not appear to have any debugger commands"
## Expected behavior
I run C-h b and I expect to see cider debugger commands

## Actual behavior
[code]
There are no debugger commands

## Environment & Version information

I have 3 versions of cider installed. I installed all of them using (list-packages).
[code]

### CIDER version information

[code]

### Lein/Boot version

[code]

### Emacs version

Emacs Version 24.5 (9.0)

### Operating syst

[2016-06-06 08:31] waylandc commented on #1670
vandr0iyi, just a FYI but the rainbow-delimiters-mode removed support for the 'global' mode.
[https://github.com/Fanael/rainbow-delimiters#global-mode](url)

[2016-06-06 13:30] weissjeffm commented on #1775
I think the actual issue is in cider-nrepl, should I move this bug report over there?

[2016-06-06 13:59] Malabarba commented on #1775
That's not necessary. You can leave it here. Sorry I haven't had time to look into it yet.

[2016-06-06 15:54] Malabarba commented on #1775
I've confirmed this happens for me too. I'd rather not add an extra dependency just to workaround a bug in `clojure.core`. So I think we'll have to borrow code from riddley (as little as possible), although I haven't actually verified that riddley's macroexpander indeed fixes this.

[2016-06-06 18:21] johnbendi commented on #1777
I forgot to include `(cider-version) => 0.13.0snapshot (package: 20160602.809)`

[2016-06-06 18:35] johnbendi opened #1779 "No comment syntax defined on *cider-error* buffer"
I keep getting this message anytime the `*cider-error*` buffer pops up

`cider-version => 0.13.0snapshot (package: 20160602.809)`

[2016-06-06 18:51] johnbendi commented on #1779
I'm using this hack for now:
[code]

[2016-06-06 19:04] Malabarba commented on #1779
1. Do `M-x toggle-debug-on-error`.
2. Reproduce the problem

You'll get a backtrace you can paste here.

[2016-06-06 19:06] Malabarba commented on #1778
The debugger does not have a dedicated command.
You can find instructions on how to use it in the manual: http://cider.readthedocs.io/en/latest/debugging/

[2016-06-06 19:09] #1777 closed

[2016-06-06 19:11] Malabarba commented on #1777
Thanks for reporting :+1:

[2016-06-06 23:21] Malabarba commented on #1769
Here's an example of what we'd like to display: http://clojure.github.io/java.jdbc/#clojure.java.jdbc/create-table-ddl

[2016-06-07 04:54] cskksc commented on #1769
I'd like to take this up. I'll submit a PR soon.

[2016-06-07 05:42] #1778 closed

[2016-06-07 11:06] johnbendi commented on #1779
@Malabarba toggling debug-on-error does not produce any backtrace and I don't think it should. I'm going to attach a screenshot to help you see the issue as it appears to me:

![cider_no_comment_syntax_defined](https://cloud.githubusercontent.com/assets/1025834/15855577/1cf5a2c0-2ca8-11e6-8f8b-7c393014ffbd.png)

[2016-06-07 14:22] Malabarba commented on #1779
Right, sorry, I should've paid more attention.
Instead, do this:

1. Do `M-x toggle-debug-on-quit`.
2. Reproduce the problem.
3. Hit `C-g` on that prompt.

You'll get a backtrace you can paste here.

[2016-06-07 14:44] johnbendi commented on #1779
Okay thanks. This one was a bit tricky though. I had to C-g like 20 times before I could get a backtrace and the prompt still persists even after quiting the backtrace. But looking at it I think the backtrace info should be helpful:
[code]

[2016-06-07 15:21] Malabarba commented on #1779
Thanks. That's still a bit misterious, but it gives me something to look for. :-)

[2016-06-08 14:28] Malabarba commented on #1779
@johnbendi What's the value of `font-lock-fontify-region-function` for you in the cider-error buffer?
It looks like this variable is being set to a value that does some special clojure fontification, but that's only supposed to happen in `cider-mode`, it shouldn't happen in `cider-stacktrace-mode`.

[2016-06-09 08:52] vandr0iy commented on #1670
@waylandc the project does not exist

[2016-06-09 15:53] vkz commented on #1615
I think I experience a related bug but not specific to `restart`. Instrument a defun with `cider-debug-defun-at-point`, eval expr using this defun and get:
[code]
Stackframe trace isn't informative.

[code]
####  Emacs version
GNU Emacs 24.5.1 (x86_64-apple-darwin14.5.0, NS apple-appkit-1348.17)

[2016-06-10 07:47] #1767 closed

[2016-06-10 11:38] cskksc commented on #1775
I was trying out `riddley` in cider-nrepl, but it din't solve the issue. Not sure if it was the right approach;
What I did;
1. I think that [instrument-tagged-code - instrument.clj:288](https://github.com/clojure-emacs/cider-nrepl/blob/master/src/cider/nrepl/middleware/util/instrument.clj#L288) is the fn which calls `macroexpand-all` causing the `&env` problem.
2. [macroexpand-all - meta.clj:36](h

[2016-06-10 12:10] stardiviner opened #1780 "Can't evaluate some sexps."
I have code snippet:

[code]

## Expected behavior
It should print 3.

## Actual behavior
But it actually result to CIDER debugger stack:

[code]

## Steps to reproduce the problem

Press `[C-x C-e]` on example sexp, `cider-eval-last-sexp`.

## Environment & Version information

### CIDER version information

[code]

### Lein/Boot version

Leiningen 2.5.3 on Java 1.8.0_66 Java HotSpot(TM) 64-Bit S

[2016-06-10 15:14] Malabarba commented on #1780
Looks like enlighten-mode is failing because the debugger is not initialized.
How are you starting your REPL? Does this happen every time?

One workaround for now is to disable enlighten-mode.

[2016-06-10 15:17] Malabarba commented on #1775
I don't know. Maybe you can try replacing our own `macroexpand-all` in `instrument.clj:288` with riddley's version. The debugger is probably not going to work when you do that, but if that gets rid of the `&env`-related exception at least it's an indication of a possible solution. :-P

[2016-06-11 01:07] stardiviner commented on #1780
@Malabarba
I start CIDER daemon with the following code:
[code]

[2016-06-11 01:07] stardiviner commented on #1780
Yes, disable `cider-enlighten-mode` solved this problem.

[2016-06-11 07:39] redraiment commented on #1772
After research, this is ac-cider issue, and will be fixed in ac-cider project.

[2016-06-11 07:39] #1772 closed

[2016-06-12 02:15] arichiardi commented on #1717
Just wanted to add a quick test I did today: thanks to @micha's `boot-cp` I can generate the classpath and then launch the repl using `java`. The following is the testing script (the project has 30-35 deps):

[code]

And this is the result on my machine:
[code]

The `java` command is almost instantaneous, so it looks like the biggest part is to generated the classpath. My machine is not so fast ;)

[2016-06-12 04:21] Malabarba commented on #1717
@arichiardi, I don't understand. If you time the execution of that script, won't that include the time taken to generate the class path? Isn't that what the `boot with-cp -w`part is doing?
If so, how can you conclude that generating the class path is the slow part?

[2016-06-12 04:41] arichiardi commented on #1717
@Malabarba mmm, maybe something is off :smile: but I tried the script with a generated classpath (reading from a file) and `java -cp` is of course super quick...also tried [this](https://github.com/kovrik/cider-diet/issues/1)...probably I should have specified that part too...

[2016-06-13 00:52] kovrik commented on #1717
I think there is a little bit of confusion here.
Generating classpath should not be slow (and I believe that it is not).

Actually, there should be no significant difference between `java -cp ..` with pre-generated classpath and without it.

Also, as https://github.com/kovrik/cider-diet shows (at least I hope so) is that starting nREPL server does not take much time either (it is not super fast, b

[2016-06-13 01:09] arichiardi commented on #1717
Mmm, I basically used boot for writing the classpath to a file and then do `java -cp $(cat file)` and of course the latter is quite fast compared to the time `boot` takes to spin up a JVM and resolve the classpath using aether and shutdown.

Note that I used cider-diet like this as well and it is still way faster then a normal lein/boot Repl.

At this point profiling with visualvm would clear up t

[2016-06-13 04:49] chemouna opened #1781 "Jump to definition M-. error symbol function definition is void : cider-turn-on-eldoc-mode"
Jump to definition M-. is not working for me on any version 0.12.0.
I get this error:
[code]
The repl, code completion and almost everything else is working, but not the jump to definition.
Is this expected, or should it be working?
Thanks.

[2016-06-13 05:00] syohex commented on #1781
`cider-turn-on-eldoc-mode` was obsoleted function and removed. You can use `eldoc-mode` instead of it.

[2016-06-13 05:35] #1781 closed

[2016-06-13 13:35] kthu commented on #1611
I know this issue is closed, but I'll just put the following up here for future reference;

For me this problem consistently shows up in the latest version of Cider (20160612.1230) if clj-refactor is installed. It worked fine in the previous version (I guess before the workaround in e2f9ffd), but I have struggled with this problem in earlier versions.

I am using Spacemacs where clj-refactor is pa

[2016-06-13 14:00] Malabarba commented on #1717
I think `java -cp $(cat file)` doesn't do much. You'd have to call the actual function that starts a repl, wouldn't you? Otherwise only clojure.main would be loaded.

[2016-06-13 14:03] Malabarba commented on #1717
@kovrik What does your cider-diet actually do? Is it just a jar that bypasses lein/boot (by starting a REPL with all the middleware attached)?

[2016-06-13 14:25] arichiardi commented on #1717
@Malabarba yes it is exactly that, and launches nrepl server...

[2016-06-13 14:25] Malabarba commented on #1611
I've deployed a possible fix for this. Let me know if it works for you (make sure lein fetches today's snapshot).

[2016-06-13 15:17] kthu commented on #1611
Yes. That fixed it! Thank you.

[2016-06-13 15:35] arichiardi commented on #1717
Class loading is inherently slow as Alex's findings show, so it makes sense that if you load classes from boot and lein (together with core + cider) the time goes up.

For example another thing I notice with `cider-diet` is that the startup is very fast but it brings you to `user` only. As soon as I switch to any other app ns (in particular `dev`, where I require a lot of stuff), there is another

[2016-06-13 16:31] puredanger commented on #1717
@arichiardi I'd be slightly more careful in words there. I didn't find that classloading is inherently slow (I think it's actually quite fast). I found that start time is correlated with the number of vars loaded (which is also correlated with classloading). Several things contribute to the per-var cost and classloading is only one component (and I suspect not the dominant one).

[2016-06-13 17:06] arichiardi commented on #1717
@puredanger true, sorry about that, it is probably not class loading but rather var loading...again, I will need some profiling session before saying something more accurate :+1:

[2016-06-13 18:50] vspinu opened #1782 "Disable symbol documentation in minibuffer?"
I find display of the documentation in the minibuffer a non-feature. It's almost never useful, interferes with eldoc, and it constantly resizes/recenteres the display. How do I disable that? Thanks.

[2016-06-13 19:12] vspinu opened #1783 "Make `cider-eval-map` and bind it to `C-c C-e` instead of `C-c C-v`"
Two related issues.

First, would be good to place `C-c C-v` [eval commands](https://github.com/vspinu/cider/blob/master/cider-mode.el#L290-L293) into a specialized map.

Secondly, have you considered using `C-c C-e` for that map? `cider-eval-last-sexp` is already bound on `C-x C-e`, so using `C-c C-e` seems like a waste of a good key. `C-c C-v` is very handy and could be dedicated to something mo

[2016-06-13 21:32] kovrik commented on #1717
@Malabarba

Correct.

Took a quick look at profiling snapshot (it was `lein repl` in `cider-nrepl` project with `:repl-options {:init (System/exit 0)}` in `project.clj`).

Results:
https://gist.github.com/kovrik/57b46185c96e29ea9e117a7ffc933c8a

[2016-06-13 21:47] Malabarba commented on #1783
You mean actually write a separate keymap for eval commands? We could do that, there's no harm in it, but there isn't much benefit either.

However, I don't see a reason to bind it to some other key. I know a lot of people use C-c C-e, so I'd rather keep the redundancy in this case.

[2016-06-13 22:06] arichiardi commented on #1717
Nice! So as expected the load functions are taking the most of the time, at this point it would be great to know the load of what exactly. This confirms what Alex was saying, aka that var loading is the heavy part.

[2016-06-13 23:41] vspinu commented on #1783
The benefit is that people can move the whole map around to their favorite key. C-c C-v is too good to be wasted for those rarely used keys.

It might be too late to change it indeed. My personal opinion is that enforcing a consistent C-x C-e across emacs modes is worth the pain of breaking the backward compatibility.

[2016-06-14 05:55] cskksc commented on #1782
@vspinu Are you referring to the docs which are displayed for `def`'d vars ? Right now that is tied together with `eldoc` for functions, so there's no way to disable it independently. You'll have to disable entire `eldoc` for this. Although it would be easy to add a `defcustom` to control this. @bbatsov @Malabarba ?

[2016-06-14 05:56] bbatsov commented on #1783
I'd say it's too late for `C-c C-e`, but eventually we might have all eval commands under `C-c C-v` for convenience's sake.

[2016-06-14 06:13] cskksc commented on #1775
@Malabarba Yep, it works. What's great is that the debugger also partially works. `locals` and `eval` seem to work. It does mean that `riddley` is doing something right. Should we look into what parts of code we require here ? Although it is a pretty small library, so I am assuming most of it would be needed for this.

<img width="658" alt="screen shot 2016-06-14 at 11 35 54 am" src="https://cloud

[2016-06-14 06:26] bbatsov commented on #1782
This is exactly how Elisp's eldoc works, although it shouldn't resize or recenter the display. Can you share some repro steps for this?

Obviously we can do this, but I don't want to add a config option for absolutely anything someone might have an issue with. If more people find this behaviour problematic then a defcustom would make more sense. Right now I'd rather focus on what exactly is proble

[2016-06-14 07:24] mambolevis opened #1784 "(void-variable cider-mode)"
Considering the following configuration:
[code]
An error message appears when trying to open a clojure project
[code]

## Expected behavior
The idea is to defer cider, as default, and only activate it when necessary. I also want to  reduce emacs start up proces.
## Actual behavior

## Steps to reproduce the problem

- Add `:defer t` to the configuration used by Bozhidar Batsov in his emacs config

[2016-06-14 09:46] mambolevis commented on #1784
To solve the problem, I added the following :init configuration:
[code]
So, my final working configuration is:
[code]
Even it is working now, I would like to see your opinion/advice.

[2016-06-14 10:33] vspinu commented on #1782
Not only. I am seeing blinking doc for functions as well. For instance when I navigate to `(count ...)` I see a blinking full size docstring and immediately after the eldoc argument string.

This blinking is not comming from eldoc. It shows as a message in the `*Messages*` buffer. Eldoc inhibits pollution of `*Messages*` buffer so it's either something else or eldoc breaks somewhere.

Not quite. E

[2016-06-14 12:32] bbatsov commented on #1782
Show me a screenshot, as I'm having a hard-time figuring out what exactly are you seeing.

[2016-06-14 13:19] vspinu commented on #1782
Seems like it's my problem only. I will track it down myself.

This is what I see. It's a plain message (no eldoc color) with output to `*Message*` buffer

![eldoc](https://cloud.githubusercontent.com/assets/1363467/16044048/23e8c968-3243-11e6-8db3-7e611db62bd8.png)

[2016-06-14 13:40] cskksc commented on #1782
@vspinu This is a problem for everyone. https://github.com/clojure-emacs/cider/blob/master/cider-eldoc.el#L150 is what you're looking for, till we consider `eldoc-echo-area-use-multiline-p`.

[2016-06-14 14:10] Malabarba commented on #1717
Could we trim unused vars from cider-nrepl? I'm sure all vars directly in cider are used, but we also inline dependencies, so some of those deps could have vars to be trimmed.

[2016-06-14 14:20] bbatsov commented on #1782
The font faces always look off and there should definitely be nothing in `*Messages*`.

[2016-06-14 14:22] Malabarba commented on #1783
PRs welcome. :-)

[2016-06-14 14:24] cskksc commented on #1782
@bbatsov I'm working on the multiline docstring. I'd not considered `eldoc-echo-area-use-multiline-p`.
However, on my setup, it doesn't post anything in `*Messages*` buffer. Does this behave like @vspinu for you too?

[2016-06-14 14:24] Malabarba commented on #1782
Hey there. Looks like it's an issue with the mouse-over functionality.

[2016-06-14 14:50] Malabarba commented on #1784
You don't need that `with-eval-after-load`. Hooks work even before they're defined, so you can just use this:

    (add-hook 'clojure-mode-hook 'cider-mode)

Indeed, that's the correct way to hook-up Cider, but I'm a little worried about the error you were getting. I don't think that was supposed to happen. Can anyone else reproduce it by following the same config?

[2016-06-14 14:55] weissjeffm commented on #1775
I'm really interested in being able to debug core.async, so anything I can do to help, let me know.

I took a look at what riddley's macroexpand-all depends on, and it's basically the entire library. It's 335 lines of clojure plus a few lines of java.

[2016-06-14 14:55] Malabarba commented on #1775
It's small, but these things have an effect. :-)
Because of how nrepl works, all libraries that CIDER requires are loaded at startup (and in cases like lein, more than once) so they end up stacking to the sad startup times we have now.

Does the library also preserve metadata when expanding?
If so, then maybe we can use it. Otherwise, we have no choice but to figure out how to immitate it.

[2016-06-14 15:23] cskksc commented on #1782
@Malabarba You're saying, eldoc strings being printed in `*Messages*` could be related to mouse-over ? I'm not able to reproduce it.

[2016-06-14 15:24] cskksc commented on #1775
I thought so. After reading all the comments on #1717. I'm not sure if it preserves the metadata. I'll take a look.

[2016-06-14 15:33] Malabarba commented on #1782
I got interrupted while writing that message, so I couuldn't finish.

@vspinu The message you're seeing looks a lot like the message that gets displayed as a **tooltip** when the user mouses-over a symbol. Maybe you've configured your emacs to show tooltips in the echo area *and* show echo-messages according to cursor position (instead of mouse position)?
I'm not saying you're wrong to do that, I'

[2016-06-14 15:44] weissjeffm commented on #1775
[code]
Looks like it does not, assuming I'm testing it right.

[2016-06-14 15:53] weissjeffm commented on #1775
I ran the same test on jvm.tools.analyzer's macroexpand (which supposedly also preserves `&env`). It also returns `nil`.

[2016-06-14 18:26] vspinu commented on #1782
Hmm.  Not what I am aware of. I have a couple of tooltip settings but all those are innocent AFAICT.  Also when I move my mouse over a symbol I do see a proper tool tip with the doc. So it's not that, but might be related. I am almost sure it's not eldoc as it happens before eldoc function enters. I will debug it in the night.

[2016-06-14 23:05] vspinu commented on #1782
@Malabarba hit the nail on the head. I tracked it down to `help-at-pt-display-when-idle` which I set to `t` some time ago to see messages that eclim puts on java error locations.  As cider now places `help-echo` property on the entire buffer I found myself bombarded with the help messages.

I guess there is nothing cider can do about it as there is no way to distinguish between tooltip and other c

[2016-06-14 23:22] Naomarik commented on #1120
@ptaoussanis Did you find an efficient way to evaluate the correct forms between two repls?

[2016-06-15 01:51] Malabarba commented on #1782
Given that the feature is super intrusive in that case, and given that it's a built-in emacs option, maybe we should disable the tooltip when that variable is the.

[2016-06-15 05:44] bbatsov commented on #1782
Makes sense.

[2016-06-15 05:45] bbatsov commented on #1784
Isn't `defer` deprecated now? I recall something like this. I definitely don't use it in my own config.

[2016-06-15 07:46] mambolevis commented on #1784
I checked use-package (GitHub) documentation, but  I couldn't find information about `:defer` deprecation. Is there any place (or website) where emacs deprecated `symbols/function/vars `are listed?

[2016-06-16 06:20] stardiviner commented on #1780
Now I start `cider-enlighten-mode` with this:
[code]

[2016-06-17 20:49] johnbendi commented on #1779
@Malabarba sorry I have been away. This is what I get:
[code]
I used `with-current-buffer` to get the value. Hope the values makes some sense.

[2016-06-17 22:56] EricGebhart opened #1786 "Load (C-c C-k) and load-defun is not consistently working properly."
## Load  / Reload of code should not cause existing code to start crashing.

This is really strange, It is so fundamental I cannot see how it could be possibly broken.

## Running a cascalog query after deleting/adding a blank line or function
and then reloading the code causes the code to crash. It is seemingly only a cascalog
problem in that it only fails when there is a filterfn or logic-ops fu

[2016-06-18 22:30] mallt commented on #1646
While adding a defcustom for this request, I noticed the cider-apropos functions are not available when testing a clean emacs installation with "make run-cider". Is it somehow possible to make these functions available in the "make run-cider" environment, or is it necessary to load them manually?

[2016-06-20 10:21] cursive-ide commented on #1717
Generating the classpath can definitely be slow with Lein, since that requires all plugins and middleware to be loaded and all dependencies to be resolved. If you have all deps cached locally the resolution is quite quick, but if you have any snapshot repos it can take a really long time.

I actually considered caching the REPL classpath along with the fully resolved project map for a given projec

[2016-06-20 11:15] raszi opened #1787 "cider-format-buffer does not honor indent spec"
## Expected behavior

`cider-format-buffer` should indent macros as they are defined with [`{:style/indent 2}` specification](http://cider.readthedocs.io/en/latest/indent_spec/).

The correct formatting, if I indent with `indent-region`:

[code]

## Actual behavior

It is formatting the standard way if I format that with `cider-format-buffer`:

[code]

## Steps to reproduce the problem

Create a m

[2016-06-20 16:04] EricGebhart commented on #1786
I've upgraded java.

    ;; CIDER 0.13.0snapshot (package: 20160612.1230), nREPL 0.2.12
    ;; Clojure 1.7.0, Java 1.8.0_91

The first run was marginally better.  But still failed after adding a function and loading it.  Loading all the code also failed.  Loading the function, then loading the code got it to work again.
I've tested this over and over.  Adding a function and loading the file does n

[2016-06-20 19:05] EricGebhart commented on #1786
I upgraded emacs, and moved my .emacs.d out of the way.  All packages are fresh.

GNU Emacs 24.5.1 (x86_64-apple-darwin13.4.0, NS apple-appkit-1265.21) of 2015-04-10 on builder10-9.porkrind.org

The problems persist.  I've established that the problem cannot be reproduced with a friend's setup using cider 9-snapshot and an old version of my emacs setup.

Trying a vanilla emacs setup next.

[2016-06-20 21:22] dpsutton commented on #1709
I believe that this issue has been closed now. So when the middleware updates the version of compliment we should be good to go.

[2016-06-20 21:26] kovrik commented on #1717
By "*cached*" you mean "*have deps in a local Maven repo*" or "*have pre-generated and cached classpath*"?

And why dependency resolution is slow in Lein?
Is it caused by transitive dependencies?
Or it is just because the way it resolves them is not optimized?

Tried `mvn dependency:list` on a huuuuuge project (45 modules, tons of deps) - it took 1 min for the first run (mostly downloading deps),

[2016-06-21 00:18] cursive-ide commented on #1717
Sorry, by cached I meant "your deps are in your local Maven repo".

I haven't broken it down, but lein definitely takes a long time to calculate the classpath. Again, this involves loading all middleware & plugins and does a surprising amount of work - I haven't profiled it to see how much is resolution and how much is lein doing its thing.

Previously, Cursive used to calculate the REPL classpath

[2016-06-21 00:38] kovrik commented on #1717
But the problem is that at least for me it still takes ~20 seconds to start `lein repl` even if all dependencies are in my local Maven repo.
That is why I think it's weird.

I'm loading all middleware in `cider-diet` (see messages above) and it takes just 4 seconds to start JVM, load everything up, start nREPL server and connect to it.

Maybe I am missing something, but I don't understand how depe

[2016-06-21 02:24] puredanger commented on #1717
In my investigations, I have not found that dep resolution is the slow part (unless you have a totally empty local Maven cache, which I'm going to say is not an interesting thing to optimize as it's rare). If that is the slow part, then you should see all that time go away when using lein fast trampoline, so that's a useful thing to compare to get an idea.

When startup takes 10s of seconds it is

[2016-06-21 05:44] bbatsov commented on #1787
That's a problem with cljfmt - https://github.com/weavejester/cljfmt/issues/49

Someone has to add support for the metadata to it.

[2016-06-21 05:44] #1787 closed

[2016-06-21 12:38] Malabarba commented on #1717
Yes, AOT compiling Clojure is probably not something we should do. However, cider does inline all of its dependencies (besides Clojure) so that should prevent conflicts should we decide to AOT them (IIUC).

[2016-06-21 17:06] EricGebhart commented on #1786
I now have a very minimalist .emacs file which shows the problem.  The only packages it loads are
`cider, clojure-mode, flycheck-clojure and flycheck-pos-tip.`

It is somehow related to `flycheck-clojure`.  Disabling `flycheck-clojure` causes the problem to go away.

However it seems somehow related to whether the file is currently saved or not.

If I add a new function `(defn a [x] x)`, save the

[2016-06-22 15:54] expez opened #1789 "Make the scratch buffer work with cljs"
Rotating the connection should dispatch to the right buffer.  Alternatively we could add a cljs scratch buffer.

[2016-06-23 06:22] muhuk opened #1790 "core.typed: Attempting to call unbound fn: #'clojure.core.typed.contract-utils/boolean?"
When I do `M-.` and confirm (`Enter`) that want to go to the var cursor is on...

## Expected behavior

...it should jump to the definition of that var.

## Actual behavior

It displays:

    core.typed: Attempting to call unbound fn: #'clojure.core.typed.contract-utils/boolean?

In the info bar and does not go to the definition.

## Environment & Version information

### CIDER version information

[2016-06-24 06:24] bbatsov commented on #1789
I'm not sure what exactly do you refer to. More details, please.

[2016-06-24 06:26] bbatsov commented on #1786
If it's related to `flycheck-clojure` this should be reported there I guess. I don't use it and I'm not familiar with it.

[2016-06-24 06:26] #1786 closed

[2016-06-24 06:28] bbatsov commented on #1784
Guess I was recalling https://github.com/jwiegley/use-package#notes-about-lazy-loading

[2016-06-24 06:28] #1784 closed

[2016-06-24 07:23] expez commented on #1789
Right now the scratch buffer just dispatches to the clj buffer and there's noting to be done about it.  Cljs users would like a scratch buffer too!

[2016-06-24 07:58] bbatsov commented on #1789
There's a command to set the connection used by the scratch buffer. Probably we can add something to directly create a cljs scratch or we can simply prompt at buffer creation time about the connection that should be associated with a scratch buffer.

[2016-06-26 07:23] emoses commented on #1761
I'm seeing very similar behavior in cider 0.12.0, nREPL 0.2.12, Clojure 1.7.0, Java 1.8.0_25

[2016-06-27 03:37] brandoncc opened #1792 "Symbol's value as variable is void: u}«"
When I attempt to install cider, I am given the following error:

[code]

[2016-06-27 05:20] Malabarba commented on #1792
It looks like you're not installing cider through the package menu. Is that the case?

[2016-06-27 06:58] bbatsov commented on #1758
@Malabarba Will you be able to take a look at this? It's pretty much the only thing I'd like us to fix before rolling out the new version.

[2016-06-27 10:20] bbatsov commented on #1783
Like @Malabarba said. :-)

[2016-06-27 14:50] brandoncc commented on #1792
I actually use spacemacs which has a layer for clojure which installs cider. I tried installing cider using `package-install` as well, without the spacemacs layer. I'm not sure if `package-install` is the menu you are talking about about.

[2016-06-27 15:16] Malabarba commented on #1792
The menu I'm talking about is what you get from `list-packages`, but it's more-or-less equivalent to `package-install`. Maybe you can ask around at spacemacs too. That error you reported is being signaled at every file, and it doesn't look like cider could be causing it.

You could also try a clean install, or try removing all of your customizations temporarily.

[2016-06-27 15:19] brandoncc commented on #1792
Okay. I agree that it seems weird that it is signaled everywhere, but I haven't experienced it with any other package. I did ask in the spacemacs gitter room with no response. I will try removing all of my customizations temporarily and see if I can nail down the cause. If I do, I will update this issue. Thanks @Malabarba !

[2016-06-27 15:32] Malabarba commented on #1758
@mrrodriguez Yes. What you lose by disabling it is that the color won't update. You only have the static font-locking that has always been available in `clojure-mode` (which isn't that bad TBH).

I don't think I'll have time to look at this for now, but we can leave it open. The oportunities for optimization seem to be the following:

- Change the response from the middleware to be sorted.
- Optim

[2016-06-27 22:48] brandoncc commented on #1792
Well, I deleted my packages and let them reinstall and I got that problem fixed, only to have a new one:

[code]

https://gist.github.com/brandoncc/f1fa6debeead3ff9daa03867ff26e39a

I'll open an issue for that one unless I can find one already open.

[2016-06-27 22:48] #1792 closed

[2016-06-27 22:54] brandoncc opened #1793 "java.lang.ClassNotFoundException: jsr166y.ForkJoinPool"
## Expected behavior

I would like the repl to run when I run `cider-jack-in`.

## Actual behavior

I get an error which you can see [here](https://gist.github.com/brandoncc/f1fa6debeead3ff9daa03867ff26e39a).

## Steps to reproduce the problem

I'm not sure, I have a fresh install of emacs (spacemacs) and cider.

## Environment & Version information

### CIDER version information

[code]

### Lein

[2016-06-28 06:58] bbatsov commented on #1758
OK, thanks for the update!

[2016-06-28 07:00] bbatsov commented on #1793
Looks like some dependency issue. What happens if you execute the lein command triggered by `cider-jack-in` manually in a terminal?

[2016-06-28 09:03] ysmiraak opened #1794 "printing chars breaks cider repl printing"
## Expected behavior

`(apply pr (map char (range 128)))`
Should print all the ASCII chars (and it does for lein repl in the terminal).

## Actual behavior

In cider repl, it prints ASCII from 64 `@` to 90 `Z`, and then the printing functionality breaks down: The repl still returns results but won't print anything anymore.

## Steps to reproduce the problem

Do `(apply pr (map char (range 128)))`,

[2016-06-28 17:10] brandoncc commented on #1793
I get the same message. Is there a dependency that needs to be in my profiles.clj or project.clj? I have tried the following `profiles.clj` configurations:

from https://github.com/syl20bnr/spacemacs/tree/master/layers/%2Blang/clojure#quick-start-with-lein :

[code]

from https://github.com/clojure-emacs/refactor-nrepl/issues/141 :

[code]

[2016-06-29 12:35] slipset opened #1795 "wrong syntax class for `?` and `!`"
## Expected behavior
When pressing `C-c C-d d` while point is inside `swap!` I expect to be prompted for the docs about `swap!`

## Actual behavior
I get prompted for the docs about `swap`

## Steps to reproduce the problem
Press `C-c C-d d` and be prompted for docs about `swap`

Same goes for symbols ending with `?`

Executing the following elisp fixes the problems, but I don't know how much brea

[2016-06-29 12:47] slipset commented on #1795
This seems to be a bug in clojure-mode, opening there instead.

[2016-06-29 12:47] #1795 closed

[2016-06-29 15:17] brandoncc commented on #1793
@bbatsov Do you have any idea what the fix might be? I'm brand new to clojure, cider, etc. I haven't even been able to write any code yet because of this. There could easily be something I am missing that I don't know I needed to do in an initial setup of my machine.

[2016-06-29 15:45] gtrak commented on #1793
jsr166y is the old package for forkjoin, if you are on java 1.7+, you
should be able to use java.util.concurrent.ForkJoinPool instead.  Either
upgrade your java version if it's older than 1.7, or add the backport
library: http://g.oswego.edu/dl/concurrency-interest/

I'm guessing this is the maven artifact:
http://search.maven.org/#artifactdetails%7Corg.coconut.forkjoin%7Cjsr166y%7C281207%7Cjar

O

[2016-06-29 18:43] brandoncc commented on #1793
Thank you @gtrak!!!!!!!!!!! The problem was that I had originally installed java from oracle, but it wasn't recognized in my terminal so I installed it from Apple. That installed the older version. I removed that and reinstalled from Oracle, then rebooted. Terminal recognizes it and all is well now. I cannot thank you enough!

[2016-06-29 18:43] #1793 closed

[2016-06-30 12:40] hsestupin opened #1796 "Can't debug core.async/go-loop"
## Expected behavior
Be able to evaluate clojure functions with go-loop for debugging

## Actual behavior
*cider-error* buffer opens with
[code]

## Steps to reproduce the problem
Try to "C-u C-M-x" (cider-debug-defun-at-point) on this function:
[code]
### CIDER version information
[code]

### Lein/Boot version
Lein 2.6.1

### Emacs version

24.5

### Operating system
Windows 8

[2016-06-30 15:58] Malabarba commented on #1796
Looks like a duplicate of #1775

[2016-07-03 01:25] vandr0iy opened #1797 "Unable to connect to a cljs repl"
Hi! I'm trying to write an application using cljs on frontend and clj on backend. My greatest issue so far is: I'm unable to connect to the repl of any of the cljs files.
## Expected behavior
emacs jacking in the cljs file correctly
## Actual behavior
repl pops up, but c-c c-k warns me:
```user-error: `cider-load-buffer' needs a ClojureScript REPL.
If you don't know what that means, you probably n

[2016-07-03 20:12] Frozenlock commented on #1544
Is there a way to avoid this behavior?

I usually open an SSH connection with port forwarding if I want a secure interaction with a remote REPL.

Now I'm in a situation where **I don't want** SSH and yet `cider-connect` is trying on its own to use it.

[2016-07-03 21:32] Malabarba commented on #1544
@frozenlock maybe I misunderstood, but it looks like you're experiencing a genuine bug, while the current issued is really just a slightly related feature request. If that's the case, Could you file a separate issue describing how to reproduce your problem?

[2016-07-03 21:37] Frozenlock commented on #1544
Emacs crashing is indeed a bug unrelated to this issue.

However, I'd still prefer to have a way to disable the automatic SSH fallback, which is pertinent for this issue.

[2016-07-03 22:55] Malabarba commented on #1544
I see. Thanks for explaining. 👍

[2016-07-06 17:21] arichiardi commented on #1717
I came up with a [`boot` task](https://gist.github.com/arichiardi/86ccc450e243e9964e723d73f2f1db2c) for starting a repl with `cider-diet`. It follows the conventions of my project for now but it is not difficult to adapt (hard-coding port and paths for instance).

It greatly improves the startup time even if it still runs inside `boot` (two VMs are active at the same time). For sure executing it l

[2016-07-09 18:08] EricGebhart commented on #1786
It is Eastwood.  It corrupts the jvm session in the process of linting.  It is a bad interaction with Cascalog code.  Eastwood makes no guarantees that this won't happen when it is used in this way.  Eastwood might be fixed for this problem at some point, but it is still possible that other problems will remain due to the way Eastwood works.

A solution might be to have clojure flycheck use a sepa

[2016-07-10 07:18] bbatsov commented on #1782
@cskksc Did we ever add a check for the current value of `help-at-pt-display-when-idle`?

[2016-07-10 07:52] cskksc commented on #1782
@bbastov I dint get a chance to work on anything in the last couple of days. Let's finish this too, before 0.13 ? This shouldn't take a lot of time. The other upgrade ticket would be done by Tuesday. I'll finish this off after that.

On 10-Jul-2016, at 12:48 PM, Bozhidar Batsov <notifications@github.com<mailto:notifications@github.com>> wrote:

@cskksc<https://github.com/cskksc> Did we ever add a

[2016-07-10 07:54] bbatsov commented on #1782
Sounds good.

[2016-07-10 07:56] bbatsov commented on #1780
I typically start it interactively only when I need it. Anyways, guess this is resolved.

[2016-07-10 07:56] #1780 closed

[2016-07-10 08:11] bbatsov commented on #1709
Indeed. I'll close this.

[2016-07-10 08:11] #1709 closed

[2016-07-10 08:11] #1728 closed

[2016-07-10 08:15] bbatsov commented on #1707
Yeah, there's definitely room for improvement here. I wonder why the line wasn't wrapped though, as I seem to recall such long messages were wrapped for me.

[2016-07-10 08:15] bbatsov commented on #1707
@jeffvalk Any thoughts on this?

[2016-07-10 08:16] bbatsov commented on #1769
Great!

[2016-07-10 08:25] bbatsov commented on #1674
@xiongtx Any progress here?

[2016-07-10 08:56] bbatsov commented on #1068
I'm guessing we can close this, as nothing focused has been done on this front in quite a while.

[2016-07-10 08:56] #1068 closed

[2016-07-10 08:56] #1071 closed

[2016-07-10 10:55] bbatsov commented on #1694
Seems reasonable.

[2016-07-10 10:56] bbatsov commented on #1633
I think we can close this.

[2016-07-10 10:56] #1633 closed

[2016-07-10 13:50] #1646 closed

[2016-07-10 17:51] xiongtx commented on #1674
It's been a low priority, especially since I thought we were going with `which-key` as a preferred option?

I'll find some time to work over the next few days.

[2016-07-11 07:29] #1782 closed

[2016-07-11 07:48] bbatsov commented on #963
Nobody has complained about this for a while, so I'll just close this issue.

[2016-07-11 07:48] #963 closed

[2016-07-11 07:49] bbatsov commented on #1674
Great. I just want us to wrap this ticket, obviously you're right and this is not high prio.

[2016-07-11 18:09] jeffvalk commented on #1707
I seem to recall that wrapping the error text broke some other formatting, so I kept it simple. That made sense then, but I certainly agree it would be better.

[2016-07-12 19:31] joansc opened #1802 "Eval-top-level-sexp not working"
Hey guys, Im having problems with eval-top-level-sexp
## Expected behavior

When eval-top-level-sexp called, it should evaluate all the 'block'

## Actual behavior

When I call it, I just get this message:

command-execute: Symbol's function definition is void: cider--eval-defun-at-point

and nothing else happens. However, the eval-last-sexp function works...

## Steps to reproduce the problem

I

[2016-07-12 20:52] Malabarba commented on #1802
`eval-top-level-sexp` is not a Cider command, so it's a little hard to help there. :-)

Indeed, `cider--eval-defun-at-point` is not defined. It's also not referenced anywhere in the codebase, so I'm not sure what you're doing. :-)
If that's some code you wrote yourself, then you probably meant to call `cider-eval-defun-at-point` instead.

[2016-07-13 00:09] joansc commented on #1802
Hey Malabarba! First of all thanks for answering :)
Yeah what I meant with eval-top-level-sexp is the option it appears on the CIDER menu (C-M-x), so I guess that in that case it should be from cider...
Anyway, I have tried to remap (init.el) with another keybinding doing:

(setq mac-command-modifier 'super)
(global-set-key (kbd "s-d") 'cider-eval-defun-at-point)

and it displays the same message

[2016-07-13 09:50] jsnikeris commented on #1144
See: https://github.com/clojure/tools.namespace/blob/122e3d1d4fb01e4f1412d5cc7ec80dce76e8778a/README.md#warnings

Adding a :main to your project.clj will enable AOT compilation and thus break clojure.tools.namespace/refresh. I worked around this by declaring my main in the :uberjar profile.

[2016-07-14 06:11] ptaoussanis commented on #1758
Just a heads-up that `cider-font-lock-dynamically` appears to have a **dramatic** effect on the performance of Cider 0.12.0 on my machine.

Since upgrading to 0.12.0, Cider had become mostly unusable for me. Initial performance was significantly slower than before, and would continue to deteriorate until I'd eventually reboot Emacs after an hour or two of use.

Even managed to get Emacs to entirel

[2016-07-14 08:32] bbatsov commented on #1758
I don't have time to debug/profile this myself right now and @Malabarba is also busy. Maybe we should just disable it by default for the next release?

[2016-07-14 08:41] bbatsov commented on #1802
This is an Emacs Lisp command. Can you show me where exactly do you see it?

[2016-07-14 09:51] joansc commented on #1802
Yes, I attach here two images one with this option and the other one what it shows when I click on Eval-top-level-sexp.
Appreciate your responses man!
<img width="513" alt="screen shot 2016-07-14 at 10 49 43" src="https://cloud.githubusercontent.com/assets/17720862/16835500/dfd37432-49b0-11e6-87ef-70326d7a1ca3.png">
<img width="303" alt="screen shot 2016-07-14 at 10 49 24" src="https://cloud.githu

[2016-07-14 13:16] Malabarba commented on #1802
`cider--region-for-defun-at-point` is also not referenced anywhere in the codebase. :-/
This sounds like a bad installation. Or maybe you have an old version of cider lying around somewhere that's shadowing some of the functions.

Try deleting cider, restarting Emacs, and installing cider again.

[2016-07-14 13:20] Malabarba commented on #1758
I guess so. =/

[2016-07-14 16:08] cskksc commented on #1758
I'd like to help with this. Not sure if I'll get anywhere before the release however. I'll ask you guys if I need any help :-)
Is there any specific project to check the the effect of the optimizations ? The size of most of the projects that I work with is relatively small, so the lag is not that bad.

[2016-07-14 17:47] joansc commented on #1802
Ok I will do that! How I can delete cider btw? :/

[2016-07-14 18:57] Malabarba commented on #1802
Did you install from the packages menu?

[2016-07-14 19:11] joansc commented on #1802
Can't remember now... but when I search for installing it from emacs it doesnt appear

[2016-07-14 20:26] Malabarba commented on #1802
1. `M-x list-packages`
2. Somewhere near the bottom you should see something like `cider       installed`.
3. Click on it and it will open a description page.
4. Click on `Delete`.

[2016-07-14 22:43] tanders commented on #1631
I found that company greatly slows down CIDER (using CIDER version 20160623.12  and company  20160626).

[2016-07-15 01:30] freckletonj commented on #736
weird, I'm having this same error in the most recent cider right now, but not `lein repl`.

restarting cider repl...

at first glance, it's working in cider's repl...
and from a file...

weird. restarting helped, but I thought I'd at least echo that I still experienced the same error 1.5 yr later!

Thanks for Cider btw, I love it!

[2016-07-15 01:33] xiongtx commented on #1674
I still don't have access to the @clojure-emacs/cider-hydra repository. I get "permission denied" when trying to push to the repo.

Might this be the issue?

![cider-hydra-no-access](https://cloud.githubusercontent.com/assets/1624090/16860961/1e673b56-4a02-11e6-81b2-a4d6d1103b32.png)

[2016-07-15 01:42] AshtonKem commented on #1144
IIRC I've seen this happen without AOT set. I'll double check tomorrow just
to be sure.

--
Ashton Kemerling

On Wed, Jul 13, 2016 at 4:50 AM, Joe Snikeris <notifications@github.com>
wrote:

[2016-07-15 03:49] Malabarba commented on #1674
I just added the repo to the team. Try again. 👍

[2016-07-15 08:47] Ninlives opened #1803 "Warning: refactor-nrepl requires org.clojure/clojure 1.7.0 or greater."
This is **NOT** a bug, I just want to know why cider-jack-in behave like this.

## Expected behavior
Start the nRepl directly.
## Actual behavior
Well, I have Clojure 1.8.0 installed on my machine. When I first call `cider-jack-in` it started to retrive Clojure 1.2.0. After that, every time I call `cider-jack-in` these messages
`Warning: refactor-nrepl requires org.clojure/clojure 1.7.0 or greater

[2016-07-15 09:32] joansc commented on #1802
It doesnt even appear on the list... But I can do do nearly everything with cider. Understand nothing :/

[2016-07-15 10:10] expez commented on #1803
It looks for clojure in the lein profile and if the version doesn't match this warning is displayed.  If you're just calling `lein repl` and don't have a project you can safely ignore this message.

Closing this as it doesn't have anything to do with cider.

[2016-07-15 10:10] #1803 closed

[2016-07-15 11:26] bbatsov commented on #1802
Use `M-x find-library RET cider RET` and tell us what's the folder in which the file `cider.el` is located for you.

[2016-07-15 11:27] #1796 closed

[2016-07-15 11:27] bbatsov commented on #1796
Closing as duplicate.

[2016-07-15 12:34] joansc commented on #1802
Here we go(photo)
<img width="628" alt="screen shot 2016-07-15 at 13 33 47" src="https://cloud.githubusercontent.com/assets/17720862/16874365/d6356b52-4a90-11e6-9a57-7c70707df413.png">

[2016-07-15 12:43] bbatsov commented on #1802
Seems you're using some Emacs starter pack. I guess you might have to reinstall it.

[2016-07-15 13:53] mallt opened #1804 "Feature request: remember location when going up level in cider inspector"
When navigating large data structures, it would be useful if the inspector would remember the location in the structure when moving back up with `cider-inspector-pop`.

[2016-07-16 03:57] dpsutton commented on #1794
I can reliably reproduce this issue with `(pr (char 27))`. I'm gonna investigate if this is getting caught in the decoder of the nrepl messages.

[2016-07-16 04:00] dpsutton commented on #1794
ah, and its not printing @ .. z as stated above, but its printing 0-27 (and only half of the char 27 key) which it displays as

    ;; ======================================================================
    user> (apply pr (map char (range 128)))
    \  \ \ \ \ \ \ \ \backspace \tab \newline \ \formfeed \return \ \ \ \ \ \ \ \ \ \ \ \ \ \
    nil
    user>

![image](https:/

[2016-07-16 04:14] dpsutton commented on #1794
Neat. This is actually an emacs bug and dies in list/ansi-color.el in the function ansi-color-apply

[2016-07-16 04:17] dpsutton commented on #1794
(defvar-local ansi-color-context nil
      "Context saved between two calls to `ansi-color-apply'.
    This is a list of the form (CODES FRAGMENT) or nil.  CODES
    represents the state the last call to `ansi-color-apply' ended
    with, currently a list of ansi codes, and FRAGMENT is a string
    starting with an escape sequence, possibly the start of a new
    escape sequence.")

[2016-07-16 04:46] dpsutton commented on #1794
its this bit of code in ansi-apply-color:

     (let (fragment)
      (if (string-match "\033" string start)
          (let ((pos (match-beginning 0)))
            (setq fragment (substring string pos))
            (push (substring string start pos) result))
        (push (substring string start) result))
      (setq ansi-color-context (if (or codes fragment) (list codes fragment))))

because "\03

[2016-07-16 15:35] dpsutton commented on #1794
modified   cider-repl.el
    @@ -537,9 +537,11 @@ If BOL is non-nil insert at the beginning of line."
               ;; TODO: Review the need for bol
               (when (and bol (not (bolp))) (insert-before-markers "\n"))
               (insert-before-markers
    -           (ansi-color-apply (propertize string
    -                                         'font-lock-face output-face
    -

[2016-07-16 16:17] dpsutton commented on #1762
I'm not sure how to setup the nrepl client so that i can test this, but i believe that the following change should fix it in cider-nrepl/src/cider/nrepl/middleware/refresh.clj in the invoke-and-resolve function when checking the arglists:
`(some #(or (= % []) (= '& (first %))) (:arglists (meta #'f)))`

[2016-07-16 17:50] dpsutton commented on #1762
Pull request here [https://github.com/clojure-emacs/cider-nrepl/pull/365](https://github.com/clojure-emacs/cider-nrepl/pull/365)

[2016-07-16 18:57] Malabarba commented on #1794
Could we also do something like `(apply #'insert ansi-color-context) ` at the end to solve that?

[2016-07-16 19:47] bbatsov commented on #1804
Guess so. This should be relatively easy to implement.

[2016-07-17 07:13] bbatsov commented on #1802
I'll close this as it's not really a bug in CIDER. Btw, if you're into starter kits you might check Prelude https://github.com/bbatsov/prelude

[2016-07-17 07:13] #1802 closed

[2016-07-17 07:16] bbatsov commented on #1783
Fixed in #1805. What remains to be done is to stuff all other eval commands there as well for consistency.

[2016-07-17 07:16] #1783 closed

[2016-07-17 18:09] neverfox commented on #1144
It's happening to me without AOT as well. I can refresh in lein repl no problem, but CIDER never works.

[2016-07-17 18:09] neverfox commented on #1761
Same. Works in lein repl, not in CIDER.

[2016-07-18 23:58] YPares opened #1806 "Parsing errors when pretty printing activated"
I'm getting this error when activating cider-repl-toggle-pretty-printing and printing large structures:

```error in process filter: clojure-string-start: Search failed: "\\(\\s-\\|^\\|#\\|(\\|\\[\\|{\\)\\(\"\\)"```

it results on scrolling being locked (often definitely for very large structures, I have to kill emacs and restart, it kills my workflow and it's really painful)
If it finishes printi

[2016-07-19 17:35] arichiardi opened #1809 "Evaluate let bindings in the Repl"
Dear `cider` team,

today I woke up seeing an incredibly useful feature, which I use daily but never had the idea that it could actually be automated (don't know why). The thing is that it has been implemented in one of our competitors: https://github.com/jasongilman/proto-repl/raw/master/images/saved_values_table_expanded.png

And...I know that Bozhidar does not tolerate competition...so I was wo

[2016-07-19 18:28] Malabarba commented on #1809
I'm not sure I understand the feature, perhaps a video of it in action might clear things up.
The way you've explained it, it kind of sounds like stepping through the let bindings with the debugger.

[2016-07-19 18:56] arichiardi commented on #1809
So when I step through in the debugger, can I change the value of the `let` binding? Basically my point is that I would like to play with the value of a let, rebinding the symbol if necessary from the repl, so that I can inject stuff in the intermediate step for debugging purposes. If it is already there, even better, less work :dancer:

[2016-07-19 19:46] Malabarba commented on #1809
Yes, you can inject different values (I think it's bound to `j` nowadays).

[2016-07-20 09:36] stardiviner opened #1810 "How to setup Leiningen and Emacs CIDER for ClojureScript code completing and interactive with browser?"
I checked out some related issues in this CIDER issues repo, and followed those steps trying to setup ClojureScript code completing and interactiving with browser with Figwheel etc.
But none of them works.

Can somebody tell me how to do this? And maybe add this setup tutorial to README?

[2016-07-21 12:14] lopalghost opened #1811 "Problem with cider-jack-in in Windows"
## Expected Behavior
cider-jack-in starts a REPL for a Leiningen Project.

## Actual Behavior
When I try cider-jack-in, Cider is unable to resolve the lein command path if there's a space in it. E.g. if lein.bat is in c:\Users\User Name\\.lein\... I get an error message saying c:\Users\User is not executable.

I'm able to get around the issue if I wrap the body of `cider--lein-command-resolve-comm

[2016-07-22 08:48] levitanong commented on #747
(map #(alter-meta! (second %) assoc :style/indent 1)
     (ns-publics 'om.dom))
[code]

[2016-07-23 12:13] #1811 closed

[2016-07-23 16:24] bbatsov commented on #1806
Some reliable repro steps would be useful.

[2016-07-24 08:36] stardiviner opened #1812 "error in process filter: [nREPL] Direct connection failed"
I got error message in `*Messages*` buffer:
[code]

I toggle `debug-on-error`, got this message:
[code]

And here is my environment info:

[code]

And here is my Leiningen `profiles.clj` content:

[code]

And here is my cider config:

[code]

[2016-07-24 09:42] bbatsov commented on #1812
That's odd. I'm guessing this started happening recently? I don't see anything in the backtrace that points to the nature of the problem. I'm assuming you can connect to this nREPL server with other clients, right?

[2016-07-24 11:32] stardiviner commented on #1812
@bbatsov Yes, it happened recently. I don't know how to connect to this nREPL server with other clients. Can you give me a little hint?

[2016-07-24 11:34] bbatsov commented on #1812
You can use `reply` or even something as basic as telnet. We haven't done anything major on `master` in quite a while, so I'm pretty puzzled that such a problem appeared out of nowhere.

[2016-07-24 11:44] stardiviner commented on #1812
Solved problem after I recompile Emacs 25 source code.
I check out commit `60dd094a`. Then recompile source code again. Emacs can connect to CIDER nREPL now.
So the problem is on "Emacs 25 source code" recently commits.

[2016-07-24 13:16] #1804 closed

[2016-07-24 13:16] bbatsov commented on #1812
OK, guess we can close this then.

[2016-07-24 13:16] #1812 closed

[2016-07-24 13:18] bbatsov commented on #1809
I think this wraps this ticket, so I'll close it.

[2016-07-24 13:18] #1809 closed

[2016-07-24 13:20] bbatsov commented on #1810
See http://cider.readthedocs.io/en/latest/up_and_running/#clojurescript-usage

If something in those instructions doesn't work I'd suggest filing more specific issues, as the current one is extremely vague.

[2016-07-24 13:20] #1810 closed

[2016-07-24 13:21] bbatsov commented on #1797
I don't understand this. A bit more details would be helpful.

P.S. Did you read this http://cider.readthedocs.io/en/latest/up_and_running/#clojurescript-usage ?

[2016-07-24 13:22] #1762 closed

[2016-07-24 13:22] bbatsov commented on #1762
This is merged now.

[2016-07-24 13:23] bbatsov commented on #1674
We can finally close this.

[2016-07-24 13:23] #1674 closed

[2016-07-24 15:18] dpsutton commented on #1794
I'm thinking about this suggestion now, @Malabarba . I'm worried that we might break the functionality that this intends to create, which is holding format strings until the entire string is there. I have no idea if this is just some not often used feature so we can safely purge and set this var to nil as we please or if we will break someone's app?

Any thoughts? I'm gonna test some stuff in the