[2016-07-24 15:50] dpsutton commented on #1794
Question of style for you. Do you prefer a named function here or to just inline the functionality?

[code]

versus
[code]

[2016-07-24 17:17] eulerwang commented on #1758
I have struggled in this problem a few weeks ; now I have known why I have this problem . I am new to emacs , so I download purcell's emacs config ; I suspect this config result in this problem , because Today I change to prelude's emacs config , I completely have not this problem . hope this will help .

[2016-07-24 18:10] bbatsov commented on #1758
Hmm, that's interesting. Prelude definitely doesn't disable dynamic font-locking... Perhaps you experienced some other problem?

[2016-07-24 18:11] bbatsov commented on #1677
@dpsutton Maybe you'd like to investigate another REPL bug? :-)

[2016-07-24 18:12] bbatsov commented on #1613
@dpsutton And another `cider-refresh` bug? ;-)

[2016-07-24 20:05] mallt commented on #1804
Thanks a lot guys!

[2016-07-24 20:18] dpsutton commented on #1613
Cleaning up something in the elisp code and I'll get on this @bbatsov

[2016-07-25 02:17] eulerwang commented on #1758
yes ; the error fly check  is off ;the dynamic promoting function is off.

[2016-07-25 04:47] #1794 closed

[2016-07-25 12:25] dpsutton commented on #1677
This appears to be a bug in the `nrepl--bdecode-1` function,
[code]

in nrepl-client.el.  I'm gonna go learn about platform specific newlines as I've never really understood the difference between \r and \r\n, etc. If i remove that line, i'm getting `^M` in the buffer, which is the perennial problem with git on multiple platforms. So I just need to learn the actual issue at hand instead of a hand-

[2016-07-25 12:31] dpsutton commented on #1677
I guess I don't know if a `\r` by itself is valid. I've always seen the windows style as `\r\n`, which is why the code was only removing the `\r` by itself.
[code]

The following works, but I'm not sure if its hacky, nor if its correct. I'll play with this today and see what I can get

[code]

[2016-07-26 02:34] dpsutton commented on #1613
I'm looking into this. Right now it throws an error when the function can't work. I'm thinking of removing the illegal argument exception when it can't resolve the symbol and substituting its own function that just writes couldn't resolve whatever. What do these functions look like, and where do they typically write? Do I want to put something into the messages buffer, or can i just write to *out*

[2016-07-28 02:29] xiongtx opened #1815 "Canonicalizing namespace alias"
Is there a way to canonicalize a namespace alias (e.g. `async` in `(require '[clojure.core.async :as async])'` without a symbol?

`(cider-var-info "async/chan")` will return an nREPL dict that contains the canonical namespace as an entry. However, I cannot seem to find a way to resolve the namespace without a symbol.

[2016-07-28 13:22] Malabarba commented on #1815
I don't understand the question. What do you mean by without a symbol? Could you exemplify what you're trying to do?

[2016-07-28 13:25] vijaykiran opened #1816 "cider-nrepl:jar:0.14.0-SNAPSHOT missing?"
## Expected behavior
cider-jack-in should work.
## Actual behavior
Fails with
`Could not find artifact cider:cider-nrepl:jar:0.14.0-SNAPSHOT in clojars (https://clojars.org/repo/)`
## Steps to reproduce the problem

- Update to latest packages in Emacs  (not the pinned packages)
- Open any clojure file
- And M-x cider-jack-in

## Environment & Version information

### CIDER version information
CID

[2016-07-28 13:46] xiongtx commented on #1815
I mean without a var. Just the namespace itself.

[2016-07-28 14:16] Malabarba commented on #1816
I haven't configure my clojars credentials here at work yet. But I can push the snapshot tonight if @bbatsov doesn't get to it first.

[2016-07-28 14:22] dpsutton commented on #1816
Is this an argument to switch to a more git-flow style of development? Since this was a commit on master, it allowed people to update on elpa. At work we work off of develop, and the only commits to master (aside from hot fixes) are releases. You can still merge develop into master periodically to give people snapshot builds, but it would prevent updates for each and every commit, and possibly bro

[2016-07-28 14:32] Malabarba commented on #1816
However, this didn't happen because of some random commit. This happened because of [this commit](https://github.com/clojure-emacs/cider/commit/6f1527de786991a18abde4b7190bfe00b5c368eb) which specifically bumps the injected version to

[2016-07-28 14:34] dpsutton commented on #1816
Yeah. That's what I meant. It was a commit that was purely for devs, not to be released. But since it was on master many people saw an updgrade to cider and upgraded, rendering their cider packages broken. If this was done on the develop branch, no such release on melpa would have occured, and development for CIDER devs would have been unaffected.

[2016-07-28 14:35] Malabarba commented on #1816
@bbatsov just got distracted and forgot to do the same for cider-nrepl, which needs to be done at the same time regardless of our release workflow (he's a busy guy :-).
It's not a commit for developers, it's just a completely broken commit as is. :-)

[2016-07-28 14:36] Malabarba commented on #1816
Also, changing to a dev branch would sort of just reimplement the advantages of Melpa.
We have stable releases on Melpa-stable. Melpa is for snapshots and will break occasionally.

[2016-07-28 20:23] ska2342 opened #1817 "Tooltips Conflict With Mouse Selection After cider-jack-in"
_Use the template below when reporting bugs. Please, make sure that
you're running the latest stable CIDER and that the problem you're reporting
hasn't been reported (and potentially fixed) already._
As discussed on Slack, here is my report for the problematic behavior.
## Expected behavior

Mouse selection in Emacs just works. :-)
## Actual behavior

When I open a clojure buffer, everything works

[2016-07-29 03:50] Malabarba commented on #1817
I haven't had that problem, but for now one workaround is to just disable the tooltips.

[2016-07-29 20:56] bcarrell commented on #1816
Until one of the maintainers pushes a new version to Clojars, keep in mind the workaround is to essentially:

[code]

Hope that helps.

[2016-07-30 11:06] expez commented on #1816
https://clojars.org/cider/cider-nrepl/versions/0.14.0-SNAPSHOT

[2016-07-30 11:06] #1816 closed

[2016-07-30 18:47] Malabarba commented on #1816
Thanks @expez. Good to know at least one of us hasn't forgotten how to push a clojar. :-)

[2016-07-31 05:11] arrdem opened #1818 "NPE autocompleting class names"
Bug encountered autocompleting class names, CIDER 0.14.0-SNAPSHOT (package: 20160727.904), emacs latest, Clojure 1.8.

[code]

[2016-07-31 14:19] Malabarba commented on #1818
@alexander-yakushev

[2016-07-31 16:15] alexander-yakushev commented on #1818
@arrdem Does it happen for any classnames, or specific ones? Could you please give some leads?

[2016-07-31 18:24] arrdem commented on #1818
@alexander-yakushev this (or some other NPE) was encountered pretty routinely last night hacking on `$PRIVATE_REPO`. Lemme see if I can come up with a minimal failing example.

[2016-08-01 02:23] johanatan commented on #1140
I'm experiencing this. Here's my profiles.clj:
[code]

And I just re-installed: cider, clj-refactor and clojure-mode via elpa.

[2016-08-03 02:19] seancorfield commented on #1606
I've taken a look at Expectations / `cider-test` today (since we rely on Expectations very heavily at World Singles and we also use CIDER) and it's fairly painful. For those who are interested, I added comments on my initial exploration here https://github.com/jaycfields/expectations/issues/70#issuecomment-237113313

Feedback welcome (on that ticket -- I'm only dropping it here to get eyeballs).

[2016-08-03 05:55] tirkarthi commented on #1818
@alexander-yakushev I am also facing the same issue with cider-nrepl version 0.14.0 and cider 0.14.0-snapshot. I have tested it with cider-nrepl version 0.13.0 and cider 0.14.0-snapshot I don't receive the error and completion.

[code]

When I try to autocomplete with point at Anim by pressing TAB I receive the error as above.

[2016-08-03 07:20] alexander-yakushev commented on #1818
Thanks @tirkarthi! Indeed, completing classes produced by defrecord threw NPE because, as it turns out, such classes don't have a package. Perhaps, there are other cases like that too, which @arrdem ran into.

@bbatsov I'm deploying a fix as 0.3.1.

[2016-08-03 07:22] arrdem commented on #1818
I'm gonna guess that I was encountering something else. Sorry I haven't put together a demo, work's been busy and I'm prepping a talk for Thursday. Will try to get to it tomorrow.

[2016-08-03 08:26] bbatsov commented on #1818
@alexander-yakushev OK, I'll update the dep.

[2016-08-04 02:55] bitrauser opened #1819 "'Wrong type argument: arrayp, nil' on `cider-jack-in`"
## Expected behavior

Starting a REPL with `cider-jack-in`

## Actual behavior &  Steps to reproduce the problem

When trying to use `cider-jack-in`  while editing a single *.clj file that is not part of a project, this error occurs. Starting a nREPL server separately and connecting to it works as expected. Starting a REPL with `cider-jack-in` inside a project created with `boot-new` works fine as

[2016-08-04 04:49] Malabarba commented on #1819
You're not the first to run into this. It seems to be a regression in Emacs 25. I guess someone needs to report it. :-)

[2016-08-04 11:14] expez commented on #1769
You still interested in taking this on, @cskksc?

[2016-08-04 13:22] cskksc commented on #1769
Yep. But I have been traveling for the last couple of weeks. I'll finish this by Tuesday next week. Is that ok ?

[2016-08-04 13:37] bbatsov commented on #1769
Absolutely. It's not like Clojure 1.9 is even released yet... :-)

[2016-08-04 19:35] sfrdmn commented on #1416
Any thoughts on a setting for simply ignoring the fact you're in a CLJS file and just interpreting the forms as plain Clojure? I guess it'll work fine in a lot of cases and if it's documented + opt-in, shouldn't be too problematic?

[2016-08-04 20:38] Malabarba commented on #1416
I think `M-x clojure-mode` might work.

[2016-08-04 21:46] sfrdmn commented on #1416
So it does! Thanks 👍

[2016-08-05 08:01] bbatsov commented on #1819
//cc @NicolasPetton

[2016-08-05 08:41] NicolasPetton commented on #1819
@bbatsov do you know where the bug comes from?  A stacktrace would be perfect.

[2016-08-06 08:49] bbatsov commented on #1819
@bitrauser can you post here the backtrace as well?

[2016-08-06 13:02] achernyak commented on #1819
I am having the same issue but while working in a cljs project and a different emacs version. Happens with both `cider-jack-in` and

# Debug trace

[code]
# Emacs version
[code]

[2016-08-06 13:10] NicolasPetton commented on #1819
That's Emacs 25.4, so I guess the bug is in CIDER, not in Emacs 25.1 RC? `shell-quote-argument` is called with `nil`.

[2016-08-06 14:12] achernyak commented on #1819
To help with reproduction. I got the error initially while working on a `reagent` project. So I tried to generate a fresh `reagent` project which resulted in the same thing. Seems that the`reagent` and `re-frame` lein templates lead to this error. I also tried both with `+cider` and without and got the same results.

[2016-08-06 15:19] bbatsov commented on #1819
Hmm, seems `lein` is not on `exec-path` in those scenarios. Guess I didn't consider this.

[2016-08-06 15:30] #1819 closed

[2016-08-06 15:33] achernyak commented on #1819
@bbatsov would it need to be added to emacs `exec-path` manually? Because it's definitely in my system path.

[2016-08-06 18:46] bbatsov commented on #1819
Usually - yes. You can also use https://github.com/purcell/exec-path-from-shell

[2016-08-06 19:06] Malabarba commented on #1819
@achernyak You need that the environment that Emacs is started in be the same as the environment where you set up your path. How to actully do that varies between system. `exec-path-from-shell` is one option.

[2016-08-07 15:59] qrthey commented on #1818
I think I encountered a related issue.

Steps to reproduce:

- create new leiningen project
- define a new record in the 'core' file
[code]
- cider-jack-in
- switch to the core files buffer, compile and switch to the projects namespace (C-c C-o, C-c C-k and C-c M-n)
- switch to the repl

Typing the start of a keyword, triggering auto completion with company-mode, that isn't defined in the core nam

[2016-08-08 11:59] rkaercher commented on #1761
Hi, I once had a similar behaviour after having compiled with lein uberjar before and not done a lein clean before, might be worth checking whether that might be the problem.

[2016-08-08 13:37] neverfox commented on #1761
Yeah, a lein clean seems to clear this up.

[2016-08-08 14:22] expez commented on #1761
Does `lein clean` also resolve the issue for you @chihyangscience?

[2016-08-09 21:26] leppert opened #1820 "cider-eldoc-beginning-of-sexp is slow in large buffers"
`cider-eldoc-beginning-of-sexp` can cause Emacs to hang / freeze when visiting large buffers.

Test file (adjust the `range` end to taste):

[code]

Visit the resulting `test.edn` file with `cider-mode` and `eldoc-mode` enabled and a repl session running, then jump from the beginning of the buffer to the end of the buffer. On my system, this causes Emacs to freeze. Disabling `cider-mode` is not en

[2016-08-10 12:38] OlegTheCat commented on #1818
I can confirm issue reported by @qrthey.

[2016-08-11 20:09] danielcompton opened #1822 "Syntax highlighting for #_ forms comments out next form"
When using the `#_` reader macro, you can chain several together. This lets you comment out more than one form at a time. However the Cider syntax highlighting uses the first `#_` to comment out the second one. For example:

<img width="220" alt="screenshot of emacs 12-08-16 8-05-56 am" src="https://cloud.githubusercontent.com/assets/811954/17603138/ece6f40e-6063-11e6-84d3-7fd03e3e6058.png">

In C

[2016-08-11 22:25] Malabarba commented on #1822
I agree it's an issue, but it's (unfortunately) unlikely to be fixed any time soon. (Unless you want to submit a PR :smile: )

[2016-08-13 09:49] snufkon opened #1823 "Column index of metadata is different when evaluating by cider-load-buffer and cider-eval-last-sexp"
When I run this code with `cider-load-buffer`

[code]

the output is following (column index is **1**)

[code]

when I run the code with `cider-eval-last-sexp`, the output is following (column index is **0**)

[code]

Also when I run the code on `lein repl`, the output is following (column index is **1**)

[code]

## Environment & Version information

- cider: CIDER 0.13.0 (California)
- lein: Lei

[2016-08-13 15:59] jimrthy opened #1824 "Can no longer jack-in to an inherited clojure version"
## Expected behavior

Under 0.12.0 (and earlier), I could specify the clojure version in one library and then have other libraries/apps that depend on that one so I don't have to keep all the common library versions updated in various projects that use them.

This still seems to work fine under `lein repl`.

## Actual behavior

cider-jack-in results in a stack trace that basically starts with an e

[2016-08-15 09:15] mattiasw2 commented on #1115
If the missing new lines is the problem, a simple solution is to use clojure.pprint/pprint to print out the result value. How do I change the (cider)repl to do this?

[2016-08-15 20:38] arrdem commented on #1115
@mattiasw2

[code]

Will in fact mostly mitigate this for many structures (nested maps etc) since the usual line length stays low enough that the REPL doesn't lock up.

Happy belated birthday to this issue >.>

I personally agree with @zarkone, this may well be Emacs' known problem with super long lines. Worth testing to see if this is _worse_ than that, although the fact that it is possible to es

[2016-08-18 23:09] sebastianpoeplau opened #1825 "Show test.check's generated input for failing tests"
CIDER nicely displays the expected and actual outcome for tests in the clojure.test framework. However, when the tests are based on test.check the output lacks information about the generated inputs.

For example, consider the following property:
[code]

Checking it in CIDER yields this output:
[code]

It would be nice to also learn which `x` caused the test to fail. To this end, I would suggest t

[2016-08-19 12:55] jeffvalk commented on #1825
Definitely. This was always on my radar for `cider-test`, but clearly I hadn't gotten to that blip. :)

[2016-08-20 08:40] bbatsov commented on #1824
@benedekfazekas can you check this?

[2016-08-20 15:14] #1825 closed

[2016-08-21 07:23] bbatsov commented on #1822
Btw, that's actually a bug in `clojure-mode`.

[2016-08-21 07:24] bbatsov commented on #1818
Do you have this issue with 0.14-snapshot as well?

[2016-08-21 07:25] bbatsov commented on #1769
@cskksc Any updates here?

[2016-08-21 18:44] qrthey commented on #1818
Yes, same NullPointerException. This [almost empty leiningen project](https://github.com/qrthey/cider-issue-1818) reproduces the error (see comments for details).

[2016-08-21 20:34] danielcompton commented on #1822
Sorry! Moved over there.

[2016-08-21 20:34] #1822 closed

[2016-08-22 10:28] SlightlyCyborg opened #1827 "I can compile this code, but I can not instrument the defn update-mat for debugging"
[code]
[code]

[2016-08-23 00:17] cskksc commented on #1769
I'm done with the nREPL changes. The elisp interface should be done soon. Got caught in some university work. Sorry, I forgot to post an update here.

[2016-08-23 04:00] lvh commented on #1769
I don't know if it's relevant, but `clojure.repl/doc` exposes this for you.

[2016-08-23 04:17] cskksc commented on #1769
@Ivh Yep. Even `clojure.spec` has fn's for this. The nREPL would return `(clojure.spec/describe (clojure.spec/get-spec namespace-qualified-var))` and we just have pretty-print this into the doc buffers.

[2016-08-23 09:50] SlightlyCyborg commented on #1775
Do we have a strategy on fixing this yet?

[2016-08-23 10:00] SlightlyCyborg commented on #1775
Where is nrepl installed if I wanted to play around with a fix?

[2016-08-23 11:07] cskksc commented on #1775
@SlightlyCyborg What I typically do is;
1) Clone the [cider-nrepl](https://github.com/clojure-emacs/cider-nrepl) and follow the steps given in the [Contributing](https://github.com/clojure-emacs/cider-nrepl#contributing) section to set it up.
2) Then, `cider-jack-in` from the `cider-nrepl` project and implement the changes.

The jar is usually installed in `~/.m2/repository/cider/cider-nrepl/` dir

[2016-08-23 11:09] sebastianpoeplau commented on #1825
I've created a ticket for `test.check` to forward shrunk inputs as well: http://dev.clojure.org/jira/browse/TCHECK-118.

[2016-08-23 11:29] SlightlyCyborg commented on #1775
I still don't fully understand how &env works and why macroexpand-all doesn't work with macros that use  &env. Regardless I made a bug report to the Clojure JIRA concerning clojure.walk/macroexpand-all as I would expect a function named `macroexpand-all` should be able to handle all valid macros.

Perhaps this fix will be as easy as waiting for a clojure.core patch

[2016-08-23 11:34] SlightlyCyborg commented on #1827
This is linked to #1775. I am closing

[2016-08-23 11:34] #1827 closed

[2016-08-24 00:06] vadali opened #1828 "Filling paragraph does not take the right fill-column value"
I am not sure its a cider issue, but this happens only in clojure files.

When I try to fill-paragraph on, say, a doc-string, the `fill-column` variable is always 70, even if I manually change it.

To test this, I added `(message "WHHAAA?? %s %s" fill-column (current-buffer)) ` to `current-fill-column`, and added an interactive function:

[code]
`M-x (me/current-fill)`:

Any clues why on this same

[2016-08-24 00:12] vadali commented on #1828
ach, ok, found it...
This is a "feature" of clojure-mode.clj, namely `clojure-docstring-fill-column`

Leaving this here for others to see.. Thanks!

[2016-08-24 00:12] #1828 closed

[2016-08-24 10:10] expez opened #1829 "Fix confusing button text when suppressing / backgrounding middleware errors"
When a middleware error occurs the following popup is shown:

![image](https://cloud.githubusercontent.com/assets/1006557/17926889/80e275f0-69f3-11e6-8c87-e76487520fbd.png)

The text makes sense, you can choose to background a certain kind of errors, but the text you press to activate this behavior makes no sense to me.  I suggest it's changed to 'Suppress future error popups' or something to that

[2016-08-24 13:36] SlightlyCyborg commented on #1775
I am confused as to why you say that riddley does not preserve meta-data. Through my experimentation I run the following

`
(meta (r/macroexpand-all '(def x "docstring" (+ 1 2))))

`

`
(meta (second (r/macroexpand-all '(def ^:private x "docstring" (+ 1 2)))))

`

To me that looks like the meta data is preserved

However, when I run it on a simple expression like (+ 1 1) I do not get the meta data

[2016-08-24 14:45] SlightlyCyborg commented on #1775
Ok. I fixed the riddley code so that (macroexpand-all '(+ 1 1)) doesn't clobber the meta data. I am going to submit a pull request to the riddley repo and then commence writing the code to fix cider's debugger. Question: should I add the riddley code directly into the nrepl or  add it as a dependency?

[2016-08-24 16:40] holtzermann17 commented on #1588
Both `*out*` and `*err*` are getting directed to the `*nrepl-server*` buffer for me in the interaction with `python -i'` that I've described in the linked issue in the Conch queue.

[2016-08-25 09:03] SlightlyCyborg commented on #1775
I added the locally install riddley patch into cider-nrepl and used its macroexpand-all instead of meta/macroexpand all in intrument.clj and it works. I changed project name to "0.14.0-HACKED" and then locally installed that and required it in profiles. Everything seems to be working. I don't know the best way to submit a pull request on this, but I guess I should wait for the riddley code to make

[2016-08-25 09:52] bbatsov commented on #1829
Sounds reasonable to me. I wonder if there wasn't some scenario when we were listing multiple exceptions, though. Someone will have to check this.

[2016-08-25 11:02] cskksc commented on #1775
Awesome! So are you able to debug `core.async` functions using the patched version of riddley ?

You can submit a PR with just the code changes. We bump the version when we cut a new release, which is usually every 3 months :-) `0.13.0` was just released about a month ago.

[2016-08-25 12:07] cskksc commented on #1769
For the `ranged-rand` from the spec guide;

[code]

this is how our doc buffers would look.

<img width="715" alt="screen shot 2016-08-25 at 8 04 37 am" src="https://cloud.githubusercontent.com/assets/5201497/17968435/d347c46a-6a9a-11e6-809f-f9845f0c692d.png">

Does it look ok ? I just have to write tests and tidy up some code before submitting a PR.

[2016-08-25 12:15] cskksc commented on #1769
I mean it looks exactly same as the `clojure.repl/doc` fn displays it. Do we want to change/add anything ? I was thinking of adding something like "Spec is defined here: *hyperlink*". I'm not sure if the API provides metadata for this, but I'm gonna check that now.

[2016-08-25 12:22] expez commented on #1769
I think it makes more sense to add the location of the function at the bottom instead of between the docstring and the spec.  This is because I view the spec to be part of the documentation.

This is obviously a minor thing, so don't spend any time on it if it's hard to change.

[2016-08-25 12:28] cskksc commented on #1769
@expez Done ;-)

<img width="723" alt="screen shot 2016-08-25 at 8 27 57 am" src="https://cloud.githubusercontent.com/assets/5201497/17968978/daad7288-6a9d-11e6-8e68-100dbedb6991.png">

[2016-08-25 12:54] expez commented on #1769
👍

[2016-08-25 13:55] SlightlyCyborg commented on #1775
I can debug async.core with the new riddley code, however if you mark an entire function for debugging with a go routine in it, what happens when you run it is that the debugger will go inside the go routine (into the new thread, it is marked after all), but when that go routine is finished, debugger control is never given back to the original thread which just blocks forever.

Here is a basic exa

[2016-08-25 14:06] SlightlyCyborg commented on #694
@razum2um do you know if we ever solved the multithreading problem. See my comments at the bottom of #1775  to see the problem I am experiencing. My guess is that threading was never implemented.

[2016-08-25 14:08] lvh commented on #1769
Looks awesome to me :)

[2016-08-25 14:12] Malabarba commented on #1775
Thanks for looking into this @SlightlyCyborg

Indeed, the debugger will get stuck if you debug multiple threads simultaneously. That's not really an issue on the Clojure side, it's an issue on the Emacs side. When debugging two threads, cider.el receives two messages from the debugger asking for input, but it's not designed to support that so the second message causes cider.el to forget about the

[2016-08-25 14:49] Malabarba commented on #1769
:+1:

[2016-08-25 16:01] SlightlyCyborg commented on #1775
Ya. No problem.

I see. Thanks for the explanation. It sounds like it would be quite a bit
of work to support simultaneous threads in the debugger.

On Thu, Aug 25, 2016 at 2:12 PM, Artur Malabarba <notifications@github.com>
wrote:

[2016-08-25 16:27] johnv02139 opened #1831 "unicode apostrophes in help banner"
## Expected behavior

Words will appear as words, with no funny numbers in them.  :)

## Actual behavior

The apostrophes in the help banner show up as u\2019

## Steps to reproduce the problem

Admittedly I have an unusual setup.  I'm running emacs (24.5.1) on OS X inside of a Putty on a Windows box.

Perhaps emitting a -*- line at the top would work.  Or we could simply replace the Unicode apost

[2016-08-25 16:38] johnv02139 commented on #709
I think basing it off of comint is a great idea, but for the record, for the main complaint, I added a defcustom in January, cider-repl-scroll-on-output, which can be set to nil to avoid the irritating scrolling.  I didn't see this issue at the time.

Is any work ongoing here to use comint?

[2016-08-25 16:57] Malabarba commented on #1831
What's the value of `buffer-file-coding-system` in you repl buffer?

[2016-08-25 17:00] Malabarba commented on #1775
That would be an option. You don't need to associate buffers with threads, you just need to spawn a new debug buffer if the previous one already has debug-mode active.

[2016-08-25 17:57] johnv02139 commented on #1831
nil

[2016-08-25 19:16] qrthey commented on #1818
I just tried this after another melpa update of 0.14.0snapshot

(;; CIDER 0.14.0snapshot (package: 20160825.249), nREPL 0.2.12)

The middleware exception is no longer thrown.

[2016-08-25 20:12] alexander-yakushev commented on #1818
If CIDER 0.14.0-SNAPSHOT now uses Compliment 0.3.1, the defrecord problem should indeed be fixed. As for keyword error, I can't reproduce it on 0.14.0snapshot too, but I think I saw something similar before (but can't reproduce it now again).

[2016-08-25 20:44] Malabarba commented on #1831
Could you try doing `M-x set-buffer-file-coding-system` and choosing utf8?

[2016-08-26 01:48] johnv02139 commented on #1831
Unfortunately that definitely didn't change the apostrophes.  As far as I could tell, it didn't refresh the buffer at all, but maybe it did it so quickly I just didn't notice.

I have the same problem viewing the cider-repl.el file.  There, I tried revert-buffer-with-coding-system, and tried utf-8 and a few other things, and actually saw the display change, but nothing I tried actually made it rig

[2016-08-26 06:59] bbatsov commented on #1769
Looks good indeed.

[2016-08-26 09:28] bbatsov commented on #709
To my knowledge no one is working on this, so without a volunteer to push it forward it's not going to happen any time soon.

[2016-08-26 10:30] mallt opened #1832 "Feature request: eldoc for datomic query input parameters"
I guess this request might be too specific, but I think it would be useful if there would be eldoc support for datomic query input parameters.

For example in the following query, the `:in` keyword specifies the list of input parameters:
<img width="524" alt="datomic_query_example" src="https://cloud.githubusercontent.com/assets/8885691/18002373/a83bef1a-6b87-11e6-9ea0-569c2156a4a2.png">
so I gues

[2016-08-26 11:43] vspinu commented on #709
I am not even convinced that it's worth anymore Comint is old and rigid which makes it hard to build a richer interfaces on top of it. So, IMO, if there is ever an effort in this direction, it should be better spent on building a new comint system from scratch.

[2016-08-26 14:21] Malabarba commented on #1831
If you type `C-x 8 RET 2019`, on some other buffer (unrelated to cider), does it display correctly?

[2016-08-26 17:09] johnv02139 commented on #1831
Nope.

A couple of other data points: as expected, everything was fine when running the same Emacs on the same OS X machine in "window mode" (i.e., not "-nw").  It also looked correct when running "emacs -nw" from inside Apple's "Terminal" program.  It did not work correctly when using iTerm2, a third-party terminal emulator which is (otherwise) vastly superior to "Terminal"

I never would have ex

[2016-08-26 17:14] johnv02139 commented on #709
I would agree it doesn't seem worth reimplementing.  I think your (@vspinu) original message made more sense, i.e., "use comint customization variables."  I would think we could use the variables and emulate the behavior without sharing implementation.

[2016-08-26 17:49] agzam opened #1834 "cider-other-connection when jack-in with params"
## Expected behavior
`(cider-repl-switch-to-other)` should take to Clojurescript repl

## Actual behavior
nothing

## Steps to reproduce the problem
- in a Clojurescript project with Figwheel, use Figwheel-sidecar, with a script similar to
https://github.com/bhauman/lein-figwheel/wiki/SASS-watcher
(to start Figwheel with sidecar api)

- set CIDER vars, e.g.:
[code]

- Jack-in `(cider-jack-in-cloju

[2016-08-26 18:23] agzam commented on #1834
Actually once connected (repl sees the browser session) it seem to work as expected. I'll keep an eye on it. This issue may have been reported prematurely and not an issue at all.

[2016-08-27 09:48] bbatsov commented on #1832
How do you imagine resulting eldoc for this query? I have never used datomic, so I'm not sure what exactly are we aiming for here.

[2016-08-27 10:40] mallt commented on #1832
The q function of datomic expects a query and the inputs of the query. This is the current eldoc info:
<img width="271" alt="datomic_q_eldoc" src="https://cloud.githubusercontent.com/assets/8885691/18026701/1edba1f6-6c50-11e6-8d88-efeb16adef30.png">

By examining the `:in` keyword of the query, the eldoc for the example query above could then become:
<img width="288" alt="datomic_q_eldoc_vars" src

[2016-08-27 15:04] dpsutton commented on #1829
There can be many buttons in here, one for each error. The text says which error you are suppressing (if the button is "up") or allowing to pop-up (if button is "down"). So this is offering to suppress completion errors of type <button-text>. The tough thing is that the code does this for each type in the variable `error-types`, but I can't find out how multiple would end up here. It throws the er

[2016-08-27 15:14] dpsutton commented on #1823
I cannot reproduce this. I ran every cider-eval command, and all agreed column is 1.

[2016-08-27 15:42] bbatsov commented on #1829
Guess we can add @sanjayl here as I'm pretty busy and I don't have time to look at the implementation right now.

[2016-08-27 17:59] sanjayl commented on #1829
You're right, a response passed from `cider-nrepl` to `cider` can contain an arbitrary number of errors. These all get stuffed in the `:status` portion of the response; I don't know if this was by design or because there's no schema for the response. That being said, a request can traverse through an arbitrary number of middlewares, each with something to complain about, so it might be purposeful.

[2016-08-29 12:31] Malabarba commented on #1829
We could just take the first error, and ignore the rest. From the looks of it, 99% of the time there'll be only one anyway. And in the other 1%, after the user chooses to disable the first error, if the problem happens again he can disable the second.

[2016-08-29 12:42] Malabarba commented on #1832
I could see this as part of a larger feature. For instance, in macros
with a rich structure (like `letfn` or `defrecord`) when the cursor is
deep inside the macro, eldoc could tell you that here you should be
typing a function/method name, or here you should be typing an
arglist.

Then the same could apply to datomic queries, which follow a similar logic.

The problem, as usual, is implementing. E

[2016-08-29 16:10] sanjayl commented on #1829
That might lead to non-deterministic behavior in the 1%. The error-types are collected in a clojure set, which then gets translated to an elisp list in the bencoding/decoding process. I can't remember if the elements get sorted before being put in the list or not, so ordering might not be guaranteed.

How about I just make the verbiage clearer?

[2016-08-29 17:08] Malabarba commented on #1829
You mean just changing the button to say something like "Suppress complete-error"? I think thats fine too.

[2016-08-29 19:53] carbohydratesn opened #1835 "Cannot start repl outside of a project when not using Lein"
## Expected behavior

cider-jack-in should work when using boot, with leiningen absent
## Actual behavior

Its value is
("/usr/local/scripts" "/usr/local/bin/" "/usr/bin/"...)

boot.sh and a symlink to it named boot are in /usr/local/scripts

cider-lein-command is "lein"
cider-boot-command is "boot", I have also tried "boot.sh"

I have experienced this on Arch Linux and Gentoo Linux, with emacs 24

[2016-08-29 22:17] azyr commented on #1588
Using cider-connect all the output that is written to *out* or *err* from other than nrepl-threads output only to the server instance, not to the repl directly. This makes remote debugging really hard.

Also when running local repl (cider-jack-in) all the stack traces of uncaught exceptions are printed only on the *nrepl-server* buffer and not in repl buffer. I find this annoying.

[2016-08-29 22:20] sanjayl commented on #1829
The tool tip already says that:

![sketch 1](https://cloud.githubusercontent.com/assets/7213170/18068910/c0badc68-6e11-11e6-80fd-2fafd3be5c8f.png)

I went ahead and put in a PR (https://github.com/clojure-emacs/cider/pull/1836) for a relabeled button incase you think it's needed in addition to the tooltip, this is what it looks like:

![cider](https://cloud.githubusercontent.com/assets/7213170/180

[2016-08-29 22:57] Malabarba commented on #1829
Thanks Sanjayl. I like the new label. :+1:

[2016-08-30 01:34] arichiardi opened #1837 "Allow function highlight in case of exception"
A very nice (in progress) addition to `proto-repl` is the highlight (in red in the picture) of the functions involved in an exception, given the stacktrace.

![captura_de_pantalla_de_2016-08-29_12-05-47](https://cloud.githubusercontent.com/assets/1724788/18072966/3b81b6f6-6e17-11e6-98e4-d0505117a353.png)

It'd be very nice if we could add it to `cider` as well!

[2016-08-30 06:15] zacyang commented on #1665
I had the same issue with this :pedantic? :abort , due to project wide setting.

[2016-08-30 07:23] bbatsov commented on #1829
Fixed in #1836.

[2016-08-30 07:23] #1829 closed

[2016-08-30 08:08] bbatsov commented on #1835
What happens when you execute this bit of Elisp `(executable-find "boot")` (e.g. by using`ielm` or `M-:`)?

[2016-08-30 11:33] benedekfazekas commented on #1824
had a look. Don't quite understand the reason behind this yet. What I can see that if I set `(setq cider-inject-dependencies-at-jack-in nil)` and edit `~/.lein/profiles.clj` the "old" way: eg add cider deps to the `:repl` profile there then it works fine.

Pinged a question to the leiningen devs about this as well.

@jimrthy
I guess a couple of things worth investigating if you are willing:
- boot

[2016-08-30 17:41] hyPiRion commented on #1824
I did the steps until `cd ../usage` and then replaced the `lein deps :tree` with the result of update-in:

[code]

The first confusing dependency can be ignored, but note that, since tools.nrepl doesn't specify an exclusion, the clojure dependency used by tools.nrepl overrides the transitive dependency from cider-transitive-version. A good solution would be to inject `[org.clojure/tools.nrepl "0.2

[2016-08-30 18:19] benedekfazekas commented on #1824
I think I tried to inject `tools.nrepl` with that exclusion see [my comment](https://github.com/clojure-emacs/cider/issues/1665#issuecomment-208826812) on clojure-emacs/cider#1665

But this was a long time ago so don't quite recall the details. I shall try again.

[2016-08-30 19:07] hyPiRion commented on #1824
It won't fix #1665 unfortunately (the proper fix there is technomancy/leiningen#2074), but it will at least resolve this issue.

[2016-08-31 05:18] carbohydratesn commented on #1835
It's "/usr/local/scripts/boot", which is correct.  Running '/usr/local/scripts/boot repl' from a command line works perfectly.

It seems like it's only checking for the presence of Lein, and never getting to the point of checking for Boot...

[2016-08-31 12:11] molst commented on #1748
Seems this is about a re-implementatoin of the C-c C-p that i worked some time ago, am I correct? I'm really missing it.
Cheers

[2016-09-01 15:31] seryh opened #1838 "cider-jack-in on Windows 10 dont work"
## Expected behavior
Run repl from command *cider-jack-in*

## Actual behavior
Error:
![emacs-cider](https://cloud.githubusercontent.com/assets/1438918/18172957/e058d48a-7091-11e6-9b94-588586ffdf31.png)

Also from WIndows-10 *cider-connect* - work ok.
When I run *cider-jack-in* from this emacs conf on Linux - work ok.

## Environment & Version information

### CIDER version information
[code]
###

[2016-09-01 15:46] carbohydratesn commented on #1835
I started poking around into the source again, to try to figure this out.  It looks like Cider needs a better way of figuring out what kind of build tooling you're using.

I suggest actually **_looking_** for lein, boot, etc. before trying to call one of them.

Currently Cider only looks for build files - project.clj for lein, build.boot for boot, build.gradle for gradle.

I made an empty, useless

[2016-09-01 16:04] #1838 closed

[2016-09-01 16:04] seryh commented on #1838
all ok with GNU Emacs 25.1.1 (x86_64-w64-mingw32)

[2016-09-02 01:33] aengelberg opened #1839 "Running two debuggable function calls in parallel hangs evaluation of first thread"
## Steps to reproduce the problem

Write this function and send its definition to the REPL:

[code]

This compiles normally. Then, evaluate this in the REPL:

[code]
## Expected behavior

I get to step through `(foo 1)`, and then I get to step through `(foo 2)`.
## Actual behavior

The debugger appears showing `x => 1`. One second later, the 1 turns into a 2. After hitting <kbd>n</kbd> multiple ti

[2016-09-02 09:50] stardiviner opened #1840 "[feature request] add feature to find cross references for a function or var"
I hope CIDER can add a feature to find all cross references for a function or var.
For examples, list out all places which used a function or var.
Common Lisp's SLIME has this function called `slime-who-references`. And Emacs Lisp has this function called `xref-find-references` `[M-?]`.

[2016-09-02 11:57] grammati commented on #1840
I think clj-refactor's `find-usages` is what you are looking for: https://github.com/clojure-emacs/clj-refactor.el/wiki/cljr-find-usages

[2016-09-02 12:09] grammati commented on #1839
Yes, this is limitation at the moment.

I would like to see something like this:
- Debugger pops up, stopped in the call to `(foo 1)`
- a second later, a second debug buffer pops up, stopped in `(foo 2)`
- you can step through either one, interleaving execution order as you choose

I think this would be possible, but not easy. As a starting point, I think all the `def`-ed data that stores the debu

[2016-09-02 13:10] stardiviner commented on #1840
@grammati Thanks.

[2016-09-02 15:07] timvisher commented on #1840
Actually the SLIME feature finds actual calls to the function at point rather than just textual occurrences. If I'm reading the clj-refactor feature correctly, it's the later not the former.

Waaay back when cider was still hacked-SLIME, it did have this feature. I wish we had it still too. :)

[2016-09-02 15:09] stardiviner commented on #1840
@timvisher glad to hear this. I will re-open this feature request.

[2016-09-02 15:42] bbatsov commented on #1840
I want us to have something similar at CIDER itself eventually.

This was just a textual search, which is rather easy to add back. Doing something different that's not relying on an AST is a bit harder, but is definitely possible.

[2016-09-02 18:40] timvisher commented on #1840
@bbatsov Are you sure it was just a textual search? Did it at least try to filter for things that looked like calls? My memory (which is foggy) was that it really did search for references to the var or something.

[2016-09-02 21:23] bbatsov commented on #1840
This is the old implementation - https://github.com/technomancy/swank-clojure/blob/master/src/swank/commands/xref.clj

Everyone's welcome to port it to an nREPL middleware.

[2016-09-03 05:42] bbatsov commented on #1840
@sanjayl @cskksc Maybe one of you would be interested in porting this from SLIME? :-)

[2016-09-03 23:39] lvh opened #1841 "test using clojure.spec.test/check throws weird exception (cider.nrepl.middleware.test$report cannot be cast to clojure.lang.MultiFn)"
## Expected behavior

Wrote a test using `clojure.spec.test/check`:

[code]

I was expecting the same failure as what I see on the command line with `lein test`, except with the usual CIDER-y goodness.
## Actual behavior

[code]
## Steps to reproduce the problem

Write above test, go to test, `C-c C-t t` (`cider-test-run-test`).

Other tests work fine.
## Environment & Version information
### CIDE

[2016-09-04 00:57] sanjayl commented on #1840
Will take a look at it

[2016-09-04 10:52] cskksc commented on #1840
@sanjayl Awesome! Let me know if I can help with anything.

[2016-09-04 11:54] credmp opened #1842 "Non-descript error when leiningen is not found on the path"
## Expected behavior
When calling cider-jack-in without leiningen available I would expect to be told "Leiningen can not be found"

## Actual behavior
The error message "shell-quote-argument: Wrong type argument: arrayp, nil" is shown.

## Steps to reproduce the problem
Call cider-jack-in without leiningen on the path.

## Environment & Version information

### CIDER version information
Version: 0

[2016-09-04 16:35] bbatsov commented on #1842
This is already fixed on `master`. See https://github.com/clojure-emacs/cider/commit/ee63ad0eeda42e958c90e540a4e65579f73edadd

[2016-09-04 16:35] #1842 closed

[2016-09-04 16:39] bbatsov commented on #1841
@sebastianpoeplau can you take a look at this bug report?

[2016-09-04 19:18] sebastianpoeplau commented on #1841
I think this is the same issue as https://github.com/clojure-emacs/cider-nrepl/issues/369. @lvh, could you try the solution proposed there? See the linked ticket for background - essentially, it's not an issue with CIDER directly but an unfortunate interleaving of CIDER's test instrumentation and spec's dynamic loading of `test.check`. (You will most likely be seeing a crash with `lein test` too,

[2016-09-04 19:37] lvh commented on #1841
It does seem very similar! However, _most_ tests for me work fine, it's only the one that calls `stest/check`. Also, the error did start spuriously disappearing on me today; I'll attempt to reproduce and then try the workaround.

[2016-09-04 19:49] lvh commented on #1841
FWIW, lein test works fine for me, as sometimes did cider, e.g.:

http://dev.clojure.org/jira/browse/CLJ-2008

[2016-09-04 20:18] lvh commented on #1841
Managed to reproduce the issue in a fresh REPL. You're definitely right that this has something to do with it though, because then added a `[clojure.test.check]`, running the test again:

[code]

- With a fresh REPL, no other namespaces loaded, the generative tests don't fail with an exception, but don't test anything; with or without `clojure.test.check` require
- With a fresh REPL, one other non

[2016-09-04 20:31] lvh commented on #1841
The hanging forever bit appears to be a separate problem; so you can ignore that part.

[2016-09-05 00:17] johngit22 commented on #1840
Thanks  !

On Sun, Sep 4, 2016 at 6:52 AM, Chaitanya Koparkar <notifications@github.com

--
John Boyd

[2016-09-05 02:33] jimrthy commented on #1824
It looks like the tools.nrepl injection is definitely the culprit.

Adding (setq cider-inject-dependencies-at-jack-in nil) to my .emacs.d seems like a perfectly valid work-around.

I didn't have any luck figuring out how to inject a version of tools.nrepl with that exclusion to override the one that cider injects.

Managed dependencies is the Right Thing(TM) for what I'm doing anyway. It seemed to

[2016-09-05 04:27] #1815 closed

[2016-09-05 08:38] benedekfazekas commented on #1824
you're (and hyPiRion is) right. I am working on a fix for this atm.

nice one! would love to see a working example if it is public and you can share.

would be very helpful, yes please. it seems that current stable boot release does not have support for defining exclusions on the command line but the their master already has such an option! So you migrating your example to boot would enable me to

[2016-09-05 09:07] madeye-matt opened #1843 "Required feature ‘spinner’ was not provided"
## Expected behavior

After following the install instructions, and executing "M-x cider-jack-in" I expect the Cider REPL to run

## Actual behavior

After following the install instructions, and executing "M-x cider-jack-in" I get the error:

eval-buffer: Required feature ‘spinner’ was not provided

## Steps to reproduce the problem

(add-to-list 'package-archives '("melpa" . "http://melpa.org/pa

[2016-09-05 09:18] madeye-matt commented on #1843
Now I've gone to the lengths to report the problem I've found the solution - looks like the spinner install from melpa may be broken - I uninstalled/re-installed cider 3 times and the results were the same, namely that spinner.el came down empty.

So to fix my problem, I:

1. downloaded the release files from: https://github.com/Malabarba/spinner.el/releases/tag/1.7.1
2. Extracted the correct spin

[2016-09-05 09:18] #1843 closed

[2016-09-06 05:53] stardiviner opened #1845 "Is it possible to setup an ClojureScript bREPL in one command `cider-jack-in-clojurescript`"
I tried a lot of methods on internet searched by Google. Also tried the CIDER manual which setup ClojureScript usage. But all failed.
I'm a newbie on Clojure and ClojureScript. I don't know all those methods clearly, I tried, but not working, and it wasted me a lot of time of this.
Why it is so complicated for setting up an basic development environment? I think this is a problem for some newbie.

[2016-09-07 04:02] carbohydratesn commented on #1835
Okay, to fix this, it looks like I would have to completely tear apart the `cider-project-type` function.  I don't feel at all comfortable doing that.  But anyway, here is the masterful elisp I have constructed so far:

`(or (executable-find cider-lein-command)
    (executable-find cider-boot-command)
    (executable-find cider-gradle-command))`

That returns the first of the three that is present

[2016-09-07 05:28] zph commented on #1144
It was an issue with `:aot` for me. Then disabling that for the moment, lein clean, and restarting repl in terminal and cider in emacs got it going again. Thanks for the pointers. I'll go the uberjar profile route.

[2016-09-07 10:46] sebastianpoeplau commented on #1841
When you say you're using a fresh REPL, how do you launch it? `lein repl`? If so, could you check if adding `:monkeypatch-clojure-test false` to your project.clj has any effect? (It will prevent leiningen from patching the test framework, which seems to be another cause of exceptions under some circumstances.)

[2016-09-07 11:32] sebastianpoeplau commented on #1841
Sorry, I might have misunderstood; if the "fresh REPL" is within CIDER then never mind what I said above.

Let me elaborate a little on what I think the issue is, so maybe you can find the trigger in your code: The first element of the problem is that `test.check` extends a multi-function in `clojure.test`. The second element is that CIDER patches that very same function, essentially wrapping it w

[2016-09-08 13:22] Malabarba commented on #1845
Yes, it should be possible. Could you tell us what fails for you when you follow one of the options in `CIDER ClojureScript Usage`?

[2016-09-10 15:13] vspinu commented on #1666
Is there a known workaround for this? I have manually built and installed maven project which contains both source and javadoc jars. CIDER cannot locate neither source nor javadoc.

[2016-09-10 15:21] vspinu commented on #1666
Just found a rudimentary workaround by manually adding jar files to lein's :resource-paths.

[2016-09-10 20:46] jimrthy commented on #1824
Sorry about the delay.

https://github.com/jimrthy/clojure-introduction/tree/cider/broken-transitive-versions has the original problem example.

https://github.com/jimrthy/clojure-introduction/tree/cider/transitive-clojure-version switches it to use lein's managed-dependencies.

https://github.com/jimrthy/clojure-introduction/tree/cider/transitive-boot converts it to boot, which seems to work fine

[2016-09-12 07:40] maacl opened #1846 ""No such namespace" for ns from foreign-libs libs when eval ns-form"
## Expected behavior

=> nil

## Actual behavior

[code]

## Steps to reproduce the problem

boot dev
cider-connect to nrepl created by boot.
(start-repl)
Switch to source buffer, C-c-v-n to eval namespace declaration.

Project compiles fine with no errors. This issue appears confined to the repl.
The namespaces `pm` and `chrono` come from two javascript libs included via the foreign-libs compiler

[2016-09-12 15:18] Malabarba commented on #1846
Unfortunately, I don't think anyone here uses foreign-libs (we're pretty short on cljs at all already :disappointed:), so this is going to be hard to track-down. Have you tried replacing your declarations with `:provides ["chrono.cljs"]`.

[2016-09-12 15:45] maacl commented on #1846
I hadn't but I have now. This makes boot fail with:

[code]

[2016-09-12 16:12] maacl commented on #1846
So this turns out to also be a problem using `boot-repl`, so not likely to be an issue with cider. Closing and reopening in `boot-cljs-repl`. Sorry for the inconvenience.

[2016-09-12 16:12] #1846 closed

[2016-09-13 16:31] benedekfazekas commented on #1824
thanks for the work around this @jimrthy. I will defo check out your boot example.

There is also a PR going on to fix this for lein (#1844) which is ready from my part I think it is up to @bbatsov or/and @Malabarba to say yeah/nay.

[2016-09-14 08:14] #1824 closed

[2016-09-14 09:33] benedekfazekas commented on #1824
@jimrthy as you see this got merged so should be fine with leiningen now.

re. managed dependencies: checked it out (being curious) looks cool. thx for putting it together.

re. boot. it does work but both from cider and from CLI i get a repl with clojure 1.7.0. is not that a problem?

[2016-09-15 06:35] #1769 closed

[2016-09-15 09:59] bbatsov commented on #1840
@sanjayl Thanks for tackling this!

[2016-09-15 10:00] bbatsov commented on #1834
Guess we can close this then.

[2016-09-15 10:00] #1834 closed

[2016-09-16 01:23] jimrthy commented on #1824
Thanks very much!

You're absolutely right about the version under boot. Until it works through their REPL, I don't think we can expect it to work with CIDER. :-)

[2016-09-18 14:58] stardiviner opened #1847 "CIDER require an express to input after cider-jack-in"
After `cider-jack-in` in non-project buffer.

It will raise a prompt for &ldquo;lisp expression:&rdquo;. And I just pressed `[Enter]`.

    [nREPL] Establishing direct connection to localhost:44739 ...
    [nREPL] Direct connection established
    error in process filter: nrepl-dict-get: Not an nREPL dict object:
    error in process filter: Not an nREPL dict object:

[2016-09-18 15:04] stardiviner opened #1848 "Debugger not initalized"
When I want to check out variable value like the following. I the this error:

[code]

And here is my Leiningen profiles.clj content:

[code]

[2016-09-19 09:26] bbatsov commented on #1847
What's in your *nrepl-messages* buffer?

[2016-09-19 09:32] stardiviner commented on #1847
[code]

[2016-09-19 12:37] bbatsov commented on #1848
Seems related to #1847. Probably something messed up during the init. @Malabarba any ideas?

[2016-09-19 16:34] Malabarba commented on #1848
That looks really weird. How are you connecting to the repl? Do you use enlighten-mode?

[2016-09-19 16:36] bbatsov commented on #1848
Looking at the other issue - it seem @stardiviner uses `enlighten-mode`.

[2016-09-19 16:36] bbatsov commented on #1845
@stardiviner ping

[2016-09-19 16:41] Malabarba commented on #1848
Ok, that explains why the message pops up, but it doesn't explain why the debugger isn't being initialized.
@stardiviner What's your method of starting a cider repl?

(btw, if you'd like to work around this, disabling `enlighten-mode` should get rid of the message for you)

[2016-09-19 17:51] bbatsov commented on #1848
Looking at the other ticket - `cider-jack-in` outside of a project.

[2016-09-20 07:39] bbatsov commented on #1848
Well, you should have started with this. You're not really supposed to be let-binding variables like `cider-connection-process` and this is the likely cause of the breakage. I'd simply have added `cider-jack-in` to the init hook. No need for the extra code. After all, at start you can't have a running cider session anyways.

[2016-09-20 07:40] bbatsov commented on #1847
Pretty sure this breakage is caused because you're let-binding some things you're not supposed to let-bind (as mentioned in #1848), so I'll close this.

[2016-09-20 07:40] #1847 closed

[2016-09-20 09:19] IvanMalison opened #1849 "macrostep like macroexpand"
Is there any reason that cider opted to use a separate buffer for outputting the result of expanding a macro? I quite like the way https://github.com/joddie/macrostep expands macros inline in emacs lisp. Would the maintainers consider an optional change that maybe even reuses some of that code?

[2016-09-20 09:28] stardiviner commented on #1848
@bbatsov Thanks, I improved my code.
Here it is:
[code]

[2016-09-20 09:28] #1848 closed

[2016-09-20 09:29] IvanMalison opened #1850 "macrostep like macroexpand"
Is there any reason that cider opted to use a separate buffer for outputting the result of expanding a macro? I quite like the way https://github.com/joddie/macrostep expands macros inline in emacs lisp. Would the maintainers consider an optional change that maybe even reuses some of that code?

[2016-09-20 09:30] bbatsov commented on #1850
Legacy. We just did it the way it was done in SLIME. Including inline expansion of macros shouldn't be hard and we discussed it in the past. If someone is willing to implement this we'd be happy to accept it.

[2016-09-20 09:31] bbatsov commented on #1849
Seems you opened the same ticket twice - see #1850

[2016-09-20 09:31] #1849 closed

[2016-09-20 14:26] bbatsov commented on #1837
So, I'm guessing the idea is to highlight all lines featuring a function that appears in the stacktrace, right?

[2016-09-20 14:45] arichiardi commented on #1837
Yes exactly :)
-ar

[2016-09-21 15:51] stardiviner commented on #1845
I config like this:

[code]

And jack-in with `[M-x cider-jack-in-clojurescript]`.

Then I got CLJS REPL buffer, `*cider-repl CLJS <project>*`.

I try to connect to the browser REPL with:

[code]

But `clojure.browser.repl` is not available at all.

And here is my Leiningen profiles.clj:

[code]

[2016-09-22 14:40] Malabarba commented on #1845
It seems you're mixing up different methods. Figwheel already starts a server for you to open in the browser (you should see the server address in the repl buffer (or maybe the `nrepl` buffer) when figwheel starts up). So just delete that file you have with `clojure.browser.repl`, there's no need for any of that.
Also, you probably don't need `[weasel "0.7.0"]` in your deps either, since you're us

[2016-09-22 14:41] Malabarba commented on #1845
If that fails, try just starting a project from scratch, and following the steps **only** from this section: https://cider.readthedocs.io/en/latest/up_and_running/#using-the-figwheel-repl-leiningen-only

[2016-09-24 19:40] decoursin opened #1851 "cider-test-run-last-test - feature request"
Sometimes, I just want to run the last test, but I don't want to have to flip-back just to run it.

Thanks so much for Cider!

[2016-09-25 04:23] bbatsov commented on #1851
What's your definition of the "last test"?

On Saturday, 24 September 2016, Nick DeCoursin <notifications@github.com>
wrote:

[2016-09-25 04:40] xiongtx commented on #1851
Do you know about the `cider-test-*` commands, particularly `cider-test-rerun-tests`? It re-runs the tests that failed in the previous run.

[2016-09-25 04:41] johngit22 commented on #1851
Unknown by me at least..

[2016-09-25 21:30] xiongtx commented on #1850
Inline expansion isn't hard, but "stepping" is a bit trickier. The macroexpansion functions in CIDER do not currently do that.

It'd be necessary to ask the middleware whether the form we're looking at is a macro. See [`slime-macrostep`](https://github.com/slime/slime/blob/master/contrib/slime-macrostep.el#L117), for example.

[2016-09-26 01:52] bbatsov commented on #1850
You can already get this info from the var-info middleware.

On Monday, 26 September 2016, Tianxiang Xiong <notifications@github.com>
wrote:

--
Best Regards,
Bozhidar Batsov

http://www.batsov.com

[2016-09-26 07:46] decoursin commented on #1851
The last run test. My test may have failed or passed, doesn't matter; since now I've changed the code, say, and I want to rerun the test.

[2016-09-26 22:37] aengelberg opened #1853 "[feature request] Command to load buffer into specific nREPL connection"
When two `*cider-repl ...*` buffers are open, currently `C-c C-k` appears to make a best-effort attempt to load into the REPL started in the project that file belongs to. I'd like to be able to override that and load a file into a specific nREPL connection.

[2016-09-27 06:04] bbatsov commented on #1853
That's more complex than it sounds. You don't really want just one such command, you want every evaluation command to be able to act on a specific connection. That's why CIDER has a second mode which operates with the concept of a default connection and all evaluations get always dispatched to it. There are more details about this in the manual https://cider.readthedocs.io/en/latest/managing_conne

[2016-09-27 06:05] bbatsov commented on #1818
OK, so should we close this or not?

[2016-09-27 06:12] aengelberg commented on #1853
Thanks for the link, I wasn't aware of the "display" and "rotate" functionality. I no longer need this feature.

[2016-09-27 06:12] #1853 closed

[2016-09-27 06:28] bbatsov commented on #1853
Keep in mind `rotate` is only meaningful with `static` connection dispatch.

[2016-09-28 07:03] bbatsov commented on #1853
Btw, I've added one new command (`cider-toggle-request-dispatch`) to make it easier for people to temporary toggle between dynamic and static dispatch.

[2016-09-28 14:12] amoe commented on #1758
I was having this problem for a long time, maybe 4 or 5 months, but didn't get time to investigate it until a week or so ago, despite how painful it was.  The problem is exactly as described by @mrrodriguez above.  I was working with largish projects (>50 ns, >5000 LOC etc).  Anyway -- setting `nrepl-log-messages` to nil did indeed fix it.  I also eliminated the other variable settings: `cider-fon

[2016-09-28 20:02] carrete opened #1854 "Problem with jack-in and tramp"
When I have a buffer open, project.clj for example, over a tramp connection and I try to jack-in, CIDER somehow replaces `lein` with the tramp buffer name. For example:

[code]
## Expected behavior

When `M-x cider-jack-in` or `M-x cider-jack-in-clojurescript` is run in a tramp buffer CIDER should use `lein` to start an nrepl server on the command-line.
## Actual behavior

CIDER uses the tramp buf

[2016-09-28 20:33] aiba commented on #1758
@amoe thank you! This made my day.  I am also working on a large codebase (upwards of 35k LOC, I am embarrassed to admit) and this freeze was so annoying.

Can confirm, `(setq nrepl-log-messages nil)` fixed it.

[code]

[2016-09-28 20:45] bbatsov commented on #1758
I can disable this by default, but it would still be useful if you can share some evaluation that causes this so we can debug it. There's always some overhead from the logging, but it shouldn't be huge...

[2016-09-28 21:10] amoe commented on #1758
Here's a giant backtrace from the first hang after `cider-jack-in` initially showed the REPL welcome screen.

https://gist.github.com/amoe/6164e9bd6cb2b0db7b05e6ef193e1d6b

[2016-09-29 05:26] bbatsov commented on #1854
@benedekfazekas Can you look into this? Perhaps you didn't took into account remote buffers in the new jack-in logic or something?

[2016-09-29 05:43] benedekfazekas commented on #1854
will have a look

[2016-09-29 13:16] Malabarba commented on #1758
@amoe Looks like the culprit (at least in your case) is fci. That package is seems to be advising `delete-char`, which is not something I would generally recommend (given how it's a very basic emacs function).

[2016-09-29 14:58] bbatsov commented on #1758
Indeed - the stacktrace clearly indicates the error doesn't happen in CIDER itself.

[2016-09-29 19:47] aiba commented on #1758
In case it helps, I tried to use `toggle-debug-on-quit` to get a stacktrace during the hang, but all that did was produce a buffer `*Backtrace*` with:

[code]

Although I typed `C-g` while it was hung, the backtrace didn't appear until after the hang, so I'm wondering if the `C-g` didn't get processed until after the hang.

Then I tried `profiler-start` followed by `cider-connect` followed by `pro

[2016-09-30 17:28] timothypratley opened #1855 "bam!"
*Use the template below when reporting bugs. Please, make sure that
you're running the latest stable CIDER and that the problem you're reporting
hasn't been reported (and potentially fixed) already.*

*When requesting new features or improvements to existing features you can
discard the template completely. Just make sure to make a good case for your
request.*

**Remove all of the placeholder text

[2016-09-30 17:41] bbatsov commented on #1855
@timothypratley Guess you forgot to add something here. :-)

[2016-09-30 18:17] timothypratley commented on #1855
oppS! :)

[2016-09-30 18:17] #1855 closed

[2016-10-02 06:03] bbatsov commented on #1779
Hmm, seem to be something related with the locals font-locking. @Malabarba any ideas?

[2016-10-02 06:04] bbatsov commented on #1096
Closing this as non-important and unlikely to happen soon.

[2016-10-02 06:04] #1096 closed

[2016-10-02 06:05] bbatsov commented on #702
Closing this due to lack of activity.

[2016-10-02 06:05] #702 closed

[2016-10-02 06:05] bbatsov commented on #1225
Closing this as non-important and unlikely to happen soon.

[2016-10-02 06:05] #1225 closed

[2016-10-02 06:06] bbatsov commented on #709
OK, I'll close this ticket then. We've got more important tasks to do anyways.

[2016-10-02 06:06] #709 closed

[2016-10-02 06:07] bbatsov commented on #996
Closing this as non-important and unlikely to happen soon.

[2016-10-02 06:07] #996 closed

[2016-10-02 06:09] bbatsov commented on #1104
Closing due to lack of activity.

[2016-10-02 06:09] #1104 closed

[2016-10-02 06:47] bbatsov commented on #1072
Duplicate of #1352.

[2016-10-02 06:47] #1072 closed

[2016-10-02 06:49] bbatsov commented on #1615
@Malabarba can you look into this when you have some time?

[2016-10-02 06:50] bbatsov commented on #1504
Closing this due to lack of recent activity.

[2016-10-02 06:50] #1504 closed

[2016-10-02 06:53] bbatsov commented on #1505
I'm closing this as an upstream fix is out of our hands.

[2016-10-02 06:53] #1505 closed

[2016-10-02 09:49] bbatsov commented on #1752
I'll close this due to lack of activity.

[2016-10-02 09:49] #1752 closed

[2016-10-04 22:20] ncalexan opened #1856 "Enhancement request: include `(testing ...)` context in *cider-test-report* buffer"
This ticket tracks displaying the `(testing ...)` context string of failing tests in the test report buffer.

Context: many of my tests have non-trivial setup time, so I prefer to structure my tests as a single `deftest` with multiple `(testing ...)` context blocks.  I tend to get a lot of mostly useless stacktraces from my tests (i.e., no indication _which_ test failed), and it would help a lot t

[2016-10-05 05:17] bbatsov commented on #1856
Guess we should check how easy it's to get a hold of this information.

[2016-10-05 11:34] bbatsov commented on #1629
@avli did you figure out what caused this problem for you?

[2016-10-05 13:50] avli commented on #1629
@bbatsov Not really. The problem still exists, but I just used to it :)

[2016-10-05 14:50] bbatsov commented on #1629
Hmm. Can you please run the Emacs profiler (https://www.gnu.org/software/emacs/manual/html_node/elisp/Profiling.html) so we can see what exactly is causing the slowness for you?

[2016-10-06 05:23] xiongtx commented on #1850
Here's a proof of concept I've been working on:

[2016-10-06 05:43] bbatsov commented on #1850
@xiongtx I think you forgot to include something. :-)

[2016-10-06 06:00] xiongtx commented on #1850
Yes, accidentally hit `RET` too quickly.

[2016-10-06 08:04] bbatsov commented on #1850
CIDER's macroexpansion pretty-prints the macro forms (they are processed in the middleware).

I'm not sure it's a good idea to plug something into `macrostep` - I was thinking more in terms of just implementing the existing macroexpansion we have as on overlay. Seems to me this is pretty much what macrostep does. Integrations with 3rd party packages are notoriosly brittle and users generally don't

[2016-10-06 08:07] bbatsov commented on #1850
P.S. I'm fine with developing a macrostep integration if macrostep brings a lot of added functionality to the table.

[2016-10-06 11:28] bbatsov commented on #1831
Seems to me this must be tied to the encoding settings of the underlying terminal and I doubt there's much we can do.

Btw, what exactly is causing the problem for you? I don't recall any non-ASCII characters in the standard REPL banner.

[2016-10-06 11:44] bbatsov commented on #1758
That's very helpful indeed. According to the profile data the nREPL message logging is super slow, which is probably something to be expected for big requests/responses.

[2016-10-06 11:46] bbatsov commented on #1582
Guess I'll close this due to lack of activity.

[2016-10-06 11:46] #1582 closed

[2016-10-06 11:47] bbatsov commented on #1560
@cskksc Any progress here?

[2016-10-06 11:49] #1073 closed

[2016-10-06 16:07] xiongtx commented on #1850
It does Clojure `pprint`, not Emacs `pp`. `pp` will take a one-liner like

[code]

and output:

[code]

which isn't *quite* right, but close. Clojure's `pprint` does not do this.

I'd think that the most desirable feature of `macrostep` is the "stepping" (which you can experiment with using the POC above), not just expanding inline. But I see that expanding inline is what the OP has asked for...do

[2016-10-06 16:33] avli commented on #1629
@bbatsov Here are the profiling results:

[code]

The results were collected on Mac OS X 10.11.6, Emacs version 25.1, projectile 20160921.902, cider 20160925.2057. What I did:

1. Created an empty project with Leiningen.
2. Opened a Clojure file, did cider-jack-in, wrote a dummy function, then went to `defn` definition.
3. Went to the beginning of the core.clj file and scrolled down to line 1000 w

[2016-10-06 16:37] bbatsov commented on #1629
The slowness comes from Projectile, not CIDER. Setting `projectile-mode-line` to nil should fix the slowness for you.

[2016-10-06 16:47] avli commented on #1629
@bbatsov You're right. I've tried to profile scrolling in other large files and see the same picture. Scrolling becomes jumpy when `projectile-mode-line` is not `nil`. Do you think it's a Projectile bug or just the way it works?

[2016-10-06 18:45] johnv02139 commented on #1831
It's the "smart apostrophes", e.g., in "you're".
![cider-youre](https://cloud.githubusercontent.com/assets/5966147/19165870/5b3356f6-8bba-11e6-85af-826c400e511b.jpg)

Obviously I agree there's nothing cider can do to make those non-ASCII chars show up properly in an environment that doesn't support them.  I would simply suggest changing them to ASCII apostrophes, and would be happy to submit a pul

[2016-10-06 19:32] bbatsov commented on #1831
Hmm, I thought this was an ascii character. They certainly look like regular apostrophes to me in the source code. Feel free to change them, though. I might be missing something...

[2016-10-06 19:40] #1797 closed

[2016-10-06 19:42] bbatsov commented on #1779
Do you have `cider-mode` enabled in `cider-stacktrace-mode` buffers?

[2016-10-06 19:45] xiongtx commented on #1831
`C-u C-x =` in the source code reports that It's actually a [RIGHT SINGLE QUOTATION MARK](http://www.fileformat.info/info/unicode/char/2019/index.htm).

[2016-10-06 19:49] johnv02139 commented on #1831
Thanks, xiongtx.  Updated https://github.com/clojure-emacs/cider/pull/1857

[2016-10-06 20:06] IvanMalison commented on #1850
@xiongtx
You are correct that I was mostly asking for inline expansion, but I think that stepping is also a valuable feature that would certainly be nice to have.

[2016-10-06 20:22] #1831 closed

[2016-10-07 04:05] doubleagent opened #1858 "Find usages error on lein-bikeshed code"
Screenshot shows all the details I have.  I commented out virtually all the code, saved, killed and restarted cider a few times.  The error occurs during project analysis.  Something to do with leiningen plugins, maybe?

![cider_bikeshed_find_usages_err](https://cloud.githubusercontent.com/assets/56522/19178515/f4788e0e-8c18-11e6-8ffb-1e45d1ff741d.png)

[2016-10-07 05:09] bbatsov commented on #1858
This functionality is not in CIDER - it's in `clj-refactor.el`. Please, report the issue there.

[2016-10-07 05:09] #1858 closed

[2016-10-07 05:22] bbatsov commented on #1758
I've disabled the message logging by default in light of the performance issue and I'll file a separate issue about it.

[2016-10-07 07:41] bbatsov commented on #1850
@xiongtx I'm guessing clj-fmt or https://github.com/kkinnear/zprint should be able to format the code in this manner

[2016-10-07 08:17] bbatsov commented on #1758
On a related note how many of you are having performance issues with the dynamic font-locking functionality?

[2016-10-07 08:21] bbatsov opened #1859 "Optimize the performance of the nREPL message log"
As discussed in https://github.com/clojure-emacs/cider/issues/1758 the nREPL message logging is pretty slow (especially when big data structures are involved) and enabling logging causes constant freezes.

To alleviate the problem logging was disabled by default, but we still need to analyze and optimize the problematic code (`nrepl--pp` seems to be the main culprit here).

//cc @vspinu

[2016-10-07 08:22] bbatsov commented on #1748
Basically you want a function that would eval a sexp and insert its pretty-printed result in the REPL, right?

[2016-10-07 08:25] bbatsov commented on #1665
I'll close this due to lack of recent activity.

[2016-10-07 08:25] #1665 closed

[2016-10-07 08:26] mrrodriguez commented on #1758
I mentioned at https://github.com/clojure-emacs/cider/issues/1758#issuecomment-221723629 that disabling dynamic font locking is what fixed the locking issues for me. So I would say that was where my problem was coming from.

[2016-10-07 08:29] bbatsov commented on #1629
It's not exactly a bug - it's just that the project-name is recalculated on each movement operation and on a slower machine or a remote file this is going to cause a noticeable delay. I've been thinking for a while how to address this in projectile, but at least there's the workaround I mentioned.

Sorry for taking so long to respond to something so simple.

[2016-10-07 08:29] #1629 closed

[2016-10-07 08:31] bbatsov commented on #1115
Btw, do we have some profiling data regarding this? It'd be nice to know what should we aim to speed up/optimize...

[2016-10-07 08:43] bbatsov commented on #1758
Yeah, I saw this - but it seems most people here had issues with the nrepl-log, not with the dynamic font-locking. That's why I asked. :-)

[2016-10-07 10:07] mrrodriguez commented on #1758
It's odd to me that I didn't have to do anything with logging to fix it. Just the dynamic font locking. Perhaps just different issues that are environment dependent.

[2016-10-07 12:40] cskksc commented on #1560
@bbastov I had forgotten about this one. Ever since I've started taking classes at the university again, I'm not getting as much time to work on CIDER as I would like. I'll try to take this up next week :-)

[2016-10-07 13:16] bbatsov commented on #1820
I wonder what's the best approach here. I see two options:

* disable eldoc completely in edn buffer (which seems reasonable to me)
* set some limit about the size of the sexp when looking for its beginning (in actual code it's unlikely there would be more than a few levels of sexp nesting)

What do you think?

[2016-10-07 13:23] bbatsov commented on #1820
Actually a while back we introduced `cider-eldoc-max-num-sexps-to-skip` which addresses the second option. It's set to 30 by default. I wonder if your performance issues would go away if it was  10.

But the bigger question is whether eldoc is really needed in EDN buffers.

[2016-10-07 14:01] doubleagent commented on #1858
Thanks

[2016-10-07 14:50] leppert commented on #1820
@bbatsov I certainly don't need eldoc in EDN buffers, so that sounds reasonable to me as well. My anecdotal test on setting `cider-eldoc-max-num-sexps-to-skip` to 10 didn't seem to have much of an improvement, but I'll try to run benchmark later to confirm.

[2016-10-07 14:53] bbatsov commented on #1820
@rfkm, you're welcome to join the conversation here.

[2016-10-07 15:33] vspinu commented on #1859
The issues seem to be coming from `pp-to-string`. It shouldn't be hard to get rid of it.

[2016-10-07 16:25] bbatsov commented on #1820
I've committed a change that disables eldoc for EDN buffers. Guess you can try it out.

[2016-10-07 16:54] bbatsov commented on #1859
@vspinu Can you look into this?

[2016-10-07 19:04] johnv02139 opened #1860 "browse REPL input history"
### Goal

I have wanted a better way to see and re-enter commands from my REPL input history.  Scrolling through with M-p and M-n is good, but sometimes I want more.

When I saw cider-classpath, I realized that was very similar to what I wanted for input history.  So, I adapted it, and really in just a couple of minutes, I think it came out very nice and useful.  Please see:

https://github.com/jo

[2016-10-07 21:02] leppert commented on #1820
[code]

[2016-10-07 21:15] leppert commented on #1820
The EDN changes worked perfectly, thanks. I did an extremely rough benchmark of the `cider-eldoc-max-num-sexps-to-skip` settings and saw essentially no difference, though I'll admit they're rough enough to remain anecdotal.

[code]

[code]

[2016-10-07 22:53] xiongtx commented on #1850
Would that need to be pulled into `nREPL` or something? How do we deal with Clojure dependencies or extra code in CIDER?

[2016-10-07 22:55] bbatsov commented on #1850
We simply add them as deps in `cider-nrepl`. Ideally they should be exposed via some nREPL op instead of using direct evaluation - this gives us the flexibility to replace some dep, but the preserve the nREPL interface. You can see the clj-format code in cider-nrepl as an example.

[2016-10-07 23:03] xiongtx commented on #1850
It seems that [`cljfmt`](https://github.com/clojure-emacs/cider-nrepl/blob/master/project.clj#L15) is already a dependency. Is that exposed through Emacs Lisp as an op or something?

[2016-10-07 23:54] vspinu commented on #1859
Sure. I will have a look over the weekend.

[2016-10-08 05:24] bbatsov commented on #1859
@vspinu Thanks!

[2016-10-08 05:32] bbatsov commented on #1850
Sure. See https://github.com/clojure-emacs/cider/blob/c698df1c905127f190efee3403822b2b09a811c3/cider-interaction.el#L1561

[2016-10-08 08:23] bbatsov commented on #1860
That would be a wonderful feature!

I don't think the UI for `cider-classpath` is a good fit, though. I'd suggest lifting the UI from https://github.com/browse-kill-ring/browse-kill-ring/blob/master/browse-kill-ring.el

They are handling the multi-line items on the kill-ring there.

Basically for handling multi-line items you need to be inserting some delims between them, so on operations like cli

[2016-10-08 11:11] #1851 closed

[2016-10-08 11:26] bbatsov commented on #1823
I can reproduce this on Clojure 1.7. @dpsutton @snufkon what are your Clojure versions?

[2016-10-08 13:00] bbatsov commented on #1823
Hmm, I get the same results on 1.7 and 1.8 actually.

[2016-10-08 13:10] #1823 closed

[2016-10-08 13:37] bbatsov commented on #1820
Well, looking at the generated EDN file, there's just level of nesting there. Frankly, off the top of my head I can't even figure out what was causing the excessive `forward-sexp` invocations.

[2016-10-08 14:54] #1748 closed

[2016-10-08 15:44] bbatsov commented on #1790
Some steps to reproduce this would be useful.

[2016-10-08 17:18] bbatsov commented on #1806
Closing due to lack of activity.

[2016-10-08 17:18] #1806 closed

[2016-10-08 17:25] bbatsov commented on #1666
Guess we can close this then. Unless someone wants to contribute some documentation on the subject?

[2016-10-08 17:26] dpsutton commented on #1666
I'll have to get up to speed but I can do it tomorrow

On Oct 8, 2016 12:25 PM, "Bozhidar Batsov" <notifications@github.com> wrote:

[2016-10-08 17:51] avli commented on #1629
No worries. Appreciate your help!

[2016-10-08 18:57] leppert commented on #1820
@bbatsov Oh no! So sorry about this—I've been benchmarking against a different EDN file without considering that the shape is very different. I'll try to abstract it and post an updated recreate.

[2016-10-08 19:35] leppert commented on #1820
It's essentially a long list of maps with this shape:

[code]

[2016-10-08 19:42] muhuk commented on #1790
I couldn't reproduce it myself. Closing.

(didn't work at first, until I fixed `(add-hook 'cider-mode-hook 'cider-turn-on-eldoc-mode)` thing)

[2016-10-08 19:42] #1790 closed

[2016-10-08 19:46] bbatsov commented on #1666
@dpsutton Sounds good.

[2016-10-08 19:54] bbatsov commented on #1613
Not sure what you mean by this. Generally putting something in *messages* is not the best course of action, as people often don't notice such messages. Outputting some warning to the REPL or showing the `cider-refresh` status buffer might be better.

[2016-10-08 21:05] dpsutton commented on #1613
Agreed. I've got a working prototype right now where it tries to call the function provided and falls back to a some type of notification if the function cannot be found. Unfortunately, after running once I'm getting error messages that the debugger is unattached. I think I have observed this when running nrepl locally so its tough to distinguish effects of my changes from trying to run the local

[2016-10-09 06:11] bbatsov commented on #1726
@dpsutton This ticket is still yours if you want it. ;-)

[2016-10-09 06:17] bbatsov commented on #1817
@Malabarba tried to reproduce this and noticed I'm not getting any tooltips on the current master with Emacs 25. Can you check if they still work for you?

[2016-10-09 06:24] bbatsov commented on #1600
No volunteers I guess. :-)

[2016-10-09 06:27] bbatsov commented on #915
@vspinu Ping again :-)

[2016-10-09 06:47] Malabarba commented on #1726
Given that this only really affects the cider developers, and even we weren't bothered enough to actually do something significant about it, maybe it's not that relevant. People's effort might be better spent elsewhere.

[2016-10-09 07:52] bbatsov commented on #1726
While this is true, this issue still represents an open thread and requires way less effort than most open tasks we have. I've been trying to do some cleanup lately, as tasks really piled on in the past 5-6 months. Hopefully contributor activity will pick up, as I'm pretty short on time myself.

[2016-10-09 07:54] bbatsov commented on #1461
@Malabarba any chance you can take a stab at this in the foreseeable future?

[2016-10-09 07:58] bbatsov commented on #1818
I'm closing this for now. Feel free to reopen it if there still some issues (that can ideally be reliably reproduced).

[2016-10-09 07:58] #1818 closed

[2016-10-09 08:19] qrthey commented on #1818
I haven't seen the issue occurring in a long time. Sorry for my late reply
and thanks for fixing this issue.

On Oct 9, 2016 09:58, "Bozhidar Batsov" <notifications@github.com> wrote:

[2016-10-09 09:14] #1789 closed

[2016-10-09 09:15] bbatsov commented on #1789
See the changes I've made here - hopefully it's now clear how to change the buffer's connection.

[2016-10-09 16:08] bbatsov commented on #1694
Closing due to lack of activity.

[2016-10-09 16:08] #1694 closed

[2016-10-09 17:11] decoursin commented on #1851
Thank you!

[2016-10-09 21:52] dpsutton commented on #1666
I've been trying to figure this out. I've built a project `mvn install` and then referenced it. I got no errors, just info that no documentation was found when trying to view docs. @vspinu can you help shed some light on circumstances that could trigger an error?

[2016-10-10 00:34] vspinu commented on #1758
Those who reported hang on logging, did you notice what was the message that caused the hang? What middleware could cause a massive log during startup?

For the record, this is a programatic way to invoke the profiler for testing the logger:

[code]

[2016-10-10 05:21] bbatsov commented on #1666
I think a larger point is that we haven't documented at all how one can add source jars to their lein/boot project.

[2016-10-10 05:22] bbatsov commented on #1677
Guess there's not much more we can do about this now, so I'll close this. Thanks for fixing the handling for `\r` @dpsutton.

[2016-10-10 05:22] #1677 closed

[2016-10-10 05:41] bbatsov commented on #1845
Guess we can close this now.

[2016-10-10 05:41] #1845 closed

[2016-10-10 05:42] bbatsov commented on #1841
So, does anyone has an action plan regarding this or we can close the ticket?

[2016-10-10 09:11] vspinu commented on #915
Hm. This is ancient. The reason I didn't fix it back then is that I wanted to improve upon `cider-known-endpoints` by adding the possibility to configure type of cider connection from there. Never got down to that :(.

By when would you like to have this done? What is `hactoberfest`?

[2016-10-10 10:10] benedekfazekas commented on #1854
had a look. I don't think it is a regression actually. It seems to me that jack in over tramp is kinda half baked, this todo comment perhaps seconds that?! https://github.com/clojure-emacs/cider/blob/master/cider.el#L686

I may be misunderstanding the code but I assume this:
[code]
will never work for a remote project.clj as it tries to run the remote default directory as a lein command?!

[2016-10-10 11:49] bbatsov commented on #1854
Oh, shit - yeah. I now remember I couldn't quickly figure out how to check for the executable on the remote host. But I remember this check was actually fixing something. :-)

[2016-10-10 13:09] benedekfazekas commented on #1854
i can put this on my list but cljr hacking comes first now. as a temporary measure we can show an error if the file is remote I guess and point the user towards using `cider-connect` to a remote REPL i suppose. there could be also some rabbit holes with remote files (have not grepped cljr issues but we had some problems with them afair)

[2016-10-10 13:46] Malabarba commented on #1841
Sounds like it's our fault then. Wrapping a multi-fn in something else is probably not part of clojure.test's intended API. Could we do this without the wrapping? Or maybe wrap more inteligently (like wrapping in a multi-fn that can still be extended)?

[2016-10-10 13:52] Malabarba commented on #1461
I still think it would be nice to have, and I've decided to get back to OSS this week, but this specific issue is not my topmost priority so it may take me a while. :)

[2016-10-10 13:55] bbatsov commented on #1461
OK. It's definitely not urgent. It'd be nice to see more of you in the realm of CIDER. :-)

I haven't been doing much OSS work myself lately. Had some pretty quiet months since April, hopefully I'll be able to do more OSS work until the end of the year.

[2016-10-10 14:05] Malabarba commented on #1817
I'll try it out tonight. :+1:

[2016-10-10 14:22] lvh commented on #1841
Sorry; I completely lost track of this ticket.

a. The workaround works. Thanks!
b. I don't think the workaround is more than a validated hypothesis or a temporary band-aid: this is tricky to discover without filing a ticket.

[2016-10-10 15:05] jcsims opened #1862 "Add "Hacking on CIDER" section to docs"
Pulling this from the CIDER Slack channel, so it doesn't get forgotten.

For someone who hasn't hacked on a Emacs package (or just CIDER) before, it's not immediately obvious how to start doing it.

A suggestion from the Slack conversation:

Clone CIDER locally, then

[code]

[2016-10-10 15:11] #1859 closed

[2016-10-10 15:15] bbatsov commented on #915
@vspinu It's ancient indeed, that's why I want to resolve it somehow. I've been trying to clean the issue tracker for the past week or so.

If you have time to complete your changes, that'd be great - if not a simple documentation PR will wrap this.

[2016-10-11 00:06] aiba commented on #1758
Regarding middleware, in my case I am running the nrepl server with:

[code]

Regarding `dynamic-font-locking`, I tried disabling it but didn't notice any difference in the hang-on-connect behavior.  My other (non-data-supported) impression was that it improved the editing speed of some long hairy functions that I never should have written in the first place :-).  Also the syntax highlighting seem

[2016-10-11 05:50] bbatsov commented on #1835
I guess this should be easy to fix. I'll look into it.

[2016-10-11 13:45] carrete commented on #1615
For me this happens with `(setq cider-enlighten-mode t)` and `M-x cider-connect`. No restart required.

[2016-10-11 13:47] carrete commented on #1615
CIDER v0.13.0. Emacs v25.1.1, macOS Sierra.

[2016-10-11 16:01] frejanordsiek opened #1864 "Possible security vulnerability from connecting to clojure via TCP on localhost"
This just popped up as affecting Guile and I looked at Cider and it seems to be connecting to clojure over TCP on localhost, so it would be similarly vulnerable. The report on Guile's bug database is at

https://lists.gnu.org/archive/html/guile-user/2016-10/msg00007.html

It's third reference details the general attack

http://bouk.co/blog/hacking-developers/

Basically, if you are using cider to

[2016-10-11 19:47] bkruczyk commented on #1600
It looks like @Malabarba already applied mentioned [fix](https://github.com/clojure-emacs/cider-nrepl/blob/edde9fc83dbb1489b4f9fb152b7c0cc55856b566/src/cider/nrepl/middleware/util/namespace.clj#L35).

Runnig `cider-test-run-project-tests` works after loading buffer into repl (`C-k C-l`).

[2016-10-12 11:25] sebastianpoeplau commented on #1841
I guess it's somewhat hard to intercept test results without wrapping that function, and I think leiningen does it the same way. Let me check...

[2016-10-12 11:48] carrete commented on #1854
Could I set a variable instead to specify the remote command?

[2016-10-12 14:41] dpsutton commented on #1613
I've got it testing and working. Gonna use it locally for a few days. Little worried about cljs stuff as I don't use that much.

[2016-10-12 15:01] dpsutton commented on #1613
[code]

[2016-10-12 15:30] bbatsov commented on #1613
I'm a bit confused by the two statuses. What's the purpose of the first status? Just a notice that we're trying to invoke the before-fn?

I'd also use names like `invoking-refresh-before-fn` and `refresh-before-fn-not-resolved`.

[2016-10-12 15:42] dpsutton commented on #1613
The first is currently what it does. And If it could not resolve the function it would just error, preventing refreshing. It now tries to resolve the function, and if not, sends back a message that the function could not be resolved. The latter message is new while the former is currently there. There is a sequence of

1. refreshing
2. invoking-function
3. invoked-function
4. done

I've changed 3

[2016-10-12 15:58] bbatsov commented on #1854
This can be done, but it'd be messy. All variable would have to be set to `nil` by default, otherwise all resolve commands would always match. Ideally we should figure out if there's something like `executable-find` working over tramp.

[2016-10-12 16:03] bbatsov commented on #1613
Got it.

I guess that'd be good enough for now. I might cut a new CIDER as soon as tomorrow for selfish reasons. :-)

[2016-10-12 16:11] dpsutton commented on #1613
I can reduce the steps if we like. Note this will require new versions of
nrepl as well as cider at the same time. I can get the requests out today.
All tests are passing just had a meeting at work when I was setting up the
pull requests

On Oct 12, 2016 11:03 AM, "Bozhidar Batsov" <notifications@github.com>
wrote:

[2016-10-12 16:23] bbatsov commented on #1864
Thanks for reporting this! Guess we'll have to look into it.

[2016-10-12 16:37] bbatsov commented on #1835
Ah, seems I forgot about how this was supposed to be used - just set `cider-default-repl-command` to "boot".

[2016-10-12 16:46] bbatsov commented on #1613
Regarding the steps - it's seems to be there should be "resolving" step, before trying to invoke something, but I can live with the current step structure. It just feels a bit odd to see "invoking-something" and then "invoked-not-resolved". Updating `cider-nrepl` is not an issue - updating the snapshot is trivial. I do after every PR I merge for it.

[2016-10-12 23:21] zenspider commented on #1854
@bbatsov I don't have a direct answer to your question...but I know that `ssh.el` tab completes commands correctly. Looking at `ssh-tab-or-complete` shows it calls `completion-at-point`. Not sure that's going to help.

[2016-10-13 12:17] sebastianpoeplau commented on #1841
Indeed, leiningen also [wraps](https://github.com/technomancy/leiningen/blob/master/src/leiningen/test.clj#L96) `clojure.test/report` (and it also crashes in the scenario we're discussing). Another way to obtain information about the test results is the return value of `clojure.test/run-tests`, but it's very basic. That's what leiningen relies on when you [disable](https://github.com/technomancy/l

[2016-10-13 12:17] #1613 closed

[2016-10-13 12:36] sebastianpoeplau commented on #1841
[TCHECK-113](http://dev.clojure.org/jira/browse/TCHECK-113) discusses the problem in the context of `lein test`, but the conclusion seems to be that people are unlikely to run into the issue...

As for wrapping more intelligently, I guess it might be possible to wrap `clojure.test/report` in a multi-fn and use the `:default` implementation to forward to the wrapped function. It would avoid the cra

[2016-10-13 13:31] codahale commented on #1613
Awesome! Thank you!

[2016-10-13 16:29] carrete commented on #1854
Thanks @bbatsov. I dropped the new cider.el on top of cider.el v0.13, restarted emacs, opened project.clj over tramp, then jacked-in, and still the same problem. What more can I provide to you to help with this?

[2016-10-13 17:54] benedekfazekas commented on #1854
you might have it compiled. remove cider.elc if it is in the directory

On 13 Oct 2016 5:29 p.m., "Formerly known as tvaughan" <
notifications@github.com> wrote:

[2016-10-13 19:49] bbatsov commented on #1854
I can't imagine how my fix wouldn't be working - it basically returns the name of the command matching the project's type, without trying to resolve it. If this binary exists on the remote host everything should work just fine.

[2016-10-13 22:13] carrete commented on #1854
Damnit. That was it. It works! Thanks!

[2016-10-14 08:14] bbatsov commented on #1854
Seems that the proper solution for this would be the use of `tramp-find-executable` (part of the built-in library `tramp-sh.el`.).  Down the road we should leverage this.

[2016-10-14 19:49] malchmih commented on #1747
Looks like I might have got the same issue with the zenburn theme.
![image](https://cloud.githubusercontent.com/assets/450680/19400653/cf53189a-925f-11e6-881f-6955e92bdd08.png)
My config for cider looks like this:
[code]
changing `cider-overlays-use-font-lock` has no effect. All the other config options work btw

[2016-10-14 20:13] mallt commented on #1747
@malchmih You should be able to fix the issue by removing the `:foreground` attribute of the  `cider-result-overlay-face` of the zenburn theme. This is what solved the issue for the solarized theme (https://github.com/bbatsov/solarized-emacs/pull/233/files).

[2016-10-14 20:24] malchmih commented on #1747
@mallt Thanks for your tip! Checked it and works perfectly. Will send a PR to a zenburn theme repo.

[2016-10-14 20:29] malchmih commented on #1747
Created the PR: https://github.com/bbatsov/zenburn-emacs/pull/252

[2016-10-15 18:40] johnbendi commented on #1779
I think I did. But I have a fresh install now. So users may still want to check so if they encounter this error.

[2016-10-15 18:48] bbatsov commented on #1779
I'm guessing `cider-mode` messed up the stacktrace buffer. Can't imagine anything else happening. `cider-mode` is definitely not meant to be enabled for such buffers. I guess I can close this now.

[2016-10-15 18:48] #1779 closed

[2016-10-15 22:22] xiongtx commented on #1850
Macro-stepping is now part of `cider-nrepl`.

Do we want `cider-macrostep` to be part of CIDER or a separate repo? `slime-macrostep` is a [contrib package for SLIME](https://github.com/slime/slime/tree/master/contrib), though SLIME packages all contrib repos within SLIME itself.

[2016-10-16 05:28] bbatsov commented on #1850
I guess that depends on whether `cider-macrostep` depends on `macrostep` or not.

[2016-10-16 11:21] #1707 closed

[2016-10-17 21:37] sjlnk opened #1869 "Instrumented function is stopped only once when called by core.async thread/go."
## Expected behaviour

Get back to the debugger mode after pressing c and calling the instrumented code again from `thread` or `go` block. Code should stop on the debugger on each iteration of the loop inside `looper` function.
## Actual behavior

Debugger is initialized only on the first run and cannot be reinitialized again.
## Steps to reproduce the problem

[code]

Use the snippet above to get

[2016-10-18 19:14] skrat opened #1870 "CIDER super-slow after connecting to nREPL"
## Environment & Version information

OpenJDK 1.8 (same issue with Oracle JDK), Arch Linux
### CIDER version information

CIDER 13. (same issue with 14. and 14-SNAPSHOT middleware)
org.clojure/tools.nrepl "0.2.12"

I'm running the nREPL through Figwheel with [com.cemerick/piggieback] middleware
### Lein/Boot version

Lein 2.6.1
### Emacs version

25.1.50
### Operating system

Arch Linux
### -----

[2016-10-19 12:56] zilti opened #1871 "After changing `cider-boot-parameters`, CIDER refuses to inject dependencies."
## Expected behavior
CIDER injects dependencies upon `cider-jack-in` even when `cider-boot-parameters` have been modified.

## Actual behavior
CIDER complains that `cider-boot-parameters` have been changed and does not inject the dependencies.

## Steps to reproduce the problem
Modify `cider-boot-parameters`.

## Environment & Version information

### CIDER version information

*Include here the v

[2016-10-19 13:12] expez commented on #1666
@vspinu I tried adding paths to jars in `:resource-paths` and I still can't jump to the java source nor view its documentation.  What did you do?

[2016-10-19 15:03] raxod502 opened #1872 "Option for opening REPL but not moving cursor"
We have the option `cider-repl-pop-to-buffer-on-connect`, which affects what happens when CIDER connects to the REPL. When it's on, the REPL buffer is opened and my cursor is moved to it. When it's off, the REPL buffer is not opened.

I would like the REPL buffer to be opened but my cursor to _not_ be moved to it.

This is my current solution:

[code]

It's not ideal because it means that when I d

[2016-10-19 19:53] bkruczyk commented on #1169
There's already a `cider-eval-defun-to-comment`. Wouldn't it be apropriate to create custom variable like `cider-eval-push-to-kill-ring` instead of creating another eval function?

[2016-10-19 20:26] vspinu commented on #1666
Just that, added full paths to the `:resource-paths`

[code]

Did the trick for me, both for refs and javadocs.

[2016-10-19 20:37] vspinu commented on #1666
Documenting this is just passing the ball to the user.  How hard would it be to check for `-sources.jar` or`-javadoc.jar` and add them to the classpath dynamically?

[2016-10-20 06:10] bbatsov commented on #1169
Yeah, probably this would be the best direction. I don't really want to add more prefix arguments to eval commands. But I think @phillord wanted to different things - a way to push results to the killring and a way to display results as comments.

[2016-10-20 07:42] bkruczyk commented on #1169
Isn't that what `cider-eval-defun-to-comment` does?

[2016-10-20 08:54] bbatsov commented on #1169
Just for one type of evaluation (top-level expression evaluation). Which is probably enough. But with the results to kill-ring, you'd probably want for every eval op to push its result to the the kill-ring when this is enabled. On the other hand some people might want to push there only specific results...

[2016-10-20 09:37] bkruczyk commented on #1169
I think eval to comment makes most sense for top-level expressions i.e. inserting comment "inside" sexp could be problematic/confusing.

For specific results I don't really know how to tackle it, but for every eval maybe it would be sufficent to put the kill-ring behaviour in somewhere in `cider-interactive-eval`.

[2016-10-20 09:51] expez commented on #1666
Thanks, the mistake was mine, I added the wrong jar (with only `.class` files).

It would be easy to check for jars, but where would we check?

[2016-10-20 10:18] vspinu commented on #1666
In the parent directory of the class jar.

[2016-10-20 10:29] bbatsov commented on #1169
Indeed.

[2016-10-20 10:53] phillord commented on #1169
@bkruczyk Yes, that's is what `cider-eval-defun-to-comment` does -- I added that command:-)

My original issue was more generic, but what we have now fulfils my use case. I am happy to close, unless @bkruczyk needs the more generic solution.

[2016-10-20 10:57] bkruczyk commented on #1169
Nope, feel free to close the issue.

[2016-10-20 11:01] bbatsov commented on #1169
@phillord so you don't want the ability to push eval results to the kill right anymore?

[2016-10-20 11:51] bbatsov commented on #1871
I don't quite understand what you mean. Injecting dependencies is controlled by a different defcustom.

[2016-10-20 14:37] phillord commented on #1169
Well, I wanted this as a way to get results as comments into the buffer. As that's been implemented instead, it seems the better solution. I'll close.

[2016-10-20 14:37] #1169 closed

[2016-10-20 20:30] Malabarba commented on #1871
Are you referring to this warning?

    Warning: `cider-boot-parameters' doesn't call the "repl" task, jacking-in might not work

What value did you set this variable to?

[2016-10-20 20:32] Malabarba commented on #1872
Minor comment. If we do this, it should be a different value for this variable, not a new variable.

[2016-10-20 21:47] zilti commented on #1871
I've set the variable to `dev`. Jacking in works fine, I don't get warnings, but it doesn't inject the dependencies, and I get the classical version mismatch errors, also stating that "one possible cause" would be that cider-boot-parameters got changed (which is what I did).

[2016-10-21 02:13] Malabarba commented on #1871
That's odd, cider should give you the warning I pasted above. Maybe it got immediately replaced by another message. Do `C-h e` and see if you can spot that message in there.

Anyway, the problem itself is not a bug, it's a limitation. Cider can only inject dependencies on the repl task. If you want to use a different task you have to either (i) define it so that it can be called in conjunction wit

[2016-10-21 05:02] zilti commented on #1871
Ahh, I see. I supposed it'd get injected afterwards, so I didn't make that connection. Thanks!

[2016-10-21 05:02] #1871 closed

[2016-10-21 18:42] rymndhng opened #1873 "Pretty Printing Exceptions in cider-test"
When I'm working with `cider-test` and a test throws a `ex-info` with a large data structure (i.e. working with prismatic.schema), it's always printed in a single line (regardless if I have pretty-printing enabled or disabled).

If we had the ability to pretty-print these objects, it would make inspecting large objects easier.

[2016-10-24 06:07] bbatsov commented on #1873
Is your issue similar to https://github.com/clojure-emacs/cider/issues/1707 ?

I'm not sure what exactly are you suggesting that we should pretty-print.

[2016-10-24 06:11] bbatsov commented on #1860
@johnv02139 Any progress here?

[2016-10-26 01:06] xiongtx commented on #1600
`cider-load-file` is `C-c C-l`, not `C-k C-l`.

[2016-10-26 05:11] rymndhng commented on #1873
@bbatsov Similar error, (in fact I am using schema as well).

I'm wondering if it's possible to take that exception object and pretty print it because the map object is quite big.

<img width="709" alt="screen shot 2016-10-25 at 10 10 28 pm" src="https://cloud.githubusercontent.com/assets/1694040/19714038/decb533e-9aff-11e6-93ad-46efbbc716a3.png">

[2016-10-26 06:51] bbatsov commented on #1873
The problem is that this is just plain text in the exception message and here's no way to know what's a Clojure object there and what is not...

[2016-10-26 06:59] xiongtx commented on #1873
Is there a way to tell whether the exception is an `ExceptionInfo` object? If so, we know that it's a [message followed by a map](https://clojuredocs.org/clojure.core/ex-info).

Clojure itself tends to be pretty consistent in using `ex-info` to raise exceptions.

[2016-10-26 07:10] bbatsov commented on #1873
Perhaps, I don't have any time to research this. If someone else would like to tackle it - be my guest. :-)

[2016-10-26 08:59] bkruczyk commented on #1600
Right, I meant `C-c C-k` i.e. `cider-load-buffer`.

[2016-10-28 12:18] stardiviner commented on #1845
I tried this method: https://cider.readthedocs.io/en/latest/up_and_running/#using-the-figwheel-repl-leiningen-only

Got error:

[code]

setup like this following:

File `~/.lein/profiles.clj`
[code]

And set `cider-cljs-lein-repl` in Emacs init file:

[code]

[2016-10-28 17:51] leppert opened #1874 "Restarting CLJS repl when using cider-restart"
`cider-jack-in-clojurescript` is a great convenience method for booting up a piggiebacked ClojureScript REPL. It'd be handy to have an equally easy way to restart both the primary CLJ and piggiebacked CLJS repls, perhaps by modifying or extending `cider-restart`.

Does this already exist by chance? Any big barriers to its existence?

[2016-10-28 20:54] leppert opened #1875 "cljc buffers not evaluated in cljs repl by cider-load-buffer"
## Expected behavior

After running `cider-jack-in-clojurescript`, `cider-load-buffer` loads the cljc buffer in both the Clojure and ClojureScript REPLs per the [`cider-load-buffer` docstring](https://github.com/clojure-emacs/cider/blob/master/cider-interaction.el#L1526-L1527).
## Actual behavior

The buffer is evaluated in the Clojure REPL but not the ClojureScript REPL.
## Steps to reproduce the

[2016-10-29 19:07] skrat commented on #1870
Bump

[2016-10-30 00:35] cemerick opened #1876 "pprinting expressions _always_ uses window width as *print-right-margin*"
I have my splits around 120 columns each, so this is really not what I want: 120 columns pretty-printed isn't very…pretty. At least IMO.

It'd be nice to be able to disable the binding of `*print-right-margin*`, or set it at some fixed width in cider. Absent that, here's what I'm using:

[code]

(Go ahead, make fun of my elisp, I care not.)

[2016-10-30 06:19] bbatsov commented on #1870
This seems like some bug in compliment, but without some exact steps to reproduce the problem we can't come up with a fix. //cc @alexander-yakushev

[2016-10-30 06:21] bbatsov commented on #1875
Sounds like some regression to me. Probably fixing this would be easy, but I won't be able to look into this for a while.

[2016-10-30 06:23] bbatsov commented on #1874
I think it will be really easy to extend to `cider-restart` restart both REPLs. The only reason we haven't done is probably because we didn't think about this. I don't do ClojureScript development myself and rarely come up with ideas to improve the ClojureScript support in CIDER.

[2016-10-30 06:24] bbatsov commented on #1876
It will be pretty easy to add some defcustom that would override the current default.

[2016-10-30 13:25] leppert commented on #1875
@bbatsov I'll give it a stab.

[2016-10-30 15:57] leppert commented on #1875
To narrow this down further, it does appear that:

- [`cider--cljc-or-cljx-buffer-p`](https://github.com/clojure-emacs/cider/blob/5a9b3ced54f52abfa3632a9e8d382be49cd4faff/cider-util.el#L85-L90) returns correctly
- [`cider-map-connections`](https://github.com/clojure-emacs/cider/blob/1491f7d6060f07e23fafc360e6e5cff128439e27/cider-client.el#L342-L345) correctly sets `which` to `:both`
- [`cider-map-

[2016-10-30 19:35] leppert commented on #1875
Still digging, but it looks like after the [`load-file`](https://github.com/clojure-emacs/cider/blob/master/cider-interaction.el#L1546-L1551) lambda is called on `other-connection`, `(cider-current-connection "cljs")` starts to return nil because `cider--connection-properties` reports the cljs REPL connection as `:type clj` even though calling `M-x : cider-repl-type` from that buffer returns "cljs

[2016-10-30 21:58] leppert commented on #1875
Beginning to wonder if this has something to do with the nrepl callback queue. Here's a log of activity when `cider-load-buffer` is called:

[code]

With the caveat that I know very little about this system, it looks like the callbacks are called twice for the clj buffer (session id `1c5efd99-9886-4dab-9277-8ced6fc448e0`) rather than once for the clj buffer and once for the cljs buffer (session id

[2016-10-31 18:31] johnv02139 commented on #1860
Sorry, distracted.  I intend to work on it this week.

[2016-11-01 00:13] skrat commented on #1870
@bbatsov I believe this is a bug in `cider-nrepl` middleware. I have the same behavior when I connect vim-fireplace to a REPL with `cider-nrepl` middleware.

[2016-11-01 00:50] skrat commented on #1870
I used Netbeans profiler to see what's up, it show huge stack trace, the memory usage just keeps growing. This surely is a bug with something in the nREPL middleware.

https://gfycat.com/BoringOptimisticCockroach

[2016-11-01 07:37] alexander-yakushev commented on #1870
So, `compliment.utils$list_files` scans all the things on the classpath for classes. I'm not sure it is necessary on Clojurescript, and I don't know what exactly happens when that is done on Clojurescript.

Is this the complete stacktrace you've posted? I can't see any frames from CIDER itself. What's the entrypoint?

[2016-11-01 07:49] bbatsov commented on #1870
The middleware uses compliment internally.

[2016-11-01 07:49] bbatsov commented on #1872
Yeah, I guess that would be best.

[2016-11-01 19:59] skrat commented on #1870
I think I found the culprit. I have symlinks in my `resources` that point to directories, that in turn have symlinks to my projects. It therefore keeps building up something, recursively, following the symlinks, that's why the memory, CPU and stack blows up. I believe `compliment.utils$list_files` or whatever it is that scans the classpath, should be robust enough to avoid this problem.

[2016-11-01 20:10] alexander-yakushev commented on #1870
I agree, that patch is certainly welcome.

[2016-11-01 20:13] skrat commented on #1870
@alexander-yakushev should I then checkout https://github.com/alexander-yakushev/compliment , try adding a failing test and fixing it in there?

[2016-11-01 21:10] alexander-yakushev commented on #1870
Yes, that would be perfect.

[2016-11-02 09:56] #1870 closed

[2016-11-02 13:22] Malabarba commented on #1875
Perhaps it's possible that the state tracker middleware is below the load-file middleware, so once you call load-file cider gets confused. Technically I can't see how that would produce the results you observe, but it's the closest I can think of to a lead. 😕

[2016-11-06 22:18] aiba commented on #1544
I also have a bit of trouble getting cider to do a direct connection when I want it.

When I run `M-x cider-connect`, then enter a hostname, it immediately launches some kind of slow tramp ssh thing.  I think it's trying to guess which port to connect to, but in my cases it doesn't ever find a port because nrepl-server is launched programmatically from within a clojure app, not using `lein repl`.

[2016-11-11 15:43] TatriX commented on #1498
Is it possible to complete built-in functions and objects? Like ```js/document.querySelector``` etc.

[2016-11-12 03:38] malloc82 opened #1878 "Emacs cider hangs after loading incanter's stats library."
I  was trying to use [incanter](https://github.com/incanter/incanter)'s stats library. You usually do this by adding this in ns form:
[code]
When I use cider 0.13.0, ```[incanter.stats :as stats]``` will cause emacs to hang and become non responsive. This is not the case with cider 0.12.0. I'm not sure what's happening, since there is no error nor any messages printed out.

Incanter's other librar

[2016-11-12 03:56] cvillecsteele commented on #1544
Having the same issue. Dockerized clojure process running on a container on my dev machine, with repl open on 55555... Connecting to it from emacs on the host, I see "nREPL: Establishing SSH tunneled connection ..."  How do I make it NOT ssh?

[2016-11-12 06:27] bbatsov commented on #1878
Is this an issue with CIDER 0.14 as well?

[2016-11-12 06:50] malloc82 commented on #1878
Just realize that latest is 0.14 not 0.13. I've actually been using 0.14 on my mac at home which runs fine, does not have this problem. However, when I fallback the version to 0.13 on mac, it still does not have this problem. So it's probably has something to do with something else as well.

I'll verify 0.14 tomorrow when I get back to the RedHat box.

[2016-11-14 04:58] malloc82 commented on #1878
Yup,the problem went away with 0.14.

[2016-11-14 04:58] #1878 closed

[2016-11-14 13:47] dpsutton commented on #1876
Should we obey the `fill-column` variable in emacs and just ignore this completely?

[2016-11-14 21:10] freckletonj opened #1879 "`cider-refresh` messes up any `cider-scratch` buffer; `No namespace found`."
## Expected behavior
`C-c C-x` / `cider-refresh` while in `cider-scratch` buffer simply refreshes the namespace, and any `def`d functions/vars get wiped out, but `cider-scratch` keeps working as if it were fresh.

## Actual behavior
`No namespace found` error

## Steps to reproduce the problem
1. `cider-scratch`
2. `cider-refresh`

## Environment & Version information
Clojure 1.9.0-alpha14

### CI

[2016-11-15 01:36] cemerick commented on #1876
Makes sense to me, especially given high DPI screens, etc.

[2016-11-17 13:42] dpsutton commented on #1879
@freckletonj
can you post some messages for me? When I'm using the refresh buffer, it seems to be in the namespace of my repl, which means my namespace is found.

[code]

This is the message going back and forth into nrepl. Here you can see its from *cider-scratch* and I'm evaluating `(+ 1 1)`. Is it possible that you can turn nrepl message logging on with `M-x nrepl-toggle-message-logging`? Then

[2016-11-19 20:37] ieure opened #1881 "Error starting CLJS REPL with Boot project"
## Expected behavior

I should get a working CLJS REPL when I run `cider-jack-in-clojurescript`.

## Actual behavior

I get this stack trace:

[code]

The REPL itself seems to sort of work, but any CIDER commands fail with a fresh exception.

## Steps to reproduce the problem

1. Run `boot -d seancorfield/boot-new new -t hoplon -n address-book`
2. Open the one CLJS file in the template project:`C-

[2016-11-22 16:30] dpsutton opened #1882 "Cider removed `cider-compat.el` which appears to have removed support for emacs 24.x not 24.3"
## Expected behavior
CIDER should be able to jack in

## Actual behavior

`cider-add-to-alist: Invalid function: (cons (assoc car alist))` is the error message.

This can be seen from the build logs

https://api.travis-ci.org/jobs/177236922/log.txt?deansi=true

[code]

I believe that `cider-compat.el` was removed and `subr-x.el` was included thinking this included `if-let`. However, while `subr-x.

[2016-11-22 22:51] tommy-mor commented on #1882
getting this problem as well, on v 24.5

[2016-11-23 17:39] bbatsov commented on #1882
Ops, guess I forgot those macros were added later. I guess by Emacs 26 your actually mean 25. :-)

[2016-11-23 18:07] tommy-mor commented on #1882
I installed emacs from github using the --HEAD flag in homrbrew, and when I ckeck the version it says v 26. I guess that makes me somewhere in between

[2016-11-23 19:20] Kejia commented on #327
why cannot i use _cider-jack-in-with-profile_ now?

[2016-11-25 10:55] #1882 closed

[2016-11-28 23:56] mdmclure opened #1884 "er-repl-type"
*Use the template below when reporting bugs. Please, make sure that
you're running the latest stable CIDER and that the problem you're reporting
hasn't been reported (and potentially fixed) already.*

*When requesting new features or improvements to existing features you can
discard the template completely. Just make sure to make a good case for your
request.*

**Remove all of the placeholder text

[2016-11-29 04:28] dpsutton commented on #1884
@mdmclure I'm not sure you've put any information in the issue at all. Can you explain your issue?

[2016-11-29 19:34] mdmclure commented on #1884
Whoa, I don't know when or how I did this.  Rogue button click?  Sorry.

[2016-11-29 19:34] #1884 closed

[2016-12-01 10:10] abhigogna opened #1885 "[nREPL] Direct connection failed"
Cider errors out and throws Direct connection failed.
Its been working fine but recently started throwing this error.
I downloaded Emacs 25.1.1 from emacs for mac (https://emacsformacosx.com/)

## Expected behavior
Run cider

## Actual behavior
This is from emacs-toggle-debugger
Debugger entered--Lisp error: (error "[nREPL] Direct connection failed")
  signal(error ("[nREPL] Direct connection fail

[2016-12-01 16:14] dpsutton commented on #1885
@abhigogna I've got a couple questions for you if you can help me understand.

1) Is this a boot or lein project?
2) Can you run the project from the command line without CIDER, ie, lein run or boot <task> or whatever
3) When you say you have to restart to make it work, does that means that you get this error *sometimes* but not always, and when you get the error, you can restart the machine and y

[2016-12-01 23:18] dpsutton commented on #1881
Ok. So I'm looking into this.

    (cider-nrepl-send-request
     (list "op" "eval"
           "ns" (cider-current-ns)
           "session" nrepl-session
           "code" cider-cljs-lein-repl)
     (cider-repl-handler (current-buffer)))

This is the code in the callback function that begins the clojurescript repl. It gets the var `cider-cljs-lein-repl` var from the assoc list, but already the var

[2016-12-01 23:20] dpsutton commented on #1881
If boot tasks can be counted on to always have a task called dev, we could determine that we are in a boot project and launch the dev task. Otherwise, if these tasks are arbitrarily named, I'm not sure how we could reliably launch anything with boot.

[2016-12-01 23:31] dpsutton commented on #1881
And there's this from [a boot library](https://github.com/adzerk-oss/boot-cljs-repl#the-cljs-repl-env-task)

The cljs-repl-env task

There is a cljs-repl-env task that doesn't start a new nREPL server which you can use via cider-jack-in. An example is shown below.

[code]
[code]

and I'm not totally sure how to interpret that

[2016-12-02 13:13] abhigogna commented on #1885
I think I have found the problem. I have a tunneling software, Appgate on my computer, and it was running while I was trying to connect. Sometimes appgates stop working and its child nodes need to be killed. It was running while I was trying to connect to the nRepl through cider. After I killed it, everything started working again.

So, I guess this is not a cider/emacs issue. Thanks for you quick

[2016-12-02 15:30] dpsutton commented on #1885
@abhigogna glad it got resolved for you. do you mind marking this issue resolved then?

[2016-12-02 18:57] #1885 closed

[2016-12-02 18:57] abhigogna commented on #1885
Cider working as expected.

[2016-12-02 19:58] dpsutton commented on #1879
@freckletonj did you happen to have a chance to give a minimum example that can demonstrate this issue? I'm having trouble recreating it.

[2016-12-02 20:55] freckletonj commented on #1879
I apologize for not getting back to you!

I just tried it again, and while I don't get the same error, there is an unusual behavior for a boot project, and not a lein project.

If I, ex, `(def a "hi")` within a `cider-scratch`, then delete it, and then `cider-refresh`, from a lein-based environment, refreshing now works as expected, complteley, and `a` cannot be found anymore, as expected. I can n

[2016-12-02 21:23] dpsutton commented on #1875
So the code goes through `cider-map-connections` twice. The first time it knows it is supposed to work on `:both` buffers. And `current-buffer` is the source file so it allows it. However, point moves to the repl and so when it goes through this call again, `current-buffer` is no longer a buffer deriving from clojurec-mode or clojurex-mode, and therefore it drops `:both` for `:any`.

[2016-12-06 17:05] arnm opened #1886 "Attempting to call unbound fn: #’cider.nrepl.middleware.debug/debug-reader"
## Expected behavior
Should be able to start REPL in with debug statements

## Actual behavior
`cider-jack-in` produces the following

[code]

## Steps to reproduce the problem
- Spacemacs 0.200.5 installed with `clojure` layer
- place `#dbg` in clojure code
- `cider-jack-in`

## Environment & Version information

### CIDER version information

[code]

### Lein/Boot version

Lein 2.7.1

### Emacs

[2016-12-07 13:55] dpsutton commented on #1886
I hate to say "works for me" but I cannot reproduce this. Do you by any chance have a lein profile or anything like that that could leave an old version of nrepl working or anything?

[2016-12-07 13:59] dpsutton commented on #1886
@arnm  If you remove the `#dbg` statement, can you jack in, and does the banner say the nrepl is working? Can you debug forms by instrumenting them with `C-u C-M-x`?

[2016-12-07 14:08] dpsutton commented on #1876
I think this can be closed now.

[2016-12-08 01:58] #1876 closed

[2016-12-08 02:02] Malabarba commented on #1886
Like @dpsutton said, try starting without the debug statement, and then debugging the code once you're connected.

I don't know where you're inserting that #dbg, but it looks like the code is getting executed before cider is even loaded, which make it impossible for cider to debug it.

[2016-12-08 02:06] Malabarba commented on #1875
OK. It definitely shouldn't go through the function the second time. I guess we need to rethink the code flow here a bit.

[2016-12-08 02:12] Malabarba commented on #1879
Well, that's a first for me. 😮

[2016-12-08 02:30] Malabarba commented on #1881
I had a scheme that worked for this (with boot) back when I did a bit of cljs. I used the same library you're using. I'll try to dig it up.

As for trying to be smart, the best we can do is have a separate variable for boot and let the user decide what code gets run. Cljs repls are way too numerous (and quite a bit of manual) for us to provide a catch all solution. That's why we wrote that origina

[2016-12-08 10:58] owickstrom commented on #1841
I have also run in to this problem with cider and the Emacs plugin. With `:monkeypatch-clojure-test false` the tests run properly with `lein test`, but all variations of test runs inside Emacs with Cider fails for `check`-based tests.

[2016-12-08 15:49] sebastianpoeplau commented on #1841
@owickstrom I don't know if there are plans to fix the issue, but you can almost certainly keep using Emacs if you just explicitly require some `test.check` namespace before using one of spec's test functions.

[2016-12-08 16:08] owickstrom commented on #1841
@sebastianpoeplau OK, I'll try that, thanks!

[2016-12-09 02:51] sooheon opened #1887 "How to rewrite call to nrepl-send-string-sync to use new api"
This is not a bug but a question:

The slam hound package uses the old api of nrepl-send-string-sync [here](https://github.com/technomancy/slamhound/blob/master/slamhound.el#L60) How should this be updated to call the new api?

[2016-12-09 03:37] ftravers commented on #1699
Having same issue with om.next/denormalize* :)

[2016-12-09 13:14] fgiasson commented on #1699
@ftravers I am not sure if @Malabarba did improve the situation with the latest version, but it happens less often now. The only work around you have when this happens is to refactor your code to create multiple functions (it is these functions that you debug) which may not be a bad thing. But if it doesn't make sense, then you do it anyway just for debugging purposes and revert the changes after.

[2016-12-09 17:31] yenda commented on #1841
@sebastianpoeplau I had this error too and requiring [clojure.test.check] in my test namespace got rid of it.

[2016-12-09 22:36] p-adams commented on #736
I am also getting the same error.

[2016-12-10 10:40] bbatsov commented on #1860
@johnv02139 ping :-)

[2016-12-12 01:50] johnv02139 commented on #1860
I took a first pass at it, in case you (or anyone else) want to take a look.  It needs more testing.

https://github.com/johnv02139/cider/tree/historycmd

[2016-12-12 10:28] sebastianpoeplau commented on #1841
@yenda glad to hear that it helped!

It seems that more people are affected by this than suggested by [TCHECK-113](http://dev.clojure.org/jira/browse/TCHECK-113). Maybe Cider should try to wrap `clojure.test/report` in a multi-fn, as described above.

[2016-12-12 11:56] deadghost commented on #1761
I also hit this issue after doing an uberjar. `lein clean` fixed it.

CIDER 0.12.0 (Seattle), nREPL 0.2.12
Clojure 1.8.0, Java 1.8.0_111
Lein 2.7.1
Emacs 24.5.1
Ubuntu 14.04

[2016-12-12 13:40] expez commented on #1761
Glad we got to the bottom of this!

[2016-12-12 13:40] #1761 closed

[2016-12-13 08:32] bbatsov opened #1889 "Dynamic font-locking is broken"
I've recently noticed this regression while I was doing a CIDER demo at a conference.

## Expected behavior

Identifiers are font-locked dynamically when some bit of code is evaluated.

## Actual behavior

Nothing really changes.

## Steps to reproduce the problem

Just evaluate any Clojure namespace.

## Environment & Version information

### CIDER version information

[code]

### Emacs version

[2016-12-13 08:34] bbatsov commented on #1887
You should use `cider-nrepl-sync-request:eval`.

[2016-12-16 22:06] xiongtx opened #1890 "Ignore next form breaks with keyword namespace alias"
## Expected behavior

Evaluating the following code with `cider-eval-buffer` should be a no-op.

[code]

This is true of the following:

[code]

## Actual behavior

The following exception is thrown:

[code]

No exception is thrown when evaluating from `lein repl`.

## Steps to reproduce the problem

1. Create a new project with `lein new`
2. Start CIDER.
2. In `core.clj`, add the problematic form

[2016-12-17 05:39] stardiviner opened #1891 "specify clojure version does not work for CIDER"
**Remove all of the placeholder text in your final report!**

## Expected behavior

I set options:

[code]

Hope CIDER will use Clojure version 1.9.0.

## Actual behavior

I check out clojure version with `(clojure-version)`, it still is `1.8.0`.

## Steps to reproduce the problem

I use minimal Emacs config with `emacs -q -l minimal-init.el`.
Here is my `minimal-init.el`:

[code]

## Environment

[2016-12-18 09:28] bbatsov commented on #1891
@benedekfazekas Can you take a look at this?

[2016-12-18 09:29] bbatsov commented on #1887
I'll close this ticket now - feel free to reopen it if you have more questions. Guess `slamhound.el` can be updated a bit more in general, although all updates should be trivial. To my knowledge all of its important functionality is now in `clj-refactor.el` - @benedekfazekas and @expez can confirm this.

[2016-12-18 09:29] #1887 closed

[2016-12-18 09:30] bbatsov commented on #1889
@Malabarba any idea what might be causing this? I don't think we've done any changes to the related logic in quite a while.

[2016-12-18 09:32] bbatsov commented on #1881
I think @Malabarba is right - probably we need a `boot-cljs-repl` variable as well. @dpsutton if you'd like you can implement this - should be pretty straightforward.

[2016-12-18 10:48] expez commented on #1891
@stardiviner Please read the docstring for these variables, you're using every one of them in the wrong manner.

To get the result you want, reset these variables to their default and put the right clojure version in `project.clj`.

[2016-12-18 10:48] #1891 closed

[2016-12-18 13:18] bbatsov commented on #1891
@expez Are you sure about this?

[code]

[2016-12-18 13:40] expez commented on #1891
Sorry, I was a bit hasty myself.  The first variable is used correctly, to override the version in `project.clj`, but the other two variables or not.

The minimum clojure version is updated by us to indicate what we require and we use that to produce warnings / disable middleware.

The latest clojure version variable is also updated by us, to indicate what we've tested against.

You can see in the

[2016-12-18 13:52] expez commented on #1891
I tested this on a fresh project created by `lein new test` just to be sure.

`core.clj` and did:

`(setq-local cider-jack-in-auto-inject-clojure "1.9.0-alpha12")` and then `cider-jack-in`

### project.clj

[code]

### REPL output
[code]

[2016-12-19 02:31] stardiviner commented on #1891
@expez with your steps, I tested ok. Thanks. I will find it out why my previous steps are wrong.

[2016-12-19 05:26] mattdeboard commented on #1843
So I just upgraded all my emacs packages on an older laptop, and when I tried to `cider-jack-in` to a new project, I got the error in the initial bug report.

For me, all I had to do was:

1. `M-x package-list`
2. Find `spinner` in the buffer, then tap `d` on that line, then `x` to uninstall that package.
3. `M-x package-install RET spinner RET`

Then `cider-jack-in` worked.

However, since there

[2016-12-19 06:33] stardiviner commented on #1891
@expez I found specifying Clojure version for CIDER with variable `cider-jack-in-auto-inject-clojure "1.9.0-alpha12"`, but it still failed, when I start CIDER without in project.
The `*Messages*` buffer shows command `cider-jackin` does start command with my specified clojure version, here is the output:

[code]

But `(clojure-version)` still shows `1.8.0`. That's weird.

[2016-12-19 06:48] bbatsov commented on #1843
@mattdeboard this package is on ELPA - the official Emacs package repository that's enabled by default for every Emacs installation.

[2016-12-19 07:00] mattdeboard commented on #1843
Alright.

[2016-12-19 07:06] expez commented on #1891
Doesn't work when you're not in a project.

[2016-12-19 07:11] bbatsov commented on #1891
I think this was some leiningen bug. @benedekfazekas should know more.

[2016-12-19 07:51] expez commented on #1891
`update-in` affords updates to the project map, so I guess an argument can be made that outside a project updates should be made to the default project map.

[2016-12-19 13:36] dpsutton commented on #1881
I'm not sure that I really like the variables. With the current one for lein, I've run into issues. For instance, I set it to the one I most often use. I clone a project which uses a different repl type. My interaction isn't seamless. I try to use a directory local var but don't really know them that well.

I like when it works smoothly but it seems to commit you to a certain type of repl for all

[2016-12-19 13:43] dpsutton commented on #1875
Ok, I think I've gotten to the bottom of the issue. The problem is that the session for cljs is being marked as clj type, as @leppert mentioned earlier. The issue (I think) is that when you load the buffer, it doesn't fully respect the connection that its given:

    (defun cider-request:load-file (file-contents file-path file-name &optional connection callback)
      "Perform the nREPL \"load-fil

[2016-12-19 15:13] #1872 closed

[2016-12-20 13:06] expez opened #1893 "Add negative prefix to cider-refresh for refresh only"
Most of the time I want `cider-refresh` to call `cider-refresh-before-fn` and `cider-refresh-after-fn` but sometimes I only want the refresh.  I've been using advice to add a negative arity branch to `cider-refresh` and it's pretty nice.

P.S. I've never been in a situation where I wanted to run `before-fn` or `after-fn` only so this won't lead to an explosion in hard to remember prefixes.

[2016-12-20 13:34] bbatsov commented on #1893
Sounds reasonable to me.

[2016-12-20 13:52] dpsutton commented on #1893
Well, those functions are clojure code written as strings in elisp. Seems like they won't be too general across all projects. Does it make sense to have the prefix argument invoke the refresh functions and the default refresh behavior not call them? Would you prefer to prefix invoke the refresh functions or prefix escape them, I guess.

[2016-12-20 14:34] expez commented on #1893
No, cider just expects a name, .e.g `user/stop` and `user/start`.

Not sure why that matters, I want them to not be called when I give negative prefix.  In any event, even though the name is the same, what `user/start` or `user/cider-refresh-before` does in each project can be different.

We already have a prefix and a double prefix behavior, which we can't change without upsetting other people.

[2016-12-21 13:52] dpsutton commented on #1893
I hadn't thought of their use like that, expez. The examples that I've seen have been defn forms written out. I like the way you use it. Thanks for explaining that.

And I missed that they already had prefix and double prefix. I thought there was only an invocation and the prefix option was blank. I'll get on this.

[2016-12-21 16:32] sabjohnso commented on #736
I am experiencing the same problem under certain conditions: `read-line` reads input correctly from input until I use `C-c C-c` to abort evaluation of `read-line`.  Following that, `read-line` behaves as reported by luxbock.

---version info---
emacs 24.5.1
CIDER 0.15.0snapshot (package: 20161201.757), nREPL 0.2.12
Clojure 1.8.0, Java 1.8.0_112

[2016-12-22 03:53] bostonaholic opened #1895 "Restarting a repl does not connect to same port"
## Expected behavior

`cider-restart` should connect to the same `host:port` as when I used `cider-connect`.

1. `cider-connect` to connect to a repl running on `localhost:6005`.
2. Then call `cider-restart`.
3. The new repl should connect to `localhost:6005` as before.

## Actual behavior

`cider-restart` seems to use `cider-jack-in` instead, and does not connect to the repl running on `localhost

[2016-12-22 08:32] sound2gd opened #1896 "java class output doesn't show in cider-repl buffer"
## Expected behavior
print the `something` and `nil`
## Actual behavior
print the `nil`,`something` is gone
## Steps to reproduce the problem

[code]

## Environment & Version information

### CIDER version information
[code]

### Lein/Boot version

Leiningen 2.7.1 on Java 1.8.0_101 Java HotSpot(TM) 64-Bit Server VM

### Emacs version

25.1.1

### Operating system

Mac OS X Sierra

[2016-12-22 14:33] dpsutton commented on #1875
This can be closed now as well.

[2016-12-22 14:50] #1875 closed

[2016-12-22 18:23] raxod502 opened #1897 "TAB doesn't work in stacktrace-mode"
tl;dr `<tab>` bound but not `TAB` in stacktrace buffers.

Here are the keybindings in `stacktrace-mode` according to `C-h m`:

[code]

As you can see, `<tab>` is bound but `TAB` is not. This has the consequence that `cider-stacktrace-cycle-current-cause` can't be triggered in the terminal, since `TAB` is sent instead of `<tab>`.

This should be a pretty simple fix (just bind `TAB` in addition to `

[2016-12-24 10:45] bbatsov commented on #1895
This should be easy to implement. I wonder why no one noticed it for so long. :-)

[2016-12-24 17:25] #1897 closed

[2016-12-24 19:24] xiongtx commented on #1895
Should we change `cider-jack-in` to read the `.nrepl-port` file? Or use a different command?

[2016-12-24 19:50] bbatsov commented on #1895
Not sure how this is related. We simply need to remember the old connection port prior to restarting the REPL (this should do `jack-in` at all but simply do `cider-connect` again).

[2016-12-24 23:45] xiongtx commented on #1895
[`cider-restart`](https://github.com/clojure-emacs/cider/blob/master/cider-interaction.el#L1747) calls [`cider--restart-connection`](https://github.com/clojure-emacs/cider/blob/master/cider-interaction.el#L1732), which calls [`cider-jack-in`](https://github.com/clojure-emacs/cider/blob/master/cider.el#L501).

[2016-12-25 01:48] gavinmbell commented on #1887
Can someone post the patch?

[2016-12-25 08:28] bbatsov commented on #1887
Which patch? For `slamhound.el`?

[2016-12-25 08:31] bbatsov commented on #1895
I'm aware of this. :-) But the actually fix would involve tagging connections with some marker denoting how they were created (using jack-in or connect) and in the case of the latter just re-invoking `cider-connect` for the appropriate host/port. That's why I was curious how `cider-jack-in` plays into this ticket.

[2016-12-25 12:52] alexander-yakushev commented on #1717
So today I grabbed a profiler and did some investigation. I profiled launching the REPL with boot, using the command:

    boot cider repl -s

(`cider` is a Boot task that applies CIDER dependency and middleware).

Turned out there are a few offending middlewares:

- `format` — accounts for ~30% of CIDER loading time. Transitively the main hog that taking the most time to load is `clj-rewrite` dep

[2016-12-25 13:12] expez commented on #1717
Would removing the require statements in the `ns` form, in favor of on-demand calls to `require`, solve this or is this related to work done eagerly to every lib on the classpath?

[2016-12-25 13:29] bbatsov commented on #1717
Hmm, format is a bit of functionality that's not important at all. Probably we should spin it off to some separate middleware or something like this if it causes such a performance hit.

[2016-12-25 13:40] alexander-yakushev commented on #1717
I would suggest someone else to experiment with it too. Profiler could be lying. On my machine, dropping `format` from the list of middleware semi-consistently saves 2-3 seconds (from ~16 seconds to ~13 seconds, this is without refactor-nrepl).

[2016-12-25 20:10] arichiardi commented on #1717
@alexander-yakushev good job! This is exactly the kind of thing we need to figure out, I will try to confirm your findings.

[2016-12-26 15:56] dpsutton commented on #1893
So I've got the patch ready, I'm just wondering about a convention:
[code]

This is `cider-refresh` which takes an argument. You can see that it also takes some keywords. I can't find where these are invoked though. I'll add a keyword here but does anyone know where these keywords are used?

[2016-12-26 23:30] randre03 opened #1900 "Running `cider-eval-last-sexp` emacs reports the following error: Symbol's value as variable is void: hi"
## Expected behavior
Evaluate the sexp

## Actual behavior
emacs reports the following error: `Symbol's value as variable is void: hi`

## Steps to reproduce the problem
Position the cursor at the end of the desired sexp to be evaluated and press C-x C-e (or M-x cider-eval-last-sexp)

## Environment & Version information

### CIDER version information
[code]

### Emacs version
Emacs version: GNU E

[2016-12-26 23:52] xiongtx commented on #1900
What sexp are you evaluating?

[2016-12-27 01:21] randre03 commented on #1900
No matter what sexp I try to evaluate I get this error..namespaces, defs, defns, etc

[2016-12-27 01:28] dpsutton commented on #1900
I think I've seen this bug pop up before. It should be fixed by removing
and installing CIDER. However, you post a full stack trace? I've seen this
pop up every now and then (I think) and I'd like to know how it happens

On Dec 26, 2016 7:21 PM, "Roger Randall" <notifications@github.com> wrote:

No matter what sexp I try to evaluate I get this error..namespaces, defs,
defns, etc

—
You are receivi

[2016-12-27 02:02] randre03 commented on #1900
Thanks. Deleting and re-installing did the trick. If I recall correctly, when I installed it the first time around (using paradox) after selecting "Install" in the buffer the buffer updated and indicated there was an obsolete version of cider to install and I think I clicked to install that as well. This could easily have caused the problem I think.

[2016-12-27 02:02] #1900 closed

[2016-12-27 05:48] dpsutton commented on #1890
I am able to recreate this in just plain `lein repl`.
![lein_repl](https://cloud.githubusercontent.com/assets/6377293/21491897/8f48072a-cbc5-11e6-946b-dd8123d8c284.png)

If I'm not mistaken, the difference in #_ reader and comments is that the #_ syntax must be valid. In 1.8, this appears to not be valid. I'm not sure that there is a bug here?

[2016-12-27 05:59] viebel opened #1901 "Feature request: integration with `clojure.spec`"
It would be super cool to provide an integration of `cider` with `clojure.spec`

For instance a cider command that calls `spec/exercise` on the form preceding point or `spec/exercise-fn` on the function name preceding point.

And maybe other spec functions.

What do you think?

[2016-12-27 06:06] johngit22 commented on #1901
Very Nicely Stated

[2016-12-27 08:16] bbatsov commented on #1901
Yeah, that'd be nice for sure. I haven't played with `clojure.spec` at all by this point - was waiting for a final release of Clojure 1.9 before looking into it. If someone has good ideas about spec-related functionality at this point - you're welcome to start working on it. //cc @dpsutton @cskksc

[2016-12-27 08:18] bbatsov commented on #1893
Fixed by #1899.

[2016-12-27 08:22] #1893 closed

[2016-12-27 09:29] xiongtx commented on #1890
The image you linked to does not show the use of `#_` syntax. Am I missing something?

[2016-12-27 15:10] dpsutton commented on #1901
I can start looking into it, but I haven't touched spec yet at all. I'm surprised at how much production software seems to be running on beta versions of Clojure. I've been waiting for them to release 1.9 officially.

[2016-12-27 15:13] dpsutton commented on #1890
You are right! I thought I had run it with the ignore next form syntax but it was in CIDER that I had run it. I'm starting to look into it. My current suspicion is its in bencode or something but there's no telling.  I'm suspecting that we use `:` as a separator of byte length from string and the double `:` is confusing a decoding step. But that is not really based on anything and just my first av

[2016-12-27 15:41] viebel commented on #1901
@dpsutton let me know if you need help with spec.

BTW, I wrote a [tutorial](http://blog.klipse.tech/clojure/2016/05/30/spec.html) of `clojure.spec` with interactive code snippets powered by [KLIPSE](https://github.com/viebel/klipse).

[2016-12-27 17:32] bbatsov commented on #1901
You and me both. :-)

[2016-12-27 20:46] staifa opened #1902 "luate"
*Use the template below when reporting bugs. Please, make sure that
you're running the latest stable CIDER and that the problem you're reporting
hasn't been reported (and potentially fixed) already.*

*When requesting new features or improvements to existing features you can
discard the template completely. Just make sure to make a good case for your
request.*

**Remove all of the placeholder text

[2016-12-27 20:47] dpsutton commented on #1902
@staifa As far as I can tell there is no information in this bug report. Can you close this one and create a new one with your issue?

[2016-12-28 05:47] dpsutton commented on #1890
I really can't figure out what's going on. Doesn't seem to be any rhyme or reason to it:
![screenshot from 2016-12-27 23-45-56](https://cloud.githubusercontent.com/assets/6377293/21514797/b849907a-cc8e-11e6-8b1b-1cca6798d331.png)

[2016-12-28 14:34] #1902 closed

[2016-12-28 15:29] bbatsov commented on #1881
Well, that's the Emacs way - you come up with some sensible defaults and use dir-local variables for projects that don't adhere to the defaults. I definitely don't want us to start inspecting the project files to figure out what would be the best way to start a cljs repl.

[2016-12-28 15:54] xiongtx commented on #1890
Regular `lein repl` throws an exception with `#_ (defn foo [x] blah ::)`:

[code]

and `#_ (defn foo ^)`:

[code]

I think the takeaway here is that the form after `#_` needs to be a "valid" form in the sense that variables obey naming constraints (e.g. `$` is OK in name but `^` is not, `::foo` is OK but `::` is not). After all, the reader needs to read it so it can where the form begins/ends.

[2016-12-28 16:10] xiongtx commented on #1890
Surprisingly, **the behavior of CIDER seems to be that of regular Clojure REPL, but not Lein repl**.

### Clojure REPL

[code]

### CIDER REPL

[code]

### Lein repl

[code]

So either the Lein REPL uses a different reader, or it swallows the exception that's throw with `#_ ::foo/bar`.

[2016-12-28 16:35] dpsutton commented on #1890
The specs from http://clojure.org/reference/reader state

I was looking at lein to see if they ignore those things and don't even send them to tools.nrepl. As far as I can tell, we aren't getting a bug in any of the cider-nrepl middleware but in the reader. So this is either a) intended behavior or b) a bug in tools.nrepl. But I kinda can't get a straight answer on if this _should_ be a bug or not

[2016-12-28 16:36] dpsutton commented on #1890
@xiongtx from the clojure repl, do you get an error on the ignore next form version? ie, `#_ (defn foo [x] ::foo/bar)`

[2016-12-28 16:51] dpsutton commented on #1890
The CIDER repl doesn't do anything really. It bencodes the code and sends it off to Clojure. I was looking to see if the encoding was incorrect but it seems correct. That's why my suspicion is that lein repl is ignoring things on its own and not even showing it to the reader. But per conversations on slack,

[code]
So it seems like it should be possible to throw an error in read even if we get not

[2016-12-28 17:50] xiongtx commented on #1890
Yes, I do.

[code]

[2016-12-28 17:52] dpsutton commented on #1890
So i suppose CIDER does the correct thing then?

[2016-12-28 17:54] xiongtx commented on #1890
We could say that, but I wonder what's the *intended* behavior--*should* `#_` throw an error when encountering undefined keywords or not?

[2016-12-28 17:56] dpsutton commented on #1890
My thinking is that if this is a bug, its a bug in Clojure, either tools.nrepl or the reader itself. I wouldn't want to add a bug fix for something in Clojure and then remove it when their bug is fixed, if this is indeed a bug. I think CIDER's goal should be to faithfully send your stuff to clojure, which it is doing here. If that is an error, then that is invalid Clojure code, from my view. I wou

[2016-12-28 19:35] xiongtx commented on #1890
Sounds reasonable.

[2016-12-28 19:35] #1890 closed

[2016-12-28 20:56] abcdw commented on #327
I'm not sure, but maybe developers thinks that `cider-lein-parametrs` variable is enought for such task.

http://stackoverflow.com/questions/18304271/how-do-i-choose-switch-leiningen-profiles-with-emacs-nrepl

[2016-12-29 08:52] bbatsov commented on #327
Exactly.

[2016-12-29 23:24] bhagany commented on #1896
This is pretty much the same issue as #1588.  I have a proof-of-concept fix here: https://github.com/bhagany/cider-nrepl/tree/repl-err.  Hopefully soon to be a PR.

[2016-12-29 23:26] bhagany commented on #1588
This is closely related to #1896.  I have a proof-of-concept fix here: https://github.com/bhagany/cider-nrepl/tree/repl-err.  Hopefully it will soon be a PR.  I'm currently stuck on the fact that the printed output gets printed before the prompt that causes it - that is, the prompt moves down and the output prints above it.  If anyone has a solution to that, please let me know.

[2016-12-29 23:27] bhagany commented on #1896
Also, I'm currently stuck on the fact that the printed output gets printed before the prompt that causes it - that is, the prompt moves down and the output prints above it. If anyone has a solution to that, please let me know.

[2017-01-02 17:33] #1588 closed

[2017-01-02 18:55] bhagany commented on #1896
This is fixed with #387

[2017-01-02 19:06] #1896 closed

[2017-01-02 20:55] bhagany commented on #1598
This is fixed in #387

[2017-01-02 20:58] bhagany commented on #1404
Also fixed in #387

[2017-01-02 21:45] #1598 closed

[2017-01-02 21:45] #1404 closed

[2017-01-02 21:47] #1835 closed

[2017-01-03 11:31] paomian opened #1904 "cider-refresh always reloading"
## cider-refresh always reloading

Not response `Reloading success!`,when i typed `C-c C-x` ,nothing happens.and The namespace is not refresh too.

## Steps to reproduce the problem

always occur in my project

## Environment & Version information

### CIDER version information

[code]

### Lein/Boot version

Leiningen 2.6.1 on Java 1.8.0_91 Java HotSpot(TM) 64-Bit Server VM

### Emacs version

GN

[2017-01-03 11:48] paomian commented on #1904
it's my network is not well,fix it yet

[2017-01-03 11:48] #1904 closed

[2017-01-03 13:04] dpsutton commented on #1889
I'm reading into this issue and learning about font-locking in emacs. Can you post a screenshot of your example? Everything looks pretty good to me, but I think i'm seeing mainly static font locking mostly instead of the dynamic stuff.

[2017-01-03 13:27] bbatsov commented on #1889
@dpsutton See my slide deck here - https://speakerdeck.com/bbatsov/cider-inside-the-brewery (The section about 0.10 features).

[2017-01-03 13:45] dpsutton commented on #1889
So this is the function that does most of the work in `cider-mode.el`:

[code]

And as far as I can tell, the `cider-resolve-core-ns` comes back with "clojure.core" but the cider-resolve-ns-symbols returns nil and then everything "nils" out from there. And the setq local binds nil so nothing happens from there. But it seems that `cider--compile-font-lock-keywords` can handle nil in this position f

[2017-01-03 13:57] dpsutton commented on #1889
And this is certainly bad:

[code]

[2017-01-03 14:16] bbatsov commented on #1889
I'm not really familiar with this code, as @Malabarba wrote it and was maintaining it. I've been super busy lately, just noticed the functionality stopped working, which means we broke it by accident recently and opened the ticket hoping someone would have time investigate.

But yeah, this certainly looks bad...

[2017-01-03 20:36] bbatsov commented on #1860
Take your time and keep us posted. Just wanted to see if you were still working on this.

[2017-01-04 09:32] expez commented on #1860
Wouldn't it be much easier (and better from a usability perspective) to just emulate the behavior of <kbd>C-r</kbd> and <kbd>C-s</kbd> of the typical shell?

[2017-01-04 09:41] bbatsov commented on #1860
It's not as handy in some occasions. That's why similar extensions exist. In general it'd be nice to implement `C-r` and `C-s`, but given the fact that no one wants to work on this and I have very little time for OSS lately I don't see it happening soon. :-)

[2017-01-04 09:42] bbatsov commented on #1860
P.S. For a long time I believed we'd be moving to `comint` and this would come for free, that's why I just ignored all tasks to improve the REPL.

[2017-01-04 09:43] #1895 closed

[2017-01-04 13:33] dpsutton commented on #1889
Ok, so I'm starting to think that this is actually working. You can see that it is so here:
Before jacking in:
![before_jack_in](https://cloud.githubusercontent.com/assets/6377293/21643692/6258a09a-d24f-11e6-9a05-b9b5d34cb75b.png)

and after jacking in:
![after_jack_in](https://cloud.githubusercontent.com/assets/6377293/21643752/b5b7cd10-d24f-11e6-8b45-f1169357e156.png)

The function `fizzbuzz` is

[2017-01-04 14:29] dpsutton commented on #1889
haha yeah. I just meant to point out that the mechanism is fine, we are just missing information. this info gets added in cider-nrepl so i'm looking through clojure code to find out why that's missing

[2017-01-04 16:02] cskksc commented on #1860
@bbatsov I'd be willing to try working on the `comint` migration. Could you please give me an overall idea of what we need to do? Or point to some other discussion or ticket? Is there any reason why we're not moving to `comint`, or is it just because we've not started any work on it. Otherwise, I was planning give #1560 and #1099 a try. Thoughts ?

[2017-01-04 16:33] bbatsov commented on #1860
For a very long time this was on hold simply because no one had time to work on it. See the original issue here https://github.com/clojure-emacs/cider/issues/709 Frankly, I'm not 100% certain that we can have all the functionality we have right now using `comint` (but I guess it's doable, if this works for sly). Perhaps just adding bits of `comint` functionality to our REPL is the way to go - it's

[2017-01-04 16:35] bbatsov commented on #1860
P.S. I was in your original message the tickets you referred to - #1099 is super important for sure. https://github.com/clojure-emacs/cider/issues/1525 is also pretty important now, that we finally fixed the issue with some of the output ending up in `*nrepl-server*`.

[2017-01-04 16:56] expez commented on #1860
Isn't part of the motivation behind the `comint` move that it would solve some of our performance issues as well?

[2017-01-04 21:28] bbatsov commented on #1860
I don't recall some amazing output handling in coming, but I guess it'd be faster. We never tried to optimized our REPL that much. If someone is determined enough and spent a few days with the profiler there's probably a lot of room for improvement. :-)

For me the biggest motivation was removing a big chunk of the codebase and offloading it to some standard machinery, so we wouldn't have to worry

[2017-01-04 21:30] #1776 closed

[2017-01-04 21:59] #1862 closed

[2017-01-04 22:01] bbatsov commented on #1889
Great! Hopefully you'll manage to sort this out.

[2017-01-05 06:45] bbatsov commented on #1850
@xiongtx Ping :-)

[2017-01-05 13:02] dpsutton commented on #1889
So in cider-nrepl, we have the following line that should add clojure.core to the ns-cache:

`(calculate-changed-ns-map (or old-data {'clojure.core clojure-core-map}))`

While its tough to debug middleware, just adding `println`'s, I'm seeing that old-data is never empty now, and begins life as

[code]

I'm wondering where this assumption changed? Has the loading of `user` happened earlier in the

[2017-01-05 20:35] alexander-yakushev opened #1909 "Fuzzy completion woes"
So, I've been using company together with company-quickhelp for a while now. For the most part, I'm pretty content with how everything works, except for fuzzy completion. I've tried the `company-flx` route as described in the docs, but it doesn't solve the problem:

- `company-flx` works by polling the backend with empty prefix (`""`) and then performing the filtration on the client-side. This doe

[2017-01-05 22:52] expez commented on #1909
@dgutov, do you have any suggestions?  I doubt @alexander-yakushev is the only person missing fuzzy completions.

Since dealing with fuzzyiness from emacs appears to be bad from a performance standoint, perhaps we can send a message like `{:prefix "foo" :fuzzy true}` to the backend and only rely on company to display the results?

[2017-01-06 01:48] johnv02139 commented on #1860
Regarding "C-r and C-s of the typical shell", isn't that what M-r and M-s already give you in Cider?

I think the work on the browse feature is done.  The only reason I haven't made a pull request is that I need to write documentation.

[2017-01-06 09:32] bbatsov commented on #1909
Guess you've seen this ticket https://github.com/company-mode/company-mode/issues/47, right?

[2017-01-06 10:11] alexander-yakushev commented on #1909
@bbatsov Sure did. Dmitriy reasonably says that company is limited by Emacs' own completion mechanism (`all-completions` function as I discovered). It would be difficult and unwise for him to start reinventing it. `company-flx` is then claimed to be the solution, but it works poorly for us for the reasons I outlined above.

Once again, we don't really need neither company, nor company-flx, to deal

[2017-01-06 10:23] bbatsov commented on #1909
I we can just add a simple company-backend that would take precedence over company-capf. Users will have to enable it manually, but that's not a big deal.

[2017-01-06 12:44] alexander-yakushev commented on #1909
Sounds good, looking into implementing custom backends now. Is there a reason this was not done from the beginning? Any drawbacks?

[2017-01-06 13:48] bbatsov commented on #1758
Guess we can close this ticket now.

[2017-01-06 13:48] #1758 closed

[2017-01-06 13:50] bbatsov commented on #1909
Nope. Just wanted to rely on the standard `capf` behaviour instead of introducing some custom solution for `company`. Haven't used an IDE for over 6 years (when I was a Java dev) and I've forgotten about the usefulness of real fuzzy completion. :-)

I'm guessing implementing this should be trivial, so it's better to add it than to inflict pain on the users who need it.

[2017-01-06 19:37] dpsutton commented on #1889
![before_jack_in](https://cloud.githubusercontent.com/assets/6377293/21730417/43b0a580-d415-11e6-8232-280f4b3c5ea1.png)

![after_jack_in](https://cloud.githubusercontent.com/assets/6377293/21730427/4a62304c-d415-11e6-97e9-7c5a4bf09bd0.png)

[2017-01-06 19:50] bbatsov commented on #1889
Great! 👍

[2017-01-06 19:51] #1889 closed

[2017-01-06 21:04] alexander-yakushev commented on #1372
Bump. Anything we can do about this? The commenter in the JIRA ticket claims that the issue cannot be easily solved on the Clojure side. All of the REPLs I've tried (`lein repl`, `boot repl`) throw double exceptions when the encounter a nested form with odd/duplicate elements in `{}`.

This is one of the very few bugs that can be solved only by *long and concentrated stare* at the code. Neither Cl

[2017-01-06 22:09] dpsutton commented on #1886
@arnm can you help us reproduce this issue? I always hate to say "works for me" but I'm wondering if your emacs/repl/CIDER were in a bad state and a restart fixed everything.

[2017-01-06 22:37] dpsutton commented on #1874
As far as I can tell, this feature is implemented?

    (defun cider-restart (&optional restart-all)
      "Restart the currently active CIDER connection.
    If RESTART-ALL is t, then restarts all connections."
      (interactive "P")
      (cider-ensure-connected)
      (if restart-all
          (dolist (conn cider-connections)
            (cider--restart-connection conn))
        (cider--restar

[2017-01-06 22:44] dgutov commented on #1909
Like others, I don't think using `company-flx` is ideal for backends that perform fuzzy matching themselves. This (fuzzy matching in the backend) seems a common/desired enough case, though.

Last time we discussed that with @monnier, we've settled on the understanding that we need to standardize a new kind of "completion table" (or extend the current definition somehow) that would allow to delegat

[2017-01-06 22:48] dpsutton commented on #1874
Looks like the clojurescript repl comes back but doesn't "know" to run its invoking stuff: ie, the initial invoking of the cljs repl. also looks like a couple errors pop up at the bottom as well.

[2017-01-06 22:48] dgutov commented on #1909
But!

@alexander-yakushev Does your workaround function well enough for CIDER completion? If yes, why not, instead of advice, make a buffer-local setting for `completion-styles` in `cider-mode`? And modify `completion-styles-alist` to include the `cider` entry, either locally or globally; either way should do.

That would mess with other completion functions in the CIDER-enabled buffers, but the l

[2017-01-07 05:37] bbatsov commented on #1874
Seems we need a solution similar to the one tracking the invocation command here https://github.com/clojure-emacs/cider/pull/1905 //cc @cskksc

[2017-01-07 05:47] bbatsov commented on #1909
Well, the linked PR doesn't interfere with other backends - it really interferes with `company-capf` I guess.

[2017-01-07 08:58] alexander-yakushev commented on #1909
Thanks @dgutov!

I don't really understand the separation between company "backends" (controlled by `company-backends`) and company "frontends" (controlled by `completion-styles` AFAIU). I used the former in the related PR, and it seems to be working fine. Is there a benefit to use `completion-styles` instead?

[2017-01-07 10:29] dgutov commented on #1909
Oh, right. But the effect of changing `completion-styles` would also be limited to `company-capf`.

Nah, `completion-styles` is not a part of company. It's a variable in `minibuffer.el` that decides how `completion-at-point` performs matching. `company-flx` also uses it to install its fuzzy matching middleware.

`completion-styles` affect the results of `company-capf`.

* The users don't need to d

[2017-01-07 10:49] alexander-yakushev commented on #1909
So, it's the approach I used from the very beginning. Although, it involves adding an advice around `company-capf`. Is there a better way to set `completion-styles`? I also have a feeling that @bbatsov won't be happy modifying core functionality automatically, so in the end it might be something that a user would have to do manually anyway.

[2017-01-07 10:59] dgutov commented on #1909
With `setq-local`, somewhere near to where you modify `completion-at-point-functions`.

[2017-01-07 11:01] alexander-yakushev commented on #1909
What do you say, @bbatsov? Can we enable the fuzzy automatically? Should we make it configurable and enabled by default? Configurable and disabled by default?

[2017-01-07 12:20] mindnova opened #1911 "cider-refresh try to reload deleted file"
I have a file named `macro.cljc`, which has the namespace `my.app.macro`, and I changed the word `macro` to `macros` both in filename and namespace. Then I use 'cider-refresh' to reload the changes, but it continues popup an error says: error reloading 'my.app.macro' .

I use the `cider-browse-ns`, and the old namespace is already not listed there. So what could I do?

[code]

[2017-01-07 13:00] #1911 closed

[2017-01-07 16:16] bbatsov commented on #1909
Configurable and disabled by default. This is a major change.

On Sat, Jan 7, 2017 at 14:01 Alexander Yakushev <notifications@github.com>
wrote:

[2017-01-07 21:38] alexander-yakushev commented on #1909
Given that, until the last year, most people used `auto-complete` and had this behavior by default, this is not a major change to many. But fine, I will do that.

[2017-01-07 21:41] dpsutton commented on #1879
@freckletonj is this still an issue or can we close this?

[2017-01-07 22:47] dpsutton commented on #1358
So looking into this, it looks like it can resolve things you define in the namespace. So in `cljs.user`, I define `(defun foo [x] (+ 1 x))` and it gives me documentation on that. It seems like the core stuff is filtered out or not included in user.cljs is all. I'm gonna keep prodding.

[2017-01-07 22:48] dpsutton commented on #1358
I think this is a cljs-tooling issue.

[2017-01-08 05:03] lvh commented on #1468
FWIW, I'm running into this issue too. Also unable to reliably reproduce; sometimes, it works fine...

[2017-01-08 05:14] dpsutton commented on #1468
@lvh can you post a screenshot or stack trace or anything to get a handle on where to start looking next time it pops up?

[2017-01-08 06:14] dpsutton commented on #1273
![it_works](https://cloud.githubusercontent.com/assets/6377293/21747736/23b8854a-d537-11e6-939a-5716718f5233.png)

It looks like this can be closed? @abo-abo is this correct?

[2017-01-08 08:16] bbatsov commented on #1909
Ever since I started working on the project I've been promoting the use of `company-mode`. Not to mention the old completion mechanism of CIDER didn't have a particularly advanced fuzzy matching support. :-) I'm an Emacs user first and a Clojure user second, so I generally prefer default settings to be aligned with Emacs common conventions.

[2017-01-08 09:18] abo-abo commented on #1273
@dpsutton Looks correct, thanks.

[2017-01-08 09:18] #1273 closed

[2017-01-08 11:44] alexander-yakushev commented on #1909
On a second thought, I don't see the necessity to break into `capf` if we make the feature opt-in. The implementation can remain the current one, with a custom backend.

Making it "configurable via a vairable" also requires more effort than "add these lines to the config".

[2017-01-08 11:50] dgutov commented on #1909
That's not "breaking in". Changing `completion-styles` is a legitimate approach.

But someone should test whether `C-M-i` continues to work fine (or better).

[2017-01-08 13:00] Malabarba commented on #1889
On a lighter note, @dpsutton what's your color theme? I've been wanting to change mine  for a while now.

[2017-01-08 15:04] bbatsov commented on #1909
Let's go with the custom backend. It seems like the more straightforward approach to me.

[2017-01-08 16:17] dpsutton commented on #1889
@Malabarba this is 'brin from [https://github.com/owainlewis/emacs-color-themes/blob/master/resources/previews/brin.png](https://github.com/owainlewis/emacs-color-themes/blob/master/resources/previews/brin.png) except that I've modified it a bit.

I spent some time on the highlight bar as well to make comments readable underneath it.

[2017-01-08 16:43] dpsutton commented on #1886
@bbatsov can you close this issue?

[2017-01-08 16:46] #1886 closed

[2017-01-08 16:48] dpsutton commented on #1841
@yenda @owickstrom can one of you perhaps upload a repo that has a minimum example? I haven't really delved into spec but if you give me the repo I can work on this. I'm just lacking a starting point for investigation.

[2017-01-08 18:16] owickstrom commented on #1841
@dpsutton the codebase I have trouble with is onfortunately private, but I'll try to reproduce with a minimal example as soon as possible.

[2017-01-09 18:14] alvinfrancis opened #1913 "cider-toggle-buffer-connection fails"
## Expected behavior

`cider-toggle-buffer-connection` should toggle between CLJ and CLJS connections (if both exist) in a `clojurec-mode` buffer (e.g. `cljc` files) or in a `cider-clojure-interaction-mode` buffer (e.g. `*cider-scratch*`).  This should allow expressions to be evaluated in the appropriate connection. Also, `cider-connections` should still contain both CLJ and CLJS connections after

[2017-01-09 18:19] alvinfrancis commented on #1913
@dpsutton

[2017-01-10 12:57] expez opened #1914 "Better handling of elaborate spec definitions in doc buffer"
Currently the specs in the doc buffer are on a single line.  When you're writing a spec for a multi-arity function this can make them unreadable in the doc buffer.

[2017-01-10 15:49] SlightlyCyborg opened #1915 "I am getting random DEBUG logging lines in the repl"
Here is my setup
[code]

I am using `cider-jack-in-clojurescript` so I have 2 repls open. The debug lines print on both repls. I am using lein-figwheel on one of the reo

I am randomly getting lines like this

[code]

Likewise, I sent a large file to S3, and the repl printed out the whole file in HEX!!!!

[2017-01-10 16:08] #1915 closed

[2017-01-11 06:21] bbatsov commented on #1914
//cc @cskksc

[2017-01-12 11:47] expez opened #1918 "Create a spec browser, similar to the namespace browser"
Often I find myself wondering either:

* Does a spec for this exist?
* What does this spec really do?

I'd like something like `cider-browse-ns` which gives me a list of all available specs in the app.  We can get this by querying the registry of known specs.

When you click on a spec the definition of the spec should be displayed (this is available with `(s/form (s/get-spec :qualified/spec))`)

B

[2017-01-12 11:51] expez opened #1919 "cider-show-spec"
`cider-show-spec` shows the definition for some spec.

* Completing read among all specs in `(keys (s/registry)`, defaulting to the keyword at point, to make it easier to select which spec definition to show.
* Popup buffer with the spec definition (found by calling `(s/form (s/get-spec :my-spec))`).

Bonus points if you can click to view the definitions of any constituent specs in the popup buffe

[2017-01-12 12:42] bbatsov commented on #1919
You should be more specific about the feature request. I've got a feeling I understand what you mean, but neither the title nor the description of this ticket is very clear.

[2017-01-12 12:46] bbatsov commented on #1919
P.S. I'd probably name this command differently.

[2017-01-12 12:47] bbatsov commented on #1901
#1918 and #1919 are two related tickets that should be pretty easy to implement.

[2017-01-12 12:54] expez commented on #1919
I've tried to make it a little bit clearer, and picked another name.

I've sprinkled in the details about how to acquire the information needed, to do a completing read among the specs to show, as well as how to get ahold of the spec definition.  Not everyone is familiar with spec, so that hopefully makes the ticket easier to close.

[2017-01-12 18:30] cskksc commented on #1914
I haven't been using Clojure a lot in the past few months. I guess that's why I never noticed it. How does this look ?

![2017-01-12-132652_1276x743_scrot](https://cloud.githubusercontent.com/assets/5201497/21902697/e703d112-d8ca-11e6-84c8-c8045215177a.png)

Right now, I'm just formatting the outermost sequence so that each member is displayed on its own line. Do you expect the individual members

[2017-01-12 18:47] cskksc commented on #1914
I guess the `ret:` and `fn:` should also be aligned. I'll include that in this patch.

[2017-01-12 23:58] #1914 closed

[2017-01-13 20:29] cskksc commented on #1918
I've started work on this. Is adding a separate middleware for spec alright ? I guess we'll be adding a lot more feature focusing on spec.

[2017-01-14 01:52] bbatsov commented on #1918
Sure.

[2017-01-15 09:14] luxbock opened #1921 "CIDER middleware conflict with zprint as a dev dependency"
Adding [zprint](https://github.com/kkinnear/zprint) as a dev dependency causes CIDER middleware to throw when trying to start a REPL. Adding it as a regular project dependency does not cause the same issue.

[code]

See full stacktrace at the bottom of the post.

I've created an issue here as well as I'm not sure which project it's relevant for:

https://github.com/kkinnear/zprint/issues/19

## St

[2017-01-16 05:46] #1860 closed

[2017-01-16 09:55] mattiasw2 commented on #671
I have a similar problem, but instead I get

the first time from Emacs. The second time I succeed (I have get some zoombie java-processes I need to kill).
I am using Windows.

*Messages* looks like this:

For information about GNU Emacs and the GNU system, type C-h C-a.
Making completion list...
Parinfer extension lispy: It seems Lispy is not installed!
Parinfer: Paren Mode, use C-, to switch to I

[2017-01-18 01:59] kkinnear commented on #1921
I'm the person who maintains zprint, and I'd be delighted to work with someone to figure this out.  I expect that some library on which I am depending is interacting badly with something in CIDER, but I don't have a clue as to what.  Not being a CIDER user, I'm not going to be all that deft at figuring out what is going wrong here, so if someone has some idea of the actual problem I'd love to hear

[2017-01-18 02:09] xiongtx commented on #1921
I can `cider-jack-in` fine with a stock `lein new` project that has the following `project.clj`:

[code]

Version info:

- Java 1.8.0_111
- Clojure 1.8.0
- CIDER 0.15.0snapshot (package: 20170111.138)
- nREPL 0.2.12

Can you put up a minimal project that demonstrates the problem?

[2017-01-18 06:43] expez commented on #1921
We do source rewriting to prevent this from happening.

[2017-01-18 14:02] koddo commented on #1544
Ok, just reporting. I figured out how to connect to a dockerized figwheel running an nrepl directly. In my case it was listening to the localhost connections only.  Had this in the `*Messages*` buffer:

[code]

To make it listen on all interfaces, add this to figwheel configuration: `:nrepl-host "0.0.0.0" :nrepl-port 7888`

[2017-01-18 18:00] bbatsov commented on #1544
Seems I missed the last few comments. We should solve this simply by introducing a configuration option.

[2017-01-19 08:51] bbatsov commented on #1544
I've pushed a commit that changes the default behavior and furthermore - makes it configurable via a new defcustom. Try it out!

[2017-01-19 17:21] jcf commented on #1856
I'm not sure if this helps, but I see `testing` strings in my test reports…

[code]

[code]

![2017-01-19-17 20 08-233ca8147ba5](https://cloud.githubusercontent.com/assets/18374/22117357/8e1b5f9c-de6b-11e6-97aa-18237df55026.png)

I'm using Spacemacs so maybe there's something in my Emacs config adding is outside of Cider?

[2017-01-19 17:24] expez commented on #1856
I'm not using spacemacs andI see the same.  I guess this was working all along.

[2017-01-19 17:24] #1856 closed

[2017-01-19 17:31] bbatsov commented on #1856
Perhaps @ncalexan was using an older CIDER version?

[2017-01-19 17:46] luxbock commented on #1921
Sorry, turns out I had overlooked my `profiles.clj` dependencies, where I had something pulling in an older version of `tools.reader` which ended up blowing up when used with `zprint` and `CIDER`. I will close this.

[2017-01-19 17:46] #1921 closed

[2017-01-21 11:22] expez opened #1924 "Spec discovery"
When I left Haskell for Clojure one of the things I missed was [Hoogle](https://www.haskell.org/hoogle/).  Hoogle, and tools like it, lets you search by function signature and types in order to find functions that might interest you.

It would be helpful to be able to query the spec registry to find all functions that use some spec.  E.g. I might want to find all the functions that deal with a `Us

[2017-01-21 16:25] bbatsov commented on #1924
Some more details about the functionality you have in mind would be useful.

[2017-01-22 11:15] bbatsov commented on #1909
Fixed by #1910.

[2017-01-22 11:15] #1909 closed

[2017-01-23 04:28] #1731 closed

[2017-01-23 19:52] arichiardi commented on #1881
Ran into this problem and I can work around it by using the following `.dir-locals.el`:

[code]

Of course it would best to have a better name and `defcustom` for boot (and grandle?) builds.
I actually so like `.dir-locals.el` configuration, it is good because you can have different ones for each `src` subfolder: one for `src/my-lein-prj` and one for `my-boot-prj`.

[2017-01-23 19:56] arichiardi commented on #1881
On second read, it looks like the problem above is different, about the rename, the commit is this: https://github.com/clojure-emacs/cider/commit/313a0df8e578a1c9544660772aef1c59fa1ab70a

And probably we should add a clause for `adzerk.boot-cljs-repl/start-repl` in there.

[2017-01-23 19:59] arichiardi commented on #1881
The problem with the template is exactly that it does not launch or even hints at `boot-cljs-repl`, see here: https://github.com/hoplon/hoplon-template/blob/master/src/leiningen/new/hoplon/build.boot

My `dev-web` task does:

[code]

[2017-01-23 20:05] arichiardi commented on #1881
If we wanted to be really fancy here, we could inject `[adzerk/boot-cljs-repl "0.3.3" :scope "test"]` as dependency and then call the init as per above.

[2017-01-23 20:38] arichiardi commented on #1881
Actually, not solved, it is still calling the `rhino` repl:

`org.mozilla.javascript.EcmaError: ReferenceError: "console" is not defined. (rhino.clj#41)`

[2017-01-26 01:49] harold opened #1929 "[exceptions] Potential improvement for `*cider-error*` buffers"
[Prone](https://github.com/magnars/prone) is a helpful library for debugging clojure/ring web applications.

A great feature of Prone is their display of stack traces, a lot of typically useless and distracting information is elided. I was reading about how they achieved that:
https://github.com/magnars/prone#how-does-prone-determine-what-parts-of-a-stack-trace-belongs-to-the-application

(they do

[2017-01-26 02:05] bbatsov commented on #1929
Basically you want some toggle that just displays only the application stack frames?

[2017-01-26 02:05] harold commented on #1929
Yes. Does that sound right to you?

[2017-01-26 04:49] bbatsov commented on #1929
Yeah, it does. As we already have a filtering mechanism in place I'm assuming that extending it to account just for application frames should be easy.

[2017-01-26 10:25] manuel-uberti opened #1931 "Error on cider-quit (C-c C-q): (void-variable or)"
## Expected behavior
CIDER and REPL gets closed. CIDER related buffers get killed.

## Actual behavior
[code]

## Steps to reproduce the problem
This is what I did:
- from the command line: `lein new luminus test-project +cider`
- in Emacs, open `test-project/project.clj`
- <kbd>C-c M-j</kbd>
- <kbd>C-c C-q</kbd>

## Environment & Version information

### CIDER version information
[code]

### Emac

[2017-01-26 10:42] #1931 closed

[2017-01-26 10:46] manuel-uberti commented on #1931
Wow, thanks for the quick fix!

[2017-01-26 12:47] dpsutton commented on #1931
ha. I read the email just now as i woke up and I was coming to fix that. Sorry about that!

[2017-01-26 14:33] manuel-uberti commented on #1931
Gave it another try, now I get:
[code]

[2017-01-26 14:56] dpsutton commented on #1931
ok there are two bugs. I've fixed the one where i was passing t (for close tooling connection) instead of the connection. But its timing out because its not recognizing the session id for some reason. Let me keep investigating and sorry about the bug

[2017-01-26 15:05] dpsutton commented on #1931
sorry @manuel-uberti . I've got the pull request in for you. apologies. I recently changed a lot about how cider passes around connections and it affected a lot of functionality i don't use very much. I've never used `C-c C-q` but I like it. I'll add that into my repertoire now.

[2017-01-26 15:09] manuel-uberti commented on #1931
@dpsutton no worries, I am already glad there is a tool like this for Clojure development. Least I can do is help when I find an issue. ;)

[2017-01-26 16:03] dpsutton commented on #1931
there was only one issue. It successfully closed the main connection but not the tooling connection. It should be fixed if you want to update. Thanks for the patience and definitely the bug reports, @manuel-uberti .

[2017-01-26 18:56] manuel-uberti commented on #1931
Fixed! Thank you very much, @dpsutton.

[2017-01-30 03:41] #1881 closed

[2017-01-30 13:31] runejuhl commented on #1054
Would this also be needed for implementing a debugging repl? I'd love to have an ability to open a repl for the current debugging context. Often times I have an idea about what's wrong and I want to try out something, and while I can hit `e` and evaluate on a line-by-line basis the output is shown on top of the debugger.

Having a new repl (or a possibility of somehow binding the debugging context

[2017-01-30 22:26] SlightlyCyborg opened #1934 "Put an upper limit on the amount of data the cider repl is willing to print to buffer when it prints rv"
If I accidentally call a fn that returns an enormous amount of data, it kills my repl

[2017-01-31 08:47] Freyr666 opened #1935 "Unable to connect to the remote host with cider-connect"
I use ssh connection with a non-standard port specified in ssh/config

After emacs packages upgrade i'm not able to connect to server anymore, it returnes

[code]

I've tried to recompile elc files but the issue is still there.

Lein 2.7.1

GNU Emacs 25.1.1 (x86_64-redhat-linux-gnu, GTK+ Version 3.22.4)
Fedora 25

Upd:

It seems that new version of nrepl-connect just returns an error after trying

[2017-01-31 10:03] expez commented on #1934
I have a similar problem when running my tests and getting a `clojure.spec` failure.  It's never caused my REPL to fail, but it does slow things down.

When clojure spec encounters a problem it dumps the complete datastructure to `*out*`, along with a path into that datastructure which describe where the spec failed.  Needless to say when working with large datastructures this isn't optimal.

I fi

[2017-01-31 13:31] dpsutton commented on #1935
@Freyr666 can you help get me up and running with a minimum example that demonstrates? I cranked up a fizzbuzz `lein repl` and then cider connected to it from master. All of this over port 35083. Do you think this port number is important? Or can you help me get to a place where I can recreate the issue locally?

[2017-01-31 14:09] Freyr666 commented on #1935
Well. I use nrepl-plugin on port 7000 fetched by lein luminus web template (http://www.luminusweb.net/docs/repl.md)

I have an ssh config file because sshd runs on non-default port:

[code]

After updating package from melpa i get the `let*: Wrong type argument: processp, nil` error while with the backuped files everything works just fine.

[2017-01-31 15:01] jsab opened #1936 "Assertion on type of a record only succeeds if it is the last assertion of a test"
## Expected behavior

The order of `is` assertions withing a `deftest` form should not impact their execution.

## Actual behavior

After a `defrecord` form has been evaluated more than once. An assertion on the type of the record will succeed if it is the last assertion in a `deftest` but will fail if there is one or more assertions after.

Note that running `lein test` does not exhibit the probl

[2017-02-03 05:58] bbatsov commented on #1935
See the changelog. Some people disliked the automated ssh fallback and it was disabled by default. There's a config option to enable it. Still, raising an error is definitely a bug. We should look into this.

Can you post the complete backtrace?

[2017-02-03 06:02] bbatsov commented on #1934
One of those days we should really invest some time in profiling the REPLs performance so we can remove at least some of the causes for these freezes. That's the only **real** solution to the problem at hand, everything else is mere patchwork.

I don't see a good user experience for what you're suggesting. Should we display some warning if we're about to generate excessive output? Constantly check

[2017-02-03 06:17] bbatsov commented on #1936
Looks like a bug indeed. Guess we should look into this. I won't have any time for CIDER until the end of the month at least, so help would be appreciated.

[2017-02-03 08:39] Freyr666 commented on #1935
Ok.

After `(setq nrepl-use-ssh-fallback-for-remote-hosts t)` the error still exists.

How could I see the complete backtrace?

I'm still getting
[code]

[2017-02-03 09:22] expez commented on #1936
My guess is that this behavior would disappear if he used `cider-refresh` to reload all the code at the same time.  Two types on the jvm are equal if they are both the same and were loaded with the same classloader.

[2017-02-03 10:42] bbatsov commented on #1935
This is the problematic code:

[code]

We'll have to debug it to see why is the `client-proc` nil, which causes the problem you're experiencing.

[2017-02-03 10:48] bbatsov commented on #1935
Yeah, the problem is that before my changes the code always returned some endpoint, but now it can return `nil` - although it shouldn't return `nil` when you've enabled the ssh fallback.

[2017-02-03 16:28] jsab commented on #1936
@expez `cider-refresh` does not make the test pass.

Steps used:
1. 2. 3. 4. 5. as above.
6. `M-x cider-refresh` -> Cider refresh: Reloading successful
7. `M-x cider-test-run-ns-tests` -> Fail

There are now two tests in the project so that you can see the behavior for last expression or not last expression in the same test run.

[2017-02-03 23:21] SlightlyCyborg commented on #1934
If it generates data over a certain length, perhaps we inject it into a web
page and give a link

On Fri, Feb 3, 2017 at 1:02 AM, Bozhidar Batsov <notifications@github.com>
wrote:

[2017-02-04 22:08] ckampfe opened #1937 "Cider fails to jack-in, complaining `-i` flag unknown option"
## Expected behavior

Cider starts using Boot in response to the `cider-jack-in` command, while focused buffer is a file in a Boot project. In my case, the file is a `build.boot` file.

## Actual behavior

Cider errors out when running `cider-jack-in`.

This is the message that is in \*Messages\* after the failure:

[code]

## Steps to reproduce the problem

- Open a file in a project that uses Bo

[2017-02-05 14:52] dpsutton commented on #1936
@jsab how can you demonstrate the `lein test` does not have this behavior? It seems that CIDER's test run results in all passing on the first run, but then after re-evaling the source buffer, it starts having issues. It seems `lein test` would only simulate our first successful run, correct?

[2017-02-06 18:40] arichiardi commented on #1937
About this, I would makes sure that `/usr/local/bin/boot` is using `2.7.1`, you could try to create a `boot.properties` file either in the project root or in `.$HOME/boot` (global) with the following in order to be sure:

[code]

[2017-02-06 18:52] ckampfe commented on #1937
@arichiardi can confirm that I had the `~/.boot/boot.properties` in place with the parameters you suggested prior to reporting

[2017-02-06 18:54] ckampfe commented on #1937
Ha! there was an old, old boot.properties that made its way into the project dir that was overrideing the global configuration :( Sorry for opening the ticket, thank you @arichiardi

[2017-02-06 18:56] arichiardi commented on #1937
No problem, I have had a couple of similar issues :smile: Feel free to close this if solved.

[2017-02-06 19:04] #1937 closed

[2017-02-07 14:52] jsab commented on #1936
@dpsutton Agreed. I included this information because when talking in freenode#clojure about the issue and where I should file it, it was one of the first thing people wanted to know.

[2017-02-08 11:50] plexus opened #1938 "cider-jack-in-clojurescript no longer honors buffer local variable"
This seems to be a regression in recent versions of CIDER. It's unfortunate, because setting `cider-cljs-lein-repl` in `.dir-locals.el` provided an elegant way to configure the CLJS repl on a per-project basis.

## Expected behavior

Having this as a `.dir-locals.el` in a project:

[code]

And calling `M-x cider-jack-in-clojurescript` from a buffer within that project, the ClojureScript REPL shoul

[2017-02-09 15:15] julienfantin commented on #1938
Possibly related to #1933 ?

@plexus does it work as expected if you manually set `cider-cljs-lein-repl` with `setq` for example?

[2017-02-09 17:06] plexus commented on #1938
That does sound like the same problem, since they are also setting `cider-cljs-lein-repl` through `.dir-locals.el`.

The problem is that the CLJS repl is getting created indirectly in a process handler, at which point the buffer context is no longer there.

I came up with this solution, not sure to call it a fix or a hack though :) should I turn it into a PR?

https://github.com/clojure-emacs/cide

[2017-02-10 02:47] michaelmrose commented on #835
How about adding trampoline to cider-lein-parameters

[2017-02-10 15:12] julienfantin commented on #1938
Can't comment on whether this is a good fix or not, but I'll add that using `setq` works for me as well.

[2017-02-10 16:17] iku000888 commented on #524
@vspinu Thanks for reporting this issue. Saved me from confusion!
(And yes I do like that it get printed to the nrepl buffer as well.)

[2017-02-10 18:22] arichiardi commented on #1938
Oh wow, that was beyond me (an emacs noob) :smile:

[2017-02-10 21:33] arichiardi opened #1939 "Expression ends prematurely in cider-last-sexp"
## Expected behavior

It should return `nil` maybe?

## Actual behavior
It throws `forward-sexp: Scan error: "Containing expression ends prematurely", 1331, 1331`

## Steps to reproduce the problem

In the following expression and point as indicated, execute `cider-last-sexp`:

`(|System/getProperty "maven.local-repo")`

### CIDER version information
[code]

### Emacs version

`GNU Emacs 24.5.1 (x

[2017-02-15 16:45] phillord opened #1940 "Test all project tests"
## Expected behavior

Run all project tests should pop up a dialog

## Actual behavior

Nothing happens, but I get an exception in `*nrepl-server*`

      nREPL server started on port 42019 on host 127.0.0.1 - nrepl://127.0.0.1:42019
      Exception in thread "nREPL-worker-6" java.lang.Error: java.lang.Exception: No namespace: sio-header found
      	at java.util.concurrent.ThreadPoolExecutor.runW

[2017-02-15 19:20] aengelberg opened #1941 "Cancel jack-in"
When I `C-c M-j` I cannot cancel the jack-in operation (the `lein repl :headless` command) without closing Emacs until the REPL finishes starting up (then I can `C-c C-q`). I would like to be able to cancel during startup if I change my mind about starting the REPL.

[2017-02-20 14:18] erno opened #1942 "Non-MELPA installation methods hinted by docs, but link is broken"
"The canonical way to install CIDER is via package.el (Emacs's built-in package manager), but plenty of other options exist (see the wiki)."

But the wiki link is broken and Googling doesn't seem to turn up manual installation hints either.

[2017-02-20 14:20] erno commented on #1942
I found the what I was looking for here:  https://cider.readthedocs.io/en/latest/hacking_on_cider/

[2017-02-22 03:35] bbatsov commented on #1942
Yeah, the wiki was killed a while ago, guess we should update the docs not to refer to it anymore.

[2017-02-22 03:36] bbatsov commented on #1941
So, basically you want to be able to `C-g` the jack-in process?

[2017-02-22 06:31] aengelberg commented on #1941
Correct

[2017-02-23 18:02] mahinshaw commented on #1938
Setting up my dir-locals with the this

[2017-02-26 10:06] hanshuebner opened #1945 "error in process filter: [nREPL] Direct connection failed"
`M-x cider-jack-in` fails to successfully connect to the leiningen subprocess in some cases.  I have been seeing this issue in a long time, on various machines and with a number of cider versions.   Sometimes, retrying the `M-x cider-jack-in` one or a few times helped.  Recently, when I was annoyed by this again, I tried to figure out what the problem could be by running `telnet localhost <the-por

[2017-02-26 18:15] bbatsov commented on #1945
We'll definitely improve those messages. As for the nREPL's behaviour - seems to me that it listens on `localhost` (see https://github.com/clojure/tools.nrepl/blob/fcac1e13d6f80eb0db28773247a769c1dc9659b1/src/main/clojure/clojure/tools/nrepl/server.clj#L125).

[2017-02-27 16:55] ds2643 commented on #1596
@mitchelkuijpers Do you know how to implement this solution in the context of a lein project?

[2017-02-27 19:00] mtnygard opened #1946 "On Windows 10, cider-quit doesn't quit."
## Expected behavior

Running `cider-quit` should terminate both the leiningen JVM and the application JVM.

## Actual behavior

The leiningen JVM terminates, but the application JVM remains around.

## Steps to reproduce the problem

1. Create an empty leiningen project: `lein new repro-case`
2. Open `repro-case\project.clj`
3. Use M-x `cider-jack-in` to get a REPL. Use Task Manager to see there

[2017-02-27 19:28] plexus opened #1947 "cider-jack-in fails when cider-enlighten-mode is enabled"
## Expected behavior

`cider-jack-in` results in a buffer with a REPL prompt

## Actual behavior

The minibuffer pops up with `Lisp expression: `. Entering anything there results in

[code]

This shows up in nrepl-messages:

[code]

The user gets an empty repl buffer, but pressing enter does bring up a prompt. Except that it shows `nil` as the namespace.

## Steps to reproduce the problem

Open a

[2017-02-27 19:34] dpsutton commented on #1947
You can observe this in `cider-repl-set-initial-ns`.

[code]

You get the response from the nrepl eval:

[code]

So it is a bug in our invocation of read. Something is throwing an error in start up. I don't know if its fatal or not. But then we are calling `(read nil)` since our dictionary lookup fails which is the signature that you call if you want emacs to prompt the user.

So a short term fix

[2017-02-27 19:58] dpsutton commented on #1947
And the problem is that enlighten mode evals things with the debugger. The debugger is initialized on item 6 of CIDER startup. Evaling the current ns for the repl is item 4. So we try to eval with the debugger before the debugger has been initialized and there's where we get our error.

[2017-02-27 20:05] hanshuebner commented on #1945
The real fix is within tools.nrepl, as @bbatsov has pointed out.  The trick is to bind the socket to the anylocal address `::` instead of `localhost`, `127.0.0.1` or `::1`.  If done that way, the nrepl server accepts connections both to the IPv4 and IPv6 localhost address.  I will try to get this changed in tools.nrepl.

[2017-02-27 22:30] bbatsov commented on #1945
Great! Hopefully @cemerick will have time to apply your patch and issue a new release.

[2017-02-28 05:01] hanshuebner commented on #1945
As a workaround, `:repl-options {:host "::"}` can be specified in the user's profile to override the default in `tools.nrepl` until it is fixed there.

[2017-02-28 06:54] #1938 closed

[2017-02-28 13:31] bbatsov commented on #1946
That's a duplicate of https://github.com/clojure-emacs/cider/issues/390

Long story short - that's outside of CIDER's scope and we can't really do much about it.

[2017-02-28 13:31] #1946 closed

[2017-02-28 13:33] bbatsov commented on #1947
We should probably make enligthen-mode do nothing in the absence of a connection.

[2017-02-28 15:47] dpsutton commented on #1947
Its not that there's not a connection, it's that enlighten hijacks eval but we eval things before the hijack has been fully set up.

There's a function called `nrepl--eval-request` that takes care of ensuring the op list of what to do is well formatted. And this checks to see if enlighten mode is on, and if so, adds it to the op code.

    (defun nrepl--eval-request (input &optional ns line column

[2017-02-28 21:13] bbatsov commented on #1947
I think I like option 2 more as a potential solution.

[2017-02-28 21:20] xiongtx commented on #1947
@dpsutton Try using [backquote](https://www.gnu.org/software/emacs/manual/html_node/elisp/Backquote.html) and `,` instead of `list` everywhere:

[code]

[2017-03-01 00:00] dpsutton commented on #1947
Sounds good. I was just quoting preexisting code in this case though.

[2017-03-01 01:12] MaheshBabuRajasekar commented on #1841
@sebastianpoeplau I add this error too. I have added `(require [clojure.test.check :as tc]` in my test namespace and recompiled my cider-repl (Emacs).
It compiled and ran my spec-check-tests using `deftest` successfully without any errors.
Thanks!

[2017-03-02 06:15] bbatsov commented on #1840
@sanjayl any news on this?

[2017-03-02 06:15] bbatsov commented on #1850
@xiongtx Ping 2 ;-)

[2017-03-02 13:05] bbatsov commented on #1934
I'll think what we can do about this.

[2017-03-02 13:05] bbatsov commented on #1901
@dpsutton any progress with this?

[2017-03-02 15:31] dpsutton commented on #1901
@bbatsov no, actually none at all. I still haven't even messed with spec. I've been doing other things and waiting for a non-beta, but I guess it's getting to the point where I need to start learning. I'd like to finish up the cleanup of startup and then dive into this.

[2017-03-02 15:47] bbatsov commented on #1901
Got it.

[2017-03-03 09:13] xiongtx commented on #1850
Trying to work on it, but I'm not satisfied with the current way of hooking into `macrostep`:

- Formatting of code is not preserved
- `macrostep-next-macro` and `macrostep-previous-macro` are not working; need to mark macros w/ text properties

Needs more investigation...

[2017-03-03 21:29] sanjayl commented on #1840
Sorry, hit a wall and ran out of steam. I have the next few days off so I'll see what I can do on the clojure side of things, doubt I'll have time to work on the UI half.

[2017-03-03 23:26] jconti commented on #390
I think doing (shutdown-agents) lets the jvm quit by itself on windows.  I think it is the windows JVM that starts some non-server thread that then blocks the normal exit.  I wish I could recall what project I read this information in (maybe Nightcode, maybe ring-jetty, not sure).

[2017-03-04 07:02] bbatsov commented on #1840
One step at a time. I believe you'll be able to pretty much copy/paste the UI from SLIME or just leverage the new xref functionality from recent Emacsen.

[2017-03-04 07:12] bbatsov commented on #1939
The actual problem seems to be in `clojure-backward-logical-sexp`.

[2017-03-04 07:21] bbatsov commented on #1939
On further inspection it seems that `backward-sexp` blows up every time it's called from the beginning of some form.  Not sure how best to approach this. @Malabarba any thoughts?

[2017-03-04 07:38] bbatsov commented on #1940
That sounds reasonable to me. I'd appreciate it if you tried to prepare a PR for this. On a related note - seems we're also missing some general unexpected error handling code in this middleware, otherwise the problem wouldn't have manifested the way that it did.

[2017-03-04 07:44] bbatsov commented on #1939
My ideas - either wrap all `backward-sexp` calls in `ignore-errors` or add some check whether we're at the beginning of a form. Probably the second idea is the better one, but as I said - I'm not quite certain about this.

[2017-03-04 08:33] mattiasw2 commented on #390
I have solved it by calling (System/exit 0) from within the repl.

I added a command to .emacs

[code]

     (define-key cider-repl-mode-map (kbd "C-c C-q") 'my-kill-java)

[2017-03-06 07:56] #1935 closed

[2017-03-06 07:56] bbatsov commented on #1935
I finally got to fixing this. Please, let me know if it works properly now.

[2017-03-06 08:27] bbatsov commented on #1497
Sounds like a Clojure bug then. Did you check if their location metadata was correct?

[2017-03-06 22:34] bbatsov opened #1952 "Add timestamps to nREPL messages"
Adding timestamps to nREPL request and response messages should make it easier to spot performance issues.

Ideally those should be added to the request/response dictionaries before they are printed in the nREPL messages log buffer. This can be extended a bit and responses can also include the time to complete the request.

See https://github.com/clojure-emacs/cider/pull/1923 for a discussion on t

[2017-03-06 22:37] bbatsov opened #1953 "Add a command to quickly inspect the metadata for some var"
Often I find myself needing to check the metadata of some var. Usually I just use the REPL to do so, but it would definitely be easier there was an interactive command to help with this.

Developing a command that simply displays the metadata in a window similar to the docview should be pretty simple. Alternatively the metadata can be displayed in doc buffers, but I think a dedicated view makes a

[2017-03-07 15:24] phillord commented on #1940
I'll try and do a fix for this. And, yes, of course, you are correct, it would make sense for their to be some error handling further up the tree somewhere.

[2017-03-07 16:45] bbatsov commented on #1945
I've updated the connection messages. Maybe we should add this workaround to the global lein options in cider for the time being, as I doubt the nREPL patch would be merged any time soon.

[2017-03-07 22:09] bbatsov commented on #1942
I've extended the manual - it now includes instructions for manual installation and installation via el-get.

[2017-03-07 22:09] #1942 closed

[2017-03-08 05:37] bbatsov commented on #1945
@benedekfazekas do you know if we can pass this as a command line option to `lein` and `boot`?

[2017-03-08 07:46] bbatsov commented on #1941
Guess we'll have to look into this - as the REPL is started as an async independent process I'm not quite sure if this is possible or not. Likely something would be possible, but I'm not sure if it'd be straightforward or not.

[2017-03-08 08:49] benedekfazekas commented on #1945
should be possible, yes. with `lein` you can merge anything into the project map from the CLI and a quick look on boot repl options shows me:
[code]
this should do the trick for boot.

really busy but I might have time to give this a go over the weekend

[2017-03-08 09:07] bbatsov commented on #1945
I was just looking into this myself and found what I needed. In `lein` you can also do `lein repl :headless :host :port`.

I'll likely just add those to the default commands. Seems like an overkill to add defcustoms for them.

[2017-03-08 09:23] #1945 closed

[2017-03-08 14:45] #1947 closed

[2017-03-08 15:05] #1952 closed

[2017-03-08 15:07] bbatsov commented on #1113
I guess we can close this.

[2017-03-08 15:07] #1113 closed

[2017-03-08 17:48] arrdem commented on #1113
`¯\(°_o)/¯` sure

[2017-03-08 22:14] harold commented on #1726
After goofing around here for a bit another potential improvement would be:

[code]

over the existing

[code]

[2017-03-08 23:18] bbatsov commented on #1726
Yeah, that'd be pretty great and pretty easy as well.

[2017-03-08 23:26] xiongtx commented on #1953
Something like the following should work:

[code]

[2017-03-08 23:37] bbatsov commented on #1953
Yeah, that'd be a start.

Although, ideally this would be handled by a middleware and the data would be displayed as some table. We can even add functionality to quickly edit some metadata key from the table.

[2017-03-08 23:41] bbatsov commented on #1953
At any rate - I'm fine with accepting a simpler solution, as I definitely don't have the time to work on what I just outlined (although at least the tabular listing should be easy to do even with the current approach).